[2017-07-24 05:10] Djfe commented on #23
Maybe you could get a hold onto:
http://catalog.elra.info/product_info.php?products_id=1032
http://catalog.elra.info/product_info.php?products_id=1033

Both datasets have been used by [RASR](https://www-i6.informatik.rwth-aachen.de/rwth-asr/) in the past

And since elda has been already reaching out to you ;)
[Discourse thread](https://discourse.mozilla-community.org/t/about-the-common-voice-categ

[2017-07-24 07:10] tanmayameher commented on #273
Some people (i would say only guys, because i haven't heard any girl/woman doing such things yet) trying to really screw things up by saying everything right but putting some extra words or pronouncing a similar word etc. which otherwise changes the entire meaning of the sentence (esp. a sexual reference with double meaning ). So, whoever validating; please be watchful of those words and trolls to

[2017-07-24 07:23] Omniscimus commented on #344
Duplicate of #241 :smile:

[2017-07-24 07:38] kdavis-mozilla opened #345 "Open Graph and Twitter Card metadata isn't being parsed properly"
A bug forwarded from Ben Francis:  As the Open Graph and Twitter Card metadata isn't being parsed properly when one shares one does not get a nice card preview with an image when you post a link.

For fixing this bug you can validate the metadata and get previews of how it looks on Facebook[[1](https://developers.facebook.com/tools/debug/)] and Twitter[[2](https://cards-dev.twitter.com/validator)]

[2017-07-24 07:55] kdavis-mozilla commented on #327
@mikehenrty Clipping is definitely bad. However, as we're seeing it in the wild, solving the problem will also be hard, as we want the system to work in the wild, which means work with some clipping.

Ideally a system would learn how do understand clipped speech. However, as information is destroyed during clipping, this is in general impossible. But, if the audio is clipped only "a bit," it's und

[2017-07-24 08:17] 12people opened #346 "Recordings are cut off"
In listening, I've happened upon recordings that are great except cut off, ending too soon.
In recording, I've also noticed that some of my recordings were cut off.

[2017-07-24 08:26] rugk commented on #327
I thin a rule of thumb could be: "When you can write down the text exactly as given by only listening to the sentence, then click 'Yes', otherwise 'No'."
This automatically let's the user click on "Yes" for quite, but correct sentences and "No" for sentences where words etc. are missing.

[2017-07-24 08:27] rugk commented on #23
CC-BY-SA 4.0 https://scotthelme.co.uk/

[2017-07-24 08:42] Omniscimus commented on #327
But sometimes someone has such a heavy accent that I'm confused about what exactly the person was saying, even though they it was perfectly understandable by someone familiar with that accent. I'd need the sentence to verify it.

How about: "When you can confirm that the recording matches the sentence word-for-word, click 'Yes!'; otherwise click 'Nope.'"

Plus (a link to) some extra information (i

[2017-07-24 09:07] devurandom commented on #242
I validated quite a few samples, and I can tell you that I heard a few accents that I am 100% positive are German or others being somewhere from Africa with some hint of French. But I would have no clue whether they were more British or American or Australian (or anything else) and I somewhat doubt that an ML-system would be able to put them into any such category.

I know many people who try to i

[2017-07-24 09:25] iGEL commented on #289
I actually run Firefox 54 on Ubuntu 16.04 and have no audio problems. `ubuntu-restricted-extras` is not installed here, but `gstreamer1.0-plugins-bad` & `gstreamer1.0-plugins-ugly` are.

[2017-07-24 09:50] ftrotter commented on #23
Hi,
    I left this comment on your discussion board, but I thought it might be helpful here as well.

Hello. Thank you for an amazingly simple implementation of a wonderful idea. Rather than randomly including writing, you might consider using some already qualified public domain resources. There is a list of such resources here: https://en.wikipedia.org/wiki/Wikipedia:Public_domain_resources

Of

[2017-07-24 09:52] ftrotter commented on #319
As I posted on the other thread, the various public domain resources on women's health (i.e. Medline) are likely to use feminine pronouns more frequently.

HTH,
-FT

[2017-07-24 10:01] ftrotter commented on #341
Given that this is a specific bug... and is therefore addressable as a software item. I have elsewhere offered up already public domain resources as good sources for sentences:

https://en.wikipedia.org/wiki/Wikipedia:Public_domain_resources

As an open healthcare data person, I obviously would love the opportunity to inject your sentence data set with laymans healthcare terms. Assuming no one els

[2017-07-24 10:59] klainkaliber commented on #244
Voxforge is not restricted to English language - a collaboration would be beneficial for all the people with different mother tongue than English - like me!

[2017-07-24 11:44] rugk opened #347 "Use shtooka.net"
Maybe you can use http://shtooka.net/ as another source.

[2017-07-24 12:31] mikehenrty commented on #273
I agreee @tanmayameher that trolls are disappointing. But that's why we have nice people like you, to make sure their work doesn't get through. Thank you for your help!

[2017-07-24 12:43] mikehenrty commented on #344
Need to figure out why this is happening again.

[2017-07-24 12:55] ruyfel commented on #344
Same problem here, it is always the same person who sounds like a professional narrator.

[2017-07-24 12:57] ajaydee commented on #341
I'm back! Here's another hundred:

https://pastebin.com/1CU7GQYs

CC-0 or whatever license you need. There's a good few simple sentences.

[2017-07-24 13:51] akshit13 commented on #341
Hope this helps.
https://pastebin.com/BRsfLuNt

[2017-07-24 14:04] jf99 commented on #273
One thing is still not clear for me: I had a case where someone correctly read the sentence, but he pronounced the word "shepherd" as if it were written "sheferd". Is this a Yes or a Nope?

[2017-07-24 14:34] rugk commented on #103
:+1: but what is "Nubis"?

[2017-07-24 14:40] kdavis-mozilla commented on #103
@rugk It's the infrastructure we deploy this code on[[1](https://github.com/nubisproject)].

[2017-07-24 15:46] DavidButterfield commented on #273
I wonder if that is a common non-native error (due to it being usual that
"ph" is pronounced "f").

(Words containing the letter "h" are more likely to cause trouble like
this, because "h" usually modifies the pronunciation of the letter that
precedes it, e.g. ch, sh, ph, gh, th, wh; but not if the "h" starts a new
syllable, as in "shepherd", "uphill", "loophole", "haphazard".)

If it is not a com

[2017-07-24 18:28] gozer opened #348 "[fluentd] Parse logs as JSON"
Now that mozilla/voice-web#339 landed

[2017-07-24 18:29] #348 closed

[2017-07-24 18:30] mikehenrty commented on #341
Thanks @ftrotter, that is very helpful. Let's discuss that on [Discourse](https://discourse.mozilla-community.org/t/help-wanted-write-some-nice-short-sentences-for-people-to-read/17317), and see how many contibutions we can get from this threads.

[2017-07-24 19:00] mikehenrty commented on #341
Thanks @akshit13 and @ajaydee, I added your contributions.

[2017-07-24 19:31] mikehenrty commented on #346
Yikes, when did you notice _your_ recordings were cut off? On the `submit` page?

[2017-07-24 19:39] 12people commented on #346
Yes, on the submit page. It's probably that I'm clicking the stop button too soon without realizing it. Would be good to check if it's not being cut off a little by software, though, and perhaps to record quarter of a second longer after stop is clicked.

[2017-07-24 19:40] mikehenrty commented on #23
From @rugk

[2017-07-24 19:41] mikehenrty commented on #347
Duplicate of #23.

[2017-07-24 19:41] #347 closed

[2017-07-24 20:02] linediconsine opened #351 "Keep asking for validate the same sentence"
HI, I was validating some sentence and the site after a while start to show me the same sentences with the same voice. It is stuck in a loop

Thank you
![screen shot 2017-07-24 at 4 00 10 pm](https://user-images.githubusercontent.com/1525362/28542193-56bdabee-7089-11e7-8f08-0885be183fa3.png)

[2017-07-24 20:26] jf99 commented on #351
Duplicate of #344

[2017-07-24 20:33] Djfe commented on #344
@ruyfel exactly :D

[2017-07-24 20:44] rugk commented on #347
No, that does not provide texts, but actually finished sound/text (i.e. word) correlations. And it seems to use a free license.

[2017-07-24 22:48] angelawyman commented on #333
You know how they have hipster ipsum, this is kind of like that:
[](https://pastebin.com/A8yngLSr)

[2017-07-24 22:49] angelawyman commented on #333
You know how their is hipster ipsum, this is kinda like that:
[https://pastebin.com/A8yngLSr]

[2017-07-25 04:45] #351 closed

[2017-07-25 05:10] orschiro commented on #273
Isn't that very hard to judge given all the different accents, dialects and ways of pronouncing words?

[2017-07-25 06:49] orschiro commented on #341
There you go. :-)

https://gist.github.com/orschiro/bb64b1bf56e55dc8741e9c764c5560c0

[2017-07-25 07:00] ogrisel commented on #344
Same problem: this morning (CEST) the validating interface seems to randomly select among only 3 different sentences all from the same speaker.

[2017-07-25 11:07] michal-hradis commented on #341
This a randomized set of sentences from some of my older "computer vision" reviews. I waive all rights to the text. Use it anyway you like.
https://pastebin.com/DTezZ7rA

However, I would urge you to use some large diverse contemporary corpus.

[2017-07-25 11:18] mikehenrty commented on #327
Ok, sounds like we can handle this one in #273.

Duplicate of #273.

[2017-07-25 11:18] #327 closed

[2017-07-25 11:35] mikehenrty commented on #333
Great @angelawyman , yours are in too:

https://github.com/mozilla/voice-web/commit/dc506c1da91380b14c8fbc9057b6333dd7869a7b

[2017-07-25 11:54] mikehenrty commented on #341
Thanks @orschiro and @michal-hradis!

We are looking into that on the PR below. In the meantime, we are experimenting with gathering our corpus as we go.
https://github.com/mozilla/voice-web/pull/304

[2017-07-25 12:01] mikehenrty commented on #344
Alright everyone. I have some fixes in production that should make this bettter. Are you still seeing it?

[2017-07-25 13:48] ajaydee commented on #344
It seems to have improved.

[2017-07-25 15:12] jf99 commented on #344
It has certainly improved, but it's still far from perfect. The "professional narrator"* is still very present. Also, almost all of the sentences seem to come from that desert story. I can't remember these sentences showing up when recording my own voice. This story was probably the first set of sentences. Could it be that we can only verify sentences that have been recorded in the first days of t

[2017-07-25 15:57] MichaelNMaggs opened #352 "Use already-existing Librivox recordings"
(I've seen this mentioned elsewhere, but apparently there's no GitHub issue covering it).

In addition to asking people read public domain material for the first time, existing already-read material ought to be incorporated into the database.    All **Librivox.org** recordings are immediately available, as both the underlying text and the corresponding audio recordings are in the public domain.  T

[2017-07-25 15:59] MichaelNMaggs commented on #346
There are indeed quite a lot of these.  As the final word is incomplete, I am marking them all as "Nope"

[2017-07-25 16:36] MichaelNMaggs commented on #344
Still happening as at 1635 GMT, 25 August. Several times during the validation of about 50 sentences.

[2017-07-25 16:42] MichaelNMaggs opened #353 "Sentences skipping during voice recording"
During voice recording, sentences are intermittently shown which immediately disappear without any button being pressed. I haven't logged the exact frequency, but perhaps one in every 20 sentences or so.   Sentences which are skipped over in that way don't appear on the subsequent review screen.

[2017-07-25 17:09] jf99 commented on #353
I think this happens during high server load. When the user clicks the submit button, but nothing happens, he will click a second time. As a consequence, new sentences will be loaded twice (with a long delay in between).

[2017-07-25 17:28] mbebenita opened #354 "Collect Noise"
It would be useful to collect noise from a variety of sources in order to train algorithms to remove it. Using the Common Voice app seems like an interesting way to do this, it would probably require some changes to the copy on the website and may be tricky to shoehorn into the current app.

Perhaps we can include some sentences that say "Please don't read this sentence, just leave your microphone

[2017-07-25 17:28] mikehenrty commented on #173
Fixes by #342.
https://github.com/mozilla/voice-web/commit/67262a13434fc40cef98e73d31b8df5654ded9f1

[2017-07-25 17:28] #173 closed

[2017-07-25 18:07] kdavis-mozilla commented on #354
While useful for other things, this is not part of the Common Voice's goals. We should not dilute Common Voice's messaging and goals with other projects.

[2017-07-25 19:02] mikehenrty commented on #178
Fixed in #343

[2017-07-25 19:02] #178 closed

[2017-07-25 19:21] jf99 commented on #341
Here is another 300 sentences:
https://pastebin.com/Qf7Ykcbz

[2017-07-25 19:39] jdittrich commented on #354
@mbebenita: I agree with @kdavis-mozilla but I suppose it would be comparatively easy to create a *Common Noise* project based on the code in the repo.

[2017-07-25 19:40] jdittrich commented on #352
Maybe you saw it on #302 (Mine audio from Wikimedia Commons)

[2017-07-25 19:47] mbebenita commented on #354
@kdavis-mozilla I share your concern about not diluting the messaging, and we should probably wait before expanding Common Voice to other use cases, however, I don't understand why removing noise wouldn't be generally beneficial as part of a speech recognition system.

I'll close it for now, and we can revisit this at a later time.

[2017-07-25 19:47] #354 closed

[2017-07-25 20:11] kdavis-mozilla commented on #354
@mbebenita Removing noise happens automatically as part of the current Deep Speech system. We don't need do do anything extra if we have speech samples with background noise.

[2017-07-25 20:18] mbebenita commented on #354
I don't really have a strong intuition about this, but how is it that a specially tuned system for removing noise paired with a STT engine is not better than a more generic system for detecting speech that also trains on noise?

[2017-07-25 20:22] kdavis-mozilla commented on #354
When a system is tuned end-to-end all its pieces generally work better together.

For examples see the recent trends on TTS WaveNet, Deep Voice, Deep Voice 2, Tacotron or the papers on end-to-end STT system that train STT systems to handle multi-microphone inputs. The system learns to handle noise, echo, reverb, beamforming...

[2017-07-25 21:47] mikehenrty commented on #295
This was done a while back.

[2017-07-25 21:47] #295 closed

[2017-07-25 21:51] mikehenrty commented on #241
Let's close this bug as we are actively trying to gather new sentences in #341. We are increasing our sentences by the day.

[2017-07-25 21:51] #241 closed

[2017-07-25 21:53] mikehenrty commented on #4
Closing this as not immediately actionable. If and when we decide to use user testing, we ca file a new big.

[2017-07-25 21:53] #4 closed

[2017-07-25 21:54] mikehenrty commented on #112
This has been fixed. We at least now show an error message to try back later.

[2017-07-25 21:54] #112 closed

[2017-07-25 21:56] mikehenrty commented on #256
We now do this.

[2017-07-25 21:56] #256 closed

[2017-07-25 21:58] mikehenrty commented on #219
Whoops, I forgot this bug existed when I filed #262. Since there's more discussion there, let's close this one.

Duplicate of #262.

[2017-07-25 21:58] #219 closed

[2017-07-26 00:41] DeathCamel57 commented on #243
#358 should help everyone with this question.

[2017-07-26 05:09] orschiro opened #359 ""Sorry! We are processing our audio files, please try again shortly.""
Since yesterday, I am getting this error. Anyone else?

![image](https://user-images.githubusercontent.com/170947/28605324-4f46aeda-71d1-11e7-8a9b-71ff3d33d3f2.png)

[2017-07-26 06:58] tanmayameher commented on #273
i am not able to validate anything since yesterday. It's saying "Sorry! we are processing our audio files, try again shortly". Are you guys doing training as per schedule? or it is a problem in my browser or something???

[2017-07-26 07:07] MichaelNMaggs commented on #359
Intermittently, yes

[2017-07-26 07:11] orschiro commented on #273
@tanmayameher related: https://github.com/mozilla/voice-web/issues/359#issuecomment-317967768

[2017-07-26 07:14] Omniscimus commented on #359
Yes, I'm getting this as well. @mikehenrty could this have been caused by 717dd525d18d35056fdee5a60c6cc8e2e5c742aa?

[2017-07-26 10:27] est31 commented on #320
Hi! F-droid developer here (and fan of the open voice project :)).

Sadly this app builds on gulp and such apps are not supported by f-droid (yet). See this issue: https://gitlab.com/fdroid/fdroidserver/issues/60

[2017-07-26 14:09] jf99 opened #360 "No text to read when recording"
When recording my own voice, I sometimes get no text to read.
![empty1](https://user-images.githubusercontent.com/7962377/28625473-ac7c05c8-721c-11e7-8d4c-9b3000dcfa24.png)
![empty2](https://user-images.githubusercontent.com/7962377/28625474-ac9ca35a-721c-11e7-9093-7562300e9dca.png)

[2017-07-26 15:39] tiffanystallings opened #362 "Additional instructional prompts needed in Speak"
Just a small suggestion. "Press again to stop recording" and the ability to playback the recording immediately and re-record if necessary before hitting a "Next" button could be nice.

It's obviously possible to figure it out without additional prompts, but I'd like to think I'm not the only one who was unsure what was happening or if I was doing it right until I had recorded all three sentences.

[2017-07-26 16:09] hmitsch commented on #335
@mikehenrty if you need help with the DNT-wrapper for Common Voice, the @mozilla/participation-systems team can help. We implemented it on all ParSys sites.

[2017-07-26 16:39] ogrisel commented on #344
I now get the following instead:

![image](https://user-images.githubusercontent.com/89061/28632716-c04157c4-7231-11e7-933d-44473e7b533d.png)

[2017-07-26 16:41] Omniscimus commented on #344
@ogrisel see #359

[2017-07-26 16:44] ogrisel commented on #344
@Omniscimus indeed. When I reload the page. I either get the "Sorry!" message or a new sample that I had never heard in the past. The problem reported originally on this issue seems to be fixed for me.

[2017-07-26 20:38] jdittrich commented on #362
related: #313

[2017-07-26 20:40] jdittrich commented on #360
Does this always happen for *all* of the text you get? Or are there also sets where you get e.g. 2 with text and 1 without?

[2017-07-26 20:58] jf99 commented on #360
No, it's not always. After hitting submit in the second picture, chances are good to get new text.

[2017-07-26 21:00] jf99 commented on #344
I just verified over 400 recordings and had not a single repetition. So yeah, this seems to be fixed.

[2017-07-26 22:10] #163 closed

[2017-07-26 22:26] mikehenrty commented on #335
@hmitsch we don't do any server side rendering, so we would have to do the DNT detection in javascript. is that how your team did it too?

[2017-07-26 22:30] #335 closed

[2017-07-26 22:31] mikehenrty commented on #335
Nm, it turned out to be pretty easy :)

[2017-07-26 22:32] hmitsch commented on #335
Yes. :-)

On Thu 27. Jul 2017 at 00:31, Michael Henretty <notifications@github.com>
wrote:

--
Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-07-26 22:39] augustnmonteiro commented on #360
I've got this error a couple of times too, It happens when the random.json endpoint take too much to answer

[2017-07-26 22:40] mikehenrty commented on #341
@jf99, some good ones in there.

We're working on it! :D

[2017-07-26 23:57] mikehenrty commented on #344
Wow, you are a star @jf99 !!!!

As you all may have noticed. We have been having some site stability issues over the last day or two. I think we are finally working through those, and so problems like this *hopefully* are going away. Thanks for your patience!

[2017-07-26 23:57] #344 closed

[2017-07-27 00:00] mikehenrty commented on #243
Duplicate of #273.

[2017-07-27 00:00] #243 closed

[2017-07-27 00:01] mikehenrty commented on #273
Sorry all, the site has been having some stability issues the last couple of days. Things should be getting noticeably better.

[2017-07-27 00:10] mikehenrty commented on #362
Yeah, let's see if I can address you concerns with #313. If not, we can re-open this.

Duplicate of #313.

[2017-07-27 00:10] #362 closed

[2017-07-27 00:11] mikehenrty commented on #362
Oh, and thank you for the report, @tiffanystallings !!

[2017-07-27 00:21] psullivan6 commented on #341
Some more for ya:
https://pastebin.com/tCWPrxZJ

[2017-07-27 00:34] #212 closed

[2017-07-27 00:40] mikehenrty commented on #360
I just did a major update to the recording flow in https://github.com/mozilla/voice-web/commit/c84ce400f03030a463bdc813dd3cd11516bad3b2, and we have done some work on site stability. Let's call this as fixed for now, but re-open if we are still seeing it.

[2017-07-27 00:49] mikehenrty commented on #359
This was caused by our servers running out of memory, rebooting, and then taking a while to load audio clips for you to listen to. We have added some memory, and deployed some stability fixes so I hope this should be fixed now. We can re-open if this comes back.

[2017-07-27 00:49] #359 closed

[2017-07-27 00:53] mikehenrty commented on #195
I think this is browser quirk, and not much we can do from the app side.

[2017-07-27 00:53] #195 closed

[2017-07-27 00:55] mikehenrty commented on #353
@MichaelNMaggs , I pushed an update to the upload page which changes how these sentences are loaded. Are you still seeing this issue?

https://github.com/mozilla/voice-web/commit/c84ce400f03030a463bdc813dd3cd11516bad3b2

[2017-07-27 00:59] mikehenrty commented on #309
We no longer use node-static, so probably don't see this error in prod anymore.

[2017-07-27 00:59] #309 closed

[2017-07-27 02:56] Fionaussie opened #368 "Mixed Accents"
No clue if this is the appropriate forum for this feedback.

Humans migrate. If they do this as adults, they may take on the accent of their new country but never completely lose the accent of their mother tongue. The end result is a bit of this accent, and a bit of that accent. For example, because I was raised in Australia, English speakers in the US think I have an Australian accent. Yet when I

[2017-07-27 04:08] orschiro commented on #267
Love the new visual response to submitting your sentences!

![peek 2017-07-27 06-07](https://user-images.githubusercontent.com/170947/28654107-02ab08ac-7292-11e7-9045-13b4c699d04d.gif)

[2017-07-27 07:33] andrenatal opened #369 "Nightly - Doesn't seem to like tracking protection mode"
(Issue filed on Dees' behalf) Nightly - Doesn't seem to like tracking protection mode - however doesn't work even with it disabled on Nightly. Also seems to false red on Microphone access even though it has been allowed?

https://www.dropbox.com/s/g6onn5rvoknp274/Screenshot%202017-07-21%2011.37.39.png?dl=0

[2017-07-27 08:14] andrenatal opened #370 "Safari - Doesn't seem to work and prompts to use another browser?"
(Issue filed on Dees' behalf)
https://www.dropbox.com/s/44levf8z39xczdu/Screenshot%202017-07-21%2011.35.26.png?dl=0

[2017-07-27 09:21] jf99 commented on #360
Not exactly the same, but similar: Two of the sentences showed up, one did not.

![single empty sentence](https://user-images.githubusercontent.com/7962377/28663428-9d4e74a4-72bd-11e7-8976-2adc22c82666.png)

[2017-07-27 09:21] ajaydee commented on #368
IMHO, you would be US English. I don't think it would matter too much either way.

[2017-07-27 09:56] kdavis-mozilla commented on #368
@Fionaussie I'd second the take @ajaydee had on this. I think as you're some mixture, whichever choice you make is fine.

[2017-07-27 09:58] mikehenrty commented on #360
Oh, that looks pretty bad. Are you seeing this regularly? Did you do anything differently? @jf99

[2017-07-27 10:01] mikehenrty commented on #370
Safari, as of yet, doesn't support getUserMedia(), so we are not supporting Safari yet. They do plan on implementing it soon, and when they did it should start to work automatically.

[2017-07-27 10:01] #370 closed

[2017-07-27 10:03] mikehenrty commented on #368
See also #242 .

[2017-07-27 10:03] #368 closed

[2017-07-27 10:13] jf99 commented on #360
I saw it the first time, have done about 300 recordings since then, and it didn't show up again. Maybe there is an empty line somewhere in the text files containing the sentences?

[2017-07-27 11:48] mikehenrty commented on #360
Could be, let's keep an eye on this one.

[2017-07-27 13:38] gozer opened #371 "[static] Move all static content under a single url prefix"
Something like /s/ or /static/ or /assets/ for instance

That way, managing it outside of node itself becomes a lot easier

[2017-07-27 13:38] gozer opened #372 "[static] Let Apache handle some static assets"
Like:
 - /css
 - /img
 - /fonts

[2017-07-27 13:41] #372 closed

[2017-07-27 13:53] mikehenrty commented on #371
Can we just use the `web` folder @gozer ? There is nothing in there that I would mind serving publicly, and all of our static assets (including the ones that are built with gulp) reside there.

[2017-07-27 13:56] gozer commented on #371
Yes, I know it's the web/ folder on disk, however, from the URLs, it's not as easy to determine.

For instance what's static: /css/foo.css or /clip/random.json ?

For now, see in #372, I am making a list of assets to consider static, but that will miss some in the future, most likely, once you add some other static folder.

[2017-07-27 13:56] mikehenrty commented on #371
AFAICT, only `web/tsconfig.json` and the `src` files are the only files in `web` that is not part of the app. But I don't see it a problem if we serve these along with everything else. What do you think?

[2017-07-27 13:57] mikehenrty commented on #371
Ah gotcha, yeah, we can definitely change the folder structure to help distinguish.

[2017-07-27 14:01] gozer commented on #371
For instance, I am just looking at things requested for /dist/ and having a hard time mapping that back to where it's from...

[2017-07-27 14:03] mikehenrty commented on #371
I just added a PR to serve `dist` rather than `css` for a bandaid. Later I will create a `public` folder inside of web I think. For now, I think this should do us good:

https://github.com/mozilla/voice-web/pull/374

[2017-07-27 14:48] gozer opened #375 "[static] Add cache headers and some default expiries"

[2017-07-27 15:12] #375 closed

[2017-07-27 15:18] gozer opened #377 "[static] Deflate missed mime-types"
- text/javascript
 - application/x-font-ttf

Are not being deflated ATM

[2017-07-27 15:44] #377 closed

[2017-07-27 16:41] kylepolich commented on #360
I tried the site for the firs time two.  I was given two sentences and after that a blank one.  I don't know how to get past it.

[2017-07-27 19:24] 0b10011 commented on #289
Installing `gstreamer1.0-plugins-bad` with `sudo apt install gstreamer1.0-plugins-bad` adds support for `audio/mpeg`.

However, I would argue that it would be better to use a format (even if only as an alternative) that works on Ubuntu+Firefox by default.

[2017-07-27 19:24] augustnmonteiro commented on #233
I'm working on this one but I'm having a problem, the dialog only shows once so when someone cancels and the page isn't refreshed we cannot show the dialog again, thinking about UX I don't know if it's better doesn't refresh and when try again show the dialog and press retry

[2017-07-27 21:46] a3nm commented on #242
Thanks for fixing this! :)

--
Antoine Amarilli
Sent from a mobile device, please excuse brevity and top-posting.

On July 27, 2017 11:45:05 PM GMT+02:00, Michael Henretty <notifications@github.com> wrote:

[2017-07-27 21:46] mikehenrty commented on #225
We've cleared out all the long sentences from being able to be spoken, so let's call this fixed.

[2017-07-27 21:46] #225 closed

[2017-07-27 22:11] mikehenrty commented on #20
We have Rainer working on this, but I don't think it helps to track this on github anymore.

[2017-07-27 22:11] #20 closed

[2017-07-27 22:13] mikehenrty commented on #62
Let's close this as too vague for now. If we add achievements in the future we'll do it in new bugs.

[2017-07-27 22:13] #62 closed

[2017-07-27 22:13] mikehenrty commented on #115
@gozer do we still need this bug?

[2017-07-27 22:13] #115 closed

[2017-07-27 22:22] mikehenrty commented on #147
I just checked on Windows 10, Firefox 54, and this looks fixed.

[2017-07-27 22:22] #147 closed

[2017-07-27 22:29] #153 closed

[2017-07-27 22:30] mikehenrty commented on #154
I'm pretty sure this was done on purpose by the designers, and I don't mind it. Closing as WONTFIX.

[2017-07-27 22:30] #154 closed

[2017-07-27 22:31] mikehenrty commented on #155
This looks fine for now.

[2017-07-27 22:31] #155 closed

[2017-07-27 22:39] mikehenrty commented on #162
using a dashed line here makes this a lot better

[2017-07-27 22:39] #162 closed

[2017-07-27 22:41] mikehenrty commented on #164
The circle should be vertically centered in between the box above, and the instructions below.

[2017-07-27 22:44] mikehenrty commented on #170
Any pixel people can help out? I think we just need to lighten the color of the hard slightly on this file:
https://github.com/mozilla/voice-web/blob/7d6bb745801d31cb1ae5673caf3c7928cf44c4fc/web/img/speech-bubble.png

We could also try making the background transparent?

[2017-07-27 22:48] mikehenrty commented on #176
This was part of the design that we chose. Closing as invalid.

[2017-07-27 22:48] #176 closed

[2017-07-27 22:50] mikehenrty commented on #180
Updated the detail to be about the email->checkbox transition.

[2017-07-27 22:53] mikehenrty commented on #205
Let's close this bug for now. We already say thank you on the submit page. And we will soon add a whole new first time experience to address this bug, but we will open new bugs for that.

[2017-07-27 22:53] #205 closed

[2017-07-27 22:56] mikehenrty commented on #210
This was fixed when we switched to playing directly from s3 rather than streaming from our app.

[2017-07-27 22:56] #210 closed

[2017-07-27 22:56] mikehenrty commented on #229
Let's close this until we try to re-enable the talker.

[2017-07-27 22:56] #229 closed

[2017-07-27 22:57] mikehenrty commented on #230
Again, we removed the talker so this bug is invalid.

[2017-07-27 22:57] #230 closed

[2017-07-27 22:59] mikehenrty commented on #233
@augustnmonteiro Why can't we not show the dialog again? Can we remember that the user denied the microphone, and go straight to the dialog if they click record again? Does that add too much complexity?

[2017-07-27 23:01] mikehenrty commented on #234
Can we make them look more similar to each other?

[2017-07-27 23:02] mikehenrty commented on #235
I haven't seen this one in a while, I think it's fixed. Let's re-open if we see it again.

[2017-07-27 23:02] #235 closed

[2017-07-27 23:04] mikehenrty commented on #267
Whoops, meant to close this one when I submitted the above change.

https://github.com/mozilla/voice-web/commit/c84ce400f03030a463bdc813dd3cd11516bad3b2

[2017-07-27 23:04] #267 closed

[2017-07-27 23:06] mikehenrty commented on #277
Closing this bug since there is not too much actionable here.

[2017-07-27 23:06] #277 closed

[2017-07-27 23:10] mikehenrty commented on #285
Ok, let's turn the pause button into a stop button, and make it restart the recording.

https://github.com/mozilla/voice-web/blob/7d6bb745801d31cb1ae5673caf3c7928cf44c4fc/web/src/lib/components/listen-box.tsx#L68

[2017-07-27 23:13] mikehenrty commented on #296
What we did was add a "Non-Native" option to our drop down list in #242. Talking to our speech team, this is the best way forward here. Thanks for the report!

Duplicate of #242.

[2017-07-27 23:13] #296 closed

[2017-07-27 23:14] mikehenrty commented on #298
Note: #245 would depend on this.

[2017-07-27 23:17] mikehenrty commented on #311
We have some code that tries to scroll back to the top when navigating. I think we just need to make sure we do this when hitting the Donate button:

https://github.com/mozilla/voice-web/blob/c84ce400f03030a463bdc813dd3cd11516bad3b2/web/src/lib/components/pages.tsx#L264

[2017-07-27 23:20] mikehenrty commented on #322
At this point, we don't even have an STT engine in Common Voice, and we're not planning to add one (yet). If we ever do (or we start using the webspeech api), we'll re-examine this. For now, closing as WONTFIX.

[2017-07-27 23:20] #322 closed

[2017-07-27 23:24] mikehenrty commented on #337
Good idea!  @jdittrich, any ideas where this checkbox could go?

[2017-07-28 04:26] Sposito commented on #341
Some help:
https://gist.github.com/Sposito/cb6bd11de5567c92329fbb2c5b70f612

[2017-07-28 08:10] 5k9m commented on #311
Well, this seems to be a known issue with Preact: [https://github.com/developit/preact-www/issues/22](https://github.com/developit/preact-www/issues/22)

I'll look into this in the evening and report back if I'm able to find something.

[2017-07-28 10:21] rugk commented on #242
However, still only a box "Other accents"… https://github.com/mozilla/voice-web/commit/99e7d7b4c21d5a0890823f97067559798536ebf8#commitcomment-23351511

[2017-07-28 10:47] jdittrich commented on #337
I wonder if we should not implement keyboard shortcuts for that instead – see "Flexibility and efficiency of use" in [Nielsens Heuristics](https://www.nngroup.com/articles/ten-usability-heuristics/) and have shortcuts for "yes", "no" and "(re)play".

[2017-07-28 10:51] mikehenrty commented on #360
@jf99 yup, you were right. when we were putting our txt files together, we were adding empty lines between each of the files. fix coming up shortly.

[2017-07-28 10:55] #360 closed

[2017-07-28 10:55] mikehenrty commented on #341
Thanks @psullivan6 and @Sposito!

[2017-07-28 10:59] mikehenrty commented on #337
Oooh, I like that idea @jdittrich ! Can we open a separate bug for that?

For this one, if we have the shortcuts maybe is doesn't make sense for a checkbox? Or does it?

Another thing we can do is detect if they have listened to 2 or 3 in a row, and then start autoplaying automatically.

Thoughts?

[2017-07-28 11:11] Omniscimus commented on #337
Might come a little unexpected if only after the 3rd time. Could be good to start autoplaying just after the first time. (not immediately because that's weird when the page first loads.) We could enable autoplay the moment a user first clicks Yes or Nope?

I think shortcuts are a great idea but even if we have shortcuts it will still be useful to have autoplay imo. Without autoplay you still have

[2017-07-28 12:33] rugk commented on #371
If you do so, you can e.g. use static compression or other things more easily.

[2017-07-28 12:34] rugk commented on #23
However, http://shtooka.net/ already contains the voice examples, so it does not really belong to this issue…

[2017-07-28 13:00] jdittrich commented on #337
It might work, but doing things *automatically* the right way, is usually about 5-10 times more work in testing. So if no one has a significant amount of time for creating it and testing with users I would not recommend it.

That’s also why I would keep the current (non-autoplay) behaviour and first get the keyboard shortcuts into place. Once we have that I would suggest to look into autoplay agai

[2017-07-28 13:44] jdittrich opened #379 "Have keyboard shortcuts for player interaction"
**Need:** I want to be as efficient as possible when evaluating many sound samples.

**Possible Solution:** Create keyboard shortcuts.

## Spec
Have shortcuts for:
* Give the sample a "yes": Y
* Give the sample a "no": X
* Play/Pause: SPACE

**Extension:** If you press SPACE and the sample has not loaded yet, "remember" it and start playing right away.

**Extension:** Jump back and forward with AR

[2017-07-28 14:12] rugk commented on #337
Why not do what @Omniscimus suggested? IMHO that behavior would be fine and intuitive. :smiley:

[2017-07-28 14:33] jdittrich commented on #337
@rugk As written above, because "automatic" behaviour in UI design are often brittle. If we would have…

* an established UI that works the way as suggested,
* we know it works well, and
* people who use *voice.* know it,

…then I think it is fine to implement (because ["Intuitive equals familiar"](http://www.asktog.com/papers/raskinintuit.html)). If we don’t, I would avoid it as long as no one do

[2017-07-28 15:36] rugk commented on #337
The problem with keyboard shortcuts is, that they don't satisfy the third point. People don't know it.

And:

[2017-07-28 18:55] augustnmonteiro commented on #233
@mikehenrty After the browser shows the Allow/Deny dialog and someone denies it the browser doesn't show the dialog again

[2017-07-28 19:28] MichaelNMaggs commented on #353
I no longer see the problem. Thanks.

[2017-07-28 19:28] #353 closed

[2017-07-28 19:43] jdittrich commented on #379
![grafik](https://user-images.githubusercontent.com/3416487/28733566-0944ef38-73dd-11e7-98e7-954ca07a2150.png)

We could also have a pop-up appear on click and/or hover:

![grafik](https://user-images.githubusercontent.com/3416487/28733717-bd696746-73dd-11e7-8c21-83ba1c298cd4.png)

[2017-07-28 21:56] edunham commented on #296
OK... That doesn't really solve my problem, since I'm a native English speaker with a split accent. Which do you recommend I enter myself as?

[2017-07-28 22:59] jrmuizel opened #380 "Expose progress of data collection some how"
For example: https://location.services.mozilla.com/stats

It can be motivating for users to see how much data has been collected.

[2017-07-29 02:36] kenrick95 commented on #141
I think it is because MediaRecorder API not being supported yet in Edge, though it is "under consideration": http://caniuse.com/#search=MediaRecorder

[2017-07-29 04:02] kenrick95 commented on #142
I think this is due to "Promise" not being available in any of the IEs.

![capture-promise](https://user-images.githubusercontent.com/3090380/28741985-c268bf12-7455-11e7-914d-56ad5667c260.PNG)

[2017-07-29 06:41] Omniscimus commented on #380
This was planned in #262 :smile:

[2017-07-29 08:04] saddy001 commented on #337
I think a simple "Autoplay"-checkbox might catch the "drive-by people" on the site in the first place. Later keyboard shortcuts could be added.

[2017-07-29 11:57] ajaydee opened #382 "When validating clips, allow user to click "Nope" early if the recording is long and incorrect."
There's two really long useless recordings. It's weird that there's no limit to audio recording length.

The first one was "That it was unable to deal with this boy who spoke the language of the world". It sounds like they switched tabs and started reviewing voice samples.

The other was "That was until the site was blocked" which sounds like kitchen sounds.

I think the solution to this is to hav

[2017-07-29 15:50] fastrizwaan commented on #341
why not take text from wikipedia? https://en.wikipedia.org/wiki/Wikipedia:Reusing_Wikipedia_content#Text_content

[2017-07-29 18:08] mikehenrty commented on #341
In my experience, it is really hard to find interesting, readable sentences from Wikipedia. The language there tends to be quite formal and sometimes awkward to speak. I built some tools to chop up text [here](https://github.com/mikehenrty/screenplay2sentences/), but never got around to adding wikipedia sentences to this project. That said, I'm always open to accepting contributions. 👍

The other

[2017-07-29 18:15] mikehenrty commented on #382
Ahhh, what an annoying bug!

Here's some solutions:
* `Nope` being enabled faster (as you suggested)
* A skip button, which could solve some other UX issues at the same time
* Automatically detect recordings that are too long by estimating syllable count

Of the three, I think I like your idea best. What do you think?

[2017-07-29 18:47] Omniscimus opened #384 "Sense checks on recordings"
The app would benefit from some sense checks on recordings. If possible, both server-side (so contributors who validate recordings can focus more on non-garbage recordings) and client-side (so contributors who record can fix their recordings if they accidentally recorded something invalid). If we're not afraid of trolls, we could start with client-side and make it impossible to submit invalid reco

[2017-07-29 19:09] Kusaha commented on #382
I like the `nope` idea the best out of this 3 options, but I would suggest to use a hard time limit on recordings, so there would be less stress on the servers as well.
Or the two combined? `Nope` available at 10(?) seconds and the hard time limit for recordings would be 20(?) seconds.

[2017-07-29 20:38] Kusaha commented on #170
There you go, hope this will work. Didn't make the transparent background version because I think that would look good at all. (and it's a speech bubble, it supposed to be white)
![speech-bubble](https://user-images.githubusercontent.com/7066695/28748081-5411e60c-74ae-11e7-84b8-e36646c1832b.png)

[2017-07-29 20:56] orschiro commented on #341
Can you give an example you particularly like? :-)

[2017-07-30 00:00] mikehenrty commented on #341
https://twitter.com/mikehenrty/status/890350612923207680 :-D

[2017-07-30 06:30] orschiro commented on #341
Nice one! :-)

[2017-07-30 06:39] orschiro opened #386 "Click "Donate voice" doesn't open page with scroll position at the top"
Not a major issue but slightly annoying that I always have to scroll up again just to see the contents of that screen.

![peek 2017-07-30 08-37](https://user-images.githubusercontent.com/170947/28751235-a2f1ca36-7502-11e7-8590-17e4044626b2.gif)

[2017-07-30 06:43] orschiro opened #387 "Submit gets stuck"
Happens to me after submitting several times during the same session:

![image](https://user-images.githubusercontent.com/170947/28751253-1bc172a4-7503-11e7-80f7-127b75f0b784.png)

[2017-07-30 06:44] orschiro commented on #387
Never mind. It just took 20 seconds to finish submission...Don't know why. Had an active internet connection.

[2017-07-30 06:44] #387 closed

[2017-07-30 07:02] Omniscimus commented on #386
Duplicate of #311

[2017-07-30 07:02] orschiro commented on #386
Ups, sorry!

[2017-07-30 07:02] #386 closed

[2017-07-30 19:46] varunarora commented on #277
Oh I was excited about the latter bit of your response - which is examining changing the language there to make it clear what technology is locked up. Super actionable! And yes, you are right, this initiative is all about the data, the term "technology" isn't even the best choice of word here. Could this please be considered?

Negative rhetoric isn't the only way to get volunteers excited, Mike :)

[2017-07-30 21:24] Omniscimus commented on #277
@varunarora, I proposed some language changes in #388, what do you think of it?

[2017-07-31 08:24] jf99 commented on #341
Woohoo, I'm famous on twitter! :D

Yeah, I also find this funny. Although, from validating sentences I have the impression that most people don't get the joke when they're reading sentences like `My review of the sun: one star`.

Anyway, here is another batch of 400 lines for you to add. Some are just for fun, but for the majority I tried to include words that are not yet covered by the other sent

[2017-07-31 11:49] ajaydee commented on #382
I prefer the original solution, but the other two sound interesting too.

[2017-07-31 14:00] jf99 opened #390 "When are changes applied to the website?"
This is more of a question than a bug report. I noticed there are some commits like this one https://github.com/mozilla/voice-web/commit/99e7d7b4c21d5a0890823f97067559798536ebf8 that change the content of the website. However, the commit linked above is already 4 days old and the FAQ hasn't changed yet.

Is there any sort of schedule when the servers get updated to the new code base?

[2017-07-31 17:48] Djfe commented on #23
yeah but you can integrate the text with the correlating  voice samples and collect even further voice samples with this service for the same text, that's why it belongs to this particular issue/topic

Mozilla will probably integrate our ideas from this issues from time to time, so it's helpful to have all suggestions in one place

[2017-07-31 18:55] Vinnl opened #391 "Indicate whether non-native English accents are welcome"
The voice.mozilla.org website doesn't really mention if non-native English accents are welcome or not, but when I go to the profile page, I cannot indicate that I have a Dutch accent. So either it should be clarified that that's not welcome, or perhaps an option "non-native" should be added :)

[2017-07-31 19:23] Omniscimus commented on #391
A non-native option has already been added (99e7d7b4c21d5a0890823f97067559798536ebf8), but apparently the production website is slightly behind. It will probably be there soon!

[2017-07-31 19:26] Vinnl commented on #391
Well that was fast, thanks!

[2017-07-31 21:10] Omniscimus commented on #384
I'm currently working on this 👷 🚧

[2017-07-31 23:21] xKeiro opened #392 "Synchronize your stats across multiple devices (Firefox account integration?)"
I would like to see merged stats on my devices, especially since I know you are planning on introducing achievements and goals in the future.

So what I'm suggesting is, it would be nice if you would implement an **optional** account sync (login) feature.
In my books the ideal solution would be to use Firefox account to sync, but really anything would work (password, google, GitHub etc.)

_Extra f

[2017-08-01 03:06] varunarora commented on #277
@Omniscimus I think that you language is wonderful! More accurate and respectful, yet gets the point about "lack of access" across. Thank you very much :+1:

[2017-08-01 10:36] mikehenrty commented on #233
Ah, the microphone permission dialog, I thought you meant the cancel/retry dialog.

If the user clicks the record button again, can we detect that the user denied permission before, and then show the cancel/retry dialog again?

[2017-08-01 10:39] mikehenrty commented on #141
Hi @kenrick95, it's nice to see you here!

Good find! I think the best thing to do here is to simply display the "browser is not supported" message (rather than trying to do any sort of encoding ourselves).

[2017-08-01 10:47] #141 closed

[2017-08-01 10:50] mikehenrty commented on #142
Thank you for investigating this @kenrick95 .

Looking at our numbers, less than 1% use internet explorer, so I don't think this is a priority.

That said, it should be fairly easy to add a Promise polyfill to the /vendor folder to clear things up. This would at least allow IE users to see the "Browser not supported" message.

[2017-08-01 11:05] mikehenrty commented on #382
My thinking is that you should ignore laughs/sneezes/etc (so long as they didn't say anything). @kdavis-mozilla ?

[2017-08-01 11:07] mikehenrty commented on #390
Hi @jf99, yeah we haven't pushed for a little bit. My goal is to try and push ever other day or so. But I have been on vacation and wasn't around to debug if anything went wrong. Changes will be up soon!

[2017-08-01 11:07] #390 closed

[2017-08-01 12:25] mikehenrty commented on #392
I like these ideas! We are planning to add a `login` of sorts to the site soon, but there are legal issues around privacy we need to work through first. Stay tuned!

[2017-08-01 12:38] jf99 commented on #392
But don't make a login mandatory.

[2017-08-01 12:50] kdavis-mozilla commented on #382
Good question. In larger academic speech corpora the various non-speech acts (coughs, sneezes, breaths..) are transcribed into the text

_Hello <``cough``> how are you?_

and a speech-to-text system is trained to recognize and ignore the non-speech acts. However, we don't have the ability to transcribe the non-speech acts into our text.

So the questions are:

_Is it better to leave the non-speech

[2017-08-01 12:56] est31 commented on #341
Some help from me: https://gist.github.com/est31/b97b8cad99e5a6ae36d4712e81b5490f

[2017-08-01 12:59] mikehenrty commented on #392
Never!

[2017-08-01 16:52] fastrizwaan commented on #341
Here's a simple python program to generate random noun+adjective sentences https://github.com/fastrizwaan/sentence

`#(C) GPL v3 Asif Ali Rizvan fast.rizwaan@gmail.com
#sentence generator
#!/bin/python3

import random

def word(pos):
	size=len(pos)
	rword=random.randrange(0,size)
	return pos[rword]

#Part of Speech (pos)
noun=['earth','water','fire','air','land','sea','music','flower','tree','dune

[2017-08-01 17:44] kdavis-mozilla commented on #341
@fastrizwaan Thanks for the contribution.

While you code looks to be able to generate an almost infinite set of grammatical sentences, some of the sentences will be nonsensical

The most famous example of such a sentence is from Noam Chomsky

Which is grammatical, but makes no sense.

The problem with such grammatical but nonsensical sentences is that if a speech recognition engine is trained on

[2017-08-01 17:55] augustnmonteiro opened #394 "Do a "trim" on the audio"
Sometimes when you are validating audios, there are a lot of them with at least 1.5s without voice

[2017-08-01 20:37] mikehenrty commented on #242
Sorry all, had to re-open this issue as it didn't address the speech team's concerns as I initially thought. We still have the faq change, but as for the drop-down, we'll need to re-examine it.

[2017-08-01 23:44] Riamse commented on #341
@mikehenrty

Wikipedia is also home to gigabytes upon gigabytes of discussions about article development, internal politics, and much more. Much of it will be too wiki-meta to apply to the general population, but I think leveraging the extensive history of the [Reference Desk](https://en.wikipedia.org/wiki/Wikipedia:Reference_desk/Archives), an off-topic Q/A forum, would be a very effective way of

[2017-08-02 00:15] Riamse opened #395 ""United States English" accent is too broad"
I'm surprised that anglophone European accents are broken down into Scottish, Welsh, Irish, and British (I assume this is Received Pronounciation?) while the numerous accents of the United States are simply grouped together as the United States. Midwest and California accents being omitted, I can understand, but there's certainly nobody who could not tell that the "Southern Accent" and African Ame

[2017-08-02 05:23] kdavis-mozilla commented on #395
@Riamse Thanks for you comment.

However, I've a question related to your comment. The question is:

_Too broad for what?_

It's seems you have some unspoken application, or something else, in mind for which this accent is too broad. But you don't mention this "application".

Could you flesh out this context a bit more? The context in which this accent is "too broad".

[2017-08-02 11:25] Kusaha opened #396 "Move Discourse link to the blue bottom bar"
I've seen quite a lot of people asking questions here on GitHub (including myself) because the Discourse forum is really underused and if I understand it right that should be the place where we ask questions, share what we learned about the project and just discuss things and GitHub the place where we ask for new features/report bugs and things like that.

**The problem:**
I think under usage come

[2017-08-02 13:00] rupshabagchi commented on #341
Here's some more for you:
https://pastebin.com/tDzX2uKw

[2017-08-02 14:06] Omniscimus opened #397 "Errors in Firefox browser console when recording"
### Browsers
- Firefox 54.0.1 (64-bit)
- Firefox 55.0b13 (64-bit)

Does NOT occur in Chrome 59.0.3071.115 (Official Build) (64-bit)

### Operating systems
- macOS 10.12.6

### Description

While recording in Firefox, some errors pop up in the console. Everything on the pages seems to be working fine. In the Network tab of the developer tools, it looks like the recordings do get uploaded.

When nav

[2017-08-02 16:31] tobozo opened #398 "Add support for foreign languages (e.g. Klingon or R'lyehian)"
The "Your English Accent" field in the profile settings only allows selection of English accents, but there is no such slot for *Klingon English*, *R'lyehian English* or even *French English* (although the is a *Canadian English* choice).

How can I donate my voice if my accent isn't listed, should I select then vocally try to emulate one of the listed accents ?

[2017-08-02 22:05] mikehenrty commented on #341
Thanks @jf99 (again!), @est31 and @rupshabagchi! Your sentences are added!

[2017-08-02 22:08] mikehenrty commented on #341
Good call out @Riamse. I took a look and there does seem to be quite a bit of data, but extracting usable sentences will take some work. PRs are definitely welcome, but in the meantime I'm going to continue collecting sentences from people's personal writings if I can. We're really getting great stuff!

[2017-08-03 07:25] azymohliad opened #399 "Normalize voice samples volume"
Sometimes voice samples differ in volume really significantly, which is very irritating. I'd propose to normalize their volume level before putting them for validation. I guess they are anyway normalized before further processing. This will make validating process more simple and pleasant.

[2017-08-03 07:38] azymohliad commented on #399
Oh, sorry, I didn't see that [similar issue](https://github.com/mozilla/voice-web/issues/336) already exist. Closing this one as a duplicate.

[2017-08-03 07:38] #399 closed

[2017-08-03 07:43] azymohliad commented on #336
+1, I guess these audio samples are anyway normalized before further processing, so maybe it's a good idea to normalize them before validating. Stable audio volume will make validating process more pleasant.

[2017-08-03 10:07] mikehenrty commented on #397
I don't think you need an s3 account to test and debug this. The problem is not with s3, but the fact that the response is being interpreted by the browser as HTML, and instead we are sending text. I think we just need to set the right response header in nodejs ([here](https://github.com/mozilla/voice-web/blob/master/server/src/lib/clip.ts#L200) for instance).

If you would like to set up s3 for l

[2017-08-03 10:09] mikehenrty commented on #398
Yup, we realize we have a problem with the messaging. We definitely want your voice! We're working on it in #242.

Duplicate of #242.

[2017-08-03 10:09] #398 closed

[2017-08-03 10:10] mikehenrty commented on #391
Let's use #242 to track the work here, since we've recently re-opened that.

Duplicate of #242.

[2017-08-03 10:10] #391 closed

[2017-08-03 10:17] mikehenrty commented on #396
Yup, let's do this. We have an icon in our icon font that could be used for this. So if someone wants to work on this, just comment here and I'll provide details.

[2017-08-03 10:29] mikehenrty commented on #399
Thanks for the report!

[2017-08-03 10:47] dfordivam commented on #341
Did you have a look at tatoeba.org... it seems to have a big corpus of sentences (many with audio recordings).

[2017-08-03 13:56] wathek opened #401 "Adding other languages"
Hi, I wanted to know how can we help to add more languages recording?
Do we need to translate the text to the needed language and then ask people to record their voice?
Do we need to have another text set for each language?

This is really a good project and I'm very interested in contributing to this.

[2017-08-03 17:05] paskalito commented on #281
Also in terms of "kinda gamification" it would be nice if it yould be a neverending interface.

something like.
4+x lines: (best read from bottom to top)

*** sentences get constantly uploaded (in case upload is slower than new sentences new lines appear, maybe at line 10 or so theres a warning / forced stop till the uploads clear out again.
*** the just recorded  sample to review and possibility

[2017-08-03 17:16] paskalito commented on #394
#279

[2017-08-03 17:43] augustnmonteiro commented on #394
Duplicated by #279 thank you @paskalito

[2017-08-03 17:43] #394 closed

[2017-08-04 08:58] mikehenrty commented on #401
Hi @wathek, thanks for your report. We are definitely interested in translating to other languages. You are correct in that we would need to translate the text of the website into this new language, and then find public domain sentences for people to read. We have a goal of adding a second language before the end of the year.

I think a big factor in us choosing a second language will be finding e

[2017-08-04 08:58] #401 closed

[2017-08-05 04:44] kenrick95 opened #402 "Web code style: Use async/await?"
Would you like to try changing the coding style from using Promise.then into async/await? Thanks

One example of change (on src/lib/api.ts):

[code]

become:

[code]

[2017-08-05 11:00] mikehenrty commented on #402
I definitely want to! Looking at [caniuse](http://caniuse.com/#feat=async-functions), it seems less than 70% of the global audience supports this feature yet, so it might be a bit soon for this. What do you think @kenrick95?

[2017-08-05 12:35] mikehenrty commented on #206
Fixed by #403.

[2017-08-05 12:35] #206 closed

[2017-08-05 13:23] kenrick95 commented on #402
Since we are using [TypeScript ^2.3.4](https://github.com/mozilla/voice-web/blob/master/package.json#L35) and [targeting transpilation to ES5](https://github.com/mozilla/voice-web/blob/master/web/tsconfig.json#L3), I think we are fine, because TypeScript, since [v2.1](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-1.html#downlevel-async-functions) will generate ES5-support

[2017-08-06 04:14] monopatis commented on #302
Maybe you can use data from an older similar project http://www.voxforge.org/

[2017-08-06 08:01] jhwinters opened #404 "British, Scottish and Welsh English?"
There's a rather odd choice of accent for the resident of Great Britain (which encompasses England, Wales and Scotland).  These are often lumped together as "British English" although there are vast differences in pronunciation between them.

For this project however, Welsh English and Scottish English have been separated out - perfectly sensible since this project is to do with pronunciation - bu

[2017-08-06 13:53] kenrick95 opened #405 "Typo in Singapore English"
Occurred at [this line](https://github.com/mozilla/voice-web/blob/master/web/src/lib/user.ts#L19). The word "Singaporian" does not exist; it should be "Singaporean". (this could be a good first bug)

Further reading on Wikipedia's article [Singapore English](https://en.wikipedia.org/wiki/Singapore_English) shows that there are two forms: Standard Singapore English, and Singlish. So which one is ac

[2017-08-06 14:14] kenrick95 commented on #182
I'm guessing that this issue is caused by the usage of CSS variables, which are unsupported in IE.

![capture-css-var](https://user-images.githubusercontent.com/3090380/29004083-88a11c0c-7af4-11e7-9a26-b33bffdf1d6e.PNG)

[2017-08-06 14:17] deepakks1995 commented on #396
I would like to work on the above problem @mikehenrty

[2017-08-06 17:05] sivaraam commented on #341
I thought I could share this.

**Sentence**
Imagine a world in which every single human being can freely share in the sum of all knowledge. That’s our commitment.

**Source**
https://wikimediafoundation.org/wiki/Home

[2017-08-06 17:20] sivaraam opened #407 "Give users more freedom while validating donations"
It seem that the web interface doesn't give the user with much freedom with the voice they are validating. It would be nice to have a way to **skip** the current validation as the user may not be sure enough to decide whether it's correct or not. The current interface only asks Yes / Nope which could motivate users to give incorrect feedback just to *skip* the current validation.

BTW, the options

[2017-08-06 19:12] kdavis-mozilla commented on #404
What about "England English" as a phrasing?

[2017-08-06 19:31] kdavis-mozilla commented on #405
"Singaporian" to "Singaporean" is a great  first bug.

Right now Singaporean means both. The fear was that not enough data would be obtained to split it in to Standard Singapore English and Singlish.

[2017-08-07 07:24] delgermurun opened #408 "Can I use this project to collect voice in different language?"
Hello,

Awesome project and effort.

Can I use use this for my collect voice in different language (e.g Mongolian) and use collected data for private purpose?

Thank you.

[2017-08-07 07:30] kdavis-mozilla commented on #408
As the license is [MPL-2.0](https://github.com/mozilla/voice-web/blob/master/LICENSE), the answer is "Yes," you can use it to collect voices in different languages.

However, we are also hoping to start collection in various languages too. So, to increase your reach and the diversity of languages that you and others have access to, we should try to work together on subsequent languages. This way e

[2017-08-07 15:37] delgermurun commented on #408
Thank you @kdavis-mozilla

I am gonna participate when multi language support began.

[2017-08-07 15:37] #408 closed

[2017-08-08 05:47] Riamse commented on #395
Thank you for the response Kelly. It's not a question of having any specific application. What I'm saying is that the pronounciation of "United States English" drastically varies within the United States itself. There are enormous differences in how someone from South Carolina speaks and how someone from New York City speaks. There are enormous differences in how an African American from Georgia s

[2017-08-08 06:13] individual-it commented on #302
What about using the bible as source? There are a lot of audio versions around e.g.: http://www.audiotreasure.com/

[2017-08-08 09:56] Omniscimus commented on #397
The XML errors are fixed by #411, but the `Invalid URI` errors still need to be fixed

[2017-08-08 10:26] picsi commented on #302
@individual-it Are those freely licensed? It looks like they're just gratis.

[2017-08-08 11:14] nonthewiser commented on #302
How about this?
http://www.manythings.org/audio/sentences/

[2017-08-08 13:38] individual-it commented on #302
not many information about the license, I've wrote an email asking.
But here are bible resources that claim to be public domain:
http://ebible.org/webaudio/
http://soundbible.com/audio-bible-online.php

[2017-08-09 07:23] azymohliad commented on #407
As a quick hack I just refresh page, when I want to skip.

[2017-08-09 07:45] azymohliad opened #413 "Typo in sentence "We used all your imgination to design the place""
The word _im**a**gination_ misses _**a**_.

Since this is a very minor kind of issue, what's the best way to report them? Is it worth to create new issue for each case? Or maybe rename this one to something like "Typo reports" and report in comments? Or you have already defined another way (sorry, if I couldn't find it)?

[2017-08-09 08:16] kdavis-mozilla commented on #413
Reporting just as you have is fine. It also has the advantage of creating an issue that's a nice first pull request for a new contributor.

[2017-08-09 08:33] kdavis-mozilla commented on #395
The prototypical application that the corpus targets is training a speech-to-text engine.

Speech-to-text engines are generally released on a language-country basis, e.g. en-us or en-ie. They are not released on a language-country-region, e.g. en-us-south-carolina or en-us-georgia.
So we take our grouping lead from this rule. However, sometimes accents straddle national boundaries. In this case we

[2017-08-09 09:33] #413 closed

[2017-08-10 09:51] mikehenrty commented on #396
Do eeeet! 👍

[2017-08-10 10:43] #142 closed

[2017-08-10 12:58] mikehenrty commented on #302
Thanks everyone! Yeah, we have to be very careful about licensing. Not only do we need Public Domain, but we need CC-0, which is the most permissive license possible. Even public domain CC-3 for instance wouldn't work for our current terms. But please keep posting your ideas, as helping us surface content sources is extremely helpful!

http://www.manythings.org/copyright.html

[2017-08-10 12:59] #404 closed

[2017-08-10 13:03] mikehenrty commented on #277
Thanks for all your help @varunarora and @Omniscimus. Those updates look succinct and do a great job of clarifying some of our language. Merging 👍

[2017-08-10 13:05] jf99 commented on #360
The same issue as in the first post just occurred again. @augustnmonteiro is right. The Firefox console says that it could not fetch https://voice.mozilla.org/upload/random.json:

![no text console](https://user-images.githubusercontent.com/7962377/29171574-41fa5c64-7ddd-11e7-8ca6-07053451043b.png)

[2017-08-10 13:10] mikehenrty commented on #277
https://github.com/mozilla/voice-web/commit/45fa2c7777309160b165bf4ba81439c43bc6dba0

[2017-08-10 14:38] #182 closed

[2017-08-10 14:56] mikehenrty commented on #182
@kenrick95 here's our integration server with your changes:
https://voice.allizom.org/

What do you think, can we call this fixed?

[2017-08-10 15:17] kenrick95 commented on #182
I think yes, we can close it. :tada:

![giphy](https://user-images.githubusercontent.com/3090380/29177745-13e65cca-7e22-11e7-8a71-4613745ed725.gif)

[2017-08-10 16:52] Ceejaydeepee commented on #341
Some more sentences for you: https://pastebin.com/pWM1y61d

Hopefully some are useful! I agree to release my sentences to the public domain with a cc-0 license.

[2017-08-10 19:31] gozer opened #417 "[infra] Get rid of EFS"
As it's not needed/used anymore

[2017-08-10 19:36] #417 closed

[2017-08-11 13:14] orschiro opened #419 "Pause button on submit page stays paused if submitting while playing"
Doesn't really affect the usability but thought I am reporting it.

The last button always shows pause instead of play although it is not playing.

![image](https://user-images.githubusercontent.com/170947/29214453-b9df53ae-7ea7-11e7-9a82-5fb005d23c8d.png)

[2017-08-11 17:04] deepakks1995 commented on #396
I have moved the discourse link to the blue bottom bar @mikehenrty , have a look at the pull requests

[2017-08-12 05:18] kenrick95 commented on #419
Weird, at my side, all are as expected (all three buttons are "play" buttons). What browser & OS are you using? How do you exactly arrive at this situation? Thanks

[2017-08-12 08:14] orschiro commented on #419
It happens after I do some recordings in a row.

See this: https://youtu.be/PRBNDeA7RR8

On 08/12/2017 07:18 AM, Kenrick wrote:

[2017-08-12 14:29] kenrick95 commented on #419
Okay, now I could reproduce it with this steps:

1. Do 3 recordings to arrive at Submit page
2. Click to play the 3rd entry, but before the recording ends, click submit
3. Do 3 more recordings to again arrive at Submit page
4. Now at the submit page, the 3rd entry will now in the state of "playing" (i.e. showing "Pause" icon)

Probably, this is due to `ListenBox` not being re-mounted at step numbe

[2017-08-13 06:33] nevik commented on #402
But adding a Promise polyfill or not is independent from using TS async/await.
This TS feature is syntactic sugar only, so it would be great to start using it 👍

[2017-08-13 07:21] nevik opened #423 "Collect and document contribution guidelines"
_EDIT: This issue has been broadened in scope to discuss the introduction of contribution guidelines in general. Initially it talked specifically about the Node and npm versions used for the project.
The original content remains at the end of this post._

---

_Original text:_

From the presence of a `package-lock.json` file in the repo, I presume that at least npm v5 (and therefore, probably Node

[2017-08-13 07:43] nevik opened #424 "iOS: Elements' hover state gets stuck after tapping them"
Unlike desktop browsers, Safari on iOS does not handle the CSS `:hover` state well.

In particular, the hover state is applied when tapping an element, and is left applied until another element gets focus.

One solution is to not use `:hover` on iOS, but `:active` instead. The `:active` style is applied as one would expect - only while the finger is down during a tap, and removed when the tap is r

[2017-08-13 08:08] nevik opened #425 "Some HTML made it into the voice samples (bug or easteregg?)"
I just ran into a text sample (while validating) that is the top line of an HTML document (doctype definition), and the audio sample did, in fact, contain someone reading off an HTML tag (though not the text in the sample).

I'm not sure if this is someone having fun with the corpus, or if this sample slipped in by accident. I can't find it in the `server/data` folder in this repo -- is the actual

[2017-08-13 08:22] nevik opened #426 "Text corpus vs. existing voice samples"
While the available source texts are in this repository (in `server/data`, I think), as is indicated in #287 and #330, during validation I still encounter a lot of voice samples with sentences that are not part of this corpus.

What is the project's approach here? Some of the sentences or sentence collections seem to have been removed from use (or removed from the list entirely) due to one reason

[2017-08-13 08:48] kdavis-mozilla commented on #426
The voice samples that have already been recorded using the removed sentences will not be removed from the voice database. We want to keep the voice database as large as is possible.

[2017-08-13 10:15] nevik commented on #341
Do you also want sentences with specialty/jargon vocabulary at this point? In my case, it would be mostly IT/software/computer jargon, but I can also come up with some physics and math stuff, if that's helpful :)

[2017-08-13 11:53] nevik opened #427 "Running gulp script results in repeated CredentialsError"
I'm trying to set up a local dev environment for voice-web, following the instructions in the README.

However, when running the gulp script, after some build steps, I repeatedly get the following error output in the terminal (I'm also attaching the anonymized full log output as a text file):

I've not found any mention of having to fill in credentials, or which credentials to use.

Is this situat

[2017-08-13 14:08] kenrick95 commented on #427
I think it is expected if you didn't edit `config.json` file.

When running `gulp`, could you open up your browser and go to `localhost:9000`? At least, the front-end part of the site should be up and running.

[2017-08-13 14:10] kenrick95 commented on #425
I think this issue is duplicate of #300

[2017-08-13 14:14] nevik commented on #427
Just tried it: Yup, the frontend part is working.

Thanks for the heads-up, that way I could at least work on frontend changes :)

Naturally, this instance then isn't connected to any backend, so I can't test/change anything in regards to that.

It would be great if some more info about the (local/dev and production) environment could be added to the project docs. From looking around the Travis an

[2017-08-13 14:16] nevik commented on #425
Woops, you're right! Totally didn't see that there :)

Duplicate of #300.

[2017-08-13 14:16] #425 closed

[2017-08-13 14:28] kenrick95 commented on #423
Though I locally run this project in Node 8 (and npm v5), I see that `.travis.yml` specifies Node v7 (and in the builds, it installs npm v4).

Yeah, I agree that we should specify recommended Node & npm version to run this project on.

[2017-08-13 17:50] Riotism commented on #302
A good source on Wikimedia Commons might be https://commons.wikimedia.org/wiki/Category:Files_with_closed_captioning_in_English. This category contains many US Federal Government videos (meaning that they are PD) with closed captions.

[2017-08-13 20:06] Omniscimus commented on #423
I agree, and some information about how the project modules work and what frameworks are being used would be helpful as well. Such as, for the web server we're using node, preact, typescript, whatever (with links to documentation). Could be in the readme, or in a separate [contributors file](https://help.github.com/articles/setting-guidelines-for-repository-contributors/).

[2017-08-15 11:20] tiagmoraismorgado commented on #341
https://pastebin.com/3VHV0cY1

[2017-08-15 14:14] kenrick95 opened #431 "UX: These floating numbers on navbar don't clearly show their meaning"
![capture-ux](https://user-images.githubusercontent.com/3090380/29319492-d0510788-8206-11e7-95c4-6fc5e6dc7245.PNG)

I mean, only after I read the source code that I know what they means. When I see it from the site, I don't know what they means.

[2017-08-16 10:14] mikehenrty commented on #407
There are two separate bugs here:
1. lack of ability to skip recordings
1. lack of explanation of what "Yes!" and "Nope."

Let's use this bug to track the first one. @sivaraam would you mind filing a new bug for number 2, since we could land that in a separate commit?

[2017-08-16 10:28] mikehenrty commented on #360
@jf99 I think the issue is that when the site has problems loading sentences, there is no error message displayed. we fixed this for listening functionality, but need to do the same for speaking. can you file a new bug for this?

[2017-08-16 13:20] Omniscimus commented on #407
Bug number 2 might already be covered by #273

[2017-08-16 17:58] sivaraam commented on #407
Yeah, I guess @Omniscimus's correct. There seems to be quite a lot of background there. #284 seems to cover number 2 more correctly.

[2017-08-17 18:14] mikehenrty commented on #396
Fixed, thanks @Kusaha  and @deepakks1995 !

[2017-08-17 18:14] #396 closed

[2017-08-17 18:59] #419 closed

[2017-08-17 20:26] mikehenrty commented on #423
This is a great start for working towards a contributors file!

Some sections I think we would need are:
 * Pre-reqs: node v7 or higher and npm 4 or higher (or do you all think we should require v8/v5?
 * Setting up Dev Environment: we can move the stuff in the README here
 * How to run and test
 * Choosing a good first bug (link to help wanted list)
 * Explanation of important tools: gulp, preact

[2017-08-18 15:11] nevik commented on #423
For convenience, I'm cross-posting my ideas here :)

---

I was thinking something along what other OSS projects use, and what [GitHub recommends to be in a `CONTRIBUTING` file](https://opensource.guide/starting-a-project/#writing-your-contributing-guidelines).

Some of the points I think would be great to mention there:
* points and methods of communicating with the team/maintainers
  * e.g. GH i

[2017-08-18 15:21] nevik opened #434 "Provide a history of validated recordings to user"
I think it would be nice if a user could see a history of the recordings they validated.

Information I'd be interested in:
* "What we asked them to read"
* "What they said"
* did user approve/reject?
* timestamp

Besides being interested in this data myself, it could also be slightly extended to help with reporting problematic recordings, if the information also includes the recording's ID (or a

[2017-08-18 18:44] jf99 commented on #341
Here comes a new load of sentences...
https://pastebin.com/gLTMV3kb

[2017-08-18 18:49] jf99 opened #435 "Show an error message when no sentences could be loaded from the server"
Otherwise the user will see blank lines instead of sentences:
![no text console](https://user-images.githubusercontent.com/7962377/29171574-41fa5c64-7ddd-11e7-8ca6-07053451043b.png)

This issue has been forked from #360.

[2017-08-18 21:50] caro401 commented on #405
Hi, I'd like to have a go at fixing this, but have never made a pull request before, is that OK?

[2017-08-19 03:31] kenrick95 commented on #405
@caro401 Sure, go ahead and fix it. Let me know if you have any questions. Thanks

[2017-08-19 17:57] nevik opened #440 "Consistently align page content right of navigation OR below navigation"
Currently, the text flow on the different parts of the webpage are somewhat inconsistent.

* On the Home page / landing page, the area right of the navigation is taken up by the robot image, and the text content (including the listen box) starts below the navigation at full content width
* On the Speak page (if the browser is supported), there is also a robot image, but the record box is placed to

[2017-08-21 19:01] olegserov opened #443 "No english-as-a-second language option!"
Hi,

I'm from Russia and I have an accent. I would like to have an opportunity to specify my accent in order to get better recognition.

[2017-08-23 13:54] kenrick95 opened #444 "Code style: Apply prettier for consistent code formatting"
[Prettier](https://github.com/prettier/prettier) is essentially a code formatter (initially for JS, but now also supports TS). It takes care of all code formatting so code contributors could just code in any style and then apply this code formatter so that code style across contributors are (mostly) consistent. Lots of open source projects already use Prettier, notable ones are React, Webpack, Yar

[2017-08-23 16:12] nevik commented on #444
I definitely think consistent code formatting is a worthwhile goal to improve readability and thereby maintainability. 👍

Since it's not reasonable to expect all contributors on an open-source project to use the same editor/IDE, I think a separate tool like this is a good way to go.

As this needs to be run by individual developers, I'd suggest that we also add some kind of style checking. It woul

[2017-08-28 06:35] iveskins commented on #427
Is anyone able to provide a quick check list for building a dev environment.. is it just, stand up a mysql db, make a s3 bucket and put the config in the config.json file? what is the expected format of the aws config?

[2017-08-28 08:08] iveskins commented on #423
this is important info! https://github.com/mozilla/voice-web/pull/90
One needs to go to aws IAM console make a new access token and put the credentials in
~/.aws/credentials
:s

[2017-08-29 06:12] cnevinc commented on #98
Hmm.. strange.
Still see 502 today.
Should I use Mozilla's VPN?

[2017-08-29 06:14] nevik commented on #98
considering the time in between, this is probably down "again", not "still" 😉

would you create a new issue for this?

[2017-08-29 15:39] Kakurady commented on #242
Perhaps "Non-native accent" could be a checkbox instead of a list item?

Then, for example, a German moves to Great Britain and learns English, would select "British English" with "☑ Non-native accent".

(Although this fails to capture the influence of the speaker's native language(s). For example, in spoken Standard Chinese there is no /θ/ or /ð/ sound, and I used to substitute with /t͡s/ or /t/.

[2017-08-29 16:17] PaulXiCao commented on #443
That sounds like a good idea imo.
I see two options:
1. have the option "English as a second language"
2. have more countries to choose from: Russia, France, Poland, ...

I wouldn't mind to implement either feature. Which one is favored?

[2017-08-29 16:50] PaulXiCao commented on #443
This issue is addressed in detail in #242
I guess this one could be closed..

[2017-08-30 09:42] iveskins commented on #242
How about asking
"When did you start learning English?"
"List all native language(s) learned from birth (if not listed, choose 'other'):"
"Your primary language(s) now (if not listed, choose 'other')"
like
http://archive.gameswithwords.org/WhichEnglish/

[2017-08-31 12:03] NAHarris opened #445 "Equalise volume of sound clips for review"
Because of the many different sound sources, the volume levels of different clips varies widely. As a result, some are unexpectedly loud, and others almost too quiet to hear at a normal volume level.

To avoid this, the volume level of the speech in the clips should be normalized before replay. Because clips can contain clicks and pops, as well as large amounts of near-silence, these should be ign

[2017-08-31 12:08] NAHarris opened #446 "Trimming non-speech at start and end of clips"
Many clips contain long periods of background sound before or after the speech sample.  This should be trimmed if possible before presentation for review.

One possible algorithm for this would be to detect voiced sounds, and dropping all audio that is outside a window that starts (say) two seconds before the first voiced sound, and two seconds after the last voiced sound.

[2017-08-31 12:51] kdavis-mozilla commented on #445
It does make it harder to validate when the volume levels vary. However, having the varying volume levels in the audio files is actually useful as any speech recognition engine trained from these files will learn how to deal with varying volume levels.

[2017-09-01 11:22] jf99 commented on #445
Good point @kdavis-mozilla. => So play a normalized version of the audio files for validation, but train your neural networks with unnormalized audio.

[2017-09-01 11:47] jdittrich commented on #446
Someone else suggested this before on issue #279 – maybe your ideas for the algorithm could be useful!

Meta: duplicates #394 #279
@mikehenrty please close.

[2017-09-01 11:48] jdittrich commented on #443
@mikehenrty: can you close this?

[2017-09-01 11:49] jdittrich commented on #431
I agree that they are hard to understand (I don't know what they mean either…)
On the other hand, I assume them to be not very irritating either – I always considered them as a kind or graphical element, not knowing they react to my actions.

[2017-09-01 11:52] jdittrich commented on #444
@kenrick95 Is there currently a problem with the consistency of the coding style in the project?

[2017-09-01 11:53] #443 closed

[2017-09-01 11:54] nevik commented on #444
@jdittrich there are, in particular, no stated guidelines for the code in this project. so people contributing will just use whatever they think fits (or whatever they like best), making the overall code base less and less consistent over time. IMO this hurts readability and thereby maintainability of the code base.

this particular issue was created after @kenrick95 and I noticed this in a review

[2017-09-01 17:46] iveskins opened #447 "createDb.js tool script error"
when trying to create the database I got
`database create error ER_ACCESS_DENIED_ERROR: Access denied for user 'voicecommons'@'172.17.0.1' (using password: YES)`

Seems to be because of the line
`CREATE USER '${USERNAME}'@'localhost'..`

Because I was running mysql in docker, the incoming connection from node to mysql was not on localhost but on the docker bridge ip.
I had to change the script to

[2017-09-02 20:38] jdittrich commented on #444
related: Collect and document contribution guidelines #423

[2017-09-03 18:15] nmstoker opened #448 "Using S3 buckets in eu-west-2 region gives saving clip error (InvalidRequest)"
Running the server locally, I muddled through the various steps needed (ie MySQL db, ffmpeg, S3 buckets) but I ran into a problem which I think is to do with having chosen to have my S3 buckets in the region **eu-west-2** (_which is nearest to me_)

When I submitted recordings via the localhost:9000 page, node output showed the following error message for each clip upload attempt:

`{"msg":"saving

[2017-09-04 13:24] PaulXiCao commented on #445
imo normalizing the volume makes sense for user validation as already mentioned.
There might even be a use case later for training purposes. dont know but even so we can implement it with little work.

I have the following idea of implementation:
* before saving the audio clip to S3 we could normalize it
* save raw input and normalized clip to cloud
* for user validation: try retrieving the normal

[2017-09-10 15:49] vkatsikaros commented on #341
https://gist.github.com/vkatsikaros/551c284c609a62a4fa8035b612e0838f
I agree to release my sentences to the public domain with a cc-0 license.

[2017-09-12 12:21] smolendawid opened #449 ""could not get random clip, No globs from me""
After running app locally, I've got a msg

But after typing
http://localhost:9000/
in my web browser, I have error that I can't understand

Any suggestions?

[2017-09-12 13:43] smolendawid commented on #449
This was because no recordings were on S3 yet (first run).

[2017-09-12 13:43] #449 closed

[2017-09-12 13:56] smolendawid opened #450 "Waiting for localhost forever"
I run the voice-web locally. After first run, I have some files saved on S3 and everything works fine.

However after the second run (after killing first run and calling another gulp) voice-web doesn't work - "listen" shows "Loading..." and "speak" shows blank frame...

[2017-09-13 21:46] jgmize commented on #448
@nmstoker both your hypothesis and your fix look correct to me. Would you like to file a PR with this change?

[2017-09-16 12:07] nmstoker commented on #448
Thanks @jgmize - I've just submitted a PR as suggested (my first in a mainstream project :smile: )

[2017-09-16 18:36] est31 commented on #341
More from me: https://gist.github.com/est31/166021fc4a9efc6f82caf9ba50498be9

[2017-09-18 05:35] smolendawid commented on #450
In _Developer tools -> Network_ in Chrome I can see that I am waiting for the upload of _random.json_ file. It still tells me nothing...

[2017-09-18 10:57] #164 closed

[2017-09-18 18:39] Satana-Jhoni commented on #161
I

[2017-09-19 14:35] kjanko opened #452 "Microphone permission issue"
If the microphone is consistently enabled on the website (i.e. if it requires no permission to be enabled, but is enabled by default) there is a big delay between the moment the user clicks record and when he actually starts recording.

[2017-09-20 14:02] mikehenrty commented on #452
@kjanko what browser and OS are you using? I haven't seen this lately, but it was a problem in an earlier version of the code.

[2017-09-20 14:12] kjanko commented on #452
@mikehenrty happens on both, Firefox and Chrome. Windows 7.

[2017-09-20 14:18] Omniscimus commented on #452
For me, it does start recording immediately, but the record button turns red a short while after you press it, when the animation is finished. This may make it seem like it starts recording only after the animation is finished instead of immediately when you press the button. Maybe this is the issue here?

[2017-09-20 14:33] kjanko commented on #452
@Omniscimus just tested this, It's pretty inconsistent for me. Sometimes It allows me to record, sometimes it doesn't. Not sure what's going on.

[2017-09-21 16:17] #426 closed

[2017-09-21 16:19] mikehenrty commented on #431
These are just a tiny easter egg. Soon we plan to add profiles that track your progress, and have leaderboards. At that point, we will remove these. I'm going to close this bug for now, since (while it's confusing) it's working as expected.

[2017-09-21 16:19] #431 closed

[2017-09-21 16:21] mikehenrty commented on #444
I'm totally on board for this, just need to find the time :)

[2017-09-21 16:22] mikehenrty commented on #446
Thanks for the report @NAHarris, and thanks for the follow up @jdittrich

[2017-09-21 16:22] #446 closed

[2017-09-21 16:23] mikehenrty commented on #447
Yeah, the database was never really implemented properly. We will be doing this in the next month or so, which will fix this problem.

[2017-09-21 16:23] mikehenrty commented on #448
Fixed by @nmstoker. Thanks!

[2017-09-21 16:23] #448 closed

[2017-09-21 16:24] mikehenrty commented on #450
Are there any errors coming from your node.js process?

[2017-09-22 15:38] #384 closed

[2017-09-22 22:25] Omniscimus opened #453 "UI: Show error to user for invalid recordings"
(issue intended to track this)

When the recording is too short, too long or silent, a message with the error gets logged to the console (#432). This error should be shown to the user somehow (possibly with troubleshooting steps?), and the recording should be rejected.

[2017-09-24 09:43] kenrick95 opened #454 "Front end architecture: Use preact-router instead of implementing own router"
Right now, I noticed that the page router is implemented in app.tsx and pages.tsx. This made pages.tsx quite long and contains lots of logic that are used only in one page (e.g. uploadRecordings are only used at Record page). My suggestion is to integrate this project with [preact-router](https://github.com/developit/preact-router) so we could abstract away the page routing logic. I think this wil

[2017-09-24 14:43] nevik commented on #444
@kenrick95 if you have any experience with prettier, would you mind trying to drop it into this project, and see how many changes it makes or would require?

if it's a small thing (e.g. with a standard ruleset), would be great start to just get it in. we could then refine the ruleset to our liking as we go along

[2017-09-24 14:47] mikehenrty commented on #444
@nevik @kenrick95, I'm working on this right now. the best part about prettier is that it is pretty opinionated about js style, and our formatting options are small. i'll ask for both your feedback once i have a reasonable PR. stay tuned!

[2017-09-24 14:47] nevik commented on #444
perfect! looking forward to seeing that :D

[2017-09-24 14:58] nevik commented on #405
@mikehenrty seems like this wasn't properly closed by merging the PR?

[2017-09-24 16:38] mikehenrty commented on #444
Alright, I took a stab at this. Would love some feedback in #455.

[2017-09-24 16:42] #405 closed

[2017-09-24 18:11] nevik commented on #402
@mikehenrty, I just noticed while looking through the changes for #455: Should we also start using async/await in the backend code? #430 took care of pretty much everything in the frontend, but there's a bunch of promise-based async stuff in the backend as well

[2017-09-24 19:06] mikehenrty commented on #402
@nevik yeah, would love to start doing this on the backend as well. there's still some promised based stuff in the front-end here and there too I believe.

[2017-09-25 13:43] #444 closed

[2017-09-25 14:16] mikehenrty commented on #170
Fixed from @xKeiro 's PR. Thanks!

[2017-09-25 14:16] #170 closed

[2017-09-26 09:40] rndusr opened #456 "Enabled tracking protection breaks "listen""
Quote from the console:

The resource at “https://voice-prod-clips-d7016e9b229aefd93fcf26a781f03bd3508cf971.s3-us-west-2.amazonaws.com/a8e25c2c-d095-47d1-9cef-d390b57872d2/6f75d648447bb90ae689526019210a49eb86e8c5144d9fdcf8990e05b2693ad5.mp3?AWSAccessKeyId=ASIAIMPRCBHHJ3JZLQHQ&Expires=1506419559&Signature=JhBvr%2BXeFQfQ7AQZ%2B8hxYOvRS%2BA%3D&x-amz-security-token=FQoDYXdzEFYaDHT9Ufxy%2BMYnu%2BnasCK3

[2017-09-26 19:47] Omniscimus commented on #456
In which browser are you experiencing this issue? I couldn't reproduce this in private browsing in Firefox 56.0b10 or 55.0.3.

[2017-09-26 20:24] rndusr commented on #456
Firefox ESR 52.3.0

It used to work but eventually started to block the resource I quoted. I guess
the tracking protection eventually learned that it was tracking me for some
reason.

[2017-09-26 22:50] m-branson commented on #286
Thanks for your UX/UI input here @jdittrich! We're currently assessing and aggregating updates for our next round of UX iteration and will indeed be including your language and icon suggestions. (Also note, the back arrow may change a bit, but will be an icon that is distinct from 'redo' in previous screens.) Cheers and thanks again.

cc @mikehenrty

[2017-09-27 13:18] #103 closed

[2017-09-27 13:48] #180 closed

[2017-09-27 14:39] #311 closed

[2017-09-27 14:53] #345 closed

[2017-09-27 14:54] mikehenrty commented on #352
Great idea, we will definitely explore including Librivox data when we publish our initial dataset on the site. Stay tuned!

[2017-09-27 14:55] mikehenrty commented on #456
See also #369

[2017-09-27 14:59] mikehenrty commented on #369
I just test this, and both the microphone recording and listening worked. @andrenatal can you retest this?

That red microphone comes from the browser chrome, not the site, and is by design. Red is the indicator for recording. If you think that's a bug, a good place to report that would be bugzilla for Firefox.

[2017-09-27 15:02] mikehenrty commented on #456
I just tested this, and both recording and listening worked fine with tracking protection enabled.

@rndusr , do you have any add-ons that might be modifying your block list?

[2017-09-27 15:04] mikehenrty commented on #380
Yup, duplicate of #262.

[2017-09-27 15:04] #380 closed

[2017-09-27 15:06] mikehenrty commented on #395
Given Kelly's comment, I'm going to close this as working as designed. Let's re-examine this if we discover in our research that more data consumers want this granular distinction.

[2017-09-27 15:06] #395 closed

[2017-09-27 15:07] mikehenrty commented on #397
Looks like @Omniscimus fixed everything here! Thank you!!!

[2017-09-27 15:07] #397 closed

[2017-09-27 15:20] mikehenrty commented on #424
I agree with your assessment @nevik and thank you for the detail.

We do have a way of detecting if we are in Safari, and if we are in the iOS native app, but not Safari mobile browser. For the iOS native app, we add a class of `ios` to the body element. https://github.com/mozilla/voice-web/blob/4a3742e642a1a5e092037dd80d14fa66dedd80cf/web/src/lib/app.tsx#L100

For now, I think fixing this for the

[2017-09-27 15:22] mikehenrty commented on #434
I like this suggestion. Another thing we could consider doing here, is allowing users to favorite or bookmark recordings they listen to so they can go back to them later. If enough people favorite certain clips, we could even expose a clip leaderboard later.

[2017-09-27 15:23] mikehenrty commented on #440
@m-branson, any thoughts on this one?

[2017-09-27 15:25] mikehenrty commented on #445
Duplicate of #336.

[2017-09-27 15:25] #445 closed

[2017-09-27 15:27] mikehenrty commented on #452
@kjanko do you have multiple tabs (or browsers) with different versions of Common Voice running? i've noticed for myself that having multiple tabs open screws with the microphone input.

[2017-09-27 15:28] mikehenrty commented on #453
Thanks for filing @Omniscimus, our UX/Designer @m-branson is taking a look at this.

[2017-09-27 15:30] mikehenrty commented on #454
I like this idea in theory, but a couple of things I would want to know:
1. how big is the routing library?
2. what benefits to code readability do we get?

Maybe a small proof of concept PR would help me understand the advantages.

[2017-09-27 16:18] nevik commented on #424
Thanks for the info @mikehenrty!

I’ll probably take a stab at this on the weekend :)

[2017-09-27 16:21] nevik commented on #434
I like that extension idea too, @mikehenrty!

How close do you think the project is to adding user accounts/profiles?

IOW, is it worth implementing a client-side history as I outlined above, or should we wait until we can do account-based server-side history?

[2017-09-27 16:32] rndusr commented on #456
I have the same issue with all addons disabled. But I have a pretty long list of
"about:config" settings that I changed over the years. Could any of them cause
this? Any ideas what I should look for?

[2017-09-27 17:28] mikehenrty commented on #434
A month or so before we start that work. For now we have high level UX recommendations, but not designs for the new profile.

Two possible issues I see:
1. The client only get's the s3 public URL, which I think might expire.
1. How would this history fit in with the profile page?

[2017-09-27 22:56] mbebenita opened #460 "Release Access to the Microphone"
This is possible via the https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/stop function.

Also, switching browser tabs, or selecting a different tabs within the app should stop the recording session.

Seeing the recording icon flashing red in the tab, often after several minutes of not touching the app and doing something else, gives me a eerie feeling.

[2017-09-28 00:20] m-branson commented on #440
Another great flag @nevik 👍

@mikehenrty I'm in agreement with option two, changing the navigation style to live at the top of the page in a more traditional horizontal row.

If it will require a fair bit of development effort I recommend holding off until we determine full scope and roadmap for design updates. Otherwise, if we're confident we can execute it and fix any expected breaks that result

[2017-09-28 00:23] m-branson opened #461 "Update CV Wordmark"
Common Voice + Mozilla wordmark needs refinement to better align with brand standards (spacing and removal of white pixel border around Mozilla logo).

@mikehenrty I'll provide SVGs, unless you prefer otherwise...🎉

[2017-09-28 00:24] m-branson commented on #461
Also please assign to me. :)

[2017-09-28 14:22] kjanko commented on #452
Yes, tested on a single tab and it seems to be working.

[2017-09-28 14:34] mikehenrty commented on #452
Ah in that case, this will be fixed by #460.

[2017-09-29 14:47] jf99 opened #464 "Recordings counter counts wrongly"
Each time when you hit the submit button, the counter increases by two, although you submit three recordings.

[2017-09-29 20:28] m-branson commented on #461
Mozilla brand application guidelines have been updated, requiring changes to the changes. 😉  [See more here.](https://mozilla.ninja/expression/)

Will accomplish and deliver for implementation early next week.

[2017-09-30 17:53] nevik opened #465 "Create a logo for Common Voice"
When @m-branson brought up updating the CV wordmark #461, I realized that CV doesn't seem to have its own logo yet either!

The browser tab favicon and the app icon for the iOS app are currently the generic "m" (I guess for "Mozilla").

Would be great to kick off getting a distinct logo/icon to represent the project, @mikehenrty :)

[2017-09-30 18:51] nevik opened #467 ""Open in app" on iOS should launch app if installed"
_Noticed while implementing #466._

When viewing the CV website in Safari on iOS, an "Open in app" banner is shown at the bottom of the screen.

However, unlike its label, tapping the banner always opens the AppStore page of the CV app, even if the app is already installed:

https://github.com/mozilla/voice-web/blob/6e646414efe984f98cb39c398ed92bb56dc7ba35/web/src/lib/components/pages.tsx#L128-L13

[2017-09-30 19:43] nevik opened #469 "Add support for Safari 11 & Edge"
Safari 11 on macOS and Safari on iOS 11 (supposedly) add support for WebRTC. This could make the CV native wrapper app obsolete.

We should investigate whether the support for UserMedia in current Safari suffices for CV's needs, and think about when to abandon the app if this is the case.

_Note: I mostly wanted to bring this up so we don't forget. I'm going to look around and add some sources for

[2017-09-30 22:32] mikehenrty commented on #469
getUserMedia is there in Safari 11, the problem is we also use the MediaRecorder api to manipulate the audio data client side before uploading it. the question would be around workarounds for MediaRecorder functionality, which i haven't looked at just yet

[2017-10-01 08:27] nevik commented on #469
Sigh.

Unfortunately, you're right @mikehenrty.

As of iOS 11.0:
* `getUserMedia` / Stream API is supported ✅ -> http://caniuse.com/#feat=stream
* MediaRecorder is **not** supported ❌ -> http://caniuse.com/#feat=mediarecorder

I just confirmed this by testing it on my iPad (running iOS 11).

[2017-10-01 08:29] nevik commented on #469
Oh. However. I just stumbled over [recorder.js](https://github.com/chris-rudmin/Recorderjs/blob/master/src/recorder.js), which claims to work on iOS 11 as well.

@mikehenrty, if it's a general goal of the project to do away with the native app if possible, I think we should look into this.

[2017-10-01 08:41] nevik commented on #434
1. In my original proposal above, I didn't intend the user to be able to play the listed recordings again, so this would not be an issue for such a simple solution. If we want to provide this extension as we discussed above, I guess we would have to extend the backend so that we can give the client some recording ID by which it could re-request it (i.e. ask the backend for an up-to-date S3 URL).

[2017-10-01 08:52] nevik opened #470 "Stylesheets: Introduce SASS/LESS?"
From other projects I work on, I'm used to writing stylesheets in higher-level CSS dialects/extensions like SASS/SCSS or LESS.

The most important advantages of these opposed to plain CSS for me are:
* selectors can be nested -> less duplication, more compact, readable and maintainable structure of stylesheets
* variables -> less duplication, more readable code, improved maintainability
* mixins/f

[2017-10-01 09:56] nevik commented on #440
Thanks for the feedback @m-branson 😄

I just had a go at this and created a first mock of how the horizontal nav could look. Mind you, I don't have a lot of design expertise, so this is just a sketch. Also, I don't know the Mozilla brand guidelines, so I don't know if this layout is incompatible with those in some way.

These changes only affect the nav menu (for desktop view). The main content is

[2017-10-01 10:30] nevik opened #471 "CSP Header breaks recording on iOS"
Just noticed that the newly introduced Content Security Policy header seems to break recording functionality on iOS (observed in iOS 11 on a real device, and on iOS 10.3 in simulator).

When finishing a recording (i.e. clicking the red circle button), the following error appears in the console:

The microphone still seems to work (the waveform BG image moves while speaking).

However, after finish

[2017-10-02 09:37] nevik opened #476 "Introduce automated tests?"
There currently appear to be no automated tests in the backend nor the frontend part of CV.

Should we work to introduce them?

Or is this a deliberate decision?

[2017-10-02 09:49] nevik commented on #402
@mikehenrty had a go at converting the server code to async/await, but ran into the following problem:

This is caused by the usage/import of `bluebird` Promise, which would conflict with the ES6 Promise that the TS compiler wants to use for async/await.

Is there any particular reason for (keeping on) using `bluebird`? Or could we switch the server code to plain ES6 Promises as well?

[2017-10-02 11:23] nevik opened #477 "Switch from npm to yarn to allow cross-platform sharing of lockfile"
I had noticed a while back that on my Mac, doing an `npm install` (note: npm v5 and later) always modifies the `package-lock.json` that is committed to the repo.

When I looked into this more today, I found that this is an issue with how npm handles optional dependencies (in our case, that's [`fsevents`](https://www.npmjs.com/package/fsevents), a macOS-only dependency of things that watch filesyst

[2017-10-02 13:47] mikehenrty commented on #402
I'm fine with removing `bluebird` now that we are targeting es6.

[2017-10-02 13:53] #424 closed

[2017-10-02 13:56] mikehenrty commented on #469
Indeed it's a general goal to get rid of the app, but it's not a high priority. Having a native app on iOS allows us to do push notifications, which won't be possible in mobile safari until they properly implement service workers.

https://webkit.org/status/#specification-service-workers

[2017-10-02 14:01] mikehenrty commented on #434
In general, I like the idea but am not sure how useful this would be to me and other users. If we were to implement something like this, I would say it needs to fit with the overall direction and strategy of the profile page, which @m-branson is working on right now. In an effort to avoid overlapping/wasted effort, let's wait until we get a mock-up of what the new profile page will look like. If i

[2017-10-02 14:11] mikehenrty commented on #470
I'm really happy with the current CSS compilation process we have (using postcss, cssnext, and cssnano). The idea is that we can write prefix-free, bleeding-edge CSS and then the build takes care of browser compatibility and minification.

Nesting and functions are useful, for sure. But to me I'd rather use standards-based CSS, as this will cast a wider net and promote adoption and evolution of th

[2017-10-02 14:18] mikehenrty commented on #471
Let's see if https://github.com/mozilla/voice-web/commit/c7d8fc7f63d0b4647c2c35cee1aaa6795f060a00 fixes this.

[2017-10-02 15:34] nevik commented on #434
alright 😉

@m-branson, please CC me once you've got something that you can share 😄

[2017-10-02 15:38] nevik opened #478 "Split stylesheet into multiple files"
The CV web frontend's stylesheet, [web/css/index.css](https://github.com/mozilla/voice-web/commit/1650efa5be2660c8e4f44a329a0bd3e71fda8aa5), has grown rather large and unwieldy.

We should break it down into smaller files (e.g. component-related styles should go in files next to component TSX files), which are then joined during compilation.

This ticket is a discussion result from #470.

Edit: @m

[2017-10-02 15:39] nevik commented on #470
A pity for me, but this isn't my personal hobby project. And promoting the adoption of (modern revisions of) open standards is definitely something I can get behind.

I split out the breaking-down of `index.css` into a separate issue :)

[2017-10-02 15:39] #470 closed

[2017-10-02 15:42] nevik commented on #402
Cool. I'll try to get around to this soon. It probably makes sense to remove `bluebird` and switch to async/await in one go.

@kenrick95 if you feel like doing this, and there isn't a PR from me today or tomorrow, go right ahead -- in that I case I probably won't get around to it until next weekend ;)

[2017-10-02 16:17] mikehenrty commented on #471
Yup, fixed by https://github.com/mozilla/voice-web/commit/c7d8fc7f63d0b4647c2c35cee1aaa6795f060a00

[2017-10-02 16:17] #471 closed

[2017-10-02 16:43] mikehenrty commented on #476
Yes please! This was not a decision, just lack of bandwidth. Now is definitely the time to start discussing these things.

[2017-10-02 16:49] mikehenrty commented on #477
I'm fine with switching to yarn (or can we support both)?

Either way, as long as it's not a big change switching back and forth, I think addressing the workflow nit you mentioned would be good (since we have mac, windows, and linux developers).

[2017-10-02 17:07] mikehenrty commented on #478
One idea here would be to move the page component css into separate files.
https://github.com/mozilla/voice-web/tree/master/web/src/lib/components/pages

[2017-10-02 17:23] nevik commented on #477
The idea behind using a lockfile (be it yarn's or npm's) is to ensure that each installation uses the exact same versions of all dependencies, i.e. reproducibility. (Doing it any other way usually leads to weird problems due to inconsistent deps sooner or later, especially with a CI system involved.)

You can technically always use yarn or npm to install locally (no matter which we "officially" us

[2017-10-02 20:15] m-branson commented on #465
@nevik agreed, the wordmark is one part of a potential branding system for Common Voice. :) An icon would be a nice addition that can be used with/without the wordmark in various applications.

I think @mikehenrty would agree with me when I say that we'd welcome early icon ideas. We aren't quite ready to run a sprint around a specific icon design, but when we are, already having a head start with

[2017-10-02 20:22] SHeredia opened #481 "Can't use Speak"
I've contributed over 350 spoken recordings but now it won't work for me.  I've tried resetting the microphone permissions and refreshing the page but it doesn't do anything when I click to record.

[2017-10-02 20:29] m-branson commented on #461
@mikehenrty inline are logo SVGs for implementation. Further assets (pngs, eps, ai file) in all versions are [here](https://drive.google.com/open?id=0B0vmiicLLrGuOU5fdjNHN093bm8).

`cv-logo-bw.svg` is your go to for primary usage; ~150px wide (as it is currently on the site) should still be ideal sizing. `cv-logo-one-color-white.svg` is best for the footer; ~100px wide there is just fine as well.

[2017-10-02 21:49] mikehenrty commented on #481
Oh no!

What is your browser, and what is your OS?

[2017-10-02 23:04] SHeredia commented on #481
I'm using Firefox on a Mac.

[2017-10-03 01:33] mikehenrty commented on #481
Can you tell me if there are any errors in the web console?

https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console

[2017-10-03 01:34] mikehenrty commented on #464
what browser and OS are you using @jf99 ? desktop?

[2017-10-03 11:17] echonox commented on #427
Any update on this? We can't contribute properly without a proper documentation..

[2017-10-03 11:20] echonox commented on #478
Wouldn't be also nice if we used pre-processor like LESS?

[2017-10-03 11:28] mikehenrty commented on #477
@nevik thanks for the background here. again, i'm fine with officially switching but we would need to add some documentation to explain installing yarn and why we chose it (over the default npm).

two other, lower footprint fixes would be:
1. removing package-lock.json from the repo
2. turn off optional dependency installation in .npmrc

Of the two above, I actually like 2. That way, development s

[2017-10-03 12:49] mikehenrty commented on #461
Welp, we ran into a roadblock. The SVG logo is not displaying properly in Firefox Nightly. I've filed a bug.

One other note is that the "Common Voice" part of the logo could be done in pure text (we already download the normally weighted font for this). The only issue is that the Common Voice text won't be bold (as that would require a separate download). Just an option if the bug below is taking

[2017-10-03 12:50] mikehenrty commented on #461
The other thing I want to be aware of is the fact that logo guidelines have been changing a lot the last few months. It might be better to wait until this stabilizes a bit, to avoid multiple updates to our site as we evolve our guidelines.

[2017-10-03 13:10] nevik commented on #461
Depending on the timelines of the word mark, new design and logo guidelines, it might be a good idea to delay updating the word mark until we have the design as well?

On the other hand, might be less surprising for users if we roll out these changes slowly...

[2017-10-03 13:18] nevik commented on #478
@echonox, the matter of preprocessors is discussed in the linked issue #470.
To summarize: for this project, we prefer to use modern (plain) CSS to promote adoption of open standards

[2017-10-03 14:05] mikehenrty commented on #423
Note that @carolstran is working on a first version of this in #480.

[2017-10-03 14:09] mikehenrty commented on #427
We are indeed working on updating the documentation in #423.

This bug is that there are unfriendly errors when someone has not configured their s3 buckets. Ideally we should support not having s3. So there are two possible steps to this bug:

1. Make the error message more friendly, and ask users to set up s3 and their aws config file.
2. Allow saving and reading from the local file system when s

[2017-10-03 14:41] jf99 commented on #464
Firefox 55.0.3 (64-bit) on Arch Linux.

[2017-10-03 15:17] jf99 commented on #464
Same on 32-bit Windows 7 with Firefox 56. No errors on the console.

[2017-10-03 15:45] jdittrich opened #483 "Debug experience: Several Files, React Dev tools"
**Usecase:** I would like to step through the code and use the react dev tools.

**Problem:** The code seems to be in one big file of 3000+ lines (at least with a source map, but still) and the react dev tools are not activated (though [they can work with preact, too](https://github.com/developit/preact/pull/339#issuecomment-252769393))

[2017-10-03 16:55] m-branson commented on #461
@mikehenrty, got it. Sorry to hear about the bug, if there's a chance it's an issue with the SVG please let me know.

True, though the text portion of the logo is 'semi-bold' and is required to be. If the SVG will mean faster load times (and less font loading), we should wait until the bug is resolved.

Understand the reservation, though I don't see this changing much more. This is the usual evolu

[2017-10-03 22:03] SHeredia commented on #481
I don't see anything written there.  I tried clicking for speaking, no message, I refreshed, no message, then I clicked to speak again, still nothing in the console section.

[2017-10-03 22:12] Omniscimus commented on #460
Just tried this. Calling the `MediaStreamTrack.stop()` function does release the microphone, but it doesn't remove the flashing microphone icon in Firefox. This icon indicates that you have given the website permission to record audio, not that the website is recording right now. I'll try to make a PR to release the microphone when possible anyway.

[2017-10-03 23:02] Omniscimus commented on #460
Hmm, after investigating this, I think releasing the microphone wouldn't help.

The flashing red microphone icon does not go away even when you completely release the microphone (as tested below anyway), because it's not about whether you're recording or having access to the microphone. It just means that you've granted microphone permissions to that website.

Additionally, it involves quite a lar

[2017-10-04 07:45] thehowl commented on #341
[Had some spare time.](https://gist.github.com/thehowl/4e8540fb9e5cfb37c9c39684158b469d) I agree to release this under the CC-0 License.

[2017-10-04 15:48] mikehenrty commented on #483
One thing we could do here is add a "Developer Mode" which would do things like:
* disable js bundling
* output source maps
* not minify css

Perhaps we could use a command like `gulp develop` or maybe even switch the gulp default to work this way (although I usually prefer defaulting to production).

[2017-10-04 16:07] jdittrich commented on #483
Yes, that would be awesome and would have helped me to understand the project and where I could start contributing!

[2017-10-04 16:26] Palciny opened #486 "Recording is not working after first correct submittion of recordings"
Enviromnent:
Nexus 5, Android 7.1.2, Firefox Nightly
Steps to reproduce:
1) Record first 3recordings
2) Play recordings - correct - submit
3) Record anither 3recordings
4) Play recordings - failed - voice was not recorded
5) If I submit these recordings Red counter adds 3points

[2017-10-04 16:40] #461 closed

[2017-10-04 16:42] mikehenrty commented on #461
The bug in Firefox had to do with the fact that the SVGs you provided used inline styling, and our security policy forbids that. I added some mechanisms (nonce) to allow the SVGs you provided to use inline. I'll push to the main site soon.

[2017-10-04 16:44] mikehenrty commented on #481
Hmm, do you have multiple tabs open with Common Voice (or perhaps other tabs which use the Microphone)? Can you try in a different browser just to see if it works?

[2017-10-04 16:48] mikehenrty commented on #460
Thanks for this careful investigation @Omniscimus .

It sounds like releasing the Microphone is not actually what we want here. Instead, let's just make sure that we stop actively recording when we switch pages, or the page loses focus. The only question would be, does this approach still fix the issue reported in #452?

[2017-10-04 17:02] mikehenrty commented on #341
Thanks everyone! We'll be adding these soon!

Yes, some jargon is good!

[2017-10-04 17:40] mikehenrty commented on #423
Thanks to @carolstran, we've got a great starting point from #427!! \o/ Let's continue to use this bug to talk about what we still need.

[2017-10-05 09:53] rndusr commented on #456
It's working again.
I didn't change anything.

[2017-10-05 11:17] mikehenrty commented on #456
Thanks for following up @rndusr . Let's reopen this is the problem resurfaces.

[2017-10-05 11:17] #456 closed

[2017-10-05 11:25] SHeredia commented on #481
I don't have other tabs with either Common Voice or microphone access open.

I ise a Mac and can't use Common Voice with the browser it comes with.
Firefox is the only other one I have installed. What's weird is that it
worked fine for a while.

Shannon
On Oct 4, 2017 12:45 PM, "Michael Henretty" <notifications@github.com>
wrote:

[2017-10-05 11:38] mikehenrty commented on #481
Yeah, and there could be more users like you having this problem. I'd love to get to the bottom of this if we can, and I appreciate your help.

Can you tell me what version of Firefox you are using? You can find out by selecting "Firefox" from the upper menu bar, then "About Firefox". In the pop-up window, there should be a number (and a date) right below the big Firefox title.

[2017-10-05 13:05] kenrick95 commented on #161
@mikehenrty add "Hacktoberfest" label to this issue too, maybe?

[2017-10-05 14:40] mikehenrty commented on #161
Good idea, but to be honest this is a harder problem than it looks. More like Trick-or-Treat than Hacktoberfest.

[2017-10-05 17:08] SHeredia commented on #481
This is what it says: 55.0.3 (64-bit)

Also, when I did that I noticed that there's an update for it so I've
started that, hopefully that's all that's needed!

On Thu, Oct 5, 2017 at 7:39 AM, Michael Henretty <notifications@github.com>
wrote:

[2017-10-05 17:09] SHeredia commented on #481
That did it!  I wish I'd realized there was an update sooner!

On Thu, Oct 5, 2017 at 1:08 PM, Shannon Bradbury <shannon.hully@gmail.com>
wrote:

[2017-10-05 18:05] mikehenrty commented on #481
That's great to hear. Let us know if the issue comes back.

Thanks for lending us your voice!

[2017-10-05 18:05] #481 closed

[2017-10-06 14:41] #464 closed

[2017-10-07 08:36] nevik commented on #477
@mikehenrty, option 2 is discussed in npm/npm#18135, the specific issue why I don't like that approach is:

In our case (`fsevents` being the package in question, for now), that _might_ work out fine, but I've seen reports in those two issue threads I linked that lack of `fsevents` on macOS can actually case very high CPU and memory usage.

Option 1 I would avoid, esp. since we're aiming to introd

[2017-10-07 18:45] nevik commented on #476
that's great to hear!

do you have any experience/preference in terms of testing frameworks/libraries and assertion libraries? (personally, I have some experience with [Jasmine](https://jasmine.github.io/), [karma](https://karma-runner.github.io/1.0/index.html), [mocha](https://mochajs.org), and [chai](http://chaijs.com))

[2017-10-07 20:35] jf99 commented on #341
Let me push 100 more sentences into the queue.
https://pastebin.com/pWtbqTW6

[2017-10-07 23:39] rmjordas opened #493 "Sentences use dumb quotes"
I noticed that a lot of sentences use dumb/straight quotes (instead of smart/curvy quotes). I’m no typography expert but from what I understand, dumb quotes should be avoided when the text is not source code\[1\]\[2\]?

\[1\]: https://www.typewolf.com/cheatsheet
\[2\]: https://practicaltypography.com/straight-and-curly-quotes.html

[2017-10-09 15:00] kenrick95 opened #494 "Build system should automatically import external libraries from node_modules"
Right now, I think the external libraries are manually added at `vendor/` folder and prepended into the final JS bundle during gulp build.

Because of this, I had quite some time troubleshooting how to integrate a new library into this project. (still not successful btw) Could the build system be improved such that external libraries are automatically imported from node_modules during building pro

[2017-10-09 18:10] HRusnica commented on #341
Here are my sentences.

https://pastebin.com/e0GzTMNd

[2017-10-10 00:17] andrenatal commented on #460
Hey guys, could you please test this page: https://people.xiph.org/~jm/demo/rnnoise/donate.html

Notice that when you click stop the red mike stops pulsing and completely disappears.

[2017-10-10 09:39] mikehenrty commented on #494
great idea! this way, we could also include things like minified or unminified sources based on a build flag, source maps, etc.

right now I think we have google-analytics, preact, and almond.js as our vendor libraries. if we could copy them over from node_modules rather than check them directly in, that would be ideal

[2017-10-10 12:07] nevik commented on #494
For the web part, webpack can do this (and is a currently very popular solution for it). I’m not sure if it works for our backend too, but it might.

I’ll see if I can investigate a bit this weekend, und less someone else already knows more or gets around to it before me

[2017-10-10 23:41] m-branson opened #495 "Remove 'home' from main navigation"
Remove the ‘home’ option in the navigation. Instead, utilize the Common Voice wordmark to bring users back to the homepage.

This is an effort to refine the user experience by improving page hierarchy through removal of extraneous UI elements and distracting color additions.

[2017-10-10 23:49] m-branson opened #496 "Update/Replace 'Try it!' copy on homepage"
Replace 'Try it!' `h1` on the homepage with the copy beneath it: 'Help us validate sentences!' <-- style as `h1`, keep all `text-color: #000000`.

<img width="807" alt="screen shot 2017-10-10 at 4 48 13 pm" src="https://user-images.githubusercontent.com/18686986/31415882-d8d7eef8-adda-11e7-9abd-02def52dfb4a.png">

[2017-10-10 23:55] m-branson opened #497 "Update footer help-links background color"
Footer `div #help-links` background color needs updating to `#e7e5e2` from `#3dfefd`. (Aligning to Mozilla brand colors.)

<img width="835" alt="screen shot 2017-10-10 at 4 54 48 pm" src="https://user-images.githubusercontent.com/18686986/31416085-c5bb2474-addb-11e7-8468-03b4ee4ca47c.png">

[2017-10-11 00:04] m-branson opened #498 "Update footer link color"
Update footer links to match primary green `#b7d43f` UI color.

<img width="498" alt="screen shot 2017-10-10 at 5 02 34 pm" src="https://user-images.githubusercontent.com/18686986/31416302-04b3caae-addd-11e7-8f64-41a145ca5d0e.png">

[2017-10-11 00:09] m-branson opened #499 "Update voice-submit headline/subhead"
For `div id=voice-submit` update:

- [ ] 'Thank you!' headline to 'Review & Submit'
- [ ] 'Want to review your recording?' subhead to 'Thank you for recording! Now review and submit your clips below.'
- [ ] For now maintain styling for both.

<img width="336" alt="screen shot 2017-10-10 at 5 08 57 pm" src="https://user-images.githubusercontent.com/18686986/31416408-bb5a60ec-addd-11e7-93cc-68f38e24

[2017-10-11 00:19] m-branson opened #500 "Update Play/Stop box-header"
For `div id=voice-submit` update `p id=box-headers` 'Play/Stop' to 'Review'

<img width="83" alt="screen shot 2017-10-10 at 5 19 05 pm" src="https://user-images.githubusercontent.com/18686986/31416613-25a539f8-addf-11e7-852c-984cfdfc9eb3.png">

[2017-10-11 00:25] m-branson opened #501 "Update sentence-box background color"
For `div class="sentence-box"` update to `background-color: #e7e5e2 `.

Intent is to differentiate this as a static object and improve legibility of the black text. Additionally the play and re-record buttons will appear more ‘clickable’.

<img width="461" alt="screen shot 2017-10-10 at 5 25 14 pm" src="https://user-images.githubusercontent.com/18686986/31416730-02a234e6-ade0-11e7-8fb0-3effcd77fcc

[2017-10-11 00:35] m-branson opened #502 "Update re-record icon"
For `div class=delete-box` update:

- [ ] the ‘x’ icon to a record icon -- reference #286
- [ ] green background changes to a black outline w/transparent fill
- [ ] add a hover state where button inverts to fill back with a white record icon

<img width="94" alt="screen shot 2017-10-10 at 5 31 41 pm" src="https://user-images.githubusercontent.com/18686986/31416877-f49e202a-ade0-11e7-89ed-606c5e0d5

[2017-10-12 01:09] m-branson opened #503 "Utilize Open Sans as primary sans-serif font-family"
Currently `voice.mozilla.org` utilizes default html values for sans-serif (Helvetica, Arial, etc).

To align with Mozilla brand UI standard, implement Open Sans as a replacement font-family for all sans-serif instances site wide.

Sizing and weight styling should still match current values, this is purely a font-family adjustment.

[2017-10-12 01:23] MikeAlphaBravo commented on #496
Michael A. Brooks & Margaret Berry are working on this pull request with a self deadline of Sunday Oct 15th end of day.

[2017-10-12 04:50] heltmm commented on #498
I can take this.

[2017-10-12 05:35] heltmm commented on #497
I can take this

[2017-10-12 14:28] MikeAlphaBravo commented on #499
Will be working on this.  Submit by Sunday October 15th.

[2017-10-13 20:39] tamarahills commented on #341
Here is my sentence:
https://pastebin.com/Ze45KJjC

[2017-10-13 20:55] mikehenrty commented on #495
I think we should keep Home in the mobile drop-down. What do you think @m-branson ?

[2017-10-14 02:01] margaret85 commented on #499
Finished fix Friday 10/13 at 7pm PST.

[2017-10-14 09:38] irmela commented on #501
I think this looks like a good issue to start with and to get to know the code base. Would like to work on this.

[2017-10-14 10:26] elahmo commented on #234
Are these still active? The Tems page seems aligned with other ones, and I couldn't find the dialogue for deletion of recordings at all, so I am wondering is this solved in some other contribution.

[2017-10-14 10:36] irmela commented on #502
Would like to work in this.

[2017-10-14 10:51] AlaaSarhan commented on #500
would like to work on this

[2017-10-14 11:18] mikehenrty commented on #234
Hi @elahmo. This is indeed still a problem, as we have 2 ways to show a confirm dialog.

When a user is agreeing to our Terms of Service, we embed the pop-up in the Pages component:
https://github.com/mozilla/voice-web/blob/bb08e7973a0434c4e13374558c1421ad5094dc12/web/src/lib/components/pages.tsx#L481

But when a user is asked whether or not to keep their recordings, we use the confirm component:

[2017-10-14 11:18] irmela commented on #501
@m-branson I have one suggestion about the icon type. What about using the `redo` icon?

![common voice 2017-10-14 13-10-03](https://user-images.githubusercontent.com/6471346/31575236-25f93408-b0e2-11e7-92d2-a08cdf46ef32.png)

[2017-10-14 11:19] irmela commented on #502
@m-branson I have one suggestion about the icon type. What about using the `redo` icon?

![common voice 2017-10-14 13-10-03](https://user-images.githubusercontent.com/6471346/31575238-4687dca6-b0e2-11e7-847e-a80e1e9d6d8e.png)

[2017-10-14 11:26] elahmo commented on #286
Working on this one :)

[2017-10-14 11:48] #501 closed

[2017-10-14 11:49] #500 closed

[2017-10-14 12:25] mikehenrty commented on #286
This is being handled in various broken out bugs. Since @elahmo fixed the undo arrow in https://github.com/mozilla/voice-web/commit/0cbfa132d55575d975fea3756d48081bec70966c, we will close this one.

[2017-10-14 12:25] #286 closed

[2017-10-14 12:39] #499 closed

[2017-10-14 12:41] elahmo commented on #467
How about using the Smart App Banner, which Apple (recommends)[https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html] as a native way to do this on iOS?

It will show the rating from the App Store, as well as show links to either Install or Open the app, depending is it installed on the de

[2017-10-14 12:53] #496 closed

[2017-10-14 13:42] nevik commented on #467
@elahmo that is already in progress in #484 :)

[2017-10-14 13:46] nevik commented on #402
Since #491 is now merged, we can use async/await in the server part as well :)

[2017-10-14 13:53] elahmo commented on #467
Oh, you might close this one then :)

[2017-10-14 14:03] elahmo commented on #285
Working on this, opening PR shortly! :)

[2017-10-15 16:25] mikehenrty commented on #427
There is now a better error message when s3 isn't configure so I'm going to mark this bug as closed. I'll open a new bug to document how to configure an s3 bucket, and credentials.

[2017-10-15 16:25] #427 closed

[2017-10-15 16:31] mikehenrty commented on #450
We've improved some error messaging, and some of the flow here. I'm going to close this for now, but let's re-open if it resurfaces.

[2017-10-15 16:31] #450 closed

[2017-10-15 16:48] mikehenrty opened #522 "[Docs] We need How-to guide for seting up S3 storage in CONTRIBUTING.md"
We need to describe:
1. How to set up an s3 account, [S3 homepage](https://aws.amazon.com/s3/).
2. How to retrieve and [save you credentials to a file](
http://docs.aws.amazon.com/AWSImportExport/latest/DG/SaveCredentials.html).

[2017-10-15 18:20] jdittrich commented on #502
@irmela: I think that would be a good choice! (maybe not *ideal* since it is not the same as undo, but certainly much better than the current "close" icon)

[2017-10-15 18:22] jdittrich commented on #493
I agree, that would be better.

However, I assume it is not an urgent issue, since I see no misunderstandings arising due to using the straight quotes.

[2017-10-15 22:17] #522 closed

[2017-10-16 03:56] mikehenrty commented on #497
closed in #506

[2017-10-16 03:56] #497 closed

[2017-10-16 03:57] mikehenrty commented on #498
Fixed by #505 .

[2017-10-16 03:57] #498 closed

[2017-10-16 04:21] #285 closed

[2017-10-16 04:47] mikehenrty commented on #172
This will be fixed in an upcoming redesign of the profile page.

[2017-10-16 04:47] #172 closed

[2017-10-16 13:43] #467 closed

[2017-10-16 13:51] #435 closed

[2017-10-16 14:12] kenrick95 commented on #476
To chime in, I have experience at work to write unit test using [Jest ](https://facebook.github.io/jest/) (+ [enzyme ](http://airbnb.io/enzyme/index.html) for rendering React components for testing)

[2017-10-16 14:45] mikehenrty commented on #494
See proof-of-concept for switching to Webpack in #508.

[2017-10-16 15:35] mikehenrty commented on #476
Most of my testing experience is with mocha, chai, and sinon. I'm not married to any toolkit though.

Here are some test suites we need:
1. Test main server api calls (run the server, load `web/src/lib/api.ts` in a unit testing framework)
1. Test that `index.html` can be loaded
1. Test all the gulp commands

[2017-10-16 16:40] #503 closed

[2017-10-16 17:03] mikehenrty commented on #502
I just spoke with @m-branson, and she likes the icon but I'll add a white background instead of transparent. I can do that after merging #512 .

[2017-10-16 17:03] #502 closed

[2017-10-16 17:46] mikehenrty opened #526 "[Bug] When re-recording, the re-recorded sentence moves to the bottom on submit screen"
Steps to reproduce:
1. Go to record/speak page
2. Record 3 clips
3. On submit confirmation screen, click the re-record button for the **first** clip
4. Re-record the clip

Expected result:
Submit screen shows the clips in the original order.

Actual result:
The re-recorded clip gets moved to the bottom of the screen.

[2017-10-16 17:48] m-branson commented on #502
Thanks @irmela! This is a step in the right direction! For now we'll get this implemented and continue to iterate (thinking a nearly full circle with the arrow would be more inline with re-record).

[2017-10-17 04:06] DNGros commented on #341
Here are a few hundred sentences I wrote.
https://pastebin.com/WUtc8CBy

Some thoughts as I was writing them:

I chose names to use in the sentence fairly randomly from a list of common names. Would it be advantageous and worthwhile to be able to randomly swap out names with other names to be able collect more pronunciations of names and in different contexts?

Similarly, going off of https://disc

[2017-10-18 12:56] mikehenrty commented on #341
Hi @DNGros, thanks for your sentences and for your thoughts here.

Swapping out names and pronoun usage is a good idea, but also a little hard to do (there are many contextual changes that make it not a straight swap). We might look into that in the future, but for now we will stick to just collecting sentences, and trying to keep the pronoun and name use balanced manually. I also agree this is no

[2017-10-18 13:22] gozer opened #528 "[leader] Need to use the environment we are in as part of the leadership process"

[2017-10-18 14:00] #528 closed

[2017-10-18 21:29] THEPADA opened #532 "Process YT videos to improve Common-voice"
Dear Mozilla-Community,

I've contributed to your Voice-Speech relation Database and wondered if you could'nt use Youtube and the Subtitiles from it. I understand, that not all sources are 100% reliable, but if you just use the videos which have real subtitles (and not autocreated one) you should have a lots of training data. Above all should the Videos + Subtitles from Channels like "In a Nutshel

[2017-10-19 13:40] mikehenrty commented on #532
Hi there @THEPADA, thank you for the idea!

Videos (or podcasts) with transcripts are indeed extremely valuable to this project. The problem is that we want to publish all the Common Voice data under a CC-0 license, which I understand is incompatible with the Youtube terms of service (see below).

That said, if you know of a source of transcribed videos which might be in the public domain (or whom

[2017-10-19 13:40] #532 closed

[2017-10-19 13:45] mikehenrty opened #533 "[Bug] Using back/forward button does not update the page content"
Step to reproduce:

1. Go to https://voice.mozilla.org/
2. Click on "Speak" or "Donate your voice!"
3. On the recording back, hit the back button

Expected Results:
The user returns to the home page.

Actual Results:
The URL is updated, but the content on the screen remains the same.

[2017-10-20 00:15] VestigeJ commented on #533
I'm looking into this but running out of time - a potentially helpful link to solving the problem.
https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onpopstate

[2017-10-20 05:36] nevik commented on #533
@kenrick95 do you know if preact-router takes care of this behavior?

[2017-10-20 06:25] kenrick95 commented on #533
It should just work as expected, [as I believe it already handles this case](https://github.com/developit/preact-router/blob/master/src/index.js#L140)

[2017-10-20 13:38] mikehenrty opened #534 "[Build] Add `gulp clean` task, and add it to the build flow"

[2017-10-20 13:57] #534 closed

[2017-10-20 14:37] jdittrich commented on #483
hi @mikehenrty any progress with this or any way I can help? I tried to configure this with gulp on my own, but I was unsuccessful.

[2017-10-20 22:31] Franck-Dernoncourt commented on #23
Regarding the use of Wikipedia, I'd point out that there exist the Spoken Wikipedia Corpora: http://nats.gitlab.io/swc/ (CC BY-SA 4.0 license):

![image](https://user-images.githubusercontent.com/15331/31844085-8ae1afc6-b5ab-11e7-8522-3fd2ca46cf65.png)

[2017-10-21 13:42] carolstran commented on #423
Hey @mikehenrty, I'd love to add an explanation of issue labels to the contributing guides. So far I've noticed these ones:

help wanted
Triage (? A previous comment here suggested "indicating how you use and interpret the triage tag, and how this affects ready for development", but I'm not sure what that means)

2: non-technical (why the 2?)

OS: Windows
OS: Android
OS: iOS
Browser: Focus
App: iO

[2017-10-21 21:02] mikehenrty commented on #447
This file is deprecated and will soon be removed from the repo. Closing.

[2017-10-21 21:02] #447 closed

[2017-10-23 09:23] mikehenrty commented on #244
We are going to try and publish the VoxForge data along with our own. Let's close this for now as something we are exploring.

[2017-10-23 09:23] #244 closed

[2017-10-23 09:29] mikehenrty commented on #301
We now put a warning in the console if the recording was silent, what's left is to display a message to the user when this happens, and not allow the recording to be submitted.

We are waiting on some designs from UX for this.

[2017-10-23 09:30] mikehenrty commented on #312
Our new specs allow users to enter demographics in the recording flow, let's use this bug to track that.

[2017-10-23 09:34] mikehenrty commented on #346
From a code perspective, there is not much we can do to prevent users from ending their recording early.

However, we do want to explain clearly to users that if a recording is cut off, it should be validated as "Nope".

With that in mind, I'm going to mark this on a duplicate of the bug for properly explaining validation criteria.

Duplicate of #273.

[2017-10-23 09:34] #346 closed

[2017-10-23 09:35] mikehenrty commented on #352
We will try to publish the Common Voice data and have links (or bundles to LibroVox). Thanks for the suggestion @MichaelNMaggs !

[2017-10-23 09:35] #352 closed

[2017-10-23 09:36] mikehenrty commented on #369
I haven't seen this bug for a while, so am going to close. If this resurfaces, let's reopen and investigate.

[2017-10-23 09:36] #369 closed

[2017-10-23 09:40] mikehenrty commented on #402
We are now using async/await in multiple places, and will continue to use it going forward. Let's incrementally switch to this new API when we touch parts of the code rather than doing large refactorings.

With that in mind, I'm closing this bug as we won't have separated work for this.

[2017-10-23 09:40] #402 closed

[2017-10-23 09:41] mikehenrty commented on #407
see also #278, which is about skipping speak

[2017-10-23 09:41] mikehenrty commented on #278
see also #407, which is about skipping validations

[2017-10-23 09:43] mikehenrty commented on #440
This should be fixed in the new designs, but we will keep this bug around for now.

[2017-10-23 09:45] mikehenrty commented on #453
Let's close this one in favor of #301 since it's older and has more information.

[2017-10-23 09:45] #453 closed

[2017-10-23 09:50] mikehenrty commented on #486
Can anyone else with an Android phone test this?

[2017-10-23 09:56] mikehenrty commented on #495
@greegoor can you take a look?

[2017-10-23 11:34] NAHarris commented on #382
Perhaps just start by seting a hard limit of (say) 60 seconds, and, after submission, silently discard samples longer than this? This would deal with the worst cases without needing to create any complex logic.

[2017-10-23 12:55] Gregoor opened #541 "Replace getElementById/querySelector with React refs"
There are a couple of components that use `document.getElementById` and `document.querySelector`:
https://github.com/mozilla/voice-web/search?utf8=%E2%9C%93&q=document.getelementbyid&type=

Replace those with [React's ref](https://reactjs.org/docs/refs-and-the-dom.html) so it's more React-idiomatic.

[2017-10-23 14:49] Gregoor commented on #478
Created a PR for it. While splitting up the CSS I discovered a couple of unused selectors. Haven't yet found a good CSS methodology that prevents that kind of problem (which'll turn into bloat and unmaintainable CSS when the project gets large). The best solution I know is [Styled Component](https://www.styled-components.com/), though that is radically different and not quite standard CSS (but sta

[2017-10-23 16:06] jcfausto commented on #541
I would like to work on this issue :-) I'll submit a PR most likely by this Sunday with these improvements.

[2017-10-24 10:29] Gregoor opened #543 "Split up config and only access it one place"
- split up config into
  - user specific config
    - simple JSON file
    - gitignore it
    - add description in CONTRIBUTING.md
  - main config imports user config and merges it with defaults
- only access main config in one place and pass it through
  - https://github.com/mozilla/voice-web/search?utf8=%E2%9C%93&q=config.json&type=
  - facilitates testability

[2017-10-24 13:11] mikehenrty commented on #477
We use yarn now! \o/

https://github.com/mozilla/voice-web/commit/cdc936beb32c1f9cd97a3a041cd15ea3e22f2da7

[2017-10-24 13:11] #477 closed

[2017-10-24 13:54] mikehenrty commented on #543
I'm going to take a stab at this one.

[2017-10-24 13:59] Gregoor commented on #495
@mikehenrty .close(this)

[2017-10-24 14:04] #533 closed

[2017-10-24 14:15] #495 closed

[2017-10-24 14:19] mikehenrty opened #544 "Only access `config.json` in one place, and pass it into the server"
Right now, separate files access the config.json file, and that makes things like automated testing harder. Let's fix this!

This blocks #543

[2017-10-24 16:57] SirCmpwn commented on #213
I can provide non-native Japanese samples, validation, and localization. I think it's important to expand this tool's capability to more languages.

[2017-10-24 18:01] Gregoor opened #546 "Redesign text-box card"
- change dropshadow
- more space around the text

![record-text-box](https://user-images.githubusercontent.com/4051932/31959693-abf16bd2-b8f5-11e7-959d-e70d7f95350f.png)

[2017-10-24 18:18] Gregoor opened #548 "Redesign record button"
- reorder button and text
- put index of recording underneath the button (and color it)
- recolor the button

![record](https://user-images.githubusercontent.com/4051932/31960613-9d3e36b2-b8f8-11e7-90cd-5daf12d93feb.jpg)

[2017-10-24 18:22] Gregoor opened #549 "Add Profile actions underneath record"
- horizontal divider
- Create Profile Button for #550
- Why Profile link-button with closable explanation (filler text for now)

Default State:
![record](https://user-images.githubusercontent.com/4051932/31960736-f6e8c9c0-b8f8-11e7-8f5e-fbb7700330f1.jpg)

After clicking "Why a profile?":
![record-why-profile](https://user-images.githubusercontent.com/4051932/31960761-099c7a4e-b8f9-11e7-9e05-da224f

[2017-10-24 18:26] Gregoor opened #550 "Profile Form underneath Record"
Depends on #549

When "Create a Profile" is clicked, Profile Form should be shown:
![record-with-profile](https://user-images.githubusercontent.com/4051932/31960931-89e5a4c8-b8f9-11e7-87ae-c5f7753ebb5d.jpg)

[2017-10-24 19:17] ReneVolution commented on #548
Is this still up for grab?

[2017-10-24 19:37] nevik commented on #477
🎉🎉🎉🎉

[2017-10-24 19:39] nevik commented on #533
@Gregoor i see what you've been doing and I approve of it :D

[2017-10-24 20:08] Gregoor commented on #533
I appreciate the approval :)

[2017-10-24 20:41] iain8 commented on #546
hi @Gregoor I have some time this afternoon to look at some of the record page things.

[2017-10-25 02:26] MikeAlphaBravo commented on #493
For clarification, are you looking to change just the visible in browser " and ' to curly quotes?

[2017-10-25 08:47] #544 closed

[2017-10-25 13:36] mikehenrty opened #555 "Gulpfile.js still uses npm install, should be changed to `yarn`"
We have a gulp task called `npm-install` that will install all dependencies when you change the package.json file, or we deploy to prod. This should be changed to use yarn instead.

[2017-10-25 13:45] ozipi commented on #555
https://github.com/mozilla/voice-web/pull/556 done

[2017-10-25 16:19] gozer opened #557 "Forward logs doesn't start at the beginning"

[2017-10-25 16:27] #557 closed

[2017-10-25 16:56] jcfausto opened #560 "HOWTO_S3.md - Setting up S3 Storage - small typo"
I found a typo on [HOWTO_S3.md](https://github.com/jcfausto/voice-web/blob/master/docs/HOWTO_S3.md) while I was setting up my local environment.

====
Create a new S3 bucket:
1. Log into your new Amazon Services account:
2. Choose "S3" under the "Storage" **catagory** in the "Services" drop down.

====

The word "catagory" should be corrected to "category".

Shall I fix and and submit a PR for thi

[2017-10-25 17:25] mikehenrty commented on #560
Yes please! Good catch!

[2017-10-25 17:40] jcfausto commented on #560
Ok. I'll do it.

[2017-10-25 22:02] meldenne commented on #213
I wanna help with Portuguese samples.

[2017-10-25 22:31] mikehenrty opened #562 "[nubis] Apache: Use gzip compression for transferring compressable responses"
FAILED - (127.8 KB, compressed = 31.0 KB - savings of 96.8 KB) - https://voice.mozilla.org/dist/bundle.js
FAILED - (27.3 KB, compressed = 5.3 KB - savings of 22.0 KB) - https://voice.mozilla.org/dist/index.css
FAILED - (9.4 KB, compressed = 2.9 KB - savings of 6.5 KB) - https://voice.mozilla.org/img/cv-logo-bw.svg
FAILED - (8.2 KB, compressed = 2.8 KB - savings of 5.4 KB) - https://voice.mozilla.o

[2017-10-25 22:35] mikehenrty opened #563 "[nubis] Apache: longer caching to /web/img/ folder"
FAILED - (30.0 minutes) - https://voice.mozilla.org/img/curved-arrow.png
FAILED - (30.0 minutes) - https://voice.mozilla.org/img/circle.png
FAILED - (30.0 minutes) - https://voice.mozilla.org/img/wave-red-mobile.png
FAILED - (30.0 minutes) - https://voice.mozilla.org/img/wave-red-large.png
FAILED - (30.0 minutes) - https://voice.mozilla.org/img/wave-blue-mobile.png
FAILED - (30.0 minutes) - https:

[2017-10-25 22:37] #560 closed

[2017-10-25 23:17] mikehenrty commented on #423
@carolstran thanks for improving this even more!

For a full list, you can check out:
https://github.com/mozilla/voice-web/labels

In general I bet your intuition will be right. If you submit an initial PR, I can fix up any things needed.

P1: These are bugs that the community has deemed important by giving it 5 or more likes.

I removed P2 since we we're really using it.

[2017-10-26 00:48] iveskins commented on #346
What would be the effect of putting a bit of delay on the stopRecording function in the onRecordClick function?

[2017-10-26 05:12] epq commented on #549
Hi! I'd like to work on this issue.

[2017-10-27 13:49] #546 closed

[2017-10-27 14:04] #548 closed

[2017-10-27 14:41] #549 closed

[2017-10-27 14:44] #555 closed

[2017-10-27 14:50] Gregoor opened #565 "Why Profile Text"
Assigning this to you @mikehenrty, because I'm not sure if you'd like my prose for this
https://github.com/mozilla/voice-web/blob/c4202c479b1caa9014f731e6d8af35f0ff15f68a/web/src/lib/components/pages/record/record.tsx#L454-L456

[2017-10-27 14:58] Gregoor opened #566 "Review Recordings Redesign"
rrrr

Maybe extract the record text-box card into its own component, so we can reuse it here.

![review-summary](https://user-images.githubusercontent.com/4051932/32110404-bf8aee86-bb37-11e7-8042-483a5356002f.jpg)

[2017-10-27 15:03] Gregoor opened #567 "Submit Success "alert""
Create a closable alert component where one can supply a text as a child. We're going to reuse that one!

And then we need to show it after recordings where submitted (as seen below). Probably best if the alert is also closed, when the user clicks record.

![submit-success](https://user-images.githubusercontent.com/4051932/32110684-6d70e4e2-bb38-11e7-8980-d440634110f6.jpg)

[2017-10-27 15:17] #543 closed

[2017-10-27 15:18] Gregoor commented on #550
I'm going to take a stab at it 🍴

[2017-10-27 17:22] drashti4 commented on #341
Hi there! I am willing to add more sentence to this project. I've few questions.
- Do you want any random sentence or any priority based on tone or other various factor
- Can I add local words which is famous global. E.G "accha" is accepted by Oxford to consider as okay and "Jugaad" is also a famous word in India.

[2017-10-28 13:25] #541 closed

[2017-10-28 14:12] jcfausto opened #569 "Unsupported signature version for S3 when using eu-central-1 region"
**The problem**
When loading the home page, the requests to GET the audio resources are being rejected by AWS due to unsupported signature version. As a consequence, I cannot play the audio clips in the listen-box component. This component stays disabled.

[code]

[code]
**The cause**
I did my S3 setup to use eu-central-1 region (Frankfurt). This region, and most of the recently created ones, does

[2017-10-28 15:18] solomonsunder commented on #213
Maybe Tamil texts can be obtained from Tamil Wikipedia? Gov of Tamil Nadu has passed an order asking a local University to submit articles in Wikipedia under the CC licence.

[2017-10-29 13:25] nevik commented on #478
@mikehenrty i guess this is done with #542? ;)

[2017-10-29 13:48] nevik commented on #566
@Gregoor are the new "play" and "re-record" icons shown here available somewhere?

also, would be great if you could describe/highlight (e.g. in screenshot) what part of the (re)design is part of this ticket :)

[2017-10-29 16:19] #478 closed

[2017-10-29 17:46] Gregoor commented on #566
@nevik Right, good points! We don't have an export of these assets yet, so for now placeholders would need to be used. I'll add them to this card, as soon as we have them.

#564  and #550 cover the profile stuff under the `<hr/>`, so this issue only relates to:
![screenshot-2017-10-29 32110404-bf8aee86-bb37-11e7-8042-483a5356002f jpg jpeg image 2880 x 3156 pixels](https://user-images.githubusercon

[2017-10-29 23:08] MichaelNMaggs commented on #341
Hi, I've done some for you, all released under CC0.  I've tried to include a wide variety of the most commons verbs and nouns in English, as well as quite a few numbers.  Hope that helps.

https://pastebin.com/ZpWty4LR

[2017-10-30 05:08] aerohitk commented on #567
@Gregoor I would like to take a shot at this, if that's alright?

[2017-10-30 10:04] Gregoor commented on #567
@aerohitk that's more than alright :)

[2017-10-30 11:16] nevik opened #576 "Set up SonarQube (static code quality analyzer)"
In order to improve and maintain code quality in the project (in the interest of maintainability and further development), I think we should set up a static code quality analyzer like [SonarQube](https://www.sonarqube.org).

SonarQube can be installed "locally" (i.e. on our own servers) if we want, but they also offer [cloud-hosted instances](https://about.sonarcloud.io), which are free for open s

[2017-10-30 14:08] Gregoor commented on #576
I'm all for having a linter on this project. Since we're already using ESLint for prettier and it being the quasi standard in the JS community, I'd tend to go with that. Does SonarQube offer something we couldn't do with ESLint? (or is just too inconvenient with it?)
I did look into setting up some basic sanity ESLint rules for this project before (namely no-unused-vars). Unfortunately there were

[2017-10-30 14:13] nevik commented on #576
SonarQube is not (just) a linter, it has rules to go much further in terms of code quality analysis.

It can give you warnings when a class has too many static dependencies (e.g. number of imports), hinting at too many responsibilities being put into a single class.

It also does more data flow analysis than the typescript compiler does. So it can tell you if you're if-checking for a case that's a

[2017-10-30 14:15] Gregoor opened #579 "Save Profile Success Alert"
When alerts are implemented (#567), we'll also need to add one for profile creation (inside of the record page):

![Save Alert](https://screenshots.firefoxusercontent.com/images/a7221603-87c7-4715-8b73-7eb0e2530f87.png)

[2017-10-30 15:28] Gregoor commented on #576
I think no of imports, is something eslint could also do. But data flow analysis would definitely be out of its reach.

[2017-10-30 15:31] Gregoor commented on #566
Okay okay I'll do it 👷

[2017-10-30 16:13] Gregoor commented on #566
Alright, I'll take it

[2017-10-31 13:42] nevik opened #582 "[web] Refactoring list & discussion"
From looking through and working with the code, I've found a few things I'd like to improve by refactoring. Overall, the goals here are improved legibility and thereby improved maintainability and extensibility, for an overall more robust and better-quality code base.

The idea is that this is a jumping off point for the things I've collected so far.
If certain points are rejected entirely by the

[2017-10-31 14:17] nevik commented on #576
@Gregoor @mikehenrty since the cloud-hosted version of SonarQube (again: free for OSS project) needs maintainer/admin access to the repo (or possibly the org), you guys would need to take care of this (or kick it off with the right people at the mozilla org).

[2017-10-31 14:19] nevik commented on #567
@Gregoor i'd prefer to name this element a "notification banner" or similar. For me, an "alert" (at least in a web context) refers to something like a popup or modal dialog - from what I can tell, the element we want here is not as aggressive as that.

[2017-11-01 09:21] Gregoor commented on #567
@nevik while I agree with you about the literal meaning of an alert, this is the naming bootstrap & foundation went with for such a component. So, it's hard to say what's the web standard here.
Notification is imo a bit off as well, since we do have real notifications on the web now.

[2017-11-01 10:33] Gregoor commented on #582
I agree with most of those. At first I was a bit hesitant on not using default exports anymore, but there's some good reasoning there. Though refactoring could also be solved by better tooling and there might just be eslint rules for enforcing default imports to match the module name.
___
Moving `@import`s to the top of the file, is an issue that requires disentangling the cascade. Also while we'r

[2017-11-01 10:47] #526 closed

[2017-11-01 10:54] mikehenrty commented on #569
excellent analysis @jcfausto ! yes please submit a PR based on your branch above. thank you!

[2017-11-01 10:57] #550 closed

[2017-11-01 11:56] nevik commented on #582
re: default exports:
i prefer using the compiler for what it can do, instead of relying on the linter :)

re: `@import`s:
yeah, i think reducing the cascading of the style sheets a bit is a good idea. other than some global styles (e.g. regular links), i think the idea of components is good for also encapsulating styles with them (and scoping them so closely they're not likely to affect other thin

[2017-11-01 12:02] nevik commented on #567
fair enough, then let's keep the nomenclature that way :)

[2017-11-01 12:14] jibe-b opened #584 "[link] Possible resource: BBC speech-to-text project"
In case it stayed out of your radar:

http://www.bbc.co.uk/rd/projects/speech-to-text

[2017-11-01 13:35] kenrick95 commented on #582
Re: CSS imports: I agree that styles written for a component should be encapsulated within the component. But to me, using styled-components, could be quite a big change from what is already being used. One style that I like (and is being used at my daily job) is writing a style (SCSS) file alongside a component with a BEM naming convention (the "block" being the component itself) and then at the

[2017-11-01 13:43] #565 closed

[2017-11-01 14:11] mikehenrty commented on #341
Hi @drashti4!
* Random sentences are fine for now.
* Sure, if a word is in the Oxford dictionary, consider it fair game :)

[2017-11-01 14:24] Gregoor opened #586 "Profile Redesign"
![3095cd6f-bb68-4101-bd0b-375e5d6f1bcd](https://user-images.githubusercontent.com/4051932/32279096-fc13d816-bf17-11e7-8cfc-c445b5f67480.png)

This would be used for the profile page, as well as the profile form underneath record (see #550).

My thinking is that it'd have a `onClose?: Function` prop, which would determine whether the `Exit Form`-Button would be shown. On the profile page it should

[2017-11-01 14:36] Gregoor opened #587 "Privacy Link not working"
Repro:

1. Open https://voice.mozilla.org/privacy
2. Click "Learn more"
3. Weep a million tears

[2017-11-01 17:29] Gregoor opened #589 "Go back in recording overlapping on mobile"
![voice allizom org_record nexus 5x](https://user-images.githubusercontent.com/4051932/32287921-93c853e8-bf32-11e7-9c43-326eef2c4fb9.png)

Open to suggestions how to solve this. Maybe just move it down on mobile?

[2017-11-01 17:53] jcfausto commented on #569
Cool. Thanks, @mikehenrty. PR submitted.

[2017-11-01 18:27] mikehenrty commented on #584
Great @jibe-b ! I wasn't aware of that, and I've added it to a list I have for places to investigate :)

cc @kdavis-mozilla

[2017-11-01 18:27] #584 closed

[2017-11-01 18:30] Gregoor opened #591 "(Maybe) move to React 16"
We're considering moving to React 16, as it has some niceties we'd want (and it's not foreseeable that Preact will get those anytime soon). Those are:
- [ability to return null, arrays, strings,...](https://reactjs.org/docs/react-component.html#render)
- [portals](https://reactjs.org/docs/portals.html) 🌌
- larger ecosystem, as some modules are already using React 16 exclusive features, which makes

[2017-11-02 07:50] kdavis-mozilla commented on #584
I've talked with this group extensively. We are not able to use any of their data due to legal constraints

[2017-11-02 10:00] #566 closed

[2017-11-02 11:11] Gregoor commented on #591
Okay, I hit a blocker. In our "router" we're using preact's top level render function and its third argument, which is `replaceNode`. Now I'd just remove the element given for `replaceNode` before rendering, but that is bound to have a perf penalty as React would rebuild the DOM (in contrast to preact's-render with `replaceNode` which tries to update it). Short term, for the React migration we cou

[2017-11-02 11:56] mikehenrty opened #592 "[Sourcemaps] Call stack is wrong"
If I set a breakpoint somewhere in a TypeScript file (like api.ts for instance), when the browser pauses, the callstack will show a bunch of random places in the code rather than the actual function calls that led to where we are.

Perhaps this is because the preact sourcemap is missing?

[2017-11-02 14:37] Gregoor commented on #586
No takers? Okay, I takers

[2017-11-02 14:54] Gregoor opened #593 "Unify Modals"
Create a Modal component, that replaces `confirm.tsx` and `.overlay` (used for Privacy). It would also be used for the Contact Form and Keep/Delete Data Modals from the new designs.

To not reinvent the wheel (and decrease the amount of code we have to maintain), I'd like to go with `react-modal`. Unfortunately `preact` can't keep its API-compatibility promise here, especially not for React 16, so

[2017-11-02 15:26] Gregoor commented on #593
Oh, overlooked #234. Closing this as it is a duplicate of it.

[2017-11-02 15:26] #593 closed

[2017-11-02 16:44] Gregoor opened #594 "Landing Page Redesign"
This is what it should look like:
![landing](https://user-images.githubusercontent.com/4051932/32338631-a5330452-bff5-11e7-8a34-984138de2342.jpg)

For the welcome message, I'd go with:
"Project Common Voice is a Mozilla venture to make quality voice data more readily available."
But I hope @mikehenrty has something better for it 🙃

Functionality wise we got:
- the "speak up, contribute here!"-butt

[2017-11-02 16:46] Gregoor opened #595 "Project status box on the landing page"
Depends on #594

![project-status](https://user-images.githubusercontent.com/4051932/32338659-b79f378c-bff5-11e7-850c-97f96f81ec3e.jpg)

Requires BE changes (i.e. an API endpoint for getting the no of validated hours)

[2017-11-02 16:55] Gregoor opened #596 "Menu Redesign"
![menu](https://user-images.githubusercontent.com/4051932/32338883-4e3d7172-bff6-11e7-961c-728b3e78dc8c.jpg)

- move it to the top
- remove the black hero border
- active links should be `--color-speak-dark`
- only 2 items for now
  - Speak
  - Profile
  - the squiggly blue lines indicate a third item, that we'll add later, so best consider that while layouting
- listen page can be removed
- mobil

[2017-11-02 17:03] Gregoor commented on #586
No takers? Then I'll takers

[2017-11-02 18:14] Gregoor opened #597 "Listen not working in IE11"
Since I learned today that we're supporting, I took that bad boy for a ride around our site. Unfortunately the listen-box just said `undefined` 😞
Of course my first reaction was to check GA to see whether I can rationalize the problem away, but we did indeed have ~70 IE11 sessions in the last month, so there's people we're letting down. If there's an IE veteran here who'd like to take this on...

[2017-11-02 19:06] praxnex opened #598 "Standard approach - Harvard Sentences"
In the 1980's many speech recognition projects used the so-called "Harvard Sentences". These provided overlapping coverage of synonyms, transitions, and diphones. These are well understood and therefore have codecs to decompose and associate with dictionaries.
The general collection of speech as in the Mozilla voice app, tends to help with cultural and regional variation in pronunciation. Addition

[2017-11-03 11:31] mikehenrty commented on #591
I'm all for cleaning up `app.tsx`, it's a little bit of a frankenstein's monster right now

[2017-11-03 11:41] mikehenrty commented on #598
Great find! Looks like the Harvard Sentences live here:
http://www.cs.columbia.edu/~hgs/audio/harvard.html

Would be great if someone could make a PR adding a `harvard-sentences.txt` file with the above sentences into the `server/data` folder.

[2017-11-03 11:42] mikehenrty commented on #598
Looks like there are a bunch of other sentences here:
http://www.voiptroubleshooter.com/open_speech/index.html

[2017-11-03 11:55] mikehenrty commented on #594
For the welcome message, how about:

"The Common Voice project is Mozilla's initiative to help teach machines how real people speak"

[2017-11-03 14:30] iveskins commented on #598
There is a lot more sentences hosted here
http://www.cs.cmu.edu/afs/cs.cmu.edu/project/fgdata/OldFiles/Recorder.app/utterances/
The http://www.cs.cmu.edu/afs/cs.cmu.edu/project/fgdata/OldFiles/Recorder.app/utterances/Type1/ folder seems to have sentences grouped by phoenetic features.
I could make a PR, but what about usage rights?

[2017-11-03 16:05] mikehenrty commented on #598
@iveskins the hardvard sentences look like fair game to me (i didn't see copyright information on any of the sites hosting it, but there is language that says we can "freely use" them.

for the other utterances you found, i couldn't find any licensing information at first glance. if we can find something like that, I think we will be able to use it.

[2017-11-03 18:56] mikehenrty opened #602 "Spritesheet our Robot"
Right now, we load and swap svg images for our robot. This leads to unpredictability for when the image actually updates on the screen, and is not good network performance. We should put all the robot images in a spritesheet, and use background-position.

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Implementing_image_sprites_in_CSS

[2017-11-03 21:53] MichaelNMaggs commented on #341
Are you still in need of more? It doesn't seem that any of the sentences added over the last month have been used yet.

[2017-11-04 15:30] mikehenrty opened #604 "[Slack] help us set up an auto-invite bot for slack."
We already set up a Slack channel, common-voice.slack.com. But unfortunately, we haven't had time or knowledge to set up the auto-invite bot. If someone out there would like to help us out, we would switch from IRC to Slack for our official chat channel.

[2017-11-04 15:36] mikehenrty opened #605 "[iOS] The app on iOS shows the "Open in App" banner."
This check must be failing:

https://github.com/mozilla/voice-web/blob/master/web/src/lib/components/pages.tsx#L351

[2017-11-04 15:38] mikehenrty opened #606 "Listen box should have white background, not transparent."
The listen box component has a dom element that displays the text of the sentence being read. Right now, this element has a transparent background, and so you can see content behind it whenever it overlaps. Let's make it white instead.

[2017-11-04 18:57] #562 closed

[2017-11-04 22:35] #569 closed

[2017-11-05 02:49] iveskins opened #608 "Review button during playback not working"
After recording a set of sentences, when reviewing your recordings, if you press the play button on a sentence and then while the audio is still playing, press the re-record button, the re-record button will be highlighted black, and the audio will stop, but you won't be taken to the redo page. At this point you have to push the re-record button again.
I expected the button to work the same way (o

[2017-11-05 02:52] iveskins opened #609 "AsdBack button on"

[2017-11-05 02:52] #609 closed

[2017-11-05 02:57] iveskins opened #610 "Add back button on re-record view."
It is possible to enter the re-record view for a sentence by accident. In this case there seems to be no choice but to re-record the sentence,  even if it is fine. It would be helpful to have a way to return to the review view without re-recording a sentence.

[2017-11-05 03:18] iveskins opened #611 "Re-record page starts scrolled down and obscures start of long sentences."
On Android mobile.
When re-recording a sentence that is over there lines, the first line is not visible when the view loads because the page is scrolled down. See picture.
Voice https://imgur.com/gallery/5pmDH

[2017-11-06 10:13] realitix opened #614 "[Proposal] Add support for OpenStack Swift API"
Hello,
Currently, *voice-web* needs Amazon S3 to work properly. I tried some hacks to make it work with OpenStack Swift but it's not straightforward and buggy.

What do you think about adding support for OpenStack Swift API ?

Sincerely,
Jean-Sébastien Bevilacqua

[2017-11-06 15:32] #567 closed

[2017-11-06 15:54] #586 closed

[2017-11-06 16:21] #589 closed

[2017-11-06 16:54] Gregoor commented on #592
After #615 has landed, this could be solved like this:
- use `cheap-module-eval-source-map` in `webpack.dev.config.js`
- `"sourceMap": true` in tsconfig
- disable the CSP header during development (use the config.prod flag)

[2017-11-06 17:58] Gregoor commented on #604
https://common-voice-slack-invite.herokuapp.com/
@mikehenrty Should we put in the README, CONTRIBUTING or directly on the site? Personally, I'd go with 1 & 3.

[2017-11-06 22:50] #494 closed

[2017-11-06 22:57] mikehenrty commented on #604
Brilliant!

[2017-11-06 23:00] #604 closed

[2017-11-07 01:32] #563 closed

[2017-11-07 01:36] mikehenrty commented on #614
I like the idea!

The other approach would be to allow saving and loading clips from the local file system. The server actually used to work this way, and I hope it wouldn't be too bad allowing that option.

Here's the commit where we switched to S3:
https://github.com/mozilla/voice-web/commit/83088c8f6c161a6db8340e8f3fb4bce5aa646e06

[2017-11-07 10:55] mikehenrty commented on #341
Yes, we still need more! I would also love some help getting the sentences adding in the next month into PRs.

[2017-11-07 12:29] MichaelNMaggs commented on #611
I see the same on my iPhone

[2017-11-07 17:24] MichaelNMaggs commented on #341
In that case, here are some more for you, again released under CC0.  In this set I've tried to inject some of the commonest British English words and idioms, as suggested by a useful list on Wikipedia. The intent is to widen the range of international expressions, so that the corpus doesn't become overly focused on US-English.

https://pastebin.com/vCLjK3DQ

[2017-11-08 11:37] mikehenrty opened #617 "Consider using Microsoft WikiQA corpus"
We need to figure out that license, and if it is compatible with cc-0.

https://www.microsoft.com/en-us/download/details.aspx?id=52419

Related to #23

[2017-11-08 14:42] kenrick95 commented on #617
From a lay man point of view, I don't think it could be considered as CC-0 Public Domain, since it specifically says that this dataset is only for use in research purposes only and does not allow usage in commercial product without Microsoft's permission. (there is a LICENSE.pdf in the zip file)

[2017-11-08 16:14] kjanko opened #618 "Re-thinking the existing verification module"
I think the verification module can be totally removed for the English version of Common Voice.
I propose to use an existing production STT system that'd label the speech that was recorded by the user. Then we can use doc2vec to convert the labeled sentence into a vector and compute the distance to the original sentence vector. If the distance is above a certain threshold (should be statistically

[2017-11-08 18:41] #454 closed

[2017-11-08 18:41] #591 closed

[2017-11-08 18:45] #587 closed

[2017-11-08 19:58] DNGros commented on #618
This could be a good way of speeding validation. Though, I don't think the human can go out of the picture. The goal is to improve on existing openly available systems, so there could be a lot of false negatives. Using a doc2vec threshold could help, but ideally you want the cleanest data and avoid anything but an exact match.
But there could be a system where you run it through a existing SST sys

[2017-11-09 06:11] iveskins commented on #618
What about speech that is accented, has bad audio quality, or for some reason would not be identified correctly with existing stt systems. I sometimes find myself having to use an american accent to even get google stt to give me the word I want. Would this introduce a bias into the data that is not there with human validation?

[2017-11-09 11:01] kjanko commented on #618
@iveskins that's where the threshold would come into play. If appropriately chosen it shouldn't introduce any bias. But without seeing the data distribution It's hard to say. Another approach would be removing outliers from clusters where each cluster would be a single sentence.

[2017-11-09 12:30] iveskins commented on #598
So looking at https://www.lti.cs.cmu.edu/directory/all/154/1, there is a list of staff, some of whom might know about these files..
Maxine Eskenazi who wrote a book "Crowdsourcing for Speech Processing" , might be interested in helping.
I could email and ask if there is anyone who could give information about the licensing of those files. But is that in the scope of public contributing to this pro

[2017-11-09 13:15] mikehenrty commented on #618
Validation is indeed an ongoing problem for Common Voice. We get about 2 validations for every recording. We "verify" a clip by a 2 out of 3 vote, so in an idea world 2 validations would be enough. In reality, some "controversial" recordings require 3 votes to verify. So we are indeed behind.

We plan to expose this information on the homepage so that users can see how far behind we are. We probab

[2017-11-09 13:17] mikehenrty commented on #598
@iveskins that would be super helpful if you would start that conversation! feel free to include me on the cc list if you like (mikey (at) mozilla.com). thank you for helping investigate this!

[2017-11-09 14:45] #592 closed

[2017-11-09 14:48] Gregoor commented on #579
Hi @aerohitk, are you still interested in looking into this? If not, I would take it over tomorrow or beginning of next week.

[2017-11-09 14:51] Gregoor commented on #594
3... 2... 1... Meins! (I'm looking into it now)

[2017-11-09 15:11] #234 closed

[2017-11-09 17:58] Gregoor commented on #596
I'll take this as well

[2017-11-09 19:58] aerohitk commented on #579
@Gregoor sorry, I've been busy with work recently. I'm definitely still interested, but I probably won't have time to work on this until the weekend. Let me know if this can wait that long.

[2017-11-10 10:58] ukii commented on #594
@Gregoor I've also started working on this. Do you need any help? If you do, can we somehow coordinate, so I can take some load of the work.

[2017-11-10 12:09] Gregoor commented on #594
@ukii oh great! Then I'll leave it to you and won't touch anything home-related. I'll be working on the menu #596 then, so you don't have to think about the positioning of the robot or background image for now. Lmk if there's anything else you need!

[2017-11-10 12:10] Gregoor commented on #579
@aerohitk no worries, just wanted to have the redesign done next week but I've got plenty of other stuff to do, so it can wait this long.

[2017-11-12 02:53] aerohitk commented on #579
@Gregoor submitted a PR. Is there anything else I can help with?

[2017-11-12 16:58] Gregoor opened #625 "Project Status Card"
We don't have an API endpoint for it yet, so the values can be hardcoded for now.

For positioning of the component, see #594

![project-status](https://user-images.githubusercontent.com/4051932/32701283-f7bf821a-c7d2-11e7-9ba7-79cccf6ebbad.jpg)

[2017-11-12 17:00] Gregoor commented on #579
Thanks @aerohitk, will review it first thing tomorrow.

#625 is definitely something we want to get done this week, so if you want to look it in one of the next days, feel free to grab it.

[2017-11-13 10:33] #579 closed

[2017-11-13 11:43] mikehenrty opened #626 "Contact form should send to mikey@mozilla.com"
right now it sends to someone@example.com

[2017-11-13 11:46] mikehenrty opened #627 "[profile page] save button does not change to "saved" once you click it"
right now it looks like the save button does not work

[2017-11-13 11:54] mikehenrty opened #628 "[robot] robot position in bad place when re-visiting record page"
steps to reproduce:

1. go to record page
1. record 3 clips
1. on submit page, navigate to home
1. navigate to record page

expected results:
robot displays in middle of record page

actual results:
robot displays off to the right

[2017-11-13 11:56] mikehenrty opened #629 "recordings get deleted when navigating away from record page"
steps to reproduce:

    go to record page
    record 3 clips
    on submit page, navigate to home
    navigate to record page

expected results:
we are still on the submit screen, with 3 clips cached

actual results:
all recorded clips are gone

[2017-11-13 11:58] mikehenrty opened #630 "FAQ, Terms, and Privacy page transition missing"
we should at least scroll to the top when visiting these pages

[2017-11-13 12:01] #594 closed

[2017-11-13 12:01] #596 closed

[2017-11-13 12:06] #626 closed

[2017-11-13 13:25] #629 closed

[2017-11-13 17:37] #627 closed

[2017-11-13 17:52] #630 closed

[2017-11-13 17:56] #628 closed

[2017-11-13 19:18] Gregoor opened #631 "Redesign Footer"
Just noticed that the Footer was redesigned as well.

The new version should look more like this:
![screenshot-2017-11-13 cv first time experience preview mode - invision](https://user-images.githubusercontent.com/4051932/32744406-a81dc356-c8af-11e7-90d1-6beb48676ea8.png)

[2017-11-13 20:17] DNGros commented on #625
What do the Goals correspond to? Release checkpoints or something else?

[2017-11-13 23:38] Gregoor commented on #625
@DNGros For now we'll only show the number of validated hours, but we might show other metrics at a later point in time.

[2017-11-14 10:45] mikehenrty opened #632 "[ios] selecting items in Drop down nav menu does not close menu"
Sometimes when selecting an item from the drop down nav menu on iOS, the menu does not close (even though the new page appears as highlighted).

[2017-11-14 13:15] iveskins opened #633 "Recordings made before spelling corrections still have incorrect text when listening."
I came across a recording with a spelling mistake.
{"glob":"8a23633f-2e4f-4935-a277-27f95508322e/9bcdbd45afcb84afb8bc02d7de370fce5720d50a7c6217016bd9f2467dd615c1","text":"That's why I'm here in the middle of het desert."
i.e "het" not "the"
it seems the sentence is fixed in the files.
not-used/new-sentences.txt:That's why I'm here in the middle of the desert.
The reader said "the"
I think the chan

[2017-11-14 17:12] #632 closed

[2017-11-14 21:23] Gregoor opened #635 "Type annotations for Redux"
Atm only `connect` and the user store is annotated. Would sure be nice to have everything related to the store annotated (where feasible).

[2017-11-15 13:32] jf99 commented on #633
Imo, if the text is "het" and the reader says "the", this must lead to a Nope, regardless of whether "het" was written erroneously. Otherwise, we would train the software to write "the" as "het". It's probably a good idea to just throw away all the misspelled sentences together with their recordings.

[2017-11-15 13:47] #631 closed

[2017-11-15 14:16] Gregoor opened #636 "Text for Dataset page"
https://github.com/mozilla/voice-web/blob/3670398077bbf02074a81a09e431e5aa3b032207/web/src/components/pages/data/data.tsx#L111-L125

[2017-11-15 14:20] Gregoor opened #637 "Text for Twitter Sharing"
https://github.com/mozilla/voice-web/blob/e22ea33ee944e795e6cb9ea57b5494bb28a1f1a7/web/src/components/pages.tsx#L27-L30

[2017-11-15 17:10] mikehenrty opened #638 "when navigating away from recording page while recording, background stays in recording state"

[2017-11-15 17:12] mikehenrty opened #639 "when recording, after not agreeing to CV terms, and choosing discard data, a unneeded confirm dialog comes up"

[2017-11-15 17:17] mikehenrty opened #640 "[mobile android] profile page has overlapping text"
![capture _2017-11-15-18-16-49](https://user-images.githubusercontent.com/635365/32850037-467a8d18-ca31-11e7-9fe3-787d09797836.png)

[2017-11-16 14:25] mikehenrty commented on #635
@Gregoor coming from a Redux n00b, what does annotation give us?

[2017-11-16 15:45] Gregoor commented on #635
@mikehenrty nothing Redux specific, just type safety. First time I'm using Redux with Typescript (have used it with Flow a couple of times) and still have some catching up to do on typing best-practices.

[2017-11-16 21:20] #635 closed

[2017-11-16 21:20] #638 closed

[2017-11-16 21:20] #639 closed

[2017-11-16 21:24] Gregoor opened #641 "Sourcemaps for the Backend"

[2017-11-16 23:53] mikehenrty opened #642 "[Metrics] add tracker for data download clicks"
I just don't want to forget :)

[2017-11-17 03:55] ivonnekn opened #643 "Hover states of all white buttons w/ black text should be inverse"
White buttons with black text (with or without black border) should go to a black fill and white text on hover (as opposed to red).

![white-button-hover](https://user-images.githubusercontent.com/1466558/32928675-29774ac6-cb21-11e7-8c76-ae3161457525.png)

![screen shot 2017-11-16 at 11 49 52 pm](https://user-images.githubusercontent.com/1466558/32929842-dfe6b754-cb28-11e7-9bed-92381ac2df1a.png)

[2017-11-17 04:15] ivonnekn opened #644 "Font size needs to be bumped up"
Font size all over should be bumped up. The typographic scale seems right but as a baseline paragraphs should be 16px so if that's the base size then I think all other text would adjust as they're relative sizing?

cc/ @m-branson

[2017-11-17 04:24] ivonnekn opened #645 "[Download] Download data button on page needs adjusting"
Download data button needs some adjustments:

1. Space between "Common" and "Voice"
2. Font weight value should be "600" (SemiBold) rather than "bold"
3. Download icon on button should be 22px width and height
4. There should be a 4px hard drop shadow of 15% black opacity
5. Space between Download button and license link below should be 3x the current space

![white-button](https://user-images.git

[2017-11-17 04:30] ivonnekn opened #646 "[Download] Wave background image should be red wave"
The background image for this page should be a red wave instead of the blue.

cc/ @m-branson

[2017-11-17 04:32] ivonnekn opened #647 "[Navigation] Text should be bold"
Navigation text should be in bold but appears too thin?

cc/ @m-branson

[2017-11-17 04:40] ivonnekn opened #648 "[Download] Increase space above & below "Other voice datasets...""
Need more space above and below "Other voice datasets..." headline. Should be about 60px (approx 12px more than it is now) above and 30px below.

cc/ @m-branson

[2017-11-17 04:47] ivonnekn opened #649 "[Download] Partner card styles needs adjusting"
Partner card has some styles that need adjusting:

1. Red color for headline text should be hex value #FF4F5E or rgb(255, 79, 94)
2. Headline text should be regular font weight (not hold)
3. Paragraph and link text color should be hex value #4A4A4A

![screen shot 2017-11-16 at 11 47 53 pm](https://user-images.githubusercontent.com/1466558/32929809-9f3362f2-cb28-11e7-910f-8ddc71311147.png)

cc/ @m-

[2017-11-17 04:54] ivonnekn opened #650 "White buttons with black border styling adjustments"
White buttons with black border needs some adjustments:

1. border should be 1px
2. icon should be 22px width and height
3. text label should be semibold (600), not bold
4. hover styling adjustment per #643

![screen shot 2017-11-16 at 11 49 48 pm](https://user-images.githubusercontent.com/1466558/32929877-0fe912b2-cb29-11e7-8d72-99ba66db508a.png)

cc/ @m-branson

[2017-11-17 04:57] ivonnekn opened #651 "[Download] Red top border on download data set area is wrong color"
Please change this border color to #FF4F5E or rgb(255, 79, 94).

This matches the partner-card red color in #649

cc/ @m-branson

[2017-11-17 05:25] ivonnekn opened #652 "[Download] Download dataset button needs styling adjustments"
Download dataset button needs adjustments:

1. icon should be 22px width and height
2. font weight should be semibold (600) not bold
3. There should be a 4px hard drop shadow of 15% black opacity
4. hover state should be inverse black bg and white text per #643

Live button:
![live-button](https://user-images.githubusercontent.com/1466558/32930624-c177a9d6-cb2d-11e7-8bd7-33b404a52e07.png)

Design

[2017-11-17 05:27] ivonnekn opened #653 "[Download] Download dataset text color should be grey"
Change helper text (below download dataset button) color from black to grey (#4A4A4A)

![screen shot 2017-11-17 at 12 27 43 am](https://user-images.githubusercontent.com/1466558/32930680-25b68200-cb2e-11e7-9266-5f338e550ef7.png)

cc/ @m-branson

[2017-11-17 05:37] ivonnekn opened #654 "Subfooter with icon buttons needs styling adjustments"
Subfooter that contains the icon buttons needs styling adjustments:

1. background color should be #F3F2F1
2. height of background should be 20px taller (icons buttons can stay vertically centered)
3. font should be Open Sans (regular)
4. on hover of icon and label please change opacity to 60%
![screen shot 2017-11-17 at 12 29 30 am](https://user-images.githubusercontent.com/1466558/32930899-70c22

[2017-11-17 05:45] ivonnekn opened #655 "Footer needs styling adjustments"
Footer needs some styling adjustments:

1. There should be 30px padding on top and bottom
2. Help text should be in Open Sans font
3. Icons are different from design - @m-branson can you confirm?
4. Height of help grey box should be 115px and left Common voice logo and text with links should align to the top  and bottom of the box, respectively.
5. For both green links and white icons, please add

[2017-11-17 05:48] ivonnekn opened #656 "[Download] Paragraph text color should be #4A4A4A (grey)"
Paragraph text color should be grey #4A4A4A instead of black.

![screen shot 2017-11-17 at 12 48 08 am](https://user-images.githubusercontent.com/1466558/32931216-00daf1c0-cb31-11e7-8de7-4f872ab294f0.png)

cc/ @m-branson

[2017-11-17 05:59] ivonnekn commented on #647
On further investigation I see that the font weight is being applied but on Chrome the text appears thin. Though on Firefox it looks great.

Chrome:
![nav-chrome](https://user-images.githubusercontent.com/1466558/32931506-96d10808-cb32-11e7-9f0e-33273e8f8490.png)

Firefox:
![nav-firefox](https://user-images.githubusercontent.com/1466558/32931507-96e59fc0-cb32-11e7-873a-390bff54cca7.png)

[2017-11-17 06:10] nevik commented on #647
This could be a combination of browser, OS and screen DPI.

What OS and hiDPI / regular DPI screen did you test this on?

[2017-11-17 06:21] ivonnekn commented on #647
Viewed this on macOS Sierra v10.12.6 / 11.6 inch MacBook Air at 1366x768

[2017-11-17 07:37] jelford commented on #341
Hi there, I've done a small one for your:

https://pastebin.com/SUKYwB93

[2017-11-17 13:02] #643 closed

[2017-11-17 13:04] #644 closed

[2017-11-17 13:21] Gregoor commented on #647
@nevik do you happen to be on a MacBook? Cause it looks identical on FF vs Chrome on Windows with my T450s at 1080p.

[2017-11-17 13:35] #648 closed

[2017-11-17 13:38] #650 closed

[2017-11-17 13:41] #651 closed

[2017-11-17 13:44] #653 closed

[2017-11-17 13:49] #652 closed

[2017-11-17 13:53] #654 closed

[2017-11-17 13:59] #655 closed

[2017-11-17 14:01] #656 closed

[2017-11-17 14:04] #646 closed

[2017-11-17 15:25] ivonnekn opened #657 "Dialog adjustments"
Please make the following adjustments to all dialogs of this type:

1. Width of dialog box should increase by 25%
2. Height of dialog  box should increase by 50%
3. Buttons should be same height and width
4. Buttons should have 1px black border
5. Text color should be #4A4A4A

Example:
![screen shot 2017-11-17 at 10 15 23 am](https://user-images.githubusercontent.com/1466558/32954474-359deb60-cb81

[2017-11-17 15:28] ivonnekn opened #658 "[Download] Initiate download not in place"
@Gregoor Clicking on download buttons take us to Mozilla.org website. This may just be placeholder for now, but flagging it.

Here's the dialog that should appear when download is initiated:
![download-success](https://user-images.githubusercontent.com/1466558/32954720-e28e2150-cb81-11e7-9dfd-7d914dc095be.png)

cc/ @m-branson

[2017-11-17 15:30] ivonnekn commented on #647
@Gregoor Did you make an adjustment to this? Today I opened this on Chrome and text looks good.

[2017-11-17 16:31] Gregoor commented on #647
@ivonnekn huh, that's strange. Not consciously, no. 🙈

[2017-11-17 17:42] ivonnekn commented on #649
@Gregoor Can you also make the link color of the license link in they same grey? (note that the link in the paragraph text above all these cards should remain black)

[2017-11-17 17:46] ivonnekn opened #659 "Text link hover states need to be applied"
For all text links in main content area (not navigation, not footer or subfooter), please add hover state such that on hover, the underline is removed and the text is at 60% opacity.

Some examples:
![screen shot 2017-11-17 at 12 44 36 pm](https://user-images.githubusercontent.com/1466558/32961117-4bd2687a-cb95-11e7-8978-9877685e1d80.png)

![screen shot 2017-11-17 at 12 45 36 pm](https://user-imag

[2017-11-18 05:29] ivonnekn opened #660 "[BLOCKER] Navigation on Mobile should reflect InVision comps"
Navigation for Mobile experience has some changes, one of which is to use the similar Mozilla.org 3-square icon to reveal/hide the navigation.

Changes include:
1. Navigation icon is at top right of and user stats is to the left of it (not to the right like in desktop)
2. Full page navigation on reveal.
3. User stats operate the same as desktop though layout changes slightly to fit mobile screen.

[2017-11-18 05:42] ivonnekn opened #661 "Download started modal needs more width"
Please increase the modal width (when download is initiated) by 5rem.

And please incorporate the same link hover states outlined in #659

cc/ @m-branson

[2017-11-18 09:16] Avasz opened #662 "Include Nepal in South Asia Accent."
Please include Nepal in the accent of South Asia.

We are planning to have a small event for this in Nepal, and it will be great if we can select it while contributing to it. Even better if all the countries of South Asia are listed there. :)

[2017-11-19 21:38] ivonnekn opened #665 "Home page intro paragraph adjustments"
- home page introductory paragraph color should be grey #4A4A4A
- the line height should be bumped up ~ 2px.

![screen shot 2017-11-19 at 4 37 32 pm](https://user-images.githubusercontent.com/1466558/32995820-0863a31a-cd48-11e7-9451-16cf34e96dfd.png)

cc/ @m-branson

[2017-11-19 21:46] ivonnekn opened #666 "Home page welcome message is too big and tight"
Home page welcome message needs adjusting:

- font size should be a bit smaller approx 24px
- margin above and below should increase by 25% of what it currently is

cc/ @m-branson

[2017-11-19 21:54] ivonnekn opened #667 "Home increase vertical margins"
- increase margin above and below horizontal rule below robot by 2x what it is now
- increase margin above grey subfooter (with icon buttons)

cc/ @m-branson

[2017-11-19 21:58] ivonnekn opened #668 "Home page validate text should be grey"
Home page validate instructional text and sentence to validate should be grey: #4A4A4A

cc/ @m-branson

[2017-11-19 22:00] ivonnekn commented on #658
The dialog is now in place and looks great, but the link still opens the mozilla.org website and does not begin download of the data file.

[2017-11-19 22:15] ivonnekn opened #669 "Home page margin right on validate Play button"
On the home page, the validate play button needs the same amount of right margin on the right as on the left so it has some breathing space next to the YES button.

cc/ @m-branson

[2017-11-19 22:21] ivonnekn opened #670 "Home page missing progress widget"
Home page is missing progress widget.

![screen shot 2017-11-19 at 5 17 49 pm](https://user-images.githubusercontent.com/1466558/32996188-ba886c4c-cd4d-11e7-8e1b-b2af670bb4b3.png)

cc/ @m-branson

[2017-11-19 22:25] ivonnekn opened #671 "Review & Submit text on record screen should be grey"
The following text should be grey #4A4A4A:
1. Thank you text
2. Sentence text
3. Review and Re-record text

![screen shot 2017-11-19 at 5 22 41 pm](https://user-images.githubusercontent.com/1466558/32996278-b09a46c8-cd4e-11e7-8f32-bfe4d882b27e.png)

cc/ @m-branson

[2017-11-19 22:29] ivonnekn opened #672 "Review & submit record screen buttons and links need adjustments"
- the submit and create a profile buttons should be same width
- submit button should be black button with white text
- increase top and bottom margin around Submit button by 150% of what it is now
- increase margin above Create a Profile button by 150% of what it is now
- Why a profile? link should be semibold (600) font weight

![screen shot 2017-11-19 at 5 25 33 pm](https://user-images.githubus

[2017-11-19 22:30] ivonnekn opened #673 "Review & submit page is missing Cancel Submission link"
Review & submit page is missing Cancel Submission link

cc/ @m-branson

[2017-11-19 22:42] ivonnekn opened #674 "[Record screen] Record button and count color needs adjustment"
Record button and count color should be #FF4F5E

cc/ @m-branson

[2017-11-19 22:45] ivonnekn opened #675 "[Record screen] Text & margin adjustments"
Record screen text needs adjustments:

- Instructional "Please tap to record..." text color should be #4A4A4A
- "Please tap to record..." text and record count text size should be bumped up by 1px
- Why a Profile? link should be semibold (font-weight: 600)

Margin adjustments:
- increase margin above "Please tap to record..." text and "Create a profile" button by 150% of what it is now

cc/ @m-bra

[2017-11-19 22:51] ivonnekn opened #676 "[Record Screen] Change color of arrow to ##FF4F5E"
1. On subsequent record screens, change color of arrow to ##FF4F5E
2. On hover, change color to black

![screen shot 2017-11-19 at 5 48 57 pm](https://user-images.githubusercontent.com/1466558/32996560-3f7df0e4-cd52-11e7-89b5-1834e99cc6f5.png)

cc/ @m-branson

[2017-11-19 22:56] ivonnekn opened #677 "[Hover states] Play, record, review button hover states needs changing"
Oh record screens, please add/adjust hover states the following buttons to scale up by 110% and should scale from the center. Color of icons should remain as is.

Record button:
![screen shot 2017-11-19 at 5 54 52 pm](https://user-images.githubusercontent.com/1466558/32996599-c2f41c6e-cd52-11e7-8596-4253231b4023.png)

Play button (on both record review and home page validate):
![screen shot 2017-1

[2017-11-19 22:59] ivonnekn opened #678 "Profile instructional text changes styling changes"
1. When clicking the Why a profile? text link, the revealing text overtop the soft grey box should be set in grey color (hex: #4A4A4A), and
2. Close text link should be semibold font weight (600)
![screen shot 2017-11-19 at 5 57 18 pm](https://user-images.githubusercontent.com/1466558/32996646-6f48500c-cd53-11e7-8188-305e00f1c8fe.png)

cc/ @m-branson

[2017-11-19 23:05] ivonnekn opened #679 "Create a profile box adjustments"
The Create a profile box needs adjustments

1. box should have a top black border of 5px
2. Exit Form text link should be semibold (font weight 600)
3. Input labels should be in grey color (#4A4A4A)
4. Input text field values should be set in Open Sans, 14px and color #959595
5. margin above and below horizontal rule should be 150% of what it currently is

![screen shot 2017-11-19 at 6 00 39 pm](h

[2017-11-19 23:10] ivonnekn opened #680 "Profile screen needs margin above profile box"
Please add a 3em top margin above profile box on Profile page:

![screen shot 2017-11-19 at 6 08 43 pm](https://user-images.githubusercontent.com/1466558/32996752-e898ae4c-cd54-11e7-8704-99f5944d5b36.png)

cc/ @m-branson

[2017-11-19 23:17] ivonnekn opened #681 "[Download] Thank you dialog needs more spacing"
Thank you dialog needs more top and bottom margin between text blocks:

- above and below thank you text box
- above and below return text link
- at bottom of dialog

From design mockup:
![screen shot 2017-11-19 at 6 16 34 pm](https://user-images.githubusercontent.com/1466558/32996807-dc2dddac-cd55-11e7-9a33-de590767ad44.png)

cc/ @m-branson

[2017-11-20 10:11] #657 closed

[2017-11-20 10:13] Gregoor commented on #658
Thanks for flagging this. I'm gonna assign @mikehenrty because he might already have some of those links.

[2017-11-20 12:08] #660 closed

[2017-11-20 13:44] ukii commented on #680
Does this only needs to be fixed on profile page? Cause I think there also should be top margin when you open "Create a profile" from the Speak page.
![image](https://user-images.githubusercontent.com/18581861/33021170-2ff35628-ce01-11e7-95ae-fd8a8d872a02.png)

[2017-11-20 13:50] #673 closed

[2017-11-20 14:14] #677 closed

[2017-11-20 14:30] #681 closed

[2017-11-20 14:39] #679 closed

[2017-11-20 14:40] #676 closed

[2017-11-20 14:42] Gregoor commented on #670
duplicate of #625 (marked it as a design-blocker just now)

[2017-11-20 14:52] mikehenrty commented on #649
Re-opening based on @ivonnekn comment.

[2017-11-20 15:04] ivonnekn commented on #680
@ukii  @Gregoor  Agree with @ukii's comment. There should be more spacing above the create profile box on the Speak page as well.

[2017-11-20 15:08] ivonnekn opened #683 "Buttons should have hard corners (not rounded)"
Most buttons have rounded corners when they should all have hard corners. This occurs in many places.

![screen shot 2017-11-20 at 10 07 24 am](https://user-images.githubusercontent.com/1466558/33025022-bf6f805a-cdda-11e7-94f5-18261fa4bca1.png)
![screen shot 2017-11-20 at 10 07 16 am](https://user-images.githubusercontent.com/1466558/33025023-bf7a8c48-cdda-11e7-9202-e92ab19e1412.png)
![screen shot

[2017-11-20 15:10] #625 closed

[2017-11-20 15:10] Gregoor commented on #649
Thanks Michael, would have overlooked it 🙈

[2017-11-20 15:14] Gregoor commented on #683
Hi @iveskins, I can't seem to reproduce it. Can you check again (after a hard-reload)? I looked at it in FF & Chrome on both staging and prod and couldn't find rounded borders.

[2017-11-20 16:27] mikehenrty commented on #658
great flag. making it also a release blocker.

[2017-11-20 17:31] mikehenrty commented on #636
The text is at the bottom of this page

![image](https://user-images.githubusercontent.com/635365/33032236-e4e5536e-ce20-11e7-8678-88d3d4d3889b.png)

[2017-11-20 18:42] m-branson commented on #680
@ukii @Gregoor @ivonnekn 50px top margin for the profile form in all instances (record flow and on profile page) is desired. Thanks!

[2017-11-20 19:02] m-branson commented on #683
@ivonnekn @Gregoor I'm also seeing hard corners in FF.

[2017-11-20 19:48] ivonnekn commented on #683
@Gregoor @m-branson Seeing a discrepancy on Chrome on Mac OS X

Seeing this in the latest version Version 62.0.3202.94 (Official Build) (64-bit). I think the browser is setting a default border-radius of 4px. Might be worth setting an explicit border-radius: 0 to be sure?

[2017-11-20 19:51] ivonnekn commented on #645
@Gregoor  apologies for this change but can we reduce the top margin on the license link to 0.5em from it's current 1em? I think I went too far in my suggestion.

[2017-11-20 20:05] ivonnekn opened #684 "Dropshadow button hover states"
The hover state on this button style in the Download page is too harsh and there is no hover state on this button on the home page.

Please add/adjust hover states of these drop shadow buttons to do the following on hover:

1. change opacity to 80%
2. remove box shadow
3. shift button down by 1px
4. shift button to the right by 1px

![screen shot 2017-11-20 at 3 04 26 pm](https://user-images.githu

[2017-11-21 16:27] jdittrich commented on #483
Is that possibly solved already? I am not very experienced in TypeScript and Preact, but it seems I could now use the source maps for debugging the TypeScript of the components in the dev tools. If that is the case, it seems that `yarn start` already does what is needed.

[2017-11-21 16:41] mikehenrty commented on #483
Yeah, I think this is mostly working. We still need to figure out how to get good stacks #592, but that is tracked in a different bug. @jdittrich if you don't mind we could close this bug.

[2017-11-21 22:02] Gregoor commented on #683
yaiks, looks like chrome made the change to rounded buttons in their user agent styles. Fortunately the outcry was already large enough that they reverted the change (https://bugs.chromium.org/p/chromium/issues/detail?id=752450).

[2017-11-21 22:12] Gregoor commented on #684
I hope I got this one right @iveskins. Lmk what you think :)

[2017-11-21 22:57] ivonnekn opened #688 "Re-record screen needs ability to cancel re-record"
On the record screen, when it is a re-record, please add a **Cancel Re-recording** text link positioned to the right of the record button, right aligned with the box above. See InVision mockup for reference. This text link should be styled like the other text links (ex. Why a profile?)

[2017-11-22 00:31] mikehenrty opened #689 "Recording, and Listen screens refresh on every mount"
And if they are loading slow, this can make the record screen janky.

We should keep in-memory caches of this stuff around so that even when unmount, the cache still exists.

[2017-11-22 08:41] iveskins commented on #684
@Gregoor check your autocomplete I think you mean @ivonnekn ;)

[2017-11-22 10:42] Gregoor commented on #684
🙈 sorrythanks

[2017-11-22 12:50] #689 closed

[2017-11-22 13:03] jdittrich commented on #483
Yes, please close, if you think it moves the general make-dev-easier

[2017-11-22 13:03] #483 closed

[2017-11-22 14:49] #610 closed

[2017-11-22 14:49] #688 closed

[2017-11-22 14:50] Gregoor commented on #640
we accidently fixed this 🙊

[2017-11-22 14:50] #640 closed

[2017-11-22 15:06] Gregoor commented on #688
Didn't find a re-record screen so I freestyled it from your description.

[2017-11-22 16:11] Gregoor commented on #688
Didn't find a re-record screen so I freestyled it based on your description.

[2017-11-22 17:32] Gregoor opened #690 "Track all the things"
Make sure we add google analytics tracking to user actions on the site.

[2017-11-22 17:33] Gregoor opened #691 "Verify has_downloaded and send_emails works as expected in infrastructure"

[2017-11-22 17:36] Gregoor opened #692 "[nubis] Infrastructure CPU utilization at ~100% for all machines"

[2017-11-22 20:19] #690 closed

[2017-11-22 20:19] Gregoor commented on #691
@mikehenrty added logs when updating the user, you wanna check the staging logs if it works correctly?

[2017-11-23 09:50] Gregoor commented on #645
no apology necessary :)

[2017-11-23 09:50] Gregoor commented on #647
So we're good here, right @ivonnekn?

[2017-11-23 09:53] #649 closed

[2017-11-23 10:02] #659 closed

[2017-11-23 10:09] #661 closed

[2017-11-23 10:15] #665 closed

[2017-11-23 10:45] #667 closed

[2017-11-23 11:35] #668 closed

[2017-11-23 11:38] #669 closed

[2017-11-23 15:23] #671 closed

[2017-11-23 17:20] #674 closed

[2017-11-23 17:50] mikehenrty opened #693 "Link underlines on Data download page"
Somewhere along the way we lost underlines for links on the data download page. The biggest one I want to correct is:

**Get Started with Speech Recognition**

But, I'd also like to see underlines on each of the titles of partner datasets. I think this will make it more clear that this is a clickable thing.

[2017-11-23 17:53] ivonnekn commented on #674
verified

[2017-11-23 17:55] mikehenrty opened #694 "[Mobile] FAQ and Terms page overlaps with header"
![photo5240275347604351174](https://user-images.githubusercontent.com/635365/33184967-d4cb65a2-d07f-11e7-937d-8b3fe965c3a1.jpg)

[2017-11-23 17:58] ivonnekn commented on #669
verified

[2017-11-23 17:58] ivonnekn commented on #668
verified

[2017-11-23 18:00] ivonnekn commented on #667
verified

[2017-11-23 18:00] ivonnekn opened #695 "Reduce Horizontal Rule height to 0.05rem"
The horizontal rules seem too thick. Let's reduce to height to 0.05rem.

cc/ @m-branson

[2017-11-23 18:02] ivonnekn commented on #661
verified

[2017-11-23 18:04] ivonnekn commented on #659
Verified, though please look at #693

[2017-11-23 18:04] ivonnekn commented on #649
verified

[2017-11-23 18:05] ivonnekn commented on #647
Yes @Gregoor. Seems to be fixed somehow :)