[2019-11-11 22:06] RangerMauve commented on #833
Hello!

I'm working for the [Dat Foundation](https://dat.foundation/) and we just wanted to reach out to see if you were still interested in exploring different ways to transfer your data. We're just finishing up a release that'll enable Dat to [handle larger datasets](https://twitter.com/pfrazee/status/1158744193407340544) and have a [FUSE mount](https://github.com/andrewosh/hyperdrive-daemon) so

[2019-11-11 22:08] CallistaKitaro commented on #2289
OS: Windows 10 home version 1903
Browser: Chrome

[2019-11-11 23:25] mbransn commented on #2282
@rileyjshaw looks like we're missing the privacy policy on the staged profile page for the challenge as well.

[2019-11-11 23:31] mbransn opened #2290 "Profile page leaderboard visibility does not show team only option on staging"
@rileyjshaw on the profile page during challenge sign up the leaderboard visibility drop down is missing the team only option.

[2019-11-11 23:36] LRSaunders4 commented on #2289
Thanks Callista, I'll send it through!

On Mon, Nov 11, 2019 at 4:08 PM Callista <notifications@github.com> wrote:

--
Lindsay Saunders
Program Manager - Open Innovation Team
lsaunders@mozilla.com

[2019-11-12 10:16] rleitan opened #2292 "[mobile]: The link icon is misaligned on "Copy link" button"
[Environment]:
iOS 13.1 - Firefox

[Precondition]:
Join a team for Voice challenge

[STR]:
1.Go to https://voice.allizom.org/en/dashboard/challenge
2.Tap the "Invite+" buttton

[Expected result]:
Invite colleagues and friends prompt should be correctly displayed

[Actual result]:
The link icon is misaligned on "Copy link" button
![75380093_463074454564091_7990369282171076608_n](https://user-images

[2019-11-12 10:33] rleitan opened #2293 "[mobile]:Icon missing from Build profile section"
[Environment]:
iOS 13.1 - Firefox

[STR]:
1.Sign up for Voice challenge

[Expected result]:
The page should be redirected to Build profile page.
Build profile section should have an icon like on desktop
![2019-11-12_12h32_11](https://user-images.githubusercontent.com/41474886/68664101-74961b00-0548-11ea-958e-727b32a8d532.png)

[Actual result]:

![75279325_535822120312741_397674844457533440_n](http

[2019-11-12 12:48] rleitan opened #2294 "Should not be able to join multiple teams for Voice Challenge"
[STR]:
1.Go to https://voice.allizom.org/en?challenge=pilot&team=ibm and click to join the Voice Challenge for a team ( e.g. IMB)
2.Login with a valid email
3.Go to https://voice.allizom.org/en?challenge=pilot&team=sap and click to join the Voice Challenge for another team with the same email (e.g. SAP)
4.Login with the same email from step 2

[Expected result]:
Should be displayed a message that

[2019-11-12 13:33] adsingh14 commented on #2292
I'm working on it!

[2019-11-12 13:47] adsingh14 commented on #2292
@rleitan Can you please redirect us to the exact page ?
I'm not able to find it via web app.

[2019-11-12 13:52] rleitan commented on #2292
@adsingh14 Go to https://voice.allizom.org/en?challenge=pilot&team=mozilla, Join the Mozilla team with a valid email, then navigate to https://voice.allizom.org/en/dashboard/challenge and click the "Invite+" buttton

[2019-11-12 14:10] adsingh14 commented on #2292
@rleitan Sign-in via e-mail isn't working ! It asks me to fill the e-mail again !

[2019-11-12 14:25] rleitan commented on #2292
@adsingh14 do you have an account on voice.allizom.org with that email? you should try to login via the website, not the web app

[2019-11-12 15:19] adsingh14 commented on #2292
@rleitan I've made an account via 'Gmail and Github' login option. None of them are working.

[2019-11-12 15:39] phirework commented on #2292
@adsingh14 Can you post the exact steps you're taking to get the error? I just tried using @rleitan's link using an existing account, a brand new email that I'd never registered before, and connected to my Github, and all of them worked. After login I'm prompted to create a profile (if new account) and then going to dashboard again I see the page that says the challenge has not started yet.

[2019-11-12 16:24] adsingh14 commented on #2292
On first run, it took me to the profile page successfully. But won't take me to the second link.

[2019-11-12 16:26] adsingh14 commented on #2292
@phirework First link take me to the profile page successfully(after google login). But the second link redirect me to the login page.

[2019-11-12 17:23] adsingh14 commented on #2292
Where's the invite+ button ?
@rleitan

[2019-11-12 17:26] rleitan commented on #2292
https://drive.google.com/file/d/18aQXaxAm8HyFSZRskeCgNs8s4egPBcFY/view , please note that the issue is reproducible on mobile - iOS

[2019-11-12 18:09] phirework commented on #2293
This should be fixed on Staging, can you confirm and close if passed?

[2019-11-12 18:40] phirework commented on #2281
This should be fixed on Staging, can one of you verify and close? https://voice.allizom.org/en?challenge=pilot&team=mozilla

[2019-11-12 18:48] phirework commented on #2282
I think these have been fixed through a bunch of other PRs, can you confirm @grailean?

The exception is the font weight on the profile button text, which I left alone because it seems to be consistent with how the regular profile editing page looks. If we change it here I would want to change it everywhere; can either of you confirm which is the actually correct weight?

<img width="297" alt="Scr

[2019-11-12 19:12] mbransn commented on #2294
Hmm, this is a good flag. @rileyjshaw @phirework I'd think this would display an error after authentication returns the person back to Common Voice, yes? Because we'd want logic that doesn't enable people to be part of two teams. Thoughts?

[2019-11-12 19:16] mbransn commented on #2281
Verified! Thanks :)

[2019-11-12 19:16] #2281 closed

[2019-11-12 19:18] adsingh14 commented on #2292
@rleitan That's visible on desktop version only. Anyways, I have figured out the fix but don't know how to run it on local server!

I got a problem with 'docker'.

[2019-11-12 19:38] phirework commented on #2294
There is already logic that prevents a user from enrolling with a different team. In the interest of time and there not being a UI mock for error states, going to suggest that if an already-enrolled user tries to use the invite link again, they just get routed to the challenge dashboard.

[2019-11-12 22:48] mbransn commented on #2294
Sounds good on this end. Future state could be error message handling, though for the pilot I agree with the dashboard touting approach. Thanks!

[2019-11-13 04:32] akhilvasvani commented on #2075
No, @Gregoor it did not

[2019-11-13 09:04] catherine917 commented on #2283
@rileyjshaw I can't assign this task to myself. Could you help assign it to me? Now I am trying to fix it.

[2019-11-13 12:51] gbaptista opened #2301 "Brazilian Portuguese and Dialects of other languages"
Hi folks!

Common Voice is an awesome project. Thank you very much for that!

I have noticed the recent change: _Link "pt-BR" localization to "pt" #1962_

I believe that this could lead to a lot of adverse side effects. My main concerns:

- Deprive countries of using this technology
- Loss of new contributors
- Loss of the contributions made so far

I'm also concerned if this is something that is

[2019-11-13 13:01] rleitan opened #2302 "Intermittent issue: An error occurred when opening https://voice.allizom.org/en/dashboard"
[STR]:
1.Open https://voice.allizom.org/en?challenge=pilot&team=mozilla
2.Join the Mozilla team voice challenge
3.Go to dashboard from https://voice.allizom.org/en?challenge=pilot&first=1&achievement=1

[Expected result]:
Dashboard page should be correctly displayed

[Actual result]:
"An error occurred. Sorry!" message is displayed
https://drive.google.com/file/d/10QC-K1ZtoTGyk4LFBRiNsAYkgVS6tpxk/

[2019-11-13 14:10] rleitan opened #2304 ""My points" section is displayed on Challenge page"
[Precondition]:
Join the Voice challenge

[STR]:
1.Go to https://voice.allizom.org/en/dashboard/challenge page

[Expected result]:
Challenge page (pre-challenge) should look as per designs

[Actual result]:
"My points" section is displayed on Challenge page
![2019-11-13_16h08_56](https://user-images.githubusercontent.com/41474886/68771040-ea28e680-062f-11ea-853b-a4a85e15e8ee.png)

[2019-11-13 14:31] rleitan opened #2305 "Invite link is not correct"
[STR]:
1.Join a team for the Voice challenge (e.g. mozilla)
2.Go to Dashboard and click "Invite+" button
3.Click "Copy link" button
4.Verify the copied link

[Expected result]:
The copied link should be https://voice.mozilla.org/?challenge=pilot&team="team from step1"&invite=#####

[Actual result]:
The copied link is https://voice.mozilla.org/?challenge=pilot&team=SAP&invite=##### , no matter whic

[2019-11-13 14:52] viorelaioia opened #2306 "Challenge page is available for users who didn't sign up for the challenge via the url"
**STR:**
1. Login to Common Voice staging with an account not signed up for the challenge
2. Navigate to "/dashboard/challenge" page

**Expected:**
User is redirected to "/dashboard/stats/" page, as he/she is not part of any team in the challenge

**Actual:**
Challenge page is displayed, Invite button is available.

![image](https://user-images.githubusercontent.com/5293100/68774157-55c18280-0635-

[2019-11-13 16:04] #2305 closed

[2019-11-13 16:12] adsingh14 commented on #2292
@rleitan  **docker-compose up** is stuck on 'Building web'. Any lead ?

[2019-11-13 16:21] rileyjshaw commented on #2305
Still in progress at https://github.com/mozilla/voice-web/pull/2308/

[2019-11-13 16:26] rileyjshaw commented on #2283
@catherine917 assigned.

[2019-11-13 16:50] georai commented on #2282
@phirework needs to be like regular profile editing. Not sure were you find a different text size. Please share a screen.

[2019-11-13 17:19] rileyjshaw commented on #2305
Fixed on staging @rleitan

[2019-11-13 17:43] phirework commented on #2282
This is the regular profile editing screen on Prod.
![Screen Shot 2019-11-13 at 12 41 32](https://user-images.githubusercontent.com/582683/68789314-34e83580-0613-11ea-878c-ccfd9108d8b1.png)

[2019-11-13 17:50] phirework commented on #2292
@adsingh14 Unfortunately we don't have the tech resources on our team to support troubleshooting local dev environments. The docker setup has some bugs which is a known issue and it's on our roadmap. I've gotten stuck on the 'building web' piece before, and usually it just took a little longer than usual but would still eventually build. Try increasing the timeout in your docker config (usually it

[2019-11-13 18:08] phirework commented on #2306
This is up on stage. https://voice.allizom.org/en/dashboard/challenge

[2019-11-13 18:45] adsingh14 commented on #2292
@phirework  I've not installed standalone MySQL. Is it okay to proceed with XAMPP ?

[2019-11-13 19:16] phirework commented on #2304
Fixed on stage.

[2019-11-13 19:16] #2304 closed

[2019-11-13 19:23] mbransn commented on #2282
@phirework Text/padding are looking good to me; we're still missing the privacy checkbox and TOS link. They're a requirement for our salesforce integration and legal. On [zeplin here](https://zpl.io/b6BPrzN) and screenshot attached.

<img width="495" alt="Screen Shot 2019-11-13 at 11 22 00 AM" src="https://user-images.githubusercontent.com/18686986/68796603-04e76500-0608-11ea-8823-dcd4ecef41e1.png

[2019-11-13 19:33] phirework commented on #2282
This is what I see on staging:

<img width="1223" alt="Screen Shot 2019-11-13 at 14 32 55" src="https://user-images.githubusercontent.com/582683/68797398-877d1e00-0622-11ea-8b67-143a22109371.png">

[2019-11-13 19:43] mbransn commented on #2282
Odd, cleared my cache, refreshed, still getting this...

<img width="1476" alt="Screen Shot 2019-11-13 at 11 40 58 AM" src="https://user-images.githubusercontent.com/18686986/68798209-d3bc6400-060a-11ea-90f5-b3c0cf98610f.png">

[2019-11-13 19:45] phirework commented on #2282
OH, my bad, I suspect the change was only done on the "new account" section and not on the "edit profile normally" section. Lemme take a look.

[2019-11-13 19:46] MichaelKohler commented on #2259
These are duplicates that were, for some reason, not recognized by the Sentence Collector and therefore added multiple times, while the export did recognize it and didn't export it.

[2019-11-13 19:47] phirework commented on #2282
So when creating a new account, it won't let you save the profile unless you agree to the privacy statement. So it makes sense that on an existing account editing page it would be redundant to have that checkbox, because if a user unchecks the privacy policy is that then tantamount to them requesting a profile deletion?

[2019-11-13 19:56] mbransn commented on #2282
Got it. Yeah that does make sense, when originally QA’d it was missing the
privacy and TOS during the build profile flow though. You confirm it’s now
present at that step tho, so we should be good to go.

On Wed, Nov 13, 2019 at 11:48 JZ <notifications@github.com> wrote:

--

Megan Branson
Staff Product/UX Designer
Open Innovation @ Mozilla

[2019-11-13 19:59] #2294 closed

[2019-11-13 20:34] phirework commented on #2292
@rleitan @adsingh14 We've been doing a lot of bugfixing and QA-ing today for the partner challenge and it looks like it's possible this bug got picked up in one of those changes, can you see if this is still reproducible?

[2019-11-13 20:37] phirework commented on #2282
Cool, closing this issue!

[2019-11-13 20:37] #2282 closed

[2019-11-13 20:55] rileyjshaw opened #2311 "Possible to get multiple invite_send achievements"

[2019-11-13 20:55] rileyjshaw commented on #2311
<img width="664" alt="image" src="https://user-images.githubusercontent.com/1840854/68803587-0cba0000-062e-11ea-8bd8-e3a152954021.png">

Uh oh 😅

[2019-11-13 21:15] phirework commented on #2302
This is fixed on staging, as far as we can tell. Can you verify and close if fixed?

[2019-11-13 22:02] rileyjshaw commented on #2290
Working on it!

[2019-11-13 22:12] rileyjshaw commented on #2311
@can-007 are you able to look into this?

[2019-11-13 22:15] #2290 closed

[2019-11-13 23:43] georai opened #2313 "Mobile profile build page UI fixes"
https://www.dropbox.com/s/4xfmyepe56tqtw2/Screenshot%202019-11-13%2018.36.54.png?dl=0

1. There is a line that separates the copy and the fields. Also, we have a style for required field.
2. We need to have padding 20 px on right and left also 20 px.
3. Checkboxes style ( old issue)
4. The button for the  save, needs to be grey, when the the have checked the boxes make it black, after we press it'

[2019-11-13 23:44] can-007 commented on #2311
Is it reproducible?
I think this phenomenon is possible if the challenge star_date had been changed every time invite_send bonus has been earned.

[2019-11-13 23:46] georai opened #2314 "[mobile] Logged in profile UI updates"
https://www.dropbox.com/s/yvvq7u1ugx5ch70/Screenshot%202019-11-13%2018.44.19.png?dl=0

1. The spacing between the tabs needs to be like in design. Let me know if you need the measures.
2. Weird box in the footer, please remove.
3. Can we have the dividers in the footer too: https://www.dropbox.com/s/l44lhpj9g2ajfkd/Screenshot%202019-11-13%2018.45.27.png?dl=0

@mbransn @rileyjshaw

[2019-11-13 23:57] rileyjshaw commented on #2311
Yep it's reproducible. @phirework noticed the same thing.

[2019-11-14 02:35] catherine917 commented on #2284
Hands up

[2019-11-14 04:44] can-007 commented on #2311
Well, I have trouble reproducing it on my dev environment and check the code logic again, I will try different ways to reproduce it and also try to reproduce it on the staging server.

If you have time, can you provide some more information:
@phirework , can you describe the exact step to reproduce it?
@rileyjshaw , can you post a image show the challenges' start_date?

[2019-11-14 09:45] rleitan commented on #2304
Verified as fixed!

[2019-11-14 10:17] rleitan opened #2318 "TypeError: "he.b[u.enrollment.team] is undefined"
[Precondition]:
Join a team for Voice Challenge, then navigate to https://voice.allizom.org/en/dashboard/challenge?date=2019-11-20

[STR]:
1.Open a new tab and join the Voice challenge for a different team with a different account
2.Go to the tab from precondition and reload it

[Expected result]:
Dashboard - challenge page should be displayed for the account used to login in step 1

[Actual resul

[2019-11-14 10:19] rleitan commented on #2305
Verified as fixed!

[2019-11-14 10:23] rleitan commented on #2292
I cannot reproduce the issue anymore. Closing the bug!

[2019-11-14 10:23] #2292 closed

[2019-11-14 10:40] viorelaioia opened #2319 "User receives "50+ points" banner after every validation"
STR:

1. Sign up to the challenge for a team
2. Navigate to challenge page and change the date (use [this](https://voice.allizom.org/en/dashboard/challenge?date=2019-11-20) url)
3. Click "Listen" button in the Current Challenge section
4. Validate first sentence => User gets "50 + points" banner
5. Validate second sentence

**Expected:**
User is redirected to next sentence, the banner is not displ

[2019-11-14 12:30] viorelaioia opened #2321 ""My points" section never gets updates"
**STR:**
1. Sign up for the challenge
2. Navigate to Listen page and validate one sentence

**Expected:**
User should have 100 points shown in "My points" section (50 for sign up and another 50 for first contribution)

**Actual:**
"My points" section shows 0 points. I waited for more than 2 hours and logged out and logged back in and it still shows 0 points.
Email I used: parsmoz1@gmail.com

[2019-11-14 13:01] rleitan opened #2322 "Challenge dashboard- individual contributions are not updated"
[Precondition]:
Join the Voice Challenge (the voice challenge started e.g. go to https://voice.allizom.org/en/dashboard/challenge?date=2019-11-20)

[STR]:
1.Go to https://voice.allizom.org/en/dashboard/challenge?date=2019-11-20
2.Go to Current challenge -  individual section and click the Speak or Listen button
3.Contribute for Speak or Listen with 1 clip and upload it
4.Go to .Go to https://voice

[2019-11-14 13:04] viorelaioia opened #2323 "2 notifications displayed if clicking the Invite button, after a contribution was made"
**STR:**

1. Sign up to the challenge
2. Navigate to Listen page and validate a sentence
3. Navigate to [Challenge](https://voice.allizom.org/en/dashboard/challenge?date=2019-11-20) page and click Invite button
4. Click "X" button

**Expected:**
"50+ points for first invite" notification is displayed

**Actual:**
2 notifications are displayed on the page. These notifications are displayed every ti

[2019-11-14 13:19] viorelaioia opened #2324 ""Team Progress" and "Top Contributors" dashboards are empty, even though people signed up and contributed to the challenge"
I used several test accounts to sign up for the challenge in the SAP team
I also contributed with some of those accounts.
Though, the "SAP Team Progress" and "Overall Challenge Top Contributors" dashboards are still empty. Users who accepted the SAP team invite to the challenge should be displayed here.

![Screenshot_2019-11-14 Common Voice by Mozilla](https://user-images.githubusercontent.com/529

[2019-11-14 13:38] viorelaioia commented on #2306
@phirework , this is still happening for me, Challenge page is displayed for an account who is not signed up to the challenge

[2019-11-14 13:41] #2293 closed

[2019-11-14 13:45] viorelaioia opened #2325 "Team sign up percentage is updated only for the last user who joined the team challenge"
**STR:**
1. Login to CV with an account who signed up for the challenge in a team (e.g: IBM)
2. Navigate to [Challenge](https://voice.allizom.org/en/dashboard/challenge?date=2019-11-20) page
3. Copy the Invite link
4. In a private tab, paste the Invite link and sign up with a different account
5. Navigate to [Challenges](https://voice.allizom.org/en/dashboard/challenge?date=2019-11-20) and note th

[2019-11-14 13:49] can-007 commented on #2324
There are several minutes delay, to reduce the server load.
For now, it is 20 minutes.
Maybe it is too long, but an acceptable delay should be discussed.

[2019-11-14 14:02] viorelaioia commented on #2324
@can-007 , I joined the team with different accounts hours ago and the dashboards are still empty.

[2019-11-14 14:07] can-007 commented on #2311
This issue arises because the DB is gating all the date related checks, and the invite_send SQL in backend doesn't consider the time before or after the challenge, simply allowing to earn the bonus.
There should be stricter checks.

[2019-11-14 14:24] adsingh14 commented on #2292
@phirework I've build the web component successfully, but unable to launch it!

[2019-11-14 14:34] rleitan opened #2327 "Overall Challenge Top Team table is empty"
[Precondition]:
Each team has team members in Voice challenge
Each team has team members who contribute

[STR]:
1.Login with a valid account - join the voice challenge
2.Go to https://voice.allizom.org/en/dashboard/challenge?date=2019-11-20
3.Verify the Overall Challenge Top Team table

[Expected result]:
The Overall Challenge Top Team table should have info and the ranking should be correct

[Act

[2019-11-14 14:41] phirework commented on #2318
I'm unable to reproduce this locally - any luck @rileyjshaw?

[2019-11-14 14:44] phirework commented on #2325
Was the team percentage still un-updated after 20 minutes for the first account? We do have logic in the code that calculates updated values for the user's own actions, so that new users will see their effect on the challenge right away, but all other users will need to wait for the 20 minute db delay to get updated stats.

[2019-11-14 14:54] viorelaioia opened #2328 "Cannot create a new account in common voice from the invite link"
**STR:**
1. Navigate to a challenge invite link (e.g: https://voice.allizom.org/?challenge=pilot&team=ibm&invite=7c2be817-0477-11ea-bb30-067a2205f3e0)
2. Accept terms and conditions and click "Join the IBM team" from the modal
3. Enter an email address never used before in the Common Voice
4. Click "Enter" and send login link
5. Login to your email server and click the login link from the email

*

[2019-11-14 17:35] #2306 closed

[2019-11-14 17:44] phirework commented on #2327
The Overall Challenge Top Team is updated manually by engineers, so you won't see it automatically update.

[2019-11-14 17:44] #2327 closed

[2019-11-14 17:47] phirework commented on #2324
The issue here was that the database logic ignored all activity outside of the start/end dates of the challenge. We've changed the challenge starting date on **staging only** to be November 10th, so all of the activity is now be showing up.

[2019-11-14 17:47] #2324 closed

[2019-11-14 17:47] phirework commented on #2322
As discussed in in standup, the issue here was that the database logic ignored all activity outside of the start/end dates of the challenge. We've changed the challenge starting date on **staging only** to be November 10th, so all of the activity is now be showing up. Can you confirm that you're seeing your own contributions?

[2019-11-14 18:03] phirework commented on #2321
This should be fixed now, same issue as #2322.

[2019-11-14 18:12] rileyjshaw commented on #2325
I just tried to reproduce, and noticed the same thing. However, after about 20 minutes (approximate, so it could longer), a hard refresh of the page resulted in equal percentages for everyone.

@viorelaioia, are you able to check the accounts again and see if the team percentages are now equal?

[2019-11-14 18:17] LRSaunders4 opened #2330 "The Challenge emails sign up form should be using the same basket ID as the common voice newsletter"
The place where contributors fill out their profile and have a checkbox that they would like to receive the challenge emails.

The basked ID for the Challenge Emails should be the same as the Common Voice Newsletter.

![image](https://user-images.githubusercontent.com/48598353/68884329-96260c80-06d8-11ea-8b10-9ce345bacef3.png)

[2019-11-14 18:22] phirework commented on #2330
I only see the setting for the Common Voice email. Where are the challenge-specific emails managed?

[2019-11-14 18:57] MichaelKohler commented on #2259
This just got a bit more complicated, @rileyjshaw @phirework let's sync up once you have an answer to how we can avoid simple sentence fixes invalidating existing recorded hours (if that is even the case).

[2019-11-14 20:40] rileyjshaw commented on #2283
@georai this should be fixed on staging. Can you confirm?

[2019-11-14 20:42] rileyjshaw commented on #2323
Ah, good catch! @mbransn @georai is it okay to only show one notification here? I think adding timing delays, etc. is out of scope.

[2019-11-14 20:43] LRSaunders4 commented on #2330
I received the dual opt in. The challenge emails are done through the extension (challenge specific link) and should be the same as the Common Voice Email. I'm going to test again on Test 2.

[2019-11-14 20:44] mbransn commented on #2323
Yep, I'd go with whichever was initiated first in the order for primary display.

[2019-11-14 20:51] mbransn commented on #2283
@rileyjshaw re-triggering this onboarding modal is tough on my end. Can you send through a screenshot?

[2019-11-14 21:04] LRSaunders4 commented on #2330
In the sign up for for the challenge https://voice.mozilla.org?challenge=pilot&team=mozilla I can check both the newsletter and Privacy Policy but when I hit save It's showing the box unchecked and has me at https://voice.mozilla.org/en/profile/info. No Dual opt in email is sent at that point. If I check the box again from the profile screen and save, a dual opt in is sent.

![image](https://user-

[2019-11-14 21:12] LRSaunders4 commented on #833
Hi Mauve,

This is something that we are looking at and is on the roadmap but we are not ready to implement currently. We will reach out in the future.

[2019-11-14 21:46] phirework opened #2332 "Verify that referrer links in enroll table are correct"
Happened to be looking at the Stage db to troubleshoot login stuff, and noticed that enroll links are stuff like these:

* https://auth.mozilla.auth0.com/login?state=<STATE_TOKEN>&client=<CLIENT_TOKEN>&protocol=oauth2&acco
* https://voice.allizom.org/en/profile/info
* https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=<CLIENT_ID>&as=<ALIAS>&destination=https%3A%2F%2Fauth.mozilla

[2019-11-14 21:51] georai opened #2333 "[mobile] Stats dashboard UI updates"
https://www.dropbox.com/s/8wia34twsv739nu/Screenshot%202019-11-14%2016.50.26.png?dl=0

1.Wrong title placement
2.Text in button should be all caps
3.Missing progress bar
4. Wrong placement

@mbransn @rileyjshaw

[2019-11-15 01:56] catherine917 commented on #2284
PR https://github.com/mozilla/voice-web/pull/2316 fixed this issue

[2019-11-15 04:32] LRSaunders4 commented on #2330
Just tested again with test.4.openvoicedatachallenge@gmail.com and it looks to be working! I'll confirm with Demandblue that it looks correct on their side as well. I have screenshots of the email sign up flow if you need them.

[2019-11-15 04:35] phirework commented on #2318
On staging I'm finding that if I:

* Sign into one account, and go to the dashboard
* Try to enroll a second account in a different tab in the same browser

As soon as I hit "login" on the second account (or click the email verification link or whatever), the first tab reloads and sends me to the auth screen. I imagine this is a security precaution and the desired behaviour. So I also cannot repro

[2019-11-15 04:37] LRSaunders4 commented on #2330
Got the Mozilla Labs email which should not happen. Lets keep this open until we speak with  Demandblue.

[2019-11-15 04:49] phirework commented on #2328
@can-007 @catherine917 I've reverted the main commits that I think could be affecting this and it's still persisting. Can you take a look at the pieces of `api.ts` that are throwing up the error and see what's up?

This is reproducible on my local using docker, let me know if you run into issues with that.

cc @rileyjshaw

[2019-11-15 06:14] catherine917 commented on #2319
For the front-end, I removed the achievements related items from the sessionStorage. And @Can also suggested modifying the launch date in the database. So it should be fixed now and need to confirm again.

[2019-11-15 06:20] can-007 commented on #2328
I tried the allizom.org, using the linked provided above. But the allizom.org could redirect to the Profile page correctly.
I think the root cause is the same as https://github.com/mozilla/voice-web/issues/2324.

[2019-11-15 06:49] catherine917 commented on #2323
I think it's similar to the issue https://github.com/mozilla/voice-web/issues/2319.

[2019-11-15 09:48] viorelaioia commented on #2325
I confirm the percentage got updated after a page refresh, for both test account. Closing the issue

[2019-11-15 09:48] #2325 closed

[2019-11-15 09:50] viorelaioia commented on #2324
I confirm that both dashboards are populated now.

[2019-11-15 12:25] can-007 opened #2336 "The Top Team leaderboard does not take into account of team member points"
I contributed and earned some bonus, but the points did not reflect on the Top Team leaderboard.

[2019-11-15 12:35] rleitan commented on #2293
Verified as fixed!

[2019-11-15 12:40] rleitan commented on #2328
The issue is still reproducible. I can see the Build profile page but when I click  Save button the error is displayed

[2019-11-15 12:42] viorelaioia commented on #2321
I confirm this is fixed

[2019-11-15 12:42] #2321 closed

[2019-11-15 12:44] viorelaioia commented on #2319
This is partially fixed. Now the notification is displayed for the first 2 validations made.

[2019-11-15 12:46] viorelaioia commented on #2306
I confirm this is fixed.

[2019-11-15 13:41] rleitan commented on #2302
I can reproduce it

[2019-11-15 13:45] rleitan opened #2337 "Inconsistency between points displayed in Team Progress vs "My points""
[STR]:
1.Go to https://voice.allizom.org/en/dashboard/challenge

[Expected result]:
Should have the same points no. in Team Progress and "My points"

[Actual result]:
Inconsistency between point displayed in Team Progress vs "My points"

![2019-11-15_15h42_58](https://user-images.githubusercontent.com/41474886/68947737-dd86c880-07be-11ea-9fff-934a0ec06c1c.png)

![2019-11-15_14h55_45](https://user-

[2019-11-15 14:20] viorelaioia opened #2338 "Team members can still see users who set the visibility to "Private" in the leaderboard"
**Preconditions:**
Have 2 users part of the same team in the challenge

**STR:**

1. Login with first account
2. Navigate to Challenge page
3. Change visibility to Private in the leaderboard
4. In a new private tab login with the 2nd account
5. Navigate to Challenge page

**Expected:**
User who set his visibility to Private is not displayed in the leaderboard

**Actual:**
User is displayed in the

[2019-11-15 14:28] viorelaioia opened #2339 "User is displayed 2 times in the leaderboard when navigating to Challenge page first time after login"
**STR:**

1. Login to CV with an account signed up to IBM team
2. Navigate to Challenges page
3. Checkout the "IBM Team Progress"

**Expected:**
Users are displayed only once in the dashboard

**Actual:**
User "mikesonf" is displayed 2 times in teh dashboard. If I refresh the page, the user is displayed only once, as expected

2 different accounts, part of the IBM team, first login
![image](https:

[2019-11-15 14:28] georai opened #2340 "Pre-launch challenge screen needs full invite button"
https://www.dropbox.com/s/2p6h64khpihe9hm/Screenshot%202019-11-15%2009.27.18.png?dl=0

1. Should be invite button, not just a plus sign
2. Flip the buttons

@mbransn @rileyjshaw

[2019-11-15 14:42] phirework commented on #2330
Is it working on the first save? I'm having a tough time troubleshooting it locally because it's not hooked up to the CRM in the backend.

[2019-11-15 14:43] phirework commented on #2328
Confirming that @rleitan's description of the problem is still reproducible. You have to click save on the profile page redirect to get the error.

[2019-11-15 14:44] viorelaioia opened #2341 "User gets the 50 points notification only after contributing to 5 sentences in Speak"
**STR:**

1. Sign up to the challenge
2. Navigate to Challenges page
3. Click "Speak"
4. Record 1 sentence

**Expected:**
Users gets "50+ points" notification as he did the first challenge contribution (as per points breakdown document)

**Actual:**
Nothing happens. User has to record 5 sentences in order to get the "50+ points" notification.
This is working on Listen contribution.

[2019-11-15 14:45] can-007 commented on #2328
That is strange.
@phirework , I have a theory that before the challenge board is loaded, the front-end sends out a request for account. The account contains user's enrollment information. And before the account is returned, challenge board is loaded, and send requests for challenge information like points, current week, etc. But these requests need the enrollment information which is not available

[2019-11-15 14:46] LRSaunders4 commented on #2330
It is but only after I refresh the build profile screen which means it might be going to the normal email setting. I'm now seeing a blank screen when I try to log in and the form to enter my profile info only comes up when I refresh. So, I have stopped testing until that's resolved.
![image](https://user-images.githubusercontent.com/48598353/68951754-4ef55580-0784-11ea-95b8-839f92f0d4ec.png)

[2019-11-15 14:58] phirework commented on #2319
@catherine917's changes hadn't been merged in yet so if there was a partial fix it wasn't from us. I've merged it in now, it should be on staging in ~30 min.

[2019-11-15 15:30] can-007 commented on #2341
I think this is an expected result. Clips are submitted in packs by default.
There are 2 ways to submit less than 5 clips:
1) click the arrow icon on the left of the "Speak" button, you will get a modal dialog for submitting clips;
2) click the "Listen" button, you will also get the modal dialog for submitting clips.

[2019-11-15 15:31] phirework commented on #2330
There were a couple of deploys to staging this morning that always disrupt the login stuff, can you check again?

[2019-11-15 15:38] rleitan opened #2343 "1 point received for each clip"
[Precondition]:
Join the Voice challenge
Have some points

[STR]:
1.Go to https://voice.allizom.org/en/dashboard/challenge
2.Click Listen/Speak and start contributing

[Expected results]:
Should not receive points for each contribution

[Actual results]:
1 point is added for each clip ( visible in challenge dashboard after a while)

![2019-11-15_16h55_40](https://user-images.githubusercontent.com/

[2019-11-15 15:49] rleitan commented on #2318
I confirm it's happening as in the above comment!

[2019-11-15 15:49] #2318 closed

[2019-11-15 15:59] rileyjshaw commented on #2332
Thanks, I noticed this last night as well! Looking into it 👍

[2019-11-15 16:04] rleitan opened #2344 "Challenge dashboard should be default dashboard for those enrolled in an active challenge"
[Precondition]:
Join the voice challenge

[STR]:
1.Go to challenge dashboard
2.Click the Listen/Speak button
3.Click the back arrow

[Expected result]:
The page is redirected to https://voice.allizom.org/en/dashboard/stats

[Actual result]:
The page should be redirected back to the Challenge dashboard
https://drive.google.com/file/d/1qmu4wwke0aVpk6l-9fPQ95qK29cBsrv4/view?usp=sharing

[2019-11-15 16:10] rleitan opened #2345 "[Enhancement]:Users without a username are displayed with "???" on leaderboard"
[Precondition]:
Have an account without username set
[STR]:
1.Go to https://voice.allizom.org/en/dashboard/challenge

[Expected result]:
Should display the email or should have the username as mandatory field on profile creation

@mbransn
![2019-11-15_18h06_23](https://user-images.githubusercontent.com/41474886/68957411-a4f0ea00-07d2-11ea-826a-055b5aece3c1.png)

[2019-11-15 16:13] rileyjshaw opened #2346 "Adding `first=1` to the challenge dashboard crashes it"
Test plan:

- Navigate to https://voice.allizom.org/en/dashboard/challenge

Challenge dashboard should load correctly.

- Switch the URL to https://voice.allizom.org/en/dashboard/challenge?first=1

Challenge dashboard crashes.

[2019-11-15 16:39] phirework commented on #2328
@rleitan This should be fixed on stage! Crossing all my fingers :D

[2019-11-15 16:51] rileyjshaw commented on #2328
🤞 🤞 🤞 🤞 🤞 🤞 🤞

[2019-11-15 17:19] mbransn commented on #2338
@viorelaioia did you wait the 20 minutes to be certain it wasn't the caching delay?

@rileyjshaw @phirework I'm still seeing on the profile page (when I come from invite link) that we're missing the team only option for leaderboard visibility in that dropdown.

[2019-11-15 17:26] rileyjshaw commented on #2283
@mbransn there's currently a bug preventing the onboarding modal from appearing: https://github.com/mozilla/voice-web/issues/2346

Once that issue is closed, it should be visible at https://voice.allizom.org/en/dashboard/challenge?first=1

[2019-11-15 17:32] rileyjshaw commented on #2343
Hi @rleitan! To clarify, is the issue here that `Mozilla Team Progress` should be showing 758?

@mbransn for visibility / clarification.

[2019-11-15 17:33] rileyjshaw commented on #2345
@mbransn I believe this is how we handle unnamed users on the Stats leaderboards as well. Should we be showing something other than `???`?

[2019-11-15 17:34] rileyjshaw commented on #2341
This is also the behaviour I expected – @mbransn can you confirm?

[2019-11-15 17:34] mbransn opened #2348 "Saving new profile should trigger onboarding modal"
Expected: After successful save of a profile from sign up link the challenge onboarding modal is triggered.

Actual: Profile save results in staying on profile page, no modal triggering or direction to challenge dashboard.

Test Environment: iOS 13.1.3

[2019-11-15 17:55] mbransn commented on #2341
+1, this is as expected. Closing!

[2019-11-15 17:55] #2341 closed

[2019-11-15 17:58] mbransn commented on #2345
Hmm, is it possible to have a user name auto attributed if one doesn't input one? This is not high priority, good to work through when we have time though.

[2019-11-15 18:40] phirework commented on #2348
As discussed in video chat - fixed with latest login changes.

[2019-11-15 18:40] #2348 closed

[2019-11-15 18:41] phirework commented on #2346
Pretty sure this is fixed after the last round of changes - or at least, can no longer replicate.

[2019-11-15 18:44] phirework commented on #2328
Note for @rleitan - currently this works if you're ONLY accepting the privacy policy, not if you're also signing up for the email newsletter. The email newsletter bugs are related to #2330.

[2019-11-15 18:44] #2340 closed

[2019-11-15 18:58] mbransn commented on #2343
@rleitan receiving a point per clip recorded or contributed to is expected result, 1:1 clip:point ratio.

@rileyjshaw I am noticing a leaderboard point display lag which I assume is the leaderboard cache? shown in Roxana's screenshot here with the leaderboard not reflecting the 8 add'l points. If so, quite alright, just confirming. Close this out if we're aligned.

[2019-11-15 19:00] mbransn commented on #2343
Actually the question I posed above is captured in #2337, will follow up on that cache question there. Closing this out.

[2019-11-15 19:00] #2343 closed

[2019-11-15 19:01] mbransn commented on #2337
Is this due to the leaderboard cache 20 min lag? cc @rileyjshaw

[2019-11-15 19:10] rileyjshaw commented on #2346
I'm still seeing this! I can look into it on my end if you can't repro.

[2019-11-15 19:16] mbransn commented on #2330
@LRSaunders4 can you update here your understood next steps following our mtg? I believe you're waiting for deploy to prod once #2328 is fixed so this can accurately be tested?

[2019-11-15 19:21] mbransn commented on #2186
This needs review and confirmation for fixing.

[2019-11-15 19:23] mbransn commented on #2311
@phirework @rileyjshaw is this indeed `P0`? Unsure of the full issue due to issue description.

[2019-11-15 19:24] mbransn commented on #2346
+1 reproducible on my end as well.

[2019-11-15 19:27] mbransn commented on #2346
I wonder if this is indeed P0? While important that things not crash, it's most important that the onboarding modal trigger accurately during the flow (which we have confirmed as part of #2348) not when URL switched manually.

[2019-11-15 19:30] phirework commented on #2346
What the heck, I can't reproduce this locally OR on staging.

https://www.dropbox.com/s/5jxmpbqd2mfp217/Screen%20Recording%202019-11-15%20at%2014.27.42.mov?dl=0

[2019-11-15 19:36] ragnarokatz commented on #2346
even https://voice.allizom.org/en/dashboard/challenge crashes for me.

[2019-11-15 19:38] #2344 closed

[2019-11-15 19:39] phirework commented on #2346
Agree with @mbransn on this not being P0 though.

@ragnarokatz are you enrolled in a challenge?

[2019-11-15 19:40] phirework commented on #2311
I would say no, the issue is that we're potentially giving users too many points, but that's something that can be adjusted and cleaned up after the fact.

[2019-11-15 19:42] ragnarokatz commented on #2346
@phirework I don't think so. nor can I find the correct navigation path to enroll in one.

[2019-11-15 19:46] phirework commented on #2346
@ragnarokatz These are new features we're testing out through a partnership pilot project first, so there's no path to discovery just yet. We'll be sharing an actual invite link once it's live. For now, you can test on staging with this link: https://voice.allizom.org/?challenge=pilot&team=mozilla

[2019-11-15 19:53] mbransn commented on #2346
@phirework confirmed fixed on my end; multiple tests. Works when triggering the link once logged in.

[2019-11-15 19:53] LRSaunders4 commented on #2330
I am blocked on #2328, once that is in prod,

I can test for:
- Receive a dual opt in on each test email
- Receive Welcome email
- Do not receive any Mozilla Labs emails

When the above has been verified Demandblue and I will check for
- The extension tag on the email address - Blocking
- An Auto refresh on Salesforce each hour - Not Blocking

[2019-11-15 19:54] ragnarokatz commented on #2346
@phirework thanks!

[2019-11-15 20:04] #2239 closed

[2019-11-15 20:04] rileyjshaw commented on #2346
Good point on the priority level. Updating to P1!

[2019-11-15 20:07] mbransn commented on #2311
Got it, downgraded.

[2019-11-15 20:08] rileyjshaw commented on #2302
I just pushed some further fixes to this part of the dashboard. Can you still reproduce @rleitan?

[2019-11-15 20:09] rileyjshaw commented on #2346
(Also: this may be fixed. Can anyone still repro?)

[2019-11-15 20:11] mbransn commented on #2346
Confirmed fixed on my end still.

[2019-11-15 20:43] #2346 closed

[2019-11-15 21:58] phirework commented on #2330
Update on the email issue: the current theory is that:
• You cannot subscribe if you do not have an account
• When you’re on the profile building stage, you do not have an account until you hit “I Agree” on the privacy popup
• It’s trying to both create an account and also sign up a user that, at the time of sending, did not have an account
• It doesn’t sign up the user to the newsletter

The reas

[2019-11-15 22:04] phirework commented on #2330
Additional QA/exploration:
Another theory is that users ARE in fact being signed up for the newsletter, but the front-end does not reflect that. I'm saying this because I am getting intermittent double-opt in confirmation emails, but I still see an empty checkbox and nothing in my settings even after I double-opt in.

The way users typically sign up for an email newsletter in their profile pages,

[2019-11-15 23:24] mbransn commented on #2330
I'm confused by this as I thought the only difference with the challenge profile sign up flow is that one is enrolling in a challenge. The privacy policy piece was always meant to be a requirement of new account creation/profile build. It It is news to me that agreeing to the privacy policy first is an addition with this challenge flow; are we 100% certain that this is the case?

Ideal option (and

[2019-11-16 00:05] mbransn commented on #2330
Another theory is that users ARE in fact being signed up for the newsletter, but the front-end does not reflect that. I'm saying this because I am getting intermittent double-opt in confirmation emails, but I still see an empty checkbox and nothing in my settings even after I double-opt in.

I've gotten a subscription confirmation email in my inbox after the first profile save, quickly followed by

[2019-11-16 05:28] phirework commented on #2330
I stand corrected! You are right, privacy has always been there. I must've misunderstood a previous conversation.

I've been testing the sign-up without an enrolment, and I'm 99% sure this is what's happening. Apologies in advance for this wall of text. I'm happy to go over it in detail at tomorrow's meeting, I just needed to write it down somewhere so I don't forget.

* When a user signs up for a

[2019-11-16 16:37] rileyjshaw commented on #2337
Definitely seems like it could be! @rleitan, would you mind waiting half an hour and checking if the points equalize?

[2019-11-16 16:44] rileyjshaw commented on #2330
This is good news - thank you for all the info!!

the challenge page after sign-up @rileyjshaw <https://github.com/rileyjshaw>,
since that flow + the onboarding modal are more important to participation.

Sweet, I agree. Should we move the redirect to one of the handlers so it
can await some of the async actions? Feel free to throw up a review!

On Sat, Nov 16, 2019 at 00:28 JZ <notifications@gith

[2019-11-16 17:42] phirework commented on #2336
Even after 20 minutes?

[2019-11-16 17:54] can-007 commented on #2336
No, not even after 20 minutes. The Top Team only calculated the teams’ bonuses based on the time these bonus were earned, which may not be appropriate, because the team bonus earnings will be a manual operation carried after the week.

[2019-11-16 17:57] can-007 commented on #2336
https://github.com/mozilla/voice-web/pull/2335 was meant to fix this in a quick but uneasy way.

[2019-11-16 18:01] can-007 commented on #2337
I wanted to point out that “recorded” tab shows the clip points + bonus and the “validated” tab shows the vote points + bonus.
So it is not so obvious.

[2019-11-16 18:10] adsingh14 commented on #2345
The website **[repl.it](repl.it)** create random names on creating new 'file'.
We could use that feature
  or
make the username mandatory
  or
create a random character names instead of using '???'.

[2019-11-16 18:13] adsingh14 commented on #2289
That's also happening with me on all web browsers include mobile browsers.

[2019-11-16 18:19] adsingh14 opened #2353 "Tutorial for running it on local machine."
This project is really good and helpful. I like to be a part of it by adding lines of code but can't able to run it.

It would be great if anyone could upload a video tutorial for setting up this on local machine including dependencies installation.

[2019-11-17 03:01] phirework opened #2355 "Successful login to CV should always redirect to dashboard"

[2019-11-17 03:01] phirework opened #2356 "Clicking on enrollment link while logged in should not require a second login"

[2019-11-17 03:02] phirework opened #2357 "Make sure basket_token actually gets saved on account creation"

[2019-11-17 17:48] mbransn opened #2358 "New sign up w/successful email opt-in still showing empty email state on profile page"
Expected: sign up for challenge > opt-in to emails when building profile > receive emails to inbox > profile page no longer shows email opt-in > settings screen shows email opt-in confirmation & link to manage settings

Actual: sign up for challenge > opt-in to emails when building profile > receive emails to inbox > **profile page still shows email opt-in** > settings screen has no email opt-in c

[2019-11-17 18:04] phirework commented on #2358
Yep, this is a known issue based on investigations in #2330 - the medium term solution suggested in there should fix it, but I'm probably not going to look at that until mid-end of next week.

[2019-11-17 18:08] mbransn commented on #2358
Got it, will close this then. Thanks for confirming.

[2019-11-17 18:08] #2358 closed

[2019-11-17 18:23] phirework opened #2359 "Enrollment fails if email address has more than one client_id associated in user_clients table"

[2019-11-18 00:21] parthparmar7 opened #2361 "cannot log in/sign up on a local machine"
I was trying to test out the log in/sign up feature locally without using docker.

I created the Auth0 account, added the allowed callback URL and added the following lines with my credentials to config.json which I created in the base folder

[code]

but I am still not able to get to the log in/sign up page and it just shows

`{"message":""}
`

I also tried adding the auth0 credentials to the tsc

[2019-11-18 02:18] rileyjshaw commented on #2332
Hoping https://github.com/mozilla/voice-web/pull/2362 will improve our records. It's deploying to the staging server now.

[2019-11-18 05:19] can-007 commented on #2361
I recommend to check the mysql server for the db credentials.
Also, there should be some errors from the backend in the console. It could help in troubleshooting this.

[2019-11-18 09:17] rleitan commented on #2302
I cannot reproduce it anymore! Closing the bug

[2019-11-18 09:17] #2302 closed

[2019-11-18 09:32] viorelaioia commented on #2319
Verified as fixed!

[2019-11-18 09:32] #2319 closed

[2019-11-18 10:18] viorelaioia opened #2365 "Week of challenge doesn't get updated on first login in week 2"
**STR:**

1. Login to CV staging with an account signed up to the challenge in the first week (until Nov 17)
2. Navigate to Challenge page

**Expected:**
Current challenge is "Let's get social" (week 2)

**Actual:**
Current challenge is "Sign up and Contribute" (week 1). After a page refresh, the week gets updated.

![challenge page-2019-11-18_12 11 15](https://user-images.githubusercontent.com/52

[2019-11-18 10:55] viorelaioia opened #2366 "Contribution counters from Challenges page are reset in the 2nd week of challenge"
**STR:**

1. Login to an account signed up to the challenge, who has made some contributions
2. Navigate to Challenges page => Number of recordings and validation are displayed (<0)
3. Click Listen button
4. Validate a sentence
5. Click Back button

**Expected:**
User is redirected to Challenges page, counter for Listen is increased with 1

**Actual:**
User is redirected to Challenges page, counte

[2019-11-18 12:51] parthparmar7 commented on #2361
Yes, I think that was what was causing the login to not work as mysql was not configured properly.

Thanks

[2019-11-18 12:51] #2361 closed

[2019-11-18 13:14] can-007 commented on #2366
I think contribution counters are expected to be reset every week, and the vote was probably counted as the contribution of last week.
However, the points in the upright corner should increase with 1.
cc @mbransn for confirmation.

[2019-11-18 14:28] ovidiuboca1 opened #2367 "The URL from the invitation link is the same for each invite that is sent"
STR:

1. Login into common voice account
2. Click on the "Invite" button
3. Copy the link
4. Close the window
5. Repeat the above steps

Expected:
The URL of the invite link should be different each time.
This is the link URL: https://voice.allizom.org/?challenge=pilot&team=mozilla&invite=b1b1e7cc-0a06-11ea-bb30-067a2205f3e0

Actual:
The URL of the invite link is the same each time when you use it

[2019-11-18 14:49] rleitan commented on #2346
I can reproduce it if I am not logged in and I go directly to https://voice.allizom.org/en/dashboard/challenge?first=1.
First, "An error occurred" message is displayed, the page is redirected to login screen

[2019-11-18 14:54] viorelaioia opened #2368 "User doesn't get the onboarding modal when signing up from invite link"
**STR:**

1. Navigate to a challenge invite link with an account never used in Common Voice
2. Accept privacy policy and click "Save" button

**Expected:**
4 steps [onboarding modal ](https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5d97a8a8451c970245fd6a80) is displayed

**Actual:**
User remains on Settings page

[2019-11-18 15:01] phirework commented on #2346
If you're not logged in, going to `dashboard` *should* redirect you to login because that's an internal screen. That's expected behaviour. The error message flashing isn't ideal but also not a huge problem.

[2019-11-18 15:01] phirework commented on #2367
I was under the impression that this is expected behaviour? The invite token is linked to the person who generated the invite token, it shouldn't be randomizing. @mbransn can you confirm?

[2019-11-18 15:07] rleitan commented on #2346
I would reopen the issue as enhancement with low priority. @mbransn

[2019-11-18 15:26] viorelaioia commented on #2328
This issue is still happening on my end.
For passwordless login, I'm getting the exact same results as in the description of this bug.
For google login, I'm getting the results @rleitan described above .

[2019-11-18 15:29] phirework commented on #2328
Can you verify what invite link you're using? And/or try this link? http://voice.allizom.org/en?challenge=pilot&team=ibm&invited_by=762b1e65-08e1-11ea-bb30-067a2205f3e0 That's what @mbransn and I were using to test yesterday.

One of the things we discovered during troubleshooting is that if the invited_by value is invalid, the entire thing will be rejected instead of just ignoring the invited_by

[2019-11-18 15:34] tgkprog opened #2369 "devops : Upload of this clip keeps failing at server, reload the page or try after sometime"
"Upload of this clip keeps failing at server, reload the page or try after sometime" keep seeing this error using Firefox 68.0 (64-bit) on Ubuntu 18.10

[2019-11-18 15:35] phirework commented on #2369
Thanks @tgkprog! We're aware of the issue and looking into it right now.

[2019-11-18 15:43] phirework commented on #2369
@tgkprog Could I ask you to try submitting a clip to our staging server? We're testing a fix: https://voice.allizom.org/en/speak

[2019-11-18 16:33] mbransn commented on #2368
@viorelaioia on production, yes? Yesterday this was working for @phirework and myself -- @rileyjshaw are you able to reproduce?

[2019-11-18 16:36] rileyjshaw commented on #2367
@phirework that is correct. @ovidiuboca1: if you log in with a different user, it will give you a different invite link. Invite links are unique to the account you're logged in as, but will always be the same for any given user.

[2019-11-18 16:36] #2367 closed

[2019-11-18 16:46] LRSaunders4 commented on #2330
mgbranson+1753@gmail.com - Saturday, November 16, 2019 8:06 PM
lindsay.r.saunders+6.01@gmail.com - Sunday, November 17, 2019 6:02 PM
lindsay.r.saunders+8.47@gmail.com - Sunday, November 17, 2019 8:48 PM
The above have gone through over the weekend. Konstantina is able to refresh the lists for us.

[2019-11-18 17:04] mbransn commented on #2367
+1

[2019-11-18 17:17] viorelaioia commented on #2368
Just verified on prod and it works as expected. Therefore, I'm gonna close it.

[2019-11-18 17:17] #2368 closed

[2019-11-18 17:19] viorelaioia commented on #2328
@phirework , I tested this in production with an invite link that @mbransn provided and I can confirm I didn't encounter this issue.

[2019-11-18 17:19] #2328 closed

[2019-11-18 18:16] mbransn commented on #2366
Expected:

- The weekly challenge counters (circles with set amount goal) should reset at the start of each week.
- The 'My points' overall challenge dashboard counter should not reset, it is accumulative.
- The overall contribution counter for speak and listen (existing in the site hearder) is still tied to clips and never resets.

[2019-11-18 18:20] mbransn commented on #2345
This is UX/product preference. @phirework let me know your thoughts once more pressing bugs are stable.

[2019-11-18 18:32] mbransn commented on #2337
Correct, expected is actually:
`My points` = the sum of `Recorded` + `Validated` point totals.

I've just submitted 10 recorded clips on production in my test challenge account:
- Header clip counter is reflecting that 10 clip total immediately
- `My points` is not reflecting 10 points immediately, will check back in 20 mins
- Challenge individual clip counter is not reflecting 10 recordings immed

[2019-11-18 18:47] LRSaunders4 opened #2371 "Speak and Listen numbers are switched in the Week 1 Individual Challenge"
Current: Speak 200, Listen 100

Expected:  Speak 100, Listen 200

![image](https://user-images.githubusercontent.com/48598353/69080357-6a20c900-0a01-11ea-9e44-747b683f2fcd.png)

Week 1: Sign Up and Contribute!
Individual Activity:
    Listen to 200 clips
    Speak 100 clips

[2019-11-18 18:49] mbransn opened #2372 "Individual count amounts for speak and listen are inversed on Challenge dashboard"
@rileyjshaw currently speak is at 200 and listen is at 100.

<img width="1434" alt="Screen Shot 2019-11-18 at 10 30 14 AM" src="https://user-images.githubusercontent.com/18686986/69080519-0393af00-09f1-11ea-8f87-54273fa9ed62.png">

Expected:
Listen goal is 200
Speak goal is 100

FWIW Listen will always be the larger goal throughout the challenge. :)

[2019-11-18 18:52] #2371 closed

[2019-11-18 18:53] mbransn commented on #2365
@rileyjshaw @phirework this is correct on prod, flagging that we verify this is fixed on stage prior to a future deploy.

[2019-11-18 18:56] mbransn commented on #2359
@rileyjshaw @phirework I'd like to level this up to P0 as I'm uncomfortable with the potential of how many duplicate accounts may be signing up from the Mozilla side for the challenge.

Is it possible to scrub all duplicate accounts? What are the contingencies and possible consequences of doing so?

[2019-11-18 18:59] mbransn commented on #2355
If enrolled in current, ongoing challenge, redirect should prioritize Challenge dashboard over Stat dashboard.

[2019-11-18 19:07] mbransn commented on #2357
@phirework is this the same as #2330 ? cc @LRSaunders4 to help confirm.

[2019-11-18 19:10] mbransn commented on #2356
Confirming that this is about an existing CV account holder who's currently logged into CV receiving+engaging a challenge invite link.

If so, the expected result is that engaging an invite link would trigger enrollment flow without additional authentication.

[2019-11-18 19:18] mbransn commented on #2336
+1, confirmed this is still an issue and related to my comments in #2337

[2019-11-18 19:20] mbransn commented on #2337
Checked at 20 mins and again at 1hr, still no reflection of points for contribution on either current challenge card or team leaderboard. @LRSaunders4 can you please test this and confirm if you're receiving points immediately on your test contributions?

[2019-11-18 19:26] mbransn commented on #2322
Realizing that this is related to #2337 and #2336 which I was testing on production and verified there that points are not being reflected after contribution.

I've just tested again on staging and have no points reflecting 5 recorded clips contribution, will check back in 20 mins. Current state on stage:

<img width="1419" alt="Screen Shot 2019-11-18 at 11 24 33 AM" src="https://user-images.githu

[2019-11-18 19:31] mbransn commented on #2289
Appears this is fixed on stage and production -- @LRSaunders4 can you confirm on your end?

[2019-11-18 19:33] mbransn commented on #2284
Confirmed fixed!

[2019-11-18 19:33] #2284 closed

[2019-11-18 19:34] mbransn commented on #2283
Confirmed fixed!

[2019-11-18 19:34] #2283 closed

[2019-11-18 19:36] phirework commented on #2365
This is probably because we changed the challenge start date on staging to be November 10th so that we could test with a live challenge, so according to that start date it IS now week 2. I can change it back on stage if desired.

[2019-11-18 19:43] mbransn commented on #2365
Not necessary, just confirming that we're all aligned and understand why things are showing up the way they are. Thanks for confirming the logic. :)

[2019-11-18 19:43] #2365 closed

[2019-11-18 19:43] LRSaunders4 commented on #2337
Just listened to 5 clips and recorded 5 clips. Both went through as submitted under Lindsay Test 2 but I do not see them reflected in my team leaderboard points. I have not seen the challenge card move in any testing I have done.

[2019-11-18 19:47] rileyjshaw commented on #2372
On it.

[2019-11-18 20:02] LRSaunders4 commented on #2289
Confirmed on my end as well.

[2019-11-18 20:02] #2289 closed

[2019-11-18 20:29] mbransn commented on #2337
@rileyjshaw is this something @can-007 and/or @catherine917 can help out with today when they come online?

[2019-11-18 20:30] rileyjshaw commented on #2345
I'm removing the `voice-challenge` tag from this since this is how unnamed users have historically been displayed on the Stats tab.

Anyone, please feel free to add it back if you think it's challenge specific.

[2019-11-18 20:40] rileyjshaw commented on #2369
We've got another fix out with https://github.com/mozilla/voice-web/pull/2373; it should hit the staging server soon.

[2019-11-18 20:57] rileyjshaw commented on #2337
Yes, that sounds like a great match. @can-007 @catherine917, I'm assigning you both to this issue!

[2019-11-18 21:23] georai opened #2374 "Mobile Challenge dashboard UI fixes"
https://www.dropbox.com/s/zvst5c5g67jc4tt/Screenshot%202019-11-18%2016.21.28.png?dl=0

1.This should be named "My Points."
2.There should be a full button Invite
3.Tab should be blue
4. It shows only when you have points. If no points were allowed just remove
5. Spacing should be 20 px from the border
6. Under numbers should be a line

https://www.dropbox.com/s/3zrd4l9mpymzlqx/Screenshot%202019-11

[2019-11-18 21:23] rileyjshaw commented on #2372
@mbransn confirming these goals are correct:

|        | Listen | Speak |
|:------:|:------:|:-----:|
| Week 1 |   200  |  100  |
| Week 2 |   100  |   50  |
| Week 3 |   200  |  100  |

[2019-11-18 21:26] georai opened #2375 "Mobile - Challenge screen nr2"
https://www.dropbox.com/s/ld4ptihnx4h3i8w/Screenshot%202019-11-18%2016.24.10.png?dl=0

1.Tabs should be on 1 line.
2.There should be a scroll here. The name should be full. Everything should be aligned.  rest of the labels are missing.
3.Missing show my rank icon. There should also be dividers.
4.This should be on  one row with everything else. Also the name should be full.

https://www.dropbox.co

[2019-11-18 21:33] georai opened #2376 "Tablet - Challenge screen"
https://www.dropbox.com/s/iyhlll9zvhthaui/Screenshot%202019-11-18%2016.28.10.png?dl=0

1.The tabs needs to be in line with me points and invite button.
2. Please add points
3. Please add the icon and invite
4. In my design the tab is blue not black
5. Please add the line.
6. Please Add   +50 points Way to send your first invite!
7. The ribbon icon is missing Show my rankings
8. Please move to the

[2019-11-18 21:45] rileyjshaw commented on #2372
(Confirmed in a different thread)

[2019-11-18 21:45] #2372 closed

[2019-11-18 21:57] mbransn commented on #2322
@rileyjshaw FYO for @can-007 @catherine917 to review #2337 against this issue as well. Are they all connected?

@phirework from what I’m seeing we should remove the resolves tag?

[2019-11-18 22:44] rileyjshaw commented on #2376
@catherine917 please take a look at this when you have a chance.

[2019-11-18 22:44] rileyjshaw commented on #2375
@catherine917 please take a look at this when you have a chance.

[2019-11-18 22:44] rileyjshaw commented on #2374
@catherine917 please take a look at this when you have a chance.

[2019-11-18 22:46] rileyjshaw commented on #2313
These are not Voice Challenge specific. Removing that label.

[2019-11-18 22:47] rileyjshaw commented on #2314
Related: https://github.com/mozilla/voice-web/issues/2313

[2019-11-18 22:47] rileyjshaw commented on #2314
These are not Voice Challenge specific. Removing that label.

[2019-11-18 22:49] rileyjshaw commented on #2355
Thankfully, this should happen already as the default dashboard view for an enrolled user is the Challenge tab :)

[2019-11-18 22:54] rileyjshaw commented on #2369
Confirmed that this is fixed on prod.

[2019-11-18 22:54] #2369 closed

[2019-11-18 23:12] rileyjshaw commented on #2353
Hi @adsingh14, have you seen our [Contributing to Common Voice](https://github.com/mozilla/voice-web/blob/master/CONTRIBUTING.md) document?

[2019-11-18 23:33] rileyjshaw opened #2379 "Invite counter on challenge dashboard page is not reset in the 2nd week of challenge"
_Noticed first in https://github.com/mozilla/voice-web/issues/2366._

As can be seen in these screenshots:

(Week 1)
![image](https://user-images.githubusercontent.com/1840854/69102753-33a27880-0a18-11ea-962d-66b71c63d8af.png)

(Week 2)
![image](https://user-images.githubusercontent.com/1840854/69102762-39985980-0a18-11ea-9db6-7e9f2fea0593.png)

Contribution counters are resetting between Week 1 a

[2019-11-18 23:34] rileyjshaw commented on #2366
Since the `Week` counter increased by 1 between the first and second screenshot, my guess is that you tested this behaviour just as the staging challenge switched from Week 1 to Week 2 (which happened close to when this issue was logged). I can't reproduce on staging now that we're solidly in Week 2, so I'm going to close this.

Aside: it's strange that the sign up counter jumped from 38% to 70% b

[2019-11-18 23:34] #2366 closed

[2019-11-18 23:50] phirework commented on #2359
Should be fixed by #2378, pending code review.

The TLDR is that in Nov 2018, we switched to using email addresses as the somewhat-unique-identifier for users, and introduced a new field called `has_login` to keep track of it. If you had an account on the site prior to that, it is 1) possible that you had more than one entry in the database because of how we were previously keeping track of unique

[2019-11-19 00:43] phirework commented on #2356
Yep, that is correct!

[2019-11-19 01:27] rileyjshaw commented on #2379
@can-007 please take a look at this when you have a chance.

[2019-11-19 01:30] rileyjshaw commented on #2338
@viorelaioia are you still seeing this issue?

@mbransn I have all three options available on my logged-in accounts:

<img width="463" alt="image" src="https://user-images.githubusercontent.com/1840854/69108261-f692b200-0a28-11ea-8a96-9e25ef337bbf.png">

From your description, it sounds like you noticed this on the initial profile screen shown immediately after creating a new account from the chal

[2019-11-19 01:51] rileyjshaw commented on #2322
@can-007 @catherine917 as discussed in our meeting, please look into this.

[2019-11-19 04:50] can-007 commented on #2322
For now, after I checked in staging database, I think this is not an point-calculation error.
@mbransn , you mentioned "_immediately_", so probably its about the cache.
Just want to clarify that:
_everything that is showing up on the challenge board is cached, "My Points", "Individual progress", all the "Leaderboard" etc._
Tell me if some of them shouldn't be cached, or should have different cachi

[2019-11-19 05:16] rileyjshaw commented on #2359
#2378 is now on staging!

[2019-11-19 05:22] rileyjshaw commented on #2357
Closing this; the issue is tracked well enough by #2330, and I believe it's fixed by https://github.com/mozilla/voice-web/pull/2377.

[2019-11-19 05:22] #2357 closed

[2019-11-19 07:09] mbransn commented on #2379
The second and third week team challenges are different than week one (team
sign up percentage from initial programmatic email send). Concept and
calculation changes from week to week as outlined in the challenge program
document, the copy here is the copy meant to be used for the UI as well:

Week 1:

Weekly Team Challenge:

   -

   Win a prize by being the team with the highest sign up rate

[2019-11-19 07:18] catherine917 commented on #2376
@georai
For No.7, the ribbon icon is missing because the current account 's visibility is `Hidden.` You can set it as `Visible for team only` or `Visible for all.`   and the ribbon icon will show up.
No.11 is the same as the above.

[2019-11-19 07:28] can-007 commented on #2337
I see that this is happening on prod server, and all the contributions and bonus are recorded in database.
I run the related SQL against the prod database and find the points are correct.
I also contributed 6 votes, waited for 20 minutes, and found my points reflected the contribution I just made.

@mbransn , could you please check again that if your points are 60?

[2019-11-19 07:39] rileyjshaw commented on #2379
Oops, sorry to waste your time with this Megan! We discussed it in today's standup and I forgot to close the issue until now.

I've scheduled work for updating the Week 2 and 3 challenge requirements for Thursday.

[2019-11-19 07:39] #2379 closed

[2019-11-19 07:48] mbransn commented on #2337
@can-007 confirmed that my points on prod are now 60 and show accurately for my dashboard and leaderboard. I’ve contributed two validation clips at 23:45 and do not see the two points reflected on my dashboard even though the header stat counter is updated. I understand the leaderboard cache, but do not understand why this is also affecting the point system itself.

cc @rileyshaw @phirework

[2019-11-19 07:54] mbransn commented on #2359
Confirmed fixed for my LDAP account on stage! Nice work y’all.

[2019-11-19 07:59] mbransn commented on #2322
@can-007 I believe we should cache only the leaderboard as we do for the original `Stats` dashboard. That would mean removing the cache, and the delay, for `My points` and `Individual progress`  The cache would stay in effect for all leaderboards.

@rileyjshaw @phirework of course the final decision lies with you re: infra load. If you’re comfortable though I’d like to move forward with the above.

[2019-11-19 08:00] catherine917 commented on #2376
@georai And I have a little bit confused about the No.10. Now we have a scroll and the more button.

[2019-11-19 08:02] mbransn commented on #2338
@rileyjshaw correct, UX expectation would be that people have the option to choose team only during their profile setup process, not after.

[2019-11-19 10:02] catherine917 commented on #2374
@georai If I click the dropdown `show all challenges` what would happen?

[2019-11-19 10:46] viorelaioia commented on #2372
@rileyjshaw , was this deployed in prod as well? I confirm it works well in staging, but I can only see week 2 with the corresponding value.

[2019-11-19 11:01] rleitan opened #2384 "Inconsistent behavior on sign-up vs login using an invite link"
[Precondition]:
Have an invite link - from account 1
Have account 2 created in CV production

[STR]:
1.Open the invite link in a tab
2.Login with account 2 credentials

[Expected result]:
The page should be redirected to challenge dashboard after a successful login ( like it's happening on sign-up for new accounts)
@mbransn

[Actual result]:
The page is redirected to https://voice.mozilla.org/en?c

[2019-11-19 13:59] rleitan commented on #2355
related to https://github.com/mozilla/voice-web/issues/2384

[2019-11-19 14:00] viorelaioia commented on #2338
Leaving this open because the "Visible within challenge team" option is not available on Profile page on sign up. The bug I described in this ticket is not reproducible anymore.

[2019-11-19 14:59] rleitan opened #2386 "No points earned for first Listen contribution, until all 5 are submitted"
[STR]:
1.Sign-up for the Voice Challenge using an invite link
2.From https://voice.mozilla.org/en/dashboard/challenge, click the Listen button
3.Contribute with one clip (listening)

[Expected result]:
A message with 50 points earned for the first contribution should be displayed

[Actual result]:
No message displayed, no points earned

[2019-11-19 15:21] viorelaioia commented on #2323
This issue is still happening, I managed to reproduce it in prod.

[2019-11-19 15:45] narendrapetkar commented on #833
Hey, I tried to apply this method to download english dataset which is now ~30GB. I got following error. so maybe, this method won't work henceforth.
`GET https://voice-prod-bundler-ee1969a6ce8178826482b88e843c335139bd3fb4.s3.amazonaws.com/cv-corpus-3/en.tar.gz?torrent`
.
`<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>InvalidRequest</Code><Message>Torrent creation is not supported for object

[2019-11-19 15:56] #2359 closed

[2019-11-19 15:57] #2330 closed

[2019-11-19 15:57] phirework commented on #2358
Re-opening it as a P1 since we're closing #2330

[2019-11-19 16:08] mbransn commented on #2322
From mtg w/ @rileyjshaw @phirework -- first look into changing cache timer post-launch to ensure infra stability. There are also ways to optimize the build of points to reduce server load, this is a more expensive engineering effort and will be explored once pilot launch is live and stable.

@phirework can you confirm which cache edits land to prod from latest PRs and we'll log next steps separate

[2019-11-19 16:14] #2376 closed

[2019-11-19 16:15] viorelaioia opened #2387 "Sign up toast gets displayed on every page refresh"
**STR:**

1. Sign up to the challenge with an account not used before in Common Voice
2. Check the privacy policy checkbox and click Save
3. Click Next in the onboarding modal, then "X", when reaching the last step => Challenges page is returned, 50+ bonus for sign up toast is displayed
4. Refresh the page

**Expected:**
Page is refreshed, nothing happens

**Actual:**
Onboarding modal is displayed

[2019-11-19 16:16] #2311 closed

[2019-11-19 16:59] mbransn commented on #2384
Yes, this is expected based on P0 implementation. We'll continue to track this via #2355, closing.

[2019-11-19 16:59] #2384 closed

[2019-11-19 17:01] mbransn commented on #2372
Confirmed deployed to prod.

[2019-11-19 17:25] rileyjshaw commented on #2387
This was fixed on staging last night and should now be fixed on prod.

Note: I notice you're testing on prod. Please don't create any more test accounts on prod, as the challenge is now officially underway! 🎉

[2019-11-19 17:25] #2387 closed

[2019-11-19 17:38] rileyjshaw commented on #2332
@phirework and I just confirmed that referrer tracking is fixed & working. Email clients don't broadcast their referrer info, but if someone signs up from Twitter, Facebook, etc. we’ll know about it.

[2019-11-19 17:38] #2332 closed

[2019-11-19 17:47] mbransn commented on #2322
@LRSaunders4 can you verify on your end that points are updating?

[2019-11-19 18:00] rileyjshaw commented on #2338
https://github.com/mozilla/voice-web/commit/03dd08438ffa794181490236244a0e93862557ca fixes this; it'll be on prod within the hour.

[2019-11-19 18:00] #2338 closed

[2019-11-19 18:05] rileyjshaw commented on #2355
@mbransn should all logins, regardless of challenge status, go to the dashboard? Or is this challenge-specific?

[2019-11-19 18:07] rileyjshaw commented on #2337
I believe this was fixed in https://github.com/mozilla/voice-web/commit/8776c09aa799b85b65b969f8b70b5f8322255489. Awaiting confirmation.

[2019-11-19 18:08] rileyjshaw commented on #2322
I believe this was fixed in https://github.com/mozilla/voice-web/commit/8776c09aa799b85b65b969f8b70b5f8322255489. Awaiting confirmation.

[2019-11-19 18:09] gbaptista commented on #2301
Doubts and concerns were addressed in the Discourse thread: https://discourse.mozilla.org/t/concerns-about-brazilian-portuguese-and-dialects-of-other-languages/48767/2

Thanks!

[2019-11-19 18:09] #2301 closed

[2019-11-19 18:11] mbransn commented on #2355
all logins. challenge logins > challenge tab; non-challenge logins > stats tab

[2019-11-19 18:30] #2355 closed

[2019-11-19 18:46] adsingh14 commented on #2353
Yes @rileyjshaw, it's complex for me.

I've installed all dependencies, ran 'npm, yarn, docker-compose up' commands. But it can't run **http://localhost:9000**.

[2019-11-19 22:44] rileyjshaw commented on #2339
I just tried, and couldn't reproduce this issue.  I think it was fixed by some work we did on deduplicating accounts, and further leaderboard improvements.

<img width="578" alt="image" src="https://user-images.githubusercontent.com/1840854/69193184-0965bf00-0adb-11ea-8a0d-b20c8c7797e8.png">

Can you please check to see if this is still an issue @viorelaioia?

[2019-11-19 23:35] mbransn opened #2388 "Larger image avatar coming through pixelated"
The larger avatar image is coming through pixelated on the challenge dashboard in the weekly challenge card.

<img width="159" alt="Screen Shot 2019-11-19 at 9 46 43 AM" src="https://user-images.githubusercontent.com/18686986/69196030-3073bf00-0ae2-11ea-8e73-c9d65fb182dc.png">

[2019-11-19 23:37] mbransn opened #2389 "Capitalize individual title on weekly challenge card"
Can we update `individual` to be title case `Individual` for consistency with `Team`?

<img width="159" alt="Screen Shot 2019-11-19 at 9 46 43 AM" src="https://user-images.githubusercontent.com/18686986/69196119-703aa680-0ae2-11ea-97db-fb143672675b.png">

[2019-11-19 23:37] mbransn commented on #2322
Confirmed fixed!

[2019-11-19 23:37] #2322 closed

[2019-11-19 23:38] mbransn commented on #2337
Confirmed fixed!

[2019-11-19 23:38] #2337 closed

[2019-11-19 23:43] mbransn commented on #2336
I've realized now that I was confusing Top Team leaderboard with Team leaderboard. @can-007 the Top Team leaderboard will only reflect points awarded based on team challenge outcome each week. These will be assigned manually by Riley at the end of each week and are based on the 100, 80, 60 point model for 1st, 2nd and 3rd place each week.

<img width="597" alt="Screen Shot 2019-11-19 at 3 42 09 PM

[2019-11-19 23:43] #2336 closed

[2019-11-19 23:45] mbransn commented on #1839
Closed, out of date.

[2019-11-19 23:45] #1839 closed

[2019-11-19 23:45] #2008 closed

[2019-11-19 23:49] mbransn commented on #2374
@catherine917 the expanded content is shown in the mobile design here: https://zpl.io/VxQm9ZJ

[2019-11-19 23:52] mbransn commented on #2389
@catherine917 are you able to update this today? cc @rileyjshaw

[2019-11-19 23:52] mbransn commented on #2386
@can-007 is this something you can take a look at today? cc @rileyjshaw

[2019-11-19 23:53] mbransn commented on #2388
@can-007 @catherine917 do you have thoughts on this? cc @rileyjshaw

[2019-11-19 23:54] rileyjshaw commented on #2389
Done! On its way to staging now.

[2019-11-19 23:54] #2389 closed

[2019-11-20 00:01] mbransn commented on #2110
@grailean I agree with the recommendation, can you take a pass at UI update for this so the email doesn't appear as a form field?

[2019-11-20 00:05] mbransn commented on #1931
Closing and will revisit with future goal / award setting UI iteration.

[2019-11-20 00:05] #1931 closed

[2019-11-20 00:08] mbransn commented on #465
Hi all, thanks for the input on this! We are going to close this issue as the current wordmark and mars (robot) iconography is the extent to which we are able to invest design resources for branding at the moment.

[2019-11-20 00:08] #465 closed

[2019-11-20 00:09] mbransn commented on #2389
Thank you!

[2019-11-20 00:10] can-007 commented on #2386
@rleitan did you click “yes”/“no” to vote or just listen?

[2019-11-20 00:15] mbransn commented on #1579
Closing as this is out of date.

[2019-11-20 00:15] #1579 closed

[2019-11-20 00:16] mbransn commented on #1576
Closing, this is out of date and checkbox needs are captured elsewhere.

[2019-11-20 00:16] #1576 closed

[2019-11-20 00:17] mbransn commented on #2386
@can-007 this tells me that she voted; e.g. 'contributed'

[2019-11-20 00:19] mbransn commented on #1044
Closing, quite out of date.

[2019-11-20 00:19] #1044 closed

[2019-11-20 00:22] can-007 commented on #2386
OK, just to be sure! I will look into to it.

[2019-11-20 00:27] mbransn commented on #2386
Thank you!

[2019-11-20 01:49] rileyjshaw commented on #2386
@can-007 for what it's worth, I was able to reproduce the same thing. Listening to a clip then clicking back updates my points total by 1, but I don't get a notification or points bonus.

[2019-11-20 01:55] rileyjshaw commented on #2386
@can-007 I'm not sure if this is related, but if I make a contribution that isn't a full group of 5, it's not reflected in the leaderboard. This is the state of my dashboard after a few hours of waiting and a hard refresh:

<img width="660" alt="image" src="https://user-images.githubusercontent.com/1840854/69202154-8aca4b00-0af5-11ea-9609-7109cd38196b.png">

Maybe single contributions are being ha

[2019-11-20 02:35] can-007 commented on #2386
@rileyjshaw , you have 2 vote contributions, the 2 points are reflected in your total points. You need to click the "`VALIDATED`" tab to see the vote points in the leaderboard.

[2019-11-20 02:44] rileyjshaw commented on #2386
Oops! You're right, sorry about that 😅

On Tue, Nov 19, 2019 at 18:35 can-007 <notifications@github.com> wrote:

--
Sent from my mobile.

[2019-11-20 03:29] can-007 commented on #2386
Surely it is a bug, the root cause is that, the `vote()` in _clips.ts_ is asynchronous, while the calling place, another `vote()` in _listen.tsx_ didn't use `await `to synchronize it.
_We didn't test this place very much at first, because we need to modify quite some places to be able to vote in UI._

[2019-11-20 08:13] catherine917 commented on #2388
@mbransn When you upload an avatar, the image is compressed and stored as a `Canvas` in the database.  The screenshot below is the image from the database. You can see it has already pixelated
![Annotation 2019-11-20 161244](https://user-images.githubusercontent.com/8065961/69220739-a181a800-0bb0-11ea-8645-ba16b7a1abe1.png)

[2019-11-20 08:41] can-007 commented on #2388
I think this phenomenon have existed for a long time. I guess the original idea was to protect CV from heavy network payload, in case someone might upload a huge picture.

[2019-11-20 08:47] catherine917 commented on #2323
@viorelaioia

Navigate to Listen page and validate a sentence
Navigate to Challenge page and click Invite button
Click "X" button

As you said above, you should get two achievements. Therefore, two notifications display on the dashboard is correct.

This is an issue and I think it should be fixed in the PR https://github.com/mozilla/voice-web/pull/2334.

I don't know which one is still happening.

[2019-11-20 09:13] can-007 commented on #2356
Does it involve any OAuth authorization flow?

[2019-11-20 10:24] rleitan opened #2393 "Error when signing-up using an invite link"
[Precondition]:
Have an invite link - from account 1
Have account 2 created in CV production

[STR]:
1.Open the invite link in a tab
2.Login with account 2 credentials (e.g. login with google)

[Expected result]:
The page should be redirected to challenge dashboard after a successful login

[Actual result]:
The oage is redirected to: https://voice.mozilla.org/callback?code=Y2bT06wNI5hHDYB2&state=U

[2019-11-20 13:04] rleitan commented on #2386
It's fixed now! :)

[2019-11-20 13:28] viorelaioia commented on #2339
@rileyjshaw , it looks fixed on my end as well.

[2019-11-20 13:28] #2339 closed

[2019-11-20 15:22] can-007 commented on #2353
`docker-compose up` should've taken care of all the database related matters, but you do need to pay attention to the disk space, in some cases, it might exceed the disk size of the docker image.

I would recommend to very carefully read the [configuration](https://github.com/mozilla/voice-web/blob/master/CONTRIBUTING.md#configuration) and [authentication](https://github.com/mozilla/voice-web/blob

[2019-11-20 15:53] can-007 commented on #2393
Is it that you have one tab with account 1 logged in, then open another tab and try to login account 2 using that invite link?

[2019-11-20 17:40] #2374 closed

[2019-11-20 17:41] adsingh14 commented on #2353
I skipped Auth0 a/c which was the reason behind this.
Now, I can guide a new contributor to setup this project on local.

[2019-11-20 17:57] phirework commented on #2388
Yep as @can-007 this is behaviour enforced by existing code. However, I took a look at the automatic resizing function on avatars and it looks like it restricts images to be a max of 80px in either dimension, which in the age of high res retina displays is probably too small. I've pushed a tiny change to master to increase that limit to 200px in either dimension. You won't see an improvement until

[2019-11-20 18:07] adsingh14 commented on #2353
I'm not able to access other pages except the home page.
I've double check the contribution file before re-opening this issue.

Here are the pages which aren't working as the live version:
- Contibute (Only Speak/Listen icon is visible)
- Login page isn't working: How could I check the code after signing in ?

[2019-11-20 18:09] phirework commented on #2353
Hi @adsingh14 - are you sure your auth0 credentials are actually being read by Docker? You'll need to add it in `docker/local-docker-config.json`. Check your startup logs to see if there are any error messages around not being able to find `config.json` or not finding Auth0 credentials.

[2019-11-20 19:50] mbransn commented on #2388
Got it, thanks all. 200px sounds alright for now and heard from some people internally testing the flow that providing dim info up front will enable easier clarity on what can be uploaded. I'm going to log that, along with a separate issue to look into larger image handling capabilities for those people not able to resize/compress (want this to be a friendly experience that doesn't require manual

[2019-11-20 19:52] mbransn opened #2397 "Outline 200px image size restriction on the avatar page pre-upload"
Based on #2388 -- create UX clarity for image upload size restriction of 200x200px on the avatar page.

[2019-11-20 19:54] mbransn opened #2398 "Improve avatar image size handling"
Create larger image handling capabilities for those people not able to resize/compress images to 200x200px manually -- ideally this is a friendly experience that doesn't require manual image resizing on the contributor end.

Original reference #2388

[2019-11-20 19:56] mbransn commented on #2323
@viorelaioia @rleitan can you retest tomorrow?

[2019-11-20 20:04] phirework commented on #2388
Just to clarify, when I say "restrict" I mean that the system as it is resizes images down to 80px at the widest (or 200px now) no matter what's uploaded, not that users have to manually crop to that size. I can totally see where I was unclear there, sorry about the confusion.

[2019-11-20 20:18] mbransn commented on #2388
Ah, got it. Thanks for clarifying. I'll test and rework issues (or delete) as needed. Thanks!

[2019-11-20 22:44] mbransn commented on #2388
@phirework FYI new image upload is not working for me, meaning:
Precondition: have image in place already as avatar
Expected: `Browse` on avatar page allows successful upload of a new image
Actual: `Browse` triggers mac os finder > image selected > finder closes > no visible image change

@viorelaioia can you please try and test the above on your end too and let us know the results?

[2019-11-20 22:46] mbransn commented on #2397
Clarified that image constraint allows upload of any size image, will reduce to 200x200px size.

[2019-11-20 22:46] #2397 closed

[2019-11-20 22:55] phirework commented on #2388
@mbransn Did you test this on prod or stage? I haven't deployed anything to prod today so if it's there then that was a pre-existing problem...

[2019-11-20 23:00] mbransn commented on #2388
...yep, prod. @viorelaioia please verify and if indeed an issue, let's open a new bug for tracking outside the challenge.

[2019-11-21 09:11] rleitan opened #2403 "Login issues on Edge"
[Environment]:
Windows 10 - Edge

[Precondition]:
Have an account in voice.mozilla.org - already joined the Voice challenge

[STR]:
1.Open https://voice.mozilla.org
2.Choose a login option and enter valid credentials (e.g. LDAP)

[Expected result]:
Login should be successful

[Actual result]:
The page is redirected to https://voice.mozilla.org/en/login-success but it looks like the login is not su

[2019-11-21 09:38] viorelaioia commented on #2323
@mbransn , if getting 2 notifications is the expected result after following the steps from the issue, then I can confirm that is working as expected. Also, the 2 notification are showing only once.

[2019-11-21 10:25] rleitan opened #2404 "An error occurred when reloading the dashboard page"
[STR]:
1.Login with an account already registered to voice challenge
2.Click reload button -> from dashboard

[Actual result]:
"An error occurred" message is displayed
https://drive.google.com/file/d/13c3_0rNfq6CKULfQuvWVsTX6InszvyB9/view?usp=sharing

[2019-11-21 10:31] rleitan commented on #2393
I cannot reproduce it anymore with a link generated today. I'll close the bug for now

[2019-11-21 10:31] #2393 closed

[2019-11-21 13:12] ovidiuboca1 opened #2405 "The avatar picture can't be changed"
Tested with Windows 10, Mac OS X 10.14 and Ubuntu 16.04 on Firefox 70, Safari 13.0.3

Prerequisites:
You need to have an account for Common Voice

STR:
1.  Open https://voice.mozilla.org/en and login
2. Go to Profile
3. Select Avatar
4. Upload an image.

Actual results:
There are 2 results, in this case, it depends on what kind of account you have.

1. If you have an account that already has an av

[2019-11-21 13:15] viorelaioia commented on #2388
@mbransn , the issue is reproducible. This is the new bug: https://github.com/mozilla/voice-web/issues/2405

[2019-11-21 18:09] #2356 closed

[2019-11-21 18:38] phirework commented on #2404
I think #2400 also incidentally fixed this. Can you test on voice.allizom.org to see if it's reproducible there?

[2019-11-21 20:27] adsingh14 commented on #2353
Hi @phirework , Do I need to create **config.json** file ?

Here's my Auth0 configuration:
![image](https://user-images.githubusercontent.com/35252877/69373808-a76bac00-0cca-11ea-9555-cda441fde790.png)

Still, I'm getting '**config.json**' not found error on using `yarn start` command.
![image](https://user-images.githubusercontent.com/35252877/69374012-27921180-0ccb-11ea-86f9-80c4fe247d87.png)

[2019-11-21 20:59] phirework commented on #2353
@adsingh14 If you're using `yarn start` instead of Docker then it's not going to read `docker/local-docker-config.json`. Try copying everything in that file to a new `config.json` file in the root directory of the project.

[2019-11-21 22:04] mbransn commented on #2388
Thank you!

[2019-11-21 22:05] mbransn commented on #2323
Got it, after experiencing the two notifications on my end in a positive way, I can confirm that this is fixed. @phirework please close when you are comfortable!

[2019-11-21 22:13] rileyjshaw commented on #2405
@phirework could this be related to https://github.com/mozilla/voice-web/commit/f6c3b2c44b373807f2383efda26e422e4ba3638e?

[2019-11-21 22:24] phirework commented on #2405
So I don't think so, because @mbransn first reproduced this bug on Prod in #2388 before f6c3b2c was deployed to Prod:

https://github.com/mozilla/voice-web/issues/2388#issuecomment-556503395

Also, I couldn't see anything in the source of `resizeImage` that indicated that a different number would break the entire funciton.

[2019-11-22 01:31] virgilt commented on #2333
@georai @mbransn @phirework  Can I work on this?

[2019-11-22 03:27] rileyjshaw commented on #2333
@virgilt absolutely! Please add a Pull Request when you're done, and I'll review it :)

[2019-11-22 08:58] rleitan commented on #2404
I can reproduce it on  voice.allizom.org.

[2019-11-22 16:18] Damian96 commented on #1917
![Screenshot_2019-11-22 Common Voice by Mozilla](https://user-images.githubusercontent.com/19414954/69441385-4dfb8f80-0d53-11ea-9e04-9df37b571ae9.png)
* OS: Linux 5.0.0-32-generic
* Version: 70.0.1

`Create a Custom Goal` and `Listen` icon are still overflowing their containers.
CSS selectors:
* `div.progress-card a.button.rounded.custom-goal-button`
* `a.button.outline.rounded`

[2019-11-22 20:16] #2323 closed

[2019-11-22 21:14] adsingh14 commented on #2353
Got another error ! I've re-cloned it again and followed the instructions, it's not working with 'yarn'.

[2019-11-23 01:24] peiying2 opened #2409 "Language menu: PT for Portuguese should be spelled out"
The language menu for Portuguese should be spelled out. Right now it is abbreviated as `PT`.

https://voice.mozilla.org/pt

[2019-11-23 10:24] can-007 opened #2410 "challenge board will crash if challenge has finished or not started"
challenge board will crash because current week is not between 0~2.
The weeklyChallengeCopy vector which contains challenge title will try to reference a title which is outside of its index-bound.

[2019-11-23 10:31] marco-c opened #2412 "No recordings to validate for Italian"
It seems strange that there are no recordings to validate, given that the stats say there are ~80h recorded and ~60h validated.

[2019-11-23 13:56] adsingh14 commented on #2353
I got this while using `docker-compose up` cmd. It doesn't load the '**localhost:9000**'.

![image](https://user-images.githubusercontent.com/35252877/69479743-e1ea5b80-0e26-11ea-952d-ff5e834fed50.png)

[2019-11-23 13:56] adsingh14 commented on #2353
@phirework
I got this while using `docker-compose up` cmd. It doesn't load the '**localhost:9000**'.

![image](https://user-images.githubusercontent.com/35252877/69479743-e1ea5b80-0e26-11ea-952d-ff5e834fed50.png)

[2019-11-23 19:34] dd-pardal opened #2413 "Portuguese terms of service not loading"
The Portuguese terms of service (https://voice.mozilla.org/pt/terms) won't load. Instead, the website shows just a spinner.

[2019-11-25 09:53] emilio opened #2416 "Logging-in without a profile when pointing to a different page gets stuck in a loop"
I was going to investigate https://bugzilla.mozilla.org/show_bug.cgi?id=1597630.

 * Click on https://voice.mozilla.org/el/dashboard/stats
 * Get prompted to log in.
 * Click any of the options, with an account where you don't have a profile yet.

I'd expect to be redirected to the "create your profile" page or something, but instead I get redirected to https://voice.mozilla.org/el/dashboard/stats

[2019-11-25 09:54] emilio opened #2417 "Buttons overflow in some languages like greek."
See https://bugzilla.mozilla.org/show_bug.cgi?id=1597630

[2019-11-25 11:40] Damian96 commented on #2416
Login with **Firefox Account**, is working on Firefox 70, Chrome and Opera.
**Github**, seems works only in my Firefox.

[2019-11-25 12:29] emilio commented on #2416
Yeah, it works if you go to `voice.mozilla.org` and create a profile, but otherwise you get stuck as described above.

[2019-11-25 13:46] LRSaunders4 opened #2418 "Contributors are listed twice in the leaderboard"
Some people appear in the leaderboards more than once
![image](https://user-images.githubusercontent.com/48598353/69545530-a4392000-0f57-11ea-9098-c1cb1dba0e6d.png)
![image](https://user-images.githubusercontent.com/48598353/69545586-bfa42b00-0f57-11ea-9e7f-325d771e7405.png)

[2019-11-25 17:01] #2410 closed

[2019-11-25 17:10] rleitan commented on #2404
I reproduced it on Windows 10- Edge
Console error: TypeError: Unable to get property 'done' of undefined or null reference
![2019-11-25_19h09_12](https://user-images.githubusercontent.com/41474886/69562054-1260ff80-0fb7-11ea-8e7d-6667c0edd968.png)

[2019-11-25 17:19] rleitan opened #2419 "The Team progress table is empty"
[Environment]:
Windows 10 - Edge, Firefox

[Precondition]:
Join the Voice Challenge using an invite link
Create a new account

[STR]:
1.Go to Dashboard

[Expected result]:
The Team progress table should be populated

[Actual result]:
The Team progress table is empty

[2019-11-25 17:20] phirework commented on #2419
This is on staging, right? With the changed challenge dates?

[2019-11-25 17:27] rleitan opened #2420 "The Accuracy values should be displayed on a single row"
[Precondition]:
Join the Voice Challenge

[STR]:
1.Go to https://voice.mozilla.org/en/dashboard/challenge
2.Observe the Team Progress table

[Expected result]:
The Accuracy values should be displayed on a single row

[Actual result]:

![2019-11-25_19h24_03](https://user-images.githubusercontent.com/41474886/69563303-869ca280-0fb9-11ea-89f0-3bd9a6ca2083.png)

[2019-11-25 18:37] phirework commented on #2416
Thanks for the report, we're investigating it.

[2019-11-25 20:03] mbransn commented on #2419
@rleitan can you confirm that you're referring to "Overall Challenge Top Team"? If so, this is as expected; team points are tied to the weekly challenge and populated manually at week's end (tomorrow).

[2019-11-25 20:03] mbransn commented on #2418
FYI @rileyjshaw

[2019-11-25 20:10] rileyjshaw commented on #2418
Very strange! I'll look into it, thanks for the ping.

[2019-11-25 20:11] rileyjshaw commented on #2418
@LRSaunders4 do you have any info on where this screenshot came from?

[2019-11-25 20:18] LRSaunders4 commented on #2418
Yes, it was from one of our partner contributors who emailed it to me. I
also saw the issue with my name today (LRSaunders) on the overall
leaderboard.

On Mon, Nov 25, 2019 at 2:11 PM Riley Shaw <notifications@github.com> wrote:

--
Lindsay Saunders
Program Manager - Open Innovation Team
lsaunders@mozilla.com

[2019-11-25 20:20] #2420 closed

[2019-11-25 20:23] LRSaunders4 opened #2421 "Cannot correctly expand and view contributors on the leaderboard"
I am unable to expand the  leaderboard view between number 17 and 22
![image](https://user-images.githubusercontent.com/48598353/69574978-0a8d6500-0f8f-11ea-9f80-62d93b35041a.png)

[2019-11-25 21:34] MichaelKohler commented on #2259
# How the export works
As far as I can see the following happens on an import:

* Sentences get read and put into the db from the server/data folder
* Any sentences not used in previous clips and skipped sentences (identification by its ID) get deleted
* All old versions' sentences get marked as `is_used = false`

# Fixing sentences for new recordings
This means that we can first merge ... and the

[2019-11-25 21:40] rileyjshaw commented on #2421
Weeeird, I don't think we're ever supposed to have `...` between two groups. I'll look into this, it's probably related to https://github.com/mozilla/voice-web/issues/2418. Thanks for logging it!

[2019-11-25 21:45] MichaelKohler commented on #2421
Just a quick note from me here, for the challenges you might not have as many people contributing that you'd need to cut it, but for the normal leaderboard you'd definitely want to have these ... cutoffs.

<img width="620" alt="Screenshot 2019-11-25 at 22 44 16" src="https://user-images.githubusercontent.com/330324/69580576-bef9ac00-0fcc-11ea-94f9-c3f6f9eadd69.png">

Expanding those doesn't seem t

[2019-11-25 22:17] rileyjshaw commented on #2421
Thanks for the info and further detail @MichaelKohler!

cc. @phirework, our leaderboard code is quite a mess. I'm not sure if you're tracking tech debt anywhere but this is a part of the codebase that could use some attention.

[2019-11-26 00:00] mbransn commented on #2421
They did indeed work at one point, though they honestly were never the ideal UX for this implementation. Another server side implementation constraint I believe.

[2019-11-26 03:25] can-007 commented on #2353
The logs seem to be normal docker logs, not the backend/frontend log.

For login page issue, I think a picture/screenshot would help a lot.

[2019-11-26 09:42] viorelaioia opened #2426 "Page is not scrolled up to Leaderboard visibility when setting visibility for top contributor"
**STR:**

1. Sign up to a challenge in CV prod
2. Navigate to challenge page
3. Click "Set my visibility" button from Top contributors table on the bottom of the page

**Expected:**
Page is automatically scrolled up to Leaderboard visibility options

**Actual:**
Page is not scrolled, user has to manually scroll up to see the Leaderboard visibility options.
See [video](https://drive.google.com/file

[2019-11-26 10:00] rleitan commented on #2419
I'm referring to "Mozilla Team Progress". The issue is still reproducible

![2019-11-26_11h59_17](https://user-images.githubusercontent.com/41474886/69619428-39b1de00-1044-11ea-9d22-63103da27155.png)

[2019-11-26 10:04] rleitan commented on #2419
I can reproduce it in staging only.

[2019-11-26 11:05] Mte90 opened #2427 "Open Cors to everyone"
We started working on a dashboard for italian that use the Common voice endpoints because the graphs are not very comfortable in home page also for https://github.com/mozilla/voice-web/issues/1565

The problem we have is that to use https://github.com/jotaro-sama/common-voice-visualization-it we need to install an extensions that disable Cors just to get the graph.

It is possible to open Cors? Th

[2019-11-26 14:24] viorelaioia-zz opened #2429 "Content of info icon from Team Progress dashboard is overlapped by the header"
**STR:**
Navigate to challenges page
Click the info icon for the Team Progress dashboard

**Expected:**
Content of info icon is displayed entirely

**Actual:**
Content of the info icon is overlapped by the header

![Screen Shot 2019-11-26 at 11 59 14](https://user-images.githubusercontent.com/5293100/69641624-37ae4600-1069-11ea-8bf1-caeb019e150c.png)

[2019-11-27 02:50] rileyjshaw opened #2430 "Team leaderboards don't add proper ranking suffixes"
<img width="595" alt="image" src="https://user-images.githubusercontent.com/1840854/69689352-91207000-107d-11ea-9794-b0c69282238b.png">

`1th` should be `1st`

`2th` should be `2nd`

[2019-11-27 02:55] rileyjshaw commented on #2430
It looks like `transformRankingToString` is expecting a number. My guess is that it's receiving a string.

[code]

[2019-11-27 03:07] rileyjshaw opened #2431 "Team leaderboard rankings aren't reflecting the right thing"
Thinking out loud because I'm realizing that I still don't understand what is shown on this board.

Right now, team leaderboards are set up to show the aggregate score rankings for each team in Week 1, Week 2, and Week 3:

<img width="595" alt="image" src="https://user-images.githubusercontent.com/1840854/69689396-b0b79880-107d-11ea-8523-4d1829922c0a.png">

There's a bug right now that causes a th

[2019-11-27 03:12] rileyjshaw opened #2432 "Overall Challenge Top Team leaderboard doesn't show rankings beyond 3rd (or, 3th 😅) place"
In the challenge mocks, we display a ranking for each team. Even ones that didn't win points:

<img width="467" alt="image" src="https://user-images.githubusercontent.com/1840854/69689781-b3ff5400-107e-11ea-9199-f91cd2383dbc.png">

Right now, we're only showing the top three teams. This is hard-coded on the server.

![image](https://user-images.githubusercontent.com/1840854/69690429-9df29300-1080-

[2019-11-27 06:56] rileyjshaw commented on #2431
Closing this – after a bit more investigation, I've realized that the board _is_ calculated based on weekly achievements. Sorry for the noise @mbransn, permission to completely disregard!

[2019-11-27 06:56] #2431 closed

[2019-11-27 07:00] rileyjshaw commented on #2432
Closing this issue, since #2431 closed as showing achievement rankings. Pinging @mbransn and @georai to confirm that there are no prizes beyond `3rd` place.

[2019-11-27 07:00] #2432 closed

[2019-11-27 07:08] rileyjshaw opened #2433 "Challenge achievements need a way to specify which week they apply to"
Spin-off of https://github.com/mozilla/voice-web/issues/2431.

Upon adding the Week 1 prizes:

[code]

This happened:

![image](https://user-images.githubusercontent.com/1840854/69701228-516b7f80-10a1-11ea-8117-6ae1ad733ea7.png)

Observed: Week 1 results ended up in Week 2, and Week 1 shows a three-way tie for first.

Expected: Week 2 should remain blank. Week 1 should display what's currently in

[2019-11-27 07:17] rileyjshaw commented on #2433
The big query that handles this is in `leaderboard.ts@getTopTeams`. The bug is: since team prizes are awarded manually _after_ the week in question, `earned_at` is not matching our date constraints of falling _within_ the nth week. I think relying on the date of `earned_at` here at all is brittle, but for now pushing the week out by 1 should solve the immediate problem. I'll push a hotfix, but I'm

[2019-11-27 10:04] can-007 commented on #2433
Apologies for the big query to get top teams.

For this bug, how about using SQLs like this:
`INSERT INTO earn (achievement_id, team_id, earned_at) VALUES(3, 1, (SELECT TIMESTAMPADD(SECOND, 7*24*60*60-1, start_date) from challenges where url_token = 'pilot'));`
make it the last second earning.

[2019-11-27 11:14] Mte90 opened #2434 "Other languages can break the dashboard"
![immagine](https://user-images.githubusercontent.com/403283/69718742-654dca80-110f-11ea-9b5b-744bfb246822.png)

This is the case of Italian that break the dashboard.

[2019-11-27 11:28] MichaelKohler commented on #2434
Same goes for German, FWIW.

[2019-11-27 15:42] phirework commented on #2433
Hmm I think for non-weekly achievements we'll still need the date that it was earned, but it might be worth considering adding an extra column to the `achievements` table that defines which week's points it's meant to count for, with `NULL` meaning "any week"?

[2019-11-27 15:52] can-007 commented on #2421
I think I know the `root cause `of this kind of issue:
let's leave cache aside, cache only decreased the frequency of this.
when user clicks `...` to show more rows, frontend sends a **cursor** to backend specifying the **range** of next group of rows to be returned;
backend then queries **all** the data from database **again** and returns the rows that falls within the **range**.

The problem is

[2019-11-27 15:58] can-007 commented on #2418
I think I know the _root cause_ of this kind of issue:
let's leave cache aside, cache only decreased the frequency of this.
When user clicks `...` to show more rows, frontend sends a `cursor `to backend specifying the **range** of next group of rows to be returned;
backend then queries all the data from database **again** and returns the rows that falls within the **range**.

_Where goes wrong:_
T

[2019-11-27 16:29] can-007 commented on #2419
The challenge on stage starts on 11-19.
Only 3 Mozilla members set their visibility to be `team_only`; others `private`.
All the 3 Mozilla members' contributions and achievements are earned before that date. Thus, no one has any points during the challenge.

cc @phirework  , do you think this is expected behavior?

[2019-11-27 16:37] rileyjshaw opened #2435 "Weekly team results should only be shown after the week in question"
<img width="594" alt="image" src="https://user-images.githubusercontent.com/1840854/69742157-23ae2700-10f1-11ea-9623-9d0602654e93.png">

[2019-11-27 16:51] #2435 closed

[2019-11-27 17:37] #2430 closed

[2019-11-27 17:38] rileyjshaw commented on #2433
Great idea! @can-007 @phirework do one of you have the bandwidth to take this on?

[2019-11-27 17:49] mbransn commented on #2432
@rileyjshaw this was a programmatic decision with @LRSaunders4 re: 4th place points -- if @LRSaunders4 wants to add points for 4the, go for it!

[2019-11-27 17:56] dabinat opened #2436 "Show exact number of recorded / validated hours"
Now that English has reached 1000 validated hours, the homepage graph is a lot less useful because you can no longer see the exact number of hours. It shortens it to "1.0k" so it's rounding down to the closest 100 hours. At the average rate of English validation (assuming no marketing campaign boosts) it takes ~3 months to hit 100 hours, so the graph will only update four times a year.

I can unde

[2019-11-27 17:59] phirework commented on #2433
@rileyjshaw Yep I can deal with that.

[2019-11-27 18:09] #2386 closed

[2019-11-27 20:57] phirework commented on #2419
@can-007 Yeah that's expected behaviour. @rleitan I can change the challenge start date on staging to be Nov 11th again if it makes testing life easier (though I don't think it's relevant for you any longer). Going to close this issue in the meantime.

[2019-11-27 20:57] #2419 closed

[2019-11-29 17:06] #2433 closed

[2019-12-02 12:00] Mte90 commented on #2434
I see this in the about page in the bottom, seems that the text is not aligned
![immagine](https://user-images.githubusercontent.com/403283/69957773-aaa13c00-1503-11ea-8e3e-bdbd741736c1.png)

[2019-12-02 12:48] LRSaunders4 opened #2444 "Contributors not listed on team leaderboard when they are set to Visible."
Lenovo reported that they are unable to see all of the contributors that have set themselves to visible on the team leaderboard.

"Most of our members are registered with webpage ([as linked](https://voice.mozilla.org/en?challenge=pilot&team=lenovo)). But some of the members are not listed in the Lenovo team. Although we have set the visibility as “Visible for team only”, but I can’t see some memb

[2019-12-02 21:32] mbransn commented on #2418
@rileyjshaw do you have an updated on this?

[2019-12-02 21:34] mbransn commented on #2404
Looks like this is resolved, @phirework can you confirm?

[2019-12-02 22:04] mbransn commented on #2434
@Mte90 @MichaelKohler are there recommendations you all can give in these languages to our localization team to improve the translation, especially in cases of button text? cc @peiying2

[2019-12-02 22:06] mbransn commented on #2426
+1 re: expected result. attn: @rileyjshaw

[2019-12-02 22:08] mbransn commented on #2417
@emilio thanks for reporting, see also #2434 -- are there recommendations you can provide for greek specifically to improve the text translation in overflow areas?

[2019-12-02 22:25] mbransn commented on #2444
Attn: @rileyjshaw

[2019-12-02 22:42] phirework commented on #2404
Confirmed fixed in #2307

[2019-12-02 22:42] #2404 closed

[2019-12-03 00:06] rileyjshaw opened #2446 "Lack of clear "Other" accent option"
I just came across https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352/55. It sounds like we have future plans to implement a finer-grained and more flexible accent strategy.

In the meantime, there appears to be [a](https://github.com/mozilla/voice-web/issues/296) [lot](https://github.com/mozilla/voice-web/issues/242) [of](https://github.com/mozilla/voice-web/issu

[2019-12-03 00:29] rileyjshaw commented on #2426
Thanks for the ping @mbransn! Fixed in https://github.com/mozilla/voice-web/commit/3bcc694e44fa38e70a414f01a4aa5e19acdc488b, should be on staging soon.

[2019-12-03 01:38] emilio commented on #2417
I'm not greek, so not many :)

[2019-12-03 01:39] rileyjshaw commented on #2444
I just responded in the email – it would be very helpful to get one of the emails that isn't showing up (cc @LRSaunders4).

I'm looking into possible causes in the meantime.

[2019-12-03 01:45] #1295 closed

[2019-12-03 01:51] rileyjshaw commented on #1664
This was fixed in https://github.com/mozilla/voice-web/pull/2263.

[2019-12-03 01:51] #1664 closed

[2019-12-03 02:31] rileyjshaw commented on #2444
An email just came confirming that this is now fixed. My guess is that there were some caching delays which have now resolved.

[2019-12-03 02:31] #2444 closed

[2019-12-03 02:34] rileyjshaw commented on #2413
Thank you for logging this!

Behind the scenes, we pull our terms from https://github.com/mozilla/legal-docs/tree/master/Common_Voice_Terms. It looks like we currently don't have a file called `pt.md` – only `pt-BR.md`. My guess is that this is causing the bug.

[2019-12-03 02:47] rileyjshaw commented on #2418
@can-007 and I have discussed this, and it's a pretty complex problem. Leaderboard positions may shift in the latent period between initial load and clicking the `...` button, and our leaderboards aren't set up to handle such a case.

Right now it looks like we can either:

- return all leaderboard entries on initial load (which won't scale), or,
- force a full refresh of the leaderboard on each `

[2019-12-03 10:01] Mte90 commented on #2434
I don't think that is something possible, because Italian and German as example are languages with long words compared to english.
I remember other Mozilla portal with those issues and sometimes is something possible with CSS (like my second screen) other times is something that require UI changes.

[2019-12-03 12:12] viorelaioia commented on #2420
I confirm it's fixed!

[2019-12-03 12:16] viorelaioia commented on #2426
@rileyjshaw , I cannot verify this on staging, as the challenge has reached the 3 weeks and the dashboards are not displayed anymore (see below).
Can we change the start date, so that the challenge is still active in staging, in order to test this?

![image](https://user-images.githubusercontent.com/5293100/70050367-70a16a00-15d7-11ea-874c-147cef4ccd35.png)

[2019-12-03 13:04] Damian96 commented on #2417
this issue is duplicate, see [https://github.com/mozilla/voice-web/issues/1917](https://github.com/mozilla/voice-web/issues/1917).

[2019-12-03 18:06] mbransn commented on #2434
Thanks @Mte90 it's a great point, something @phirework also brought up yesterday. We've got it logged and will work to get it into the maintenance work we're planning for the next couple months.

[2019-12-03 18:32] mbransn commented on #1917
Thanks for the additional flag here @Damian96 we're also tracking in #2434

[2019-12-03 18:33] mbransn commented on #2417
Ah, @emilio apologies for assuming you were! And thanks @Damian96 we are indeed getting multiple reports on this and will work to mitigate in the coming months. Appreciate the patience.

[2019-12-03 19:31] mbransn commented on #2426
@viorelaioia thanks for flagging, we're working to get stage updated to allow verification. Reopening until that happens.

[2019-12-04 00:55] mbransn commented on #2446
Thanks @rileyjshaw -- this is a great flag and a known issue. I'd like to wait to deploy any changes to accent collection as there is quite a lot of accent collection research happening at the moment by @nukeador with various linguistic experts around this very topic. Based on their findings we plan to rework the collection UI, including testing for usability, to ensure the data collected is rich

[2019-12-04 00:55] #2446 closed

[2019-12-04 01:45] rileyjshaw opened #2447 "Custom goals UI broken"
<img width="389" alt="image" src="https://user-images.githubusercontent.com/1840854/70105049-b15bac00-15f4-11ea-917a-6bde8e608968.png">

From https://voice.mozilla.org/en/dashboard/en/goals

[2019-12-04 01:46] rileyjshaw commented on #2426
Date is updated! This is now fixed on staging.

[2019-12-04 01:46] #2426 closed

[2019-12-04 01:48] rileyjshaw opened #2448 "Team leaderboard displays inconsistant usage of "--" vs. "4th""
<img width="594" alt="image" src="https://user-images.githubusercontent.com/1840854/70105212-0a2b4480-15f5-11ea-9a6f-55a57fcf8248.png">

From https://voice.mozilla.org/en/dashboard/en/challenge

[2019-12-04 21:57] phirework commented on #2413
The additional context here is that back in the summer, we decided to generalize Portuguese translations to `pt` instead of `pt-BR`, which we had previously been using. Migrating the terms over to the new value must've slipped through the cracks, so I've submitted a PR to remedy that.

Here's [more context for this change](https://discourse.mozilla.org/t/concerns-about-brazilian-portuguese-and-dia

[2019-12-04 22:41] rileyjshaw commented on #2413
Thanks for the context and [the PR], @phirework!

[2019-12-05 01:02] rileyjshaw opened #2450 "Incorrect pluralization of "Past challenge" in final week of challenge"
<img width="556" alt="image" src="https://user-images.githubusercontent.com/1840854/70194587-cb11f780-16b7-11ea-8376-2b93361a2d48.png">

Should be "Past challenges"

[2019-12-05 01:03] #2450 closed

[2019-12-05 01:11] rileyjshaw opened #2451 "Weekly challenge for final week still shows an invites counter"
<img width="560" alt="image" src="https://user-images.githubusercontent.com/1840854/70194904-e9c4be00-16b8-11ea-8557-ca884e904e73.png">

It should instead show the team's accuracy rate for submitted clips.

[2019-12-06 14:53] reinhart1010 commented on #2229
We already have https://common-voice.github.io/sentence-collector/
Probably a better way to solve this is to provide link to above site in the main Common Voice website.

[2019-12-06 19:54] phirework commented on #2413
This has been fixed.

[2019-12-06 19:54] #2413 closed

[2019-12-06 21:52] rileyjshaw opened #2454 "XSS vulnerability in serialize-javascript"
https://github.com/mozilla/voice-web/network/alert/yarn.lock/serialize-javascript/open

[2019-12-07 00:27] rileyjshaw opened #2456 "Challenge enroll with invite code not working for logged-in users"
We're sending a request with severely concatenated `invite` codes, eg `invite=e`. I suspect it's a bug in our regex match.

[2019-12-07 00:28] rileyjshaw commented on #2456
Turns out it’s because https://github.com/mozilla/voice-web/pull/2400 landed and was pushed to prod, but the fixes in https://github.com/mozilla/voice-web/pull/2407 were not pushed to prod.

Prod is now updated, bug is fixed and verified. ✅

[2019-12-07 00:28] #2456 closed

[2019-12-07 00:50] rileyjshaw opened #2457 "Overall Challenge Top Team leaderboard is empty"
<img width="594" alt="image" src="https://user-images.githubusercontent.com/1840854/70365861-7e115b00-1848-11ea-905a-90e8bc14af4d.png">

[2019-12-07 15:09] rugk opened #2459 "Clicking yes or no does not do anything: i.user.account is null"
## STRs

1. Go to https://voice.mozilla.org/de/listen
2. Click "Yes" (or "No")

What happens: Nothing.

What should happen: Show me next sentence.

Console:
[code]

## Additional information

When I once reloaded the site in this state, I got an empty white page "an error occured", and could create a Senetry error report.

Firefox 71

[2019-12-09 09:48] popey commented on #2459
Confirmed broken here in chrome and firefox 70.

[2019-12-09 10:20] viorelaioia opened #2462 "UI of percentage until goal is reached on Stats page is broken"
On https://voice.allizom.org/en/dashboard/en/stats:

![Screenshot_2019-12-09 Common Voice by Mozilla](https://user-images.githubusercontent.com/5293100/70427836-1e9c9080-1a7e-11ea-8806-2bce4de1dbec.png)

[2019-12-09 13:16] viorelaioia commented on #2426
This is fixed on desktop, but it's still happening on mobile (see below).
Can we fix it on mobile as well? @rileyjshaw , @mbransn

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/5293100/70438551-c2923600-1a96-11ea-9073-a35ad5db5650.gif)

[2019-12-09 15:27] viorelaioia commented on #2404
I managed to reproduce this again in prod, by being inactive on the dashboard page for several  minutes, then clicking "Contribute" button.

![error on cv](https://user-images.githubusercontent.com/5293100/70448299-d6469800-1aa8-11ea-8694-6be0e3922075.png)

[2019-12-09 16:45] rileyjshaw commented on #2457
Seems to be fixed now.

[2019-12-09 16:45] #2457 closed

[2019-12-09 17:37] rileyjshaw commented on #2462
Likely related to https://github.com/mozilla/voice-web/issues/2447

[2019-12-09 18:06] dabinat commented on #2459
I’m seeing similar issues on my iPhone (iOS 13.2.3). Instead of being instant, tapping Yes/No takes about 2 seconds for the next sentence to appear. And sometimes it does nothing at all no matter how many times I tap the buttons.

Also, sometimes tapping Play cuts off the recording because it appears to interpret it as two taps.

[2019-12-09 18:24] rileyjshaw opened #2463 "UI bug: extra background under email subscription checkbox in footer"
<img width="84" alt="image" src="https://user-images.githubusercontent.com/1840854/70461652-0886d400-1a6e-11ea-8ec7-b7ab6e1237b6.png">

[2019-12-09 20:54] phirework commented on #2459
Thanks for the report, folks. Can you still reproduce the issue?

[2019-12-09 21:15] Kriyszig commented on #2463
I created #2464. A review would be great.

P. S. the Docker build has failed in CI with the error
[code]
marking it red. A re run should hopefully give us the correct CI results

[2019-12-09 21:46] popey commented on #2459
@phirework all good new in Firefox 70. Thanks.

[2019-12-09 22:15] #2463 closed

[2019-12-09 22:17] rileyjshaw commented on #2463
Oh no, sorry @Kriyszig! This bug was fixed in https://github.com/mozilla/voice-web/commit/fa5f837386591668f3f6213ec152f987c8817792.

We appreciate your contribution, please feel free to take a look at other UI bugs such as https://github.com/mozilla/voice-web/issues/2462.

[2019-12-10 11:13] viorelaioia opened #2466 "Invite button is available when there is no active challenge"
**STR:**
1. Login to your Common Voice account
2. Navigate to Challenges page

**Expected:**
"Invite" button is not available, as there is no challenge in place

**Actual:**
"Invite" button is available, even though there is no active challenge.

![image](https://user-images.githubusercontent.com/5293100/70524930-e6b14e00-1b4e-11ea-91c4-f529fc6755aa.png)

@mbransn , can you please confirm that the

[2019-12-10 12:22] ovidiuboca1 opened #2468 "The text labels from the dashboard are not displayed correctly on some mobile devices (iPhone X )"
STR:

1. Open the browser in RDM mode and select for example iPhone X
2. Go to https://voice.mozilla.org/en/dashboard/awards

Actual results: The buttons (Challenge, Stats, Goals, Awards) labels are not displayed correctly.

![Screenshot 2019-12-10 at 14 49 04](https://user-images.githubusercontent.com/54845678/70530922-9345fc80-1b5c-11ea-8793-e536bceb8422.png)

Expected results: The buttons (Chal

[2019-12-10 13:53] ovidiuboca1 opened #2469 ""Confirm Goal" button is not greyed-out by default"
STR:
Prerequisites: Use an account that is new, or an account which doesn't have the "Privacy Policy" accepted

1. Start to set a Goal
2. Reach Step 3 -> please observe the "Confirm Goal" button

Expected result: The "Confirm Goal" button is greyed-out
Actual result: The "Confirm Goal" button is active even if the user didn't check the Privacy Policy box.

Note: Here is a screen recording: https:/

[2019-12-10 23:22] mbransn commented on #2466
@viorelaioia thanks for flagging -- the invite button is actually okay to stay here independent of the challenge. We're looking to bring the invite button to the overall dashboard and rework as a general invite mechanism for Common Voice. I'd see leaving it here as first step. Going to close cc @rileyjshaw

[2019-12-10 23:22] #2466 closed

[2019-12-11 02:02] can-007 commented on #2448
I didn't get the `inconstant `part here.
Does it mean that when the team doesn't earn bonus in 2nd week, it should show `--` instead of the rank `4th`, even though it has earned some bonus in the 1st week?

[2019-12-11 02:20] rileyjshaw commented on #2448
@can-007 thanks for clarifying! I think it would look better to have `4th` show up in the first week as well, and save `--` for weeks that haven't happened yet.

[2019-12-11 19:07] dabinat commented on #2459
@phirework This issue appears to have returned. The buttons are not doing anything again.

[2019-12-11 20:02] phirework commented on #2459
@dabinat Thanks for the flag! Trying to track it down in our error logs, were you voting on french clips by any chance?

[2019-12-11 20:33] dabinat commented on #2459
@phirework No, I only validate English. If it helps track it down, I’m on an iPhone 8 running iOS 13.2.3, using Firefox as my browser and my IP is located in Los Angeles, California. I was logged into my account at the time (dabinat).

[2019-12-11 20:47] phirework commented on #2459
Awesome, thanks for the extra detail.

[2019-12-11 23:55] phirework commented on #2459
@dabinat Did you happen to catch if your console also spat out an `user.account is null` error or if it just sat there and didn't do anything at all?

[2019-12-12 05:40] dabinat commented on #2459
@phirework Unfortunately because I’m on an iPhone, I would have had to have tethered it to a computer to see that information.

I tried doing that but now it appears to be working and I can’t reproduce it. I’ll let you know if it comes back.

[2019-12-13 17:38] cristianursena opened #2477 "We’re sorry, but your platform is not currently supported."
Hi, we installed out instance ov voice-web on our server but when we try to load it we get : We’re sorry, but your platform is not currently supported. We are using latest chrome and mozilla and still get the same error. We are using the public ip to access it and get this error. We don't use localhost:9000 instead ip:9000. Can someone help?

http://13.81.96.116:9000

Platform: Ubuntu 18.04
Nodejs

[2019-12-13 17:40] cristianursena commented on #2477
we are using the public ip to access it and get this error. we dont use localhost:9000 instead ip:9000

[2019-12-13 18:49] mozillakab opened #2478 "show a message when there is nothing to record"
I suggest to show a message inviting the user to visit Sentence Collector when there is nothing to record (or validate other recordings).

![2019-12-13 19_41_31-Common Voice](https://user-images.githubusercontent.com/7033740/70823944-5e96a700-1de1-11ea-956b-7c8b17bfc3aa.jpg)

[2019-12-14 04:20] gozer opened #2480 "Move special HTTP headers handling in node"
Right now, apache is doing some of that, and it doesn't make much sense.

Better if the node application does it all itself.

[2019-12-14 04:29] gozer opened #2482 "Handle http => https redirection on our own"
Makes sense for production and one more thing Apache doesn't need to do for us

[2019-12-14 14:00] reinhart1010 opened #2484 "Implement better sentence selection mechanism to promote word diversity"
Hello, I'd like to suggest an improvement of sentence selection mechanism (that are used to show users which one to speak) in Common Voice to improve the word diversity (**not** the word `diversity`). This mechanism will involve large database work and analysis.

The background behind this suggestion is the fact that the sentence corpus we use does not guarantee an equal distribution of word frequ

[2019-12-16 10:13] SelyanKab commented on #2478
Good idea, many people think it's a bug, when it's missing sentences.

[2019-12-16 16:34] mbransn opened #2485 "Add record icon to mobile speak instructions callout"
Via @Fjoerfoks on slack:

[2019-12-16 17:09] #2480 closed

[2019-12-16 17:41] #2482 closed

[2019-12-17 13:19] Fjoerfoks commented on #2485
BTW, this is also applicable for the Listen part of the mobile version, the icon misses there too.

[2019-12-17 18:35] rileyjshaw opened #2486 "Top Contributors leaderboard shows nothing on Stats dashboard"
<img width="598" alt="image" src="https://user-images.githubusercontent.com/1840854/71023987-e3c7d780-20d1-11ea-9212-7396864b6a44.png">

@phirework and I are going to look into this. It's related to some leaderboard investigations we're doing this week.

[2019-12-17 18:36] #2451 closed

[2019-12-17 18:37] rileyjshaw commented on #2486
(As mentioned in https://github.com/mozilla/voice-web/issues/1821, this relates to some cache issues we've been noticing)

[2019-12-17 20:23] dabinat commented on #2459
@phirework I had this issue again today. Unfortunately it took me a while to get my phone properly working with the remote debugger and by the time I did, it had started working again.

However, even with it working properly, I still got a bunch of errors related to the load balancer timing out, which could be related to the original issue:

[code]

I've noticed the buttons not working problem see

[2019-12-17 20:36] dabinat opened #2488 "Foreign language clips appearing in English validation queue"
I've been noticing foreign language clips appearing in the English validation queue recently. These contain characters that do not exist in English and would have been filtered out by Sentence Collector.

Additionally, the user speaks them fluently and without hesitation, which would probably not be the case if the user was expecting to speak a clip in English.

So for these reasons, I think this

[2019-12-17 20:59] stefangrotz commented on #2488
I have seen similar things in German. I think most of these sentences can be avoided by using a whitelist for the alphabet of one language or a blacklist for letters like cyrilic, greek and non-english-latin letters. This blacklist should be part of both, the wiki extractor and the sentence collector.

[2019-12-18 01:16] phirework commented on #2488
Yikes, super good flag, thanks you two!

[2019-12-19 16:24] mritunjayz commented on #2186
I will start working on these(voice wave tag) issues by tomorrow

[2019-12-19 18:41] phirework commented on #2459
@dabinat Thanks so much for following up and providing all the debugging info! It's definitely related to server load, which is also why it's been super frustrating to troubleshoot. We're in the middle of a couple of db optimization things that I think will help a lot, so I will continue to keep an eye on this bug.

[2019-12-20 07:37] gozer opened #2493 "Set content-type based Cache-Control max-age headers"

[2019-12-20 17:14] rileyjshaw commented on #2447
I just dug up [this design brief](https://www.dropbox.com/s/4rbjsqza53fc3w6/Common%20Voice.png?dl=0), from [this issue](https://github.com/mozilla/voice-web/issues/1931), fixed in [this commit](https://github.com/mozilla/voice-web/commit/6697cef76bc15c978ab426cda96cf1d6f1dfdfa4), which later on caused *this* ⬆ bug.

Relevant screenshot in case the Dropbox link dies:

<img width="726" alt="image" s

[2019-12-20 18:38] #2447 closed

[2019-12-23 13:00] iLeonidze opened #2497 "Problems with sentences in Russian"
From my point of view, as a native speaker of the Russian language, sentences have a variety of problems:
1) Russian sentences have a very strong political bias, and strong clericalism. In life, not so many people speak in that way, and I'm afraid that the neural network will have issues with sentences recognition based on such a dataset.
2) Many sentences in the dataset are duplicated: they diffe

[2019-12-23 13:17] spartedo commented on #2497
Fully agree with this statement, also many parts of incoming text has political context, that need to be moderated.

[2019-12-25 13:05] iLeonidze commented on #2497
Found a repo with russian sentences datacet: https://github.com/Koziev/NLP_Datasets
The author automatically collected texts from fiction. Asked the author to publish texts under CC0.

[2019-12-26 13:37] nukeador commented on #2497
In order to centralize the conversation, let's continue in this existing topic

https://discourse.mozilla.org/t/russian-senteces-are-low-quality/50941/

Once we have reached an agreement we will be able to open a change request if needed here.

[2019-12-26 13:37] #2497 closed

[2019-12-26 13:38] nukeador commented on #2477
You need to serve all your content using https for the browser webRTC to work.

[2019-12-26 15:06] hellosct1 opened #2502 "Problem repeat 5 listen (all language) with Common Voice"
hi,

I've created a post on Discourse that explains an annoying problem

https://discourse.mozilla.org/t/problem-repeat-5-listen-all-language-with-common-voice/50967

thanks

[2019-12-26 18:57] hellosct1 opened #2503 "problem Goals (all language)"
Hi,

A problem I've been spotting for several days, but I've managed to clarify it...

You no longer display the message of the goal reached when you just do the listen mode.

The tests I've done for any challenge with different account :
Talking: Okay.
Both... okay.
Listen : NO

the objective is reset to zero when the 24 hours have passed.

thanks
Christophe

[2019-12-26 22:36] ayushbansal07 commented on #2485
It happens because the css ".contribution .instruction svg" has 'display' attribute set to 'none'. Only when the @media (min-width: 768px) conditions becomes true, the 'display' is set to initial. One quick fix for this would be to set style="display: initial" to the svg tag in that element.

[2019-12-27 23:18] phirework commented on #2486
Closing this because we're revamping the whole thing, whoot.

[2019-12-27 23:18] #2486 closed

[2019-12-27 23:22] phirework commented on #2488
@stefangrotz @dabinat Circling back to this, do you have an approximate sense of when this started?

[2019-12-28 00:22] phirework commented on #2503
Hi @hellosct1, thanks for reporting this issue. This should be fixed now, can you verify?

[2019-12-28 00:23] phirework commented on #2502
This should be fixed, can you verify?

[2019-12-28 03:22] dabinat commented on #2488
@phirework Not sure... maybe a week or so before I reported it.

But the clips should be fairly easy to find because many of them contain characters that don’t exist in English (see my screenshots above).

[2019-12-28 08:14] hellosct1 commented on #2503
hi,
Very thanks.

I just ran the tests, and it's fine.

thank you for correcting

Christophe

[2019-12-28 08:14] #2503 closed

[2019-12-28 08:15] hellosct1 commented on #2502
hi,
Very thanks.

I just ran the tests, and it's fine.

thank you for correcting

Christophe

[2019-12-28 08:15] #2502 closed

[2019-12-30 20:36] #2462 closed

[2019-12-30 20:37] phirework commented on #2459
@dabinat We've made a bunch of performance optimizations in the last week or so and Sentry no longer seems to be picking up this error, have you experienced this again recently? If not, feel free to close this issue :) Thanks!

[2019-12-30 20:37] #2448 closed

[2019-12-30 20:38] phirework commented on #2412
This no longer seems to be an issue so I will close the issue, feel free to open another one if you notice something else amiss.

[2019-12-30 20:38] #2412 closed

[2019-12-30 20:43] #2285 closed

[2019-12-30 20:43] phirework commented on #2285
This doesn't seem to be an issue any more so I'm closing for now. Feel free to reopen or create a new issue if something else pops up.

[2019-12-30 21:02] dabinat commented on #2459
@phirework Yes, not only have I not experienced this issue in a while, but there is also no lag when pressing the buttons now. Thanks!

[2019-12-31 16:46] #2459 closed

[2020-01-02 23:16] rileyjshaw commented on #2417
This should be fixed by https://github.com/mozilla/voice-web/pull/2510.

[2020-01-02 23:16] #2417 closed

[2020-01-02 23:16] rileyjshaw commented on #1917
This should be fixed by https://github.com/mozilla/voice-web/pull/2510.

[2020-01-02 23:16] #1917 closed

[2020-01-02 23:16] rileyjshaw commented on #2434
This should be fixed by https://github.com/mozilla/voice-web/pull/2510.

[2020-01-02 23:16] #2434 closed

[2020-01-02 23:16] rileyjshaw commented on #2205
This should be fixed by https://github.com/mozilla/voice-web/pull/2510.

[2020-01-02 23:16] #2205 closed

[2020-01-02 23:17] rileyjshaw commented on #2409
This should be fixed by https://github.com/mozilla/voice-web/pull/2510.

[2020-01-02 23:17] #2409 closed

[2020-01-02 23:17] rileyjshaw commented on #2436
This should be fixed by https://github.com/mozilla/voice-web/pull/2510.

[2020-01-02 23:17] #2436 closed

[2020-01-03 10:47] Mte90 commented on #2434
![immagine](https://user-images.githubusercontent.com/403283/71719466-bc397480-2e1e-11ea-98e4-40734aa8916d.png)
I can still see the issues but I don't know if the deploy was already done of those changes.

[2020-01-04 00:30] rileyjshaw commented on #2434
Thanks for following up @Mte90, and sorry for not communicating status better. The change is currently on https://voice.allizom.org/en, and will be deployed to the live site soon 😄

<img width="1197" alt="image" src="https://user-images.githubusercontent.com/1840854/71756750-3d583200-2e46-11ea-8df7-c8287ece7df1.png">

[2020-01-04 00:37] mbransn commented on #2434
@rileyjshaw is this something we're tracking as ready for QA by @ovidiuboca1 @viorelaioia?

[2020-01-04 00:43] rileyjshaw opened #2513 "[Mac] Refresh blocked on /speak page"
Our shortcut handlers are correctly blocked when [`ctrl` | `alt` | `shift`] is pressed. However, shortcuts _do_ run when Mac's `command` key is down. This has unintended effects, such as overriding the default refresh behaviour (`command` + `r`) on the /speak page.

[2020-01-04 00:44] #2513 closed

[2020-01-04 00:51] rileyjshaw commented on #2485
This was fixed in https://github.com/mozilla/voice-web/pull/2510. This should be visible _now_ on voice.allizom.org, and _soon_ on voice.mozilla.org :)

[2020-01-04 00:51] #2485 closed

[2020-01-04 00:52] rileyjshaw opened #2514 "Strange wrapping of contribution instructions"
<img width="289" alt="image" src="https://user-images.githubusercontent.com/1840854/71757292-75ad3f80-2e49-11ea-96be-c662b092e340.png">

[2020-01-04 00:55] #2514 closed

[2020-01-04 02:59] rileyjshaw commented on #2434
@mbransn it's not tracked in Jira as far as I can tell; @phirework made the initial commit, I'm just helping with issue wrangling. I can add something to Jira, unless @phirework already did so?

This raises a larger question about QA handoffs for Github issues. Do we want to duplicate all issues from here to Jira, or is a ping / assignment over Github (as above) sufficient?

I'm easy either way, m

[2020-01-04 14:06] Adrijaned opened #2516 "The icons on about page are sometimes too big"
![Screenshot_20200104_150218](https://user-images.githubusercontent.com/22203805/71766746-828e6980-2f03-11ea-9b45-2b4ed01f95fa.png)
Happens on Firefox nightly for me, and only sometimes, goes away when reloading the page

[2020-01-04 22:38] davidak opened #2517 "Layout broken on small screens"
This is how the website looks on my 12.5" Thinkpad X230 (1366x768 pixels) with german locales. I think 12" is a common format for notebooks and should not break the layout.

![Screenshot from 2020-01-04 23-29-38](https://user-images.githubusercontent.com/91113/71772433-1c2d3980-2f4b-11ea-8f0e-fb6dccf3c3cf.png)

[2020-01-05 01:33] davidak opened #2518 "Other Voice Datasets: Add The Spoken Wikipedia Corpora"
Add to page https://voice.mozilla.org/en/datasets#other-datasets

https://nats.gitlab.io/swc/

[2020-01-05 20:01] dabinat commented on #2488
@phirework I was validating some clips and came across a foreign language one. I reported it and moved onto the next clip. The next clip was the exact same voice speaking a sentence in English.

This made me wonder if this has something to do with recording in one language and then switching and recording in another. Perhaps a cache or session variable somewhere still retains the previous language

[2020-01-06 12:22] Kriyszig opened #2520 "UI[web]: Background in dataset page doesn't fit the entire width"
The background image set using CSS is contained within the div instead of covering the entire background.

This led to issues like:
* Displeasing UI
* The heading getting hidden in the white background
This is prominent on screens of tablet.

### Steps to reproduce
* Go to <https://voice.mozilla.org/en/datasets>
* Resize the screen slowly decreasing the window width

### Problem visualized
#### He

[2020-01-06 17:00] Kriyszig commented on #2520
Fixed in 8282633

[2020-01-06 17:00] #2520 closed

[2020-01-06 18:25] phirework commented on #2488
@dabinat That's a great clue, thanks for that. We have a migration script that'll fix the ~700 clips that are currently mislabelled that'll land on production later this week / early next week, and I'll file a JIRA ticket to investigate the language setting mechanics more fully.

[2020-01-06 18:28] phirework commented on #2517
@davidak Thanks for the report! This has been flagged by a bunch of other users already and is fixed by #2510. You can see it on staging at https://voice.allizom.org/de/dashboard/stats and it will land on production within the next week or so.

[2020-01-06 18:28] #2517 closed

[2020-01-06 18:31] phirework commented on #2434
@mbransn Nope this wasn't tracked separately, the reports came directly from the community and I threw it in with a bunch of other fixes I was doing as part of my Github ticket (https://jira.mozilla.com/browse/OI-1348). My sense is that duplicating tickets for things that have already been fixed seems overkill, but happy to discuss in person this week.

[2020-01-06 18:34] phirework commented on #2513
Awesome, thanks for noticing + fixing!

[2020-01-07 01:01] mbransn commented on #2434
Cool, and nope, not saying we should bring into Jira. Highlighting that we need to ping QA on this prior to closing for verify and if we start to see an uptick in work that needs QA time, a flag is helpful in Slack standup at minimum so I can help wrangle. Blind otherwise and want to make sure we alleviate redundancies for everyone. Pulling into our doc and yes, hopefully we can talk through in pe

[2020-01-07 11:43] stefangrotz commented on #2488
The same bug is happening in Esperanto in the last Days. It is a language where it is very likely that people also donate other languages.

What is the best thing to do when this happens? Ignore the sentence, klick no or report it?

[2020-01-07 12:58] kosciCZ opened #2522 "Stats: Top Contributors and Contribution Activity language"
Hi!

I would like to suggest a change in the User Dashboard interface. I think it would make sense that if I select a language other than "All" in Your languages ("Čeština" in my case), the Top Contributors and Contribution Activity should switch to statistics for that selected language by default, as this is presumably what the user wants to see when they switch to a specific language.

If you th

[2020-01-07 13:07] kosciCZ commented on #2516
Happens for me too, in Firefox 71

[2020-01-12 13:18] Shivansh2407 commented on #2345
Can I please work on this issue?

[2020-01-12 15:16] Fjoerfoks commented on #2485
Thanks for working on this. But as far as I can see it is not fixed on production (yet) and on staging the Speak and Listen section are completely blank, so something went wrong somehow.
Can you take a look again?

[2020-01-13 09:18] arambh-gaur opened #2527 "Missing column has_login in user_clients table"
Hi,
During the schema creation in MySql has_login column is not added in user_clients table. But when we bring up the webpage on http://localhost:9000, the client makes some requests to the api and we get this error in the backend :

/api/v1/en/clips/votes/daily_count Unknown column 'has_login' in 'where clause'.

There is a query for altering the user_clients table and add this column but that do

[2020-01-13 10:18] Shivansh2407 commented on #2345
I have figured out the changes let me know what should I replace instead of ???. Better we could do - or anonymous

[2020-01-13 13:43] Sav22999 opened #2528 "Login via email doesn't work"
I receive the validation email correctly, but it doesn't work.

[2020-01-13 14:28] phirework commented on #2528
Originally reported in Discourse: https://discourse.mozilla.org/t/login-via-email-doesnt-work/51884/3

[2020-01-13 14:47] stefangrotz opened #2529 "Share function during sentence recording"
During the sentence recording there is a little "basket" icon that lets you share the link voice.mozilla.com to twitter and facebook:

![Bildschirmfoto 2020-01-13 um 14 45 00](https://user-images.githubusercontent.com/5982239/72264809-9e88be00-361b-11ea-94ab-3f8ce830a262.png)

- Why does this exist at every sentence you record?
- It doesn't have a explain text when you hover it like the other two

[2020-01-13 14:51] #2528 closed

[2020-01-13 15:58] phirework commented on #2529
@mbransn Do you have any insight into the origin of this?

[2020-01-13 20:52] phirework commented on #2477
Discussed over slack, closing issue.

[2020-01-13 20:52] #2477 closed

[2020-01-13 23:59] dabinat opened #2530 "Make help text more useful"
When recording or validating, text appears above the record/play button saying things like:

These sentences aren’t all that useful and it seems like that area could be better used to provide genuine help. For example:

This would aid in feature discovery and educate users to create recordings that are more likely to pass validation.

Currently the text appears to be fixed depending on which clip

[2020-01-14 12:24] parshva-b commented on #2073
@nukeador @Gregoor  Is this issue still open and unassigned? I would love to work on this issue

[2020-01-17 09:50] Shivansh2407 commented on #2530
Can I help in fixing this issue?

[2020-01-18 19:04] ghost opened #2533 "Dark theme"
It would be great to have a dark theme for the website to spare my eyes in the evening.

[2020-01-20 15:34] mnv936 commented on #2533
I would like work on this feature.

[2020-01-20 17:36] limapedro opened #2537 "Some changes in the Portuguese Corpora"
Hi, I've seen some errors in the Portuguese corpora, some phrases lack a period, this one seems easy to fix, some offensive phrases that I've tagged a while ago showed up in the dataset that was released last week. I've made a quick fix that could be commited right away.
Here's a link to the file.
https://drive.google.com/file/d/1vp1q0utgb8FMrpO8kfDKNhR-j3_TgChz/view?usp=sharing

[2020-01-20 17:49] limapedro commented on #2533
Yeah this would really cool, I used an extension but it was terrible. This one feature is must.

[2020-01-20 20:57] phirework commented on #2537
Hi, can you clarify what the file links to? Is it the corrected set of the Portuguese sentences? If so, you will also need to open a ticket in https://github.com/Common-Voice/sentence-collector/, otherwise the removed sentences will be just re-added next time there is an export.

If someone has recorded a clip with a mistake in it and that sentence then gets flagged, we currently have no process f

[2020-01-20 23:10] limapedro commented on #2537
@phirework  I'm working on correcting grammar errors from the Pt repo, I'm afraid that the next batch of sentences from the collection tool will come with a few errors again, about the file is pt/sentence-collector.txt, also improving the quality of the sentences is my top priority now, the collection tool has a flaw, these sentences sholdn't have reappeared in the corpora, thanks for the reply. I

[2020-01-21 10:03] can-007 commented on #2527
It would be very helpful if you could provide the version of MySQL.

[2020-01-21 18:51] Felizolinha commented on #2537
The portuguese corpora definitely needs some fixing. One thing that I believe is still broken in your fixed version, is that many sentences have random question marks in the middle of the phrases. Loads of phrases are also missing a capital letter after the punctuation.

[2020-01-21 22:23] limapedro commented on #2537
@Felizolinha Yeah I've notice this, I'm still working on correcting these mistakes and  improving readability of the sentences. When I'm done I'll ask for a commit. For the time being I think is better to stop the incoming sentences from the collector until we have ways of correcting them at scale.

[2020-01-21 23:29] limed opened #2540 "Adjust instance size of ec2 instances"
The EC2 instances currently being used is a `t2.large` we should swap this over to a  `t3.large` which is the latest generation of the EC2 instance class.

[2020-01-22 18:24] MichaelKohler commented on #2537
As @phirework said we will need to delete wrong sentences in the Sentence Collector as well. For that I'll need a list of the sentences to delete, preferably in a text file with one sentence per list.

I'd also like to note that there is no Portuguese validation file for the Sentence Collector, adding one would IMHO be way better than always fixing after an export. You can find more information he

[2020-01-22 19:20] limapedro commented on #2537
@MichaelKohler Hi, I'm working on fixing the sentences on the current repo, so many sentences lack a period, some sentences have a question mark out of nowhere, despite that the rest of the sentences are good, need some improving, about your last comment now we have some ground truth for valid and invalid sentences, I'm pretty we could come up with some solution to this problem, I'll update you as

[2020-01-22 19:32] MichaelKohler commented on #2537
I'm not sure if there is much value in changes all sentences to have a period at the end. Some consistency is good, but in this case we assume each sentence is actually a full sentence.

[2020-01-22 20:16] limapedro commented on #2537
All sentence that I've seen so far are full sentences. This is an update to sentences for the Portuguese Corpora, I've removed some sentences, just a few, changed for more consistency and fixed the errors mentioned above. https://drive.google.com/file/d/1bpytjhUlL17-H-q9-LNk--Oc8J3Hyehr/view?usp=sharing

Could you get this up and running?

[2020-01-23 04:23] Felizolinha commented on #2537
What if we enforce punctuation only for the newly added sentences, by using a validator?

[2020-01-23 08:38] MichaelKohler commented on #2537
That could be an option, however I'd first like to know from the Common Voice team if that adds any value. @nukeador what do you think?

[2020-01-23 11:15] nukeador commented on #2537
My understanding is that deep speech removes periods. @MichaelKohler we should check with Reuben or Kelly.

[2020-01-23 11:16] nukeador commented on #2537
Also I suggest we move this conversation to discourse, and keep github just for changes we have agreed.

[2020-01-23 11:28] MichaelKohler commented on #2537
That's correct. From a DeepSpeech perspective it doesn't matter. It would only matter in terms of having a consistent data set.

[2020-01-23 15:36] r00ster91 opened #2543 "Where do I see how many recorded clips got accepted?"
So on https://voice.mozilla.org/en/dashboard/stats I can see my voice stats and in Top Contributions I can see my amount of recorded clips, but where do I see how many of those recorded clips actually got approved and accepted into the dataset? I remember there was a percent stat showing that, but it’s not there anymore. Was it removed?

[2020-01-25 04:14] phirework commented on #2543
Hi @r00ster91! You are correct that the percentage stat used to be visible in your dashboard stats. We're reworking that entire feature right now, and have temporarily replaced it with a simple count while we figure out next steps. There are more details in the Discourse post here: https://discourse.mozilla.org/t/numbers-of-checked-sentences-not-shown-in-dashboard/51804/4

[2020-01-25 04:14] #2543 closed

[2020-01-26 16:15] limapedro commented on #2537
@MichaelKohler @nukeador will you guys change the current repo? Since the quality of the sentences is better and without many mistakes. We could focus on word distribuition, since Portuguese is somewhat phonetically consistent I think is a good idea to focus on covering as many words as possible with less sentences, have anyone thought of this before?

[2020-01-26 22:06] manishkr1101 commented on #1992
@viorelaioia  I have fixed it by adding overflow property. https://github.com/mozilla/voice-web/pull/2547

[2020-01-27 06:03] manishkr1101 commented on #1992
@phirework , Thanks for accepting my pull request, as it was my very first open source contribution :)

[2020-01-27 16:07] phirework commented on #1992
@manishkr1101 Woohoo! Welcome :)

[2020-01-27 18:55] bitplane opened #2548 "Pronunciation guide on record/playback page"
### User story

As a voice donor
I want guidance on how a word is pronounced
So that I can add sentences that contain unfamiliar words

As a reviewer
I want guidance on how a word should be pronounced
So that I can properly review sentences that contain unfamiliar words

### Idea

It'd be pretty simple to have each word be a link to Wiktionary's pronunciation guide for that word, encouraging users

[2020-01-28 10:39] viorelaioia commented on #1992
Looks good, @manishkr1101 ! Thanks!
Closing the issue, as it's fixed.

[2020-01-28 10:39] #1992 closed

[2020-01-29 05:26] dabinat opened #2549 "Detect blank recordings"
There seems to have been a rise in the number of blank recordings where all you can hear is background noise.

Perhaps these can be detected to show an error message to the user? Alternatively, I suspect users are posting blank recordings because they don’t know they can skip sentences, so a blank recording could automatically act as a skip.

@kdavis-mozilla has some code for JavaScript VAD here:

[2020-01-31 12:06] MichaelKohler opened #2550 "Language codes: ISO 639-1 vs. regional codes"
Currently we are using the 639-1 (two letters) code for most languages. However there are the following codes that use the language-region format:

* fy-NL
* ga-IE
* hi-IN (see https://github.com/Common-Voice/sentence-collector/pull/295)
* nb-NO
* nn-NO
* ne-NP
* pa-IN
* rm-sursilv
* rm-vallader
* sv-SE
* zh-CN
* zh-HK
* zh-TW

These are the ones I know about. There might be more available in Pont

[2020-01-31 12:11] MichaelKohler commented on #2550
Common Voice currently takes the code from Pontoon, and there is no mapping. The locale for "pt-BR" and "pt-PT" have been consolidated a few months back, and now it's just "pt" on Pontoon. In the end according to Nuke we only want two-letter codes in the data set where possible.

[2020-01-31 12:15] ftyers commented on #2236
Hi @beknazar ! You will need to use the [sentence collector](https://common-voice.github.io/sentence-collector/#/) to contribute sentences. Karakalpak is not there at the moment, but @MichaelKohler can add it. The language code is `kaa`.

@beknazar two more questions:

* Do you have the corpus online somewhere?
* Have you enabled Karakaplak in [Pontoon](https://pontoon.mozilla.org/)?

[2020-01-31 12:27] ftyers commented on #2550
Some of the locales might be shorthand for script, e.g. `pa-IN` is probably in [Gurmukhi not Shahmuki](https://en.wikipedia.org/wiki/Punjabi_language#Writing_systems).

Some comments on the others:

* fy-NL: probably not necessary
* ga-IE: probably not necessary, the only locale related thing would be currency I guess.
* nb-NO, nn-NO: not necessary, but this is a really weird situation
* ne-NP: pr

[2020-01-31 12:37] MichaelKohler commented on #2236
Sure, I could do that. Is "Karakaplak" the English name or also the native name? We show both the English name and the native name in the Sentence Collector dropdown.

[2020-01-31 12:53] ftyers commented on #2236
@MichaelKohler sent a PR, #296.

I also contacted Peiying to get Karakalpak enabled in Pontoon.

[2020-01-31 13:28] ftyers commented on #2184
@jaumeortola is this still a problem?

[2020-01-31 13:39] ftyers commented on #1857
@amingilani if you would like to enable Urdu, it can be done by following these steps:

* Finish translating [Common Voice](https://pontoon.mozilla.org/ur/common-voice/) in [Pontoon](https://pontoon.mozilla.org/)
* Make an account in [sentence collector](https://common-voice.github.io/sentence-collector/), add Urdu language in your profile and add and validate sentences

After these two steps are

[2020-01-31 13:44] ftyers commented on #1650
I just tested with Samsung Internet, it's not pretty but it works.

[2020-01-31 14:03] jaumeortola commented on #2184
No. It is fixed.

[2020-01-31 14:03] #2184 closed

[2020-01-31 15:21] reinhart1010 commented on #1650
Samsung Internet is based on older, but guaranteed to be stable (similar to Firefox ESR strategy) version of Chromium so yes Common Voice would work in that browser too!

[2020-01-31 16:24] ftyers commented on #1650
@reinhart1010 so it does work and this issue can be closed?

[2020-01-31 17:11] reinhart1010 commented on #1650
Yes I can finally confirm that this issue was fixed.

[2020-01-31 17:11] #1650 closed

[2020-02-01 03:26] kjreills commented on #1210
I'd like to start working on this feature. This will be my first contribution, so let me know if you have any advice or additional information I should know.

Thanks!

[2020-02-01 05:39] beknazar commented on #2236
Hey Francis,

- Can we start it with the articles in KAA Wikipedia?
- I don't see KAA in the languages list for the common voice project. How does one add a new language over there?

[2020-02-01 05:40] beknazar commented on #2236
- English: Karakalpak
- Native: Qaraqalpaq

[2020-02-01 11:36] ftyers commented on #2236
@nukeador can you answer this from the legal point of view?

From the linguistic point of view, Wikipedia articles are ok, but you would be better to start with sentences more like your target use case. For example if you are interested in creating a voice assistant then try to include questions and commands rather than just descriptive/declarative sentences.

I understand part of the issue will b

[2020-02-01 11:57] MichaelKohler commented on #2236
As far as I know there are no legal limitations of what languages can be extracted, as long as it's just 3 sentences per article (which the Scraping tool does). Nuke can confirm if needed.

For the scraping, you will first need to create a rules file for `kaa`. You can then test the extraction according to the README in https://github.com/Common-Voice/common-voice-wiki-scraper.  Once you're happy

[2020-02-01 15:10] jonorthwash commented on #2236
Yes, but it might not do what you want, and it might not be very good if it does.  But it wouldn't be hard to make a good one that does what you're after, and it's been on my list of things to do anyway.  If you remind me, I'll look into it in a couple days.  (Sálem, @beknazar!)

[2020-02-03 00:24] meridion opened #2553 "Japanese text seems mismatched with audio"
I am opening this issue because I am encountering an immense amount of completely incorrect audio samples in the Japanese version of common voice.

Some spoken sentences start out with the same words but end completely differently. Most spoken sentences have nothing to do with the text on the card.

However, all these sentences do sound like they came from an existing card, just not the one shown.

[2020-02-03 12:09] nukeador commented on #2550
@peiying2 can you please check this? Let me know how we can sync to make sure we align on this one and move it forward. Thanks!

[2020-02-03 13:52] nukeador commented on #2236
Hi,

This is the process for new languages:

https://discourse.mozilla.org/t/readme-how-to-see-my-language-on-common-voice/31530

Wikipedia process is explained here:

https://discourse.mozilla.org/t/technical-feedback-needed-wikipedia-extractor-script-beta/42983

Since this is a conversation, not a technical change, let's move it to discourse (we don't have bandwidth to monitor both channels for

[2020-02-03 13:52] #2236 closed

[2020-02-03 21:14] rileyjshaw commented on #2527
@arambh-gaur which version of MySQL are you using?

[2020-02-04 00:16] rileyjshaw commented on #2516
I think I have a fix for this, but I'm having trouble reproducing the original issue. Can you please provide more detailed steps so I can ensure I have a solution?

[2020-02-04 06:54] tawandamoyo opened #2554 "Cannot Change Avatar: Says image is too large regardless of size"
Cannot change avatar on the profiles page. It gives a popup that says image is too large (attached below).

I'm on Windows 10, using Chrome.

![avatar error screenshot](https://user-images.githubusercontent.com/17948595/73720950-d1f6ce00-472b-11ea-9ec6-7192c3257266.png)

[2020-02-04 13:20] lissyx commented on #2259
FTR, this issue is in the dataset v3.

[2020-02-05 00:50] rileyjshaw commented on #2469
I believe this is intentional. A user can set goals without agreeing to the privacy policy, _if_ they haven't opted into emails. As soon as the newsletter option is selected, we require the user to also check the privacy policy agreement. This matches what I'm seeing in the screen recording, and while testing.

@mbransn can you confirm that this is intended behaviour?

[2020-02-05 03:27] dingxuan92 commented on #2477
Hi @phirework,

I am also facing the same issue, can I get some help from this.

Thank you!

[2020-02-05 11:11] nukeador commented on #2477
@dingxuan92 please check previous messages, you need to serve the content over https for browsers to all webrtc to work.

[2020-02-06 01:49] rileyjshaw opened #2558 "errorNotSupportedError: The element has no supported sources."
We're seeing this a bunch on Sentry. My guess is that it has something to do with the audio formats on /listen, or being overly optimistic handling async media loading.

[2020-02-06 15:27] ftyers commented on #2236
@beknazar Pontoon has been enabled for Karakalpak. https://pontoon.mozilla.org/kaa/common-voice/  If you'd like more help, please join us on Matrix or Discourse.

[2020-02-08 11:56] PhoenixIV opened #2559 "Donate existing transcriptions"
I want to transcribe public (CC-BY and the like) audio files. Is or can there be a way to donate those to the system? They need to be transcribed anyway and I can imagine more people can make use of that. How cool would it be to have a transcription tool that uploads bits of voice with it's transcription to the commons?

[2020-02-08 21:45] stefangrotz commented on #2559
I had similar plans. AFAIK they don't import audio files that comes from other sources than the website. But it is always possible to create your own dataset and mix it with common voice when you train your own language model. Creating your own dataset also has the advantage that it can have a stricter license than CC0 like CC-BY.

One thing that I could imagine: once a language has enough data to

[2020-02-09 20:05] bitplane opened #2560 "Submit report button missing in Brave browser for Android"
# browser details

* Android 9
 * Brave 1.5.4 / Chromium 79.0.3945.136

# steps

1. Go to https://voice.mozilla.org/en/listen
2. Click "report »»" button
3. Select a reason and scroll to bottom of page

## expected result
There should be a submit button at the bottom of the page

## actual result
The submit button is missing

# screenshot

![Screenshot_20200209-195655](https://user-images.githubus

[2020-02-10 14:38] phirework commented on #2553
@meridion Thanks for reporting this! Is this something you just started noticing or has this been happening the entire time you've been using Common Voice? Also, next time you notice this happening, could you note down the sentence in the card and what you think the sentence should've been and let me know? I'd love to be able to narrow this down further.

[2020-02-10 16:19] #2540 closed

[2020-02-10 16:23] phirework commented on #1210
@kjreills Please feel free! If you run into any issues getting the repo set up locally for development please submit a PR to CONTRIBUTING.md so that we can improve our documentation :)

[2020-02-10 21:53] stefangrotz opened #2561 "Capital Is and small Ls are exactly the same in the used font"
I have seen a some wrongly recorded donations because the font (is it zilla slab?) has identical looking capital Is and small Ls.  For example in Esperanto there is the word "la" (the) and the word "ia" (any) and people sometimes mix them up when they are at the beginning of a sentence or when both words are grammatically possible.

<img width="291" alt="Bildschirmfoto 2020-02-10 um 22 53 31" src=

[2020-02-11 12:57] meridion commented on #2553
Alright, here goes:
card text: 不平を言っても無駄だ。
spoken text: 父は私たちの結婚を反対した。

card text: 副官は戦術の変更を彼に提案した。
spoken text: パーティーの料理がおいしくありませんでした。

card text: 評論家たちは経済規制の強化を激しく非難しています。
spoken text: 彼女は父親の死から立ち直った。

card text: 遺留品といっては、糸一本も落ちていなかった。
spoken text: 父は友達と仲良くやっている。

It has been quite a while since I last used common voice, but I don't remember Japanese having this problem at the time.

Since Japan

[2020-02-11 15:48] phirework commented on #2553
Awesome, thank you so much for this!

[2020-02-11 20:20] rileyjshaw commented on #2516
@Adrijaned @kosciCZ can you please confirm that this is now fixed on https://voice.mozilla.org/about?

[2020-02-11 20:23] kosciCZ commented on #2516
It seems fixed for me, I wasn't able to get it to bug out again. Thank you!

[2020-02-11 21:36] rileyjshaw commented on #2516
Great! Thanks for verifying.

[2020-02-11 21:36] #2516 closed

[2020-02-11 22:42] mbransn commented on #2469
+1 this is indeed as @rileyjshaw has outlined. :) Okay to close.

[2020-02-11 22:56] #2469 closed

[2020-02-13 07:21] #1643 closed

[2020-02-14 00:56] kornelski opened #2564 "Logging in the iOS app is impossible due to sandboxed cookies"
When I try to register or log in in Mozilla Common Voice app for iOS, I’m required to receive an email from Mozilla SSO service and follow a link from the email.
The problem is that the email link opens in Safari. There is no way to open it in the app. The in-app browser doesn’t even have an address bar.

iOS sandboxes cookies and won’t expose Safari cookies to the app, so the Voice app never lear

[2020-02-14 09:02] reinhart1010 opened #2565 "“Unsupported Browser” error while trying to record on iOS"
After logging in to Common Voice via Firefox Accounts, trying to record voice returns an “Unsupported Browser” error.

![69902077-BDB0-4087-9E85-6F401F81B8FB](https://user-images.githubusercontent.com/17312341/74516679-5f63ca80-4f43-11ea-89ee-056f82f8082b.png)

Reproducible on Safari (Mic permissions ON), Firefox for iOS, and even the Common Voice app.

Not reproducible when the user was logged ou

[2020-02-18 13:17] bitplane commented on #2560
Turning off "fingerprint protection" makes this button show up again. So it must be that the button being created is suspicious and gets blocked.

[2020-02-18 21:57] MichaelKohler commented on #184
Given that the focus will be on the Web experience and not on the iOS experience, I'm closing this.

[2020-02-18 21:57] #184 closed

[2020-02-18 21:58] MichaelKohler commented on #54
Given that the focus will be on the Web experience and not on the iOS experience, I'm closing this.

[2020-02-18 21:58] #54 closed

[2020-02-18 21:58] MichaelKohler commented on #53
Given that the focus will be on the Web experience and not on the iOS experience, I'm closing this.

[2020-02-18 21:58] #53 closed

[2020-02-18 21:58] MichaelKohler commented on #215
Given that Focus for Android is now in maintenance mode, I'm closing this.

[2020-02-18 21:58] #215 closed

[2020-02-18 21:59] MichaelKohler commented on #262
I think it's worth looking at this again, maybe we could provide some of this data on the dataset download page?

[2020-02-18 22:02] MichaelKohler commented on #371
All these assets are now served from the /dist endpoint, I'm closing.

[2020-02-18 22:02] #371 closed

[2020-02-18 22:10] MichaelKohler commented on #469
As far as I know latest versions of Safari and Edge should work. I don't have the possibility to check on iOS, so please feel free to reopen.

[2020-02-18 22:10] #469 closed

[2020-02-18 22:12] MichaelKohler commented on #618
I'm closing this, please feel free to open a discussion at https://discourse.mozilla.org/c/voice/239 in case this needs to be discussed further.

[2020-02-18 22:12] #618 closed

[2020-02-18 22:13] MichaelKohler commented on #633
I'd love to discuss this and see whether this is still an issue.

[2020-02-18 22:14] MichaelKohler commented on #641
I'm closing this, if that's still a thing we will need, let's reopen.

[2020-02-18 22:14] #641 closed

[2020-02-18 22:14] MichaelKohler commented on #733
I'm closing this, if that's still a thing we will need, let's reopen.

[2020-02-18 22:14] #733 closed

[2020-02-18 22:16] MichaelKohler commented on #745
Given that the API is not official and could change any time (and probably did in the mean time), I'd say a link to voice.mozilla.org would be great. As far as I know there are no definitive plans to support an official API (yet?), so I'm closing this.

[2020-02-18 22:16] #745 closed

[2020-02-18 22:19] #790 closed

[2020-02-18 22:37] MichaelKohler commented on #914
@kdavis-mozilla I feel that mentioning it on the CV would make sense, but introducing noise sounds like something for DeepSpeech. Do you agree? Or is this already solved and we can close this issue?

[2020-02-18 22:38] MichaelKohler commented on #937
There have been some improvements in the past, there might still be some issues though. I'm closing this, but if you see any specific instances where the layout is wrong, can you please file a specific issue? Thanks!

[2020-02-18 22:38] #937 closed

[2020-02-18 22:41] MichaelKohler commented on #1002
This sounds interesting, let's have this discussion over at https://discourse.mozilla.org/c/voice/239 if there is still interest!

[2020-02-18 22:41] #1002 closed

[2020-02-18 22:43] MichaelKohler commented on #1026
@lukereichold is this still an issue?

[2020-02-18 22:47] MichaelKohler commented on #1051
Just tried this with German, still displays English. Would be great if that would take the localized descriptions: https://twitter.com/KohlerSolutions/status/1229899994800513027

[2020-02-18 22:48] #1057 closed

[2020-02-18 22:49] #1083 closed

[2020-02-18 22:51] MichaelKohler commented on #1088
I'm closing this as this currently behaves the same on desktop and mobile.

[2020-02-18 22:51] #1088 closed

[2020-02-18 22:52] #1089 closed

[2020-02-18 22:52] MichaelKohler commented on #1119
As far as I know there is (will be) a trend towards a limit of 1 recording per sentence, so I'm closing this.

[2020-02-18 22:52] #1119 closed

[2020-02-18 22:53] #1131 closed

[2020-02-18 22:54] #1145 closed

[2020-02-19 04:35] OliverRM commented on #1026
For me (iPhone 7, iOS 13) the issue is solved.

[2020-02-19 06:06] iveskins commented on #633
Hi @MichaelKohler. I haven't looked in a while. At the time It seemed to me that every recording had its own sentence data, that was made at recording time. So unless there has been some action to go and change the sentence data on older recordings then the initial problem would still exist. As for if this is still an issue or not, that would depend on if these old recordings are still waiting to

[2020-02-19 07:48] #1026 closed

[2020-02-21 23:45] #1207 closed

[2020-02-21 23:47] MichaelKohler commented on #1225
As far as I know we'll go towards one recording per sentence. So I'm closing this, feel free to reopen if I'm wrong.

[2020-02-21 23:47] #1225 closed

[2020-02-21 23:48] #1235 closed

[2020-02-21 23:51] MichaelKohler commented on #1258
Closing this for now, please reopen if this still happens.

[2020-02-21 23:51] #1258 closed

[2020-02-21 23:54] #1338 closed

[2020-02-21 23:55] MichaelKohler commented on #1362
I'm closing this, if this is still happening please reopen :)

[2020-02-21 23:55] #1362 closed

[2020-02-21 23:56] MichaelKohler commented on #1154
I don't think this popup is still a thing, but please feel free to reopen if I missed it.

[2020-02-21 23:56] #1154 closed

[2020-02-21 23:56] MichaelKohler commented on #1170
I don't think this popup is still a thing, but please feel free to reopen if I missed it.

[2020-02-21 23:56] #1170 closed

[2020-02-21 23:57] MichaelKohler commented on #1180
This is fixed

[2020-02-21 23:57] #1180 closed

[2020-02-21 23:57] MichaelKohler commented on #1231
This is good now, indeed.

[2020-02-21 23:57] #1231 closed

[2020-02-21 23:59] MichaelKohler commented on #1345
Can't reproduce anymore on latest Edge

[2020-02-21 23:59] #1345 closed

[2020-02-22 00:02] #1366 closed

[2020-02-22 00:04] MichaelKohler commented on #1394
This looks better with the new interface.

[2020-02-22 00:04] #1394 closed

[2020-02-22 00:06] MichaelKohler commented on #1395
As mentioned before, this is default behavior. And that behavior can be adjusted in the MacOS settings.

[2020-02-22 00:06] #1395 closed

[2020-02-22 00:10] #1428 closed

[2020-02-22 00:10] #1430 closed

[2020-02-22 00:11] #1432 closed

[2020-02-22 00:11] #1446 closed

[2020-02-22 00:12] MichaelKohler commented on #1447
Looks pretty green to me now.

[2020-02-22 00:12] #1447 closed

[2020-02-22 00:15] #1460 closed

[2020-02-22 00:17] MichaelKohler commented on #1467
It seems that going back is not possible anymore, so closing this one.

[2020-02-22 00:17] #1467 closed

[2020-02-22 00:19] #1476 closed

[2020-02-22 00:27] MichaelKohler commented on #1527
Is this still happening?

[2020-02-22 00:28] MichaelKohler commented on #1484
I'd say this is a topic best discussed on https://discourse.mozilla.org/c/voice/239

[2020-02-22 00:28] MichaelKohler commented on #1543
https://discourse.mozilla.org/c/voice/239

[2020-02-22 00:28] #1543 closed

[2020-02-22 00:30] MichaelKohler commented on #1548
This looks good to me now. Feel free to reopen if I looked at the wrong stuff as the screenshots are not available anymore.

[2020-02-22 00:30] #1548 closed

[2020-02-22 00:30] MichaelKohler commented on #1549
Closing as screenshot is not available anymore and I'm not sure if this even still is applicable.

[2020-02-22 00:30] #1549 closed

[2020-02-22 00:31] MichaelKohler commented on #1550
Closing as screenshot is not available anymore and I'm not sure if this even still is applicable.

[2020-02-22 00:31] #1550 closed

[2020-02-22 00:33] #1578 closed

[2020-02-22 00:34] MichaelKohler commented on #1602
I'm pretty sure that's because we do want people to let it unset if they don't want to indicate a gender.

[2020-02-22 00:34] #1602 closed

[2020-02-22 00:35] MichaelKohler commented on #1603
If this is still a concern, let's discuss on Discourse.

[2020-02-22 00:35] #1603 closed

[2020-02-22 00:35] MichaelKohler commented on #1604
I don't think this dialog is still a thing, but please feel free to reopen if I'm wrong.

[2020-02-22 00:35] #1604 closed

[2020-02-22 00:38] MichaelKohler commented on #1607
@Djfe @MichaelNMaggs is this still an issue?

[2020-02-22 00:41] #1616 closed

[2020-02-22 00:42] #1617 closed

[2020-02-22 00:44] MichaelKohler commented on #1618
This view does not exist anymore.

[2020-02-22 00:44] #1618 closed

[2020-02-22 00:45] MichaelKohler commented on #1619
This view does not exist anymore.

[2020-02-22 00:45] #1619 closed

[2020-02-22 00:48] MichaelKohler commented on #1635
This is browser behavior.

[2020-02-22 00:48] #1635 closed

[2020-02-22 00:50] #1649 closed

[2020-02-22 00:51] #1658 closed

[2020-02-22 00:52] MichaelKohler commented on #1663
If this is still something to discuss, let's have this conversation over at Discourse: https://discourse.mozilla.org/c/voice/239

[2020-02-22 00:52] #1663 closed

[2020-02-22 00:53] MichaelKohler commented on #1666
Closing this given that there is a discourse post.

[2020-02-22 00:53] #1666 closed

[2020-02-22 00:54] MichaelKohler commented on #1673
Can't reproduce.

[2020-02-22 00:54] #1673 closed

[2020-02-22 00:55] MichaelKohler commented on #1676
This has been fixed in the meanwhile.

[2020-02-22 00:55] #1676 closed

[2020-02-22 00:56] MichaelKohler commented on #1679
Let's have this discussion over at https://discourse.mozilla.org/c/voice/239

[2020-02-22 00:56] #1679 closed

[2020-02-22 00:56] MichaelKohler commented on #1680
Let's have this conversation over at Discourse: https://discourse.mozilla.org/c/voice/239

[2020-02-22 00:56] #1680 closed

[2020-02-22 00:57] MichaelKohler commented on #1683
Let's have this conversation over at Discourse: https://discourse.mozilla.org/c/voice/239

[2020-02-22 00:57] #1683 closed

[2020-02-22 00:58] MichaelKohler commented on #1689
This view does not exist anymore.

[2020-02-22 00:58] #1689 closed

[2020-02-22 00:58] #1691 closed

[2020-02-22 00:59] #1700 closed

[2020-02-22 01:00] MichaelKohler commented on #1725
This screen has changed in the meantime, I'd say this is ok now.

[2020-02-22 01:00] #1725 closed

[2020-02-22 01:02] MichaelKohler commented on #1763
See also https://github.com/mozilla/voice-web/issues/1141

[2020-02-22 01:05] MichaelKohler commented on #1767
Can't reproduce

[2020-02-22 01:05] #1767 closed

[2020-02-22 01:07] #1774 closed

[2020-02-22 01:10] #1786 closed

[2020-02-22 01:12] MichaelKohler commented on #1788
I can reproduce with the latest Edge on https://voice.mozilla.org/en/datasets.

[2020-02-22 01:12] MichaelKohler commented on #1791
Let's have this discussion over at Discourse.

[2020-02-22 01:12] #1791 closed

[2020-02-22 01:13] #1793 closed

[2020-02-22 01:16] MichaelKohler commented on #1804
Let's discuss this over at https://discourse.mozilla.org/c/voice/239

[2020-02-22 01:16] #1804 closed

[2020-02-22 01:17] MichaelKohler commented on #1807
Given the trend towards one recording per sentence, I'm closing this.

[2020-02-22 01:17] #1807 closed

[2020-02-22 01:17] #1819 closed

[2020-02-22 01:19] MichaelKohler commented on #1848
Let's discuss this over at https://discourse.mozilla.org/c/voice/239 and then document the solution in GitHub.

[2020-02-22 01:19] #1848 closed

[2020-02-22 01:20] #1854 closed

[2020-02-22 01:21] #1856 closed

[2020-02-22 01:21] #1857 closed

[2020-02-22 01:21] MichaelKohler commented on #1863
Can't reproduce

[2020-02-22 01:21] #1863 closed

[2020-02-22 01:23] MichaelKohler commented on #1871
I'm closing this given that there is a Discourse topic around this.

[2020-02-22 01:23] #1871 closed

[2020-02-22 01:23] MichaelKohler commented on #1872
Given that there is that Discourse topic, I'm closing this issue.

[2020-02-22 01:23] #1872 closed

[2020-02-22 01:29] MichaelKohler commented on #1881
Should this be transferred to https://github.com/Common-Voice/common-voice-bundler/?

[2020-02-22 01:30] MichaelKohler commented on #1883
Given the focus on the website, I'm closing this one.

[2020-02-22 01:30] #1883 closed

[2020-02-22 01:31] MichaelKohler commented on #1892
Let's discuss this over at Discourse and see if others would be interested in this as well :)

[2020-02-22 01:31] #1892 closed

[2020-02-22 01:32] MichaelKohler commented on #1894
I'd say this is a duplicate of https://github.com/mozilla/voice-web/issues/1565

[2020-02-22 01:32] #1894 closed

[2020-02-22 01:33] #1896 closed

[2020-02-22 01:33] #1899 closed

[2020-02-22 01:34] MichaelKohler commented on #1908
Can't reproduce

[2020-02-22 01:34] #1908 closed

[2020-02-22 01:35] MichaelKohler commented on #1912
Let's have this conversation over at Discourse to see how many people would be interested in this.

[2020-02-22 01:35] #1912 closed

[2020-02-22 01:36] MichaelKohler commented on #1923
@davidak is this still happening?

[2020-02-22 01:37] MichaelKohler commented on #1934
@hitgoeb is this still happening?

[2020-02-22 01:41] MichaelKohler commented on #1935
This still applies for the record button. Looks like only the `button` has the cursor property set, but not the background div, which is wider than the button. However as also only the button is clickable, I think this makes sense.

[2020-02-22 01:41] #1935 closed

[2020-02-22 01:43] MichaelKohler commented on #1937
Is this still an issue?

[2020-02-22 01:44] #1958 closed

[2020-02-22 01:45] #1978 closed

[2020-02-22 01:49] MichaelKohler commented on #1987
Is this still an issue on iOS? At least in the browser the page jumps to the top.

[2020-02-22 01:51] #2009 closed

[2020-02-22 01:52] MichaelKohler commented on #2036
@arnavvats is this still an issue?

[2020-02-22 01:56] #2056 closed

[2020-02-22 01:58] #2060 closed

[2020-02-22 01:59] MichaelKohler commented on #2068
Duplicate of https://github.com/mozilla/voice-web/issues/1788

[2020-02-22 01:59] #2068 closed

[2020-02-22 01:59] MichaelKohler commented on #2069
Looks like this has been done in the meantime

[2020-02-22 01:59] #2069 closed

[2020-02-22 02:01] #2082 closed

[2020-02-22 02:04] MichaelKohler commented on #2104
@Fabiensk is this still happening?

[2020-02-22 02:05] MichaelKohler commented on #2108
This has been fixed in the meantime.

[2020-02-22 02:05] #2108 closed

[2020-02-22 02:07] MichaelKohler commented on #2113
Is this still happening? If so, can you provide logs?

[2020-02-22 02:08] #2123 closed

[2020-02-22 02:10] #2136 closed

[2020-02-22 02:12] MichaelKohler commented on #2156
Can you create a post at https://discourse.mozilla.org/c/voice/239 to discuss this? Thanks!

[2020-02-22 02:12] #2156 closed

[2020-02-22 02:12] #2159 closed

[2020-02-22 02:14] #2166 closed

[2020-02-22 02:20] MichaelKohler commented on #2206
Would you mind starting a discussion over at Discourse to see what the best solution for this is?

[2020-02-22 02:20] #2206 closed

[2020-02-22 02:21] #2212 closed

[2020-02-22 02:23] MichaelKohler commented on #2216
This exists now

[2020-02-22 02:24] #2217 closed

[2020-02-22 02:26] #2223 closed

[2020-02-22 02:26] #2229 closed

[2020-02-22 02:26] MichaelKohler commented on #2233
Not reproducible anymore.

[2020-02-22 02:26] #2233 closed

[2020-02-22 02:32] MichaelKohler commented on #2403
Is this still an issue?

[2020-02-22 02:38] MichaelKohler commented on #2484
Let's start a discussion at https://discourse.mozilla.org/c/voice/239 and document the outcome (decision) in a new GitHub issue.

[2020-02-22 02:38] #2484 closed

[2020-02-22 02:41] MichaelKohler commented on #2522
I'd say this is a duplicate of https://github.com/mozilla/voice-web/issues/1565

[2020-02-22 02:41] #2522 closed

[2020-02-22 02:45] MichaelKohler commented on #2548
Thanks for creating that discourse post. Let's close this issue here and create a new one if there is a tangible action coming out of this.

[2020-02-22 02:45] #2548 closed

[2020-02-22 02:47] MichaelKohler commented on #2554
Thanks for filing this issue. I'll close this as a duplicate of https://github.com/mozilla/voice-web/issues/2405

[2020-02-22 02:47] #2554 closed

[2020-02-22 02:48] MichaelKohler commented on #2559
This sounds like a great conversation to have over at Discourse: https://discourse.mozilla.org/c/voice/239

Thanks :)

[2020-02-22 02:48] #2559 closed

[2020-02-22 02:49] MichaelKohler commented on #2561
Thank, I'll close this as a dupe of https://github.com/mozilla/voice-web/issues/2081

[2020-02-22 02:49] #2561 closed

[2020-02-22 02:52] StregaNona commented on #1937
I gave up when no one seemed to care.  I’ll go try it again.

And those who were seen dancing were thought to be insane by those who could not hear the music. - Friedrich Nietzsche

[2020-02-22 02:52] StregaNona commented on #1937
Still doesn’t work

And those who were seen dancing were thought to be insane by those who could not hear the music. - Friedrich Nietzsche

[2020-02-22 04:35] Djfe commented on #1607
@MichaelKohler I don't even know ^^
guess it's time to contribute again hehe

Thanks for cleaning up the issues list :)

[2020-02-22 06:05] qdinar commented on #1543
is it a forum? this link opens a list of items (topic titles). when i tried to search for "corrected" i have seen some items that look as on topic, but i have not checked their contents yet. should not you provide a better link?

[2020-02-22 08:58] hitgoeb commented on #1934
@MichaelKohler No.

[2020-02-22 08:58] #1934 closed

[2020-02-22 11:42] MichaelKohler commented on #1543
Yes, that's a forum, I should have added some text and not just the link, sorry. You can use the same credentials to log in as you are using on voice.mozilla.org. There might not yet exist an appropriate topic.

[2020-02-22 12:47] Mte90 commented on #2229
The idea was to:

* report the wrong sentence
* suggest a new one

As it is now this is a task very long that require another tool and a lot of steps.

[2020-02-22 19:15] Rexogamer commented on #1937
Same thing on my iPad Air 3 running iOS 13.3.1. At least the website works fine enough in Chrome.

[2020-02-22 21:47] yamamashakaa commented on #2156
@MichaelKohler  Done

[2020-02-23 00:45] theHacker opened #2573 ""Download" button has placeholder "${Language}" in its label when site is viewed in German"
**Reproduction steps**
- Open "Datasets" in German (https://voice.mozilla.org/de/datasets)
- Click the button "Zum Download E-Mail-Adresse eingeben"

**Actual**
The download button has `{$Language} herunterladen` as a label.

**Expected**
The download button uses the language chosen in the dropdown for the label.
For example `Englisch herunterladen` or `Deutsch herunterladen`.

**Screenshot**
![mo

[2020-02-23 12:20] MichaelKohler commented on #2573
Thanks for filing this issue. I've added a fix as a suggestion here: https://pontoon.mozilla.org/de/common-voice/web/locales/en/messages.ftl/?string=195019 . I hope somebody will accept it :)

[2020-02-23 18:28] aryamanpuri opened #2574 "On Clicking Multiple times the "Copy link" button , we get multiple "Link copied" pop-up"
**Describe the bug**
On clicking the share link button , we get multiple pop-up of Link Copied

**To Reproduce**
1. Go to https://voice.mozilla.org
2. Record a clip
3. Click the upload button
![image](https://user-images.githubusercontent.com/43513114/75117381-e24cf980-5696-11ea-9c21-c5320cd9df4b.png)
4. Click the Copy link multiple times
You will come across
![Screenshot from 2020-02-23 23-27-25]

[2020-02-23 18:38] MichaelKohler commented on #2574
@aryamanpuri go for it :)

[2020-02-23 20:07] aryamanpuri commented on #2574
@MichaelKohler Thanks for replying .

I was thinking about the approach to be used in this bug .
What about your view on the use of simple if else condition.
For example
 if(`addNotification`) then `nochange`  else `render notification`

Can you help me to get started to debug this ?

[2020-02-23 20:37] MichaelKohler commented on #2574
I don't have any knowledge about that part of the code, so I might not be the right person for this ;)

[2020-02-24 15:44] aryamanpuri commented on #2574
No Problem @MichaelKohler
Can you help me with this bug @phirework

[2020-02-24 15:52] aryamanpuri commented on #2429
@viorelaioia @phirework Is this issue still open ?
As there is no challenge page in the dashboard ?

[2020-02-24 16:04] aryamanpuri commented on #2405
What is the size limit for the avatar ?

[2020-02-24 21:31] mritunjayz commented on #2175
I am not getting this on mac and linux
I follow the above STR and it worked fine for me https://drive.google.com/file/d/1Zv-wdjRcOgNHrBPRRMAonvs3TN52AYDA/view?usp=sharing

not sure about windows. can anyone else try it again, with above STR please? or later I will try to get any window sys to check

[2020-02-24 22:03] mbransn commented on #2405
@aryamanpuri 200px max width if I remember correctly based on comments in #2388 -- unsure what the actual file data size limit is or if there is one. cc @rileyjshaw @phirework to help clarify.

[2020-02-25 18:32] aryamanpuri commented on #2038
@Gregoor @phirework @MichaelKohler Is this still open to work upon ?

[2020-02-25 18:36] MichaelKohler commented on #2038
@aryamanpuri yes, this is still an issue. Feel free to work on it :)

[2020-02-25 23:12] MichaelKohler commented on #2573
This is now fixed. Thanks for reporting!

[2020-02-25 23:12] #2573 closed

[2020-02-26 03:20] quanghd96 opened #2580 "uncaught exception Error: FFmpeg error: pipe:: Invalid data found when processing input at ChildProcess"
When many user use this system same time, it is crashed. I found log:
uncaught exception Error: FFmpeg error: pipe:: Invalid data found when processing input at ChildProcess
![image](https://user-images.githubusercontent.com/15941383/75308663-9a3dfa80-5881-11ea-8ee3-076f5f421569.png)

[2020-02-26 05:25] EuphoriaCelestial commented on #2113
I have fixed the issue, thank you!

[2020-02-26 05:25] #2113 closed

[2020-02-26 08:21] abelbabel opened #2581 "issues when downloading Common Voice corpus files"
Hi,

I want to create a DeepSpeech model using Common Voice datasets. The dataset I currently want to download is about 14 GB. The problem is that either amazonaws or my service provider has an unstable internet connectivity resulting in "Connection reset by peer"/... errors after a while. Sometimes the connection gets lost after some minutes, sometimes after some hours when more than 50% were dow

[2020-02-26 13:25] aryamanpuri commented on #2038
@MichaelKohler @rleitan  I am not able to reproduce this bug .
Can you share a screen recording please ?

[2020-02-26 14:50] aryamanpuri opened #2584 "Unable to connect to collector"
I am getting an error on `docker-compose up`
[code]
Due to which I am having blank page on `/speak`.

[2020-02-26 14:57] #279 closed

[2020-02-26 16:37] peiying2 opened #2586 "Enable new locale Venecian (vec) on staging + production"
The locale is 100% complete: https://pontoon.mozilla.org/vec/common-voice/. Please enable it at the next code push. Thank you!

[2020-02-26 17:21] aryamanpuri opened #2587 "Maximum Width should be applied to the Text Area in the Report Section"
**Describe the bug**
On expanding the Text Area in the report section , there should be certain maximum limit .

**To Reproduce**
1. Go to https://voice.mozilla.org/en/speak
2. Click the report button in the bottom
3. Check the `Other` checkbox
4. Expand the Text Area

![Screenshot from 2020-02-26 22-39-57](https://user-images.githubusercontent.com/43513114/75370022-7a8eec80-58ea-11ea-84ac-295eb6e

[2020-02-26 17:27] MichaelKohler commented on #2587
Given that the dialog has a fixed width, I'd say this is very reasonable to do.

[2020-02-26 17:30] aryamanpuri commented on #2587
@MichaelKohler Can I work on this ?

[2020-02-26 17:31] #2586 closed

[2020-02-26 17:32] MichaelKohler commented on #2586
PR for this repo here: https://github.com/mozilla/voice-web/pull/2589
PR for Sentence Collector: https://github.com/Common-Voice/sentence-collector/pull/302

Sentence Collector has been deployed and users now can select that in their profile and start to add sentences.

[2020-02-26 17:35] MichaelKohler commented on #2587
I'd say so. There is a small chance there is a reason not to do that, but in the end I'd say this makes sense. However, please don't be mad at me if this ends up not being wanted :)

[2020-02-26 17:55] MichaelKohler commented on #2038
[2020-02-26 18-38-23.2020-02-26 18_51_05.gif.zip](https://github.com/mozilla/voice-web/files/4257370/2020-02-26.18-38-23.2020-02-26.18_51_05.gif.zip)

Sorry had to zip it as it was too big for GitHub.. Note that this is without logging in.

[2020-02-26 18:31] aryamanpuri commented on #2587
Yes I guess this makes sense , as there is fixed dialog width , and the user do not want to scroll horizontally everytime the text is more than that  633px.

[2020-02-26 20:37] aryamanpuri commented on #2038
It would be fine to take a new state that would takes account of whether video is uploaded or not .
@MichaelKohler @phirework

[2020-02-26 22:47] rileyjshaw commented on #2574
Hi @aryamanpuri, thanks for contributing to Common Voice. I just added some feedback to https://github.com/mozilla/voice-web/pull/2579. Our banner system was designed to show multiple notifications at once, to handle situations where several actions happen rapidly or concurrently. I think what you're seeing falls within expected behaviour.

I left some hints for how to tweak the rendering code in

[2020-02-26 23:15] MichaelKohler opened #2592 "Home page layout issues between 991px and 1200px"
Between 991px and 1200px window width there are some minor display errors on the front page.

<img width="1035" alt="Screenshot 2020-02-27 at 00 09 58" src="https://user-images.githubusercontent.com/330324/75396822-5a146180-58ed-11ea-9203-71d17a3ca90e.png">

* 991px and upwards to threshold: No padding left on the main description title
* Exactly 992px: no profile button visible
* When logged out

[2020-02-26 23:59] MichaelKohler commented on #2574
I'd definitely vote for that. Bonus points if there is some pulse or something so the user sees that it's a "refresh". But that's totally optional IMHO.

[2020-02-27 12:19] aryamanpuri commented on #2574
I agree with @MichaelKohler. Setting a timeout is not a bad option to limit the banners to one.
The changed code is working well in my local system.

[2020-02-27 20:00] aryamanpuri commented on #2038
How about adding onConfirm() in the onAgree ?
[code]

[2020-02-28 12:16] aryamanpuri commented on #2353
I have the same issue , can anyone help me with this @phirework @rileyjshaw

[2020-02-29 00:18] MichaelKohler commented on #2127
@EuphoriaCelestial is this still an issue?

[2020-02-29 00:19] MichaelKohler commented on #2550
@peiying2 any update on this?

[2020-02-29 00:20] mbransn commented on #245
Closing this issue as it's been explored by community members in the past 18 months and is not something we're looking to integrate with the voice-web experience at this time.

[2020-02-29 00:20] #245 closed

[2020-02-29 00:29] mbransn commented on #262
@MichaelKohler all of the use cases outlined here are captured in scoping documents for community metrics dashboard needs and some of the basic data points are already live on the site as part of the stats dashboard. Closing as the original intent of this ask was met by the introduction of stats to the site in 2018.

[2020-02-29 00:29] #262 closed

[2020-02-29 00:37] mbransn commented on #434
Closing as various concepts are either now live (reporting) or part of dataset quality improvement scoping (providing validation accuracy and insights back to contributors).

[2020-02-29 00:37] #434 closed

[2020-02-29 00:40] mbransn commented on #614
@phirework can I get your opinion here?

[2020-02-29 00:49] mbransn commented on #633
@MichaelKohler @iveskins this was submitted when only the English language was present on the site. There have been attempts to clean up sentence data though I'm unclear how retroactive this may have been?

Is it possible to determine if this is still an issue in current sentences first? If so we'd most likely focus on improving the quality of new sentences at a minimum. cc @nukeador for input bas

[2020-02-29 13:15] OsamaAdam98 commented on #2592
Hey, I'm currently trying my hands at solving this but I came across some design challenges when trying to fix the nav bar.
When trying to fix how the login button is displayed, various elements around it start to break and overlap

![log-in-sign-up](https://user-images.githubusercontent.com/21957987/75607692-7d642a00-5b02-11ea-8b0b-ba96b68ff915.png)

The easiest possible solution to this would be

[2020-02-29 17:21] MichaelKohler commented on #633
Last I checked older recordings still had the associating to the old version. See also https://github.com/mozilla/voice-web/issues/2259#issuecomment-558350127

[2020-02-29 17:21] MichaelKohler commented on #633
That's not really all we should do. There will *always* be sentences that slip through.

[2020-02-29 17:41] MichaelKohler commented on #2584
NewRelic doesn't need to be set up on local development environments. The NewRelic startup error can safely be ignored. This error looks like a follow up error from enabling NewRelic without everything that is needed.

[2020-02-29 17:41] #2584 closed

[2020-02-29 19:10] aryamanpuri commented on #1986
@MichaelKohler @phirework Is this still a valid issue?

[2020-02-29 19:21] aryamanpuri commented on #1916
@phirework @MichaelKohler Is this still a valid issue?

[2020-03-02 15:29] #2353 closed

[2020-03-02 16:13] phirework commented on #614
I don't envision our team having the bandwidth supporting any other storage mechanism any time soon, but if someone wants to fork our repo and add workarounds for their own implementation they're more than welcome to do it.

[2020-03-02 16:16] #614 closed

[2020-03-02 18:43] #2592 closed

[2020-03-03 02:11] mbransn commented on #2574
Yep, this @rileyjshaw would be my direction.

[2020-03-03 02:16] mbransn commented on #633
@MichaelKohler right, this is why I said 'at a minimum'. If we can figure a way to apply edits retroactively to old .txt I'm all for it. Will categorize this as sentence quality for now during initial triage round. We're actively working on sentence effort prioritization so this is helpful to now be aware of.

[2020-03-03 11:25] Mte90 commented on #1446
The idea at the basic was to reach the contributors of a language that now is impossible to do it.

[2020-03-03 11:45] MichaelKohler commented on #1446
@Mte90 can you start a Discourse topic?

[2020-03-03 11:55] mozillakab commented on #1527
@MichaelKohler A student who is working on the kab corpus as a part of the work given to him (topic for his engineering project) reported some French recorded Sentences withing the kab voice dataset. I'll check again with him.

[2020-03-03 11:57] mozillakab commented on #1527
@lissyx Mustapha Kamel reported again some French Sentences in the recorded kab dataset.

[2020-03-03 13:37] Mte90 commented on #1446
https://discourse.mozilla.org/t/how-to-reach-contributors-by-languages-for-communications/55103

[2020-03-03 17:15] aryamanpuri commented on #2574
@phirework can you have a look at the pr and suggest is there any changes needed?

[2020-03-03 19:05] davidak commented on #1923
@MichaelKohler no. i get redirected to https://voice.mozilla.org/de/dashboard/stats and from there to https://auth.mozilla.auth0.com/

[2020-03-03 19:15] #1923 closed

[2020-03-03 20:55] davidak commented on #1673
yeah, don't look broken anymore

![Screenshot from 2020-03-03 21-55-20](https://user-images.githubusercontent.com/91113/75818739-ba961980-5d99-11ea-8aad-8e1e99336a2f.png)

[2020-03-04 01:04] mbransn commented on #2529
@stefangrotz thanks for asking. This function originated as a concept for providing people a way to share Common Voice via a specific recording they've contributed; this could be via a social channel or merely as a link. Agreed that it should have a tooltip (e.g. "Share your clip") to provide some context -- apologies that this wasn't caught in original testing. I'll file a bug to get that updated

[2020-03-04 01:04] #2529 closed

[2020-03-04 01:11] mbransn opened #2603 "Implement tooltips for share icons"
- [ ] As pointed out in #2529, provide a tooltip on hover of the speak portal share icon that states `Share your clip`. Styling should match the re-record icon tooltip.
<img width="1520" alt="Screen Shot 2020-03-03 at 5 09 35 PM" src="https://user-images.githubusercontent.com/18686986/75834752-ce2d8a00-5d71-11ea-8777-ac7a1e70b1c2.png">

---

- [ ] Also apply a tooltip to the share icon on the subm

[2020-03-04 01:12] mbransn commented on #2603
@phirework if you feel this is a good help-wanted or first bug feel free to triage...haha, nvm -- thanks @MichaelKohler

[2020-03-04 08:46] Rolikasi commented on #2603
Hello, @mbransn, @MichaelKohler. Can I work on this issue?

[2020-03-04 12:18] MichaelKohler commented on #2603
@Rolikasi sure, go for it! Feel free to ask me anything if you get stuck and I can try to help.

A few notes:
* Make sure to go through the "Import sentences" section in the README, otherwise you won't get to those screens. You can temporarily remove language folders you don't want to import and after the import you can restore them again.
* Note that Common Voice uses a translation framework and

[2020-03-04 12:46] aryamanpuri commented on #2603
@MichaelKohler @Rolikasi  I am sorry, I opened a pr for this issue, before asking whether I should work it or not and honestly I don't read the comment .
Since I have opened the pr for this, can I complete this up?

[2020-03-04 12:47] MichaelKohler commented on #2603
Oops, I completely missed this.

[2020-03-04 15:10] OsamaAdam98 commented on #2418
This issue seems to already had been fixed or at least I can't reproduce it. I didn't actually look into how it was fixed but I'd suggest using a [set](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set) data structure which would be the laziest and easiest way of avoiding duplicates.
I could work on it if you think the current implementation isn't optimal.

[2020-03-05 02:12] phirework commented on #2418
I'm closing this, it's a deeper issue with our entire leaderboard implementation beyond the immediate "load more" function that we'll be actively scoping later in the year.

[2020-03-05 02:12] #2418 closed

[2020-03-05 14:04] Rolikasi commented on #2478
@MichaelKohler hello. Can I work on this issue? It seems like a good first issue

[2020-03-05 14:06] MichaelKohler commented on #2478
@Rolikasi thanks for your interest. Let's wait until there is an agreement that this is still wanted and an agreed design. Otherwise we risk that you work on it and then it turns out to not be wanted anymore.

@mbransn is this still wanted, and how should this look?

[2020-03-05 18:05] mbransn commented on #2478
Hi both, this is something we've actually pulled into our current internal sprint -- @phirework do you prefer help on this or already in motion on your end?

[2020-03-05 20:29] phirework commented on #2603
Hey y'all, @aryamanpuri's landed this one already. @Rolikasi, why don't you take a look at #2313?