[2019-03-28 17:59] mbransn opened #1920 "Goal cancel button UI updates"
@Gregoor some cancel button updates:

- border-color: #e7e5e2
- align-left with content above
- submit button should then align-center on the card

Thank you! :)

[2019-03-28 17:59] mbransn commented on #1920
Also this is the expected layout for all the cards :)

[2019-03-28 19:32] #1906 closed

[2019-03-28 19:34] Gregoor commented on #1905
Since this is not super-straightforward and there's stuff that's easier to do, I'll postpone it for today (i.e. won't look at this again until I'm back)

[2019-03-29 10:25] rleitan opened #1921 "Error when moving forward from step 2 -> step 3 in editing goals"
[Preconditions]:
Set a goal

[STR]:
1. Go to https://voice.allizom.org/en/goals
2. Click edit button from Custom Goals section
3. Select "Yes" button from "Do you want to continue?" modal
4. Click next button from editing mode: step 1 to step 2
5.Click next button from step 2 without selecting number of clips

[Actual result]:
An error occurred. Sorry!

[Note]:
The issue is not reproducible if the

[2019-03-29 12:40] Gregoor commented on #1921
I can't reproduce and I wonder: Do you maybe have a goal with the old numbers set? It might not be able to handle that state well atm

[2019-03-29 12:48] rleitan commented on #1921
Yes, that was the problem. I cannot reproduce it by editing a new goal

[2019-03-29 12:48] #1921 closed

[2019-03-29 12:50] Gregoor commented on #1921
Great, thanks for looking into it!

[2019-03-29 12:56] #1919 closed

[2019-03-29 13:02] nukeador commented on #1911
Hi @Txopi

We should probably move this to discourse, since it's a question about the dataset.

Quick answer: Dataset releases are really time consuming for the team and we are still trying to figure out how to be able to release them more often, but unfortunately I don't have an answer yet, I'll flag this with the team but checking our current workload there is not much we can do in the coming 7

[2019-03-29 13:02] #1911 closed

[2019-03-29 13:10] #1920 closed

[2019-03-29 13:19] rleitan commented on #1918
I can still reproduce this issue after I edited my goal several times and click contribute from the navigation bar.

[2019-03-29 14:14] rleitan commented on #1919
https://imgur.com/a/myIsLrL, with the latest fix, the stats of other languages is wrongly displayed for ~1 second.
@Gregoor

[2019-03-30 06:14] Mozilla-GitHub-Standards opened #1922 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-30 23:01] dabinat opened #1923 "Blank stats page"
For a couple of days now the stats page has been completely blank. A Goals option also appears, which is blank too.

I wasn’t aware that Goals had shipped to the public site yet. Was this deployed by mistake?

[2019-03-31 18:58] f0cus10 commented on #1475
I think this is something interesting.
If I understand the issue correctly, you're suggesting
1. Setting up a CORS configuration on S3
1. Proxying the front-end so it communicates with S3 staging server instead of the backend
1. And make a build script for the client side only

[2019-03-31 19:12] f0cus10 commented on #833
@missuniverse I did some digging and turns out archive.org items cannot have more than [100,000](https://archive.org/services/docs/api/items.html#how-items-are-structured) files. It would have been great if we could since it provides a command line tool that we could use to automate the flow.

[2019-03-31 19:26] missuniverse commented on #833
@f0cus10 Then its just a matter of how we package it. If the files are in an archive(tar,zip,rar...etc), then we are good. Also, to my knowledge archive.org partners with organizations to archive their stuff which I think might be cheaper then s3. They helped NASA JPL to archive their public images.

[2019-03-31 22:55] f0cus10 commented on #833
Yeah, I was thinking that might be a way to bypass those limitations. I'll keep on digging in that area.

[2019-04-01 11:47] bayethiernodiop opened #1925 "change the number of maximum record for a user"
Hello, so i deployed locally the voice-web app, but a user pointed to me that he couldn't record new audios after many recording in a given day(the recording page was blank), and after some days he could again record new audios with same account. so my guess is that there is a parameter that limit the number of recording per user per day. if that's the case can someone help in where to  modify tha

[2019-04-01 19:07] mritunjaygoutam12 commented on #1925
@bayethiernodiop while going through the code I never encouter such a case where rendering for speak page is blocked on some condition but it is possible it may have.

Does this happen oftenly?

[2019-04-01 21:11] dabinat commented on #1925
The usual explanation for this is that the user was assigned to the test set, which has a smaller number of sentences. No sentences appeared because the user had recorded all of the sentences in the set. New recordings were available later because more sentences were added.

But if you’re on a local server that last part may not be the case. Were extra sentences added?

[2019-04-01 21:29] dabinat opened #1927 "Too many recordings per user?"
Recently a change was made to the validation section to list sentences with the fewest recordings first in order to add more unique sentences for the DeepSpeech model. This has made me more aware of something that could potentially be an issue.

Some users are recording a LOT of sentences. In fact, over the past few days I have validated around 1500-2000 clips and I would estimate around 70% of th

[2019-04-02 09:18] bayethiernodiop commented on #1925
Yes very often i had the same issues with 3 different users

[2019-04-02 09:20] bayethiernodiop commented on #1925
Thanks. No i didnt add any sentences after the first uploading the first sentences files. how a user can be added to a test/train/dev set or is that done automatically. and if that's the case can i change that for a user.

[2019-04-02 10:47] bayethiernodiop commented on #1925
And it can't be things related to dev/train/test set assignment since after some time without adding any new sentences the user can record again

[2019-04-02 12:24] mritunjaygoutam12 commented on #1925
@bayethiernodiop it happens with me too some times when running with docker. But I found that because of importing sentences take some time, after import completed I refresh the page it works.

I will try to look at this again.

[2019-04-02 14:51] MichaelNMaggs commented on #1927
I agree that there are a variety of problems here. Some more information from the team would be helpful to aid our discussions.  What is the DeepSpeech team actually doing with the contributions of users who have made large numbers of recordings?  Using them will bias the corpus; not using them results in a lot of volunteer time being wasted.  Better guidelines to volunteers as to what is needed a

[2019-04-02 15:44] bayethiernodiop commented on #1925
@mritunjaygoutam12 Thanks for your responses. I run the app without docker and to import sentences i only did it once. so i am a bit lost here because for one user after some recordings the recording page was blank and after sometime it worked again without me modifying any things.

[2019-04-02 20:59] georai opened #1931 "Some Design issues"
- [ ] https://voice.allizom.org/en/goals.  Get started on center and on hover like this https://www.dropbox.com/s/kc58d4v6782it41/Screenshot%202019-03-27%2014.08.58.png?dl=0

- [ ] Waves and border missing: https://www.dropbox.com/s/fxg6at9pc1ddkhy/Screenshot%202019-03-27%2014.18.00.png?dl=0

@Gregoor #

[2019-04-03 08:29] kdavis-mozilla commented on #1927
@dabinat I'm not sure I understand your statement of the problem. Let me start here...

- You state "...so these sentences will most likely be discarded until there are more recordings available..." what do you mean by "discarded"? I'm not sure your definition reflects what is actually occurring.
- You state "...But if the site shows sentences with the fewest recordings first, it will have to go t

[2019-04-04 06:17] dabinat commented on #1927
Ok, I’ll try to explain it another way.

The recording view displays sentences with the fewest recordings first. So it will always prioritize sentences with 0 recordings first.

Let’s say I record a sentence that has no prior recordings and my recording gets approved by validators. The number of recordings for that sentence is now 1.

This is the 2000th recording I have made (we’ll assume all 2000

[2019-04-04 07:23] kdavis-mozilla commented on #1927
Some of your assumptions are not true.

For example...

Is not necessarily true. This depends on the how many other people have read sentences you've read. Some of your validated recordings _may_ not be put in the train.tsv, but all will be put in validated.tsv set. Anyone is free to use the validated.tsv to train on.

This is also incorrect.

I think to not take too much time explaining all the d

[2019-04-04 20:18] dabinat commented on #1927
If my understanding of the code is correct, it sorts by total user recordings ascending and then filters out duplicates, meaning that in the case of more than one recording of a sentence it will favor the user with the fewest total recordings.

It then sorts again, this time in descending order. I’m not really sure what the purpose of sorting again is. Maybe to make sure users with more recordings

[2019-04-05 08:06] kdavis-mozilla commented on #1927
Basically, yes. Worded in another way, this sort is made to have users with fewer recordings in the test set.

For smaller data sets which don't have enough data to train a robust STT engine the maximal utility of the data set can be obtained by having a diverse test set, as the test set can become a standard used in research and industry. This is accomplished by having the test set contain a more

[2019-04-08 12:07] hitgoeb opened #1934 "Firefox not recognized"
voice.mozilla.org states «We’re sorry, but your platform is not currently supported.» I'm using Firefox 66.0.2 on elementary OS.

[2019-04-09 03:31] irvin commented on #1879
it's been resolved now!

[2019-04-09 03:31] #1879 closed

[2019-04-09 12:43] nagpalm7 opened #1935 "Some buttons do not have cursor state on hover may be due to padding"
STR:
![voice-web](https://user-images.githubusercontent.com/32512296/55801138-07726100-5af3-11e9-9210-3f0ac0639658.gif)

[2019-04-09 13:23] nukeador opened #1936 "Add East African countries to English accents"
East African countries accents are missing from English accents.

[2019-04-09 21:36] sfoster opened #1937 "[iOS] none of the login options respond to taps"
Using iPad Pro with all iOS updates (12.1.4), with and without a bluetooth keyboard attached, the common voice app "Login/Sign up" screen has

"voice.mozilla.org"
[Log in with email]
[Enter]
[Log in with Firefox]
[Log in with Github]
[Log in with Google]

...Tapping on *any* of these inputs or buttons has no visible effect. I don't get focus or a keyboard for the email field, and there's no respon

[2019-04-09 21:38] sfoster commented on #1937
Possibly related, the Contact Form (again, from within the iOS app) allows me to fill the fields, but Submit appears to do nothing.

[2019-04-10 08:12] rleitan commented on #1937
I cannot reproduce the issue on Common Voice app - iOS 12.1 (iPhone)

[2019-04-10 09:08] hmitsch commented on #1937
@sfoster, can you still reproduce this issue?

@rleitan thanks for the super-quick feedback.

[2019-04-14 00:14] dabinat opened #1945 "Language dropdowns should be sorted by translated title"
The language dropdowns on the homepage, as far as I can tell, appear to be sorted by language code.

So for English, “German” (de) is listed before “English” (en) and “Chinese” (zh) is listed last.

This makes no sense alphabetically and it can be hard to locate specific languages. It would make more sense for the dropdowns to be sorted by the translated language name.

[2019-04-15 04:53] Gregoor commented on #1922
Closed by #1926

Thanks lots @mritunjaygoutam12

Looks like a false positive though @Mozilla-GitHub-Standards, diff was only line breaks & spaces

[2019-04-15 04:53] #1922 closed

[2019-04-15 04:55] Gregoor commented on #1923
Sorry I was on vacation.

I'm sorry to hear stats were blank for an extended period of time. A couple of days I certainly haven't seen before. Let's keep an eye on this!

Goals was there before already, we just moved it from the profile sub-menu to the dashboard sub-menu.

[2019-04-15 04:56] Gregoor commented on #1475
Yes, that sounds about right :)

[2019-04-15 05:05] Gregoor opened #1946 "Sentence tooltips don't disappear (maybe only FF)"
![Screenshot_20190402-021228](https://user-images.githubusercontent.com/4051932/56108539-661e5b80-5f87-11e9-918f-ffb1fcfcf5e4.png)

[2019-04-15 05:08] Gregoor commented on #1925
Maybe they used it from a different browser/private tab/cleared their browser data? That's the only other explanation that comes to my mind atm.

RE the bucketing, we actually want to remove that, as we've learned that we can just do that after the fact (when bundling the clips).

[2019-04-15 07:30] Gregoor commented on #1918
I'm failing at reproducing it 🙈

Is it happening reliably for you?

[2019-04-15 08:48] #1914 closed

[2019-04-15 08:51] Gregoor commented on #1901
Those sentences should be all gone by now, any recommendations what we should do on the Common Voice side of things to mitigate this issue?

[2019-04-15 08:52] Gregoor commented on #1931
@georai the images are gone

[2019-04-15 11:55] bayethiernodiop commented on #1925
@Gregoor  I dont get your point about the browser, i mean how that could bring the blank page

[2019-04-15 11:59] Gregoor commented on #1925
Oh sorry, that was indeed not clear from my comment, let me try to unwind it:

When you open the site for the first time a user ID is created for you and you're also put in one of three buckets. Sentences are also in one of those three buckets. You'll then only receive sentences you haven't read from your bucket, even if you close & re-open the browser.
Now if you use a different browser / private

[2019-04-15 12:13] bayethiernodiop commented on #1925
Ah ok i understand, so that still work if you have an account? Also does thiis mean if a user record all the sentences of a bucket, he is not able to record the same sentences without changing broweser,...

[2019-04-15 12:15] Gregoor commented on #1925
Not quite, your user ID is tied to your account, so even if you use the account in different browsers you'd still be served from the same pool of sentences.
And yes, once you've recorded all the sentences from your bucket, you'd be served no more sentences.

[2019-04-15 12:28] rleitan opened #1947 "Share your goal screen is still displayed after sharing the goal"
[Preconditions]:
Set/Edit a daily goal

[STR]:
1.Click Confirm goal button
2.Click "Share my goal" button
3. Choose sharing options then click the "x" button

[Expected result]:
Share your goal dialogue prompt should be closed
Share your goal screen should not be displayed anymore

[Actual result]:
"Your weekly goal has been created" screen is displayed, also the goal can be shared again
![2019-04

[2019-04-15 12:28] rleitan commented on #1947
cc @mbransn

[2019-04-15 12:30] bayethiernodiop commented on #1925
ah ok that make sense. This is weired because i know someone who was using the same account. had a blank page but after some time(maybe days) things were again ok

[2019-04-15 12:40] rleitan commented on #1917
![2019-04-15_15h36_03](https://user-images.githubusercontent.com/41474886/56133179-7c7ee400-5f94-11e9-9360-1a12a8672eb3.png)

![2019-04-15_15h37_58](https://user-images.githubusercontent.com/41474886/56133181-7f79d480-5f94-11e9-9f8d-eaab80a295f3.png)

The Create a Custom Goal and "Listen" icon are still to close to the text. Not sure how should look? @Gregoor

[2019-04-15 16:18] nukeador commented on #1936
Hold on this one until we have a team agreement about accents list.

[2019-04-15 17:00] georai commented on #1931
1. https://www.dropbox.com/s/4rbjsqza53fc3w6/Common%20Voice.png?dl=0 please take a look @Gregoor
2. https://www.dropbox.com/s/50fjokulx8vuoby/Screenshot%202019-04-15%2012.57.27.png?dl=0 Maybe Cancel instead of X and Next needs to be like in the design
3.https://voice.allizom.org/en/awards let's align center the copy: When you complete a personal goal, your awards will show up here.

[2019-04-16 02:41] StregaNona commented on #1937
Hi @hmitsch.  I’m Kelley Green, Sam’s wife.  He filed this on my behalf.  I’m on an iPad Pro and it still doesn’t work.  It’s both the login form *and* the help form, which makes it difficult for people to report it if their spouse doesn’t work for Mozilla. :)

[2019-04-16 05:03] hmitsch commented on #1937
Hi @StregaNona, thanks for reaching out. I appreciate the effort you take to help us nail down this issue.

Do you have any screenshots which would help us understand your problem better? If you don't want to post them publicly in this thread, please email me at hmitsch@mozilla.com

Thanks for your support!
Best regards,
   Henrik

[2019-04-16 10:25] mritunjaygoutam12 commented on #1459
In previous PR I separated the error message for confirm(msg) to identify is error ocuurs at server or on client's network. I am seeking for some better Idea for doing this. Any suggestions?

[2019-04-16 14:47] StregaNona commented on #1937
![IMG_1057](https://user-images.githubusercontent.com/49666212/56219435-9b748900-601b-11e9-8339-682cb405b27f.png)

This login popup won’t allow me to type at all and the buttons don’t ‘push’ or react when I touch them.

![IMG_1058](https://user-images.githubusercontent.com/49666212/56219449-a16a6a00-601b-11e9-863b-001a141cd9b1.png)

The Contact form popup allows for input but still shows no respon

[2019-04-16 14:50] StregaNona commented on #1937
Also...I can log in just fine on the Safari site on iPad Pro...and the Contact form appears to work fine there.

[2019-04-16 15:34] rleitan commented on #1918
Yes, I reproduced it with 2 different accounts

[2019-04-17 05:57] f0cus10 commented on #1946
I was able to reproduce the issue on the Common Voice App for the iPhone. However, instead of being *persistent*, the tooltips were ***delayed***.
![IMG_1228](https://user-images.githubusercontent.com/27834486/56264323-1d17f580-60b4-11e9-865f-948cf40b02d8.PNG)

[2019-04-17 12:23] viorelaioia opened #1948 "User can create a custom goal when the site is not localized to EN"
**STR:**

1. Login to https://voice.allizom.org/en
2. Add "English" to your Languages
3. Navigate to Dashboard page
4. Choose a language different from English in the localization drop down

**Expected:**
As per [designs](https://projects.invisionapp.com/d/#/console/13381937/296514715/comments/111956605), "Create a Custom Goal" button should not be available, as the site is not localized in EN

**

[2019-04-18 14:09] Gregoor commented on #1918
Oh I think I misunderstood the issue. We're showing by how much we're overshooting in the success screen but in goals we're capping it at 100%.

@mbransn: Should we make it consistent and also allow overshooting in the goal circle progress? (on the dashboard)

[2019-04-18 16:03] Gregoor opened #1950 "Goals not synced after creation?"

[2019-04-18 23:39] mbransn opened #1951 "Update email opt-in globally"
@Gregoor based on legal updates to improve GDPR compliance w/upcoming goals beta there are four locations where email opt-in updates are needed (links point to Zeplin). cc @rleitan @georai

- [x] [Footer](https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/styleguide/components?cseid=5cb8e7fb21c1ba7ba1e141bb)
<img width="319" alt="footer-email" src="https://user-images.githubusercontent.com/186

[2019-04-19 05:08] dabinat commented on #1923
FYI, this is still occurring.

[2019-04-22 07:58] viorelaioia opened #1953 "Goals are not updated after opting in"
**Precondition:**
Have a custom goal in your voice.allizom.org profile (e.g "45 clips to listen - Daily goal")

**STR:**
1. Edit the custom goal from precondition
2. Update the custom goal (e.g: "105 clips to speak - Weekly goal")
3. Select the checkbox "I’d like updates and goal reminders to keep current with Common Voice"
4. Confirm your updated goal

**Expected:**
Goal is updated to the one set

[2019-04-22 22:09] Rots commented on #1220
Still happened to me today on recording Estonian.

[2019-04-23 11:42] Gregoor commented on #1953
Thanks for the report! I do remember seeing that bug as well. But now I can't reproduce it anymore. Also tried with a new account.

[2019-04-23 12:33] viorelaioia commented on #1953
I cannot reproduce this issue anymore either. I will close it for now and leave a comment if I see it happening again.

[2019-04-23 12:33] #1953 closed

[2019-04-23 13:44] viorelaioia commented on #1948
Hi @mbransn ! Can you please confirm when should we allow users to create a custom goal?
From [conversation](https://projects.invisionapp.com/d/#/console/13381937/296514715/comments/111956605) in invision, looks like user needs to have English in Languages **and** also the site localized to EN, so that we allow goals creation. Does this condition still applies?
CC @Gregoor

[2019-04-23 13:57] #1951 closed

[2019-04-23 14:36] viorelaioia opened #1957 ""You've got an award" notification is shown 2 times"
**STR:**
1. Login to your common voice profile in staging
2. Create a new custom goal of 15 daily recordings
3. Navigate to "Listen" page and record 15 sentences => "You've got an award" notification is displayed
4. Navigate to Stats page and click the circle progress with 100% of clips you recorded

**Expected:**
Goal page is returned

**Actual:**
 "You've got an award" notification is displayed

[2019-04-23 15:52] Gregoor commented on #1931
1) Done

2) was lost on me, maybe I'll find time for it!

3) can you get me a screenshot, I'm not sure I understand

Thanks!

[2019-04-23 16:48] mbransn commented on #1948
👋 @viorelaioia yes! The create custom goal CTA should not be visible in the example you posted above. We're launching goals only in english and only for english language contribution for this beta.

[2019-04-23 17:54] mbransn commented on #1918
No goal overshooting! The submission success screen text should still show Common Voice overall goal progress. When someone completes a person goal they get a banner + an award! :) [See wireframes](https://overflow.io/s/92K0N8/?node=14878542):

<img width="1317" alt="Screen Shot 2019-04-23 at 10 48 23 AM" src="https://user-images.githubusercontent.com/18686986/56604012-db0c1980-65b5-11e9-8868-6bca

[2019-04-23 19:50] dabinat opened #1958 "Validation issues in wiki import"
The big batch of sentences added in commit https://github.com/mozilla/voice-web/commit/2fd87cf433aae2648cff724647ef9fa381d0473b has quite a lot of sentences that should have failed validation.

**Non-English characters**

**Symbols / abbreviations that should be converted to words**

**Misspellings**

**Sentences related to navigating the Wikipedia site**

**Long / tedious sentences**

(I thought

[2019-04-23 20:06] dabinat commented on #1958
By the way, I am happy to improve the importer script if it's made available somewhere. Maybe it's something that should be included in the voice-web repo?

I also think it would be helpful to have the script output a separate JSON or CSV file, like Sentence Collector does, showing which page the sentence originally came from. This would help in tracking down bugs and blacklisting any pages if nec

[2019-04-23 21:51] mbransn commented on #1957
The you've got an award notification should actually be a banner that persists until interacted with via CTA or `x` for dismiss. See the [wireframes](https://overflow.io/s/92K0N8/?node=14878542) and [banner UI](https://zpl.io/aXM9Z0j). Also noted as part of #1918

[2019-04-23 22:09] mbransn commented on #1947
Agreed with expected result, thanks for filing @rleitan 👍

[2019-04-24 06:54] dabinat commented on #1958
I have a basic script to filter out some of the more egregious ones:
https://github.com/dabinat/cvtools

I want to work on it a little more before I create a PR for the fixes. But even now it's filtering out 117k sentences, with I'm sure many additional sentences remaining to be filtered. So the rate of validation failures is probably >= 10%, which is a very high rate of failure.

[2019-04-24 07:10] MichaelNMaggs commented on #1958
Well done!  You could also check against a bad-word list (for profanities etc).  When validating sentences from public domain books I find that most failures come from unbalanced quote marks of various types, though that may be less important for Wikipedia sentences. Your 100 letter cut-off, while sensible, isn't used for sentences that go through the sentence collector. I'm away for a few days so

[2019-04-24 08:28] Gregoor commented on #1958
Thanks for putting that work in! The current version of the sentence scraper lives in this repo:
https://github.com/fiji-flo/common-voice-yotp/tree/english

Happy to look at PRs! In the coming weeks we'll also reach out more asking for help with scraping other languages (and improving the ones we have, english and chinese).

[2019-04-24 08:41] Gregoor commented on #1918
Oh, it seems like I misread something, don't know how I got the personal goal success progress idea 😕 I reverted that.

As alluded to before I've reused the notification badges, for the award, for now. Do we maybe want to consolidate those UIs? I feel like they serve a similar purpose. So maybe i should use the banner UI for all notifications?

[2019-04-24 12:14] Gregoor commented on #1948
@mbransn I feel like I'm a bit out of the loop, I thought we want to show the custom goal stuff when the site is either localized in english or the user has english in their list of languages. Or is it that we want different rules for the stats page vs the goals page?

[2019-04-24 14:26] Gregoor commented on #1923
Indeed. Our infra engineer found an error log that might very well be related: `LockError: Exceeded 10 attempts to lock the resource \"clip-leaderboard[null]-lock\"`. It's coming from Redis, but I don't know why it's happening yet.

[2019-04-24 15:01] #1947 closed

[2019-04-24 15:01] #1957 closed

[2019-04-24 16:35] rleitan commented on #1918
This issue is verified as fixed!

[2019-04-24 17:05] mbransn commented on #1918
@Gregoor the issue with the notification toast for now is that it goes away too quickly (for me at least). I'm unable to click on it in time to see my award! I fear this will be the same for others. Sadly it's not a solve to use the banner UI for all notifications because it's meant to be loud and actionable, where as toasts are meant to be quiet and passive. I'll move this to a new issue and we c

[2019-04-24 17:14] mbransn opened #1959 "Goal award banner notification updates"
@Gregoor When someone completes a personal goal they get a banner + an award ([See wireframes](https://overflow.io/s/92K0N8/?node=14878542)). Currently we're utilizing the toast notification UI instead of the banner, this is creating some issues since it goes away too quickly (for me at least). I'm unable to click on it in time to see my award! I fear this will be the same for others.

We should r

[2019-04-24 17:15] mbransn commented on #1959
Attn @rleitan @viorelaioia -- add to your sheet as well

[2019-04-24 17:19] mbransn opened #1960 "When goal complete, remove edit and add CTA to create new goal"
@Gregoor when a goal is complete the edit CTA should be gone and a black, pill shaped CTA should be at the bottom to 'Create New Goal'

<img width="433" alt="Screen Shot 2019-04-24 at 10 17 15 AM" src="https://user-images.githubusercontent.com/18686986/56679627-5fc06b80-667a-11e9-8c21-21b34efee84b.png">

cc @rleitan @viorelaioia

[2019-04-24 17:22] mbransn opened #1961 "Add context copy and update email CTA on goal confirmation screen"
@Gregor following our email thread re: legal udpates -- for people who've already opted into email: we should update this screen's email CTA to 'Manage Email Subscriptions' and provide context above (in grey paragraph text): "You're currently set to receive emails such as goal reminders, my progress updates and newsletters about Common Voice."

<img width="421" alt="Screen Shot 2019-04-24 at 9 54

[2019-04-24 17:23] mbransn commented on #1961
attn @rleitan @viorelaioia -- also added to your sheet

[2019-04-24 17:42] dabinat commented on #1958
I know 100 was mentioned on Google Docs but I will double-check what it is in Sentence Collector. However my goal was to filter out sentences I described above as tedious. I feel that any script that is importing masses of sentences without human input should be conservative. It should err on the side of caution and any correct words filtered out can always be manually added through Sentence Colle

[2019-04-24 17:44] MichaelKohler commented on #1958
The Sentence Collector uses a limit of 14 words for English.

[2019-04-24 18:34] dabinat commented on #1958
So there's no character limit as well? My script has 14 words and 100 characters as limits.

[2019-04-24 18:35] MichaelNMaggs commented on #1958
I agree with you, and with your implementation of a word-length cutoff as well. I’d prefer a lower word cutoff as in my experience reading accuracy falls off rapidly with sentence length, even with the usually-simpler sentences from novels. I’ve reduced my novels cutoff to 12 and am thinking of reducing it further to 10.

Michael

[2019-04-24 18:46] nukeador opened #1962 "Link "pt-BR" localization to "pt""
Hi,

Dataset languages include Portuguese "pt" without any variants but currently we just have pt-BR localization.

As a temporal way to fix Portuguese dataset collection, I would like to request we use pt-BR localization for pt and enable it on the site, this way we will be able to add sentences.

pt-BR should redirect to pt on the site.

Cheers.

[2019-04-25 06:53] dabinat commented on #1958
Added a PR to improve the wiki data: https://github.com/mozilla/voice-web/pull/1963

[2019-04-25 07:30] kdavis-mozilla commented on #1962
pt-BR and pt are spoken quite differently and written somewhat differently.

[2019-04-25 09:39] nukeador commented on #1962
Let's have a conversation about this before closing the issue, thanks.

[2019-04-25 09:55] kdavis-mozilla commented on #1962
Oh sorry, didn't mean to close this.

[2019-04-25 16:09] Gregoor opened #1965 "first contribution email for listen"

[2019-04-25 16:13] Gregoor commented on #1965
@LRSaunders4 if you click subscribe on the right, you'll know when this will be up

[2019-04-25 17:14] #1961 closed

[2019-04-25 18:01] dabinat opened #1966 "Add the ability to report a bad sentence"
There should be the ability to report a bad sentence from both the recording and validation pages.

I feel this is more necessary now that the wiki sentences have been added without manual validation.

To prevent abuse, it’s probably best for a sentence to require two reports before it gets flagged up. And perhaps a limit on the number of reports that a user can make within a certain timeframe.

T

[2019-04-26 07:42] Gregoor commented on #1966
I like the idea! We do already track skipped_sentences (and do nothing with it), maybe we could surface that in the same report or just use that

[2019-04-26 08:35] #1965 closed

[2019-04-26 11:12] nukeador commented on #1966
See #890

Let's centralize the request here :-)

[2019-04-26 11:12] #1966 closed

[2019-04-26 11:18] #1959 closed

[2019-04-26 11:36] MichaelNMaggs commented on #890
If there's nothing blocking this it would be good to push it up the priority list, especially for recording and validation. The need has become more urgent now that we have very large numbers of Wikipedia sentences that didn't go through the Sentence Collector and which would have blocked by the upload filters if they had (https://github.com/mozilla/voice-web/issues/1958)

If a button could be add

[2019-04-26 15:38] dabinat commented on #890
Just to respond to something @Gregoor said in #1966:

I don't think skipped sentences is a reliable metric here. Users may skip sentences for reasons other than sentence quality, and I know from validation experience that many users still attempt to read  sentences even if they are bad. (I get the impression a lot of users aren't aware of the ability to skip, but that's probably something for a di

[2019-04-26 18:50] mbransn commented on #1948
@Gregoor sorry this one slipped through my inbox cracks! Don't want you to feel out of the loop 😞 lots going on discussion wise. Here's what I wrote in InVision during our UX phase:

<img width="404" alt="Screen Shot 2019-04-26 at 11 45 35 AM" src="https://user-images.githubusercontent.com/18686986/56829580-ffb3fb80-6818-11e9-9658-302527ed3352.png">

The site should be localized to English for the

[2019-04-26 21:12] mbransn opened #1968 "Update goal social share copy to reflect goal messaging"
@Gregoor the goals social share pre-fill text is still our generic social sharing copy.

<img width="679" alt="Screen Shot 2019-04-26 at 12 01 19 PM" src="https://user-images.githubusercontent.com/18686986/56836530-64c51c80-682c-11e9-9657-d33864c79877.png">

When sharing a goal from the goal created screen, can we please use the copy:

"I just created a personal goal for voice donation to #CommonV

[2019-04-26 22:11] mbransn opened #1969 "Update global sharing modal UI"
@Gregoor can we update our sharing modals to match the UI on zeplin? Note that copy is updated in the [content outline](https://docs.google.com/document/d/1vYnFmf8bN19Q1aY0z0i6-u2irHho93dT6x9KUC5W6kQ/edit#bookmark=id.xp5t58v7opdy).

Current
<img width="729" alt="social-current" src="https://user-images.githubusercontent.com/18686986/56838945-0e101080-6835-11e9-84cc-e19090702c83.png">

[Updated](ht

[2019-04-26 22:27] mbransn opened #1970 "Make goal achieved banner persistent"
@Gregoor I achieved my goal (yes!) and saw the award banner (yes!) but it went away before I could finish reading it / click on the CTA (noooooo). Can we please make the award notification banner persistent? This is why it has the `x` to dismiss. :)

cc @viorelaioia @rleitan

[2019-04-26 22:34] mbransn opened #1971 "Add notification badge to Awards tab when new award achieved"
@Gregoor if I achieve an award and dismiss the notification banner, I still want to see a notification badge on my awards tab so I know something new is waiting to view. [See UX flow screen here](https://overflow.io/s/92K0N8/?node=032d698e) and screenshot below. Badge color should be #629FF4 with white count label.

<img width="1157" alt="award-badge-notification" src="https://user-images.githubus

[2019-04-29 11:04] #1948 closed

[2019-04-29 11:07] Gregoor commented on #1948
Thanks for being patient with me (for something that amounted to changing 2 characters). I think I indeed got those two mixed up. So many channels of communication 🙈

Apropos, can you remind what the "goals banner info on the homepage" is about? Is that something we already have / should have? @mbransn

[2019-04-29 11:21] #1970 closed

[2019-04-29 11:56] #1969 closed

[2019-04-29 12:08] #1968 closed

[2019-04-29 12:17] #1950 closed

[2019-04-29 13:06] Gregoor commented on #1960
@mbransn what should happen when the goal type is `both`? Only show the create a new goal CTA when both are reached? And should it appear on both boxes?

[2019-04-29 16:18] mbransn commented on #1918
@Gregoor can you review my comment above? Is the banner now static?

[2019-04-29 16:19] Gregoor commented on #1918
that's the same as #1970 right? Static meaning that it doesn't go away unless closed by clicking X or the CTA? Then yes, that's fixed

[2019-04-29 16:27] mbransn opened #1976 "Homepage banner for personal goals"
@Gregoor homepage banner for announcing goals is needed:

- [x] This banner has two different use cases:
- Logged in profile owners will see a CTA for : get started
- Anyone not logged in will be prompted to : ~create an account~ Log In / Sign Up

- [x] The banner is persistent until dismissed via the close `x`

- [x] The banner should use our current banner UI on zeplin

- [x] Banner copy: Help r

[2019-04-29 16:58] Gregoor commented on #1976
Oh so we're only showing it when a user visits the homepage?

Also I guess it'd be best if it wouldn't overlap the nav (like the awards banner currently does)?

I'm pushing a version now that (imo) does the wrong thing for both of those questions (shows on every page & overlaps nav), but I'll hover this issue to make sure I get it right quickly after launch.

[2019-04-29 17:06] mbransn commented on #1976
Yes

Ideally below the nav, is this possible?

<img width="1136" alt="Screen Shot 2019-04-29 at 9 17 05 AM" src="https://user-images.githubusercontent.com/18686986/56913392-6843e800-6a66-11e9-8288-ed914e9a8b35.png">

For this banner let's make all copy white and link underline with blue on hover

[2019-04-29 17:12] mbransn commented on #1918
Yes! 🙈 Thanks @Gregoor ❤️

[2019-04-29 17:12] #1918 closed

[2019-04-29 20:02] mbransn commented on #1960
Great flags @Gregoor -- we missed success states in design so I've updated; take a look and attn: @viorelaioia @rleitan

- [ ] If one goal is complete, a `both` goal can still be edited. And the CTA changes to 'View Award' On [Zeplin](https://zpl.io/aNmnlZe).

<img width="240" alt="dual-goal-1-complete" src="https://user-images.githubusercontent.com/18686986/56923196-cda3d300-6a7e-11e9-893a-b5368d

[2019-04-29 21:07] Rudloff commented on #320
Hello,
I understand from https://github.com/mozilla/voice-web/issues/320#issuecomment-458651764 that your goal is to deprecate the Android (and only use a web app).
If so, I think we can close this issue and the F-Droid RFP.

[2019-04-29 21:25] LRSaunders4 opened #1977 "Profile and log in scroll in between each other."
<img width="123" alt="log in: Sign Up" src="https://user-images.githubusercontent.com/48598353/56927573-20d74f00-6a9a-11e9-93fd-2b6fc2c36da6.png">
<img width="149" alt="Profile Nav" src="https://user-images.githubusercontent.com/48598353/56927577-2339a900-6a9a-11e9-97fb-da69a3bab878.png">

I went to the voice.mozilla already signed in
The personal goals banner is up
I x out the banner
My profile a

[2019-04-29 21:45] mbransn commented on #1976
@Gregoor note in initial description that CTA text for logged out / non -profile owner has changed to `Log In / Sign Up`

[2019-04-29 21:47] csepanda opened #1978 ""Go To" links in production"
Hi, I have noticed minor issue with [FAQ page](https://voice.mozilla.org/en/faq#localization).
At the bottom of the page there are light gray links to staging server and localhost :)

See screenshots attached below:
![image](https://user-images.githubusercontent.com/16517888/56928810-9e25b280-6ae0-11e9-8ab3-770b7eb3a77d.png)

![image](https://user-images.githubusercontent.com/16517888/56928996-26a

[2019-04-30 00:06] venterce opened #1979 "Missing word on https://activate.mozilla.community/en-US/commonvoice web page"
On the common voice web site, under the lone cowboy/cowgirl Activity flow, the first sentance seems to be missing a word.

It says "Do a marathon session or try create a routine that makes it easy to remember to contribute."

I think it should say something like "Do a marathon session or try TO create a routine that makes it easy to contribute."   Or even better add the "to" and then say something

[2019-04-30 00:11] venterce commented on #1979
Oops, I just found a duplicated word/typo  in another sentence in the same section of the same page.

Under the heading: To review clips

"Once you have reached 15 mins of your voice it’s more useful if you to to the Listen section and help review other people’s voices."

I'm thinking that they meant to say:
"Once you have reached 15 mins of your voice it’s more useful if you GO to the Listen sect

[2019-04-30 00:17] venterce commented on #1979
I seem to have closed this issue and I can't find a way to reopen it.

[2019-04-30 03:55] dabinat opened #1980 "Unable to login"
For the past 8 hours or so I've been unable to login to the site. When I click the SSO link in my email, it takes me to https://voice.mozilla.org/login-success which shows a blank white page. (This behavior also occurs with the alternative authentication methods.)

If I change the URL to https://voice.mozilla.org to take me back to the homepage, I am still not logged in at the top right. I have re

[2019-04-30 06:22] BhuvanaMeenakshiK commented on #1980
Me too facing the same here. I tried to log in through all the accounts of mine say, Google, Firefox and Github but still facing the same issues.

[2019-04-30 07:59] rory commented on #1980
I also have this issue. FF dev tools says:

    Content Security Policy: The page’s settings blocked the loading of a resource at self (“script-src”). Source:

( also here https://discourse.mozilla.org/t/impossible-to-login/34763 )

[2019-04-30 09:37] Gregoor commented on #1978
Dang, I thought I hid them well 🙈

It's our sneaky way of testing the local/staging web version in the iOS app, which points to the production site by default.

We'll have a new FAQ soon, then those links will be gone. Though I also don't have a plan yet on how we'll test staging in the iOS app then. Fortunately the iOS app won't be needed for much longer 🎉

[2019-04-30 09:45] zerdo90 opened #1981 "Two sentences repeat on about us page"
On https://voice.allizom.org/en/about page under the "≥ 2 No votes" and "Common Voice Dataset" headlines there is the same text: "When a user rejects a voice clip it returns to the Queue. If rejected a second time, the voice clip is moved to the Clip Graveyard."

I suppose under the "Common Voice Dataset" should be something else?

![about](https://user-images.githubusercontent.com/26620773/569536

[2019-04-30 09:50] Gregoor commented on #1981
Thanks for the report!

cc @munteanu210

[2019-04-30 10:06] Ejguzm19 commented on #1869
Hi,

I was looking at this issue and noticed that if you press Enter it automatically does 5 more. Instead of coding it to pressing P why not just add "Press Enter" to the button.

![Screenshot from 2019-04-30 06-03-33](https://user-images.githubusercontent.com/47034717/56954797-c4157c00-6b0d-11e9-89a3-efa6888fc555.png)

As for the option to remove the summary screen in your profile settings, I wa

[2019-04-30 13:23] rleitan opened #1982 "Rendering issue on stats page when minimize the browser window"
Precondition]:
Set a goal only for Listen or Speak

[STR]:
1.Go to stats page
2.Drag the browser's window margins to minimize it

[Actual result]:
Inconsistency between Clips you've recorded/validated sections due to "% toward goal" icon
https://imgur.com/a/qPF3L0T

[2019-04-30 13:24] rleitan commented on #1982
@mbransn thoughts?

[2019-04-30 13:31] csepanda commented on #1978
What about "Test flight" / local testing?

[2019-04-30 14:00] viorelaioia opened #1983 ""Your weekly goal has been created" message is shown after creating a daily goal"
**STR:**
1. Login to your common voice profile on prod
2. Navigate to Goals page
3. Create a new **daily goal** of 15 recordings

**Expected:**
"Your daily goal has been created" message is displayed

**Actual:**
"Your **weekly goal** has been created" message is displayed. See [video](https://vimeo.com/333338938)

[2019-04-30 14:40] viorelaioia opened #1984 "Add more space on the left side of the screen"
For Stats and Awards pages
<img width="1278" alt="Screen Shot 2019-04-30 at 17 34 56" src="https://user-images.githubusercontent.com/5293100/56969941-d07df100-6b6e-11e9-9bc1-815a8d65620a.png">
See [designs](https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5c9018f29f489505cacd3d20)

[2019-04-30 14:44] rleitan opened #1985 "Unsubscribe action via mozilla.org page is not visible in Common Voice"
[Precondition]:
Subscribe to newsletter/goal reminders through Common Voice
[STR]:
1.Go to https://voice.mozilla.org/en/profile/settings and click Manage Subscription
2.Unsubscribe via mozilla.org page
3.Go to https://voice.mozilla.org/en/profile/settings and refresh the page

[Expected result]:
The changes should be visible in Common Voice page

[Actual result]:
Subscription checkbox is grayed ou

[2019-04-30 14:48] dabinat commented on #1980
It’s working for me now. Is anyone else still getting this? If not I’ll close this issue.

[2019-04-30 14:59] Gregoor commented on #1980
Thanks for reporting it! It should indeed be working again. I've spend the day extinguishing the fire I set yesterday

[2019-04-30 15:01] rleitan opened #1986 "Subscribtion checkbox is not automatically updated after subscribing via footer"
[STR]:
1.Subscribe to newsletter via footer

[Expected result]:
Subscription checkbox should be automatically checked in Settings and goal setting

[Actual result]:
The subscription checkboxes are updated only after page refresh
https://vimeo.com/333351133

[2019-04-30 15:02] viorelaioia opened #1987 "[mobile] Page from set a goal flow is automatically scrolled down like the previous one"
**Env:**
iPhone 7, iOS 12.2, Firefox and Safari

**STR:**

1. Login to CV on mobile
2. Navigate to Stats page
3. Tap "Create a custom goal" on Speak section
4. Scroll down and tap "Set a goal" button

**Expected:**
Next page is shown from the beginning

**Actual:**
Next page is scrolled down, as the previous one. User needs to scroll up to see the first part of the page and to actually set the typ

[2019-04-30 16:34] mbransn commented on #1985
Thanks for flagging @rleitan -- I definitely thought we could at least see through the API if someone is subscribed, meaning the expected behavior for the checkbox is as you wrote above.

@Gregoor is there no way to connect this level of visibility to the our email subscription list?

cc @LRSaunders4 for visibility

[2019-04-30 17:13] mbransn opened #1988 "Add TOS to profile setup flow"
@Gregoor following feedback from legal we need to make the TOS agreement a part of profile sign up. I recommend making this a consistent pattern across the site by using the TOS modal. Have written criteria below

- [x] (currently implemented) For new / uncached sessions, the TOS modal is triggered on clip submission.
- [x] For new, logged in profiles the TOS modal is triggered when 'Save Profile'

[2019-04-30 17:33] MichaelKohler commented on #1979
Thanks for filing this issue. A copy update is tracked here: https://github.com/mozilla/activate.mozilla.community/issues/345. This will be changed to "Try a marathon session or create.."

@Gregoor can you close this issue?

[2019-04-30 19:18] BhuvanaMeenakshiK commented on #1980
It is working well for me sa well. Thanks

[2019-04-30 19:21] #1980 closed

[2019-05-01 17:36] arnavvats commented on #1983
Hi, I'd like to work on this bug.

[2019-05-01 19:37] dabinat commented on #1958
Added PR to strip another 61K sentences from the file: #1989

[2019-05-02 06:39] dabinat commented on #1923
Here's what I see in Chrome's console when I try to view the stats page:

[2019-05-02 07:27] viorelaioia opened #1990 "“Become A Partner” button doesn’t link to a page / section of the page"
Clicking “Become A Partner” button has no effect. I suppose the button should link to a different page.

CC @munteanu210

[2019-05-02 07:38] viorelaioia opened #1991 "[mobile] Robot picture overlaps the "Become a Partner" button"
Environment:
iPhone 7 and X, iOS 12.2, Firefox and Safari

![photo5931728274390626444](https://user-images.githubusercontent.com/5293100/57061628-434db000-6cc6-11e9-90eb-b938ad4bf0c2.jpg)

CC @munteanu210

[2019-05-02 07:45] viorelaioia opened #1992 "[mobile] User menu is not entirely accesible"
**Env:**
iPhone 7, iOS 12.2, Firefox and Safari

**STR:**
Login to https://voice.allizom.org/en
Tap the avatar to see user menu options

**Expected:**
User can scroll down to see all user menu options available and can access any of them

**Actual:**
Settings and Logout options are not available, user cannot scroll down to see these options.

**Note:**
On devices with larger screen like iPhone X,

[2019-05-02 09:07] #1979 closed

[2019-05-02 09:08] viorelaioia opened #1993 "[mobile] FAQ questions are visible underneath the sticky menu"
**Env:**
iPhone x and 7, iOS 12.2, Firefox and Safari

**STR:**
Navigate to https://voice.allizom.org/en/faq-new
Scroll down on the page

**Expected:**
Questions are not visible underneath the sticky menu, while scrolling the page

**Actual:**
Questions are visible underneath the sticky menu. See [video](https://vimeo.com/333699443)

[2019-05-02 09:10] Gregoor commented on #1983
Great, thanks! Let me know if I can assist.

[2019-05-02 09:23] rleitan opened #1994 "Search button is not correctly displayed"
Environment:
Windows 10, Mac OS 10.14 - Firefox, Chrome
[STR]:
1.Open https://voice.allizom.org/en/faq-new

[Expected result]:
"Search for answers" placeholder should be black
Search button should be visible

https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5c92b7a7e6cbce24f53dfe6e

[Actual result]:

![2019-05-02_12h13_57](https://user-images.githubusercontent.com/41474886/57066457-e6

[2019-05-02 09:33] rleitan opened #1995 "Go to staging/Go to localhost links on FAQ page"
Environment:
Windows 10, Mac OS 10.14 - Firefox, Chrome
[STR]:
1.Open https://voice.allizom.org/en/faq-new
2.Scroll down to the bottom of the page

[Actual result]:
Go to staging/Go to localhost links are displayed with grey colour

![2019-05-02_12h27_54](https://user-images.githubusercontent.com/41474886/57066948-4f416e00-6cd6-11e9-9746-eda9d1fe86e0.png)

[2019-05-02 09:42] rleitan commented on #1995
@munteanu210

[2019-05-02 09:43] rleitan commented on #1994
@munteanu210

[2019-05-02 10:33] #1985 closed

[2019-05-02 11:03] #1976 closed

[2019-05-02 12:00] arnavvats commented on #1983
Unable to reproduce the bug currently,
looked inside the custom-goal-lock component and seems like it renders the custom goals only they already present. Can you take a look?

[2019-05-02 12:02] rleitan opened #1996 "Searching by empty space returns results"
[STR]:
1.Open https://voice.allizom.org/en/faq-new
2.Go to the search bar and press space bar once
3.Press space bar once again

[Actual result]:
2. All results are displayed
3.What is Common Voice? subsection is displayed

![2019-05-02_15h01_25](https://user-images.githubusercontent.com/41474886/57073934-35f6ec80-6ceb-11e9-93d4-b3b0fc345093.png)

@munteanu210 is this expected?

[2019-05-02 12:36] arnavvats commented on #1983
Hi, found the bug and change the code. Please review my pull request.
Thanks

[2019-05-02 12:39] arnavvats commented on #1993
Hi, would like to take up this issue.

[2019-05-02 12:40] #1983 closed

[2019-05-02 13:00] rleitan opened #1998 "Security warning dialog prompt when trying to submit a message via Contact form"
[STR]:
1.Open https://voice.allizom.org/en/about#get-involved
2. Click the Contact button
3.Fill the Contact form and click Submit

[Actual result]:
Security warning dialog prompt displayed
![2019-05-02_15h59_40](https://user-images.githubusercontent.com/41474886/57076879-4dd26e80-6cf3-11e9-83d6-063a9f9667cf.png)

@munteanu210

[2019-05-02 13:36] viorelaioia opened #1999 "[iOS app] About Us menu buttons are displayed with no text and icons"
**STR:**
Navigate to Abouts Us page
Scroll down

**Expected:**
Buttons with icons and text are displayed on the bottom of the page. See [designs](https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5c88f7dfa1202f046ea39559) are displayed

**Actual:**
Buttons are displayed on the bottom of the page with no text and icons. See [video](https://vimeo.com/333748263)

**Note:**
This is happeni

[2019-05-02 13:46] rleitan opened #2000 "Discourse button is not correctly displayed"
[Environment]:
Windows 10 , Mac OS 10.14 - Firefox, Chrome
Android - Firefox

[Note]:
The issue is not reproducible on iOS(iPhone 7)

[STR]:
1. Open https://voice.allizom.org/en/about#get-involved

[Expected result]:
Discourse button should look as per wireframes: https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5c928d675947a201e25becdd
[Actual result]:
Discourse button is not correct

[2019-05-02 13:50] rleitan opened #2001 "Partners button is selected when clicking Get involved button"
[Environment]:
Windows 10 - Firefox, Chrome
not reproducible on Mac 10.14 - Firefox
[STR]:
1.Open https://voice.allizom.org/en/about
2. Click "Get involved"  wave button

[Expected result]:
Get involve wave button should be highlighted and the page should be scrolled to Get Involved section

[Actual result]:
Partners wave button is selected instead of  Get involve one and the page is scrolled to G

[2019-05-02 14:27] arnavvats commented on #1993
Hi, fixed the issue and created a pull request . Please review.

[2019-05-02 15:14] arnavvats commented on #1984
Hi, added a small fix to the css. Please review.

[2019-05-02 15:30] Gregoor commented on #1984
Awesome, thanks for looking into it :) Could you create a separate PR for it? the FAQ PR is likely gonna be reviewed by someone else

[2019-05-02 16:03] arnavvats commented on #1984
Created a separate one. Thanks

[2019-05-02 16:05] #1984 closed

[2019-05-02 17:02] mbransn opened #2006 "About Us title should be About"
@munteanu210 the page title for `About Us` should actually be `About`. Can we please update everywhere (including primary navigation)?

[2019-05-02 17:17] arnavvats commented on #2001
Hi, fixed the issue. Please review PR.

[2019-05-02 17:49] mbransn opened #2008 "Add personal goals prompt to submission success screen"
@Gregoor can we add the [personal goals prompt copy](https://overflow.io/s/92K0N8/?node=38f4d754) to the submission success screen for english localized profile owners?

Copy has changed a bit from that linked UX screen:

[2019-05-02 17:50] mbransn commented on #2008
FYI @viorelaioia @rleitan

[2019-05-02 17:53] mbransn opened #2009 "Mind the goals gap"
@Gregoor we've got some wayward padding or margin beneath the goals section. Should always be flush with the footer, halp please. :)

![Screenshot_2019-05-02 Common Voice by Mozilla](https://user-images.githubusercontent.com/18686986/57095749-6ed19a00-6cc8-11e9-9343-901dbec8cfa7.png)

FYI @viorelaioia @rleitan

[2019-05-03 00:17] munteanu210 commented on #1993
@viorelaioia Thanks for reviewing this and for identifying this problem.

@arnavvats Thanks for fixing this! However, please note that your fix eliminated the menu transparency on mobile. Apparently it works. However, when the menu is not sticky yet, the background is a bit different from the one underneath, so as the one underneath has a gradient. [See video](https://drive.google.com/open?id=1fNP

[2019-05-03 07:49] munteanu210 commented on #1996
@rleitan thanks for your feedback. I will fix this so that when you press the space bar once and then a second time, no results are displayed. I think that I should also trim the first and last space in case someone accidentally adds space before and/or after the searched words. Let me know your thoughts.

[2019-05-03 08:10] munteanu210 commented on #1996
@rleitan thanks for your feedback. I will trim the first and last space.

[2019-05-03 08:12] munteanu210 commented on #2001
@arnavvats thanks for fixing this! I checked it and it works great! We will merge this.

[2019-05-03 12:04] viorelaioia opened #2010 "[mobile] Page scrolls up when expanding a question from FAQ page"
**Env:**
iPhone 7, iOS 12.2, Firefox and Safari

**STR:**

1. Navigate to https://voice.allizom.org/en/faq-new
2. Scroll down and tap a question in order to expand it
3. Scroll down to see the entire content, then tap another question

**Expected:**
Question is expended and the answer is displayed

**Actual:**
Page is scrolled up, answer is not visible entirely. User needs to scroll down in order

[2019-05-03 14:39] #1971 closed

[2019-05-03 15:38] Gregoor opened #2011 "About & FAQ code review"
I'm going to have to agree with my first reaction, I think the code looks great overall. Here's a couple of things that could still be improved upon:

## JS
https://github.com/mozilla/voice-web/blob/86c94714998e5061ce6c4f1f0dde1fe2df2672cb/web/src/components/pages/about/how-it-works.tsx#L210-L230
- [x] The naming here is a little unclear to me (`FLOWCHART` vs `flowchart`). The elements of the flow

[2019-05-03 15:56] munteanu210 commented on #2011
@Gregoor thanks a lot for your thorough review and feedback! I will work on these updates next, and I will let you know if any questions.

[2019-05-03 17:47] arnavvats commented on #1993
the background transparency has to be eliminated for the fix, and i used the same color code for the menu background, maybe a linear gradient could look better ?

[2019-05-03 18:01] arnavvats commented on #1994
Hi, would like to take up the issue.

[2019-05-03 18:03] arnavvats commented on #1994
We can disable the auto search or keep this the current way. But how do we improve the UX?
@Gregoor can you give any suggestions?

[2019-05-03 20:12] munteanu210 commented on #2010
@viorelaioia thanks for your feedback. I am working on it.

[2019-05-03 20:14] munteanu210 commented on #2006
@mbransn sure, working on it already. Thank you for your feedback.

[2019-05-03 20:15] munteanu210 commented on #2000
@rleitan thanks for your feedback. Working on it already.

[2019-05-03 20:15] munteanu210 commented on #1999
@viorelaioia thanks for your feedback. Working on it already.

[2019-05-03 20:17] munteanu210 commented on #1998
@rleitan thanks for your feedback. Working on it already.

[2019-05-03 20:19] munteanu210 commented on #1995
Thanks for your feedback. Working on it already.

[2019-05-03 20:20] munteanu210 commented on #1981
@zerdo90 thanks for identifying this! I am working on changing it already.

[2019-05-03 20:27] munteanu210 commented on #1994
@arnavvats the search functionality was thoroughly discussed and there is a set way we want it to work. We don't want the auto search disabled, because it was done on purpose after discussing it with the team. Also, a decent amount of work went into the auto search to make it work fast and pull results in the way it currently does. I will fix the search icon so that it is displayed correctly on al

[2019-05-03 20:30] munteanu210 commented on #1992
@viorelaioia thanks for your feedback. Working on it already.

[2019-05-03 20:36] arnavvats commented on #1994
okay, nice.

[2019-05-03 20:37] munteanu210 commented on #1990
@viorelaioia thanks for your feedback. Will ask the team and add the link.

[2019-05-03 20:37] munteanu210 commented on #1991
Thanks for identifying and reporting this. Working on it already.

[2019-05-04 11:43] georai opened #2012 "About Page UI issues"
@munteanu210 For the sticky menu:
1. For the sticky menu: please move the menu with some pixels up to not have the gap at all between the tabs.
2. Get involved section: issues with the spacing and Discourse icon is missing.
3. Become a partner to be clickable with the same pop up  like Contact Us button. @mbransn right?

Mobile version:
1.Reduce Mars illustration with 25%.
2. Icons issue.
3.Remove

[2019-05-04 17:36] munteanu210 commented on #2012
@georai thanks for reviewing these pages and for you feedback. I am working on making these edits.

[2019-05-05 01:31] arnavvats commented on #2010
Hi, made a small fix, please review PR.

[2019-05-05 09:25] munteanu210 commented on #1991
@viorelaioia, I fixed this problem.

[2019-05-05 09:25] munteanu210 commented on #1992
@viorelaioia, I fixed this problem.

[2019-05-05 09:26] munteanu210 commented on #1993
@viorelaioia, I fixed this problem.

[2019-05-05 09:26] munteanu210 commented on #1995
@rleitan, I fixed this problem.

[2019-05-05 09:27] munteanu210 commented on #1996
@rleitan, I fixed this problem.

[2019-05-05 09:27] munteanu210 commented on #2006
@mbransn, I did the update.

[2019-05-05 09:30] munteanu210 commented on #2011
@Gregoor, I implemented some of your feedback already. I'm still working on it and will submit the rest of the updates shortly.

[2019-05-05 09:31] munteanu210 commented on #2012
@georai, I implemented some of your feedback already. I'm still working on it and will submit the rest of the updates shortly.

[2019-05-05 16:15] imans777 opened #2015 "multiple dummy user_clients with new client_id created on page reload"
Hi,
I noticed a bug when I used this app which, if proven to be correct and not a mistake of mine, will make some part of our data misjudged and invalid!

I cloned the project and brought up the database. I tried to login and completed my profile and a new record added to user_client table. So far so good. Then I tried refreshing the page multiple time and I noticed that sometimes a new record is

[2019-05-06 09:41] #1991 closed

[2019-05-06 09:41] #1993 closed

[2019-05-06 09:41] #1995 closed

[2019-05-06 09:42] #1996 closed

[2019-05-06 09:42] #2006 closed

[2019-05-06 13:20] rleitan commented on #1995
Verified as fixed!

[2019-05-06 13:40] viorelaioia commented on #1992
Verified as fixed.

[2019-05-06 13:40] viorelaioia commented on #1991
Verified as fixed!

[2019-05-06 13:43] viorelaioia commented on #1993
Verified as fixed

[2019-05-06 14:00] MichaelNMaggs commented on #1498
Linking to Discourse: https://discourse.mozilla.org/t/normalized-samples/38885

[2019-05-06 14:02] MichaelNMaggs commented on #1899
Duplicate of #1498

[2019-05-06 14:35] rleitan commented on #1996
@munteanu210 as per your comment: " I will fix this so that when you press the space bar once and then a second time, no results are displayed".
After the fix, when I search by first space, then second space I get all the results. So there is no difference how many spaces I enter in the search bar.

[2019-05-06 14:41] rleitan opened #2016 "A dot is added when pressing space bar in search input field"
[Environment]:
Mac OS 10.14 - Chrome, Safari
not reproducible on Windows 10 - Chrome

[STR]:
1.Open https://voice.allizom.org/en/faq-new
2.Go to search bar and type something (e.g voice)
3.Add two spaces with the space tab

[Expected results]:
Two spaces should be added

[Actual result]:
A space and . are added

https://vimeo.com/334441768
@munteanu210

[2019-05-06 15:41] Gregoor commented on #1923
it should be much better now, lemme know if not!

[2019-05-06 15:43] Gregoor commented on #320
Yes, that's very much the goal! The only reason for having an iOS app was a missing Safari API (MediaRecorder) which is in technical preview. Once that's out, we'll deprecate the iOS app.

[2019-05-06 15:43] #320 closed

[2019-05-06 16:38] dabinat commented on #1923
I'm no longer getting the 504 error in the console but it's still blank for me.

Interestingly, I signed up for a new account with a dummy email and I could view the stats page from that account. So maybe it's specific to my account? Perhaps it's something to do with the number of validations I have - it's over 6 figures now.

[2019-05-06 17:51] arnavvats commented on #2010
Hi, please review the PR.

[2019-05-06 17:59] munteanu210 commented on #2010
@arnavvats I checked your PR. Unfortunately, your update didn't fix the problem. I added a 200ms timeout for executing scrollIntoView and it seems to work well at the first glance. However, reviewing your PR further, there are two problems that I identified:

- a) the title still goes under the menu on FAQ answers that have a lot of text, such as [this one](https://www.screencast.com/t/TXYJUomZvv9

[2019-05-06 18:10] arnavvats commented on #2010
okay, thanks

[2019-05-06 18:11] arnavvats commented on #2010
what should be a better alternative for querySelector here?

[2019-05-06 19:09] munteanu210 commented on #2016
@rleitan you will be able to make the two space tabs convert to a dot on other web pages, browsers, and even in text editors. That's a setting on your Mac. You can enable or disable this setting. Here is an [article about that](https://www.idownloadblog.com/2016/12/19/how-to-stop-your-mac-from-inserting-a-period-when-you-double-press-the-space-bar/). This being said, there is nothing I can do here

[2019-05-06 20:26] #2012 closed

[2019-05-06 20:35] Gregoor commented on #2011
Great work, thank you! :)

[2019-05-06 20:35] #2011 closed

[2019-05-06 20:58] Gregoor commented on #2015
Hi,

thankslots for the detailed report, much appreciated! And unfortunately I can reproduce it. I do remember it working as intended, but I guess there were some unforeseen ripples, as it goes. An indicator that we should have test suites covering this? Probably.

I just pushed a commit that prefers using the auth0 user's client_id, if available. But it's late, so I wanna make sure it works as ex

[2019-05-06 23:11] munteanu210 commented on #2012
@georai I did all the updates that you requested. The only update I did not do is making the tabs waves with no shadow on mobile. [Here is](https://www.screencast.com/t/1vn2fqJju) how the tab shadows show on mobile. As you can see, the shadow give shape to the tabs and make the tabs visible. Without the shadow, the tabs aren't visible because the tabs are white and the background is white. [See sc

[2019-05-06 23:22] munteanu210 commented on #2010
@arnavvats, I am discussing with the team about alternatives. Will let you know what we decide.

[2019-05-06 23:24] munteanu210 commented on #2001
@Gregoor this current issue (#2001) was solved and merged. It works good now. Please close this issue at your earliest convenience. Thank you.

[2019-05-06 23:26] munteanu210 commented on #2000
@rleitan @Gregoor I fixed this one and it was merged with the master.

[2019-05-06 23:34] munteanu210 commented on #1999
@viorelaioia I found the Common Voice iOS application for the live site on the AppStore, and downloaded it to my iPhone. Can you give or email me instructions on how I can get the iOS application that opens the beta/test site?

[2019-05-06 23:55] munteanu210 commented on #1998
@rleitan this warning dialog shows on the live site too: https://www.screencast.com/t/EuJEAmju4l   You can reproduce this in Firefox. This problem will disappear if / when an internal HTTPS address will be added to this form. Until then, mailto will always show this warning dialog.

[2019-05-06 23:57] munteanu210 commented on #1981
@mbransn @georai These two texts were identical on the design. See [screenshot](https://www.screencast.com/t/CfJ1ggl6pb). Please provide the correct / unique texts per each of these two sections, and I will update them.

[2019-05-07 03:58] munteanu210 commented on #1996
@rleitan I made the search ignore the spaces when they are alone by themselves, or at the beginning or end of a word. Spaces are being considered only when they are in between words. So, yes, adding multiple spaces will not trigger the search. The page will continue to show all the answers as it does by default.

[2019-05-07 07:41] #2016 closed

[2019-05-07 08:38] rleitan commented on #2001
Verified as fixed!

[2019-05-07 08:38] #2001 closed

[2019-05-07 08:48] #1994 closed

[2019-05-07 08:54] viorelaioia commented on #1999
hi @munteanu210 ! If you go to FAQ page on the mobile Common Voice app, then scroll down to the bottom of the page, there is a "Go to staging" button available, barely visible. Taping that button will take you to the staging version of Common Voice, where the "About" page is available.

[2019-05-07 08:58] rleitan commented on #2000
Verified as fixed

[2019-05-07 08:58] #2000 closed

[2019-05-07 13:48] Gregoor commented on #2015
Alright, some good news: It was a recent regression indeed. In a commit 2 weeks ago I've disabled localStorage-persisting of a user's account (so that we don't show notifications based on outdated information). Unfortunately the presence of that field was used to determine whether a new ID needs to be generated. Now it also depends on whether the account is currently being fetched.

Thanks again!

[2019-05-07 13:48] #2015 closed

[2019-05-07 14:21] Gregoor commented on #2008
Just noticed that it's already implemented 😁 It's only shown when you don't have goal set yet though.

[2019-05-07 14:23] Gregoor commented on #2009
Huh, I don't see that gap in Chrome nor FF. Was it Safari? Then I'll check on a macbook later today.

[2019-05-07 14:28] #1977 closed

[2019-05-07 16:41] munteanu210 commented on #1999
@viorelaioia thanks for directions. I found the "Go to staging" button.

[2019-05-07 22:14] mbransn commented on #2009
Intriguing. I was on Nightly 🌃

[2019-05-08 00:10] munteanu210 commented on #1998
@Gregoor I see what you say. Thanks for confirming that you also see this as being an issue outside our control. Let me know whether we want to keep this item open until someone from FF responds, or we close it?

[2019-05-08 08:58] #1981 closed

[2019-05-08 09:03] #1990 closed

[2019-05-08 09:03] #1999 closed

[2019-05-08 09:04] Gregoor commented on #1998
Yeah let's keep it open for a bit, until we have an idea when it'll be fixed (or if sth can be done from our side). There's already plenty of discussion happening on that ticket, so I'm optimistic :)

[2019-05-08 16:53] Gregoor opened #2022 "hide partners section in new about page"

[2019-05-09 08:43] #2022 closed

[2019-05-09 12:35] LRSaunders4 opened #2025 "Datasets do not download in Chrome"
When trying to download the datasets, I cannot check the two check boxes required to enable the download button after I enter my email.

This only happens in Chrome, not in Firefox.

![dataset_bug_1](https://user-images.githubusercontent.com/48598353/57453810-f3726a00-722c-11e9-8245-55a41bf9bcff.png)

[2019-05-09 14:09] #2010 closed

[2019-05-09 14:18] munteanu210 commented on #2010
@viorelaioia @arnavvats I fixed this issue by allowing multiple FAQ questions to be opened at the same time on mobile. I tried a few other ways to fix this, but it was always causing additional problems. This fix works great.

[2019-05-09 17:34] JAGulin commented on #1925
There seems to be an agreement that this issue is based on a misunderstanding. Should it be closed @bayethiernodiop ?

Yet, it would reduce misunderstandings if instead of a white page there could be a lead text explaining the situation. E.g. "There is currently no available sentences for you in the selected language. Please come back later. " Saying sentences, work or contribution opportunity sho

[2019-05-09 17:47] JAGulin commented on #780
I expected the interface to be similar in verification as in recording, with ability to go back in the list on the right hand side (on the web). It should be fairly easy to reuse that UI design I think.

The added penalty in that flow is the need to "submit" when done with a batch. That would be needed to allow "undo" also on the last entry. Possibly the undo (or go back) could be accessible from

[2019-05-09 20:19] nukeador commented on #1936
We will open a conversation on discourse about this in the coming days with a proposal. Closing.

[2019-05-09 20:19] #1936 closed

[2019-05-09 20:20] #1761 closed

[2019-05-09 20:23] nukeador commented on #1200
We are going to open a conversation on discourse about accents in the coming days with a proposal.

Please, add your feedback there so we can have a unified approach for all languages

https://discourse.mozilla.org/c/voice

Thanks for your contributions!

[2019-05-09 20:23] #1200 closed

[2019-05-09 20:23] nukeador commented on #1647
We are going to open a conversation on discourse about accents in the coming days with a proposal.

Please, add your feedback there so we can have a unified approach for all languages

https://discourse.mozilla.org/c/voice

Thanks for your contributions!

[2019-05-09 20:23] #1647 closed

[2019-05-09 20:24] nukeador commented on #1000
We are going to open a conversation on discourse about accents in the coming days with a proposal.

Please, add your feedback there so we can have a unified approach for all languages

https://discourse.mozilla.org/c/voice

Thanks for your contributions!

[2019-05-09 20:24] #1000 closed

[2019-05-09 20:25] nukeador commented on #242
We are going to open a conversation on discourse about accents in the coming days with a proposal.

Please, add your feedback there so we can have a unified approach for all languages

https://discourse.mozilla.org/c/voice

Thanks for your contributions!

[2019-05-09 20:25] #242 closed

[2019-05-09 20:26] nukeador commented on #1589
We are going to open a conversation on discourse about accents in the coming days with a proposal.

Please, add your feedback there so we can have a unified approach for all languages

https://discourse.mozilla.org/c/voice

Thanks for your contributions!

[2019-05-09 20:26] #1589 closed

[2019-05-09 20:26] nukeador commented on #1197
We are going to open a conversation on discourse about accents in the coming days with a proposal.

Please, add your feedback there so we can have a unified approach for all languages

https://discourse.mozilla.org/c/voice

Thanks for your contributions!

[2019-05-09 20:26] #1197 closed

[2019-05-09 21:12] bayethiernodiop commented on #1925
yes @JAGulin this can be closed and yes your proposition of an error message would be more helpful than a blank page. what i end up doing is to change manually in the database the buckets associated to users.

[2019-05-10 07:16] JAGulin commented on #1767
It seems to work on https://voice.mozilla.org/it/listen
Maybe there is a problem with the available strings in Italian for the staging server.

[2019-05-10 12:09] #1025 closed

[2019-05-10 12:10] Gregoor commented on #1116
we have an about page now :)

https://voice.mozilla.org/about

[2019-05-10 12:10] #1116 closed

[2019-05-10 17:07] mbransn commented on #1116
Yes we do! Thanks for the patience as we got this up.

[2019-05-10 18:22] bayethiernodiop opened #2027 "change the bucket of a user"
Hello i have deployed the project locally but since i dont have many sentences, my users have blank pages when they record all the sentences in their allocated buckets (train/dev/test set) is there a way to change their bucket manually in the database. i tried to change the values in the table user_client_locale_buckets but no effect. Thanks in advance

[2019-05-11 13:52] Matthias84 commented on #1000
I continued this discussion  at discourse: https://discourse.mozilla.org/t/region-or-dialect/34632/3

[2019-05-11 17:03] f0cus10 commented on #2025
Can confirm this issue exists in `Chromium 74.0.3729.131` in **both** the staging and release server.

I could not reproduce the issue in `Firefox 68.0a1 Nightly`.

The attributes are being passed as `read-only` for the checkbox elements.

[2019-05-12 15:43] roshangm1 opened #2034 "Enable Nepali (ne-NP) locale in Common Voice for voice collection."
We have nearly 1000 approved sentences and want to start recording and validating voices for these sentences. Can you please enable Nepali locale in the common voice website?

[2019-05-12 15:43] roshangm1 commented on #2034
//cc @Gregoor @MichaelKohler

[2019-05-12 16:03] MichaelKohler commented on #2034
The sentences will be part of my next export (around mid next week I'd say)

[2019-05-12 17:52] f0cus10 commented on #1987
Is development even active on the iOS App? Last commits are from a year ago

[2019-05-12 18:09] f0cus10 commented on #2009
Checked Safari. Could not reproduce.

[2019-05-13 08:15] Gregoor commented on #2027
Heya, while the bucket tables are still there, we're not using them anymore on master (as they didn't have the intended effect).

[2019-05-13 08:18] Gregoor commented on #1987
Yes-ish, the iOS app is just a wrapper for the webview, which uses native APIs for recording (as Safari has not implemented them YET). So it gets "updated" anytime we update the site itself.

[2019-05-13 08:18] #2025 closed

[2019-05-13 08:48] rleitan opened #2035 "The clip can be validated without being played after the Skip button is clicked"
[STR]:
1.Open https://voice.allizom.org/en/listen
2.Click "Play" button
3.Click "Skip" button
4.Click Yes/No button

[Expected result]:
Yes/No button should not be clickable until playing the clip

[Actual result]:
The clip can be validated without being played after the "Skip" button is clicked

[2019-05-13 09:59] #1988 closed

[2019-05-13 10:41] bayethiernodiop commented on #2027
ok i see but the user is still affected to a bucket for recordings ? cause some of my recorder can't record anymore yet they didn't record all the sentences in all buckets

[2019-05-13 10:55] Gregoor commented on #2027
They should now be able to record every sentence available, as sentences aren't served by bucket anymore

[2019-05-13 10:57] bayethiernodiop commented on #2027
ah ok thx. is this change new because i think i have the version that was available since about 3 months.

[2019-05-13 10:59] #1925 closed

[2019-05-13 10:59] Gregoor commented on #2027
Yup! It's a bit of a recent change, since we weren't satisfied with the results of bucketing. If you update to the latest version of master, it should be gone

[2019-05-13 11:00] bayethiernodiop commented on #2027
ah perfect. thanks a lot

[2019-05-13 11:00] #2027 closed

[2019-05-13 15:12] Gregoor commented on #756
https://discourse.mozilla.org/t/readme-how-to-see-my-language-on-common-voice/31530

[2019-05-13 15:12] #756 closed

[2019-05-13 15:16] #1169 closed

[2019-05-13 15:20] Gregoor commented on #1220
#2015 should've fixed it. Anybody still experiencing this?

[2019-05-14 06:30] SahilMepani commented on #424
We can use mordernizr to check whether the device supports touchevents and no-touchevents and accordingly we can set hover and active styles.

[2019-05-14 07:59] iveskins commented on #1220
`for i in (seq 1 100); curl 'https://voice.mozilla.org/api/v1/en/sentences?count=10' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: en-US,en;q=0.9,ja;q=0.8' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.108 Safari/537.36' -H 'Content-Type: application/json; charset=utf-8' -H 'Accept: */*' -H 'Referer: https://v

[2019-05-14 08:03] iveskins commented on #1220
I just tried this
` for i in (seq 1 100); curl 'https://voice.mozilla.org/api/v1/en/sentences?count=10' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: en-US,en;q=0.9,ja;q=0.8' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.108 Safari/537.36' -H 'Content-Type: application/json; charset=utf-8' -H 'Accept: */*' -H

[2019-05-14 09:51] Gregoor commented on #1998
The issue on Bugzilla got tagged as resolved, so I guess this should now work correctly in Nightly :)

[2019-05-14 10:59] Gregoor commented on #1220
Yeah you'd get multiples if the request doesn't include a client_id and also if you don't record clips for the given sentences (put differently, you'll get the same sentence multiple times until you record sth for it).

[2019-05-14 12:21] rleitan commented on #1998
It's fixed in Nightly!

[2019-05-14 12:21] #1998 closed

[2019-05-14 17:36] munteanu210 commented on #1998
@Gregoor that's great! Thanks for letting us know.

[2019-05-14 20:24] nukeador commented on #1936
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:24] nukeador commented on #1761
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:24] nukeador commented on #1647
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:24] nukeador commented on #1589
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:25] nukeador commented on #1564
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:25] nukeador commented on #1327
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:25] nukeador commented on #1200
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:25] nukeador commented on #1000
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:25] nukeador commented on #662
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:25] nukeador commented on #443
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:26] nukeador commented on #404
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:26] nukeador commented on #395
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:26] nukeador commented on #391
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:26] nukeador commented on #368
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:26] nukeador commented on #334
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:26] nukeador commented on #296
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-14 20:26] nukeador commented on #242
Hello,

We have opened a call for feedback about Common Voice's languages and accents strategy. I would like to invite you all to the conversation and add your input before May 26th.

Thanks so much for your feedback!

https://discourse.mozilla.org/t/feedback-needed-languages-and-accents-strategy/40352

[2019-05-15 08:30] arnavvats opened #2036 "Error installing on windows"
I get the following error after running docker-compose up:
web_1      | error An unexpected error occurred: "EPROTO: protocol error, symlink '../common' -> '/code/node_modules/common'".
Please help.

[2019-05-15 11:02] #1459 closed

[2019-05-16 02:25] iveskins commented on #1220
Okay. did have a client ID in this test, i just deleted it in the comment. Obviously this doesn't test if the sentence repeats after submitting a recording. I wouldn't complain if this issue was closed.

[2019-05-16 09:21] Gregoor commented on #1220
Great, thanks for testing it :)

[2019-05-16 09:21] #1220 closed

[2019-05-17 09:19] rleitan opened #2038 ""Finish recording first" prompt should be automatically closed after TOS were agreed"
[STR]:
1.Open new/uncached session
2.Navigate to https://voice.allizom.org/en/speak (without being logged in)
3.Record a clip then click "back arrow button" located in the upper left corner
4.Click "Submit clips" from "Finish recording first" prompt
5.Click "I agree" button

[Expected result]:
The clip should be uploaded and the "Finish recording first" prompt should be automatically closed

[Actu

[2019-05-18 08:23] dabinat commented on #272
I feel like abuse is starting to become a problem now. A few weeks back I had to weed through 60 or so recordings of racial slurs. Today I’ve had loads of racial slurs again and also a woman who tells random stories about her life instead of reading the text.

Can the reporting function be bumped up the priority list? Then if a speaker gets x number of reports from a certain number of users in a c

[2019-05-19 21:33] pcgreat commented on #1111
@Gregoor Any updates on the release of partial data?

[2019-05-20 11:00] Gregoor commented on #1111
No updates yet, sorry. If you take this to our Slack or Discourse, people more qualified to answer that than me, might just respond :)

[2019-05-21 06:35] robertdudaa commented on #2038
I I'd like to take up this issue. My first contribution here. :-)

[2019-05-22 23:07] mozillakab opened #2042 "new sync needed from pontoon"
The kab about page is fully localized. Kab translation should be synched.

[2019-05-24 20:39] pmac opened #2048 "Common Voice posts to Basket missing email"
Hi @Gregoor. Starting again on May 13th I'm seeing a lot of messages from CV coming through without an email address. The data I see looks like this for example:

[code]

[2019-05-28 08:25] rleitan opened #2051 ""Read more on our About page" text is not visible when is selected using keyboard"
[Environment]:
Windows 10 - Firefox, Chrome

[STR]:
1.Open https://voice.allizom.org/en/landing/sodedif
2.Press Tab key to navigate through items displayed on the page

[Expected results]:
All buttons and links should be selected and highlighted

[Actual result]:
"Read more on our About page" text is not visible when is selected

![2019-05-28_11h20_07](https://user-images.githubusercontent.com/414

[2019-05-28 09:19] Gregoor commented on #2048
Huh, thanks for the report! Looking into it now.

[2019-05-28 10:04] #2051 closed

[2019-05-28 11:48] rleitan commented on #2051
Verified as fixed!

[2019-05-28 12:08] rleitan opened #2053 "[Partner landing page]: UI issues"
[Environment]:
iOS 12.3 -Firefox, Safari
Windows 10- Firefox, Chrome

[STR]:
1.Open https://voice.allizom.org/en/landing/sodedif

[Actual result]:
-Create a profile button instead of "Sign up to create a profile"

-Read more button should have an arrow icon

-A white horizontal line is displayed
![2019-05-28_15h10_58](https://user-images.githubusercontent.com/41474886/58476929-eaedbf00-815a-11e9-8

[2019-05-28 12:27] rleitan opened #2054 "Text is overlapped in the header when the page is loading"
[STR]:
1.Open https://voice.allizom.org/en/landing/sodedif
2.Reload the page

[Actul result]:
"Welcome Sodedif staff" text is displayed under Log in/Sign  when the page is loading
https://drive.google.com/file/d/1rrPD0YEPk2_2WyNqDPlIQmQ3lilZ69nV/view

[2019-05-28 14:19] rleitan opened #2055 "Read more button becomes white and unreadable when is clicked"
[STR]:
1.Open https://voice.allizom.org/en/landing/sodedif
2.Click the "Read more on our About Page" button using the mouse's middle click
3.Move the mouse away but keep the focus on the page

[Actual result]:
The button becomes white and the text is not visible until the click on something else in the page

https://drive.google.com/file/d/1ICAPHfM70pNW2PEJA74Ht5PSVrRO0Avg/view

[Note]:
Text is vi

[2019-05-28 14:26] Gregoor commented on #2053
The copy changed on some elements => https://docs.google.com/document/d/19CEPJY7DD5HrZURx2vJy2YS3SI0jpL4EiAele3O30WI/edit#

Added the arrow icon

Removed the white horizonal line

Mobile footer delimiter: Is that a regression or a new change?

Inlining the screenshots is not sth we currently do on the home page, so to keep the implementation simple, I'd rather not touch it. Is that alright @mbrans

[2019-05-28 15:23] #2054 closed

[2019-05-28 15:43] Gregoor commented on #2048
That's strange, I found a user (with an email) for that data and our logs also show that we've included that data in the sync.

@pmac do you have a date for me when that happened and/or how often it happened? I'm trying to find a pattern here

[2019-05-28 16:55] pmac commented on #2048
I have data from April 27 to now. From April 27 to May 12 there were no errors like this. Since May 13 there have been just over 4000 requests to the common voice endpoint with the proper api key but without email in the data. On May 24 there was a spike of 872. Most days were a lot lower than that, but there have been a decent number every day since the 13th.

[2019-05-28 20:52] mbransn commented on #2053
@Gregoor agreed that the mobile implementation of having slides inline is one that we don't need for this launch. That said, it would be great to capture as a backlog item for all instances of this shared component across the site (homepage and partner landing page). e.g. if you can't build it, log it so we can keep track. :)

[2019-05-28 21:19] georai opened #2056 "New UI Issue Partners page"
Mobile: please take a look: https://zpl.io/V1Ok7Mk

Desktop: zpl://screen?pid=5a9eec5c53a9a2685450d4be&sid=5cdf46f99544091df5826509

![Common Voice (1)](https://user-images.githubusercontent.com/9335801/58513100-b71b9500-816c-11e9-8210-a08628730aaa.png)
![Common Voice](https://user-images.githubusercontent.com/9335801/58513101-b71b9500-816c-11e9-8e19-e18e46995613.png)

[2019-05-29 12:13] Gregoor commented on #2056
I made some of those adjustments, the ones I didn't make:

Everything concerning the benefits section, I've left it as is from the home page for now.

Scroll bars are not shown on Apple operating systems. Nothing sane we can do here.

Some of the comments I couldn't quite parse like:
"Add a line", "Looks grey", "Zeplin changes", "Small changes on the waves"

I need something a little more explicit

[2019-05-29 23:55] mbransn commented on #272
Thanks @dabinat we hear you and acknowledge that this is an issue. We've struggled to find prioritization time for it based on our healthy backlog and need to press forward with project feature growth / dataset integrity. All of that said @LRSaunders4 @Gregoor and I have had discussions re: bringing this up in priority. Thanks for the patience, good news is we have UI for it! This is an implementa

[2019-05-30 12:19] rprys commented on #1566
An update on this issue. The new Microsoft Edge, based on Chromium now supports Common Voice. Initially it did not support recording, so I put in a request to address that issue.
I've tested recording and verifying today on Microsoft Edge Dev Build 76.0.167.1and it works.
The final release is not likely to be available before the end of 2019 and then will be vetted for suitability by corporate use

[2019-06-03 09:22] Gregoor commented on #1566
Awesome, very happy to hear that. Thanks for filing that issue!

[2019-06-03 12:58] pmac commented on #2048
I don't. I only have the data that was present when the error occurred. I have more examples though. It looks like it happens a lot, so I don't think it's an individual user with a data problem though. I could maybe get you access to Sentry for basket so you could poke around in the errors.

[2019-06-04 04:08] lipkij opened #2058 "Can't save Age field in profile"
Trying to set age in profile
https://voice.mozilla.org/ru/profile/info
Selected my value from d/d list and pressed Save. It shows what it was saved, but when I update page - there is no change of value (no value).

[2019-06-04 09:12] Gregoor commented on #2058
Thanks for report! Looks like we had an accidental space in there.

[2019-06-04 09:13] #2058 closed

[2019-06-05 20:27] pslawless commented on #1937
I also see the same issue (login screen that won't let me type an email address or click any button).

[2019-06-05 20:30] StregaNona commented on #1937
Unfortunately...the help form, while letting you fill in your info, won’t send either. :(

[2019-06-06 15:52] #2055 closed

[2019-06-06 15:52] Gregoor commented on #2042
Done 🚀

[2019-06-06 15:52] #2042 closed

[2019-06-06 15:59] #2035 closed

[2019-06-06 16:00] Gregoor commented on #2034
The requirement is atm 5k sentences, it will be semi-automatically enabled (aka ping me and I'll run the script) .

[2019-06-06 16:00] #2034 closed

[2019-06-07 15:15] davidak commented on #1909
option to remove custom goal
enable custom goal for all languages

[2019-06-08 10:55] davidak commented on #1927
So should users create thousands of recordings or just say 300 per language and focus on verification then?

If so, the leader board makes no sense since it encourages users to create more recordings.

Please communicate what helps most to reach our goal (get robust STT ASAP) on the website and build a workflow to encourage that.

[2019-06-08 11:13] SantosSi opened #2060 "about page: wrong text in translations of the "Common Voice Dataset" box"
The text from the "<_ 2 No votes" box appear in the "Common Voice Dataset" box, seen on the German and "Portuguese (Brazil)" translations. In English, the text is different between the two boxes and has the correct sense.

[2019-06-08 11:24] davidak commented on #1722
This is now shown on the dataset page:

![Screenshot from 2019-06-08 13-23-34](https://user-images.githubusercontent.com/91113/59146606-ac74c180-89f0-11e9-968a-38404d5cc567.png)

So this issue can get closed?

[2019-06-08 11:29] davidak commented on #1923
When i open https://voice.mozilla.org/de/stats directly in Chromium on Linux or Android, i see this:

![Screenshot from 2019-06-08 13-27-06](https://user-images.githubusercontent.com/91113/59146672-5b190200-89f1-11e9-958a-1e6af4a443c6.png)

I submitted the sentry report. I hope all needed details are included.

[2019-06-08 11:33] davidak commented on #1695
https://voice.mozilla.org/en/about#how-it-works says now that 2 yes or no votes are needed to accept or reject a clip. So 2x the recording goal is fine.

[2019-06-08 11:33] #1695 closed

[2019-06-08 11:57] davidak commented on #1406
I think in addition to the "No" button, we should have buttons for common problems like ending too early, too quiet or wrongly pronounced. Also a comment free text field with "reject" button.

[2019-06-08 12:04] davidak commented on #1381
Is this fixed now?

![Screenshot from 2019-06-08 14-03-45](https://user-images.githubusercontent.com/91113/59147029-412dee00-89f6-11e9-9af3-86aae1a87147.png)

[2019-06-08 12:15] davidak commented on #1804
Could we prioritize recordings of new users, so say their 10 first recordings get verified ASAP.

In combination with more detailed feedback (https://github.com/mozilla/voice-web/issues/1406), we can prevent many bad recordings (https://github.com/mozilla/voice-web/issues/1833)!

[2019-06-08 12:15] davidak commented on #1833
A user needs feedback to know how to improve. https://github.com/mozilla/voice-web/issues/1406

And one needs it ASAP, so not wasting time with many bad recordings.

Also users with 90% should still be encouraged to improve their recording quality.

[2019-06-08 12:25] davidak commented on #1887
@Gregoor can you prioritize this? Should not be too much work but would have a big impact.

[2019-06-08 12:27] davidak opened #2062 "I can record in a language that i don't have selected in my profile"
## Steps to reproduce

1. open https://voice.mozilla.org/en/
1. you can record english sentences, even tho you don't have english added to your profile (i had it added earlier, but removed it)

[2019-06-08 12:29] davidak opened #2063 "Stats broken after language is added to profile"
## Steps to reproduce

1. add a language to profile
1. open stats page

It looks like this for me after i added english (again):

![Screenshot from 2019-06-08 14-23-44](https://user-images.githubusercontent.com/91113/59147261-adf6b780-89f9-11e9-8291-5a9f4defaba0.png)

[2019-06-08 12:31] davidak opened #2064 "Page broken after language was added to profile"
## Steps to reproduce

1. add a language to profile
1. open homepage

It looks like this for me:

![Screenshot from 2019-06-08 14-26-22](https://user-images.githubusercontent.com/91113/59147292-ee563580-89f9-11e9-9c9c-c1f9a1db47c0.png)

related to https://github.com/mozilla/voice-web/issues/2063

## Workaround

reload page

[2019-06-08 12:37] davidak opened #2065 "Language not added to profile"
## Steps to reproduce

1. add language to profile
1. save settings
1. reload page

It looks like this now

![Screenshot from 2019-06-08 14-31-28](https://user-images.githubusercontent.com/91113/59147321-4bea8200-89fa-11e9-8451-6ce848512c0e.png)

All data is gone!

## Workaround

reload page and clear cache (Control+Shift+R)

## Related to

https://github.com/mozilla/voice-web/issues/2064
https://g

[2019-06-08 14:34] davidak commented on #1666
For reference: This isea was also posted on the forum.

[2019-06-09 05:56] lissyx commented on #1934
@hitgoeb Can you ensure this is running vanilla Firefox with WebRTC features enabled ? Usually that message means the microphone is not exposed.

[2019-06-09 06:00] lissyx opened #2066 "Make the "ready to do more" button more accessible"
Feedback from field usage on an event, people who have limited visibility issues find it very hard to view the "ready to do more" button, because it is small, at the bottom of the page (may not be in the viewport), and without background, especially smaller than the "Login / Signup" button.

[2019-06-09 09:07] hitgoeb commented on #1934
I don't know about WebRTC, but everything is working as expected (including sound recording).

[2019-06-10 00:09] iveskins opened #2067 "/en/stats gives error when not logged in."
What happens:
I tried to follow a link to "https://voice.mozilla.org/en/stats" when I was not logged in.
I saw
[code]
and in the console.
[code]
I tried in both chrome and Firefox. this is probably easy to replicate.
What i would expect:
To be redirected to a page with a login prompt.

[2019-06-10 11:10] sambuccid commented on #1406
Yes the buttons for the common mistakes would be good, the only problem with the feedback is that can be discouraging for who receives the feedback, so the feedback should be constructive and not just a critique, so maybe could be good also add some tips and "guidelines" to who write the feedback

[2019-06-11 07:47] Gregoor commented on #1722
True, thanks!

[2019-06-11 07:47] #1722 closed

[2019-06-11 07:49] Gregoor commented on #1381
Cool, yup! Thanks for going through these!

[2019-06-11 07:49] #1381 closed

[2019-06-11 07:50] Gregoor commented on #2062
That's by design, setting up languages is only about specifiying accents.

[2019-06-11 07:55] Gregoor commented on #2064
Couldn't reproduce. Maybe a temp outtime. Does it still happen?

[2019-06-11 07:57] Gregoor commented on #2065
I'm having trouble reproducing this, are there any other steps that reproduce it? Does it also happen with new profiles?

[2019-06-11 08:28] davidak commented on #2062
OK, thanks.

[2019-06-11 08:28] #2062 closed

[2019-06-11 08:39] davidak commented on #2065
I'm able to reproduce it even on another computer.

Also with a new account adding the first language.

[2019-06-11 09:03] davidak commented on #2064
I'm also not able to reproduce this again.

[2019-06-11 09:03] #2064 closed

[2019-06-11 09:05] davidak commented on #2063
Like the other linked issue, i'm not able to reproduce this again.

[2019-06-11 09:05] #2063 closed

[2019-06-11 17:16] Gregoor commented on #2065
Weird, can't reproduce even on Chrome. Maybe some addon? Does it happen in private mode as well?

[2019-06-11 21:16] davidak commented on #2065
yes

[2019-06-12 12:11] rleitan opened #2068 "No error message displayed for invalid email"
[STR]:
1.Open https://voice.allizom.org/en/datasets
2.Click Enter email to download
3. Enter an invalid email (e.g test )
4.Check the 2 checkboxes

[Expected result]:
Email field should be highlighted with red colour and a descriptive message should be displayed on hover

[Actual result]:
The download button is not clickable and no error message is displayed

[Note]:
The issue is reproducible on p

[2019-06-12 12:24] rleitan opened #2069 "[Enhancement]: Enable email autofill on datasets page for logged in accounts"
[STR]:
1.Log in https://voice.allizom.org
2.Go to datasets

[Expected result]:
The email used for login should be automatically filled in the email field
The email should be editable

[Actual result]:
The email field is empty

@mbransn

[2019-06-12 14:14] Tretboot commented on #2065
I can reproduce it too. Just reload the profile and its empty, Control+Shift+R and its back.

Tested on Google Chrome 74.0.3729.169 on Windows 10 Pro 1809

[2019-06-13 11:52] Gregoor commented on #2065
Can someone create a screen recording for me? I unfortunately can't seem to reproduce it with any of my profiles.

[2019-06-13 12:38] davidak commented on #2065
@Gregoor sure

[simplescreenrecorder-2019-06-13_14.35.14.webm.zip](https://github.com/mozilla/voice-web/files/3286023/simplescreenrecorder-2019-06-13_14.35.14.webm.zip)

[2019-06-13 12:48] Gregoor commented on #2065
Awesome, thankslots David! Unfortunately I'm still not able to reproduce this.

@rleitan if you have time, can you help me reproduce this?

[2019-06-13 13:02] RuABraun commented on #751
I'm very late to the party, but I cannot help but point out that this is a completely false statement, and your "head of machine learning" clearly has no experience with audio.

[2019-06-13 13:19] nukeador opened #2070 "List locales with localized discourse and change links on the site"
We should have a list with all the locales currently with a localized discouse subcategory and make sure we change any discourse link on the site to include that.

Current locales with discourse

de,
fr,
it,
es,
zh-TW

We can dynamically change urls just adding the locale code, example

https://discourse.mozilla.org/c/voice/fr

[2019-06-13 13:23] Gregoor commented on #751
That tone is not appreciated, let's keep it civil please.

Would you mind elaborating and supplying some sources on the limitations of MP3s?

[2019-06-13 13:23] davidak commented on #2065
@Gregoor what's your setup?

When i reload and clear the cache (Control+Shift+R), i also not get the data every time, like you see at the end of the video.

[2019-06-13 13:36] Gregoor commented on #2065
I've tried both FF 68 and Chrome 75. Actually was able to reproduce it once on Chrome, but so far only once, which makes it hard to debug what's going on.

[2019-06-13 15:46] #2065 closed

[2019-06-13 15:48] Gregoor commented on #2065
Thanks everyone for the help, I think I found the timing issue and took this as an opportunity to refactor the whole component. It will be on staging (https://voice.allizom.org) in less than an hour.

Happy to get reports if anything on staging still feels broken!

[2019-06-13 16:48] davidak commented on #2065
I can not reproduce it on staging. Good job! :tada:

[2019-06-13 21:49] nukeador commented on #2070
@Gregoor Is it OK if I create a PR with discourse.json with the list of locales and then we'll figure out the implementation on the site?

Asking because Activate site wants to consume this list of locales for the same purpose, and makes more sense to be maintained in the same place we list other characteristics of Common Voice locales.

[2019-06-13 21:51] nukeador commented on #2070
Clarification, I don't want to push to prioritize any changes on voice-web, just to have the list in the repo for now.

[2019-06-14 06:22] Gregoor commented on #2070
@nukeador sounds good, implementation should be fairly straightforward, so I can quickly do it once we have the list of locales.

[2019-06-14 06:32] Gregoor commented on #2065
Awesome, thanks again for the help and detailed reports!

[2019-06-14 11:44] nukeador commented on #2070
https://github.com/mozilla/voice-web/pull/2072

[2019-06-14 12:15] #2070 closed

[2019-06-14 13:37] nukeador opened #2073 "Ensure locale metadata is passed to newsletter/email subscriptions"
We need to make sure when a user subscribes to the newsletter/email from a localized version, we capture the locale variable and pass that to Salesforce, so we can have that metadata for localized comms.

[2019-06-15 09:05] mozillakab opened #2074 "Need sync from sentence collector"
It has been a while that we didn't get a new sych from SC. I'm seeing some hard corpora added.
We gave up with Sentence Collector?
We have more that 10 000 vanlidated sentences for kab waiting for sync.

[2019-06-15 10:40] MichaelKohler commented on #2074
https://github.com/mozilla/voice-web/pull/2071/files#diff-f32e35d65911c87beedd37ad900aa81c has the latest export. This here can be closed.

[2019-06-15 10:41] mozillakab commented on #2074
Thanks @MichaelKohler I did'nt see.

[2019-06-15 10:41] #2074 closed

[2019-06-16 18:42] akhilvasvani opened #2075 "Bug with en_1085h_2019-06-12" release of Common Voice"
I am trying to convert the .mp3 and .tsv files in common voice 2 to .csv files using the 'import_cv2.py' file for DeepSpeech.

I used the command (alphabet textfile, the mp3 files, and tsv files are all in the clips folder (as per the instructions on the main page):
[code]
and got back
[code]

I have already posted on the DeepSpeech issue page, but after further discussion with the team there we d

[2019-06-18 07:49] gion-andri opened #2076 "Enable "rm-sursilv" on staging"
Romansh Sursilvan "rm-sursilv" is completely translated on Pontoon (https://pontoon.mozilla.org/rm-sursilv/common-voice/). It would be nice, if we could have a look at it on staging to check if everything looks good and is translated in the proper context.
Thanks!

[2019-06-19 15:24] Gregoor commented on #2075
Thanks for the report, I'll look into this soon!

[2019-06-20 19:34] ftyers opened #2080 "Way to download more than one dataset without having to fill out email N times"
I want to download all the datasets apart from English, French, German and Chinese. There should be a way to do this without having to fill out the email address N times.

I am logged in as my Common Voice user, so perhaps the email thing could just be disabled for those people who are logged in and they could just get a download icon next to the dataset ideally one that was in the HTML and could

[2019-06-21 06:15] dabinat opened #2081 "Change font to differentiate between I and l"
I’ve run into several situations in the past few days during validation where the pronunciation of a sentence was ambiguous because it was unclear whether it contained a capital I or a lowercase L, which look identical under the current font.

It therefore would be helpful to change to a font that clearly differentiates between these characters.

[2019-06-24 21:11] Gregoor commented on #2080
I've pushed a commit that logs every download link to the console, once you've triggered the first download (so that the legal flow is still in-place).

[2019-06-24 21:11] #2080 closed

[2019-06-26 01:37] iveskins commented on #2067
Looks like there is a redirect to the auth page now.

[2019-06-26 01:37] #2067 closed

[2019-06-26 09:22] rleitan opened #2082 "Blue dividers are displayed in language drop-down"
[Environment]:
Mac OS 10.14 - Firefox Release

[STR]:
1.Open https://voice.allizom.org/en/datasets
2.Minimize the window size( mobile size)
3.Click the language drop-down menu
4.Hover the listed languages from the bottom-up

[Actual result]:
The languages are divided by blue lines

https://drive.google.com/file/d/1yX6vGBBEb9p-eEhZFOI_DYOGeAtr2gKa/view?usp=sharing

[Note]:
The issue is intermittent

[2019-06-26 19:27] lissyx opened #2084 "English sentences made it in French dataset during Wikipedia import"
At least one occurrence:
 - `server/data/fr/wiki-2.fr.txt`:Served with it, a vegetable and potatoes in one of a dozen tempting styles.

cc @Gregoor

[2019-06-26 19:28] lissyx commented on #2084
From `server/data/fr/wiki-2.fr.txt`:
 - What's it going to do, vanish?
 - Is it not going to be there when I get back?

[2019-06-26 19:37] lissyx commented on #2084
Maybe we could leverage something like https://github.com/kent37/guess-language

[2019-06-26 19:40] lissyx commented on #2084
https://pypi.org/project/guess_language-spirit/

@Gregoor If you don't have time I'll try and use that tomorrow to do some cleanup. In the mean time, there may be some PRs in flight to fix some of those sentences identified by contributors

[2019-06-26 19:44] nukeador commented on #2084
Thanks @lissyx if you can do PR with removals that would be. We need to also understand how many are there and guess why they got into the French wikipedia extraction.

[2019-06-26 19:46] lissyx commented on #2084
Someone else is going to send some PRs, I'll tackle the rest tomorrow.

[2019-06-26 21:29] Gregoor commented on #2082
Looks like a Fx rendering bug, couldn't reproduce it. Let's keep an eye on it

[2019-06-27 06:42] lissyx commented on #2084
ok, I'm having troubles getting something really usable out of this tool: lots of false positives and false negatives ...

[2019-06-27 09:25] lissyx commented on #2084
[code]

And running:
`$ python3 check_lang.py --lang fr --hints fr --file server/data/fr/wiki-2.fr.txt > server/data/fr/wiki-2.fr.txt.rej `

[2019-06-27 11:49] lissyx commented on #2084
So, it looks like, we have roughly:
 - 2400 invalid sentences in `server/data/fr/wiki-1.fr.txt` over 1000000
 - 3114 invalid sentences in `server/data/fr/wiki-2.fr.txt` over 1094942

[2019-06-27 12:34] lissyx commented on #2084
@nukeador Do you think there is value in merging the little python tool ?

[2019-06-27 13:11] nukeador commented on #2084
We would have to integrate it on the wiki extractor I guess. @Gregoor ?

[2019-06-27 13:12] lissyx commented on #2084
That might be a good thing, but I might not have time to do that. it could also be of value for filtering other datasets (I plan on having a look at that later as well).

[2019-06-27 14:06] lissyx commented on #2084
Running a bit differently to catch more (the example from the first post was not caught at first):
[code]

And the result is:
[code]

[2019-06-27 15:00] #2084 closed

[2019-06-27 16:16] Gregoor commented on #2084
Awesome, thanks Alexandre. Yeah let's add it to the list of things, we should add. I'll create a tag for it.

[2019-06-27 20:13] peiying2 commented on #2076
@Gregoor please help investigate this. If it is fluent issue, @stasm will be able to answer.

[2019-06-28 07:31] stasm commented on #2076
This might be a bug in `fluent-langneg`, sorry about it. I'll investigate.

[2019-06-28 10:04] rprys commented on #1645
Any update on this issue? :-)

[2019-06-29 15:42] Parikshit-Hooda commented on #1848
What we can do is reroute them to a third party website where they can properly setup their microphone. How does this sound? I would be happy to raise a PR if people agree on this.

[2019-06-29 17:19] dabinat commented on #1848
There could be site-specific browser settings or plugins that are preventing Common Voice from accessing the mic, so being able to record on another site wouldn't necessarily mean that everything would work properly on Common Voice.

[2019-07-01 18:18] stasm commented on #2076
I've just published `fluent-langneg` 0.2.0 with a fix contributed by @gion-andri :) Thank you!

[2019-07-03 17:44] gion-andri commented on #2076
@Gregoor How are you handling dependency updates in this project? Do you bump them on a regular basis? Do you have a process there in place that has to be followed? Or shall I open a PR to update `fluent-langneg` to v0.2.0?

[2019-07-05 07:36] mozillakab opened #2093 "Stats/Dashboard"
A user within the kab team says that his name doesn't appear on the dashboard. His profile on CV is complete.
We intend to give a prize the the first volunteers and when I gave the names, he said that he recorded and validated thousands of sentences.
Here is a shot he sent me - his user name is:  samir_t
![65873850_339582413654516_5269378943193972736_n](https://user-images.githubusercontent.com/70

[2019-07-06 14:14] mozillakab commented on #2093
seems to be ok now. Thanks. I close.

[2019-07-06 14:14] #2093 closed

[2019-07-08 07:07] Gregoor commented on #2076
No process really, I just sporadically update all the deps. Which is what I'll do now. Thanks for the fix!

[2019-07-08 13:33] gion-andri commented on #2076
@Gregoor Thanks a lot for the update! It seems to work now all fine 👍

[2019-07-08 13:33] #2076 closed

[2019-07-09 12:01] rleitan opened #2096 "The checked state of the checkboxes is not visible enough"
[STR]:
1.Go to Report for Speak or Listen
2.Check one or multiple checkboxes

[Expected result]:
The checked state of the checkboxes should be visible
e.g. https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5d1242d1354da55a06590f28

[Actual result]:
The checked state of the checkboxes is not visible enough

![2019-07-09_14h58_32](https://user-images.githubusercontent.com/41474886/608863

[2019-07-09 12:15] rleitan opened #2097 "Selected state of Report button is not displayed correctly"
[STR]:
1.Go to Report for Speak or Listen

[Expected result]:
Report button should be highlighted with red colour
https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5d1242ce89704a716c8ed800

[Actual result]:
No highlight after Report button was clicked
The Report button has a red shadow on mouse hover

[2019-07-09 12:20] rleitan opened #2098 "Not able to send a report for Other"
[STR]:
1.Open https://voice.allizom.org
2.Go to Contribute (Listen or Speak)
3.Click Report button
4.Select Other checkbox and add something in Comments text box

[Expected result]:
Report button should be clickable

[Actual result]:
Report button is still grey and not clickable

[2019-07-09 12:27] #2098 closed

[2019-07-09 12:59] #2096 closed

[2019-07-09 13:42] rleitan opened #2099 "The focus ring is not correctly displayed on the Report button"
[Environment]:
Mac 10.14 - Safari

[STR]:
1.Open https://voice.allizom.org
2.Go to Contribute (Listen or Speak)
3.Press Tab key to navigate through buttons

[Expected result]:
The focus ring should be correctly displayed on Report button
e.g.
<img width="203" alt="Screenshot 2019-07-09 at 16 29 29" src="https://user-images.githubusercontent.com/41474886/60892882-8dc04f80-a268-11e9-94b9-343a44b00d5

[2019-07-10 11:41] rleitan commented on #2098
Verified as fixed!

[2019-07-10 11:46] rleitan commented on #2096
Verified as fixed!

[2019-07-10 12:13] LRSaunders4 opened #2101 "Awards are not working for Personal Goals"
I am not receiving any awards for first contribution or when I am hitting my goals.

[2019-07-11 14:04] pmac commented on #2048
I think I've finally figured this out. It was my fault :( These tasks that were being called without emails were due to how the task was written in basket. The tasks would fail due to an error in SFDC, but the task had already modified the data passed to it by removing the email address and doing other things with it. But then when the error happened the task was retried by our queue, but the data

[2019-07-12 12:11] johnycage commented on #2081
You can change this at your local/browser level to disable styling (no style). & Keep serif style fonts differentiates such difference sans-serif doesn't.

[2019-07-12 23:35] dabinat commented on #2081
Sure, but my own style is irrelevant to this issue as I’m just a validator. The issue is with other people’s styles that cause them to make mistakes while speaking. So changing my own style would do nothing to solve the problem.

Also, I generally consider the purpose of browser styles to be to customize a site to a user’s preference, not as a solution to bugs or design flaws.

[2019-07-13 15:34] Fabiensk opened #2104 "Firefox mobile: cannot press Yes after listening"
After having listened to a sample, the "Yes" (or « Oui » in French) button cannot be pressed. Only the "No" and "Skip" button can be pressed. The playback button itself stays on "press to stop" state for a long time after the playback is finished, and even if I press it the button "Yes" is not available.

Environment:
* Firefox Mobile 68 and Firefox Preview, French
* Android 8.0.0
* Galaxy A5 (201

[2019-07-13 15:37] Fabiensk commented on #1946
Same problem on Firefox Mobile 68 for Android

[2019-07-13 18:08] 12people opened #2105 "Add Cancel button when recording"
When recording, it'd be nice to have a cancel button for cases when I mess up (say the wrong words or stutter).

Right now, I have to finish recording, then click back to the step, wait for the step to load (it's not immediate), and then re-record. I'd really like a "Cancel" button to avoid having to go back a step.

[2019-07-13 18:15] 12people commented on #890
It would also be good to be able to have a choice for WHY a sentence is inappropriate, to further clarify which reasons are valid to report. Off the top of my head:

1. typo
2. grammar (e.g. #769)
3. unclear pronunciation (there are a lot of foreign proper nouns with unclear pronunciations in sentences now, and I think they just muddle up the recordings)

[2019-07-13 18:51] MichaelNMaggs commented on #890
@12people  That's on the list, and has I believe been agreed. Not entirely sure exactly when it will appear, though.

[2019-07-14 15:28] Adrijaned opened #2107 ""About" page - sentence makes no sense"
Page "About", first sentence of second paragraph under "Why Common Voice?" makes no sense, at least to me. The sentence, for reference, is "Both of these projects are part of our efforts to bridge the digital speech divide." - seems like there might be a few words missing? Could someone explain me the intended meaning, or fix the sentence if it is indeed incorrect?

[2019-07-15 05:52] Gregoor commented on #2107
Both is referencing Common Voice and Deep Speech, which are named in the first paragraph.

[2019-07-15 08:31] Gregoor commented on #2048
Great, happy we now know what caused the problem! :)

[2019-07-15 10:48] IPbianco commented on #993
This worked for me too, however it was just enough to remove bcrypt dependency from package.json, run ```npm install``` and then ```npm i bcrypt``` without using the audit fix command

[2019-07-15 14:47] Gregoor commented on #890
Today is when it'll appear! Reporting is live now. Please let us know if it works as expected.

[2019-07-15 14:47] #890 closed

[2019-07-15 14:47] Gregoor commented on #272
Reporting is now live!

[2019-07-15 14:47] #272 closed

[2019-07-15 14:49] Gregoor commented on #1577
Dropbox link is dead and even for me it's hard to understand this issue now. let's open up a new one with a clearer description if there's still sth to do here.

[2019-07-15 14:49] #1577 closed

[2019-07-15 15:27] Adrijaned commented on #2107
I'm talking now specifically about the second part of the sentence, "bridge
the digital speech divide". Bridge the _gap_ digital speech divide_s_? What
gap, then? Or is there something else missing? Or, equally probable option,
am I just missing something? Or overthinking it in some way?

On Mon, Jul 15, 2019, 7:52 AM Gregor <notifications@github.com> wrote:

[2019-07-15 15:35] Gregoor commented on #2107
Oh, thanks for the elaboration. I misunderstood the first comment then. The grammar looks correct to my english-as-a-2nd-language-eyes. I also don't quite understand where "gap" comes from in your comment. One can bridge a divide, but also a gap. Or is it confusion about "divide" being a noun in this context?

[2019-07-15 15:55] Adrijaned commented on #2107
Wait, divide is also applicable as noun? That might explain a lot. So from
a context and some handy examples sentences it could be understood as "to
bridge the difference between digital data and natural speech" (kinda
weirdly expressed, but captures my intention well)? Correct me if I'm
wrong. I daresay I understand English fairly well, but this sentence caught
me off guard. Also, even Cambridge

[2019-07-15 16:39] 12people commented on #890
Awesome, it works! :)

[2019-07-16 07:20] reinhart1010 opened #2108 "Duplicated text on Privacy Policy"
![Screenshot_20190716-141833_Firefox](https://user-images.githubusercontent.com/17312341/61273907-d16d0900-a7d4-11e9-9568-7fc79ac97d29.jpg)

[2019-07-16 08:57] Gregoor commented on #2107
Yes, that's what that sentence is conveying! And neat, didn't know Cambridge did language levels.

We could aim for more accessible english, I'm not sure how to strike the best balance here though. I like how our copywriter makes those sentences punchy.

[2019-07-16 10:14] Adrijaned commented on #2107
I mean, I would not consider rewriting it to be the highest priority, especially if it would not read as nice afterwards. You can still kinda guess what the poet tries to say, and I would not have even noticed this were I not trying to translate it on the Pontoon. So unless you have any more comments on this, I'd consider this issue resolved, feel free to close whenever you see fit.

[2019-07-16 10:21] Gregoor commented on #2107
Cool, agreed! Thanks for reaching out.

[2019-07-16 10:21] #2107 closed

[2019-07-16 12:15] jwatt opened #2110 "Can't change email address"
I created an account with my @mozilla.com email address, and now seem unable to change it. When I click on the Edit button on https://voice.mozilla.org/en/profile/settings it redirects me to log in with SSO every time, repeatedly.

[2019-07-16 12:46] Gregoor commented on #2110
Heya, so just to clarify: The edit button is supposed to take you to SSO where you enter a NEW email address, after which you're supposed to be redirected back to the settings page and your new email should be shown there. This might not be the best UX, but unfortunately we can't control what SSO displays.

[2019-07-16 13:24] jwatt commented on #2110
Oh! Yeah, that wasn't what I expected given the UI. I think because the place where your current email address is displayed to the left of the Edit button looks quite like a form field. I expected the Edit button to make that contenteditable, or something, so when it required me to log in "again" I just thought that was a security measure.

Maybe the UI could be made less confusing by making the c

[2019-07-16 14:14] Gregoor commented on #2110
Good point, I can see how that form field can be misleading. Thanks for raising this!

[2019-07-17 06:38] dabinat opened #2111 "Reporting a clip should act as a No vote"
It appears that when you report a clip during validation, it behaves as a skip. This means that a reported clip can keep appearing again and again and it took me a few tries of reporting the same clip over and over to realize this behavior.

As it stands right now, I need to report a clip, then wait for it to appear again in order to reject it (and of course manage to remember that I’ve heard it b

[2019-07-17 09:17] Gregoor commented on #2111
Good point, I'll ask the rest of the team for comments.

[2019-07-17 09:58] kdavis-mozilla commented on #2111
Subtle points might occur with "Grammatical / spelling error" and "Other".

For example, an American English speaker might mark the word "summarise" as a spelling error while a British English speaker might mark "summarize" as a spelling error. Same language two different spellings for the same word.

[2019-07-17 16:32] dabinat commented on #2111
@kdavis-mozilla Right, but this would just be for that particular user. It wouldn't prevent anyone else from seeing the clip. It would be the equivalent of the user pressing the No button.

[2019-07-17 16:59] kdavis-mozilla commented on #2111
@dabinat But then all it takes is 2 American English speakers or 2 UK English speakers to remove a clip which is actually valid.

[2019-07-17 17:08] dabinat commented on #2111
@kdavis-mozilla Sure, but that could happen regardless of whether or not they report the clips. They could each manually vote no. So this doesn't really change that.

My point is that I can't see a situation where you would report a clip and then vote yes for it, so this saves the reporting user from having to manually reject the clip the next time it comes up.

[2019-07-17 18:50] kdavis-mozilla commented on #2111
@dabinat My point is that one language may have two or more definitions of "Grammatical/spelling error", say through different accents; so having a "Grammatical/spelling error" count as a "manually vote no" in this case will remove such examples from the data set thus devaluing the use of the data set for accent fine tuning.

In particular it would be exactly these type of examples you would want

[2019-07-17 19:23] dabinat commented on #2111
@kdavis-mozilla I understand what you're saying, but that circumstance can still occur regardless of the reporting feature, and is probably something that has been occurring since day one of Common Voice. The crowd-sourcing model will always have some degree of error - some bad clips will make it through, some good clips won't, but ideally those are small margins that balance each other out and th

[2019-07-18 04:32] EuphoriaCelestial opened #2113 "Callback URL mismatch"
My docker-build instance of CV is having problem with login function. After click Login, it show a Auth0 page, says:
      "The provided redirect_uri is not in the list of allowed callback URLs."
It doesnt show the correct URL to add to Auth0 setting page as usual, I dont know how to solve this
It happen after I try to remove port number from my website's URL (from abcxyz.com:9000 to abcxyz.com).

[2019-07-18 04:48] EuphoriaCelestial commented on #2113
#Update: after I added another callback URL in Auth0 setting page ("localhost:9000"), finally it can go to the login page, but after click Login, it say "unable to connect to localhost:9000
![Screenshot from 2019-07-18 11-46-39](https://user-images.githubusercontent.com/43977734/61429818-f2a73400-a951-11e9-9a84-e466c3fea312.png)
"

[2019-07-18 05:20] kdavis-mozilla commented on #2111
@dabinat This...

is false. Per accent validation would fix this.

Also on this...

Thee point is not about a single person. The point is about the utility of the entire data set. This will decrease that utility. This much is obvious.

The question is: Can we sharpen "Grammatical/spelling error" to avoid this problem.

[2019-07-18 11:52] kdavis-mozilla commented on #2111
@dabinat I don't think we should close it. I think we just need to figure out how to sharpen "Grammatical/spelling error" to avoid the problem I was talking about.

[2019-07-18 12:04] nukeador commented on #1962
Based on the conversations we had about language strategy, let's move ahead to avoid blocking Portuguese anymore.

@Gregoor can we mirror for now "pt-BR" into "pt" and enable the site just in "pt"?

[2019-07-18 13:19] Gregoor commented on #1962
@nukeador we can, haven't renamed a locale before, wanna make sure I get the process right. Let's put it onto the todos for next week! (Don't think it'll take long, it's just a first)

[2019-07-18 14:40] peiying2 commented on #1962
I am working on something similar for other projects: consolidating two bn-* locales to bn. This is what we are doing so we don't lose the data in Pontoon:

Gregor:
- create a pt repo
- move pt-BR repo to pt
- remove pt-BR repo (let us know when this is done)

Pontoon:
- disable pt-BR (to stop contributing to the locale)
- migrate pt-BR data to pt (including contributor's history)
- L10n PM confir

[2019-07-19 12:06] viorelaioia opened #2114 "[iOS] Login / Sign up button from modal is unreachable"
**Env:**
iPhone 7, iOS 12.3, Safari, Chrome

**STR:**
1. Go to https://voice.allizom.org/en while logged out
2. Navigate to Listen page
3. Validate 5 sentences

**Expected:**
Profile creation prompt is returned, user can tap Log In/Sign Up button in order to login

**Actual:**
Profile creation prompt is returned, Log In/Sign Up button is not displayed and cannot be scrolled into view.

**Note:**
O

[2019-07-19 20:17] traverseda opened #2116 "A way to download your own voice data?"
Is there any way to download just your own voice data?

[2019-07-21 09:14] #2114 closed

[2019-07-22 08:33] Gregoor commented on #2116
Not yet, we have designs for it, but didn't get around to implementing it yet. If anyone's interested in creating a PR for it, I'll throw the designs in the "original" issue: #1210

[2019-07-22 08:33] #2116 closed

[2019-07-22 08:34] Gregoor commented on #1210
![Settings Build Profile_06 1](https://user-images.githubusercontent.com/4051932/61617979-2b098380-ac6c-11e9-9020-6b0d37dbf4b3.png)

We have designs for it, but so far haven't found time to look at implementation. Happy to review PRs for it!

[2019-07-22 08:37] Gregoor commented on #2108
That indeed looks off, thanks for the report! Our legal docs live over here: https://github.com/mozilla/legal-docs/blob/master/Common_Voice_Privacy_Notice/en.md

@peiying2 should I take a stab at fixing that sentence?

[2019-07-22 18:13] traverseda commented on #2116
Awesome, that didn't show up in the search for me.

[2019-07-24 13:59] rleitan opened #2118 "The goal is not updated"
[Precondition]:
Have a goal set and achieved (e.g. daily goal- 15 clips for listen)

[STR]:
1.Go to https://voice.allizom.org/en/goals and click the Edit goal button
2.Click "Yes" on "do you want to continue" dialog prompt
3.Set a new goal (e.g daily goal-  30 clips for both) and confirm it
4.Click "x" on sharing goal screen

[Expected result]:
The Custom goal section should be updated with the ne

[2019-07-24 14:24] contactobscurantist opened #2119 "Loss of statistics on email change"
Hello!
I've been contributing to common voice using "_Log in with Firefox_" feature and was very pleased by it - until i've changed Firefox account e-mail and logged in as i used to just to see "Create your profile page" and all contributed stats zero'ed. That was a little shock!

Later I've logged in with email i've used before - and found profile just as it was, everything intact.

I think it wo

[2019-07-24 15:59] rleitan opened #2120 "'All languages' goals awards are displayed in stats when selecting a language"
[Precondition]:
Have a  CV profile with multiple language added
Have award for a language (e.g. English)

[STR]:
1.Set a goal for other language and achieve it (e.g. daily goal for listen - German language)
2.Go to https://voice.allizom.org/en/stats page and select German from Your Languages section
3.Click Awards button

[Expected results]:
Only awards for selected language should be displayed

[

[2019-07-25 10:05] rleitan opened #2122 ""x% toward next goal" link redirects you to goals page for all languages"
[Preconditions]:
Add multiple languages to your account
Set a goal for at least one language

[STR]:
1.Go to https://voice.allizom.org/en/stats page and select the language for which you have a goal set
2.Click the "x% toward next goal"

[Expected result]:
The goals page for the language selected in step 1 should be displayed

<img width="1117" alt="Screenshot 2019-07-25 at 12 00 03" src="https://

[2019-07-25 12:39] rleitan opened #2123 "TypeError: this.scroller is null when clicking Listen button from goals page"
[Precondition]:
Have Chuvash language added to your profile
Add a listen goal for Chuvash language

[STR]:
1.Go to https://voice.allizom.org/en/goals page
2.Select Chuvash language
3.Press Listen button from Custom goals section

[Expected result]:
The page should be properly redirected to https://voice.allizom.org/cv/listen

[Actual result]:
Browser console error: TypeError: this.scroller is null

[2019-07-25 12:54] rleitan opened #2124 "404 Error when opening manage subscriptions link"
[Precondition]:
Have a goal set

[STR]:
1.Go to edit your goal
2.On the 4th step, click the Manage Subscriptions link

[Actual result]:
The link redirects the page to https://www.mozilla.org/en-US/cv/newsletter/existing/e609957b-9d37-462d-9432-3375287c48f2 and 404 Error is displayed

[Actual result]:
<img width="1173" alt="Screenshot 2019-07-25 at 14 41 36" src="https://user-images.githubuserconte

[2019-07-25 14:46] rleitan opened #2125 "The updates from subscriptions page are not updated on goals edit"
[Precondition]:
Sign up for Common Voice newsletters, goal reminders and progress updates
Create a goal
[STR]:
1.Click to edit your goal ( voice.mozilla.org)
2.On 4th step of goal edit, click the Manage subscription link
3.Click " Remove me from all the subscriptions on this page" button, then save the preferences
4.Go to Goal edit and reload the page

[Expected result]:
The subscription checkbox

[2019-07-26 14:20] EuphoriaCelestial opened #2127 "MySQL error when running docker build"
Hi, am trying to run docker build of Common Voice in my own server, after successfull config of S3, Auth0, HTTPS, it shows up this error:

![image](https://user-images.githubusercontent.com/43977734/61958117-f2aad200-afea-11e9-885c-449cc44382a7.png)

I did not change anything about database or MySQL script in source code

[2019-07-29 12:48] nukeador commented on #1962
@peiying2 can you clarify what do you mean by "repo" here?

My understanding is that we should move/rename folders.

Thanks!

[2019-07-29 14:49] Gregoor commented on #2124
Unfortunately there's no management interface for the email backend we use on staging (which I assume is where this was encountered?)

[2019-07-29 16:12] #2118 closed

[2019-07-30 00:51] mbransn commented on #2120
This is a good question @rleitan -- @Gregoor currently is someone able to duplicate awards? meaning achieve all of the same awards across all of the languages? My expectation would be yes, but I realize that we may not have implemented this way. e.g. If I contribute in English for the first time and get the 1st contribution award; then I contribute for the 1st time in German I should also get the

[2019-07-30 06:14] dabinat opened #2128 "Sentence Collector sentences are being repeated"
For the past few weeks I have noticed a rise in repetitions when validating in English.

These repetitions are always Sentence Collector sentences; I have never seen any wiki sentences repeated.

I didn’t report it before because it seemed to be periodic (and I wasn’t sure if the system was just serving up really old recordings) but over the weekend it was pretty bad. In some cases I was getting 1

[2019-07-30 14:00] rleitan opened #2130 "Shouldn't be possible to set goals for non contributable languages"
[Precondition]:
Add Danish language to your profile

[STR]:
1.Go to https://voice.allizom.org/en/goals
2.Select Danish from Your languages section
3.Create a Custom goal for Danish
4.Select Speak/Listen from Custom goal section

[Expected result]:
The page should be redirected to contribution page for Speak/Listen in Danish

[Actual result]:
The page is redirected to https://voice.allizom.org/da

[2019-07-30 14:15] #2124 closed

[2019-07-30 14:42] Gregoor commented on #2120
Yup, all the awards are for across languages. Didn't start tackling the missing custom goals features (https://github.com/mozilla/voice-web/issues/1909), let's continue that tracking over there (and maybe prioritze to tackle it now.

[2019-07-30 14:42] #2122 closed

[2019-07-30 14:42] #2120 closed

[2019-07-30 14:53] #2130 closed

[2019-07-30 15:34] Gregoor commented on #2123
I can't seem to reproduce it, is it still occuring?

[2019-07-30 15:36] Gregoor commented on #2125
I guess we need to change copy here, to not say that "one is subscribed" @mbransn

[2019-07-30 15:57] Gregoor commented on #2128
Hm, that sounds strange, though it might be what we'd expect. Here's how it works:
You get served the sentences with the fewest clips (preferably 0 ofc) which you haven't recorded yet. So yes, if one records a lot, they'd eventually start seeing sentences which were already recorded.

[2019-07-30 16:20] mbransn commented on #1909
Bringing this over from #2120:

@Gregoor do I understand then that you'd like to add the award language subcategory task to this issue's list and prioritize it? cc @rleitan

[2019-07-30 17:02] dabinat commented on #2128
But English has over a million sentences in the wiki dump alone - those can’t have all been recorded yet. So why is it prioritizing the Sentence Collector clips with multiple recordings instead?

Are users still organized into train/test groups? I know that was going to be removed but wasn’t sure if that had happened yet. If it’s still there it could be that the test group is too small.

[2019-07-30 17:21] mbransn commented on #2125
@Gregoor @rleitan I actually believe the expected result should be that both checkboxes are available on page reload after unsubscribe. The Privacy checkbox is tied to the email sign up, not the goal itself, and the screenshot Roxana shared actually shouldn't exist or even be possible. If one unsubscribes both checkboxes should be present, unchecked, on reload.

[2019-07-30 21:39] nukeador commented on #1962
@Gregoor please review all proposed changes

https://github.com/mozilla/voice-web/pull/2132

[2019-07-30 21:43] peiying2 commented on #1962
While you are at it, pls remove bn-BD locale too, since you already have `bn` there.

[2019-07-31 09:53] Gregoor commented on #2128
That's a good point and yup the grouping has been removed.

You are our strongest validator, so it might also be the case that you've already worked your way through the new clips. Though I'm not sure if that's realistic, given our rate of recording. I'd like to see some reports of other people, to get a better sense of what's happening here as well.

[2019-07-31 09:55] Gregoor commented on #1909
@mbransn I will start working through this list this week (didn't find the time to ask for it in the sprint planning, but I do have some extra time this week). Happy to up the priority of award subcategories to make sure I get to it first.

[2019-07-31 10:34] Gregoor commented on #2125
@mbransn As subscriptions are still managed through the mozilla.org email settings page, we couldn't really show the subscription step again here. So imo this view should link there, but with copy indicating whether one is subscribed or not.

[2019-07-31 10:49] rleitan commented on #2118
Verified as fixed!

[2019-07-31 10:49] rleitan commented on #2122
Verified as fixed!

[2019-07-31 11:03] Gregoor opened #2133 "Voice Avatar Setup polish"
- [x] missing buttons after recording (https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5d12406cd17e52705b13c595)
- [x] missing icons on the buttons: mic icon for "create voicewave", stop icon for "recording"
- [x] counter style not like in the designs (https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5d12406ad17e52705b13c452)
- [x] missing screen for when user already ha

[2019-07-31 13:40] amansulaiman opened #2134 "Deploying on cloud vm [Can't record a voice]"
Hello Pals,

I am trying to setup voice-web inside a GCP vm to try collecting voice from and see how s3 works but, everything is working fine locally but in cloud it can't record a voice. It seems ffmpeg depends on host machine microphone to process audio or what is the issue?

[2019-07-31 14:12] viorelaioia opened #2135 "When navigating from Awards to Goals page, the localized language is set in the url"
**STR:**

1. Login to CV staging
2. Add at least 2 languages to your profile, like Espanol and Francais
3. Set the site language to Espanol
4. Navigate to Dashboard => Awards page
5. Set the language to "Francais"
6. Click "Get started with goals" button

**Expected:**
User is navigated to goals page, "Francais" language is selected by default. Page has the url https://voice.allizom.org/es/dashboa

[2019-07-31 14:57] rleitan opened #2136 ""could not fetch sentences" error when clicking "Record your voice" button from Listen"
[Precondition]:
Add to your profile a language that doesn't have clips in Listen section (e.g. dutch)

[STR]:
1.Go to dashboard and select dutch language from Your languages section
2.Set a Listen goal for dutch
3.Go to Dashboard - Goals and click Listen button from Custom Goals section -> he page is redirected to voice.allizom.org/nl/listen
4.Click the red button ("register your voice")

[Expecte

[2019-07-31 14:58] dabinat commented on #2128
Any thoughts on this, @MichaelNMaggs ?

[2019-07-31 16:34] mbransn commented on #2125
Ah I see now, so once you sign up for a Common Voice email you will always have to manage your subscription at mozilla.org, whether currently subscribed or not. I guess then that yes, we'll want to update copy above manage subscriptions button as you mentioned @Gregoor.

[2019-08-01 08:05] jmontane commented on #1872
Adding a help button pointing to recording and reviewing guidelines would be a good feature

[2019-08-01 09:29] Gregoor commented on #2134
Hey there 👋

can you give more detalis on what kind of error you're seeing exactly?

[2019-08-01 09:37] #2135 closed

[2019-08-01 09:56] amansulaiman commented on #2134
As per my investigation, the below piece of code in voice-web\web\src\components\pages\contribution\speak\speak.tsx
  `if (
      !this.audio.isMicrophoneSupported() ||
      !this.audio.isAudioRecordingSupported() ||
      isFirefoxFocus()
    ) {
      this.isUnsupportedPlatform = true;
    }`
is working perfectly in local computer with audio hardware enable, but on GCP VM it always return false

[2019-08-01 10:00] Gregoor commented on #2134
Is it maybe running on HTTP (without TLS)? Afaik some browsers don't allow recording for that.

[2019-08-01 10:13] amansulaiman commented on #2134
Thank you for your suggestion, I will configure the ssl and get back to you

[2019-08-01 11:41] amansulaiman commented on #2134
IT is now working! @Gregoor Thanks

[2019-08-01 11:41] #2134 closed

[2019-08-01 18:38] mozillakab opened #2141 "Translation issue: kab locale"
Translation on Pontoon:

When trying to translate this string into Kabyle (please see above), I'm getting and this error: The following checks have failed -   Expected a character from range: "a-zA-Z"

String to translate:

This setting controls your leaderboard visibility. When hidden, your progress will be private. This means your image, user name and progress will not appear on the leaderboard.

[2019-08-02 06:25] Gregoor commented on #2141
It looks like there's a space between $ and minutes. Can you try again
without that?

On Thu, 1 Aug 2019, 20:38 MozillaKab, <notifications@github.com> wrote:

[2019-08-02 07:16] Gregoor commented on #2136
Can't reproduce atm

[2019-08-02 11:33] TheoChevalier opened #2142 "String ID bump needed for add-avatar-clip"
It looks like #2121 introduced a meaningful copy change to `add-avatar-clip` without updating the string ID in https://github.com/mozilla/voice-web/pull/2121/files#diff-cb71dbbabc5ffbd76eba82a3b068fa6cR326 .

This change won’t be picked up by l10n teams unless the ID got changed. If that’s expected, feel free to close this issue.

[2019-08-02 12:30] #1591 closed

[2019-08-02 12:45] Gregoor commented on #2133
@mritunjayz

- [ ] counter style doesn't match Zeplin yet
- [ ] microphone request should come before countdown starts counting
- [ ] no play button after recording voice wave
- [ ] icon colors are off

[2019-08-02 12:47] davidak opened #2143 "Voice Wave Avatar improvements"
I see the Voice Wave Avatar feature was added. https://github.com/mozilla/voice-web/issues/1591

I wanted to test it, but didn't know first what to say.

To guide the user better, show some sentences a user might want to say.

Finnaly, after just reading text from the page, i said:

"Hello, i'm David and this is my voice."

---

Also the voice wave looks very thin after reloading the page:

![Scre

[2019-08-02 12:50] Gregoor commented on #2143
Woops, thanks for catching this. It wasn't meant to be on prod. @mritunjayz did our production flag disappear?

[2019-08-02 13:40] nukeador commented on #1962
@peiying2 pt-BT → pt folder change has been committed to master

[2019-08-02 15:31] dabinat commented on #2128
Other people have seen this too:
https://discourse.mozilla.org/t/duplicate-sentences-during-validation/43286/3

It must be possible to do a query on the DB for, say, which sentences were recorded over the past week and count which sentences appear more than once?

[2019-08-03 11:12] mozillakab commented on #2141
I copied the same string as the source. Thanks it worked

[2019-08-03 11:12] #2141 closed

[2019-08-04 12:29] geeksesi opened #2146 "picture change ui problem on persian"
see this screenshot

![image](https://user-images.githubusercontent.com/28778964/62423693-fddfbb00-b6d8-11e9-9bc0-4e70b71a92f6.png)

also please change persian font ( open source [Vazir font](https://github.com/rastikerdar/vazir-font) is good )

[2019-08-05 10:36] nukeador commented on #1962
Changes are now on production

https://voice.mozilla.org/pt

@Gregoor We might want to redirect the old /pt-BR/ url to the new /pt/ one

[2019-08-05 17:12] ibuioli opened #2147 "Stats Dashboard fail on Load [500 (Internal Server Error)]"
This is happing one week ago. The dashboard of stats ([https://voice.mozilla.org/es/dashboard/stats](https://voice.mozilla.org/dashboard/stats)) fail to load data in every language, and with every browser (Firefox, Chrome, Vivaldi, Android, etc). Maybe you are working at this, but I can't find an issue reported.

Screeshot:
![stats](https://user-images.githubusercontent.com/7343538/62482028-689cff

[2019-08-06 10:19] Gregoor commented on #2142
Thanks for reaching out! I guess we'd indeed wanna change the string ID here.

cc @mritunjayz

[2019-08-06 10:24] Gregoor commented on #2128
Thanks for reaching out to other people! For that particular sentence (the one with the mouse) the explanation is that all those clips were recorded in march of this year, when we didn't have the wikipedia sentences yet. We might want to order the clips to be validated by how many clips their respective sentences already have.

[2019-08-06 11:11] Gregoor commented on #1962
Oh yeah, good idea! Will do

[2019-08-06 11:17] #1962 closed

[2019-08-06 11:18] Gregoor commented on #2147
Thanks for reporting this, it wasn't on my radar yet! Will post here when I know more.

[2019-08-06 15:13] MoHD20 commented on #2147
I'm having this exact problem too. Here's what appears on the console now
![image](https://user-images.githubusercontent.com/12420351/62552017-3fa16a80-b86d-11e9-9a95-73fedbaebf61.png)

Here's my username: "None"
I used GitHub to login if that makes any difference

[2019-08-06 16:09] Gregoor commented on #2147
Thanks! Might've found the (one?) problem, can any of you check if the issue persists?

[2019-08-06 16:59] MoHD20 commented on #2147
Works like a charm Now! Thanks.

[2019-08-06 17:14] Gregoor commented on #2147
Awesome, thanks for testing! I'm gonna leave this open until @ibuioli verifies that it works for him too :)

[2019-08-06 21:53] ibuioli commented on #2147
Yes! Its work fine now. Thanks!

[2019-08-06 23:58] davehill734455 opened #2152 "Won't select microphone"
I have a USB microphone (Plantronics CS-50 USB) and an on-board sound card. I only use the USB device. When I click record, I get a pop-up asking for permission with a drop-down list of the available mics. No matter which one I select, the page listens to the on-board port.

The USB mic did work for one session earlier today, but has not since. I've tried disabling/enabling on the page Permissions

[2019-08-07 08:53] #2147 closed

[2019-08-07 13:57] ViktorSveins opened #2153 "Unable to record and no error msg when opened in (FB) Messengers in-app browser"
## Steps to reproduce
Get sent or send link to https://voice.mozilla.org/en on android (fb) Messenger app.
With Messenger settings set so that links opened in Messenger are opened in the default in-app browser.
Open the aforementioned link in Messenger.
Donate voice -> press microphone.

### Expected behavior
Everything works as normal or Something does not work and an error message is shown.

###

[2019-08-07 16:35] #2143 closed

[2019-08-08 02:41] dabinat commented on #2128
I’ve been building up a list of repeated sentences I’ve encountered. It’s really long so here are just a few of them:

Are they not already ordered by how many clips there are? Are they just random right now? Seems like ordering by fewest clips would be the best approach.

[2019-08-08 02:45] dabinat commented on #2128
But if it is random, that still doesn’t explain why the same sentence will keep popping up again and again. With over a million sentences, the chance of the same sentence being recorded again within the space of a few days is minuscule, unless the validation page is mixing old and new recordings.

[2019-08-08 07:06] yamamashakaa opened #2156 "Suggestion : Addining review to the sentences we verified"
I was verifying arabic voices in commonVoice and while listening to some sentences I clicked yes by mistake to a recorded voice while it is definitely no but I had no option to change my choice .I think adding review to the sentences we verified  or allow us to edit our choice is a good idea specially that sometimes you click unconsciously the exact button of the previous sentence

[2019-08-08 21:48] davehill734455 commented on #2152
Closing - I checked another site that collects audio - same problem, so probably a Firefox issue, not a Common Voice one.

[2019-08-08 21:48] #2152 closed

[2019-08-09 02:40] dabinat commented on #2128
@gregoor Just had a thought - could this be some kind of race condition caused by people recording at exactly the same time? Are all 5 sentences chosen in advance?

Maybe it should not show a sentence to someone if it was shown to someone else within the previous x seconds/minutes, to give them time to record it.

[2019-08-09 10:57] Gregoor commented on #2128
@dabinat not super likely, but possible. When fetching sentences for a user we're always picking 10 randomly from a pool of 500 (ordered by having fewest clips). I guess something that'd make overlap more likely here is the fact that we're fetching these sentences directly when you visit any part of the app. So maybe we should experiment with fetching them just in time.

Thanks for collecting thos

[2019-08-09 22:53] dabinat commented on #2128
I tried validating as a guest to see if it was specific to my account and I actually heard my own recordings. I haven’t recorded anything for nearly a year, so it’s serving up really old clips. Maybe the problem isn’t at the recording end but the validation end?

[2019-08-10 12:26] piotrdrag opened #2159 "Untranslatable plural strings"
Strings like `activity-needed-calculation`, `help-reach-hours`, `n-clips`, and `visibility-explainer` can’t be properly translated to many languages, because they lack plural handling.

CC @peiying2

[2019-08-11 05:29] limapedro opened #2160 "Flag inapropriate sentences in the Portuguese sentences"
Hi, I'd like to point out that some sentences in the Portuguese repo are not apropriate I assume that some troll got to upvote them, I hope that we can start collectiong for Portuguese soon, meanwhile I'd like to know how to remove these sentences, I've issued this on the Common Voice discourse, here you can the sentences that should be removed by line number: https://discourse.mozilla.org/t/add-p

[2019-08-11 17:57] peiying2 commented on #2159
Thanks @piotrdrag for raising the issue.

[2019-08-12 09:25] #1850 closed

[2019-08-12 10:24] Gregoor commented on #2128
I think it's an unfortunate language-specific problem, i.e. the recording rate is greater than the validation rate for english (not so for german). We might want to vary between serving old and new clips more, but in terms of fairness I think first-come-first-serve is preferable (after all we have a leaderboard).

[2019-08-12 12:48] LRSaunders4 commented on #2160
Hello,

Thank you  for reaching out and letting us know. Are you speaking
about the sentences
collector <https://common-voice.github.io/sentence-collector/#/> tool that
is not currently on the CV site?  Or the GitHub?

My best,
Lindsay

On Sun, Aug 11, 2019 at 12:29 AM limapedro <notifications@github.com> wrote:

--
Lindsay Saunders
Program Manager - Open Innovation Team
lsaunders@mozilla.com

[2019-08-12 13:09] Gregoor commented on #2159
Oh, dang. thanks for raising it. Do I need to create new strings or can I just add pluralization to the english string?

[2019-08-13 14:24] limapedro commented on #2160
@LRSaunders4 The sentences that I'm talking about are on the Github repo, They're on this file: https://github.com/mozilla/voice-web/blob/master/server/data/pt/sentence-collector.txt
As far as I can tell theren't that many sentences that should be removed, but still they should.

[2019-08-14 09:59] willdurand opened #2163 "Globlal stats"
## STRs:

1. Contribute to a language other than `en-US` (I suppose)
2. Navigate to the "all" stats page: https://voice.mozilla.org/en/dashboard/stats

## What happened?

The progress goals are not correct for "all" stats:

<img width="1277" alt="Screen Shot 2019-08-14 at 11 52 59" src="https://user-images.githubusercontent.com/217628/63012311-4ee67080-be8a-11e9-8d3d-f3d23728c14a.png">

## Expecte

[2019-08-14 10:37] #2125 closed

[2019-08-14 14:25] Gregoor commented on #2075
did the new release fix it for you?

[2019-08-14 14:27] #2048 closed

[2019-08-14 15:48] #1905 closed

[2019-08-14 15:49] Gregoor commented on #1905
forgot to close this one, it's been implemented

[2019-08-14 15:49] #1901 closed

[2019-08-14 15:55] Gregoor commented on #1775
Oh we actually fixed that one :)

[2019-08-14 15:55] #1775 closed

[2019-08-14 15:57] Gregoor commented on #1688
Oh we do have that implemented now :)

[2019-08-14 15:57] #1688 closed

[2019-08-14 15:58] #1684 closed

[2019-08-14 17:52] MichaelKohler commented on #2160
I will take care of this, thanks for the report!

[2019-08-14 19:11] MichaelKohler commented on #2160
Will be fixed with https://github.com/mozilla/voice-web/pull/2165

[2019-08-14 23:39] eduaddad opened #2166 "Error setting for Portuguese language"
the accent (linguistic variation) of the Portuguese language is not set and

the language name is PT but should not be Português in the language bar

language variations : [https://en.wikipedia.org/wiki/Portuguese_dialects](url)

[2019-08-15 14:14] Gregoor commented on #2166
I've updated the string manually, but ultimately that data comes from Pontoon where the translation hasn't been approved yet:
https://pontoon.mozilla.org/pt/common-voice/web/locales/en/messages.ftl/?string=201209

So if it's not approved on the next import, the name will reset.

Wrt accents: @nukeador knows more about that, he'll be back in less than 2 weeks.

[2019-08-15 16:47] eduaddad commented on #2166
Language variations not available

It is not possible to set up an accent in Brazilian Portuguese) in the profile.

[2019-08-17 06:28] leela52452 opened #2170 "option to login with existing firefox account"
can you please provide option to use firefox account.
having multiple profiles or accounts is difficult.

[2019-08-18 04:08] leela52452 commented on #2170
i haven't visited login page @ [login](https://auth.mozilla.auth0.com/login?state=g6Fo2SBmZlJMV0d5TzRyTlBldFY4TUlZU3ZtOThfYWJXUk1WRqN0aWTZIER4eU45X0xHdjNja1l6UDJRZG5hQ1RXZnNfWUV3eFp2o2NpZNkgWXdMNmJKOG1YRmlDcGxXYk1MYVgyZnF1NzE1cktQOHU&client=YwL6bJ8mXFiCplWbMLaX2fqu715rKP8u&protocol=oauth2&account_verification=true&response_type=code&redirect_uri=https%3A%2F%2Fvoice.mozilla.org%2Fcallback&scope=ope

[2019-08-18 04:08] #2170 closed

[2019-08-18 16:50] limapedro commented on #2160
@MichaelKohler When will the pull be applied?
Thanks.

[2019-08-20 17:58] Pike commented on #2159
We're using Fluent, so you can pluralize the strings for Polish. You need to go through the source editor to do so, that's https://bugzilla.mozilla.org/show_bug.cgi?id=1394110.

This should be OK to close.

[2019-08-20 18:17] Pike opened #2172 "Remove duplicate strings in messages.ftl"
I just ran some local tests, and the following strings exist multiple times in the `messages.ftl` file:

[code]

That's the output of `moz-l10n-lint l10n.toml`, which comes with compare-locales.

CC @peiying2

[2019-08-20 18:18] Pike opened #2173 "Run moz-l10n-lint in automation"
To prevent issues like #2172, it'd be good to run `moz-l10n-lint l10n.toml` in automation.

That command comes with [compare-locales](https://pypi.org/project/compare-locales/).

[2019-08-21 12:54] Gregoor opened #2174 "renaming/deleting a migration ts file causes the js file to still be there"
This bug can be extremely confusing. Solution might be to clear all migration-js files after every change in the migration-ts dir?

[2019-08-21 13:57] Gregoor commented on #2172
thanks!

[2019-08-22 08:12] rleitan opened #2175 "The voice wave is not played after navigating through profile options"
[Environment]:
Windows 10 - Chrome, Firefox

[Precondition]:
Upload a voice wave

[STR]:
1.Login in https://voice.allizom.org/
2.Go to https://voice.allizom.org/en/profile/avatar
3.Play the voice wave
4.Go to https://voice.allizom.org/en/profile/info
5.Go back to Avatar and play the voice wave

[Expected result]:
The voice wave should play

[Actual result]:
The voice wave is not played
Console err

[2019-08-22 08:15] Gregoor commented on #2175
cc @mritunjayz

[2019-08-22 08:57] rleitan opened #2176 "[Enhancement]: Should have delete option for the uploaded picture/voice wave"
[STR]:
1.Upload an image as avatar to your profile
2.Record and upload a voice wave

[Expected result]:
Should have delete option for the uploaded picture/voice wave

@mbransn what do you think?

[2019-08-22 11:12] rleitan opened #2177 "Cancel button is not clickable when recording a voicewave for the first time"
[Environment]:
Windows 10, Mac 10.14 - Firefox

[STR]:
1.Login in https://voice.allizom.org/
2.Go to https://voice.allizom.org/en/profile/avatar
3.Click "Create Voicewave" button and record your voice
4.Click "stop recording" button
5.Click "Cancel" button

[Expected result]:
Retry button should be displayed instead of Cancel button - see [designs](https://app.zeplin.io/project/5a9eec5c53a9a268545

[2019-08-22 12:12] viorelaioia opened #2178 "Voice avatar recording should not be available on mobile"
**Env:**
iOS 12.4, Firefox an Safari

**STR:**

1. Login to CV staging
2. Navigate to Settings - Avatar

**Expected:**
Voice avatar recording should not be available, as recording is not working on mobile

**Actual:**
"Recreate Voicewave" button is available, even though recording is not working.

[2019-08-22 14:24] Gregoor opened #2179 "Ditch consul in favor of redis"
To make the migration to k8s easier, we should only depend on Redis. Atm we're using consul for leader-election, which we should be able to do through redlock as well

[2019-08-22 14:47] Gregoor opened #2180 "Data to be exposed in Kibana"
[code]

A bit of pseudo-MySQL up there, I suppose that's not quite how hashing will work. Are we gonna use the [jdbc plugin](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-jdbc.html) to get the data into Kibana?
If so, from reading [this blog post](https://medium.com/@erangadulshan.14/pushing-relational-data-to-elasticsearch-using-logstash-jdbc-input-plugin-48af81ed1000) it sounds

[2019-08-22 15:06] #2160 closed

[2019-08-22 15:10] Gregoor commented on #2178
cc @mritunjayz

[2019-08-22 15:48] Gregoor commented on #2133
- [ ] missing separator between voice avatar recording and avatar image (https://app.zeplin.io/project/5a9eec5c53a9a2685450d4be/screen/5d1240645259df7049af5d71)
- [ ] preload voice wave when visiting the avatar page, so that content doesn't jump later

[2019-08-22 17:29] mritunjayz commented on #2174
Yeah, alway the JS build migration directory runs not the TS one.

[2019-08-22 17:43] mritunjayz commented on #2178
Yeah, I see. Thanks @viorelaioia

[2019-08-22 19:39] mritunjayz commented on #2177
I missed the case for the first time recording. Thanks @rleitan

[2019-08-22 21:18] mritunjayz commented on #2175
In quick, I tried it on Linux but it was working fine! I will try to reproduce it on Window 10 tomorrow.

[2019-08-23 12:48] #2177 closed

[2019-08-23 13:39] rleitan commented on #2177
Verified as fixed!

[2019-08-23 13:45] rleitan opened #2183 "The uploaded voicewave is not played"
[Environment]:
Windows 10- Firefox

[STR]:
1.Login in https://voice.allizom.org/
2.Go to https://voice.allizom.org/en/profile/avatar
3.Create and upload a Voicewave
4.Click "Play" button after the voicewave is uploaded

[Expected result]:
The voicewave should play

[Actual result]:
The "Stop" button is displayed for ~1 second, then the Play button is displayed
Console error: NotSupportedError: The

[2019-08-23 14:17] mritunjayz commented on #2178
@Gregoor @dabinat @viorelaioia voice avatar should not be available on mobile which does not support recording? And what should be the screen then without recording?

[2019-08-23 14:40] mritunjayz commented on #2178
Actually, I am asking what should be the title then. Should it be same  "Add an avatar to your profile and say “hello!” " ?

[2019-08-23 14:47] rleitan commented on #2178
@mbransn

[2019-08-23 18:11] mbransn commented on #2178
@mritunjayz @Gregoor first -- which mobile browsers aren't supporting recording?

[2019-08-23 18:43] mbransn commented on #2176
@rleitan yes, agreed 100% -- I've noted this on zeplin screens where they should be and cc'd you + @viorelaioia and @Gregoor

[2019-08-23 21:14] mritunjayz commented on #2178
I only know about Firefox but I think these are all iOS 12.4, Firefox and Safari as mentioned by @viorelaioia

[2019-08-23 21:22] mbransn commented on #2178
Got it, forgot that it's not Sept. yet and Apple hasn't released the new update to hopefully rectify this. So it'd be best to just hide the voice avatar divs until they are functional on iOS. Once they're functional we'll reveal them. @Gregoor thoughts?

[2019-08-23 21:52] mritunjayz commented on #2175
hey @Gregoor I am experiencing one more problem to aws url for the clip. If you click header avatar to play clip first then it will work fine but after this the url will not work in setup page (vice-versa) it will throw error in console- ```Cross-Origin Read Blocking (CORB) blocked cross-origin response https://voice-stage-clips-934a7753ac94c18242c82ed71d5088b24b02bdd6.s3.dualstack.us-east-F201908

[2019-08-23 21:54] mritunjayz commented on #2183
#2175 it also related to this !

[2019-08-25 10:21] jaumeortola opened #2184 "New Catalan wiki sentences don't appear anywhere"
The Catalan sentences extracted from Wikipedia and added 10 days ago (#2164) never appear, either in recording or in validation. Could you check it and see what's happening, @Gregoor?

Is this related to #2128?

[2019-08-26 09:56] Gregoor commented on #2178
All iOS browsers, Safari and Edge don't support recording yet. And both Edge & Safari beta do, so salvation is imminent :)
Agree with megan wrt hiding them.

[2019-08-26 09:58] Gregoor commented on #2178
fixed in #2182

[2019-08-26 09:58] #2178 closed

[2019-08-26 10:03] Gregoor commented on #2184
Oh it looks like we didn't have a deploy to production last week. Will do that this week (probably tomorrow). Thanks for the notice!

[2019-08-26 10:22] #2172 closed

[2019-08-26 10:22] #2179 closed

[2019-08-26 12:39] maureendss opened #2185 "Extract data based on votes from the SQL database"
Is there an available open-source script to extract the collected data and turn them into the same structure as the final datasets in eg https://voice.mozilla.org/en/datasets, taking into account the votes (filtering out those with downvotes), and creating the related tsv files from there?
Thanks

[2019-08-26 13:16] nukeador commented on #2128
Is there a proposal here we want to discuss? If this is not really and issue but a change on how we do things we might want to open a topic over discourse, get ideas, agreement and take a decision. Who wants to own this?

[2019-08-26 13:24] nukeador commented on #2166
We are currently working on a better way to handle accents, and that's why we haven't added any new ones to languages.

The good thing is that once we implement the new strategy, people will be asked to set their accent and that info will be added to previously recorded clips, so we won't lose any data for not having it now.

[2019-08-26 15:17] Gregoor commented on #2185
The code that does the collecting and bundling is indeed available:
https://github.com/Common-Voice/common-voice-bundler
https://github.com/mozilla/CorporaCreator

Unfortunately we currently don't (and can't) offer direct access to the database and S3 as they contain privacy sensitive data. So any filtering you want to do, you'd need to do based on the released datasets.
On the upside, each langua

[2019-08-26 18:11] mbransn opened #2186 "Voicewave visualization spacing"
The waves a taking too much space. Will be perfect to not have them in a clear space like in the examples attached. Same in the dashboard we need simple way to show the waves.

cc @mritunjayz @rleitan

<img width="347" alt="Screenshot 2019-08-23 01 01 52" src="https://user-images.githubusercontent.com/18686986/63712266-39f6cf00-c7f2-11e9-8a80-6e4428198c04.png">
<img width="477" alt="Screenshot 201

[2019-08-26 18:14] mbransn opened #2187 "Hover action on voice avatar"
When the voice wave is created in the menu and dashboard, all the voice waves needs to start on the hover (rather than click).

cc @mritunjayz @rleitan

[2019-08-26 18:18] mbransn opened #2188 "Menu UI (desktop)"
Let's implement the menu UI as designed on desktop. Not sure about the development effort.

1.     we have the Kebab menu used in design where we have the language option.
2.     we don't need the dropdown icon
3.     The font can be bigger. 2px more

<img width="622" alt="Screenshot 2019-08-23 00 43 45" src="https://user-images.githubusercontent.com/18686986/63712683-0a949200-c7f3-11e9-91e0-5bd02

[2019-08-26 18:23] mbransn opened #2189 "After recorded clip Profile/Avatar"
1. The title needs to be 16 px
2. Space between buttons and waves 100px

<img width="601" alt="Screenshot 2019-08-23 00 40 09" src="https://user-images.githubusercontent.com/18686986/63712897-770f9100-c7f3-11e9-8cb3-8d0ba32d2718.png">

@mritunjayz please also make sure the copy is updated with the [current design](https://zpl.io/a8GBd64)

cc @rleitan

[2019-08-26 18:25] mbransn opened #2190 "Add an avatar section profile/avatar"
1. Please remove the title
2. Drag and drop here or ​select a file from your computer
3. Upload a JPG or PNG needs to be the title of the upload box.
4. The text style of Connect with Gravatar needs to be regular not bold. also, the style of the button to be in one line.
5. The agreement text needs to be changed to: "If you upload or connect an image it will only override your avatar visual; an up

[2019-08-26 18:27] mbransn opened #2191 "Record voicewave section Profile/Avatar"
1. Please change the record text to RECORD VOICEWAVE
2. Give more space between the title and wave and wave to button.
3. Change the copy below of the button to "Create a voice clip as part of  your profile avatar. Others will be able to hover and listen to your clip."

<img width="543" alt="Screenshot 2019-08-23 00 23 32 2" src="https://user-images.githubusercontent.com/18686986/63713368-64498c00

[2019-08-26 18:28] mbransn opened #2192 "Add line separator between the voice waves and right column Profile/Avatar"
<img width="543" alt="Screenshot 2019-08-23 00 23 32 3" src="https://user-images.githubusercontent.com/18686986/63713481-9955de80-c7f4-11e9-80a8-025167d8f28a.png">

cc @mritunjayz @rleitan

[2019-08-26 18:29] mbransn opened #2193 "Please change the main title Profile/Avatar"
Instead of "Add an avatar to your profile and say “hello!”  please change to "Give your avatar a voice"

@mritunjayz @rleitan

[2019-08-27 15:00] maureendss commented on #2185
That's great, I was looking for the common-voice-bundler one. Thanks!

[2019-08-27 15:00] #2185 closed

[2019-08-28 12:53] mritunjayz commented on #2193
I was little busy. Now , I will tackle these issues.

On Mon 26 Aug, 2019, 11:59 PM Megan Branson, <notifications@github.com>
wrote:

[2019-08-29 13:06] #2188 closed

[2019-08-29 16:44] Kiude commented on #2166
Hi ! Is there any scheduling of this settings update? Im pretty sure my European Portuguese records might get downmarked by the overwhelming Brazilian community if not labeled as different ^^

[2019-08-29 17:15] nukeador commented on #2166
@Gregoor Is there a quick way if we are seeing a significant increase of rejections for Portuguese?

Like in other languages, people shouldn't reject different accents. In Spanish I've been hearing more than 10 different accents and people are accepting all of them.

[2019-08-30 12:53] viorelaioia opened #2198 "Stop button continues to play my voice avatar"
**STR:**

1. Record a voice avatar
2. Play the voice avatar
3. While the avatar is playing, click the Stop button, in order to stop playing

**Expected:**
The voice avatar stops playing

**Actual:**
The voice avatar plays until the recording is over, clicking the Stop button has no effect.

[2019-08-30 17:42] #2191 closed

[2019-09-02 08:27] mritunjayz commented on #2187
I have added hover action instead of onclick but should it be in avatar setup page too ? @mbransn

[2019-09-02 12:23] Gregoor commented on #2166
We don't have easy plotting capabilities yet, once we have the dashboard, such a task should be simple enough

[2019-09-02 17:43] dabinat opened #2200 "Remove clips from validated dataset"
I've been using a script to identify "bad" clips in the validated dataset. The script looks for extreme differences in the expected length of a transcript versus its actual length. This can help identify cases where the user repeated the sentence twice or the recording is completely blank.

I've built up a list of candidates for removal from the validated set [here](https://github.com/dabinat/bad-

[2019-09-03 09:28] mritunjayz commented on #2198
close it !

[2019-09-03 09:28] mritunjayz commented on #2193
close it !

[2019-09-03 09:29] mritunjayz commented on #2192
close it !

[2019-09-03 09:30] mritunjayz commented on #2189
close it !

[2019-09-03 09:30] mritunjayz commented on #2187
should close it !

[2019-09-03 09:31] mritunjayz commented on #2183
should close it !

[2019-09-03 09:31] mritunjayz commented on #2175
should close it ?

[2019-09-03 10:45] #2198 closed

[2019-09-03 10:45] #2193 closed

[2019-09-03 10:45] #2192 closed

[2019-09-03 10:45] #2187 closed

[2019-09-03 10:45] #2183 closed

[2019-09-03 14:40] rleitan commented on #2175
This issue is still happening, I just reproduced it in Ubuntu 16.04, latest Firefox.

[2019-09-03 16:19] dabinat opened #2201 "List the number of unique hours in the dataset"
The Datasets page is confusing because it makes you think you're getting 780 hours of content (in English) and then you pass it through the DeepSpeech importer script and you only get about 130 hours.

While duplicates can still be useful for some purposes and should definitely be part of the dataset, I think the Datasets page as currently written is misleading and the total number of unique hours

[2019-09-04 08:33] kdavis-mozilla commented on #2201
It _is_ the number of unique hours, different people reading the same sentence do not produce the same audio.

What you want it to indicate is the number of hours in the train+dev+test set which _is_ less than the posted number of hours.

There's a question of degree here.

Some people would be happy having some sentence repetition, different people reading the same sentence, in their data set. So

[2019-09-04 10:24] viorelaioia opened #2202 "Update voice avatar in menu and dashboard"
As per discussion with @mbransn , we still need some changes on voice avatar in the menu and dashboard.
Currently, when hovering over the voice avatar, there's is a tool tip saying "Click to play avatar". When clicking the avatar, it stops playing.

Changes required:
- remove the tool tip shown on hover
- make the voice avatar not clickable. The voice avatar should play on hover and stop playing w

[2019-09-04 10:25] viorelaioia commented on #2202
CC @mritunjayz

[2019-09-04 13:29] viorelaioia opened #2203 "Voice avatar plays every time I hover over the 3-dots user menu"
**Env:**
Mac 12.4, Firefox, Safari

**STR:**
1. Login to Common Voice staging
2. Hover over the 3-dots user menu in order to expand the menu options

**Expected:**
Menu options are displayed, voice avatar doesn't start playing. In plays only when doing hover over picture avatar or username

**Actual:**
Menu options are displayed, voice avatar starts playing.

**Note:**
The avatar plays every time

[2019-09-04 16:08] Vishal19111999 commented on #2073
I want to solve this as my first bug. Can anyone guide me?

[2019-09-05 10:39] Gregoor commented on #2073
Great! What I'd grep for is the places where synchronize subscriptions status with `basket`. It might already be centralized in one place. And here's the basket docs: https://basket.readthedocs.io/newsletter_api.html#news-subscribe

[2019-09-05 16:12] Gregoor opened #2204 "Missing cancel button for voice avatar"
From a QA comment:
"the voice avatar recording functionality in staging doesn't match the one defined in the designs. For example, in the designs, there is a CANCEL button when starting the voice avatar recording, which is not available in staging.
Also, in the designs, there is an option to retry the recording and to delete it. Plus, a separate window with success confirmation. All this options a

[2019-09-05 20:19] MohsenEbrahimi86 opened #2205 "Wrong css styles for RTL languages"
Some nodes in pages have styles that didn't true in RTL languages.
Example number 1:
In page:
[https://voice.mozilla.org/fa/faq#using-common-voice](url)
with node:
.faq-hero .question-block:nth-child(2n) .faq-a
has style:
left:calc(-100% - 6rem)

![image](https://user-images.githubusercontent.com/998540/64378123-3c062c80-d041-11e9-8c87-0efe16805640.png)

but it should be:
left:calc(+100% + 6rem)
!

[2019-09-05 20:20] mritunjayz commented on #2202
I will update it by Monday

[2019-09-08 03:39] dabinat opened #2206 "Allow arbitrary goal amounts"
Creating a custom goal requires you to select from a fixed list of recording/validating amounts. I have found these amounts to be too low to be useful for me. For instance, I always hit the highest weekly goal on the first day of the week.

There should be an option to allow me to type in my own daily/weekly goal amount.

[2019-09-08 11:22] georai commented on #2189
Not yet. @mritunjayz the icons for all buttons are still not right implemented. Upload an image  block is still with old copy. The separator line needs to have more padding.

[2019-09-10 05:14] shan18 opened #2208 "Augmentation in Dataset"
Hi, I wanted to know if there has been any augmentation done on the dataset.
When I downloaded the dataset and heard some of the audio samples, I noticed that the audio for the same text was manipulated as if it was fastened and slowed, and different noises were also added to the audio with varying frequency.

If any augmentation has been done, can you please specify the parameters that were appli

[2019-09-10 13:44] LRSaunders4 commented on #2208
Hi  Shantanu,

We re sample all signals to a sampling frequency of 48000  but that is the
only processing we do.

Here is where you can see technical processing
https://github.com/mozilla/voice-web/blob/002c435501bfcc5b8db345968831effaf4f7194b/web/src/components/pages/contribution/speak/audio-web.ts#L158-L163
https://github.com/mozilla/voice-web/blob/002c435501bfcc5b8db345968831effaf4f7194b/server

[2019-09-10 21:12] Mika-net commented on #1945
@dabinat @Gregoor If its alright I can take a stab at this.

[2019-09-11 04:11] shan18 commented on #2208
Thank you, Lindsay.

[2019-09-11 04:11] #2208 closed

[2019-09-11 17:10] Mika-net commented on #1945
@dabinat @Gregoor  this issue should be marked as closed as on the production site the changes have been made

[2019-09-11 17:18] Gregoor commented on #1945
Great, thanks for looking into it!

[2019-09-11 17:18] #1945 closed

[2019-09-11 20:17] mritunjayz commented on #2203
Now, I have done it for both username and avatar only.

[2019-09-12 09:28] viorelaioia-zz opened #2210 "Remove "Shortcuts" button from Listen page when in tablet view"
**Env:**
iPad Pro (11-inch), iOS 12.4, Firefox, Safari

**STR:**
Navigate to Common Voice Listen [page](https://voice.mozilla.org/en/listen) in browser or in the Common Voice app

**Expected:**
"Shortcuts" button is not available, as there is no keyboard attached

**Actual:**
"Shortcuts" button is available

![photo_2019-09-12_12-19-54](https://user-images.githubusercontent.com/5293100/64772123-c1

[2019-09-12 09:48] viorelaioia-zz opened #2211 "Blank sentence to validate is displayed after skipping a few sentences"
**Env:**
iPad Pro (11-inch), iOS 12.4, Firefox, Safari, Common Voice app

**STR:**
1. Navigate to Common Voice Listen [page](https://voice.mozilla.org/en/listen)
2. Tap "Skip" button a few times (~3)

**Expected:**
Question to validate is displayed

**Actual:**
Blank question is displayed. If tapping the "Play" button, the recording starts playing, but the user cannot see the text in order to vali

[2019-09-12 11:57] viorelaioia opened #2212 "Fix footer UI issues on iPad"
**Env:**
iPad Pro (11-inch), iOS 12.4, Firefox, Safari

Footer is not aligned, email address input field is cut off.
![photo_2019-09-12_14-53-54](https://user-images.githubusercontent.com/5293100/64782344-9c2f2e00-d56d-11e9-9353-25e454af693e.jpg)

[2019-09-12 12:10] viorelaioia opened #2213 "Top contributors names are cut off in the leaderboard"
**Env:**
iPad Pro (11-inch), iOS 12.4, Firefox, Safari
iPhone 7, iOS12.4, Firefox, Safari

**Description:**
Names are not displayed on certain devices, as they don't fit. I couldn't find designs with how the table should look on mobile / tablet view, but I suppose we want people's names displayed, in order to be able to identify them. @mbransn , can you please confirm this? Thanks!

![photo_2019-0

[2019-09-13 12:50] zngguvnf opened #2215 "Empty .mp3 in german corpus"
Hi all,

**tl;dr**
there are empty .mp3 files in the german corpus (version: de_340h_2019-06-12), most of the files are named in the validated.tsv file.

List of empty files:

[code]

**Steps to reproduce:**

1. Download german common voice corpus from [here](https://voice.mozilla.org/de/datasets) (version: de_340h_2019-06-12).

2. Check md5sum
[code]

3. Extract folder
[code]

4. Calculate file s

[2019-09-13 23:19] dabinat opened #2216 "Allow validators to report a sentence as unpronounceable"
The option to report a sentence as unpronounceable is only available on the recording page, however this is something I would find useful as a validator and use fairly often.

[2019-09-13 23:32] dabinat commented on #1945
Was this deployed to production? I can't notice a difference. "German" still appears before "English" for me.

[2019-09-13 23:42] dabinat commented on #2201
Yes, maybe "unique hours" isn't the most accurate description - perhaps "unique sentence hours" is better. Or alternatively listing "repeated hours" instead.

I agree that repetitions are useful for some purposes and are good to have in the set. But the reason I raised this as an issue is the disparity: it's about 17% unique sentence recordings vs 83% repeats. So the dataset is considerably more u

[2019-09-15 15:24] kdavis-mozilla commented on #2201
Maybe @Gregoor or @mbransn could have the wording changed?

[2019-09-16 14:27] rleitan opened #2217 "[Voice app]: The buttons are not responsive/delay on response"
[Environment]:
iOS 12.4 - Tablet

[STR]:
1.Open Common Voice app
2.Tap Log in button
3.Add email into NLX screen and tap Enter button

[Expected result]:
The NLX screen for insert password should be displayed

[Actual result]:
Nothing happens on the first tap to Enter button (sometimes, after 3-4 taps the password screen is displayed

[Note]:
The issue is not reproducible on Safari
All buttons are

[2019-09-16 14:28] Pike commented on #2159
@piotrdrag, do you need help with these?

[2019-09-16 14:43] rleitan opened #2218 "[Voice app]: Blank page displayed on Listen"
[Environment]:
iOS 12.4 - Tablet

[STR]:
1.Open Common Voice app
2.Tap the Listen button

[Expected result]:
Listen page should be displayed

[Actual result]:
Blank page is displayed

[Note]:
Not reproducible for Speak

[2019-09-17 11:26] Gregoor opened #2221 "Remove all the places where client_id is being masked/hashed"
Since client_id isn't (solely) used for authentication anymore (5f163d3424cf375a003eb31a526855752e743857), we can remove all the code that hashes/masks client_id. Leaderboard comes to mind.

[2019-09-17 12:32] Shivansh2407 commented on #1916
Can you explain which part of code has this issue . Please let me know soon .

[2019-09-17 14:02] rleitan opened #2222 "The profile pictures are automatically rotated 180 degrees"
[Environment]:
iOS 12.4 - Tablet - Common Voice app, Safari

[STR]:
1.Log in to Common Voice app
2.Go to Settings- Avatar
3.Tap "Browse" button and choose a photo from Photo library

[Expected result]:
The picture should be uploaded and should be displayed in the original position

[Actual result]:
The picture is uploaded but it's rotated 180 degrees

[2019-09-17 14:21] rleitan opened #2223 ""Give your avatar a voice" feature should not be visible on iOS tablet in production"
[Environment]:
iOS Tablet - ver 12.4 - Safari, Firefox

[STR]:
1.Open https://voice.mozilla.org/en/profile/avatar

[Expected result]:
 "Give your avatar a voice" feature should not be visible in prod

[Actual result]:
 "Give your avatar a voice" feature is visible and it's not working

[Note]:
The feature is not visible on Mac, Windows - Firefox, Chrome, Safari

@mritunjayz

[2019-09-17 17:11] mritunjayz commented on #2175
@rleitan can you please check it now ? I tried it on ubuntu 18.04 and win 10 with chrome and firefox and it is working for me

[2019-09-17 17:13] mritunjayz commented on #2203
@Gregoor should close it

[2019-09-17 17:14] mritunjayz commented on #2213
@Gregoor should close it

[2019-09-17 17:30] mritunjayz commented on #2204
@Gregoor design is updated only two more state page have to be added  "too long" and "uploaded"  I will do it by tomorrow!

[2019-09-17 17:43] mritunjayz commented on #2189
@georai I have updated spaces between buttons and more padding on separate line.
Once the voice-wave setup design gets final thumbs up then I will move on to image block. maybe the voice-wave will be done as updated zeplin design by tomorrow.

[2019-09-18 08:39] rleitan commented on #2175
@mritunjayz I reproduced on Windows 10 - Chrome with the following STR: https://drive.google.com/file/d/1u8Y9RyaVKduuBwTepyCNaF88D8Iwy0iS/view

[2019-09-18 10:17] #2203 closed

[2019-09-18 10:17] #2213 closed

[2019-09-19 14:22] nukeador commented on #2201
Thanks @dabinat for the suggestion, and thank you @kdavis-mozilla for outlining the methodological train+dev+test reasoning, which reflects the team’s current approach.

The DeepSpeech import is one important use case, but as both you and Kelly noted, there will be various others, for which sentence repetitions are good to be in. Thus, we would refrain from changing the current wording around vali

[2019-09-19 15:10] mritunjayz commented on #2175
I think I got it. May be pre-singed URL is the problem here. Let me try !

[2019-09-22 13:19] piotrdrag commented on #2159
Thanks, but I just used workarounds that should work for now.

[2019-09-25 10:02] Mte90 opened #2229 "Suggest a fixed sentence"
Our experience show that have a wrong sentence or badly reviewed create issues with the project brand.
Include a way to suggest a new sentence can be useful to involve more the contributors but also improve the quality of the sentences.

[2019-09-27 12:25] Emekaborisama opened #2233 "Error ⚠️ Page"
I click on create a goal on my dashboard and I received an error

Here is the link to the error page

https://voice.mozilla.org/en/dashboard/goals

[2019-10-01 16:22] jsalsman commented on #814
commenting to reference https://discourse.mozilla.org/t/can-db-vote-be-a-boolean-union-with-a-utf-8-string/45941

I am trying to come up with a plan to supplement the boolean votes with a utf-8 text field (which could be used for controlled vocabulary category tags, too, e.g. with hashtags at the end, or maybe at front if you lead with #true and #false to represent the boolean vote.) I want to sup

[2019-10-01 22:01] dabinat commented on #814
Does this actually need to happen at the validation stage?

It seems to me that not every user will add metadata and some users may not always tag every specific piece of metadata in a clip. So a clip might need multiple passes before all metadata is properly tagged. Also, would there be a system to validate that tags are correct?

It seems better to have it as a separate system where all clips ar

[2019-10-02 01:36] beknazar opened #2236 "Request to add `Karakalpak` language to the list"
I wanted to start contributing with our local students to [Karakalpak](https://en.wikipedia.org/wiki/Karakalpak_language) corpus.

Thanks in advance!

[2019-10-02 19:06] MichaelKohler commented on #2233
Same for me, using latest Nightly with ETP on strict.

[2019-10-02 19:06] MichaelKohler opened #2239 "Horizontal Scrolling on main page should not be possible"
On the main page (voice.mozilla.org) it's currently possible to scroll horizontally without actually having more content.

<img width="774" alt="Screenshot 2019-10-02 at 21 04 44" src="https://user-images.githubusercontent.com/330324/66073946-aaa6af00-e547-11e9-92d6-ea1c60801c9a.png">

[2019-10-02 19:59] jsalsman commented on #814
@dabinat I am trying to obtain transcripts from listeners, because that is the only way to train models of authentic intelligibility, as per https://www.docdroid.net/gvbP0Jc/paslides.pdf

The metadata (which might occur, for example, just after the first newline) can be thought of as entirely separate, and need not be in the same database column. If the tagging request is keeping transcriptions fr

[2019-10-03 09:59] nukeador commented on #814
Hi all,

This is an interesting proposal and it's definitely on the team's mind, we are currently working on a final proposal around how to better capture accents that also talks about a similar need.

In terms of time availability, right now we are really focused on the partner work and we don't really have much time for reviewing this right now.

Can I suggest we all wait a bit until the new acc

[2019-10-03 23:35] JRMeyer opened #2241 "Errors in English Transcripts"
Hello there!

I've found some errors in English transcripts WRT the character `â`. You can see below that it occurs instead of `'` apostrophe in some cases:

[code]

[2019-10-10 09:57] nukeador commented on #1446
We have the ability now to surface banners with CTAs, as we did with the survey.

[2019-10-10 09:59] Mte90 commented on #1446
There is a guide about how to use it for the community?
Also screen where that banner will be shown?

[2019-10-10 10:14] nukeador commented on #1446
Currently has been only used to surface a survey and the new goals feature for English. There is no procedure to request content there at the moment.

Having said that, if you community has a need, I would recommend to work with us to understand the problem and define the need and if we need to use that space to promote anything we can evaluate it. We can work on that document you had or you can o

[2019-10-11 05:38] drs-11 commented on #2241
Is this good for a first time contributor to open source? If so could you give directions to where to start looking?

[2019-10-11 05:49] aditya-hari commented on #2239
I would like to work on this issue. Which file should I be looking at to see how to fix this?

[2019-10-14 15:43] TheGameFreak720 commented on #2239
I would love to contribute also to this issue

[2019-10-15 17:23] peiying2 opened #2245 "Truncated text in hourly graph under "Voices online now""
There are a few issues with the current design/layout. It is affecting many languages. The `Hour` text in the graph under `Voices online now` is truncated. It should allow ability to disable the hours if the word exceeds N number of letters. See the screenshots for hsb and dsb.

https://www.sorbzilla.de/commonvoice/commonvoice_hlosy_online.png
https://www.sorbzilla.de/commonvoice/commonvoice_glose

[2019-10-15 17:32] mbransn commented on #2245
Thanks @peiying2, great question; @Gregoor can you let us know how you implemented?

[2019-10-17 15:39] Basemindgirl commented on #1235
well, what were you talking about. There is a program that gets what ever is on the phone of. Data recovery with a mac into a dead android. This has happened a few times . I think its caled the black scren of death. Use disk drilll . Where you talking about the mind or have a partner who aint write or i guess the phone and computer companies can black your screen. The phone stays on for months wit

[2019-10-18 04:49] mackncheesiest opened #2253 "User Profile: Insufficient Space for Left Sidebar"
Env: FF 71.0b1

Couldn't find an existing issue that seemed to cover this, but there isn't enough space for the left sidebar on the user profile screen on my monitor (2560x1440)
![image](https://user-images.githubusercontent.com/8922497/67065577-af608b00-f123-11e9-9b10-cde982c043c6.png)

It can be solved by increasing the `max-width` of [this div](https://github.com/mozilla/voice-web/blob/c7233b70

[2019-10-18 11:27] Gregoor commented on #2245
Looks like the time string formatting has simplistic assumptions:
https://github.com/mozilla/voice-web/blob/6ac48efc92b77cd64cfb400c8df35fd9936b14ca/web/src/components/plot/plot.tsx#L146-L152

[2019-10-18 13:36] 161134050 commented on #2241
fuck off indian

[2019-10-18 14:16] nukeador commented on #2241
How many time you have identified this problem happens? Is it with all ' or just some?

/cc @mbransn

[2019-10-19 01:25] JRMeyer commented on #2241
it seems this is a rare problem... the apostrophe `'` shows up in lots of other sentences

[2019-10-19 10:05] saranshbarua commented on #2239
I found a quick fix for this, will submit a PR soon.

[2019-10-25 18:26] lissyx opened #2259 "Invalid french accents in sentence collector data"
We got a report of "words cut" being displayed (likely a font rendering issue). Further investigation lead to unexpected french `é` character: `é`.

A quick check on the data reveals:
[code]

[2019-10-25 20:15] lissyx commented on #2259
Proper fix is indeed using unicode NFKC normalization instead of NFKD: https://github.com/Common-Voice/commonvoice-fr/pull/78

[2019-10-28 09:14] lissyx commented on #2259
@MichaelKohler So, I've merged the fix on our repo, and regenerated data. How can we perform the fix on CommonVoice and/or Sentence Collector side ?

[2019-10-28 18:37] lissyx commented on #2259
@MichaelKohler: this is the list of deleted sentences [deleted.txt](https://github.com/mozilla/voice-web/files/3780148/deleted.txt)

[2019-10-29 11:01] gvstavnev commented on #424
You can use `@media (hover:hover)` now to only address devices that are able to hover over elements.

e.g.:

[code]

[2019-10-30 20:24] MichaelKohler commented on #2259
## Sentence Collector
The following was found and deleted in the sentence collector:

[removed_sc.txt](https://github.com/mozilla/voice-web/files/3790958/removed_sc.txt)

This includes sentences that were never approved and therefore didn't get exported, but were found in the list lissyx provided.

## Export

The following sentences would be removed if we ran the export:

[removed_export.txt](http

[2019-10-30 20:51] rileyjshaw commented on #1992
@viorelaioia has there been a regression on this? I'm noticing the same behaviour.

[2019-11-01 14:53] viorelaioia commented on #1992
@rileyjshaw , I tried on a iPhone 7 device and I'm able to access all menu items. I don't have a device with a smaller screen. But I tried on an emulator and it seems the issue it's still happening.

[2019-11-01 15:07] rileyjshaw commented on #1992
@viorelaioia I'm able to reproduce on a laptop by shrinking my browser to tablet width with reduced height.

[2019-11-01 15:16] viorelaioia commented on #1992
@rileyjshaw , I confirm I can also reproduce it the way you mentioned.

[2019-11-03 06:24] munteanu210 commented on #1992
The fix for mobile devices consisted of reducing the padding between menu items, so that they fitted in the small space.

This fix can be extended to bigger devices too, by changing the line of code shown in the image below to: `@media (--md-up) {`
It would apply the padding reduction to extra small and small devices, including small tablets.
The file is `web/src/components/layout/nav.css`

![2019

[2019-11-04 10:23] stefangrotz opened #2267 "Flag sentences that have been skipped by 5 (or x) users"
The quality of the sentences is quite good but there are some sentences that keep coming again and again when you skip them. Maybe it would be a good feature to delete (or flag) sentences that have been skipped a lot or at least to count how often a sentence is skipped. This could be a good indicator for difficult or easy sentences.

What do you think about this?

[2019-11-04 10:27] stefangrotz commented on #2267
Looks like a doublicate of #1115
I also really like the proposal of  #1151 (save the accent of skips)

[2019-11-05 08:35] #2267 closed

[2019-11-07 17:34] MichaelKohler commented on #2259
@rileyjshaw quick ping here :)

[2019-11-07 18:41] rileyjshaw commented on #2259
Hi @MichaelKohler, thanks for the ping – I missed the initial notification.

@phirework is the current lead on Common Voice, so I'm going to redirect this to her. Happy to join a discussion if it would help!

[2019-11-07 20:10] phirework commented on #2259
Thanks @rileyjshaw!

@MichaelKohler, this is on my radar to investigate and I need to confer with some of the original devs on the project. I will be sure to ping you on Slack once I have a better idea of how to move forward.

[2019-11-07 20:13] MichaelKohler commented on #2259
Thanks, happy to provide more information if needed, feel free to ping me anytime

[2019-11-08 21:17] georai opened #2281 "Challenge sign up pop up"
1. Remove the icon.
2. Not the right grey.

https://www.dropbox.com/s/u7ndpofoko31vth/Screenshot%202019-11-08%2016.14.15.png?dl=0
https://www.dropbox.com/s/qeod5n8iwv4ot85/Screenshot%202019-11-08%2016.18.50.png?dl=0

@mbransn @rileyjshaw

[2019-11-08 21:26] georai opened #2282 "User profile page, first signup."
https://www.dropbox.com/s/426sim0h10cpngj/Screenshot%202019-11-08%2016.23.53.png?dl=0

1.Icon needs to be added
2. The font needs to be regular
3. The padding needs to be 57px

https://www.dropbox.com/s/b99xdq876y2hq22/Screenshot%202019-11-08%2016.25.26.png?dl=0

1. Can we have other checkboxes.
2. The checkbox needs to be filled.

@mbransn @rileyjshaw

[2019-11-08 21:31] georai opened #2283 "Implement challenge invite modal frontend"
https://www.dropbox.com/s/qvtpzmnv5hhsl57/Screenshot%202019-11-08%2016.29.35.png?dl=0

1. The close icon needs to be grey.
2. Something with the hand, do Ineed to reexport?
3. Spacing between speak and listen  is more than in design.

@mbransn @rileyjshaw

[2019-11-08 21:35] georai opened #2284 "Invite pop-up"
https://www.dropbox.com/s/yvj0m2lmfdf0g9t/Screenshot%202019-11-08%2016.33.45.png?dl=0

1. Close icon grey.
2. The style of the copy link is different.
3. On hover we designed before with grey fill.

@mbransn @rileyjshaw

[2019-11-09 00:31] Sav22999 opened #2285 "Listen section doesn't work correctly"
The listen section doesn't work correctly. It shows just few sentences and then it shows "We don't have anything to validate in this language, help us fill the queue.".
But, actually, there are sentences to validate ... it happens also to new volunteers.
It happened in the Italian language (I don't know in other languages).

[2019-11-09 00:46] mbransn commented on #2282
@rileyjshaw let's keep this one as P0 for the 'build profile' call out subnav item, it's a helpful marker as part of the UX.

Checkboxes are lower priority tho I believe they should already be correct on production? Any reason we aren't utilizing them?

[2019-11-09 00:51] mbransn commented on #2281
@rileyjshaw this one is still P0, grey is too light for accessibility and icon is confusing / not needed.

[2019-11-10 00:48] dabinat commented on #2081
I ran into this problem again today with the sentence:

It's actually supposed to be "LS" but people pronounce it as "is" because the lowercase L looks exactly like an uppercase I. If speakers are making this mistake then validators probably are too.

I looked on Google Fonts for fonts that clearly differentiate between L and I, and the most similar one I can find to the current font (Open Sans) i

[2019-11-11 08:07] CallistaKitaro opened #2289 "Reloading the page while in the dashboard results in being redirected to the authentication page"
When I logged in and refreshed my page while on my dashboard (https://voice.mozilla.org/en/dashboard), it promptly took me back to the login page again.

I am using my Github account to login to common voice if that information helps :)

[2019-11-11 15:54] LRSaunders4 commented on #2289
Hi Calista,

Thank you  so much for letting us know. Can you  tell me what operating
system you are using?

My best,
Lindsay

On Mon, Nov 11, 2019 at 2:07 AM Callista <notifications@github.com> wrote:

--
Lindsay Saunders
Program Manager - Open Innovation Team
lsaunders@mozilla.com