[2017-05-08 10:22] geroter opened #1 "JuneActivation release"

[2017-05-08 10:28] geroter opened #2 "Hire a UX/UI person"
Need a UX/UI contractor for roughly 1-2 weeks for interaction and visual design of the responsive website layout.

[2017-05-08 10:28] geroter commented on #2
George talking to:
http://www.thegeekettez.com/hellogeekettez/

https://www.iglika.co/contact/

[2017-05-08 10:32] geroter opened #3 "Make final decisions on the specific "stickiness/gamification" functionality"
We need a final decision and set of issues/user stories generated on what specific stickiness/gamification functionality we are building for the June Activation release.

@kdavis-mozilla is the final decision-maker

The rest of us will build out options that he can sign-off.

[2017-05-08 10:35] geroter opened #4 "Use usertesting.com to get some rapid feedback on stickiness options"
Quickly mock-up (not code) and get feedback on stickiness/gamification options before we make a final choice.

Depends on building out a long-list of options.

[2017-05-08 22:40] geroter opened #5 "Finalize SOW for Softvision for QA"
Figure out scope of testing, writing into SOW, get over to Softvision for quote

[2017-05-08 22:43] geroter opened #6 "Finalize production server environment with IT DevOps"
Need a production environment on IT managed AWS account. Ensure that is setup so that we can prod there.

[2017-05-10 11:27] geroter opened #7 "Finalize decision on license type for the data sets that will be made public"
Decision based on advice from legal on the license type for the data sets that will be made public.

[2017-05-10 11:35] geroter opened #8 "Identifying any legal issues in the current iOS app experience"
- [ ] iOS build to bsmith for legal review and identifying issues - @andrenatal

- [ ] feedback from bsmith --> leads to issues to incorporate

[2017-05-10 11:37] geroter opened #9 "Legal review of experience we will be submitting to Apple for review"

[2017-05-10 11:38] geroter opened #10 "Legal review of text on the web app"

[2017-05-10 11:39] geroter opened #11 "Legal review of wireframes/app experience"

[2017-05-10 11:52] geroter opened #12 "Legal review of technical architecture separating voice data collection and user info"
Dependant on draft of architecture in issue #13

[2017-05-10 11:52] geroter opened #13 "Decision on data architecture/flow"
- [ ] flow-chart to describe data structures and relationships

- [ ] legal review per issue #12

[2017-05-10 15:39] geroter commented on #9
Figure out how Brian will have access to this - @andrenatal

[2017-05-10 15:44] geroter commented on #12
Marshall to be involved with the review of this.

[2017-05-10 15:46] geroter opened #14 "Figure out approach to security review of products"
Reach out Selena D

[2017-05-10 15:48] geroter opened #15 "Trademark clearance search for Project Common Voice"

[2017-05-10 15:52] geroter opened #16 "Figure out *who* is submitting for review to Apple"

[2017-05-10 15:55] geroter opened #17 "Document data collection overall and review with Legal"

[2017-05-10 17:43] mikehenrty commented on #14
Emailed Selena, waiting to hear back.

[2017-05-10 17:46] mikehenrty commented on #3
Recommendations:
    Single responsive website, with special collection method for mobile safari (iOS)
        no apps, too much time and risk

    Gamification: have levels (1-5), with prizes at each achievement level

    Blurry "secret" prize, becomes clearer the more you contribute

    Don't require "sign up" at first (track users using cookies/localStorage until they are ready), then collect

[2017-05-11 15:38] mikehenrty commented on #5
@geroter can you explain a bit more about what this task is about? I haven't worked with Softvision before, and am wondering what they will bring here. Bug filing?

[2017-05-11 16:12] mikehenrty commented on #3
### Stickiness MVP Proposal
* experience points (voice-coins), perhaps count of how many submissions from your user
* levels gained for reaching X experience points
  1. Level one: invite to join leaderboard (must enter name)
  1. Level two: invite to join contributor list (You can optionally be listed on the contributors page)
  1. Level three: add a sentence for other people to say (you can hear

[2017-05-11 17:24] mikehenrty commented on #4
Let's make this a part of Sprint 3 since it's a nice to have and we've already sanity checked the concept of levels at the Taipei workshop.

[2017-05-11 17:32] mikehenrty commented on #13
The basic concept here is that metadata surrounding these voice clips will be kept separately from the voice clips themselves. You can find the voice clip using the metadata, but you should not be able to find the metadata given a voice clip. We will store the clips in the filesystem, and store metadata (including voice file path) in the db.

Later, when we publish the voice data, we can include n

[2017-05-11 17:36] mikehenrty commented on #3
@geroter @andrenatal @kdavis-mozilla @mbebenita, thoughts on these for levels?

[2017-05-11 17:46] mikehenrty opened #18 "Animation for contributing a single voice"
It is important that the submission functionality has a pleasant effect, since we want people to do this often.

[2017-05-11 17:53] mikehenrty opened #19 "Basic flow, Wire Frames"
**Landing Page (main)**
 - Show overall progress towards goal
 - Big Donate now button

**Leaderboard**
  - show top 3
  - show where you are
  - show bottom 2

**Rewards Page**
  - List any rewards the user has (with unclaimed ones at the top)
  - Ability to add name for leaderboard, new sentence, login

**Contributors**
  - Dynamic list of all users who reached level 2

**Voice Donation Page**

[2017-05-11 17:54] mikehenrty commented on #7
@geroter should we close this?

[2017-05-11 17:59] mikehenrty opened #20 "Need video or animation to help explain Voice Dataset concept"

[2017-05-11 18:01] mikehenrty opened #21 "Decision on Hosting new site"
* Whose budget?
* What hosting company?
* Security review?

[2017-05-11 18:06] mikehenrty commented on #12
I think we'll have a better understanding of the architecture after sprint 1, so I am updating the milestone to 2.

[2017-05-11 18:10] geroter commented on #2
Aiming for a final decision on this by May 15th.

[2017-05-11 18:14] mikehenrty opened #22 "Investigate iOS wrapper app for mobile website"
Is it possible for us to publish a "wrapper" app on the app store, and then change the content later? If so, let's build it!

[2017-05-11 18:17] geroter commented on #3
A few principles:
1. We can afford this as it scales (i.e. we need 200K @ 5min per language) -- no more expensive than equivalent in Mech Turk
2. The incentives link to the overall narrative of the campaign (great insight from Janis)

Reactions to levels:
- our goal is # of hours vs. # of submissions ... so likely the levels should correspond?
- how many seconds is the average submission
- how man

[2017-05-11 18:21] geroter commented on #21
Is this a duplicate of #6 ?

[2017-05-11 18:46] andrenatal commented on #21
This was discussed already few times and the plan is hosting it with webops team.

[2017-05-11 19:03] geroter commented on #3
@mikehenrty I think we could reasonably get Michael Bernstein to take a look/comment on this, in addition to our UX person/agency.

[2017-05-11 19:16] mikehenrty opened #23 "We need a larger corpus of text input"
Right now, we only have 3K sentences or so.

Two possible new sources are
1. Wikimedia text
1. [BYU Corpus](http://corpus.byu.edu/)
1. [Leipzig Corpora](http://wortschatz.uni-leipzig.de/en/download/)

[2017-05-11 19:16] geroter commented on #5
This is related to the thread with Mihai.

Basically, they would put together and execute a testing plan that would look at:
- behavior as expected
- functionality cross-browser
- performance and stress testing (not sure if they can cover this)

We would probably involve them both at intermediate and final steps.

[2017-05-11 19:17] geroter commented on #23
Can we get a measure of success here? How big do we need?

[2017-05-11 19:21] geroter commented on #23
This? http://wortschatz.uni-leipzig.de/en/download/

[2017-05-11 19:29] mikehenrty commented on #23
Added to list.

Right, good question. From what I understand from @kdavis-mozilla, it's not super useful to have a lot of different people repeating the same phrases over and over (although a few repeats is ok). We can put the number of required sentences at around the expected users. One possible projection is:
[code]

[2017-05-11 19:32] geroter commented on #23
Shouldn't we work back from number of hours?

10K hours = 600K mins = 9M sentences (@3secs per sentence)

[2017-05-11 19:46] mikehenrty commented on #23
Yes we will eventually need that to fulfill our goal, but this bug is about June activation so I'm not setting sites quite so high yet.

[2017-05-11 20:01] mikehenrty commented on #3
Right, let's base it off length of submission. Let's just hope people don't try and game the system by talking slow (or fast). We can award points based on the amount of milliseconds perhaps.

Right now about 1s. But that could change with #23, so better if we don't rely on that.

Yeah, this needs to be worked out, just was doing high level stuff before. I'm not even sure physical prizes are the r

[2017-05-11 20:56] mikehenrty commented on #3
One way is to get a bare-bones site up (ie. no branding and no flashy stuff, perhaps even using prototype tool like invision) and ask usertesting.com users their thoughts on levels/prizes.

Another approach could be a descoped MVP of the site, then we use adds to drive traffic to it and measure the drop off rate of different level approaches.

In an ideal world we could do both, but I'm not sure i

[2017-05-11 21:06] mikehenrty commented on #21
Ah, sorry I didn't see that. My bad.

[2017-05-11 21:06] #21 closed

[2017-05-11 21:42] mikehenrty commented on #3
### New Stickiness MVP Proposal (still rough)
Let's think about this both in terms of first time experience, and long term rewards. In the beginning, we can have a couple of quick wins that encourage registration (sign up for our contributor list, leaderboard, etc). Adding features in this early stages, like a leaderboard or comment section is an interesting progression idea that is "free." If we

[2017-05-11 21:46] mikehenrty commented on #3
### New Stickiness MVP Proposal
We want each user to donate as much as possible.

1. Level one: start here, get bag for collecting

* experience points (voice-coins), perhaps count of how many submissions from your user
* levels gained for reaching X experience points
  1. Level one: invite to join leaderboard (must enter name)
  1. Level two: invite to join contributor list (You can optionally be

[2017-05-11 21:52] mikehenrty opened #24 "Add metrics tracking"
* Bounce rate at various entry points
* First time experience funnel

[2017-05-12 05:32] kdavis-mozilla commented on #13
Just to solidify things a bit, there are two classes of metadata:

- PII - For example an email address
- Non-PII - For example gender

We do _not_ want it to be the case that

when the metadata is PII metadata. This should be true internally and externally.

However, internally and externally we do want to be able to find voice clips that have a particular set of non-PII metadata, e.g. all voice

[2017-05-12 05:34] kdavis-mozilla commented on #7
@mikehenrty looks like it can be closed to me

[2017-05-12 05:40] kdavis-mozilla commented on #22
Just looked this up and we're walking a fine line[[1](https://developer.apple.com/app-store/review/guidelines/#minimum-functionality)]:

<img width="735" alt="app" src="https://cloud.githubusercontent.com/assets/12054740/25983604/1eaedd9a-36e6-11e7-8de8-f20dab86f5ad.png">

[2017-05-12 05:46] kdavis-mozilla commented on #5
This assigned to sprint 1 which ends May 17th and we haven't even initiated contact with Softvision. Finishing this by May 17th seems unrealistic.

Can we move this to another sprint or do this internally?

[2017-05-12 06:04] kdavis-mozilla commented on #23
One must also juggle the extra ball of legality.

For example the Leipzig Corpora terms of use state

and further

So on our time scale Leipzig is a no. Similarly the BYU Corpus is targeted at low usage academics

Wikipedia seems the best bet, but them one also has to worry about copyright[[1](https://wikimediafoundation.org/wiki/Terms_of_Use)] there too

[2017-05-12 06:13] kdavis-mozilla commented on #3
@mikehenrty I don't know if this is the right place to address this, but how is validation of the data done? In other words, how do we know the user read the correct sentence?

[2017-05-12 06:18] geroter commented on #5
We already have a meeting with them on Tuesday and because there's an
existing relationship it should be quick to contract.

We were going to bring the SOW to you by Thursday for review and sign off.

On May 12, 2017 07:46, "Kelly Davis" <notifications@github.com> wrote:

[2017-05-12 07:28] geroter commented on #23
I think this might be a place to ask for Brian's help in interpreting these terms. Let's add that to our next agenda with him -- maybe @mikehenrty you can ping him with an email in advance?

[2017-05-12 07:28] #7 closed

[2017-05-12 08:33] kdavis-mozilla commented on #23
@geroter I think he can help with other ToS, but I think these are pretty clear in forbidding us use.

The easiest way out is to simply use text for which the copyright has expired in all countries.

Gutenberg[[1](https://www.gutenberg.org/)] houses texts for which the copyright has expired in the US[[2](https://www.gutenberg.org/wiki/Gutenberg:Terms_of_Use#Book_Copyright)], a good staring point.

[2017-05-12 12:06] mikehenrty commented on #3
Validation is not currently done in app, so we will still have to figure that part out. That's why any cost analysis we do in comparison to mechanical turk only relates to the collection piece and not validation costs.

[2017-05-12 12:09] kdavis-mozilla commented on #3
@mikehenrty We should seriously consider having the app self-validate, in other words incorporating validation in to use of the app.

[2017-05-12 14:56] mikehenrty commented on #3
Agreed, but my thinking is that for June it is more important to build in the "recording" functionality first, then add verifying functionality if we have time. I'll file a separate bug for that.

We don't have a large developer team, so everything we do needs to be talked about in terms of priorities. Using a marketing lens, my thinking is that donating is more important to the user flow to help

[2017-05-12 14:59] mikehenrty opened #25 "Add voice verification functionality"
Users can help us validate voice input. Right now we don't have this scoped, so we would need to do that if this becomes a priority.

This was originally brought up in issue #3.

[2017-05-12 15:08] kdavis-mozilla commented on #3
@mikehenrty I'm just worried that if this works, we won't have the budget to validate by paying and won't have the community to validate after all hands due to the die down of participants. So, we'll be left with lots of data which may or may not be of use.

[2017-05-12 15:12] mikehenrty commented on #3
Totally understood. There is an opportunity to get validation eyes on our data that we would be missing. Let's discuss the priorities of the verification piece in #25. There are other things we could prioritize this ahead of, and perhaps we could get some extra help from the ET team if needed :)

[2017-05-12 17:52] geroter commented on #23
Ya, I meant stuff like Wikipedia or others that might be murkier.

I also do wonder if using copyrighted info in a different context (e.g.
outside of a full text) is a problem. For example, I can quote paragraphs
of a novel on my own commercial website without it being copyright
infringement. Google does searches on copyrighted materials and makes money
off ads on the pages of those searches. So,

[2017-05-15 18:27] mbebenita commented on #23
For the moment, I've written a script to extract sentences from project Gutenberg, and curate them based on length and some reading complexity metric. The current sentence set is from War of the Worlds.

https://github.com/mozilla/voice-web/blob/master/tools/gen.js

[2017-05-15 18:39] geroter commented on #23
Where'd the reading complexity metric come from? Has a non-obvious
algorithm.

On May 15, 2017 20:27, "Michael Bebenita" <notifications@github.com> wrote:

For the moment, I've written a script to extract sentences from project
Gutenberg, and curate them based on length and some reading complexity
metric. The current sentence set is from War of the Worlds.

https://github.com/mozilla/voice-web/blo

[2017-05-15 18:46] mbebenita commented on #23
https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests

I didn't actually test to see how well it works.

[2017-05-17 15:42] geroter commented on #15
Will have an update from Brian by 17/05.

[2017-05-17 15:46] geroter opened #31 "Legal review of text we can use"
Brian will double-check Wikipedia and Gutenberg

[2017-05-17 15:49] geroter commented on #31
Important not to republish the text database.

[2017-05-17 16:06] mikehenrty commented on #5
Just an update here, I spoke with Softvision earlier this week. George and I are discussing this now.

[2017-05-17 16:09] mikehenrty opened #32 "[iOS App] Don't take up full screen"
Right now the app displays underneath the system statusbar (which is transparent). This looks a little weird. Can we make it so that the app displays inside a frame and not underneath the statusbar?

[2017-05-17 16:11] mikehenrty opened #33 "[iOS app] Disable overscroll"
Right now you can drag the content of the webview up and down due to Safari's overscroll ability. Can we disable this in the app?

[2017-05-17 17:18] mikehenrty commented on #24
Mixpanel looks really lightweight, since all we want are funnels and events.

[2017-05-17 17:19] geroter opened #34 "Text for initial iOS app and website"
**Home page:**
Build the world's most diverse set of voice data that researchers and others can use for free to create better voice technologies for the Internet.

[maybe button here?]
Click 'Record' to start donating your voice.

_Your voice donations will be made available for researchers and others to use under a Creative Commons license [https://creativecommons.org/publicdomain/zero/1.0/]. You

[2017-05-17 17:58] mikehenrty commented on #34
This looks good to me! @kdavis-mozilla @mbebenita @andrenatal, thoughts?

I've added it to the site in 26e262b5
https://test.mozvoice.org/

[2017-05-17 18:10] mikehenrty commented on #24
Note: make sure this works in the iOS and Android app.

Pivot points:
* Device Type
* Region (ip)
* Landing page?

[2017-05-17 18:23] kdavis-mozilla commented on #34
@mikehenrty @geroter A few comments on the home page text...

- I guess this is a question for Brain, but should we state the specific CC license instead of "Creative Commons license"?
- Should the "Donate Now" button be after the end of the text, just to make sure the users know what they're in for before clicking. I know more people will click if it's right after the strong phrase "Interested in

[2017-05-18 01:31] #25 closed

[2017-05-18 10:43] kdavis-mozilla opened #35 "iOS "Next" button remains greyed out"
When clicking on the "Next" button on iOS it remains grey after the next sentence has appeared

![img_0386](https://cloud.githubusercontent.com/assets/12054740/26198734/810192a4-3bc7-11e7-8c83-5bce7392cf82.PNG)

[2017-05-18 18:44] mbebenita commented on #33
Addressed (partially) by https://github.com/mozilla/voice-web/commit/85f0aad4911cb06d70c2b1be7f10f3c01bd57d23

I'm not sure what happens if we have a scrollable element in the page. So for instance, the About page doesn't scroll, and probably should.

[2017-05-18 18:44] mbebenita commented on #32
Fixed by https://github.com/mozilla/voice-web/commit/d58670fb82c67b169ae5bdb0db4f64b4030d5368

[2017-05-18 18:44] #32 closed

[2017-05-18 19:48] mikehenrty opened #37 "[iOS] Add a debug box so we can see console logs for ios app"

[2017-05-18 20:22] #37 closed

[2017-05-19 15:05] mikehenrty opened #38 "[iOS] Uploading audio is not working"

[2017-05-19 15:06] mikehenrty opened #39 "[iOS] cannot listen to audio files on iPhone"
Getting an error from the audio element.

[2017-05-19 15:18] mikehenrty opened #40 "[iOS] uploading is sending "undefined" in place of userid"
which is bad because we use userid in the audio file path

[2017-05-19 17:20] #38 closed

[2017-05-19 17:26] mikehenrty commented on #33
We can make scrolling happen inside the app's DOM tree if we need to. Let's leave the top level scrolling disabled for now, and revisit if we can't work around it in the app.

[2017-05-19 17:26] #33 closed

[2017-05-19 20:55] #40 closed

[2017-05-19 21:16] mikehenrty opened #41 "[Bug] When a new file clip gets uploaded, we don't add it to the random voice pool"
This is ok right now since we restart the server frequently. But this will need to be fixed before release.

[2017-05-19 21:20] mikehenrty opened #42 "[Bug] Cannot listen to m4a on desktop, cannot listen to ogg on iphone"
We'll need to do client detection and server conversion.

Perhaps one thing we could do is add extension to the url: `/upload/random.m4a` to give the server a hint about what to serve.

Better though would be client side audio conversion. Need to see what is easier, converting ogg -> m4a on webkit, or the other way around on everything else, or neither.

[2017-05-20 12:43] mikehenrty commented on #39
This is a duplicate of #42. We can indeed play audio files on the iphone, they just need to be in `.mp3` or `m4a` format.

[2017-05-20 12:43] #39 closed

[2017-05-20 12:44] mikehenrty commented on #42
Looks like the easiest thing to do for now will be to convert everything to mp3 server side.

[2017-05-20 15:15] #42 closed

[2017-05-20 16:18] mikehenrty opened #43 "[iOS] need to show something when offline"
right now we just show a blank screen. i have a feeling this will be a show stopper for the apple review

[2017-05-20 19:51] mikehenrty commented on #43
@andrenatal or @mbebenita, do either of you know if we could show some static image if we are offline on the app side? I have been thinking about ways to do this on the web side with caching, but you still need that first load to work, as I guess offline is something Apple will check.

[2017-05-20 21:05] mikehenrty commented on #34
We've put George's initial text up on the website. @porfitron is going to have a look since he's is also handling copy for the app store. Would be great to have the same text in both!

[2017-05-20 21:13] mikehenrty commented on #19
Currently we have
* Home (landing)
* Listen - to a random recording
* Record - read a sentence
* About - description of Common Voice

I'm going to close this bug because for the first milestone we only need basic site flow to hand off to the designers. I think what we have now is good.

[2017-05-20 21:13] #19 closed

[2017-05-20 21:14] mikehenrty commented on #22
This is done.

[2017-05-20 21:14] #22 closed

[2017-05-20 21:19] mikehenrty commented on #16
Assigning over to @kdavis-mozilla as he is driving the conversation with the engineering manager in charge of focus.

[2017-05-20 21:36] mikehenrty commented on #2
\o/

[2017-05-20 21:36] #2 closed

[2017-05-21 15:11] kdavis-mozilla commented on #16
Meeting with Stefan, George, and myself setup for next Tue

[2017-05-21 15:32] mikehenrty commented on #3
To answer this more specifically, what I've done in the past with an rpg game was to try different exponential curves until it felt "right." We could then release it, measure retention rates, tweak the curve, release/re-measure, etc. But I think you are right to push for usertest.com @geroter, I'm just wondering where we are going to find the time.

[2017-05-21 16:07] mikehenrty opened #44 "[iOS] expose api to request for micorophone, and a callback for when we have it."
We could even attach the permission prompt to the first time I call "start_capture".

[2017-05-21 16:07] mikehenrty commented on #44
@andrenatal or @mbebenita, would either of you be able to have a look?

[2017-05-21 16:08] mikehenrty commented on #44
The reason I think this is important is because I think Apply looks at UX in their decision making process, and prompting for a mic without user action is bad UX.

[2017-05-21 19:13] mikehenrty opened #45 "[First Time Experience] Need User Flow for FTE"
Here's a proposal for a simple first time experience that introduces all the features. Obviously this is still open to suggestions and/or complete rewrites.

User starts at **Homepage**:
(Text needs to be short and clear, and have call to action.)

Take our guided tour: <big button>
Button text could be `Lend your Voice` or `Donate` or `Try it out`

(button takes you to donate screen)

**Donate Sc

[2017-05-22 15:58] mikehenrty commented on #34
I think we have decent initial text here for now, so let's move the finalization of this bug to Milestone 3, since we should revisit this after we have the initial site design.

[2017-05-22 15:59] mikehenrty commented on #3
At this point, I think this is in Geekettez hands. We'll file additional bugs for the engineering tasks and close this one.

[2017-05-22 15:59] #3 closed

[2017-05-22 16:01] mikehenrty commented on #14
Heard back from Selena, she recommended using a third party service. We are investigating this now.

[2017-05-22 16:02] mikehenrty commented on #13
We'll need to do this in M3, after we have designed overall architecture.

[2017-05-22 16:36] geroter commented on #14
Checking with IT security team for RRA.

Also getting a quote for an outside security firm.

[2017-05-24 08:45] kdavis-mozilla opened #46 "First time use incorrectly initializes User"
If one goes to the website without ever previously visiting the site, one hits the error
[code]
due to [restore()](https://github.com/mozilla/voice-web/blob/master/web/src/lib/user.ts#L22) incorrectly initializing `userId` on first time use.

[2017-05-24 15:36] geroter commented on #15
We have to go with Voice Commons.

[2017-05-24 15:36] #15 closed

[2017-05-24 15:42] geroter commented on #17
@geroter to take a stab at this and run through Andre and Kelly

[2017-05-24 22:18] geroter commented on #10
Initial text is here:
https://docs.google.com/document/d/1512EqJhvqsoSmNSCXk-jP48t03MLoykws9BQYA1dCs0/edit

[2017-05-24 22:27] #46 closed

[2017-05-25 17:33] mbebenita opened #48 "[Listen Screen] Flow"
There are several issues here I'm not sure if I should break them up in different issues.

- The general flow should be the user only needs to press on `Yes` / `No` to move on to the next sentence. No separate `Submit` button.
- Instead of the browser sound controls, we should have a `Play` button, which becomes `Repeat` after the first time it is pressed.
- After submitting, the next sentence sho

[2017-05-26 08:11] kdavis-mozilla commented on #48
I'm wondering if we should wait on a lot of this until the UI/UX first draft comes through later today.

I don't want to end up doing the same thing twice with the limited time we have.

[2017-05-26 08:19] mbebenita commented on #48
Agreed, I just wanted to have some of the issues I ran into written down.

[2017-05-26 11:12] geroter commented on #6
Meeting with Shyam week of 29/5 to work this through.

[2017-05-26 15:41] kdavis-mozilla commented on #16
Stefan will submit. In the mean time TestFlight demo versions will be managed by @andrenatal

[2017-05-26 15:41] #16 closed

[2017-05-26 16:48] andrenatal opened #49 "[iOS] API call to stop playing the audio"

[2017-05-26 17:22] andrenatal opened #50 "[Web] If the user denies the permission to record, give instructions to do so in Settings"

[2017-05-26 17:25] andrenatal opened #51 "[iOS] API to open app permissions page on Settings"

[2017-05-26 19:02] andrenatal commented on #44
@mikehenrty  This was fixed [here](https://github.com/mozilla/voice-web/commit/d2c0522293bde26a4ea6aa3c82756a0b47da0a8c). So now the permission request is handled when you call start_capture.

I also introduced a new [callback](https://github.com/mozilla/voice-web/blob/master/ios/voicebank-ios-wrapper/index-cv.html#L54) to send messages to the webapp so those can be displayed properly to the user.

[2017-05-26 19:02] #44 closed

[2017-05-26 19:04] andrenatal commented on #44
Currently are being sent the following messages:

- errorplaying: if the audio file could not be played
- capturestarted: when the mic starts recording
- errorrecording: when some error happened when started recording
- nomicpermission: when the user denied permission to record

[2017-05-26 19:12] andrenatal commented on #49
This was fixed [here](https://github.com/mozilla/voice-web/commit/c2f1a58e6e99d901b86a78919b1e30cd9150d54c)

No we have a new call [here](https://github.com/mozilla/voice-web/blob/master/ios/voicebank-ios-wrapper/index-cv.html#L41) to stop playing the audio

[2017-05-26 19:12] #49 closed

[2017-05-26 19:12] andrenatal opened #52 "[iOS] need to show something while is loading"

[2017-05-26 19:49] andrenatal commented on #43
Fixed [here](https://github.com/mozilla/voice-web/commit/34b8107cc26d6a3ec23552a65a348306fc999bd2)

I am adding a check and displaying a message. We can add an image too.

So I'll close this and open another issue asking for the offline image for replacement that should be produced by the UX team.

[2017-05-26 19:49] #43 closed

[2017-05-26 19:49] andrenatal opened #53 "[iOS] We need a png to be displayed when the user is offline"

[2017-05-26 20:19] andrenatal opened #54 "[iOS] We need a splash screen"

[2017-05-26 20:22] andrenatal commented on #52
Fixed by [this](https://github.com/mozilla/voice-web/commit/8b3c4986bdb71290739ad89d4acb0fe65c347b7al)

[2017-05-26 20:22] #52 closed

[2017-05-26 21:16] andrenatal commented on #51
Fixed by this [commit](https://github.com/mozilla/voice-web/commit/77c4c669a1713f6274c7df7557cb6054dca4e0d7)

@mikehenrty I introduced a new API call to open the settings app in case the user explicitly rejects the request for mic permission and wanted to change it later.

So when you get a 'nomicpermission' message, you can give the user the option to open the settings app and give the permission

[2017-05-26 21:16] #51 closed

[2017-05-26 21:17] andrenatal commented on #50
We'll need an UX for this

[2017-05-27 00:50] andrenatal opened #55 "[iOS] Add final icons"

[2017-05-27 01:14] andrenatal commented on #55
Use icons from here: https://drive.google.com/drive/u/1/folders/0B3m24T2567sjaXRVREU3ajNuczQ

[2017-05-30 10:26] geroter commented on #5
SOW is received from SoftVision -- filed with legal

[2017-05-30 10:28] geroter commented on #13
First draft of basic architecture is here:
https://docs.google.com/drawings/d/12FasUel5NH6poKLcJaxlYr64U6N6YEsyNs-wZJx_y04/edit

[2017-05-30 10:28] #8 closed

[2017-05-30 10:29] geroter commented on #17
Basic architecture
https://docs.google.com/drawings/d/12FasUel5NH6poKLcJaxlYr64U6N6YEsyNs-wZJx_y04/edit

[2017-05-31 17:13] mikehenrty commented on #50
Ah good flag! @andrenatal would it be possible to expose a function on `window` that calls `UIApplicationOpenSettingsURLString` on the backend so we can directly link into settings?

[2017-05-31 17:56] andrenatal commented on #50
I guess so. Let me try.

[2017-05-31 19:06] mikehenrty commented on #24
After a review with legal, we need to use Google Analytics.

[2017-06-01 00:33] #35 closed

[2017-06-01 00:35] mikehenrty commented on #14
we have filed an internal bug to get a rapid risk assessment internally: https://bugzilla.mozilla.org/show_bug.cgi?id=1369189

[2017-06-01 00:40] mikehenrty commented on #9
I believe @andrenatal added Brian to the TestFlight group. Next steps are:

1. have Brian/Marshall look over the wireframes from Geekettes
1. have Brian/Marshall review the final experience right before we publish

Moving to second milestone to complete part 1.

[2017-06-01 00:43] mikehenrty commented on #45
We've had several meetings with the design studio the last two weeks, we should get a rc1 wireframes in the next day or so.

[2017-06-01 00:44] mikehenrty commented on #12
[Proposed architecture](https://docs.google.com/drawings/d/12FasUel5NH6poKLcJaxlYr64U6N6YEsyNs-wZJx_y04/edit) sent over to legal for review.

[2017-06-01 00:48] mikehenrty commented on #20
Let's descope this as I don't think there is anyone to work on it.

[2017-06-01 00:51] mikehenrty commented on #18
I am closing this as a duplicate of but #19, since that will cover this.

[2017-06-01 00:51] #18 closed

[2017-06-01 00:54] mikehenrty commented on #17
@geroter how does this bug differ from #12 ?

[2017-06-01 01:03] mikehenrty commented on #34
We have some updated text to integrate into the final design:
https://docs.google.com/document/d/1512EqJhvqsoSmNSCXk-jP48t03MLoykws9BQYA1dCs0/edit

[2017-06-01 01:15] mikehenrty commented on #53
I see we now have an offline screen, which is great!
One thing I noticed is that when I come back online (by disabling airplane mode in my case), it still says I'm offline. Would be great to see this page come up and down dynamically as a user comes on and offline.

[2017-06-01 08:18] geroter commented on #20
Agreed.

We'll need some strong text-based explanation.

On Jun 1, 2017 02:48, "Michael Henretty" <notifications@github.com> wrote:

[2017-06-01 08:19] geroter commented on #17
It's an overlap. We can close this one.

On Jun 1, 2017 02:54, "Michael Henretty" <notifications@github.com> wrote:

[2017-06-01 09:43] mikehenrty commented on #17
Closed as duplicate.

[2017-06-01 09:43] #17 closed

[2017-06-01 13:46] mikehenrty opened #56 "Need final decision on website URL"
Ideally, it would be voice.mozilla.org. But we need to figure out how to get this.

[2017-06-01 17:07] mikehenrty commented on #56
Spoke with WebOps about this today. voice.mozilla.org is definitely a possibility, but there are a bunch of procedural hoops we need to jump through to get there, and this puts our June 16 deadline at risk.

As a backplan, we have purchased the following URL to be used in case we can't get xxx.mozilla.org approval before release:

`https://voice-mozilla.org`

[2017-06-01 18:42] andrenatal commented on #55
fixed by [https://github.com/mozilla/voice-web/commit/629b01561b2232648c94a9cca3cd828603100856](this)

[2017-06-01 18:42] #55 closed

[2017-06-01 19:04] andrenatal commented on #50
@mikehenrty  now with this [commit](https://github.com/mozilla/voice-web/commit/a5c8ae203fa37f4d5f46997cbfaa1e9a202e1c20), if you just call `window.vcopensettings();` like [this](https://github.com/mozilla/voice-web/blob/master/ios/voicebank-ios-wrapper/index-cv.html#L46) from the webapp, it will open the phone's settings page.

[2017-06-02 00:52] mikehenrty commented on #50
Awesome!

To be honest, I didn't know you had already implemented the open settings functionality in 77c4c669 when I made the above comment. `postMessage("openSettings")` works great too, but I didn't know it existed. But `vcopensettings` is even better haha

[2017-06-02 01:01] mikehenrty opened #57 "We need a mysql table for tracking user info"
We know we at least need the following fields:
* email address
* userid (generated in the client, separate from collection id)
* accent
* year of birth
* gender
* display name

[2017-06-02 01:02] mikehenrty opened #58 "We need a MySQL table for tracking achievements/badges"
must be linked the the user obviously

[2017-06-02 01:12] mikehenrty opened #59 "[front-end] Move nav into a drop-down hamburger menu on mobile"
No polish yet as we don't have the final designs. But we can at least set up the hamburger.

[2017-06-02 01:14] mikehenrty opened #60 "[front-end] Verification widget"
We need a ui component that allows users to play a sound clip and then select either yes or no.

[2017-06-02 01:17] mikehenrty opened #61 "[front-end] Need a modal dialg box with confirm/deny functionality"

[2017-06-02 01:20] mikehenrty opened #62 "Need to be able to trigger achievement"
looks something like:
* user does something, triggers achievement event
* we show animation in the ui (rudimentary for now)
* if user has confirmed privacy policy, we submit achievement to server
* update db to reflect achievement

[2017-06-02 01:23] mikehenrty opened #63 "Need user info form"
for submitting demographics. let's just make sure data flows from browser to db without hitches at this point.

[2017-06-02 06:19] andrenatal commented on #50
ha ha

[2017-06-02 16:16] mbebenita opened #64 "iOS - Determine if we should unlock orientation"
Currently, the orientation is locked. We should determine if this is the behavior we want. Since the web site will be responsive, what is the harm in unlocking the orientation?

[2017-06-05 14:38] mikehenrty commented on #64
I don't have a preference.

[2017-06-05 23:29] #59 closed

[2017-06-06 01:15] #61 closed

[2017-06-06 11:31] mikehenrty opened #68 "[Server] Use s3 to store audio files"
Save clip data into s3 buckets.

Note: we will probably want to save temporary on the local filesystem as a buffer for doing audio conversion.

[2017-06-06 12:24] kdavis-mozilla commented on #68
I'd vote for s3. All the other options are much harder to create/maintain.

[2017-06-06 12:27] mikehenrty commented on #68
Works for me.

[2017-06-07 16:38] mikehenrty commented on #14
RRA started today. Should have a series of recommendations from Tristan Weir in the next day or so.

[2017-06-08 20:17] andrenatal opened #72 "[iOS] Build an iPad version"

[2017-06-09 02:41] mikehenrty commented on #64
@mbebenita can you try this out, and see what it looks like now? in the simulator, it shows the desktop site, which i think works pretty well. interested to hear your opinion

[2017-06-09 02:58] mbebenita commented on #64
I don't actually have the ability to build it locally, @andrenatal what do you think if we create an API on the iOS side that we can use to lock and unlock the orientation. We could experiment with it until the last minute and when we make the decision, we can just update the site.

[2017-06-09 03:02] mikehenrty commented on #64
I assume you mean a flag in the iOS code and not API to javascript

[2017-06-09 03:03] mbebenita commented on #64
API to iOS, so we can toggle the orientation from JS.

[2017-06-09 13:19] mikehenrty opened #73 "Pull out all strings for copywriting"
We can use this document for it:
https://docs.google.com/spreadsheets/d/1aFG_Mvbj_RH9vS_QvCNDsG8oymONj_xh-Bkc1KEYTyY/edit#gid=0

[2017-06-09 14:36] kdavis-mozilla commented on #57
@andrenatal Andre any progress on the user table?

[2017-06-09 14:36] kdavis-mozilla commented on #68
@andrenatal Andre any progress on s3 integration?

[2017-06-09 15:36] andrenatal commented on #68
@kdavis-mozilla I am working on it.

[2017-06-09 15:36] andrenatal commented on #57
@kdavis-mozilla I am working on it.

[2017-06-09 15:56] mikehenrty opened #74 "[Recording Screen] Text overlaps area for large sentences"
We can either limit the size of the sentences, or shrink the size of the font.

[2017-06-09 16:16] kdavis-mozilla commented on #57
@andrenatal Do you think it will be done before Monday?

[2017-06-09 16:17] kdavis-mozilla commented on #68
@andrenatal Do you think it will be done before Monday?

[2017-06-09 17:00] andrenatal commented on #64
Yes, we can do it. Let me implement it.

On Jun 8, 2017 7:58 PM, "Michael Bebenita" <notifications@github.com> wrote:

I don't actually have the ability to build it locally, @andrenatal
<https://github.com/andrenatal> what do you think if we create an API on
the iOS side that we can use to lock and unlock the orientation. We could
experiment with it until the last minute and when we make the decis

[2017-06-12 15:37] andrenatal commented on #57
I'll finish it today!

On Fri, Jun 9, 2017 at 9:16 AM, Kelly Davis <notifications@github.com>
wrote:

--

--
Thanks,

Andre

[2017-06-12 15:37] andrenatal commented on #68
I'll finish it today!

On Fri, Jun 9, 2017 at 9:17 AM, Kelly Davis <notifications@github.com>
wrote:

--

--
Thanks,

Andre

[2017-06-12 15:55] kdavis-mozilla commented on #68
Don't I'm basically finished.

[2017-06-12 15:55] kdavis-mozilla commented on #57
@mikehenrty is taking this over.

[2017-06-12 16:10] andrenatal opened #75 "[front-end] We need to find a way to enable speech collection from multiple users in a row and how to deal with the demographic data"

[2017-06-12 17:57] andrenatal commented on #64
@mbebenita @mikehenrty Do we still need this? I think as we are going to support iPad, the orientation should be always unlocked.

[2017-06-12 18:04] mbebenita commented on #64
If we had an API, we could always change our minds later about locking. If that's problematic, then just go with staying unlocked.

[2017-06-12 18:05] #72 closed

[2017-06-12 20:02] #64 closed

[2017-06-12 20:04] andrenatal commented on #64
@mikehenrty @mbebenita Ok, I implemented the API to control the orientation. I can be called like [this](https://github.com/mozilla/voice-web/blob/master/ios/voicebank-ios-wrapper/index-cv.html#L70):

[code]

[2017-06-12 20:49] mikehenrty opened #78 "[iOS] disable debug-box"
We don't need this in production builds.

[2017-06-12 20:50] mikehenrty opened #79 "ios error when trying to record: "got a top level error, TypeError: undefined is not a function""
this only happens on ios

[2017-06-13 08:46] kdavis-mozilla opened #81 "README.md should mention mysql dependency"

[2017-06-13 08:50] kdavis-mozilla opened #82 "ES5 Incompatable Code in clip.ts"
The following methods are used but not part of ES5
- `string.startsWith()`
- `string.includes()`

They can easily be replaced with equivalent code

[2017-06-13 08:51] kdavis-mozilla opened #83 "clip.ts decodeURI() call doesn't compile"
The call
[code]
does not compile.

[2017-06-13 09:04] kdavis-mozilla opened #84 "Submission after 3 recordings doesn't submit all recorded sentences"
Submission after 3 recordings doesn't submit all recorded sentences.

For example adding the following lines
[code]
to the `save()` method in `clip.ts` gives
[code]
So it appears as if there is a client bug.

[2017-06-13 12:24] mikehenrty commented on #82
Looks like this is causing a build failure on travis that I can't reproduce locally:

https://travis-ci.org/mozilla/voice-web/builds/242373930?utm_source=email&utm_medium=notification

[2017-06-13 12:33] kdavis-mozilla commented on #82
In my branch I've fixed these just to get things compling, see cc52e6e and a8b91f0

It'd be best to do them as a PR distinct from the S3 work. I can do that.

[2017-06-13 15:17] #82 closed

[2017-06-13 15:17] mikehenrty commented on #83
Fixed by #82

[2017-06-13 15:17] #83 closed

[2017-06-13 20:05] kdavis-mozilla commented on #57
@andrenatal since you decided to take this over again on Monday is there any progress?

[2017-06-13 21:44] andrenatal commented on #57
yes

[2017-06-13 21:55] andrenatal commented on #57
I have the driver ready and am writing the form, sps, creation script and
etc..

On Tue, Jun 13, 2017 at 1:05 PM, Kelly Davis <notifications@github.com>
wrote:

--

--
Thanks,

Andre

[2017-06-13 22:13] mikehenrty opened #87 "[iOS] opening external links with target="_blank" does nothing on ios"
ideally, we could open these new links in a browser overlay, like facebook and twitter. barring that, we should just open up safari.

[2017-06-14 07:05] mikehenrty commented on #5
Everything seems to be working great here, so I'm calling this done.

Yaaaay Milestone 1 finished 2 days before release! \o/ ;)

[2017-06-14 07:05] #5 closed

[2017-06-14 07:06] mikehenrty commented on #73
This was delivered to Porfirio a few days ago.

[2017-06-14 07:06] #73 closed

[2017-06-14 07:06] mikehenrty commented on #60
We got this now, we are calling it the "Listen Box"

[2017-06-14 07:06] #60 closed

[2017-06-14 07:07] mikehenrty commented on #45
I'm calling this done since we have this pretty well nailed down in the wireframes and latest designs.

[2017-06-14 07:07] #45 closed

[2017-06-14 09:12] #57 closed

[2017-06-14 10:07] mikehenrty commented on #12
No show stoppers raised from legal. Closing.

[2017-06-14 10:07] #12 closed

[2017-06-14 10:08] mikehenrty commented on #11
Sent over to legal, no show stoppers raised.

[2017-06-14 10:08] #11 closed

[2017-06-14 10:14] mikehenrty commented on #6
WebOps has committed to hosting our app in their infrastructure. They already have it working and will be ready to switch it on Friday.

[2017-06-14 10:14] #6 closed

[2017-06-14 10:15] mikehenrty commented on #56
voice.mozilla.org!

[2017-06-14 10:15] #56 closed

[2017-06-14 10:33] mikehenrty commented on #13
The doc linked by George will be the living documentation for this. Closing.

[2017-06-14 10:33] #13 closed

[2017-06-14 12:00] mikehenrty commented on #34
Assigning over to @porfitron and @geroter  as they is working on this.

[2017-06-14 12:15] mikehenrty commented on #14
https://bugzilla.mozilla.org/show_bug.cgi?id=1371458

Estimated Risk: low

[2017-06-14 12:15] #14 closed

[2017-06-14 12:16] mikehenrty commented on #4
Not going to get to this before release.

[2017-06-14 13:27] kdavis-mozilla opened #89 "There is not background process that converts new files to mp3's"
The conversion is implemented by this method [convertMissingToMP3s()](https://github.com/mozilla/voice-web/blob/master/server/src/lib/files.ts#L111)

However, this method is only called once here [files.ts:214](https://github.com/mozilla/voice-web/blob/master/server/src/lib/files.ts#L214) in the [init()](https://github.com/mozilla/voice-web/blob/master/server/src/lib/files.ts#L168) method which on

[2017-06-14 16:01] #68 closed

[2017-06-14 16:01] #89 closed

[2017-06-14 18:38] kdavis-mozilla opened #91 "Listen doesn't work"

[2017-06-14 21:59] #58 closed

[2017-06-14 22:06] andrenatal commented on #81
fixed by [this](https://github.com/mozilla/voice-web/commit/f02e385eba146e6dba3d65e71c5fa8e2feb16ff6)

[2017-06-14 22:06] #81 closed

[2017-06-15 05:14] kdavis-mozilla commented on #41
Hack fixed as part of 83088c8

See the line here [clip.ts:L184](https://github.com/mozilla/voice-web/blob/master/server/src/lib/clip.ts#L184) where upon each audio save the list of unconvered mp3's is re-created and converted.

[2017-06-15 05:21] kdavis-mozilla opened #94 "Audio submission on Firefox is slow"

[2017-06-15 05:51] #84 closed

[2017-06-15 05:53] kdavis-mozilla opened #96 "README.md doesn't indicate sox w/ogg support is required"

[2017-06-15 05:58] #96 closed

[2017-06-15 05:59] kdavis-mozilla commented on #41
My fix is not idea but it works. So I'm going to close.

[2017-06-15 05:59] #41 closed

[2017-06-15 06:35] cnevinc opened #98 "Test Web page is down, SOX error"
I just build the Android app. https://test.mozvoice.org/record is down.

[2017-06-15 08:12] kdavis-mozilla opened #99 "Switching sentences while recording isn't reflected in final submit strings"
If I select a different sentence while recording, because say the sentence is annoyingly long, the new sentence I select is not presented in the final submit page only the original sentence that was too long. However the audio is indeed that of the right sentence.

[2017-06-15 10:25] #99 closed

[2017-06-15 10:45] kdavis-mozilla commented on #98
Know issue. It looks like there's a problem with the [sox](http://sox.sourceforge.net/) install on the server and as far as I know @mikehenrty is the only one with ssh access.

[2017-06-15 10:54] mikehenrty commented on #98
Hi @cnevinc, thanks for the report! Yup, I am working on this and should have things back up today.

[2017-06-15 12:09] mikehenrty commented on #98
Site's back up! Thanks again.

[2017-06-15 12:09] #98 closed

[2017-06-15 13:12] mikehenrty commented on #87
@andrenatal can you have a look at this? the link you can use to test this is the "Contribute on github" link in the footer of the app.

[2017-06-15 14:28] kdavis-mozilla opened #101 "Streamed mp3's should be removed from the server in a webworker thread"

[2017-06-15 15:15] #101 closed

[2017-06-15 15:26] mikehenrty opened #103 "Add CSP header"
This will increase our security rating our Nubis.

[2017-06-15 16:11] andrenatal commented on #87
sure thing.

[2017-06-15 18:21] gozer opened #106 "Now requires sox, needs installing"

[2017-06-15 18:27] gozer opened #108 "Support outbound HTTP proxies"
Nubis accounts require all traffic to transit via our outbound http proxies, convenienelty found via the HTTP_PROXY environment variables.

[2017-06-15 18:49] #106 closed

[2017-06-15 20:24] #108 closed

[2017-06-15 20:58] kdavis-mozilla opened #110 "Switch from sox conversion to another transcoder"

[2017-06-16 06:17] kdavis-mozilla opened #111 "Re-Write Audio Pipeline"
- [x] Save only mp3 to S3, i.e. transcode before writing to S3
- [x] Remove transcoding from clip.ts:L184 and files.ts:L246 as it'll not be needed
- [x] Create background thread using setInterval() to populate this.mp3s  of Files
- [x] Addess issue 110 as a separate commit

Hopefully this should solve issue #94 (Audio submission is slow)

[2017-06-16 06:33] mikehenrty commented on #63
Complete

[2017-06-16 06:33] #63 closed

[2017-06-16 06:36] mikehenrty commented on #34
Looks like we have a pretty solid idea of the text now on this doc:
https://docs.google.com/spreadsheets/d/1aFG_Mvbj_RH9vS_QvCNDsG8oymONj_xh-Bkc1KEYTyY/edit#gid=0

closing

[2017-06-16 06:36] #34 closed

[2017-06-16 09:34] kdavis-mozilla opened #112 "Listen and Home pages cache the null validation sentence"
When everything has started and there are no sentences in S3 a null appears in the validation area.

If subsequently sentences are added the null remains despite sentences existing in S3

This is validated by a reload of the Listen or Home page when a null appears.

This is *not* critical as the easy solution is not code based, simply add one or more recordings to S3 before release.

[2017-06-16 10:40] #111 closed

[2017-06-16 14:54] #110 closed

[2017-06-16 15:12] kdavis-mozilla opened #115 "Remove sox from nodes as ffmpeg not sox is now used"

[2017-06-16 16:00] kdavis-mozilla opened #116 "Switch to streaming audio from S3 instead of from the nodes"

[2017-06-16 20:07] mikehenrty opened #117 "handle gracefully when user denies the microphone on all platforms"

[2017-06-16 20:21] mikehenrty opened #118 "add stats section"
as a poor man's substitute for achievements, we can at least put number of recordings and verifications on the profile page

[2017-06-16 20:53] #87 closed

[2017-06-16 23:50] andrenatal opened #121 "Weird sentences."
Jofish reported this:

![pasted image at 2017_06_16 04_47 pm](https://user-images.githubusercontent.com/973388/27248095-f0c13236-52b3-11e7-8b3e-bc9ca5e5962f.png)

[2017-06-17 09:12] kdavis-mozilla commented on #94
Actually this seems like a Firefox problem. On Chrome it's fast.

[2017-06-17 09:16] kdavis-mozilla commented on #116
Referred to wrong issue in commit message should have been #121

[2017-06-17 09:16] kdavis-mozilla commented on #121
Closed with 0f049ff

[2017-06-17 09:16] #121 closed

[2017-06-17 09:17] kdavis-mozilla opened #123 "Display error message when browser does not support microphone. Prompt them to download FF or iOS app."

[2017-06-17 10:05] kdavis-mozilla commented on #31
Wikipedia + Gutenberg got thumbs up

[2017-06-17 10:05] #31 closed

[2017-06-17 10:07] kdavis-mozilla commented on #48
Going to close as it refers to older UI/UX

[2017-06-17 10:07] #48 closed

[2017-06-17 10:21] kdavis-mozilla opened #124 "Listening for validation works in prod but not in staging envornment"
Generally the error is something like

in Firefox and

in Chrome

[2017-06-17 10:35] kdavis-mozilla commented on #124
@gozer Maybe you can shed light on why this is so.

[2017-06-17 10:57] mikehenrty commented on #121
Well, those aren't the only "weird" sentences, for instance (https://github.com/mozilla/voice-web/blob/master/server/data/temporary-sentences-2.txt#L865)

His landlady came to the door, loosely wrapped in dressing gown and shawl; her husband followed ejaculating.

If we are using text from material that is 50+ years old, I think we will need to verify each sentence before in goes into the database

[2017-06-17 10:59] mikehenrty commented on #123
@kdavis-mozilla Can you tell me more here? Do you mean, that recording won't work?

[2017-06-17 11:03] kdavis-mozilla commented on #123
Just to let the mobile Safari users know that they should be using the iOS app and not the Safari browser as the browser will not be able to record.

[2017-06-17 11:09] mikehenrty commented on #123
We need this for any browser that doesn't support mic, so I've updated the title here.

[2017-06-17 12:10] kdavis-mozilla commented on #124
@mikehenrty Any idea on this?

[2017-06-17 12:33] mikehenrty commented on #124
@kdavis-mozilla perhaps staging doesn't have proper S3 creds?

[2017-06-17 12:58] kdavis-mozilla commented on #124
@mikehenrty To be sure I'd have to see the error logs.

[2017-06-17 13:08] gozer commented on #124
Stage and Prod are exactly the same.

Only difference is that staging bucket contains audio clips that have been put there that are much older in terms of code base.

I've seen mp3 with zero size in there when sox was having issues transcoding.

Could that be it ?

[2017-06-17 13:12] kdavis-mozilla commented on #124
Could be. I just got one clip to play from stage, the first time that's happened. So it seems as if this hypothesis is a good guess.

[2017-06-17 13:44] gozer commented on #124
You should both be able to access stage logs from the SSO Dashboard now

tag:voice.node.stdout

Will contain all output from the node processes

[2017-06-17 14:44] kdavis-mozilla opened #126 ""Sure is" button for the "Listen" tab's validation does not advance to the next clip"
Seems to be client side. The Web console gives as an error
[code]

[2017-06-17 18:17] mikehenrty commented on #78
Fixed

[2017-06-17 18:17] #78 closed

[2017-06-17 19:15] #126 closed

[2017-06-17 19:15] #124 closed

[2017-06-17 19:17] kdavis-mozilla opened #128 "Validation should collect validation data"

[2017-06-17 19:19] #24 closed

[2017-06-17 20:23] mikehenrty opened #130 "[iOS] If app is launched while the phone is offline, app will never load even when internet is restored"
Right now, if the app is launched when offline, the only way to get it to work is to kill the app and relaunch after connecting to the internet. Instead, the app should detect when the internet comes back and reload the webview.

I could swear I saw this working at some point. In any case, this will block the ios release.

[2017-06-17 20:49] mikehenrty commented on #130
@andrenatal  can you take a look at this?

[2017-06-17 20:55] mikehenrty commented on #50
I'm hoping this is fixed in 9f45d940eecd466bb7289313e249ba2e14a12284. Will close this if so.

[2017-06-17 21:46] mikehenrty commented on #123
fixed in https://github.com/mozilla/voice-web/commit/b60e187c58c15376443a57417cb6912796c453dd

[2017-06-17 21:46] #123 closed

[2017-06-18 06:06] mikehenrty opened #131 "make sure to add listen and speak counts to use"
maybe even display their stats somewhere (upper left?)

[2017-06-18 10:18] kdavis-mozilla opened #132 "Users should not be able to validate on their own clips"

[2017-06-18 11:00] #128 closed

[2017-06-18 14:05] kdavis-mozilla commented on #116
I'm going to punt on this for now as it works fine without this change.

[2017-06-18 14:06] kdavis-mozilla commented on #115
We can punt on this for now, as having sox installed but unused on the nodes is fine.

[2017-06-18 14:07] #132 closed

[2017-06-18 15:48] kdavis-mozilla opened #135 "Save profile data to MySQL"

[2017-06-18 16:34] gozer commented on #115
I'll get to it Monday. Keeping dependencies clean is a good practice, but absolutely not time critical!

[2017-06-18 19:03] andrenatal commented on #50
Worked for me.

[2017-06-18 19:13] kdavis-mozilla commented on #130
@andrenatal Can you add this interval check right now. It needs to be there for the release.

[2017-06-18 20:04] #130 closed

[2017-06-18 20:05] #50 closed

[2017-06-18 21:19] kdavis-mozilla opened #137 "No circle.png exists, but the app attemts to pre-load it and thus hangs"
`app.tsx` tries to pre-load `/img/circle.png` but no `/img/circle.png` exists. So it hangs.

[2017-06-18 21:19] kdavis-mozilla opened #138 "The file /img/circle.png needs to be added to the repo"

[2017-06-18 21:23] #137 closed

[2017-06-18 21:36] mikehenrty commented on #131
fixed in b4dd04d33248ff913de49cc25ec02f77066167fa

[2017-06-18 21:36] #131 closed

[2017-06-19 07:51] kdavis-mozilla commented on #138
Fixed 1d3f07b

[2017-06-19 07:51] #138 closed

[2017-06-19 12:36] kdavis-mozilla opened #140 "Save demographic data to S3"

[2017-06-19 14:31] paulsilaghi opened #141 "[Win10] Edge, add message to say "Browser not supported""
[Affected versions]:
- Microsoft Edge v25

[Affected platforms]:
- Win 10 x64

[Steps to reproduce]:
1. Open https://voice.allizom.org/

[Expected result]:
- The app is displayed and works properly

[Actual result]:
- The app loads, but the UI is broken, basic functionality doesn't work (speak, listen)

[2017-06-19 14:37] paulsilaghi commented on #141
If the browser is not supported, there should be an error message explaining this.

[2017-06-19 14:40] paulsilaghi opened #142 "[Win10] The app doesn't load on IE11"
[Affected versions]:
- Microsoft IE11

[Affected platforms]:
- Win 10 x64

[Steps to reproduce]:
1. Open https://voice.allizom.org/

[Expected result]:
The app is displayed and works properly /
If the browser is not supported, there should be an error message explaining this.

[Actual result]:
The app doesn't load, black circle spins forever

[2017-06-19 14:49] paulsilaghi opened #143 "[Win10] The app doesn't load on Safari"
[Affected versions]:
- Safari 5.1.7

[Affected platforms]:
- Win 10 x64

[Steps to reproduce]:
1. Open https://voice.allizom.org/

[Expected result]:
The app loads and works properly /
If the browser is not supported, there should be an error message explaining this.

[Actual result]:
The app doesn't load, black circle displayed on the homepage

[Notes]:
'Safari' browser is no longer supporter on

[2017-06-19 14:56] #140 closed

[2017-06-19 15:14] paulsilaghi opened #145 "[Mac] Background image flashes on Safari"
[Affected versions]:
Safari 10.1.1

[Affected platforms]:
Mac OS X 10.12.5

[Steps to reproduce]:
1. Open https://voice.allizom.org/
2. Go to the "Speak" page

[Expected result]:
The app loads and works properly /
If the browser is not supported, there should be a notification message on the homepage explaining this.

[Actual result]:
The app loads, a broken (flashing) animation is displayed on th

[2017-06-19 15:35] paulsilaghi opened #146 "'Tap to play/stop' text is crossed out by black border"
[Affected versions]:
- Chrome 59, Opera 45
- doesn't reproduce in Firefox 54

[Affected platforms]:
Win 10

[Steps to reproduce]:
1. Open https://voice.allizom.org/
2. Go to the "Speak" page
3. Complete 3 recordings

[Expected result]:
"Review recordings" page displayed properly.

[Actual result]:
'Tap to play/stop' text is crossed out by black border
![tap to play stop chrome](https://user-images

[2017-06-19 15:40] paulsilaghi opened #147 "'Submit' recordings button is cropped"
[Affected versions]:
- Firefox 54
- doesn't reproduce in Chrome 59

[Affected platforms]:
- Win 10 x64

[Steps to reproduce]:
1. Open https://voice.allizom.org/
2. Go to the "Speak" page
3. Complete 3 recordings

[Expected result]:
"Review recordings" page displayed properly.

[Actual result]:
'Submit' recordings button is cropped

![submit button cropped](https://user-images.githubusercontent.com

[2017-06-19 16:54] kdavis-mozilla opened #148 "Review texts for numbers"

[2017-06-19 16:57] kdavis-mozilla commented on #148
Check server/data/funny.txt

[2017-06-19 17:10] #148 closed

[2017-06-19 17:14] mbebenita opened #150 "Severe performance issues in Chrome and Firefox"
The the website slows down my system to a crawl when running in Chrome. Turning on paint flashing shows that the entire page is re-rendered and CPU usage when idle is around 10-25%. I suspect it may be the "Click here to help me learn animation."

Firefox is around 40%-50%, just showing the main voice.mozilla.org page and not interacting at all.

[2017-06-19 17:20] mbebenita opened #151 "Scroll bar appears even though the page is fully visible and doesn't need to be scrolled."
![image](https://user-images.githubusercontent.com/311082/27297222-e213eaea-54d8-11e7-9722-91f11a58179c.png)

[2017-06-19 17:21] mbebenita opened #152 "Odd spacing in the dotted lines."
![image](https://user-images.githubusercontent.com/311082/27297274-0ce83ffa-54d9-11e7-91b8-89bcf5f0171e.png)

[2017-06-19 17:23] mbebenita opened #153 "Inconsistent padding in wordmark"
![image](https://user-images.githubusercontent.com/311082/27297290-1b4b27ec-54d9-11e7-8a45-ed3cd845388b.png)

It also appears in the footer,

![image](https://user-images.githubusercontent.com/311082/27297317-389d063a-54d9-11e7-86b7-52782146f6b9.png)

[2017-06-19 17:26] mbebenita opened #154 "Left side of the background image doesn't have a smooth curve like the right side."
![image](https://user-images.githubusercontent.com/311082/27297423-a8f04154-54d9-11e7-91e1-37840a87eed1.png)

![image](https://user-images.githubusercontent.com/311082/27297410-9affb214-54d9-11e7-8dfb-3e7933a3449e.png)

Also, the distance is not equal on both sides.

[2017-06-19 17:29] mbebenita opened #155 "Gradient overlay looks a bit strange, since it doesn't always overlay the background image"
![image](https://user-images.githubusercontent.com/311082/27297536-0dff9ca2-54da-11e7-85b7-9f18225cfd2c.png)

[2017-06-19 17:31] mbebenita opened #156 "Inconsistent footer, when compared to Mozilla footer."
![image](https://user-images.githubusercontent.com/311082/27297566-2f4c7088-54da-11e7-9019-5cd7b71c0e76.png)

vs

![image](https://user-images.githubusercontent.com/311082/27297570-37bc7ed4-54da-11e7-9fdd-20cecf48f43b.png)

In particular, the font is not correct and the padding / spacing is off.

[2017-06-19 17:34] mbebenita opened #157 "Footer display problems"
![image](https://user-images.githubusercontent.com/311082/27297617-80fa82f8-54da-11e7-81d9-a1f9ebf58277.png)

There are some issues with vertical spacing here and also the "Content available ..." sentence should not wrap.

[2017-06-19 17:37] kdavis-mozilla commented on #156
See [Test Pilot](https://testpilot.firefox.com/).

[2017-06-19 17:40] mbebenita opened #158 "Flexible layout looks broken when it's in between states."
Wide screen

![image](https://user-images.githubusercontent.com/311082/27297851-5b77f780-54db-11e7-81e9-e442f0fc0042.png)

Slightly narrower screen:

![image](https://user-images.githubusercontent.com/311082/27297876-76c9001a-54db-11e7-88fc-db0fb83a8293.png)

A few pixels narrower:

![image](https://user-images.githubusercontent.com/311082/27297889-7f630018-54db-11e7-95a1-9706c822b964.png)

It loo

[2017-06-19 17:44] mbebenita opened #159 "Way too many font faces / styles / sizes, I count 13."
![image](https://user-images.githubusercontent.com/311082/27297996-dbd9b9c2-54db-11e7-9b96-ad451111e2a0.png)

![image](https://user-images.githubusercontent.com/311082/27297991-d7df2da2-54db-11e7-83ca-0558043eebe9.png)

![image](https://user-images.githubusercontent.com/311082/27298002-e0c79a12-54db-11e7-86db-bacd9c1e58b1.png)

![image](https://user-images.githubusercontent.com/311082/27298010-e53

[2017-06-19 17:46] mbebenita opened #160 "Make sure we have HiDPI assets."

[2017-06-19 17:47] mbebenita opened #161 "Vertical align button text to icons."
![image](https://user-images.githubusercontent.com/311082/27298221-b0aa6bba-54dc-11e7-9b4c-970638a7739e.png)

[2017-06-19 17:48] mbebenita opened #162 "Extra pixels at the ends of the divider looks funny to me."
![image](https://user-images.githubusercontent.com/311082/27298273-d1020396-54dc-11e7-8aa7-57aaa69c2978.png)

[2017-06-19 17:49] mbebenita opened #163 "Play / Pause button doesn't have a hover cursor state."
![image](https://user-images.githubusercontent.com/311082/27298302-ed001c0e-54dc-11e7-940b-e90e43c60297.png)

[2017-06-19 17:50] mbebenita opened #164 "Record button is not centered."
![image](https://user-images.githubusercontent.com/311082/27298329-0b9fb656-54dd-11e7-8337-d181feea3966.png)

[2017-06-19 17:50] kdavis-mozilla opened #165 "Demographic info log info appears on iOS"

[2017-06-19 17:51] mbebenita opened #166 "Use the same font for text that we want users to read."
![image](https://user-images.githubusercontent.com/311082/27298363-2d51700a-54dd-11e7-9970-ec6cd3b6f74b.png)

vs

![image](https://user-images.githubusercontent.com/311082/27298370-34948406-54dd-11e7-973a-25df27ea369f.png)

[2017-06-19 17:53] mbebenita opened #167 "Look into disabling the microphone if no recording is going on."
![image](https://user-images.githubusercontent.com/311082/27298442-7ae10880-54dd-11e7-869f-d4ed1696d452.png)

The recording icon is a bit ominous when you click away on another tab.

[2017-06-19 17:56] mbebenita opened #168 "Missing padding here:"
![image](https://user-images.githubusercontent.com/311082/27298476-9e454f02-54dd-11e7-813c-69304cea943b.png)

[2017-06-19 17:56] #165 closed

[2017-06-19 17:56] mbebenita opened #170 "The color of the heart makes the text difficult to read."
![image](https://user-images.githubusercontent.com/311082/27298545-fd2a2830-54dd-11e7-9756-f068fb41a613.png)

[2017-06-19 17:57] mbebenita opened #171 "The text says help us validate 5 sentences, but only one appears."
![image](https://user-images.githubusercontent.com/311082/27298578-1aa3d546-54de-11e7-93c6-a620dbd41ae0.png)

[2017-06-19 17:59] mbebenita opened #172 "Inconsistent buttons"
![image](https://user-images.githubusercontent.com/311082/27298616-3fb6d46e-54de-11e7-862d-b0b1cfb42d14.png)

![image](https://user-images.githubusercontent.com/311082/27298621-444a70f8-54de-11e7-91bc-7297e20d4640.png)

![image](https://user-images.githubusercontent.com/311082/27298631-49ac1ec0-54de-11e7-86de-9a7caa5d9cce.png)

They all seem like they zoom in by different amounts. It may be that t

[2017-06-19 18:00] mbebenita opened #173 "Email field doesn't look like the others."
![image](https://user-images.githubusercontent.com/311082/27298684-7ef37d76-54de-11e7-9d3c-025e3b55bbea.png)

The label inside should move outside.

[2017-06-19 18:02] mbebenita opened #174 "No clear indication that there is an error in the email field."
![image](https://user-images.githubusercontent.com/311082/27298746-c1e7dd34-54de-11e7-947c-c2491e4aeae7.png)

[2017-06-19 18:03] mbebenita opened #175 "Save changes button turns all yellow fields white, except for the email field."
![image](https://user-images.githubusercontent.com/311082/27298790-e77d8b98-54de-11e7-8aa8-5798030e8840.png)

[2017-06-19 18:05] mbebenita opened #176 "Review padding and alignment throughout the application"
In general, there are issues related to padding (mostly because it's inconsistent). For example:

![image](https://user-images.githubusercontent.com/311082/27298827-08edcb3a-54df-11e7-9f15-0cc7e5df0f94.png)

![image](https://user-images.githubusercontent.com/311082/27298849-1d422ab8-54df-11e7-9cb7-ce65cfe73c4d.png)

![image](https://user-images.githubusercontent.com/311082/27298866-287bdeec-54df-1

[2017-06-19 18:07] mbebenita opened #177 "Remove (or move) numbers in the top left corner."
![image](https://user-images.githubusercontent.com/311082/27298939-72e6b858-54df-11e7-9b72-96e05f0aeaa1.png)

[2017-06-19 18:08] mbebenita opened #178 "Text is not aligned to check box"
![image](https://user-images.githubusercontent.com/311082/27298967-8f0a074c-54df-11e7-85e2-9d02ec9f097b.png)

The placement of the "I'd like .." text doesn't look right.

[2017-06-19 18:10] mbebenita opened #179 "Right alignment on Profile screen is off."
![image](https://user-images.githubusercontent.com/311082/27299058-daf29f66-54df-11e7-9cd9-c5c6536fa4ad.png)

[2017-06-19 18:10] mbebenita opened #180 "Tabbing between profile fields should go from email->checkbox, not email->submit"

[2017-06-19 18:24] robertpara opened #181 "App is doubled vertically when clicking any nav menu items"
See screenshot. Repro'd in Chrome Version 59.0.3071.104, Windows 10

![image](https://user-images.githubusercontent.com/2819924/27299345-f5b6aac6-54e0-11e7-8746-af2a1ee566f7.png)

[2017-06-19 18:26] robertpara opened #182 "Loading animation is broken on IE11, Windows 10"
![image](https://user-images.githubusercontent.com/2819924/27299700-120f0b0e-54e2-11e7-9ff5-aa2664d51a6c.png)

[2017-06-19 18:37] mbebenita opened #183 "Test microphone access on Chrome / Windows"
I tried this several times and on Windows. I I had previously disabled the microphone, i can't get it enabled again for the app. I get stuck in a loop. Could just be me, but it would be good to make sure this is not happening for others as well.

[2017-06-19 21:21] andrenatal opened #184 "[iOS] Prevent webapp content from being selected inside the Webview"

[2017-06-19 21:40] andrenatal opened #185 "Long empty space on speak page before the footer"

[2017-06-19 22:32] mikehenrty commented on #183
Unfortunately, we have no control over this. If the user clicks the "Block Always" or "Never Allow" option, most user agents will not display a prompt to the user again until they manually allow this in settings.

[2017-06-19 22:53] mikehenrty commented on #177
These are just placeholders for the profile count. I wanted it to display somewhere out of the way. We will fix this when we make the achievements system, so we don't need this bug

[2017-06-19 22:53] #177 closed

[2017-06-19 22:56] mikehenrty commented on #175
This was by design. There are two save buttons, each only applies to it's own fieldset. My personal feeling is that it would be weird if I click the "Save" next to the email field, and it save my demographics information. Not sure about the other way around for the Save changes button

[2017-06-19 22:59] mikehenrty commented on #172
Nope they all zoom the same, by a factor of 1.1. I think the problem here is the inconsistent sizes with buttons.

[2017-06-19 23:01] mikehenrty commented on #168
This was done of purpose. We didn't have the budget left to design this page, so this is me winging it. I tried this with padding between the elements, but it looked even worse.

[2017-06-19 23:01] #168 closed

[2017-06-19 23:01] mikehenrty commented on #167
We have no control over this. FWIW firefox does the same thing

[2017-06-19 23:01] #167 closed

[2017-06-19 23:02] mikehenrty commented on #166
This was by design, and came from the designers (not me this time). That said, the listen widget needs some polish, but we don't need this bug for that.

[2017-06-19 23:02] #166 closed

[2017-06-19 23:03] mikehenrty commented on #162
This is one an inconsistency with how browsers display padded lines. We could consider using an image here instead.

[2017-06-19 23:04] mikehenrty commented on #161
These are temporary icons, haven't put in the shiny new ones yet.

[2017-06-19 23:06] mikehenrty commented on #160
We do have HiDPI assets, and indeed I've been using them as default (which is a different problem). @mbebenita are there any assets in particular that look funny?

[2017-06-19 23:12] mikehenrty commented on #159
Actually there are only 2 font-faces. Zilla slab, and sans serif. The different font-sizes are part of the design (to give it a kooky, off-grid look). Your feedback is noted, but short of a big redesign I don't see anything actionable here.

[2017-06-19 23:12] #159 closed

[2017-06-19 23:14] mikehenrty commented on #158
Looks like the "Voice Commons" title wraps when there's not enough horizontal space, which causes the navbar to be pushed down.

[2017-06-19 23:15] mikehenrty commented on #156
This was by design. There was some discussion internally about this, but we consciously went with the shorter footer.

[2017-06-19 23:15] #156 closed

[2017-06-19 23:18] mikehenrty commented on #157
@mbebenita if "Content available .." didn't wrap it wouldn't display on the screen. Are you suggesting this should scroll or clip? In any case I would disagree.

The vertical spacing is indeed a bug.

[2017-06-19 23:19] mikehenrty commented on #155
Those transparent backgrounds are always there in case something non-white goes behind the nav (which can happen in a few cases). Any ideas for a better approach @mbebenita ?

[2017-06-19 23:22] mbebenita commented on #157
This is a better screenshot, there's plenty of horizontal space.

![image](https://user-images.githubusercontent.com/311082/27309881-6107ebd0-550b-11e7-914c-07890cc1d2d2.png)

[2017-06-19 23:24] mikehenrty commented on #152
By design. I quite like it :)

[2017-06-19 23:24] #152 closed

[2017-06-19 23:27] andrenatal opened #186 "Fix app name"

[2017-06-19 23:28] mbebenita commented on #167
Are you saying there is no way to release access to the microphone? That's a bummer.

[2017-06-19 23:29] #186 closed

[2017-06-19 23:29] mbebenita commented on #166
What looks better to you? I find it strange that a different font is used.

[2017-06-19 23:32] mikehenrty commented on #167
As far as can tell, this icon will always display on both Chrome and FF once the user grants your page access to mic/camera. I'm not an expert, so if someone knows a way let's reopen this.

[2017-06-19 23:37] mbebenita commented on #159
I'm referring to the combination of font face/size/weight/style.

[2017-06-19 23:39] mikehenrty commented on #166
It is indeed strange, and breaks some common UX guidelines to mix serif and san serif fonts. That said, Mozilla breaks this same rule on the current Mozilla.org site, and we did ask the designers to get "kooky."

Let's re-examine this when we polish the listening screen a little more, as right now we are not doing the designer's vision justice.

[2017-06-19 23:43] andrenatal opened #188 "Error when validating samples"
I got this error in my third sample:

<img width="1134" alt="screenshot 2017-06-19 16 41 51" src="https://user-images.githubusercontent.com/973388/27310332-5b8b9dac-550e-11e7-860f-5b3e59ba03d7.png">

[2017-06-19 23:47] mikehenrty commented on #159
Understood. When we initially got the designs back from studio a few weeks ago, that would have been a good time to raise this issue. At this point though it's unclear what we should fix, how we should fix it, or how much time it would take me to fix it.

I think the best thing to do now is to go with what we have. That said, if you want to take a pass at this with a PR, we will definitely conside

[2017-06-20 00:01] andrenatal commented on #184
Test with this initially:

`{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
`

[2017-06-20 05:17] kdavis-mozilla commented on #188
What's your userid?

[2017-06-20 06:13] andrenatal commented on #188
1 - http://voice.mozilla.org/
2 - Firefox Dev Edition

[2017-06-20 07:15] kdavis-mozilla opened #189 "console.log() printouts appear on iOS"

[2017-06-20 07:22] #189 closed

[2017-06-20 07:36] kdavis-mozilla opened #191 "Blank lines in funny.txt yield blank sentences"

[2017-06-20 07:39] #191 closed

[2017-06-20 09:36] kdavis-mozilla commented on #188
Was able to repo. I'll explore more.

[2017-06-20 10:30] kdavis-mozilla opened #193 "Blank sentences from issue #191 are still in S3 and can be validated"
The blanks sentences from issue #191 are still stored in S3 and need to be removed.

[2017-06-20 10:34] kdavis-mozilla commented on #188
Just tried 100 times for a reproduction on localhost and couldn't reproduce it.
Just tried 100 times for a reproduction on staging and couldn't reproduce it.
Just tried 100 times for a reproduction on production and couldn't reproduce it.

My guess is that it's servers in the elastic group spinning up or down.

[2017-06-20 11:31] paulsilaghi commented on #182
dupe of https://github.com/mozilla/voice-web/issues/142

[2017-06-20 11:58] paulsilaghi commented on #193
Sometimes I click 'Play' and the button never reverts to its initial state (like the recording is playing forever).  Is it related to the blank sentences issue?

[2017-06-20 12:00] kdavis-mozilla commented on #193
Not related, but my guess that's from someone pushing record and letting it record for a long time while saying nothing.

[2017-06-20 12:24] paulsilaghi opened #194 "Pressing Y/N while the recording is playing, leaves the 'Play' button in the 'playing' state forever"
Affected versions]:
Chrome 59, Firefox 54

[Affected platforms]:
Win 10

[Steps to reproduce]:
1. Open https://voice.allizom.org/
2. Go to the "Listen" page
3. Play the recording
4. After the recording ends, play again and while playing press the "No" button

[Expected result]:
A next sentence is displayed. 'Play' button has the initial state.

[Actual result]:
A next sentence is displayed. 'Play'

[2017-06-20 12:30] kdavis-mozilla commented on #193
Likely, the easiest solution to this is to delete all data in S3 associated with these blanks sentences.

[2017-06-20 12:54] paulsilaghi opened #195 "'Speak' page blurry after hovering the 'Submit' button"
[Affected versions]:
- Chrome 59

[Affected platforms]:
- Win 10

[Steps to reproduce]:
1. Open https://voice.allizom.org/
2. Go to the "Speak" page
3. Complete 3 recordings
4. Hover the 'Submit' button with mouse

[Expected result]:
- 'Speak' page displayed properly

[Actual result]:
- Blurry text - screencast: https://www.screencast.com/t/qjq4CRtl

[2017-06-20 13:39] paulsilaghi opened #196 "Footer buttons should open pages in new tabs on desktop"
Since 'Cookies', 'Legal', 'Creative Commons License' buttons are pointing to other domains, they should open pages in new tabs instead of the current tab, in order not to close the user's app.

[2017-06-20 13:46] kdavis-mozilla commented on #196
What about iOS?

[2017-06-20 14:11] paulsilaghi commented on #196
Similar behavior on iOS - the above pages are opened in the same screen of the app. I'm not exactly sure what's suppose to happen here. The top 'Close' button from the footer pages quickly takes you back on the app screen, so it looks ok IMO.

[2017-06-20 14:17] kdavis-mozilla commented on #196
Sorry I wasn't clear enough.

As both the iOS and WebApp are targeting the same code, if we have the WebApp open a tab for the 'Cookies', 'Legal', and 'Creative Commons License,' how will that effect the iOS app as the iOS app has no notion of 'tabs'.

[2017-06-20 14:52] paulsilaghi opened #197 "[iOS] Scrolling doesn't work on iPad 4"
Device: iPad mini 4
OS: iOS 10.3.1

Scrolling doesn't work, so I'm not able to see the footer on the homepage.
Note that this doesn't reproduce on iPhone 6S / iOS 10.3.3.

[2017-06-20 14:55] paulsilaghi commented on #196
I can't answer to this question, we should probably ask an iOS developer.

[2017-06-20 15:04] kdavis-mozilla commented on #196
@andrenatal Could you comment?

[2017-06-20 15:05] paulsilaghi commented on #196
Actually there must be a way: the 'learn more' link from the privacy opens the page in a new tab on desktop, but uses the same screen on iOS.

[2017-06-20 15:42] kdavis-mozilla opened #198 "Terms and privacy statements should be updated"

[2017-06-20 15:48] andrenatal commented on #196
External links aren't open in the same screen, but in a browser view on top of the app. That's the standard behavior of every app on ios since doing that you retain the user and increase its engagement.

@mikehenrty asked for this here: https://github.com/mozilla/voice-web/issues/87#issue-235708554

[2017-06-20 15:49] andrenatal commented on #196
Reopening after realize the bug is actually related with desktop and not ios.

[2017-06-20 16:23] #198 closed

[2017-06-20 17:56] kdavis-mozilla opened #200 "Nodes start slowly"
Nodes start slowly and the ELB may consider the node as dead

[2017-06-20 19:18] kdavis-mozilla opened #201 "ToS link only appears in privacy pop-up on first contribution, should also be in footer"

[2017-06-20 20:08] andrenatal opened #202 "Show link to download iOS App on Mobile safari and Focus for iOS"

[2017-06-20 20:15] mbebenita opened #203 "Pressing back while recording leaves the recording session in an incorrect state."

[2017-06-20 20:16] mbebenita opened #204 "It's not possible to re-record the third sentence."

[2017-06-20 20:17] mikehenrty commented on #204
or any of the sentences once you get to the submit page.

[2017-06-20 22:11] jofish opened #205 "After we show the privacy policy, we should say thank you"
Right now we just dump the user back on the recording page. It's not clear what happened. We should have an interstitial dialog of some kind saying "Thank you! We'll add your sentences to the language model" or whatever.

[2017-06-20 22:11] jofish commented on #205
Sorry, this is in the IOS app.

[2017-06-20 22:12] jofish opened #206 "There's no feedback that it's actually recording other than the red icon"
Could we put in a wiggly line, proportional to volume, to make it's clear it's recording?

[2017-06-20 22:17] porfitron opened #207 "Open Graph Tags for Web Site"
As a visitor excited about Project Common Voice, I want to share it on Facebook and Twitter, and have the proper image and copy populate my social media post.

`<meta property="og:type" content="product">`
`<meta property="og:title" content="Project Common Voice by Mozilla">`
`<meta property="og:url" content="https://mzl.la/voice">`
`<meta property="og:image" content="/img/common_voice-open-graph.

[2017-06-20 22:19] mikehenrty commented on #205
Yeah, this is a problem. We have a whole onboarding flow we are working on (which includes what happens after your first submission. Stay tuned!

[2017-06-20 22:20] mikehenrty commented on #206
Again, this is down to time constraints, but yes better feedback for the recording page is in the works.

[2017-06-20 22:28] #207 closed

[2017-06-20 22:47] #201 closed

[2017-06-21 09:43] paulsilaghi commented on #183
In Chrome, you have to click on the left of the location bar and then allow the mic from the list. I'm very happy to say Firefox has a better permissions handling.

[2017-06-21 09:46] #200 closed

[2017-06-21 10:05] paulsilaghi opened #209 "Some sentences are written with capitals"
Chrome 59, Win 10
Not sure if expected or not, but we may want to keep the consistency.

![capitals](https://user-images.githubusercontent.com/29535384/27378950-2986188a-5682-11e7-9619-93c07ca8a81a.png)

[2017-06-21 10:09] paulsilaghi commented on #188
Just got a 'null' sample on https://voice.allizom.org.
Chrome 59, Win 10.
![null listen](https://user-images.githubusercontent.com/29535384/27379142-d2abbc08-5682-11e7-8d2b-e05753629c51.png)

[2017-06-21 10:12] kdavis-mozilla commented on #209
It is on purpose[[1](https://github.com/mozilla/voice-web/blob/master/server/data/funny.txt#L35)]. It's a joke[[2](http://funnytweeter.com/me-ah-now-i-will-drift-gently-off-to-dreamland-refrigerator-i-shall-make-us-some-ice-cubes/)].

[2017-06-21 10:34] kdavis-mozilla commented on #188
@paulsilaghi Did you have this happening more than once?

[2017-06-21 11:57] paulsilaghi commented on #188
Yes, reproduced again after validating ~50 recordings.

[2017-06-21 12:53] kdavis-mozilla commented on #188
@paulsilaghi I'm not sure if this is a code bug or infra bug as staging over the last 2-3 hours has been failing.

[2017-06-21 16:43] andrenatal commented on #188
Just got this issue too in my first sample.

On Jun 21, 2017 5:53 AM, "Kelly Davis" <notifications@github.com> wrote:

[2017-06-21 16:49] kdavis-mozilla commented on #188
@andrenatal Which issue? `null` or `undefined`? Which server too.

[2017-06-21 17:15] andrenatal commented on #188
Firefox for Android
voice.mozilla.org

![screenshot_20170621-094032](https://user-images.githubusercontent.com/973388/27397220-6f4323da-566a-11e7-9a93-b9080d3d5d87.png)

[2017-06-21 17:18] andrenatal opened #210 "It is not possible to listen for samples on Focus for Android"

[2017-06-21 17:19] globau opened #211 "yes/nope buttons have no feedback when clicked"
the yes/nope buttons have no feedback
so i clicked 'yes', thought it didn't work, and clicked it a few more times
_then_ i noticed the text was changing.
oops

[2017-06-21 17:20] globau opened #212 "shouldn't be able to click yes/no without having first played the sample"
when validating sentences it shouldn't be possible to click yes/nope without having first played the sample.

[2017-06-21 17:33] jmontane opened #213 "Add multilanguage support"
Please, add multilanguage support. I mean made web, iOS and Android apps translatable and supporting recording for more languages besides English. For instance: Spanish, French, German, Catalan....

I'm sure these feature will be a must in near future, so It's better adding and desing them at start point.

[2017-06-21 18:09] andrenatal opened #214 "Scrolling is not working on Focus for iOS"

[2017-06-21 18:24] andrenatal opened #215 "Recording is not working on Focus for Android"

[2017-06-21 18:26] andrenatal commented on #215
When we push the recording circle, we get a popup message saying we need to allow microphone access, and when we hit 'Retry' the page reloads.

[2017-06-21 19:01] kdavis-mozilla opened #216 "glob of mp3 voted on somtimes null"

[2017-06-21 20:23] mikehenrty commented on #215
For now, I've added the "Platform not supported" message for focus on both ios and android

https://github.com/mozilla/voice-web/commit/ef065c507a394ec8bb2178268b038b1af409e12a

[2017-06-21 21:46] andrenatal commented on #215
On iOS browsers, the link to the App store should be displayed.

[2017-06-21 22:15] #216 closed

[2017-06-21 22:51] kdavis-mozilla commented on #215
This is blocked by mozilla-mobile/focus-android#805 which indicates Focus does support recording.

[2017-06-22 05:08] mikehenrty commented on #209
no one ever said they were good jokes ;)

[2017-06-22 05:08] #209 closed

[2017-06-22 05:53] kdavis-mozilla commented on #210
This is blocked by mozilla-mobile/focus-android#804

[2017-06-22 05:58] kdavis-mozilla commented on #197
I can repo on

Device: iPad Air 2
OS: iOS 10.3.2

[2017-06-22 07:40] evaryont opened #218 "On the review page, there should be the ability to redo a sentence"
A couple of times I've noticed others, and myself, messing up the initial few words or trailing off or what have you. I haven't submitted my recordings that include mistakes (closing the tab and re-opening it) but others might have. It'd be great if in the review step of recording samples, there was an option to delete and redo a sentence. Perhaps I can speak more clearly, or carefully reread the

[2017-06-22 07:44] paulsilaghi commented on #209
:))
thanks for explaining, guys.

[2017-06-22 08:08] mikehenrty commented on #218
Hi @evaryont , thank you for the report!

I agree this is a big problem, and we have a bug for this here: #204. We'll use that bug to track this issue.

[2017-06-22 08:08] #218 closed

[2017-06-22 08:17] mikehenrty commented on #196
This is fixed with a couple of commits, but mostly this one: https://github.com/mozilla/voice-web/commit/249cebd7b85a03d77aba5d05c5542590d7e1a8f6

[2017-06-22 08:17] #196 closed

[2017-06-22 08:35] mikehenrty commented on #214
We put in a workaround for this in https://github.com/mozilla/voice-web/commit/507c2c98c689b57f82b5f88143622cad4a12d04f. Since we have no plans on supporting Focus on iOS for now, we don't need to track this any further.

[2017-06-22 08:35] #214 closed

[2017-06-22 08:37] mikehenrty commented on #202
fixed in https://github.com/mozilla/voice-web/commit/fff343c6b2cb29f2d9f0b039efee094bfda4c7dd

[2017-06-22 08:37] #202 closed

[2017-06-22 08:41] #116 closed

[2017-06-22 08:44] mikehenrty commented on #213
Hi @jmontane. Thank you for the issue. We do indeed want to add support for multiple languages, and I agree the sooner the better!

Right now, are working on finishing up the specs (https://mozilla.github.io/voice-web/docs/specs/index.html), but we will get to this soon.

[2017-06-22 08:46] mikehenrty commented on #195
@paulsilaghi thanks for the report here. can you use another image service than screencast? it requires flash for some reason, and i'd rather avoid installing that if i can :)

[2017-06-22 08:48] mikehenrty commented on #184
@andrenatal this seems fixed to me. what do you think?

[2017-06-22 08:49] mikehenrty commented on #182
I don't think this is a dupe of #142, since this one is only about the loading animation itself, whereas that one is about the app never even loading.

[2017-06-22 08:51] mikehenrty commented on #157
fixed in https://github.com/mozilla/voice-web/commit/249cebd7b85a03d77aba5d05c5542590d7e1a8f6

[2017-06-22 08:51] #157 closed

[2017-06-22 08:53] kdavis-mozilla commented on #184
@andrenatal @mikehenrty I can still select text on iPad + iPhone in the iOS app.

[2017-06-22 08:56] mikehenrty commented on #151
This is done on purpose to avoid nasty full page reflows when switching between pages that do overflow and those that don't. This is not an uncommon web practice as the superfluous scrollbar is a small price to pay for the jank it avoids.

[2017-06-22 08:56] #151 closed

[2017-06-22 08:58] mikehenrty commented on #150
This is extremely valuable info. I'll try to do something here before next week.

[2017-06-22 09:01] mikehenrty commented on #145
We don't support Safari, so the error message is correct. We don't tell people on the homepage this is not supported because we want them to be able to read and listen there. Once they get to the speak page, that's a perfect time to direct them into the iOS app (or better, install Firefox!).

@paulsilaghi can you tell me more about the broken flashing animation? which animation is that?

[2017-06-22 09:02] mikehenrty commented on #143
Yeah, let's not spend any time on Safari for Windows.

[2017-06-22 09:02] #143 closed

[2017-06-22 09:05] mikehenrty commented on #117
I think this is now working on the app, and in the browsers. If there are bugs left here, let's file individual ones for the broken cases.

[2017-06-22 09:05] mikehenrty commented on #118
We now display the record and listen count on all pages. Let's close this workaround bug while we work on the achievements piece elsewhere.

[2017-06-22 09:05] #118 closed

[2017-06-22 09:06] mikehenrty commented on #79
Fixed this a while back. Sorry, can't find the commit.

[2017-06-22 09:06] #79 closed

[2017-06-22 09:07] mikehenrty commented on #10
Had a meeting with legal today. We have addressed their final concerns (around privacy policy flow) today. Let's mark this done.

[2017-06-22 09:07] #10 closed

[2017-06-22 09:08] mikehenrty commented on #9
Experience review, app submitted and live on the app store.

[2017-06-22 09:08] #9 closed

[2017-06-22 09:12] kdavis-mozilla commented on #195
@paulsilaghi Is this text just moving or it it blurry? From the video it looks more like it's just moving a bit.

[2017-06-22 09:20] kdavis-mozilla commented on #185
@andrenatal What browser? Or was this on the app? Could you add a picture?

[2017-06-22 09:24] kdavis-mozilla commented on #183
As this is a UI/UX issue with the Chrome browser on Windows and out of our control, I'm going to close this.

[2017-06-22 09:24] #183 closed

[2017-06-22 09:37] kdavis-mozilla commented on #180
@mbebenita Could you give a bit more detail. Which browser, if it was a browser. What happened vs what was expected to happen.

From my own testing in Firefox on OS X the only strangeness is the first tab from the email field. It doesn't directly go to the checkbox. Is this what you mean?

[2017-06-22 09:41] kdavis-mozilla commented on #179
@mbebenita What browser and os were you using? For OS X + Firefox alignment seems fine to me

![image](https://user-images.githubusercontent.com/12054740/27427533-a213cf50-573f-11e7-837a-9e46abf6e220.png)

[2017-06-22 09:43] kdavis-mozilla commented on #178
I seem a similar alignment for OS X + Firefox

[2017-06-22 09:44] kdavis-mozilla commented on #178
@mbebenita What OS + Browser are you using?

[2017-06-22 09:49] kdavis-mozilla commented on #175
As this is by design I'm going to close.

[2017-06-22 09:49] #175 closed

[2017-06-22 09:52] kdavis-mozilla commented on #174
@mbebenita The red border seems clear to me. What enhancement would you suggest?

[2017-06-22 10:00] kdavis-mozilla commented on #171
@mbebenita I read this as a call to action, do five but here is your first.

[2017-06-22 10:02] kdavis-mozilla commented on #171
@mbebenita I guess we need to determine how other users see this.

[2017-06-22 10:04] kdavis-mozilla commented on #164
@mbebenita Which browser + os is this from? Or is it on the app?

[2017-06-22 10:08] kdavis-mozilla commented on #160
@mbebenita Do you have specific assets in mind?

[2017-06-22 10:12] kdavis-mozilla commented on #158
Can repo "Common Voice" wrap on Firefox on OS X

[2017-06-22 10:14] kdavis-mozilla commented on #155
@mbebenita Ideas?

[2017-06-22 10:35] kdavis-mozilla commented on #145
@mikehenrty @paulsilaghi Just loaded https://voice.mozilla.org/ on Safari 10.1.1 on OS X 10.11.6 and saw no "flashing animation" other than the standard startup screen.

[2017-06-22 10:35] kdavis-mozilla commented on #145
@paulsilaghi Can you give further details on the "flashing animation"?

[2017-06-22 10:41] kdavis-mozilla commented on #142
@paulsilaghi Can you re-test.

There was during development a moment where some resources we not checked in. (See issue #137) The initial load waited until these non-existent resource where there, and thus caused the black circle to spin forever.

So a re-test will determine if you saw issue #137  or a different bug.

[2017-06-22 10:43] kdavis-mozilla commented on #117
As it's working in the app and browser, voting to close.

[2017-06-22 10:43] #117 closed

[2017-06-22 10:46] kdavis-mozilla commented on #94
Seems to be fixed through the re-write of the audio pipeline

[2017-06-22 10:46] #94 closed

[2017-06-22 10:49] kdavis-mozilla commented on #75
A possible easy solution is to not deal with demographic data

[2017-06-22 11:20] kdavis-mozilla commented on #215
Changing priority as Focus can not record audio mozilla-mobile/focus-android#805

[2017-06-22 11:21] kdavis-mozilla commented on #210
Changing priority as focus can't play audio using our current setup mozilla-mobile/focus-android#804

[2017-06-22 11:48] paulsilaghi commented on #195
I think you're right, it's just moving a bit. Thanks, Kelly.

[2017-06-22 12:26] paulsilaghi commented on #142
Still repro on IE11 - Win 10 x64.
https://www.youtube.com/watch?v=rN6CG1rSsyE

[2017-06-22 12:32] paulsilaghi commented on #195
https://www.youtube.com/watch?v=SFNO8VQnF6k

[2017-06-22 12:34] kdavis-mozilla commented on #142
@paulsilaghi Thanks!

[2017-06-22 12:46] paulsilaghi commented on #145
the top animation the flashes over the navbar - https://www.youtube.com/watch?v=BzNm6cg1-nE

[2017-06-22 12:57] kdavis-mozilla commented on #145
@paulsilaghi Wow as we have the same Safari version it's down to OS X 10.11.6 vs 10.12.5!?

[2017-06-22 13:59] paulsilaghi commented on #145
I can also reproduce this on OS X 10.11.6, Safari 10.1.1 (11603.2.5), MacBook Pro Retina.

[2017-06-22 14:11] paulsilaghi commented on #145
Everything's fine on iMac OS X 10.12.6, Safari 10.1.2 - so I guess it's a retina related issue.

[2017-06-22 14:12] kdavis-mozilla commented on #145
@paulsilaghi Really strange! We're on basically the same machine but see different behavior.

I'm on a MacBook Pro (Retina, 15-inch, Mid 2014) with  OS X 10.11.6 using Safari 10.1.1 (11603.2.5) and I don't see that flashing.

What graphics card do you have on your MacBook Pro Retina? I've a Intel Iris Pro + NVIDIA GeForce GT 750M.

[2017-06-22 14:14] paulsilaghi commented on #145
MacBook Pro (Retina, 15-inch, Late 2013), Intel Iris Pro 1536 MB

[2017-06-22 14:31] kdavis-mozilla commented on #145
It doesn't look like we'll be able to solve this as it appears to be some deep MacBook Pro Retina issue.

So I'd motion to move this to "won't fix".

@mikehenrty What do you think?

[2017-06-22 18:36] jankeromnes opened #219 "It would be nice to show stats on the website"
On the website, it would be great to see e.g. how many samples were recorded, and how many were verified (possibly live stats).

[2017-06-22 18:41] kdavis-mozilla commented on #219
Actually it's there but not called out as such, the red and green numbers at the top left of the screen.

I'll take this as a request to call out that info.

[2017-06-22 18:42] mikehenrty commented on #219
Hi @jankeromnes Thanks for the bug report! This is definitely on our "must do" list. We especially want to set specific goals around, for example, number of clips to record, and put a progress marker up on the website. Stay tuned!

[2017-06-22 19:10] mbebenita opened #220 "Reword recording directions."
Currently, the text reads "Please read the above sentence and tap to record.", it would be more accurate to say: "Please tap to record and read the above sentence aloud."

[2017-06-23 00:43] #204 closed

[2017-06-23 00:44] mikehenrty commented on #146
fixed in https://github.com/mozilla/voice-web/commit/8203de2f4f9e618913c946d53d26d3143a9ddac1

[2017-06-23 00:44] #146 closed

[2017-06-23 00:50] mbebenita opened #221 "Figure out what the back button should do when reviewing (re-recording) sentences."
If the user clicks the X button to re-record a sentence then the red back button should probably take them back to the submit page, not the previous sentence.

[2017-06-23 03:56] mikehenrty commented on #221
I see two other possible options:
1. don't show back button when re-recording
1. don't show the back button at all now that we allow re-recording

[2017-06-23 04:32] mbebenita commented on #221
I think I'd vote for 1.

[2017-06-23 07:18] #194 closed

[2017-06-23 07:18] #203 closed

[2017-06-23 08:27] kdavis-mozilla commented on #220
I'm going to change this wording a bit to be even more clear. Instead of

I'm going to use

Just so we don't loose the sentence starts.

[2017-06-23 08:33] #220 closed

[2017-06-23 08:42] mbebenita commented on #220
👍

[2017-06-23 08:45] kdavis-mozilla commented on #193
@gozer TLDR Would is be possible to hand delete some data from the live S3 bucket?

A bit longer version: Previously the problem of issue #191 caused some sentences consisting only of white space to be presented to the users. These got saved in S3 along with their audio after people "read" them. After issue #191 got fixed, the offending sentences are still in S3 and occasionally people are asked t

[2017-06-23 08:55] GeekyShiva opened #224 "Common Voice Not supported on Focus for Android"
I was using firefox focus on android 6.0 Infocus device and common voice is not supported here

it says to download firefox or chorme to use it .
[screenshot](https://drive.google.com/file/d/0B9TkcFiJdIn8cjBwaUJvaFNadmM/view?usp=sharing)

[2017-06-23 09:10] kdavis-mozilla commented on #224
Yes this is a known issue.

To streamline the browsing experience and boil it down to it's most useful core Focus currently doesn't allow for recording audio. So, if one wants to contribute audio to the project on Android, one has to use Firefox or Chrome.

I'm sorry for the inconvenience.

[2017-06-23 09:12] kdavis-mozilla commented on #224
Closing as this issue duplicates issue #215

[2017-06-23 09:12] #224 closed

[2017-06-23 12:50] paulsilaghi opened #225 "[iOS] Long sentences don't fit the green container on iPhone SE"
device: iPhone SE
os: iOS 10.0.2
Doesn't reproduce on iPhone 6S/iOS 10.3.3.

![long sentences](https://user-images.githubusercontent.com/29535384/27482826-a08a8ad8-582b-11e7-84e8-c8d90149772e.PNG)

[2017-06-23 12:53] paulsilaghi opened #226 "[iOS] "X" button displayed on a new line on "Submit" recordings page on iPhone 6S"
device: iPhone 6S
os: iOS 10.3.3
Doesn't reproduce on iPhone SE/iOS 10.0.2 and iPad 4 mini/iOS 10.3.1.

![x button](https://user-images.githubusercontent.com/29535384/27482947-0da1c55a-582c-11e7-8eab-2b880ee07840.PNG)

[2017-06-23 14:15] kdavis-mozilla commented on #225
Duplicate of issue #74?

[2017-06-23 15:07] paulsilaghi commented on #225
I think #74 is about recording screen, here we are on the "listen" screen

[2017-06-23 15:39] mikehenrty opened #227 "add call to action to download iOS app for mobile safari users"
right now this is buried in the speak page, but we should add a bar for this

[2017-06-23 15:41] mikehenrty opened #228 "add some events to Google Analytics"
* recording
* submitting recordings
* listening
* profile filing out

[2017-06-23 15:53] mikehenrty opened #229 "fix ftu robot talking animations"
right now text gets cut off

[2017-06-23 15:59] mikehenrty opened #230 "robot talking ftu say help me learn to speak"
it should say something about help me learn to understand

[2017-06-23 16:01] mikehenrty opened #231 "listening widget on mobile view displays dotted line in weird place"
it now shows it under the "Yes" option, but not under the "No." we should just remove it

[2017-06-23 16:06] mikehenrty commented on #221
also, the numbers (3 of 3) are also confusing

[2017-06-23 16:07] mikehenrty commented on #221
also we could re-record in place

[2017-06-23 16:15] mikehenrty opened #232 "clear staging s3 bucket"
there is some weird data

[2017-06-23 16:17] mikehenrty opened #233 "Cancel should not refresh page on microhpone access dialog"

[2017-06-23 16:20] mikehenrty opened #234 "Unify Dialogs"
font is different, button side is different, hover state is different

[2017-06-23 16:21] mikehenrty opened #235 "after submitting voice samples, robot does not recenter on record page"

[2017-06-23 16:31] mikehenrty opened #236 "remove rebot talking text in ftu"
bump up speech bubble button
refine main paragraph text to better help with onbaording

[2017-06-23 16:31] mikehenrty commented on #229
we will remove the talking animation for now

[2017-06-23 16:42] mikehenrty commented on #225
ideally, the green box expands vertically, so let's investigate this

backup, just clip the text and descrease line-height

[2017-06-23 16:44] mikehenrty commented on #221
let's investigate re-recording in place, and do it if not too risky

if not, on re-record screen hide back button, and clip count

[2017-06-23 16:56] mikehenrty commented on #195
let's change the hover styling to color rather than zoom

[2017-06-23 16:58] mikehenrty commented on #188
hopefully this will be fixed in#193

[2017-06-23 16:59] mbebenita commented on #228
This is how we implemented this in another app.

https://github.com/wasdk/WasmFiddle/blob/master/src/State.tsx#L8

https://github.com/wasdk/WasmFiddle/blob/297fb3484c08f569063d2490cd6d5a35f20fa123/index.html#L30

[2017-06-23 17:01] mikehenrty opened #237 "double clikcing on ios app zooms into content"

[2017-06-23 17:03] mikehenrty commented on #237
can't repro

[2017-06-23 17:03] #237 closed

[2017-06-23 17:09] mikehenrty commented on #179
can't repro for now

[2017-06-23 17:09] #179 closed

[2017-06-23 17:15] mikehenrty commented on #171
Change text to say, Help us validate sentences.

[2017-06-23 17:19] mikehenrty commented on #163
maybe make the background lighter/darker when hover.

[2017-06-23 17:22] mikehenrty commented on #160
this was referring to the robots being fuzzy when zooming in

[2017-06-23 17:27] mikehenrty commented on #153
we need to add 1 or 2 pixels to padding on "Common Voice" to follow style guide

[2017-06-23 17:29] mikehenrty commented on #150
p1, to investigate

[2017-06-23 17:38] mikehenrty commented on #74
let's fix this in #225

[2017-06-23 17:38] #74 closed

[2017-06-23 19:06] kdavis-mozilla commented on #232
@gozer Is this possible to do? We don't have the credentials.

[2017-06-23 20:13] mikehenrty commented on #75
I think the more important thing here is that we need each user to agree to the terms if we are going to use their voice data.

The current thinking right now is that we will give them a version of the app that points to our staging server (test.mozvoice.org), and edit the code to always prompt for terms (and also we will put some cool sentences about net neutrality into the corpus).

[2017-06-23 20:15] mikehenrty commented on #153
we need to add 1 or 2 pixels to padding on "Common Voice" to follow style guide

[2017-06-23 21:20] mikehenrty commented on #197
@andrenatal can you have a look at this? is there a way we can re-enable top level scrolling on the ipad? and does it look ok if we do?

[2017-06-23 21:34] #236 closed

[2017-06-23 21:59] mikehenrty commented on #231
fixed in https://github.com/mozilla/voice-web/commit/246a60f5ada7ac7d89c357fcd96a9296705e7663

[2017-06-23 21:59] #231 closed

[2017-06-23 22:14] mikehenrty commented on #150
@mbebenita can you tell us if this is still happening?

[2017-06-23 23:49] gozer commented on #232
Sure, you could do it yourself via ssh and all that fun stuff, or I can do it in 2 minutes

[2017-06-24 00:30] #228 closed

[2017-06-24 01:42] gozer commented on #232
Deletion of all content in the staging bucket in progress...

[2017-06-24 01:55] gozer commented on #232
Done, it's empty now

[2017-06-24 01:55] #232 closed

[2017-06-24 02:14] #197 closed

[2017-06-24 02:30] andrenatal commented on #185
iOs

[2017-06-24 02:33] andrenatal commented on #184
Me too.

[2017-06-24 02:34] andrenatal commented on #185
this is gone.

[2017-06-24 02:34] #185 closed

[2017-06-24 07:20] kdavis-mozilla commented on #232
@gozer Thanks!

[2017-06-24 10:28] #193 closed

[2017-06-24 10:36] #171 closed

[2017-06-24 10:40] kdavis-mozilla commented on #150
@mbebenita As the Robot's s"speaking" is now gone can you confirm if this is still happening?

[2017-06-24 10:50] kdavis-mozilla commented on #188
@andrenatal @paulsilaghi This should be fixed with commit 617d796

If you see either issue here again please re-open.

[2017-06-24 10:50] #188 closed

[2017-06-24 10:57] a3nm opened #241 "Getting the same sentences multiple times"
As I user, when recording, I often get the same sentences multiple times -- sometimes you can get twice the same sentence in one batch of three recordings.

There should be some way to remember which sentences have already been served to a given session, and not serving them again once they have been recorded.

[2017-06-24 10:58] a3nm opened #242 "Accents of countries in which English is not an official language"
In the list of English accents, there are only accents for countries where English is a native language, but there are no foreigner accents (e.g., German, French...). I would propose adding them, or adding a more general "non-native" entry.

(Of course, maybe the project doesn't want to collect voice samples from non-native speakers, but then this should be indicated beforehand on the landing page

[2017-06-24 11:18] kdavis-mozilla commented on #242
We want non-native speakers _and_ this lack of "English with a German Accent" selection is a conscious choice.

If, for example, a German moves to Great Britain and learns English, then they would speak British English but with a German accent. They would not speak "English with a German accent", as "English with a German accent" does not really exist because there is no generic "English" accent.

[2017-06-24 11:36] a3nm commented on #242
OK, thanks for this clarification. I understand your point.

That said, maybe a clarification like this should be made near the "English accent" field on the profile (or maybe in the FAQ), because otherwise the options in the list give the impression that people outside of English-speaking countries are not supposed to contribute.

[2017-06-24 11:42] kdavis-mozilla commented on #242
Good point!

[2017-06-24 12:07] skorokithakis opened #243 "Add instructions for classification"
I tried to classify some sentences but wasn't sure what to do when people misread. For example, in one sentence, someone misread "in" for "is". Is that sentence supposed to be correct or not?

Some guidelines on the page would be great.

[2017-06-24 12:14] kdavis-mozilla commented on #243
If they don't read exactly the words in the sentence, then it should be counted as a "Nope"

[2017-06-24 12:15] skorokithakis commented on #243
Ah, good to know, thanks.

[2017-06-24 15:24] espadrine commented on #241
One part of it is that the sentence dataset is really small, at [188 sentences](https://github.com/mozilla/voice-web/blob/master/server/data/funny.txt) (I expected thousands.) May I suggest the use of [Wikisource](https://en.wikisource.org/wiki/Main_Page)? Something speech-heavy, like [Agatha Christie](https://en.wikisource.org/wiki/The_Secret_Adversary), or [modern speeches](https://en.wikisource

[2017-06-24 16:50] nclm opened #244 "Collaborate with VoxForge on a common library?"
Not sure if this is the right place for a suggestion, but couldn’t find another way:

[VoxForge](http://voxforge.org) does exactly what Common Voice is doing, although with an older interface. It‘s nice to have several initiatives to do voice collecting, but at one point the libraries of recordings associated with the original sentences would be better shared across the projects!

[2017-06-24 17:18] kdavis-mozilla commented on #244
About two years ago I'd talked to Ken MacLean  about a collaboration. We're open to working together if VoxForge is.

[2017-06-25 08:47] yarons opened #245 "Suggestion: Telegram bot"
Hey,
I wanted to present an idea original derived from @amire80's idea regarding contributing to the project using a Telegram bot, the user will be able to record itself and send it to the bot and also review the recording, also to review other people's recording, this could be a great breakthrough and there will be much more enagagement while not require any additional app development (backend is

[2017-06-25 09:29] amire80 commented on #245
A bit of explanation.

Telegram is just one example. There are other platforms that can do a similar thing—definitely Facebook Messenger and WeChat, and maybe also others. (WhatsApp is the most popular messenger platform, but as far as I know, it doesn't have an official bot API at the moment.)

A major advantage of such platforms is that they are used by nearly all smartphone users, and for nearl

[2017-06-25 16:51] SofiCgr opened #246 "Automatically detect too much noise in samples, prompt to re-record"
An active noise control must be adding. Many samples had a lot of noise or is broken. These samples will have to be re-recorded  and auto-remove. You must give this choice to the volunteers to re-recorded :) It is better to ask for something to say 3- 4 times the same samples. You will get better results! The fourth time he will say it better and you'll get cleaner samples :)

nice try! :)

[2017-06-25 19:31] mikehenrty commented on #75
In the end, we decided to deploy a version of the app that points to staging, and then on staging we use the `activate` branch that always prompts for terms of service.

[2017-06-25 19:31] #75 closed

[2017-06-25 22:38] mikehenrty commented on #195
fixed in: https://github.com/mozilla/voice-web/commit/20ce1af94ec14b75af5674cbc0a0454ca9c1c268

[2017-06-25 23:05] #158 closed

[2017-06-25 23:07] mikehenrty commented on #150
We've gotten rid of all animations on the homepage (robot speaking, pulsating buttons, spinning wheel, etc. On linux at least this appears to be solved. I'm closing for now, but let's re-open if this is still happening on osx.

[2017-06-25 23:07] #150 closed

[2017-06-26 00:30] #211 closed

[2017-06-26 00:32] mikehenrty commented on #221
it looks like @kdavis-mozilla was right, making this screen be able to re-record in place requires significant changes to the listen-box, so we will go with the second alternative: hiding back button and clip count

[2017-06-26 01:33] #226 closed

[2017-06-26 01:49] mikehenrty commented on #221
fixed in https://github.com/mozilla/voice-web/commit/bd1713282612c25b51288662c1f7de6aac143cb8

[2017-06-26 01:49] #221 closed

[2017-06-26 03:33] mikehenrty commented on #246
Hello @SofiCgr

We have made it so that you can now delete and re-record your voice samples. Does this address your concerns?

[2017-06-26 04:20] #227 closed

[2017-06-26 08:26] mikehenrty commented on #181
I just tested on windows 10 with chrome, and I couldn't reproduce. @robertpara can you still repro?

[2017-06-26 08:38] mikehenrty commented on #145
Won't fix it is.

[2017-06-26 08:38] #145 closed

[2017-06-26 10:43] SofiCgr commented on #246
hello @mikehenrty Thanks for your answer!

Just check the validating donations with "nope"

I checked same samples yesterday. Had a serious problem. This must be done automatically. My english is not very good but I want to help :) You can do that. When you see squared waves With high levels of waves than normal. Then you probably have noise. and you can remove this sambles and tell the volunteer

[2017-06-26 14:29] porfitron opened #250 "Can't review my recordings in iOS"
X and Play icons are light and unresponsive... only submit works

[2017-06-26 14:57] porfitron commented on #250
I can't preview or listen to other contributor submissions under Listen either.

[2017-06-26 15:03] SofiCgr commented on #112
Hello! image for this bug
![null_at_validate](https://user-images.githubusercontent.com/2266663/27545769-98c4ccc8-5a88-11e7-8933-e0df78e2ffd1.jpg)

[2017-06-26 18:45] mbebenita commented on #250
@mikehenrty this effectively brakes the iOS app.

[2017-06-26 20:30] SteveALee opened #251 "buttons like play and delete not working on ffx for android"
Subject says it all.

[2017-06-26 20:45] #250 closed

[2017-06-26 20:46] fiji-flo commented on #251
I'm looking at this. After a first investigation it looks like a issue with `onCanPlyThrough`.

[2017-06-26 21:49] #251 closed

[2017-06-26 21:52] robertpara commented on #181
can't repro anymore, looks fixed @mikehenrty

[2017-06-26 21:53] mikehenrty commented on #160
Since the robot asset is already being scaled down and is a vector png, I'm going to close this as Works For Me.

[2017-06-26 21:53] #160 closed

[2017-06-26 21:54] mikehenrty commented on #181
Great, thanks for the report and for following up @robertpara

[2017-06-26 21:54] #181 closed

[2017-06-26 21:57] mikehenrty commented on #174
Let's close this one as not actionable, but we'll leave the other profile bugs open to clean up the validation logic there ie. disabling buttons when they don't do anything.

[2017-06-26 21:57] #174 closed

[2017-06-26 23:42] mikehenrty commented on #246
We actually like having some background noise, because it makes the voice recognition agorithm able to understand us when there is background noise.

But if we have so much noise that a human cannot understand the audio, that is a problem.

That said, there might be some processing we can do (either with web audio, or the backend) where we can automatically filter clips with too much noise. We'll

[2017-06-27 00:44] mikehenrty commented on #245
First of all let me say that I love this idea, and thank you for putting your thoughts here :)

I have to admit, I'm sorta a n00b when it comes to Telegram bots. Can you tell me how the interaction might work? Would it be something like:
[code]

One issue I see is that we need every contributor to agree to our Terms of Service. I'm not sure how that interaction would work on Telegram (or any messa

[2017-06-27 05:08] yarons commented on #245
@mikehenrty LOL, well… sort of…

In Telegram it looks something like this:
(Welcome message) Hello and welcome to the Common Voice bot by Mozilla, please type /start to interact with the bot.
User: /start
Bot: How would you like to contribute? (Menu with speak and review appears, the user can select the desired activity)
User: /speak
Bot: Please record the following message: I have a colon full of

[2017-06-27 05:45] tomer commented on #245
It should be possible to provide TOS as a link or full content, and have the user click on "I agree" button prior to any other interaction with the bot.

[2017-06-27 05:49] amire80 commented on #245
In Telegram it's easy to attach buttons to a message. Real buttons, not just links. It can be Yes/No or anything else. And any server-side action can be associated with these buttons.

[2017-06-27 15:02] SofiCgr commented on #246
Something else that can be useful :)

So if we use one bandpass filter and we cut all the other noise  it will be easier to voice recognition agorithm

We want to recognize voice with some background noise. But with a lot of noise can not be recognized
Usually when the volume is too high we have deformation. This somehow need to check . My old pay speech recognition program had a bar and when I wa

[2017-06-27 16:00] kdavis-mozilla commented on #246
@SofiCgr We want to record the entire spectrum. We are creating a speech corpus that _can be_ used for STT, but can also be used for other applications. Prematurely manipulating the signal without all downstream applications in mind limits the usefulness of the corpus. Thus it is something we do not want to do.

[2017-06-27 16:14] SofiCgr commented on #246
@kdavis-mozilla
oh sorry :) I thought you want to do the voice synthesizer or speech recognition  and for these two noise is a real problem. but if you want to use them for other things the samples must be kept clean :)

[2017-06-27 16:42] kdavis-mozilla commented on #246
@SofiCgr for STT the noise isn't a problem; it's actually an advantage. A STT engine has to be robust against noise it encounters in the real world.

For TTS yes, noise is a problem. Doing TTS one would want to remove the noise.

However, this corpus is multi-purpose. So, we wouldn't want to remove noise at this early stage. We want to let the various users of the corpus remove or not-remove noise

[2017-06-27 17:24] SofiCgr commented on #246
@kdavis-mozilla The harmonics of voice they are not removed from what I said :) You can put the voice in whatever space you want with filters. The voice harmonic is the one you want to be clean for STT not noise :) but if you believe something different you can try :)

[2017-06-28 01:23] mikehenrty opened #254 "Intermittent failures dowloading /dist/bundle.js"
About every other request seems to fail. Could be an issue with our deployment. Investigating now.

[2017-06-28 03:13] mikehenrty commented on #254
@gozer Any idea's about this?

[2017-06-28 13:06] #246 closed

[2017-06-28 13:15] kdavis-mozilla commented on #254
@gozer It there any way we can escalate this? We're beginning a press push today and we would like to have the site working for the push.

[2017-06-28 14:24] kdavis-mozilla opened #255 "Better randomize validation sentences"

[2017-06-28 14:48] kdavis-mozilla opened #256 "Take votes in to account when presenting validation sentences"

[2017-06-28 19:12] mikehenrty commented on #254
Gozer fixed this by deleting a bunch of zombie auto-scaling groups. Site's back up functioning normally now.

[2017-06-28 19:12] #254 closed

[2017-06-29 13:56] paulsilaghi commented on #195
I still see a text moving right after the 'Submit' page is displayed, but unrelated to the hovering of the 'Submit' button - https://www.youtube.com/watch?v=G7jlX0mCJns

[2017-06-30 10:47] andrenatal opened #258 "Yes and nope buttons should be enabled only if the audio file was played until the end"

[2017-06-30 11:47] paulsilaghi opened #259 "Blank sentences on the "Speak" page after the privacy policy is declined"
- Chrome 59, Firefox 54
- Win 10, iOS 10.3.3/iphone 6S

[Steps to reproduce]:
1. Open https://voice.allizom.org/
2. Go to the "Speak" page
3. Complete 3 recordings
4. Press the 'Submit' button
5. Decline the privacy policy
6. Delete the recordings
7. Go to the "Speak" page and try to complete 3 recordings again

[Expected result]:
- all 3 sentences are displayed correctly

[Actual result]:
- 1st s

[2017-06-30 12:23] paulsilaghi commented on #225
As a result of the fix:
![image1](https://user-images.githubusercontent.com/29535384/27735390-ffd6b364-5da7-11e7-9e58-7f0d326b9f87.PNG)
![image2](https://user-images.githubusercontent.com/29535384/27735392-035108a0-5da8-11e7-833d-7fb76c05ce59.PNG)

[2017-06-30 13:18] kdavis-mozilla commented on #258
Duplicate of #212

[2017-06-30 13:18] #258 closed

[2017-07-01 20:54] a3nm opened #260 "Getting the same recording multiple times for validation"
On https://voice.mozilla.org/, "Help us validate sentences", I got the same recording three times in quick succession. I don't think it makes sense to ask the same user to validate the same recording more than once?

This may be related to #255

[2017-07-02 13:06] reinhart1010 commented on #23
Hello, how about adding some example sentences from Wiktionary and GNU Collaborative International Dictionary of English? They contain many short sentences, such as in the GNU Collaborative International Dictionary of English (from the definition of "master"):

Here's another example sentences from Wiktionary (from the definition of "whether"):

[2017-07-02 22:10] Phrozyn commented on #260
Yes. I too am seeing this behavior. Single reader, same sentences (about a handfull of different ones but always seem to repeat)  all seem to be the same reader, although I've submitted readings myself.

[2017-07-03 14:11] Omniscimus commented on #260
Duplicate of #241 @kdavis-mozilla

[2017-07-03 15:17] a3nm commented on #260
It's related but not a duplicate: this bug is about getting recordings for validation multiple times, but #241 is about getting the same sentence for recording multiple times.

[2017-07-08 22:39] mikehenrty opened #262 "Build stats page"
* how many total recordings
* how many hours
* how many people contributed
* how many validated sentences

[2017-07-12 15:21] gozer opened #263 "Increase nodeamon restart delay"
Right now, it's set to 100ms and it's quite fast and can cause restarts to fail,
as seen with the following snipped of logs:

[code]

In my opinion, should be set much higher, like 2500ms (2.5 seconds) or, alternatively,
the listen target should simply not watches for changes at all.

[2017-07-12 15:22] gozer opened #265 "Upgrade to Nubis v1.5.0"

[2017-07-12 15:54] #263 closed

[2017-07-12 15:54] #265 closed

[2017-07-12 18:25] #255 closed

[2017-07-12 19:23] ayushbansal07 commented on #259
Hi, I want to work on this issue. But, I am not able to run the webapp on my local machine.
I cloned your repo. Ran these 2 commands successfully -
npm install
npm install -g gulp
But when I run gulp, I get this error:

const APP_NAME = 'common-voice';
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Obje

[2017-07-12 20:04] mikehenrty commented on #259
Hi @ayushbansal07, this sounds like a nodejs version issue. What version of node do you use? If it's an older one, would you try upgrading to node v7 or v8?

[2017-07-13 13:27] orschiro opened #267 "Hitting "save" or "submit" buttons should give visual response feedback"
1. Go to https://voice.mozilla.org/profile
2. Edit your profile
3. Click on "Save"

It doesn't provide you with any feedback. Thus you don't know if it actually saved your changes.

[2017-07-15 05:09] orschiro commented on #260
This is just stupid and needs to be resolved quickly. It's really unmotivating if you want to contribute by approving submissions and every time you return to the page, you always get to hear the same submission.

[2017-07-15 05:13] orschiro commented on #262
There should be an individual stats page or section on your profile. Otherwise I lose interest as a contributor if I don't have any data or information about the impact and effect of my contribution.

What is being done with it? How do my contributions fit into the bigger picture?

[2017-07-15 07:06] pathaktejpal opened #268 "on profile page please add other countries in english accent"
Hi guys, I am from India and when I checked profile page I wanted to select Indian English. but it's not present and saw many other countries are also not present. so please if you can add it.

thank you.

[2017-07-15 07:08] pathaktejpal commented on #267
yes, +1 for it. I clicked about 5 times on save and after that, i just refreshed a page to find it does save our data but no confirmation.

[2017-07-15 09:58] dmateusp commented on #268
Some other significant European accents aren't there either, not sure a dropdown would be enough but rather a Search

[2017-07-15 10:10] pathaktejpal commented on #268
this kind of drop down will be best.
this will contain all the countries and let them allow to search for it inside drop down itself.

http://phppot.com/demo/dropdown-with-search-using-jquery/

[2017-07-15 12:03] Omniscimus commented on #268
Not including non-English accents was a conscious choice, see issue #242.

But I agree that Indian English should probably be in the list.

[2017-07-16 03:01] joshua-montgomery commented on #262
I feel the same way, we need to create some feedback that shows:

1. What is the goal - how many do we need?  I hear Google used 33,000 hours of data to train English.  Do we need this much data for each language?  Lets set a goal for each language, then have a party ( virtual or otherwise ) when our community reaches the goal.

How are my contributions relative to other contributors based on sign

[2017-07-16 03:02] joshua-montgomery commented on #260
I am currently getting "Null" - no recordings for validation.

[2017-07-16 06:43] orschiro commented on #262
A good example that comes to mind is Google maps. It's called local guide.
They give you challenges, points, badges and metals and unlock features
like becoming a reviewer or getting free Google drive space.

On Jul 16, 2017 5:01 AM, "Joshua Montgomery" <notifications@github.com>
wrote:

[2017-07-16 11:03] orschiro commented on #241
I think this should be dealt with high priority. If you as an avid and excited user get to see and record the same sentences over and over again, it takes away your motivation to contribute.

[2017-07-16 11:56] mikehenrty commented on #262
Hi both, thanks for your thoughts here. We do have some plans for an individual profile page that includes things like achievements and stats. See our spec:
https://mozilla.github.io/voice-web/docs/specs/index.html

That said, we are still deciding how to implement that and what to work on first, so your feedback is super helpful.

This bug however is more for us to have a meta-dashboard to quickl

[2017-07-17 05:40] orschiro commented on #262
@mikehenrty on what can I give my feedback?

On the Spec Export page you linked to, I have a lot of slides in the sidebar to choose from. Which one is the one you meant?

[2017-07-17 06:22] orschiro opened #269 "Why validate sentences?"
What's the reason why people have to validate sentences?

I would assume that people are capable of reading a short single sentences the way its written.

Why would I thus have to validate their sentence?

Or is the purpose more to ensure that what they said is actually understandably acoustically?

[2017-07-17 07:26] kdavis-mozilla commented on #268
I agree the lack of a India and South Asia accent is s bug.

[2017-07-17 07:33] kdavis-mozilla commented on #268
Added pull request in PR #270

[2017-07-17 09:13] lopis commented on #269
Because of griefing? People can read *if they want* but pranksters are bound to show up and ruing the party for everyone else.

[2017-07-17 09:16] lopis commented on #260
@orschiro I don't want to sound rude but did you consider contributing a fix? Software always has bugs. Calling it stupid really doesn't help the project.

[2017-07-17 11:03] orschiro commented on #260
@lopis, I apologise. I didn't want to sound rude. It just felt very frustrating in that moment for me as a user because I really want to contribute to the project by validating and recording.

I don't have the software skills to contribute a fix to this bug.

[2017-07-17 11:03] orschiro commented on #269
Fair point. I didn't think of trolls. Thanks!

[2017-07-17 11:03] #269 closed

[2017-07-17 11:21] lopis commented on #260
@orschiro I know you want to help; you and each one of us. But it helps to remember that it's only humans working on the other side. I also don't have the time to give more meaningful help to the project so I'll patiently wait :)

[2017-07-17 11:22] orschiro commented on #260
To help the project financially, what's the best place to donate? Mozilla directly?

[2017-07-17 12:23] mikehenrty commented on #260
Hi all, thanks for your interest in this bug.

We actually have a fix for this right now, but all weekend there have been thousands of active users (due to a campaign we ran in Firefox). We are waiting for this traffic to die down before deploying this fix.

Stay tuned!

[2017-07-17 12:25] mikehenrty commented on #260
We are not set up to take financial donations for Common Voice project. For now, reading sentences (and soon as we fix this, listening to sentences) is the best way to contribute directly to this project.

But you can always, of course, contribute money to the Mozilla project.
https://donate.mozilla.org/en-US/

[2017-07-17 14:34] mikehenrty commented on #241
Is this still happening? We have increased our sentences to several thousand (with more coming soon).

(Note, this is not a duplicate of #260, that one is about listening to sentence, this one is about recording. They come from entirely different pools).

[2017-07-17 14:47] mikehenrty commented on #262
@orschiro you can give your feedback on anything you would like, both in the app and on the specs, by filing github issues. The feedback I was mentioning was what you had already given in this bug.

For the spec, I was actually referring to the overall experience and not any single slide. That said, there is a slide called "Achievements" which can give you some information about the achievements p

[2017-07-17 15:10] mikehenrty commented on #269
Not just trolls, sometimes people have microphone issues, and sometimes people forget to "unmute" their microphone. Sometimes people submit after not recording anything.

So it's like you said, we need to make sure a human can understand the recording before we can expect a computer to do so.

[2017-07-17 15:53] mbebenita opened #271 "Null validation sentence."
This old bug still appears to be happening.

![image](https://user-images.githubusercontent.com/311082/28276992-5e6191ba-6acd-11e7-9019-ba19cc32dd00.png)

[2017-07-17 15:56] mbebenita commented on #271
This is always happening for me at the moment, in every browser.

[2017-07-17 16:18] andrenatal commented on #271
For me too:

<img width="1389" alt="screenshot 2017-07-17 09 17 07" src="https://user-images.githubusercontent.com/973388/28278137-d95cef42-6ad0-11e7-8567-2bd6c4dff016.png">

[2017-07-17 17:20] mikehenrty commented on #271
@mbebenita @andrenatal: should be fixed with the latest deployment. are you still seeing this issue?

[2017-07-17 17:22] mikehenrty commented on #268
We now have India & South Asia in the drop down. Thanks for the suggestion everyone!

[2017-07-17 17:22] #268 closed

[2017-07-17 17:22] mikehenrty commented on #268
and thanks @kdavis-mozilla for the fix!

[2017-07-17 17:23] kdavis-mozilla commented on #271
I'm not seeing it any more! :-)

[2017-07-17 17:23] mikehenrty commented on #260
This is now fixed in production. I gave it a try and it seems to be much better at randomization. That said, if this problem re-surfaces, please re-open this bug (or file a new one if you don't have access).

[2017-07-17 17:23] #260 closed

[2017-07-17 17:25] Omniscimus commented on #271
It's fixed for me as well :smile:

[2017-07-17 17:31] mikehenrty commented on #271
Let's close this for now. Feel free to re-open if the problem is still happening, or resurfaces.

[2017-07-17 17:32] mbebenita opened #272 "Flag potentially offensive content."
We should another button to the validation screen that allows users to flag content as being offensive. Offensive content should not be shown again for validation until we manually go through it.

[2017-07-17 17:33] mbebenita commented on #271
What was the problem? And, is it likely to surface again?

[2017-07-17 17:45] Omniscimus opened #273 "Recording validation criteria"
It's not entirely clear to me how strict I should be when validating recordings. For example, sometimes someone speaks a word slightly differently than in the sentence. For example, someone misreads it and says 'cars' instead of 'car'. Should I then mark it as invalid? Or how about 'brightest' instead of 'brightness'? Where should I draw the line?

Maybe the resulting AI would be able to correct i

[2017-07-17 17:45] mikehenrty commented on #271
The server was returning 500 errors when trying to fetch a random clip, which was mostly likely due to inconsistent data in the servers memory compared in S3. I believe @kdavis-mozilla had actually fixed this issue a while back in 94ab7fc209d3ef1179ed9d6d1f56d6d86680a27b, but we were waiting until the snippet campaign ran it's course to deploy (since it had been at least working up until today). O

[2017-07-17 17:59] Omniscimus commented on #271
It's actually still happening sometimes for me. After reviewing some 5 recordings, I get the same as OP's screenshot. Also the server seems to be down for me after that for a while, is this related? Once I got a blank page, once a 503 error...

[2017-07-17 18:07] mikehenrty commented on #271
Let's keep an eye on this. Those 503 errors happen when our system detects too much load and begins adding more servers to our deployment cluster to compensate. This can also cause the "Null" error reported here for the same reasons. Once the system stabilizes (which should only take a few minutes), we'll know if this problem is still happening.

[2017-07-17 18:14] mikehenrty commented on #273
Yeah, good point. If the spoken sentence is even off by 1 word, it's invalid. We need to make that clear in the description.

[2017-07-17 19:00] mbebenita commented on #271
Can we at least show something other than "null" in case of an error? Maybe, something about how the system is really busy.

[2017-07-17 23:19] wischi-chr opened #274 "Record HTML tags?"
I got some html tags (a title) and a doctype definition to record. Is that done on purpose?

[2017-07-18 07:16] Omniscimus commented on #272
What if a troll spends a couple of hours clicking 'offensive' though? There would be too much flagged content to review, and the system might run out of recordings for legitimate users.

[2017-07-18 07:51] orschiro commented on #241
@mikehenrty I am receiving a lot of new sentences now. Thanks!

[2017-07-18 07:53] kubawolanin commented on #213
Also looking forward to see this feature.
I'm willing to contribute to the Polish database.

[2017-07-18 07:58] DavidButterfield commented on #273
Relatedly, it would be nice to see the purported accent of the speaker -- if I hear an English accent from a "California speaker", I can know **not** to check "Yes".

A couple more buttons in addition to "Yes" and "Nope" might be helpful:  (1) "Skip" [give me a new sample to judge without recording an answer to the current one]; (2) and maybe "Accent Not Consistent With Profile".

[2017-07-18 08:02] mikehenrty commented on #272
That's a good point @Omniscimus, but let's deal with that problem when we get to it. There are some things we can do around heuristics that could make the process for less manual, but from what I've seen so far, trolls are a very small population of our users right now.

[2017-07-18 08:05] mikehenrty commented on #274
No, that's a bug! Please give us a screenshot if you see it happen again.

[2017-07-18 08:21] zbigniev opened #276 "Validation without listening"
Unless, already being done in background, 'Yes'/'Nope' in validation should not become active unless that person has heard the entire sentence. Currently, one can select 'Yes'/'Nope' without listening to the sentence.

If the listener does not want to listen to a sentence (maybe because it contains a word like 'Worcestershire' whose pronunciation the listener might not know), a 'Skip' option could

[2017-07-18 08:30] zbigniev commented on #276
Duplicate of https://github.com/mozilla/voice-web/issues/212

[2017-07-18 08:30] #276 closed

[2017-07-18 08:37] breandan commented on #25
Out of curiosity, is Mozilla planning to open source the data from *all* recordings, or just the ones marked as valid? I have an application that requires training data from valid and invalid speech recordings, so it would be useful to see all the recordings and their corresponding valid/invalid label. Thanks, looking forward to the data set!

[2017-07-18 08:49] mikehenrty commented on #25
Oh interesting use case! There's no reason why we couldn't release the invalid data set as well if people would find it useful. Can you tell me a little bit more @breandan about why you would need that?

[2017-07-18 08:55] breandan commented on #25
Having the recordings marked invalid would be *extremely* useful for [speech verification](https://en.wikipedia.org/wiki/Speech_verification) tasks. Specifically, I would like to use these to train a pronunciation scoring model, and need recordings labeled correct and incorrect to develop a good speech distance metric.

[2017-07-18 09:13] mikehenrty commented on #25
Good to know @breandan, we've noted this. Stay tuned!

[2017-07-18 09:18] varunarora opened #277 "Credit where credit is due"
Hey there!

Thanks for the work you are doing to make labelled audio datasets more widely available for training, under public domain. Unfortunately, while I see some language expressing disappointment in the big tech companies in keeping their tech to themselves, I don't see credits to organizations whose tech is being used to do the training for STT in the background. Someone on Hacker News ment

[2017-07-18 09:41] mikehenrty commented on #277
Hi @varunarora, thanks for your feedback here.

I think there are two different concepts here that I want to separate:
1. Machine Learning algorithms (eg. RNN) and Tools (eg. Tensor Flow)
2. The data used to train the algorithm (in this case labelled audio clips)

Common Voice is focusing squarely on number 2, which indeed has (so far) not been aided by Google or Baidu, even though they both posse

[2017-07-18 10:45] rongjiecomputer opened #278 "[speak] Add feature to skip a sentence"
In recording voice section, user will record voices for three random sentences, review them and redo some of them before sending all three recordings.

However, as a non-native English speaker, some times I will encounter a sentence with word(s) that I just can't get them right. I do like skip the sentence entirely instead of sending an obviously broken recording.

This feature is also useful as I

[2017-07-18 12:12] nmstoker commented on #273
Totally agree this seems important to get guidance on.

My instinct would be that if the person made a clear mistake (missing word ending, eg "car" from "cars" or entirely missing word) then it should not be considered valid. This will require some element of judgement, especially across accent differences (eg BrEn fillet includes the final t, AmEn has it silent) but this should at least allow any

[2017-07-18 12:22] nmstoker commented on #272
Assuming each piece is validated by multiple people, you could possibly find a way to mitigate the troll impact by treating later flaggings as a lower priority (after all, if two independent people first listened to it and didn't flag it as offensive, then chances are a later flag is less likely to be genuine)

Also flagging more than a certain threshold in a period clearly suggests a troll (altho

[2017-07-18 12:51] nmstoker commented on #241
Am late to this, but if you're expanding the range of sentences, might be worth considering phonetic pangrams, as by definition these cover a large chunk of sounds quickly (although they are typically unrealistic)

https://www.quora.com/Is-there-a-text-that-covers-the-entire-English-phonetic-range/answer/Sheetal-Srivastava-1

[2017-07-18 13:19] a3nm commented on #241
I have tried a bit, and it seems like there are now sufficiently many different sentences to avoid getting the same ones multiple times. Thanks for fixing!

[2017-07-18 13:25] a3nm opened #279 "Automatically crop silence at the beginning and end of recordings before validating"
When presenting sentences to the user for validation, it would be better to process them to automatically crop silence at the beginning and end of the recording. I suppose that this shouldn't be too hard to do in software, and it would save time when validating (avoid having to wait through silence).

An added benefit is that this would make it possible to automatically filter out recordings that

[2017-07-18 13:31] a3nm commented on #273
It's interesting to know that utterances not consistent with the text should be flagged as invalid. I guess it makes sense, given the goal of using this as a TTS training set: if the text says "car" and the utterance says "cars", then it's a good idea to reject.

One thing I do not know how to judge are non-native pronunciations. Sometimes a non-native speaker tries to pronounce the right word but

[2017-07-18 13:37] a3nm opened #280 "Make it impossible to validate a sentence without having listened to it first"
I misclicked on the "Yes!" button to validate a sentence before I had listened to it, and apparently the system took this into account. I think it would be better if the system didn't allow the validator to click "Yes!" or "Nope." before having listened to the sentence to be validated.

[2017-07-18 13:43] a3nm opened #281 "Preload next sentence when validating"
When validating a sentence, there is a delay before the next one is displayed for validation, presumably because the system is submitting feedback on the previous sentence and retrieving the next sentence.

It would be better if there were no delay. This could be achieved by submitting the feedback on the previous sentence in the background, and preloading the next sentence in the background while

[2017-07-18 13:48] a3nm opened #282 "When validating, make it clearer when sound is actually playing"
In some cases (network problem?), when clicking on the play button to listen to a sentence for validation, no sound is actually played. However, the button still changes to "pause", giving the impression that the sentence is currently playing (and never changes back to play). This is problematic because a validator would then reject the sentence, thinking that it is silent, whereas actually the pr

[2017-07-18 13:57] a3nm commented on #260
I agree, I am now getting lots of different sentences, so this looks fixed to me. Thanks!

[2017-07-18 14:00] amar-laksh commented on #245
Just a suggestion. We can use YouTube to get their audio + captions to extrapolate a dataset of voices and their ground truths? That could potentially all the data this project could need?BTW, LOVE THIS PROJECT!

[2017-07-18 14:52] Grovespaz commented on #242
I'm an Dutch person and English speaker. My accent is probably mostly American due to the influence of US media, but I communicate with a whole bunch of people with different accents online through voice chat. About half of them are British and I'm sure I pick up parts of their accents.
I've never lived in the US, I'm really not a good example of an American English accent nor a British one.

At b

[2017-07-18 15:44] mikehenrty commented on #273
Great discussion. @kdavis-mozilla, any thoughts you'd like to add here?

[2017-07-18 16:06] mikehenrty commented on #242
We definitely want your data. Sounds like a little description on the profile page explaining the situation would go a long way. Long story short, we want anyone who can speak English contributing!

[2017-07-18 17:17] DavidButterfield commented on #273
Probably non-native speakers should always specify their native language(s)
and/or native linguistic region, and this information should be provided to
judges.  Then the neural network can be trained to recognize and/or
generate accent variations for a language.

This is probably more important for the problem of differences between
multiple "native" pronunciations of the same language.  For examp

[2017-07-18 17:37] jdittrich opened #284 "UX: It is unclear, what a validation "No" means"
## Problem for the user

It is unclear in which cases I shall click "No". Here are some in which I have been unsure:

1. The speaker was understandable, but had a heavy accent
2. The speaker pronounced everything correctly, but there is a lot of background noise
3.  The speaker accidentally misread a word and repeated it correctly again.
## Problem of the Interface
It is not said what we ask for.

[2017-07-18 17:38] mbebenita opened #285 "Play / Pause button should not Pause"
While validating sentences I often get half way through the sentence and I want to restart it. The only option available now is to pause (and then resume) the playback which is not very useful. I would suggest simply changing the button to restart playback instead of pausing it.

[2017-07-18 17:43] jdittrich commented on #278
I had the same problem and also wished to skip

[2017-07-18 17:49] Omniscimus commented on #284
Duplicate of #273

[2017-07-18 17:51] jdittrich opened #286 "UX: Icon for re-record in review looks like "close"."
**Problem:**  The ✕ icon for "re-record" the review view, where you can re-listen and submit your recordings looks like "delete" or "close".

**Solution:**
* Make it look like the symbol for "record" ●
* Since there is no standard icon for **re**-record, [it might be better to write it out instead ](http://uxmyths.com/post/715009009/myth-icons-enhance-usability)

(related to #278 since it can be a

[2017-07-18 17:58] jdittrich commented on #273
Some suggestions for design and/or lables in #284.

[2017-07-18 17:59] jdittrich commented on #284
@mikehenrty wrote in 273:

[2017-07-18 18:04] kdavis-mozilla commented on #273
@mikehenrty @a3nm Utterances not consistent with the text should be rejected, e.g. The text asks for "car" they say "cars".

_Non-native pronunciations should be accepted if they read the text as written._

For example, an emigrant from France who's lived in the USA for 20-30 years might still have a French accent. If they read a sentence correctly, saying the words written, with their French acce

[2017-07-18 19:17] lucaswerkmeister opened #287 "Document sentence source"
It would be nice to know where the sentences that are being read come from – not necessarily for any one particular sentence, but at least the collected sources for all sentences together. As far as I can tell, this information isn’t currently available – even in git history ([`server/data` commits](https://github.com/mozilla/voice-web/commits/master/server/data)), only the last one (e969b19b3b266

[2017-07-18 19:33] gozer opened #288 "Application doesn't restart after uncaught exception"
Seeing this in prod:

[code]

And since the app doens't restart (waiting for file changes before starting), the laod-balancer will kill that node and start a fresh new one to replace it.

That's been a source of the intermittent 503s we are seeing.

[2017-07-18 19:34] wischi-chr commented on #274
Sadly I've no screenshot, but I'm pretty sure it's related to issue #271 because the content of the title tag was _**HTTP Error 503 - Service unavailable**_

[2017-07-18 19:49] 0b10011 opened #289 "Audio doesn't load on Firefox 54, Ubuntu 16.04"
# Steps to reproduce

1. Load https://voice.mozilla.org/listen with Firefox 54 on Ubuntu 16.04
2. Click the play button

## Expected outcome

Audio should play.

## Actual outcome

No audio plays. The console shows that the audio doesn't load (`audio/mpeg` tries to load twice?). Copy of console output:

[code]

[2017-07-18 20:21] dmarto commented on #274
Here are 2 screenshots from few minutes ago. You can advance thru the html of the response by trying to re-record the sentence.

![screen shot 2017-07-18 at 11 15 31 pm](https://user-images.githubusercontent.com/1244744/28337749-57914662-6c0f-11e7-8f7b-5c1c53998a16.png)
![screen shot 2017-07-18 at 11 20 18 pm](https://user-images.githubusercontent.com/1244744/28337893-bbff0e90-6c0f-11e7-8d7b-0c7e1

[2017-07-18 20:45] Omniscimus commented on #289
I found [this Ubuntu help page](https://help.ubuntu.com/community/RestrictedFormats) which states that Ubuntu does not come with an MP3 decoder by default. Does installing the `ubuntu-restricted-extras` package fix the issue for you?

[2017-07-18 22:36] jhugman opened #290 ""Filipino" is incorrectly spelt Philippino."
This is a simple fix in [user.ts][1].

Reported via DM on twitter.

[1]: https://github.com/mozilla/voice-web/blob/01a5e0c490e60da6eec18cce3b060664c1279c31/web/src/lib/user.ts#L20

[2017-07-19 03:25] DavidButterfield commented on #273
I agree with that, but I still think there are advantages to labeling (and
validating) accent data; and it doesn't preclude doing the above.

The database would be more useful if it could *also* be applied to
text-to-speech experimentation.  For that it seems like it would be more
effective to maintain separation between linguistic regions, to enable
learning of separate models for generating spee

[2017-07-19 07:04] sirlantis opened #291 "Speech vs Voice Recognition [non-technical]"
To people how know the difference the copy is sometimes confusing, as it uses speech recognition and voice recognition as if they were the same.

I understand for marketing reasons it might make more sense to use "voice" more often, but this inaccuracy really confused me when trying to understand the intent of the project.

On the home page:

On the FAQ page:

But then at the bottom of the FAQ pag

[2017-07-19 07:09] sirlantis opened #292 "What statement is "10,000 hours" (FAQ) referring to? [non-technical]"
In the FAQ there is a separate section with a headline:

This number isn't mentioned anywhere on the website. It's also not mentioned in the [blog post](https://blog.mozilla.org/internetcitizen/2017/06/19/commonvoice/).

Should this section be removed? Or were you planning on providing a progress counter somewhere on the page which got removed last minute?

[2017-07-19 07:22] kdavis-mozilla commented on #285
There is another option you did not mention, to wait a few seconds until the clip ends, then play it again.

[2017-07-19 07:38] kdavis-mozilla commented on #274
@dmarto Interesting. I wonder if this is a result of the auto scaling group starting/stopping servers and a request going to a server that isn't ready/is shutting down.

[2017-07-19 08:01] mbebenita commented on #285
Waiting is what I'm trying to avoid. And even if I were to wait for playback to end, why would I ever need to pause the clip?

[2017-07-19 08:05] a3nm commented on #273
@kdavis-mozilla : OK, so regarding validation criteria, if I understand correctly, the criterion that should be used when validating is as follows: if the proposed text is the best way to transcribe the utterance, then accept, else reject. This means that we should reject if there are errors on the text (e.g., "car"/"cars"), but we should accept if the accent is weird but unambiguous.

It would be

[2017-07-19 08:06] kdavis-mozilla commented on #273
@DavidButterfield I agree with most, if not everything you've said.

My main worries for your approach are

 - The amount of data collected for any one linguistic region may so small as to not be of use. (We can counteract this by bucketing data in to the enveloping linguistic region.)
 - Legally we can not collect personally identifiable information about the recordings, only demographic info. Ho

[2017-07-19 08:07] kdavis-mozilla commented on #273
@a3nm I think your description of the validation criteria is correct, and I think you're right we need to communicate this better to the users.

[2017-07-19 08:09] kdavis-mozilla commented on #285
If someone interrupts your listening, you would need to pause, then resume.

[2017-07-19 08:30] sirlantis commented on #292
Ah, found where it was mentioned

https://twitter.com/mozilla/status/887356583696642049

[2017-07-19 08:30] #292 closed

[2017-07-19 09:01] mikehenrty commented on #279
good idea, looks like this guys work could be useful here: https://petewarden.com/2017/07/17/a-quick-hack-to-align-single-word-audio-recordings/

[2017-07-19 09:06] mikehenrty commented on #280
Duplicate of #212.

[2017-07-19 09:06] #280 closed

[2017-07-19 09:06] mikehenrty commented on #212
Looks like lot's of people are noticing this issue, let's move it to P1.

[2017-07-19 09:10] mikehenrty commented on #282
My guess is that what you are seeing is when someone recorded a silent clip. I've done it myself a few times, where I actually had my mic muted but thought I was recording anyway. If there was a network error, the whole play box would be grayed out. I'm not sure there is anything we can do here about silent clips. What do you think @a3nm ?

[2017-07-19 09:10] a3nm commented on #280
OK, sorry for the duplicate and thanks for closing.

[2017-07-19 09:12] mikehenrty commented on #245
Thanks for the kind words @amar-laksh !

Unfortunately since we want to release this dataset into the public domain, all the source material must also come from the public domain. Unless we were to make a deal with Youtube over some of their content, we can't use their extensive material :'(

[2017-07-19 09:13] mikehenrty commented on #242
changing to p1 based on the amount of feedback here and on hackernews/reddit/other bugs.

[2017-07-19 09:15] mikehenrty commented on #280
No problem! Duplicates are like votes for the original bug, so it's useful. Thanks for all your contributions @a3nm !!

[2017-07-19 09:19] a3nm commented on #282
I think silent clips should be filtered out automatically without human validation, which is related to #279.

As for network errors, indeed it seems that the utterance is downloaded before the controls are displayed, so what I had been experiencing probably wasn't network-related. Maybe it was a problem with my headset, in which case there's little that can be done...

That said, I recall that th

[2017-07-19 09:23] mikehenrty commented on #284
Yeah, let's close this in favor of 273. But thanks for your thoughts here Jan!

[2017-07-19 09:23] #284 closed

[2017-07-19 09:25] mikehenrty commented on #287
Good idea @lucaswerkmeister! Right now we really only use War of the Worlds and The Alchemist, but we will add more shortly. Any suggestions on where we should track this?

[2017-07-19 09:33] #290 closed

[2017-07-19 09:38] mikehenrty commented on #291
We would love a PR with some language suggestions!

[2017-07-19 09:41] mikehenrty commented on #274
Weird stuff! Probably related to #288, but even so we should put some better error messaging there.

[2017-07-19 09:45] mikehenrty commented on #285
Yeah I can see your point @mbebenita, but I also see the point around pausing and restarting. I'm ambivalent as to which is the better approach. I'd love to hear other weigh in here.

[2017-07-19 09:48] kdavis-mozilla commented on #285
Yeah I don't know which is better either. However, there are arguments on both sides.

[2017-07-19 09:51] mikehenrty commented on #292
Hi @sirlantis, yeah that is definitely the number we are trying to hit. We are looking into building a counter in #262, so stay tuned!

[2017-07-19 09:53] mikehenrty commented on #282
Ok, let's close this for now assuming these are just long silent recordings, and track the filtering of silent clips in 279 as you mentioned.

If further evidence comes out that this is not caused by a silent recording, let's reopen and investigate further.

[2017-07-19 10:03] Omniscimus commented on #285
This is not really a use case for me. If this occurs then it's usually paused in the middle of a word so I have to listen to the recording again anyway, which is not a real pain because they are usually only a few seconds in length.

If the pause button would be changed to a :repeat: repeat icon then it might not be clear when the recording is playing.

How about just a :arrow_forward: play and a

[2017-07-19 13:32] lucaswerkmeister commented on #287
Perhaps in the FAQ, as long as the list is short enough?

[2017-07-19 14:26] #288 closed

[2017-07-19 16:08] mikehenrty opened #295 "Console.log startup time"
Due to the increasing size of the data, startup time is slowing down. Would be good to get a handle on this. something like:

[code]

[2017-07-19 16:34] edunham opened #296 "Allow 'other' or multiple for "your english accent"?"
I speak US English with a noticeable NZ accent. In NZ, people think I have a strong American accent. In the US, people always ask me where I'm from. The demographics dropdown allows me to only select one region, and no "other". Since locals in both countries assume I'm from the other, it seems disingenuous and like it might reduce the quality of your data to claim to have solely either accent.

Pl

[2017-07-19 16:40] edunham commented on #296
This has a lot of overlap with  https://github.com/mozilla/voice-web/issues/242 but I'll let contributors decide whether it should be closed, since I'm requesting a specific change and I'm not sure how actionable #242 is in its current form

[2017-07-19 16:45] edunham commented on #242
IMO the actual region question might be best answered by asking "which regional accents have strongly influenced your English accent" or something, and letting the user check as many as they like. This addresses the situation of people who learn English from American TV shows but have never been to the US, and me as a US resident who picked up one parent's NZ accent, and people who move between re

[2017-07-19 17:23] mbebenita commented on #271
I just tried this again, and after validating one sentence I saw `null`, so this bug appears to be unresolved.

[2017-07-19 17:25] DavidButterfield commented on #273
that after a while the need for bucketing could decrease.  I don't know how
many samples are needed to train a neural network for speech-to-text (maybe
it is smaller if the variation in accent is smaller, so a region might not
need as many samples as more general training -- another hypothesis to
test).  I would expect it to be easy enough to get 100 samples from
Ireland, but probably not very eas

[2017-07-19 17:43] achimkoh commented on #242
Thanks for clarifying. It seems that this is already being taken into account by the team, but I just wanted reiterate on @a3nm 's comment that

Because not only was this exactly my impression when I clicked on the dropdown menu, which was discouraging, but I also thought that the project is geared towards somewhat _standard_ models of regional accents, which is to be trained using "good example[s

[2017-07-19 18:02] #274 closed

[2017-07-19 18:03] mikehenrty commented on #271
Just fixed the error message part in https://github.com/mozilla/voice-web/commit/e8cd1e7664908f0972e1a788974dee39b7b68a8e. So even if the server completely falls over, the user will know we are having troubles rather than seeing null.

[2017-07-19 18:03] #271 closed

[2017-07-19 18:36] mbebenita opened #298 "Design and Document a Common Voice API"
We've discussed this before and I wanted to capture it as an issue we can track. The idea here is to expose an API so that others can use to develop creative ways of donating voice data. To make this work, we'll need to make sure we segregate data from different sources (based on API keys) until we verify that the proper legal / privacy disclaimers are shown.

[2017-07-19 18:59] #282 closed

[2017-07-19 19:37] andrenatal opened #300 "Doctype as sentence"
And the user actually pronounced it.

<img width="795" alt="screenshot 2017-07-19 12 34 17" src="https://user-images.githubusercontent.com/973388/28385967-e1ca9efe-6c7e-11e7-8f67-eb9ba8d2ef34.png">

[2017-07-19 19:51] mbebenita commented on #300
I'd love to hear that.

[2017-07-19 19:55] cherls commented on #300
That should be my voice. I did a number of those yesterday when the website was bugging out. Another instance I read was `<head><title>`.

However, I did not read out the special characters (e.g. "open bracket", "exclamation mark") — only the pronounceable words or letters. In retrospect, I wish I did as that as it could be a specific use case of speech to text; blind programmers for example.

[2017-07-19 20:02] mbebenita commented on #300
That's an interesting idea that I hadn't crossed my mind. Training STT models for programmers.

[2017-07-19 22:13] Omniscimus commented on #273
Another problem with validating only accents you're familiar with could be that users might be able to start validating their own recordings if the data set for their accent is small.

Anyway it seems to me that the core problem is that validators currently don't verify the accents in the recordings. This is bad because of 1. people who accidentally choose a wrong accent and 2. trolls who delibera

[2017-07-19 22:39] scilganon opened #301 "Show error to user for invalid recordings"
For instance, we should warn user, if nothing was recorded.

[2017-07-19 22:54] edunham commented on #23
The FAQ says that this corpus will be used to train voice recognition. One thing that I frequently say into voice recognition tools, but haven't seen in any of the example sentences, is numbers. It might be worth prioritizing the addition of sentences with spoken numbers in them so that the corpus is more useful to real-world AI.

[2017-07-19 23:22] picsi opened #302 "Mine audio from Wikimedia Commons audio"
Is this feasible/desirable? I'm immediately thinking of [LibriVox](http://librivox.org/), which has public domain audiobooks, and Wikimedia Commons, with a treasure trove of spoken, recorded audio: https://commons.wikimedia.org/wiki/Category:Audio_files_by_language

[2017-07-19 23:59] DavidButterfield commented on #273
be that users might be able to start validating their own recordings if the
data set for their accent is small.

Ugh.  I wonder if there's some way to make that less likely.  Does it
remember your profile from one day to the next, or does the user have to
re-specify the profile each session?

If profiles persist, in one approach each profile could be assigned a
random pool number in the range 0 to

[2017-07-20 06:00] Omniscimus commented on #273
I meant, we could for the time being just NOT provide validators with the accent, so contributors just validates if the sentence was read out correctly. Validating accents appearently adds significant complexity, and it's unclear (unlikely?) if it's really necessary. If, in retrospect, it was, we could still validate accents separately.

[2017-07-20 07:12] kdavis-mozilla commented on #302
All good ideas!

In terms of training our speech-to-text engine[[1](https://github.com/mozilla/DeepSpeech)] we are already using [LibriVox](http://www.openslr.org/12/) and [TED](http://www-lium.univ-lemans.fr/en/content/ted-lium-corpus).

We are _not_, however, using Wikimedia Commons audio[[2](https://commons.wikimedia.org/wiki/Category:Audio_files_by_language)] as in its current form it would re

[2017-07-20 10:19] mikehenrty commented on #300
Yup, this was definitely caused by #274, and now we have some garbage recordings in the DB. The only fix for this would not be in code, but would be to go into the database and remove all these. Not sure if it's worth it, but we should at least find out how many recordings look like this.

[2017-07-20 10:26] mikehenrty commented on #302
Thanks for the suggestions @picsi! Let's change this bug to be about incorporating Wikimedia Commons audio into our published dataset. If you have an further ideas of data sources, we can file a new bug.

[2017-07-20 12:12] picsi commented on #302
Perhaps there could be a way of crowsourcing that effort 🤔

[2017-07-20 12:17] mikehenrty commented on #302
Yes, please help us brainstorm this! :) we are still a very small team, and most of our efforts have been around keeping the site from falling over the last few days.

Here's a place to have those kind of discussions:
https://discourse.mozilla-community.org/c/voice

[2017-07-20 12:18] kdavis-mozilla commented on #302
@picsi Possibly

Basically the problem is the audio is not segmented. In other words, there are not timestamps associated with where each sentence or phrase starts and stops. These well defined audio segments containing a single sentence or phrase are required to train a speech-to-text engine.

[2017-07-20 15:29] Kusaha opened #306 "Please include the source of the text in the FAQ"
I was wondering what book (or else) are we using for the sentences, it would be nice if you would include the source text in the FAQ or at least the books title.

[2017-07-20 15:36] Kusaha commented on #301
Also it would be nice if the website would explain more clearly how you can re record things. Heard several recordings where people messed up the sentence and finished it with some profanity.

[2017-07-20 16:43] Omniscimus commented on #306
Duplicate of #287

[2017-07-20 17:55] gozer opened #309 "[error] Range request exceeds file boundaries"
Seeing a good chunk of these in production. Not sure how bad that is, but reporting.

[code]

[2017-07-20 18:30] angelawyman commented on #267
This could use feedback or confirmation such as: a message like "Great! or Success! your profile has been updated" , a form reset, a plus sign changed to a check mark, etc. I clicked Save about 3 times, too.

[2017-07-20 22:23] raphaeldisanto commented on #242
I love this suggestion. I don't know how feasible it would be to retroactively change the entries of people who have submitted data already, but it sounds to me like a far more inclusive way of gathering accent data. In today's multicultural society, there are many people who have all manner of accent influences.

I'm Cambodian born, raised in Wales, but have lived in the US for the last 25% of my

[2017-07-20 22:44] ruchita20 commented on #286
I dont see an assignee on this issue.
Looking to contribute to UX for this project.
Can I take this up?

Thanks
Ruchita

[2017-07-20 23:22] picsi commented on #302
Thanks for the encouragement, @mikehenrty!

@kdavis-mozilla There are plenty of one-word audio soundbites, such as the ones here:

https://commons.wikimedia.org/wiki/Category:English_pronunciation

[2017-07-21 04:35] orschiro commented on #273
Apologies but it was hard for me to follow this long conversation. I had a similar thought I want to share.

Instead of just "yes", "no", why not expand to other options like "no sound" or "too quiet"?

The latter two are very prominent in my experience.

[2017-07-21 07:06] 5k9m opened #311 "Recording view not vertically aligned when tapping "Donate your voice!" button"
Hey,

when I scroll down to the "Donate your voice!" button on the home page, press it to be routed to the recording view, the view is not vertically aligned - so I have to scroll up to see the content (which can be annoying from a UX point of view).

<img width="1486" alt="donate-button" src="https://user-images.githubusercontent.com/13706131/28452504-5767597a-6df3-11e7-8c59-26fe5d0e3d8f.png">
<i

[2017-07-21 07:13] monkeyfish99 commented on #278
Yeah, I have the issue of names, mostly, and I fear I'm butchering them, which would throw off training data.

[2017-07-21 10:27] birbilis commented on #302
doesn't there exist software to detect gaps and add timing info? YouTube has such functionality for videos from what I remember

[2017-07-21 10:43] mikehenrty commented on #301
Good point! Mind filing a separate bug for this?

[2017-07-21 10:54] #259 closed

[2017-07-21 11:47] SirCmpwn commented on #262
There should also be a big progress meter on the home page, showing the total hours recorded up to the goal of 10,000, plus the total hours of audio verified. If we get there we should also break it down into goals per demographic, like 10,000 hours of male/female samples and samples in each accent.

[2017-07-21 11:50] SirCmpwn opened #312 "Ask for user demographics in the recording flow."
Simple change would dramatically improve the quality of the dataset.

[2017-07-21 12:09] xKeiro opened #313 "The website should explain more clearly how to re record in case of a failed attempt"
It would be nice if the website would explain more clearly how you can re record things. Heard several recordings where people messed up the sentence and finished it with some profanity.

[2017-07-21 12:10] Kusaha commented on #301
Done -> #313

[2017-07-21 12:53] tanmayameher opened #314 "The listening and judging or voting"
Hey guys nice work.

I think the listen and vote or validating sentences is too abstract by a yes and no buttons.

I have started validating from yesterday and decide to do a 50 to 100 validation each day (if possible).
I choose to listen without looking at sentence first and i find out that sometimes it is not clear esp. from non-English and sometimes even fast English speaker. So, in such cases

[2017-07-21 13:17] est31 commented on #302
There seems to be https://github.com/lowerquality/gentle . It seems one has to implement the actual chunking based on that, but its a good step into the direction.

(source: @braindead 's [comment](https://github.com/mozilla/DeepSpeech/issues/722#issuecomment-315720293) in the deepspeech repo)

[2017-07-21 13:35] mikehenrty commented on #286
Sounds great @ruchita20! Unfortunately, I don't have much input into how to fix this issue except to say that I agree this is a problem. I know @jdittrich is also a UX expert, so perhaps you can use this gh issue to collaborate and arrive at a good solution. I'll be here if you need me, and I'll make sure your work makes it in the final product 👍

[2017-07-21 14:05] Omniscimus opened #315 "Apache app deployment"
To test a fix for an issue, I tried to set up the app on my web server. By following the instructions in the README, I got the website working on localhost:9000. However, I would like it on my Apache server to change some Apache settings, as [this file](https://github.com/mozilla/voice-web/blob/master/nubis/puppet/web.pp) seems to suggest. It looks like it should automatically redirect requests at

[2017-07-21 14:10] mikehenrty commented on #262
If there are any UX'ers reading this bug, we'd love some help coming up with what this page would look like. Otherwise you will have my design, which will be very bad :)

[2017-07-21 14:12] mikehenrty commented on #312
Good call out. In our specs, we actually have collecting demographics in the first time contribution flow (similar to how you need to agree to the terms of service). Now it's just a matter of prioritizing and implementing it.

https://mozilla.github.io/voice-web/docs/specs/index.html#artboard14

[2017-07-21 14:15] orschiro commented on #262
@mikehenrty let's take yours first and then we improve. :-)

[2017-07-21 14:15] mikehenrty commented on #313
Yeah, I've heard other's give this same feedback. The back arrow behaves a little weird if you just want to re-record. Let's try to address this all in #286.

Duplicate of #286.

[2017-07-21 14:21] mikehenrty commented on #314
You are a champion!

Thanks for your feedback about validation. From a data integrity standpoint, we only care is something exactly matches the sentence, otherwise it's far less useful to speech training algorithms. It's sad, but trolls and people who mispronounce a word are both marked with the same grade.

That said, I (and others) agree with you that the website does not make this clear. Let's

[2017-07-21 14:21] #314 closed

[2017-07-21 14:46] gozer commented on #315
The nubis/ contents is specific to our internal Nubis deployment tool.

If all you are trying to do is add a header for CSP, have a look at:

https://github.com/mozilla/voice-web/blob/master/nubis/puppet/web.pp#L40

Where we are already setting up a couple.

[2017-07-21 14:47] gozer opened #316 "[error] Could not read from s3"
Seen in prod

[code]

[2017-07-21 14:47] gozer opened #317 "[error] error fetching sentence"
Seen in prod:

[code]

[2017-07-21 14:50] Omniscimus commented on #315
Yes I found that, but I couldn't test my fix. The CSP header should be as strict as possible but if it's too strict, things may break. I'll submit a PR anyway. Thanks!

[2017-07-21 14:50] #315 closed

[2017-07-21 14:59] birbilis commented on #302
quoting from:
https://lowerquality.com/gentle/

it seems that it is English only, but could be a start - has some test button on the above URL

[2017-07-21 15:10] birbilis commented on #302
One could probably use Speech to Text to produce audio from the text, then compare the real audio with the produced one using filtering (for voice frequency range) and then feature tracking (like it is done for video frames or at least the concept) to sync the two audio curves.

After that, since the TTS curve can be annotated with positions in the text (the TTS engine can do that I believe by sen

[2017-07-21 21:15] jdittrich commented on #313
Hi @mikehenrty, please reopen. Sadly, this is a separate issue. At #286 I can try to replace some icons.

In this case, we probably need an additional button, because you may want to do the following actions:

1. Finish/"OK" recording of the current recording ("I am fine with what I recorded right now")
2. Stop and re-record the *current* recording. ("I dislike with what I recorded right now")
3.

[2017-07-21 21:29] jdittrich commented on #286
…here my visualized suggestions:

1. Change the icons like this:

![grafik](https://user-images.githubusercontent.com/3416487/28482928-037b4fb0-6e6b-11e7-8545-486ea11615d5.png)

2. Change the text on top of the row of Play from ~~Play/Stop~~ to *Play/Pause* (since that reflects its behavior)

3. Change the back arrow in the record step:

 Currently it looks like:
![grafik](https://user-images.gith

[2017-07-21 23:35] angelawyman opened #319 "She & Her in short supply on texts"
Just from a random sampling  of texts I listened to 21 male pronouns, 0 female and 9 its  and another 10 references to King, guy, Englishman and boy. I'm not a statistician but I'm fairly certain this sampling is representative of the text.

Where are these texts from? I've seen 'Fatima' twice. The more of these I listen to or record the more I notice female voice is missing from pronouns.

Can we

[2017-07-22 03:31] ardaozkal commented on #319
around ~20% of the pronouns I listened to were female pronouns. I agree that addition of texts that have a higher ratio of female pronouns would help.

[2017-07-22 06:37] tanmayameher commented on #314
oh a whole discussion is there. I lacked in good searching. sorry about duplicate post :)

[2017-07-22 09:24] rugk opened #320 "Publish Android app on F-Droid"
Please publish the Android app on F-Droid.

[2017-07-22 13:03] rugk commented on #23
Indeed you need more sources. The current sentences all sound like "Arabs meet in Englishman in the desert" and could all belong to one fairy tail or maybe a fable (considering the animals, which are often acting like humans.).

[2017-07-22 14:00] rugk opened #322 "grading test: Self-test with known samples user before letting him/her contribute"
What about first asking the user about one or two sentences, whcih are already well known to the AI?
Then the AI should try to recognize the sentences and if it can't maybe let the user try again one time and afterwards just do not allow the user to contribute.
If the user passes the test he/she can just use the tool as anyone would.

This would a kind of introductory "grading test" just too confi

[2017-07-22 14:01] rugk commented on #242
In https://github.com/mozilla/voice-web/issues/273 there was this comment:

This comment was made at the beginning of the issue. But in fact there is, when you're not living in a country where English is speaken officially (i.e. where it is a national language or so) or just have the accent from there, you have no way to select this. There are only few regions covered.

The thing is, many people c

[2017-07-22 14:04] rugk commented on #314
Just to confirm: When the thing is too quiet, what should we select right now? Yes or No?

I think this type of "issue" can be selected by automated systems and they could just "turn up the volume" and so the data could still be useful for training?

[2017-07-22 14:11] rugk commented on #273
Indeed, I'd also advocate for this. Maybe make it more general and call it "bad quality". Possibly, let the user select what is actually bad, when the button is bad. The user should be able to select:
* no sound
* too quiet
* background noise
* different noise/silence at beginning or end (i.e. "needs to be cut off")

[2017-07-22 14:33] Omniscimus commented on #273
The system should automatically detect when there's no sound IMO.

A resulting system should understand what you're saying regardless of how loudly you speak, so if the recording is OK apart from how loud it is, I think it should just be marked as 'Yes'.

Again a resulting system should still recognize speech even if there is background noise or a bad mic quality. So I'd say, mark as 'Yes'.

I agr

[2017-07-22 14:39] rugk commented on #314
Another question: Is it valid when two or more people are speaking/reading the sentence at the same time? (yeah, I heard that, and it was only slight trolling :laughing:, but to be fair, it is disallowed nowhere… )

[2017-07-22 14:42] rugk opened #323 "Original text with errors"
Why has "Soul" a capital letter? Without context you can only guess, whether Soul is e.g. a city name or so or the real "soul" (aka mind/psyche/marrow)…

[2017-07-22 15:58] allquixotic opened #324 "How would a non-cloud-based FOSS solution work in practice?"
I'm very engaged and interested in Common Voice and its potential, and I know it's strictly focused on gathering the data needed to train a speech rec algorithm. But I have a question about how this will actually be used once the dataset is released.

First of all, I'm interested in *offline*, non-cloud-based solutions running on commodity laptops or even smartphones. Correct me if I'm wrong, but

[2017-07-22 18:04] Omniscimus commented on #324
Huge thumbs up for thuis post! :smile: I'm just a github contributor, but afaik:

Right, it should be possible to train an AI using the dataset and then upload just the AI to a local machine and have it figure out new samples.

I really hope that the Common Voice dataset will be large enough and that its quality will be good. I'm interested in updates as well. The goal of the project seems to be t

[2017-07-22 18:27] allquixotic commented on #324
Thanks for your reply! But it just made me think of another question...

I'm not 100% sure, but I think that lossy encoding applied to voice (instead of it being raw PCM straight from the microphone, e.g. WAV or FLAC) really throws off speech recognition algorithms.

This is why I believe Google initially *required* lossless formats for Speech API, and only opened it up to lossy upon repeated requ

[2017-07-22 21:19] emhoracek opened #325 ""Problems. Please try again later.""
I was reviewing sentences today and saw this one:

<img width="836" alt="screen shot 2017-07-22 at 5 11 35 pm" src="https://user-images.githubusercontent.com/5353499/28494598-fae3fbe0-6f00-11e7-9845-7bab30451dff.png">

I hit "play", and the reader said, "Problems, please try again later."

Not sure how to gather debugging info for this, but here's the source of the "listen-box":

[code]

[2017-07-22 21:28] Omniscimus commented on #325
Good find! :smile: This was caused by a bug in the recording section of the app (#274). It asked contributors to read this kind of sentence and some contributors actually did so. This should just be marked 'Nope.' for now.

Duplicate of #300.

[2017-07-22 21:31] emhoracek commented on #323
This (like a lot of the samples) is a quotation from [a novel](https://en.wikipedia.org/wiki/The_Alchemist_(novel)). So the author or translator chose to capitalize that word. I don't think it matters to how you pronounce it.

[2017-07-22 21:54] emhoracek commented on #325
@Omniscimus thanks!

[2017-07-22 21:54] #325 closed

[2017-07-23 01:39] angelawyman commented on #287
Hunh, Where does the text "Can I get woot woo" come from? Are you taking new book suggestions as currently War of the Worlds and the Alchemist text are heavily male pronoun biased.

[2017-07-23 01:55] HuBandiT commented on #242
I am a non-native English speaker, and I would like to strongly vote for recording the native language of the speaker (as well as optionally the English standard they are trying to mimic) with the data.

Reasoning:

Non-native English speakers will often have quite strong differences from "standard English" (regardless of which standard is meant at the moment). These are usually systematic, and ve

[2017-07-23 02:05] HuBandiT opened #327 "new answer flag when listening: "technical issues""
This is a suggestion to add a "technical issues" flag when listening and answering.

The first sentence I received when trying to help with listening was from a mic that was too hot - the speaker spoke the required sentence with good pronunciation, however about 30% of the recording was clipping/distorting beyond recognition. Without the original sentence displayed in its entirety, I would have ha

[2017-07-23 03:03] DeathCamel57 opened #328 "Typo in funny.txt"
Line 1 of [server/data/funny.txt](github.com/mozilla/voice-web/blob/master/server/data/funny.txt) is

An "I" should be added at the start of the line, so it reads as follows.

[2017-07-23 03:03] DeathCamel57 commented on #328
Will fork and pull.

[2017-07-23 03:06] DeathCamel57 commented on #328
Pull request sent in.
#329

[2017-07-23 03:17] DeathCamel57 commented on #306
Here's where the text is located.

- [voice-web/server/data/temporary-sentences.txt](https://github.com/mozilla/voice-web/blob/master/server/data/temporary-sentences.txt)
- [voice-web/server/data/temporary-sentences-2.txt](https://github.com/mozilla/voice-web/blob/master/server/data/temporary-sentences-2.txt)
- [voice-web/server/data/funny.txt](https://github.com/mozilla/voice-web/blob/master/serv

[2017-07-23 03:30] DeathCamel57 commented on #306
Now to see if the pull request is accepted.

[2017-07-23 03:31] DeathCamel57 commented on #287
I added links for the source text files with all of the phrases to the FAQ page.

[2017-07-23 04:49] angelawyman commented on #287
Great!! That clears it up to their origin. Glad to see "You don't know shame until you drunkenly confuse Hellen Keller and Anne Frank in a game of charades." was removed. What year is the 'funny' texts from? There are references to "Mrs Butterworth", "I can't believe its not butter", "Hamburger Helper" and "I have to check with the Mrs!". That's the 70's, right?

[2017-07-23 07:01] Omniscimus commented on #327
Maybe this should just be marked 'Nope'. It's not super useful for the system to have a bucket of recordings marked as 'too bad mic', it's just not usable.

[2017-07-23 07:11] tanmayameher commented on #273
hey another issue is that the counting of total voted sentences is weird. i means whether i press yes or nope it always increasing as the positive count even i have pressed some of those sentences as nope. let me show you in the following picture. i mean it's functioning normally?? i seriously doubt it though.

[IMG]http://i66.tinypic.com/2zpi5n9.png[/IMG]

[2017-07-23 07:15] Omniscimus commented on #273
@tanmayameher the red number is the number of recordings you've submitted; the green number is how many you've validated. Maybe this could be made clearer on a stats page (#262)

[2017-07-23 07:16] tanmayameher commented on #273
uh now i am a bad reader too :P lol ok. i got it. thanks for clearing the doubt though. 👍

[2017-07-23 07:35] a3nm commented on #241
I'm reopening because the pool of sentences is not so large after all: you can still get the same sentences occasionally when you record a sufficient number of them (around 100), even in the same session.

I think this could be fixed (within one session) by remembering which sentences have already been recorded, and not asking for these same sentences again.

[2017-07-23 09:00] Omniscimus commented on #241
This will probably be fixed once #304 gets accepted, but before that remembering sentences in a session could be a temporary fix. Allowing users to skip sentences (#278) would probably be a good enough fix as well for now (and skipping would be useful anyway).

[2017-07-23 09:11] a3nm commented on #241
Skipping sentences would help but it's a bit more tedious, and also as a user I'm not always sure whether I have already seen a sentence or not. (Did I see it when recording, or when validating? Was it that sentence, or another sentence from the same novel? etc.) So even if users can skip sentences there would probably be some frustration and some duplicate recordings (but I don't know whether hav

[2017-07-23 09:20] rakuna opened #331 "Typo in new-sentences.txt"
https://github.com/mozilla/voice-web/blob/ff709fde02348c9aec430c5ed40447ce584c750f/server/data/new-sentences.txt#L1253

text "t6" should be "to"

[2017-07-23 09:24] orschiro commented on #273
@Omniscimus cool, thanks for sharing this info! I now saw it for the first time and never paid attention before. :-)

[2017-07-23 10:49] lucaswerkmeister commented on #287
This doesn’t answer the question, though. It’s nice to see the full list of sentences, but the files don’t document the sentence sources.

[2017-07-23 12:26] mikehenrty commented on #1
First issue <3

[2017-07-23 12:26] #1 closed

[2017-07-23 12:45] mikehenrty commented on #316
This error is most likely coming from amazon, and there is nothing we can do to prevent it. Since we are also, trapping and [handling this on our side](https://github.com/mozilla/voice-web/blob/ef6b8e1770819cc1d7ee517fe54f1fbb2d923f75/server/src/lib/files.ts#L51), I am going to close this and say we do everything we can.

[2017-07-23 12:45] #316 closed

[2017-07-23 12:47] mikehenrty commented on #317
Amazon gives us errors from time to time, and here we are handling one of these errors. I believe we are doing all we can here for now.

[2017-07-23 12:47] #317 closed

[2017-07-23 12:53] rugk commented on #324
Note that while not a FOSS solution, rather a "proof of concept" here, remember that Windows 7 had a speech recognition, which worked completely offline and required no network connection. The "fact" that his has to be done online at some random server, was largely invented afterwards by Google, Apple and finally Microsoft…
I think Common Voice is a good project to change this again and allow the

[2017-07-23 12:55] rugk commented on #327
Well… maybe the system could then filter all recordings in this sequence as they might all suffer from the bad technical issue…

[2017-07-23 13:24] mikehenrty commented on #313
Ok, I agree, let's re-examine this.

I disagree with this part. We used to have one of these, and for the power user this only slowed things down. Since people who get to the record page record an average of 20 seconds, I'd rather optimize for that.

Agreed, let's add this. Perhaps a red X that shows up on the right when the user is currently recording.

Yup, let's keep this.

[2017-07-23 13:41] ajaydee opened #333 "Submitting extra sentences."
I've written a load of sentences for use in this project with an aim to include many technical words and names. Things like 'terminal', 'platinum' and 'wireless'.

Should I just link a pastebin, or is there another preferred method?

[2017-07-23 13:51] JonasT opened #334 "English accent list is too limited, no proper foreign speaker options are available (e.g. American English with German accent, ..)"
The profile box for English accent is too limited, no proper foreign speaker options are available (e.g. American English with German accent, ..). Listening through the examples it seems that at least a tenth of them are from foreign speakers, so the profile options really should be updated to be able to properly specify your native languages and whether you speak English just as a foreign languag

[2017-07-23 13:53] Omniscimus commented on #334
Duplicate of #242

[2017-07-23 14:09] mikehenrty commented on #319
Totally agreed, and we would love some help with this! I'm going to copy my response to the topic you raised on discourse:

From the [discourse thread](https://discourse.mozilla-community.org/t/200-ways-to-hear-him-and-only-10-ways-to-hear-her/17301):

[2017-07-23 14:13] mikehenrty commented on #320
Would love some help with this if anyone is familiar with F-Droid.

[2017-07-23 14:14] rugk commented on #320
https://f-droid.org/docs/Submitting_to_F-Droid_Quick_Start_Guide/ could help here.

[2017-07-23 14:26] mikehenrty commented on #322
Thanks for the suggestion @rugk.

My thoughts are this: we actually want heavy accents in the database, with the hope that if we get enough of them the resulting voice recognition engine will be more robust and able to understand people.

I am also not sure if we have the technology for doing what you mentioned. We'd need a really low word error rate STT engine if we were to rely on the results.

[2017-07-23 14:28] mikehenrty commented on #314
If you can turn up the volume and understand what is said (and validate it), the answer is YES. If it's too quiet to be able to tell what is said, NO.

Ha! I would say no, but if you said yes it's no big deal :)

[2017-07-23 14:30] mikehenrty commented on #323
Thanks for raising this issue, @rugk

Yeah, like @emhoracek said, this is part of the source text and doesn't effect pronounciation so I think it's fine.

[2017-07-23 14:30] #323 closed

[2017-07-23 14:35] mikehenrty commented on #328
Fixed in https://github.com/mozilla/voice-web/commit/100d604588eaebd19f4eec9558eab737f467d563

[2017-07-23 14:35] #328 closed

[2017-07-23 14:36] rugk commented on #322
Aha, makes sense, interesting. You never mentioned this anywhere in the FAQ or so.

[2017-07-23 14:39] mikehenrty commented on #331
Fixed. Thanks again @rakuna !

[2017-07-23 14:39] #331 closed

[2017-07-23 14:43] rugk opened #335 "when the DNT header is set, do not load the Google Analytics JS"
I know Google Analytics is a standard tool for most web admins and (even) at Mozilla and I know that Mozilla has some contract with Google regarding the privacy of the data collected. I also know that such analytics data might be quite useful for you…

However, many users still do not want to be tracked and especially they do not want to have any Google JavaScript/inclusion/tracking on a website r

[2017-07-23 14:44] mikehenrty commented on #287
Yeah, I agree these are not good. I'll remove them all today.

[2017-07-23 14:51] mikehenrty commented on #287
I removed all the problematic ones I could find in https://github.com/mozilla/voice-web/commit/c5fd185c3ec67bd91090ae0ec9770bee65f009f5. If you find more, please file a new issue for that and I will remove them.

[2017-07-23 14:59] akuckartz commented on #335
Use Piwik please.

[2017-07-23 15:17] jdittrich commented on #313
I was not suggesting an additional button – currently the action that achieves this is re-clicking record – that’s fine.

Yes – I wonder if we should just name this "retry this recording" (it depends if you have i18n in place or not); usually text is less ambiguous.

[2017-07-23 15:17] mikehenrty commented on #324
Hi everyone, great discussion!

There's a lot here to talk about, so thanks for bringing these issues up. I will try to answer a few questions, but then I'm going to ask if we can move this conversation over to [Discourse](https://discourse.mozilla-community.org/c/voice), since it'll be hard to pull anything actionable in the code from such an expansive discussion.

Tens of gigs or more :)

This i

[2017-07-23 15:17] #324 closed

[2017-07-23 15:19] mikehenrty commented on #327
@kdavis-mozilla is clipping bad? is it worthwhile to try and train an engine to understand clipping speech?

[2017-07-23 15:21] mikehenrty commented on #333
Pastebin would work just fine :) Thank you @ajaydee !

[2017-07-23 15:22] mikehenrty commented on #334
Yup, let's use 242 to track this.

Duplicate of #242.

[2017-07-23 15:22] #334 closed

[2017-07-23 15:27] mikehenrty commented on #335
For now, we are a very small team working on Common Voice, so the most actionable piece is the DNT header. Let's track that here.

For using Piwik, it is definitely a possibility. But for now I ask that we have the discussion over on Discourse, since I'd like to hear more from community before committing to that effort.

[2017-07-23 15:29] mikehenrty commented on #313
We don't have i18n in place yet, but we will need to very soon.

[2017-07-23 15:30] rugk opened #336 "Adjust volume automatically when listening to multiple recordings"
Many music players can do this, why not use it here too?

Just adjust the audio pitch when hearing to sentences. I always have to adjust the volume up and down and by using such an automatically adjustment I could prevent this.

[2017-07-23 15:46] ajaydee commented on #333
Excellent. Here's a pastebin link:

https://pastebin.com/aFAbnT4z

If you want more, I'll make a new list.

[2017-07-23 15:49] ajaydee commented on #333
I've just noticed that line 16 has a double 'the'. That might need things up.

[2017-07-23 15:51] ajaydee commented on #319
I made sure that I added female pronouns to my list of extra sentences. ;-)

[2017-07-23 15:53] rugk opened #337 "Autoplay option in listening mode"
One could save a click per sentence, when one could enable an "autoplay mode" when listening/checking sentences.

[2017-07-23 16:17] rugk opened #338 ""undefined" when listening"
![grafik](https://user-images.githubusercontent.com/11966684/28501011-033b90fa-6fd3-11e7-837b-3e2e9c83127a.png)

This is what I got with a short 3 sec sound only rustling.

[2017-07-23 16:42] Omniscimus commented on #320
I can't find the app on the Google Play store, does it have a different name or is it not on there?

The Common Voice app is currently just a wrapper for the website. I'd say putting it in any app store in its current state wouldn't be very useful, because the user can get the exact same just by navigating to the website in their browser. It might be useful later on if the app gets additional feat

[2017-07-23 17:02] mikehenrty commented on #338
Duplicate of #300. These are just leftover recordings from an earlier bug, and they are actually not bad if the user actually does say "undefined"

[2017-07-23 17:02] #338 closed

[2017-07-23 17:04] ajaydee commented on #333
Here's some more:

https://pastebin.com/TcMjCM7F

[2017-07-23 17:06] mikehenrty commented on #320
Yeah, we never released the Android app, because chrome and firefox on android both allow you to use the microphone on a webpage. The current safari doesn't expose the mic, so we wrote the iOS wrapper app as a workaround. The VC android app was just a quick prototype.

[2017-07-23 17:08] mikehenrty commented on #333
This is great! Right now, I am looking into replacing our entire sentence set. If we can get to 1.5K sentences, I'm going to do it. So, the more you can submit the merrier!

[2017-07-23 17:36] mikehenrty commented on #333
Alright, I've submitted a PR with your sentences.

fixed.

I appreciate you sharing that part about the tower collapsing, but it's a little dark to read and so I hope you don't mind that I removed it.

haha

I'm going to open a new bug to try and get more people to contribute to this list of home grown text. I think it's really nice.

[2017-07-23 18:05] mikehenrty opened #341 "Write some nice, short sentences for people to read."
Due to bugs #23 and #319 in our current sentence collection, we are trying to diversify and refresh our sentences in #333. We would love your help! If you would like to contribute to Common Voice sentences with your own writings, please put your sentences (one per line) in a publicly linkable document (eg. [Pastebin](https://pastebin.com/)), then add a comment to this bug with a link to those sent

[2017-07-23 18:31] orschiro commented on #267
Another case I found is "submit". Sometimes I press "submit" and it just takes a few seconds for the page to show me the next sentences. However, because I don't get any feedback on the process, I tend to click again because I think I haven't properly pressed the button. This completely screws up the submission.

![image](https://user-images.githubusercontent.com/170947/28501889-d24b402c-6fe5-11e7

[2017-07-23 18:43] mikehenrty commented on #333
@ajaydee, would you like attribution? i was thinking of putting your sentences in a file called `ajaxdee.txt`

[2017-07-23 19:24] rugk commented on #300
You also would have to say ["open angle bracket"](https://en.wiktionary.org/wiki/angle_bracket). ONly this would be correct, as a "usual" bracket is `(`.

[2017-07-23 19:28] rugk commented on #320
However, at least releasing this app on F-Droid, could also have some "marketing/advertising effect" as many users interested in FLOSS/"open data/things" likely look on F-Droid for new apps and they may notice your project there…

[2017-07-23 20:14] #333 closed

[2017-07-23 20:23] saddy001 commented on #337
I'd like that too and I think it would encourage people to check even more sentences.

[2017-07-23 21:16] DeathCamel57 commented on #287
#330 Should cover it now.

[2017-07-23 21:16] DeathCamel57 commented on #306
New pull (#330) should fix this.

[2017-07-23 22:48] 12people commented on #23
Consider looking at CC0 (or, if allowed, CC-BY or CC-BY-SA) blogs, like http://dougbelshaw.com/blog/, https://people.gnome.org/~michael/, and http://blog.ninapaley.com/.

Unfortunately, it's hard to find such blogs, so perhaps also ask people to submit CC0-licensed blogs (or license their blogs with this license).

[2017-07-24 00:05] ajaydee commented on #333
Yeah, whatever you want. ;-)

[2017-07-24 00:10] mikehenrty commented on #333
I put it here: https://github.com/mozilla/voice-web/blob/8e50fa0d1c71437f7d2e8b010214aefb7c2d0d63/server/data/ajaydee.txt

[2017-07-24 00:37] mikehenrty commented on #306
We swapped out those books for contributor donated sentences, and some public domain screenplays like _It's a Wonder Life_. We now document this in our faq, thanks to @DeathCamel57's PR. Closing.

[2017-07-24 00:37] #306 closed

[2017-07-24 00:39] mikehenrty commented on #287
We now document the source text in our faq thanks to #330.

[2017-07-24 00:39] #287 closed

[2017-07-24 00:47] mikehenrty commented on #319
We are in the process of updating and refreshing our sentences by asking for donations in #341. In the meantime, I have removed all the old sentences, got some contributor text donations, and added some dialog from public domain movie scripts in which I went and changed the pronouns to be more evenly split. You can find the new sentences here:

https://github.com/mozilla/voice-web/tree/9130530c6c2

[2017-07-24 00:47] #319 closed

[2017-07-24 03:06] DeathCamel57 commented on #173
#342 should solve this issue, moving the label above the text input box.

[2017-07-24 03:44] DeathCamel57 commented on #178
Same issue on:
**Browser:** Vivaldi | 1.8.770.56 (Stable channel) (64-bit)
**OS:** Ubuntu 17.04 zesty
**Kernel:** x86_64 Linux 4.10.0-28-generic

![Picture](https://user-images.githubusercontent.com/1226646/28507383-67f388f4-7000-11e7-9159-046586ff7969.png)

[2017-07-24 04:09] DeathCamel57 commented on #178
#343 hopefully fixes it.
The description line had a fixed `1rem` left padding.
However, the checkbox above didn't have a set size. This caused different web browsers to render the size of the button differently.

The checkbox now has a size of `.8rem` wide and tall, with a `.1rem` margin on all sides.

[2017-07-24 04:50] Djfe opened #344 "listening to the same sample twice"
It happened to me a few times already that the website presented me the same voice sample twice.
(same person too, not just the same sentence)

You probably should avoid that from happening ;)

EDIT:
it's happening pretty often