[2020-03-05 20:29] #2603 closed

[2020-03-05 20:47] aryamanpuri commented on #2333
Can I take this up?

[2020-03-05 20:56] aryamanpuri commented on #2333
Can I take this up?
Not sure about the progress bar.

[2020-03-05 20:59] phirework commented on #2073
We don't have the capability to localize email right now and the whole Basket connection is being revisited, so I will close this for now.

[2020-03-05 20:59] #2073 closed

[2020-03-05 20:59] phirework commented on #2478
Hey all, I've got this one in hand :)

[2020-03-06 00:41] mbransn commented on #2333
@virgilt let us know in the next 24hrs if you're still on this?

@aryamanpuri let's give them a chance to respond and we'll take it from there. 👍

[2020-03-06 12:23] aryamanpuri commented on #2587
Solved in #2604

[2020-03-06 12:23] #2587 closed

[2020-03-07 03:03] rileyjshaw opened #2612 "Local dev: "./config-helper"' has no exported member 'getSecrets'"
On my local devserver, I'm seeing:

[code]

Should be an easy fix – it looks like it's got to do with the config changes over the past few days. Logging it here for Monday.

[2020-03-08 01:35] kdalkafoukis opened #2614 "Unexpected language change in the website"
### Description

The language of the website changes after using auto-fill from chrome with english(uk) selected language.

- preselected language for the website **english**
- Browser **chrome**

### Steps to reproduce

1. Go to https://voice.mozilla.org/en/datasets

![image](https://user-images.githubusercontent.com/4775609/76154793-6dd47a80-60da-11ea-9595-8a2e73b43c13.png)

2. In the email text

[2020-03-08 17:44] MichaelKohler opened #2615 "Travis tests broken"
Recently all travis checks are broken, no matter if PR or commit. See https://travis-ci.org/mozilla/voice-web/builds/659344099 for an example (randomly picked).

[2020-03-09 06:27] snpd25 commented on #1631
@rleitan , Can't reproduce this issue, maybe it is fixed now.

[2020-03-09 09:00] MichaelKohler commented on #1631
I can still reproduce this.

<img width="1190" alt="Screenshot 2020-03-09 at 09 59 16" src="https://user-images.githubusercontent.com/330324/76197562-479b0180-61e4-11ea-8e70-4cf63cd29a86.png">

[2020-03-09 20:09] aryamanpuri commented on #1631
I just want to confirm one thing about this issue that whether to preserve the calling of the above `navigation modal` after minimizing the window after the STR 4 or the navigation modal shouldn't be rendered. As the user can resize the screen as their need and the last behavior should be preserved.
Btw I can reproduce this issue too.

[2020-03-09 22:07] MichaelKohler commented on #2614
I could reproduce this, very interesting. United Kingdom -> UK -> uk (Ukranian)? The same also happens with a German (de) address for example

[2020-03-09 22:12] MichaelKohler commented on #2614
@mbransn I assume that is not intended, right?

[2020-03-09 22:34] mbransn commented on #2614
Nope, not intended. Thanks for flagging @kdalkafoukis -- were you able to download the language you intended?

And to confirm, the website is triggered to localize to the language tied to the auto-complete email address (EN -> UK) ; the dataset language selected to download does not change (remained as EN).

@ovidiuboca1 are you able to reproduce?

[2020-03-09 22:35] MichaelKohler commented on #2614
Yes, the dataset language does not change, just the UI language.

[2020-03-09 23:04] mbransn commented on #2333
@aryamanpuri I'll reassign to you.

Please note the progress bar is not needed at this time.

[2020-03-09 23:08] mbransn commented on #833
Closing this as improving dataset access is part of our 2020 work effort and infrastructure is currently being scoped. cc @johngian @phirework for visibility on the scrollback.

[2020-03-09 23:08] #833 closed

[2020-03-09 23:13] mbransn commented on #973
This is still relevant for improved usability on mobile across browsers. @MichaelKohler any reason for removing help wanted on your end? Mind if we add back in?

[2020-03-09 23:14] MichaelKohler commented on #973
yep, no idea why I removed it.

[2020-03-09 23:15] mbransn commented on #988
Will close this out as it's an edge use case for the platform at the moment. If someone finds this and is eager to take a pass, please reach out.

[2020-03-09 23:15] #988 closed

[2020-03-09 23:19] mbransn commented on #1013
Closing this out -- feedback and research are indicating that actionable metrics such as 'yet-to-be-verified' hours would be better provided as insights on the stats dashboard (once logged in).

[2020-03-09 23:19] #1013 closed

[2020-03-09 23:28] mbransn commented on #1052
@iveskins @paskalito @sroet @jdittrich would you be in favor of customizable shortcuts (e.g. you assign your own within your accounts settings)? UX best practice indicates it would be good to establish a baseline and then allow people to edit / set as they see fit -- I'd like to close this out and track that feature ask instead. Let me know by March 15 if you have a different opinion and thanks fo

[2020-03-09 23:44] mbransn commented on #1087
This issue is still relevant, adding back help wanted as this isn't something the staff team will be able to tackle immediately. Ideally we create front-end vertical spacing consistency as best possible with localization needs -- this may be part of accessibility work as well.

[2020-03-09 23:54] mbransn commented on #1141
If languages are having display issues with Zilla Slab, the immediate recommendation is to attempt styling in Open Sans. If that doesn't rectify the issue, we'll need to confirm different web fonts for those languages.

Has anyone confirmed that this is still an issue for the languages presented here, Kyrgyz and Chuvash? @jonorthwash @ftyers

[2020-03-09 23:57] mbransn commented on #1152
Closing as this relates to out of date homepage experience.

[2020-03-09 23:57] #1152 closed

[2020-03-09 23:58] mbransn commented on #1183
Closing out as this is my own request and I'll track it elsewhere.

[2020-03-09 23:58] #1183 closed

[2020-03-10 00:03] virgilt commented on #2333
@mbransn let @aryamanpuri take it

[2020-03-10 00:08] mbransn commented on #1211
This relates to #2529 as well -- the intent of the sharing functionality is to enable this level of deep link. Agreed this has a lot of potential and could also improve sentence reporting functionality.

Really enjoy your gamification ideas here too @irvin -- perhaps a 'first to record' game that could lead to earning swag, etc in the future?

cc @phirework for visibility re: share feature functio

[2020-03-10 00:14] mbransn commented on #1273
@ovidiuboca1 can you take a look into this?

[2020-03-10 00:59] iveskins commented on #1052
@mbransn Sane defaults and the ability to edit sounds good. I do think the existing defaults are hard enough to use that somewhat defeat the purpose of being shortcuts. Particularly the Y and N keys would be more comfortable to use as some set of two keys side by side. Be that my suggestion of the number keys, or the left/right arrows or something.

[2020-03-10 01:16] jonorthwash commented on #1141
Oof, still a problem.
![Screenshot from 2020-03-09 21-13-57 cropped](https://user-images.githubusercontent.com/963849/76270301-28838a80-624b-11ea-9906-715bfe40a1ae.png)

@mbransn, how can I attempt styling in Open Sans?  I assume something like Tampermonkey is the way to go?

[2020-03-10 06:41] sroet commented on #1052
+1 on default with the ability to edit

[2020-03-10 09:39] paskalito commented on #1052
@mbransn thanks for asking back.
im also in favour of that approach.

some thoughts:
about the right/left thing. Is also the UI for right to left languages right to left (meaning that the next sentence is on the left there)? because if yes i think it would be quiet standardized and universal to use yes/no keys (in the respective languages) but also evenly standardized and universal to use the arro

[2020-03-10 10:21] ovidiuboca1 commented on #2614
@mbransn
I tested this and I can reproduce it on Windows 10, Mac OS 10.14 with Chrome browser.

[2020-03-10 12:52] ovidiuboca1 commented on #1273
I tested on Samsung s7 NOTSamsung s7 edge with Samsung browser but I can't reproduce the issue, in my case I'm able to hear my recording.
@Gregoor do you use Samsung S7 Edge?

[2020-03-10 15:09] phirework commented on #2615
Yep we're aware of this, we're making a bunch of changes to our config in preparation for K8s migration and it's breaking our tests as a side effect. Hoping to have a fix landed this week.

[2020-03-10 15:12] phirework commented on #1631
If the mobile navigation was *open* at a small screen size, it should:
* close when the user resizes the screen to be a full desktop size
* re-open if the user resizes the screen to be a small size again

[2020-03-10 15:15] phirework commented on #1141
@jonorthwash If you use your browser's inspector tool to open up the CSS, you can see how it looks with different font families. Here's a guide for how to do that: https://developer.mozilla.org/en-US/docs/Tools/Page_Inspector/How_to/Edit_fonts

[2020-03-10 15:18] phirework commented on #2614
Is the language code in the URL changing when you hit autocomplete? Or does the URL still say `/en/datasets` and you're just looking at Polish/German/whatever somehow?

[2020-03-10 15:21] ovidiuboca1 commented on #2614
The language code in the URL is changing. If I select Romanian the URL will be https://voice.mozilla.org/ro/datasets

[2020-03-10 15:25] phirework commented on #2614
Cool, we'll try to get a fix for it in this sprint. Thanks for reporting @kdalkafoukis!

[2020-03-10 18:44] aryamanpuri commented on #2333
Do I have to make the changes only for the devices having a screen width less than 576px( --xs-down) as the issue is reproduced in mobile?
I don't think there is any change needed in the alignment of text in larger screens as there we have used flex-wrap.
Just to confirm, Do I have to change the text `Clips You've Recorded/Validated` as it is changed in the screenshots.

[2020-03-10 19:32] RangerMauve commented on #833
Is there somewhere I could follow to track the scoping? :)

[2020-03-10 20:45] jonorthwash commented on #1141
@phirework, yeah, I know how to play with pages' CSS in my browser's inspector tool.  But I'm not going to do this every time I visit the page, and I doubt most users will have the patience (or even comfort with doing this) to do this.

I guess I'm not totally sure what's being asked of me here....

[2020-03-10 21:01] mbransn commented on #1141
@jonorthwash looks to me like @phirework was making a recommendation on how to accomplish your question. Not a recommendation for every visity, merely a request to help test if Open Sans works for Kyrgyz character presentation.

[2020-03-11 13:43] jonorthwash commented on #1141
Ah, I thought it was known that Open Sans has good support for Cyrillic (it does: it supports all of the Cyrillic unicode block, although none of the Cyrillic Supplement unicode block).

I'm still confused about why I'm being asked to offer confirmation about general properties of a widely available and well documented font that I've never contributed to.  Or am I misunderstanding some pragmatics

[2020-03-11 13:45] jonorthwash commented on #1141
I should also point out, in case it was missed, that most of the text in my screenshot was in Open Sans and looks fine.

[2020-03-11 13:49] jonorthwash commented on #1141
Also, the lack of good Cyrillic support in Zilla Slab appears to be a [known issue](https://github.com/mozilla/zilla-slab/issues/37).

[2020-03-11 14:28] jonorthwash commented on #1141
On the other hand, Chuvash looks fairly good in Zilla Slab now.  The places where Open Sans is used for Chuvash can probably be switched back to Zilla Slab.

[2020-03-11 16:39] MichaelKohler commented on #2488
There is another mention of that here: https://discourse.mozilla.org/t/beim-anhoren-satze-in-anderer-sprache/55729

[2020-03-11 17:07] #1631 closed

[2020-03-11 17:08] rileyjshaw commented on #1631
Will be fixed on master on next deploy

[2020-03-11 17:08] rileyjshaw commented on #1631
Will be fixed on master on next deploy

[2020-03-11 21:58] #2615 closed

[2020-03-11 23:09] phirework commented on #1141
Apologies for the miscommunication @jonorthwash, I did indeed misunderstand your question about styling it with Open Sans. I've been looking into this issue and I haven't been able to replicate what it looks like in your screenshot. On my systems (OS X, Chrome/FF/Safari/Opera, iOS) it looks like Zilla Slab is actually handling Kyrgyz fine - all the glyphs are the same body height:

![Screen Shot 2

[2020-03-12 03:21] jonorthwash commented on #1141
The screenshot above is using Firefox 68.4.2esr in Debian (sid).

The screenshot attached below is using Chromium 80.0.3987.106 on Debian (sid).
![Screenshot from 2020-03-11 23-18-31_cropped](https://user-images.githubusercontent.com/963849/76484015-fca10a00-63ee-11ea-83ea-6c14ade90a28.png)

[2020-03-16 18:50] manishkr1101 commented on #1916
@Gregoor This issue does not persist now. So, you should close this issue.
Thanks.

[2020-03-16 18:52] #1916 closed

[2020-03-19 15:06] manishkr1101 commented on #2612
@rileyjshaw I am using [docker setup](https://github.com/mozilla/voice-web/blob/master/CONTRIBUTING.md#docker-setup) on my local machine and not getting any such error.
I am able to launch homepage.
Does this still persist to your local devserver

[2020-03-20 14:40] arps18 commented on #2189
I want to contribute to the same can i get more details on it?

[2020-03-20 18:14] aryamanpuri commented on #2333
@mbransn

[2020-03-21 10:14] shakti97 opened #2633 "Header should be fixed/sticky"
## Description
Header goes up, when the user scroll the page, It should be fixed on the top so that user can reach and click any of the menu items anytime for the desktop as well

## Current Behaviour
Header scrolled up with the page, which makes the menu item unreachable until the user scrolled up again

## Expected Behaviour
Header should be fixed on the top so that the menu items is available t

[2020-03-21 10:28] shakti97 commented on #2633
@xrmx @julen @jennyjhang let me know you view on this

[2020-03-21 10:56] shakti97 opened #2635 "Inaccurate target used in anchor"
## Description
No meaning of target="__blank" in the anchor tag for opening a url in a new tab target="_blank" is used:- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a

## Additional Information
I would like to work on this

[2020-03-21 10:58] shakti97 commented on #2635
@nukeador @xrmx whats your opinion on this

[2020-03-21 13:54] MichaelKohler commented on #2550
@peiying2 ping again

[2020-03-21 13:56] aryamanpuri commented on #2333
@phirework @mbransn

[2020-03-21 14:48] shakti97 opened #2637 "Vulnerability issue with target"
## Description
There are multiple links having target but without noreferrer and noopener, which may cause a serious security issue name tabnabbing (https://medium.com/sedeo/how-to-fix-target-blank-a-security-and-performance-issue-in-web-pages-2118eba1ce2f)

 Linking to another page with target="_blank" will run the new page in the same process as your page. If the new page executes JavaScript, yo

[2020-03-21 17:56] manishkr1101 commented on #2210
@viorelaioia Please review the commit made by me.
Thanks.

[2020-03-22 02:48] peiying2 commented on #2550
@MichaelKohler apologize for letting this fall through the crack.  For the removal of the country code or consolidate of two to one, I have to check with the communities.
Like `pt`, we don't have communities identify themselves with that and usually associate themselves with a country code, I need to get their buy-ins.

We can consider this.  Let me check with the contributor.

Apparently there is

[2020-03-23 11:31] nukeador commented on #2550
Please note pt was already changed in the past as a single two-letter code. This is the standard list Common Voice is following and applying on our datasets:

https://www.unicode.org/cldr/charts/latest/supplemental/language_territory_information.html

Since the site and the sentences are script-dependent, we need to take this in consideration

https://www.unicode.org/cldr/charts/latest/supplementa

[2020-03-24 00:46] shakti97 opened #2639 "Add Proper Validation"
## Description
The current contact form taking "a@d" as a valid email and "d" or space  as a valid message
![Screenshot from 2020-03-24 06-07-08](https://user-images.githubusercontent.com/30585570/77376335-29153880-6d96-11ea-9206-5027578ecf90.png)
But I think there should be proper validation so it check for proper domain name as well and a minimum length of message should be there

## Current Beh

[2020-03-24 00:47] shakti97 commented on #2533
I would like to work on this feature, adding this to my todo list

[2020-03-24 02:11] shakti97 commented on #2639
Which library should I use for form and its validation ? Did anyone have any suggestion

[2020-03-24 02:33] shakti97 opened #2640 "No Need for Search Button"
## Description
We are searching and showing result as soon as the user change the search input on FAQ, so there will be no use of search button on the right of the search box, we might just use that for the ui, but we can remove the handler from the search button

## Current Behaviour
We are showing search result as soon as the user start typing so there will be no need of search button, but user

[2020-03-24 21:51] mbransn commented on #2333
@aryamanpuri yes, this issue is for mobile only view of dashboard/stats. Only adjust alignment on wider screen sizes if it is not consistent with the left-aligned design for mobile screens.

`Clips You've Validated/Recorded` should be updated to match the styling of the screenshot (Open Sans, black, 12px) but not the text wording; i.e. the words themselves should stay the same.

[2020-03-24 23:54] #2635 closed

[2020-03-24 23:56] #2637 closed

[2020-03-25 13:56] AigizK opened #2644 "New feature: VoiceCoin"
What do I mean:
we want to create a task for a lot of people "add your voice". and we want to check how many sentence this man recorded. And he will get "coins".
My idea:
1. i create a refereal link to https://voice.mozilla.org/ for my language
2. when user connect and begin to work in DB you update info: how many sentences this man to recorded after connected by refereal link.
3. for him you gene

[2020-03-25 14:31] abelbabel commented on #2581
Sorry, I can't remember anymore. I think that I used such a program (probably `fetch` in FreeBSD), but without success.

Somehow I eventually managed to download the file, finally.

If it is granted that download-programs with resume functionallity can deal with the described problem, this issue is irrelevant and I am sorry for the noise. Otherwise splitting big files into smaller chunks remains a

[2020-03-25 20:35] shakti97 commented on #2202
I would like to work on this

[2020-03-25 21:51] mbransn commented on #2202
All yours @shakti97, thanks!

[2020-03-26 20:29] jonorthwash opened #2646 "name of Bashqort language wrong"
(I'm not sure where to file this issue, so if this isn't the right place, could someone help me?)

Pontoon lists the Bashqort language (`bak`) as "Bashkirs".

This is probably a mistake in clipping the Russian name, башкирский.  In English, it's the plural of the colonial demonym, somewhat like saying "Eskimos" instead of the name of a particular language.

This mistake is potentially offensive, s

[2020-03-26 20:32] MichaelKohler commented on #2646
Looks like this is the language name overall in Pontoon, not just for Common Voice: https://pontoon.mozilla.org/ba/

@peiying2 can you help here?

[2020-03-26 20:38] MichaelKohler commented on #2633
related: #973

[2020-03-26 20:59] peiying2 commented on #2646
I can help resolve this. @jonorthwash could you point me to a website to confirm this? What we have right now if from Wikipedia. I can't just add a language without some reference material. Thank you!

[2020-03-26 21:01] peiying2 commented on #2646
We can always reach out to the two contributors to the project right now to confirm one way or another.

[2020-03-26 23:41] jonorthwash commented on #2646
That page appears to be for (and again, the word "Bashkirs" refers to) the ethnic group, not the language.  The Wikipedia page on the language is [here](https://en.wikipedia.org/wiki/Bashkir_language).

You'll note that the page that you linked to does mention the endonym Bashqort, though the language page only lists it as the endonym through transcription.

A source for the name might be [Ethnolo

[2020-03-26 23:44] jonorthwash commented on #2646
![Screenshot from 2020-03-26 19-42-18_modified](https://user-images.githubusercontent.com/963849/77706938-22571300-6f9a-11ea-8a54-d2f103631b05.png)

[2020-03-26 23:44] jonorthwash commented on #2646
![Screenshot from 2020-03-26 19-44-47](https://user-images.githubusercontent.com/963849/77706992-44e92c00-6f9a-11ea-8266-1c50f4bc0310.png)

[2020-03-26 23:50] jonorthwash commented on #2646
![IMG_20200326_194902](https://user-images.githubusercontent.com/963849/77707271-0607a600-6f9b-11ea-8fba-fc1542310e58.jpg)

From Nicholas Poppe (1964) - Bashkir Manual.

[2020-03-27 16:35] shakti97 opened #2651 "Search Should Only Work for not empty value"
## Description
Currently Search on the language page is performing search for blank space, which result in the showing "no result"

## Current Behaviour
Search is performing search operation for blank spaces and showing no result found

## Expected Behaviour
Should performing Searching only for non empty value

## Additional Information
I would like to work on it

[2020-03-27 19:14] shakti97 opened #2652 "Svg Not Showing"
## Description
Edit Icon svg not showing on the profile setting page

## Image
![Screenshot from 2020-03-28 00-40-49](https://user-images.githubusercontent.com/30585570/77791674-1c8e2a00-708d-11ea-99ff-f3c3d050ba29.png)

## Additinal Information
I would like to work on this issue

[2020-03-28 10:41] shakti97 opened #2655 "Button Icon Disappear on hover"
## Description
Button Icon Disappear on hovering

## Current Behaviour
Icon is white and the background is also white, that's why the button disappear

## Expected Behaviour
Icon color should also change with the text, and will be visible when hovering the button

## Related Image
Normal Button
![Screenshot from 2020-03-28 15-59-32](https://user-images.githubusercontent.com/30585570/77821238-91557

[2020-03-28 20:00] shakti97 commented on #2405
I would like to work on this issue

[2020-03-29 15:44] shakti97 opened #2656 "Connect With Gravatar"
## Description
First it says "connect with gravatar" and when you clicks on it, it connect you with gravatar and a check sign appear, but no text change , it still shows "Connect with gravatar" and a check sign . But when you clicks it again , it will disconnect from gravatar.

## Current Behaviour
Show "Connect With Gravatar", for both connect and disconnect from gravatar.

## Actual Behaviour
Sh

[2020-03-29 17:50] shakti97 commented on #2405
I investigate this issue and found that the frontend is working fine :- in resizing the image to come under width:200 and height: 200 but
Root Cause:- avatarUrl length goes above 8000, and in the backend we are constraining it to below 8000.
am I on the right path @rileyjshaw @phirework

[2020-03-29 18:36] jonorthwash commented on #2646
It appears that a whole bunch of localisations blindly used the "English" name too :(  It might be best to unapprove any translations that are simply "Bashkirs" or similar.  I've gone through and suggested corrections to a couple based on Wikipedia, but I'm not really qualified to be offering suggestions for most of those languages.

[2020-03-29 18:41] shakti97 commented on #2478
hi @phirework are you still working on this or its already done, If already done , can we close this issue and if not may I work on this issue

[2020-03-29 20:54] IlnarSelimcan commented on #2646
"Bashkirs" is clearly wrong as the name of the language. Should be either "Bashkir" or "Bashqort". I'd go with "Bashqort", since "Bashkir" is how the language is called in Russian, whereas "Bashqort" is the endonym.

My native language is Tatar, which is a language closely related to and mutually intelligible with Bashqort.

[2020-03-29 21:12] jonorthwash commented on #2646
Russian is the conquering/coloniser/settler language, in this situation—a situation Mozilla should probably try to be sensitive to.

[2020-03-30 18:08] mbransn commented on #2478
@shakti97 this is already assigned and will be closed when the work is merged to production. Thanks!

[2020-03-30 18:18] aryamanpuri commented on #2333
@mbransn I have figured out the required changes, but there are some text breaking after going less than 350px.
As the defined minimum width is of 350 px for xs device.
Should I open a pull request for that, or the requirement is more?

[2020-04-02 18:14] jf99 opened #2661 "Play button should not appear before sample is loaded"
Sometimes it takes very long for an audio sample to load. A user should not be able to play it until it has finished loading. Otherwise the user might think the audio is complete silent and click No. Oh by the way, the Yes/No buttons should of course also be disabled until the audio is fully loaded. Also, when only the first part of an audio is loaded, playback might stop in the middle and the use

[2020-04-02 19:47] mrwesleycrusher opened #2662 "Contributing Audio Not Working on Firefox 74.0"
OS: Manjaro GNOME Kernel 5.4.28-1
Browser: Firefox 74.0

When I go to contribute audio, I get the notification asking for permission to use my microphone, I accept it, and get the little notification that my microphone is being used, but the animation for recording audio doesn't load and the "stop recording" button does not work. I just checked and it does work on Brave Browser, however.

This is

[2020-04-02 21:57] peiying2 commented on #2550
@nukeador yes, I have used the same guidelines when discussing the issues with the community.
@MichaelKohler here is the summary:
1) Yes
- `fy-NL` -> `fy`
- `ga-IE` -> `ga`
- `ne-NP` -> `ne`
- `pa-IN` -> 'pa' (NOTE, if the language is written in Arabic, the locale code is `pnb`. So far, we don't have contributors requesting a different script. `pa` usually refers to the Gurmukhi script. This has b

[2020-04-02 21:59] peiying2 commented on #2550
Once we decide this is a good interim solution, we should coordinate with dev and Pontoon to make it happen. I have to add new locales in Pontoon, and then the data migration to preserve contributor information in Pontoon.

[2020-04-02 22:59] #2651 closed

[2020-04-02 23:02] #2652 closed

[2020-04-03 12:11] MichaelKohler commented on #2550
Thanks for the feedback. I'd be happy to help with the mapping from the Sentence Collector down the road.

What about hi-IN? Might be answered with `like the Indic languages in India`, but I'm not sure. If we want to keep that, we'll need to merge https://github.com/Common-Voice/sentence-collector/pull/295.

[2020-04-04 19:17] shakti97 commented on #2640
Should I start working on this issue @MichaelKohler

[2020-04-10 16:48] peiying2 commented on #2550
Confirmed with Hindi community and they agree to have it displayed as `hi`. I have updated the list above so you have one place to check the latest I gathered from the communities.

[2020-04-10 21:19] shakti97 commented on #2656
Should I start working on this issue

[2020-04-10 21:41] shakti97 opened #2673 "Divider in header"
## Description
Divider in header (in between record and play icon) getting padding and border top will make it weird, looks like it making 7 .

## Current Behaviour
Divider in between the record and play icon making 7 because its having padding of 3px
![Screenshot from 2020-04-11 03-02-32](https://user-images.githubusercontent.com/30585570/79025026-402f9500-7ba2-11ea-97a9-92b8e1081d23.png)

## Exp

[2020-04-11 02:22] mohamedfenjiro commented on #2533
Hey there :)
I have created a PR for this, let me know what do you think as it may need iteration for the colors.
[https://github.com/mozilla/voice-web/pull/2675](url)

[2020-04-11 17:03] Githubuxer opened #2676 "'Sorry, there was an issue' text recommendation for misheard commands"
When Firefox Voice doesn't hear a proper audio command, it says 'Sorry, there was an issue' with a red exclamation mark below. Shouldn't it be something more casual like 'I did not hear that, please try again' or simply 'Please try again', or 'Can you repeat that'

The text 'Sorry, there was an issue' makes it seem like a technical issue vs just needing the user to repeat or speak a command.

[2020-04-11 17:07] Githubuxer opened #2677 "Failed commands and feedback loop suggestion."
When commands fail or do nothing, no information is being communicated to the user as to why nothing happened, other than just showing the checkmark and the words but not performing any subsequent action.

There needs to be a better voice command feedback loop that explains why nothing happened, explains what happened, or suggests how to make something happen.

[2020-04-11 17:07] MichaelKohler commented on #2676
This is not the correct repo for Firefox Voice. Please keep using firefox-voice-feedback.herokuapp.com as you have before. Thanks for your feedback!

[2020-04-11 17:07] #2676 closed

[2020-04-11 17:08] MichaelKohler commented on #2677
This is not the correct repo for Firefox Voice. Please keep using firefox-voice-feedback.herokuapp.com as you have before. Thanks for your feedback!

[2020-04-11 17:08] #2677 closed

[2020-04-11 17:09] Githubuxer commented on #2677
My apologies, thanks Michael

[2020-04-14 17:23] phirework opened #2681 "ANNOUNCEMENT: Common Voice briefly unavailable April 15th"
Hello! Our IT-SRE team has been hard at work migrating the Common Voice backend infrastructure from its current home to a new Kubernetes-based set-up. This is to bring our systems more in line with current best practices within Mozilla, and will lead to smoother deploys in the future by giving us more flexible testing environments and better app monitoring and health-check tools. It will also enab

[2020-04-15 21:00] #2681 closed

[2020-04-16 04:45] fitojb commented on #1141
@phirework, you are actually looking at a fallback font, Georgia
🤦

[2020-04-18 19:37] shakti97 opened #2685 "Add Timezone"
## Description
We are currently tracking user activities and saving in UTC, that's awesome , But displaying them in UTC as well make the user(who doesn't have knowledge of utc) think that there might be something wrong. So if we could convert the UTC time to local time than there will be no such confusion.

## Enhancement
Add Timezone in the application, to show local time instead of UTC time.

##

[2020-04-22 11:43] PhoenixIV commented on #2559
Still did not transfer this. Might loose quite some ideas this way..

[2020-04-22 11:52] MichaelKohler commented on #2559
What I meant with my comment is "please re-open a thread on Discourse", not that we're gonna do that, sorry for the misunderstanding.

[2020-04-23 11:50] soniasingla opened #2690 "Invalid Data for Punjabi"
Steps to reproduce:

Go to https://voice.mozilla.org/en/languages , and choose "Punjabi" language.

**Actual results:**

The dataset is found to be in English.

**Expected results:**

The dataset must be in Punjabi.

I have attached screenshot with this bug of `German` language. Please note I am talking about the dataset under `Speak` section, not the localization of website. As shown in screensho

[2020-04-23 15:38] phirework commented on #2690
Thanks for the report, we're on it.

[2020-04-24 20:16] #2673 closed

[2020-04-24 20:25] #2655 closed

[2020-04-25 17:20] countingpine commented on #273
While straying into the German validations (https://voice.mozilla.org/de/listen), I came across a guy who is pronouncing all the punctuation (e.g. "Punkt", "Komma", "Fragezeichen").  I don't know how common this is, but maybe that case needs to be covered in the accept/reject criteria?

[2020-04-27 18:08] peiying2 opened #2694 "Legal documentation: add new languages, update locale codes to language codes"
@mbransn we have added the following languages to the legal documents (Privacy and Terms). I also took the opportunity to update the locale code to language code that are good to change based on the [recent discussions](https://github.com/mozilla/voice-web/issues/2550#issuecomment-608112427) with the CV team.  Here is the summary, please make necessary changes on the code side accordingly:
- ar
-

[2020-04-27 18:09] peiying2 commented on #2694
@MichaelKohler

[2020-04-27 21:07] fitojb commented on #1141
Diacritics are broken too in Georgia (fallback font) for Cyrillic. This is on Linux.

![image](https://user-images.githubusercontent.com/554953/80420921-32b42380-88a1-11ea-8e1b-bb3b1bb8ea37.png)

[2020-04-27 23:54] #2694 closed

[2020-04-28 00:41] jonorthwash commented on #1141
I see multiple <ҫ>s.  Also, Chuvash is properly typed with the unicode characters <ӑ> and <ӗ>—there should be no diacritics.  So you have a text encoding issue compounded by the font issue.

[2020-04-28 01:56] fitojb commented on #1141
No, it’s UTF-8 — it works properly on copy/paste — but it’s true that there is one Latin cedilla and one Cyrillic (that should be fixed in Pontoon). That is how Skia renders it in Chrome 84. The same happens in Wikipedia. (And I copied Georgia from my Windows 10 partition...) Anyway, Common Voice should ditch the Zilla stack and switch to Inter for Cyrillic locales at least.

[2020-04-28 03:19] jonorthwash commented on #1141
Of course it's UTF-8.  By "text encoding problem", I had in mind that there should be no unicode diacritics at all—it should just be `U+04D1` and `U+04D7`.  But indeed that's what's used.  Whatever font your system is using is doing a terrible job of rendering those....

For the record, this is what it looks like here:
![Screenshot_2020-04-27 Common Voice by Mozilla](https://user-images.githubuser

[2020-04-28 04:44] fitojb commented on #1141
I found the root of my problem: Chromium is [configured to attempt to use the same font family across a word](https://github.com/chromium/chromium/blob/master/third_party/blink/renderer/platform/fonts/win/font_fallback_win.cc#L110) (going to lenghts like asking HarfBuzz to dynamically render accented letters from existing font glyphs), to avoid the ransom note effect  in your screenshot (which dis

[2020-04-29 05:42] fitojb commented on #2646
This issue should be moved to the mozilla/pontoon repository.

[2020-04-29 16:13] peiying2 commented on #2646
Let's keep the issue here as it is primarily a CV project issue.

@jonorthwash @IlnarSelimcan Could you let me know the following:
- Could you agree on which language name to use?
- Is the script ok or should it be changed to Latin? (Right now it is in Cyrillic)
- Would either one of you are going to contribute to the language? Right now we have two contributors but neither has translator or manag

[2020-04-29 20:04] peiying2 commented on #2646
I have changed the name in Pontoon to `Bashkir` for now.

[2020-04-29 21:43] shakti97 opened #2699 "Button Icon Disappear On Hover"
## Description
When someone successfully contributed his voice, the icon on the button (READY TO DO 5 MORE) disappear on hover over the button.

## Current Behaviour
The icon on the Ready to do 5 more button disappear( as its color is white and on hover background changes to white) while hovering.
![Screenshot from 2020-04-30 03-05-57](https://user-images.githubusercontent.com/30585570/80649906-80

[2020-04-29 22:12] shakti97 commented on #2685
Hi while checking this enhancement, I found the API for fetching contribution activity is failing for custom locale
![Screenshot from 2020-04-30 03-38-00](https://user-images.githubusercontent.com/30585570/80651776-2643ec80-8a94-11ea-970f-134c3671eb57.png)

can you please check it @phirework , API failing is an issue, whether we will have this feature or not in the future.

[2020-04-29 23:49] #2699 closed

[2020-04-30 05:20] dabinat commented on #2549
Today I saw maybe 60-70 recordings of 1-2 seconds that were just background noise. It’s pretty tedious to have to go through and reject them all.

I feel like the 1 second minimum recording length is maybe too lenient? Even for a very short sentence, if you include the time spent to start and stop the recording, I can’t imagine a 1-second recording ever actually being valid.

It seems like the bes

[2020-04-30 11:20] kwasnydam opened #2702 "Missing Polish Dataset download option"
Hey there at Mozilla and thank you for this dataset! Recently it seems you have released Polish language.
![Screenshot from 2020-04-30 13-16-24](https://user-images.githubusercontent.com/32868095/80704496-f244e780-8ae4-11ea-82e0-fdc99ec16a48.png)

However, when I go to https://voice.mozilla.org/en/datasets and go through the `Lanugage` droplist I cannot find `Polish`. Is it because it is still not

[2020-04-30 11:27] MichaelKohler commented on #2702
Polish was enabled on Common Voice around 4 months ago: https://github.com/mozilla/voice-web/pull/2524/files#diff-8c75a07172bee459bac9400f5ecfb950R33 (mid of January)

The data from the current release is based on what we had on 2019-12-10, and therefore Polish was not part of that. I'd expect it to be part of the next release though.

See also https://discourse.mozilla.org/t/polish-dataset-downlo

[2020-04-30 11:27] #2702 closed

[2020-04-30 11:49] kwasnydam commented on #2702
Great, thank you for a quick answer and pointing me to the relevant thread, cheers :>

[2020-04-30 17:05] Technerder opened #2704 "Suggestion: VAD Check"
I've been going through and trying to verify voice samples but out of the 20 or so I've viewed, 4 or so of them have been what I believe to be accidental recordings where the user started the recording and instantly stopped the recording, resulting in the audio clip to be 2 seconds of pure silence.

Implementing a VAD check would most likely help in reducing the amount of accidental recordings bei

[2020-05-01 14:34] shakti97 opened #2705 "Mobile View Image Over the Nav issue"
## Description
In the mobile view, dataset page when scrolled dataset-resources have a nav that sticks at the top, so from that point, all the resources information should be scrollable under the nav, but some other-dataset image is not following the same behaviour.

## Current Behaviour
In mobile view, other data-set images is going up over the resources information nav
![Screenshot from 2020-05-

[2020-05-01 19:21] shakti97 commented on #2518
can I work on this issue?

[2020-05-01 21:16] shakti97 opened #2707 "Mobile View Stats Issue"
1. language selector going out of the alignment
2. Recorded Clips/ Validated Clips alignment issue

![Screenshot from 2020-05-02 02-39-12](https://user-images.githubusercontent.com/30585570/80842728-f6c1eb00-8c1f-11ea-94dc-56ce4aa7ee41.png)

I need the mobile design, so that I can work and fix this issue.

[2020-05-02 21:21] IlnarSelimcan commented on #2646
My choice: "Bashqort" @jonorthwash ?

Cyrillic is right.

I've written to Bashqort Wikipedians and rnuriev1 has also signed up on Pontoon and started translating there. He is a long-time admin of Bashqort Wikpedia and has a very good command of the Bashqort language. Imo, he certainly can be given rights to approve the translations.

Alternatively, now that I have someone who can oversee my Bashqo

[2020-05-03 04:36] AigizK commented on #2646
@peiying2 @jonorthwash @IlnarSelimcan
Hi, i'm first people, who began to support bashkort's language in https://pontoon.mozilla.org/. The official name of my republic is Bashkortostan. It is official government site https://pravitelstvorb.ru/en/
BASHKORT is the correct name for the language.

About script - Cyrillic is correct and we have additional letters: ә,ө,ҡ,ғ,ҫ,ҙ,һ,ң,ү

Yes, I'm going to do

[2020-05-03 04:50] AigizK commented on #2565
@MichaelKohler
I solved a similar problem on my project with this library:
https://github.com/ai/audio-recorder-polyfill
DEMO:
https://ai.github.io/audio-recorder-polyfill/

[2020-05-03 11:54] MichaelKohler commented on #2565
Recording via mobile Safari on iOS is now implemented, and the native app is being decommissioned. https://discourse.mozilla.org/t/updates-to-common-voice-for-ios/58909

[2020-05-03 11:54] #2565 closed

[2020-05-03 11:56] MichaelKohler commented on #2564
Recording via mobile Safari on iOS is now implemented, and the native app is being decommissioned. https://discourse.mozilla.org/t/updates-to-common-voice-for-ios/58909

[2020-05-03 11:56] #2564 closed

[2020-05-03 11:58] MichaelKohler commented on #1464
Recording via mobile Safari on iOS is now implemented, and the native app is being decommissioned. https://discourse.mozilla.org/t/updates-to-common-voice-for-ios/58909

[2020-05-03 11:58] #1464 closed

[2020-05-03 23:49] dabinat commented on #2549
@phirework Maybe a per-character minimum time for every language is best. That’s not as complex as it sounds because it could be extracted from the database by finding the minimum value of duration divided by sentence length for each language (for approved clips only of course). Then subtract a margin and that’s your minimum character length.

The problem seems to be getting worse: most of the cli

[2020-05-04 17:32] mbransn opened #2709 "Ensure correct iOS support messaging is in place for iPad"
The current iOS platform support messaging on iPad should direct to Safari (as it does on iPhone).

**Current messaging:**
![iPad-iOS-Firefox](https://user-images.githubusercontent.com/18686986/80994996-64be0c00-8df2-11ea-8aad-11ebf3d5ff34.jpeg)

**Expected messaging:**
![iPhone-iOS-Firefox](https://user-images.githubusercontent.com/18686986/80995008-6a1b5680-8df2-11ea-861d-d3a46e615f0b.PNG)

This

[2020-05-04 17:33] mbransn commented on #2709
@rileyjshaw tagging you in on this, shout with questions.

[2020-05-04 18:03] jonorthwash commented on #2646
@AigizK, you mean "additional" letters beyond *Russian* Cyrillic.  Cyrillic is more than just Russian though :)  Please don't let Stalinist language policy make you think that that the Bashqort alphabet is just a permutation of the Russian alphabet....  The Russian alphabet itself is a permutation of "true" Cyrillic, whatever that means.

My preference is for Bashqort, but if @AigizK prefers the R

[2020-05-04 19:19] AigizK commented on #2646
@jonorthwash
Before the USSR, the Bashkirs used Latin script. On the translation, I consulted with two scientists. They are Bashkir by nationality. They said it's already customary to translate bashkir. But if you want to highlight how it sounds in this project, you have to write BASHQORT.
So I refuse the Bashkort option. And let it be either Bashqort or Bashkir.

[2020-05-04 21:57] peiying2 commented on #2646
Thank you @AigizK, @jonorthwash and @IlnarSelimcan thanks for getting back to me. Looks like we need to decided between Bashqort or Bashkir. I will close this issue and send an email to include current contributors so you can collectively decide who is the manager, and who can be a translator - there is a documentation on the roles and responsibilities. @jonorthwash what is your email address if y

[2020-05-04 21:57] #2646 closed

[2020-05-04 22:37] jonorthwash commented on #2646
jonathan.n.washington [æʔ] gmail [dɑʔ] com

[2020-05-05 00:52] rileyjshaw commented on #2709
@mbransn good catch! The issue here is that iPad's default behaviour is to pretend that it's a Macbook Pro running Mac OS X 10.15 – ugh. I put some time into this today and was able to improve our situation on most browsers, but it's still not perfect.

After commit https://github.com/mozilla/voice-web/commit/38c2e563005ea590bf7fd8bd88669aeb3235b018 lands, we should see the proper mobile error on

[2020-05-06 02:13] rileyjshaw commented on #2685
@shakti97 good catch! We would accept a pull request for the timezone piece – I think it's best to make the conversion to local time in `web/src/components/pages/dashboard/stats/contribution-activity.tsx`.

As for the API, I'm not sure if I understand correctly. If you're editing the locale parameter with `from=you`, an error is expected. Your `client_id` and `locale` are passed to `getContributio

[2020-05-07 14:02] bacharakis commented on #2707
Thanks for the report @shakti97 !

Can you please share with us some more information like your operating system, browser version and screen resolution?
Thank you!

[2020-05-07 19:43] nukeador opened #2711 "Enable Hindi locale with "hi" code"
This issue aims to unblock the situation with Hindi.

This is the process to make it possible, and that we used for Portuguese:

- [x] `hi` copy from `hi-IN` on the locales folder on voice-web
- [x] Matjaz migrates metadata on contributor info to `hi` and the locale is added to Pontoon
- [x] `hi-IN` removed in Pontoon
- [x] Sync happens and Peiying verifies the changes
- [x] `hi` added via import-

[2020-05-07 19:50] nukeador commented on #2711
hi locale folder is now on the code via https://github.com/mozilla/voice-web/commit/9ea082c6ec5743daeee97cac1e9ac3431f68c25f

[2020-05-08 14:21] nukeador commented on #2711
Pontoon already has "hi" locale, this PR is pending to add it to our jsons via import-locales

https://github.com/mozilla/voice-web/pull/2712

[2020-05-08 16:39] nukeador commented on #2711
hi-IN is no longer on pontoon and removed from this repo via 0006ea9ddd5ca5eecd0fc27406a2064c72af3792

[2020-05-08 16:43] nukeador commented on #2711
@phirework all changes on our side are done, the site should be now loading /hi/

@MichaelKohler let's see if we can get "hi" sentences exported

Thanks everyone!

[2020-05-08 16:44] peiying2 commented on #2711
Pontoon part is complete with metadata migration.

[2020-05-08 20:34] MichaelKohler commented on #2711
I can verify that the export would now work. At the current stage, 59 sentences would be exported. However I have reason to believe that most of the 29k sentences that are in Sentence Collector are a copyright violation if we add them. Removing those would leave us with around 3 sentences to export.

Source mentioned in the records: Press Information Bureau, Govt of India https://pib.gov.in/indexd

[2020-05-08 21:54] phirework commented on #2711
It may be possible to do per-sentence attribution soon but the sentences will have to be processed the way the Europarl sentences were treated, i.e. as a separate export with a separate QA process, instead of being part of the generic `sentence-collector.txt`. Either way, legal should probably be flagged on this.

[2020-05-11 08:42] psubhashish opened #2715 "Launching the Odia (language code: or) language for speak and listen"
Though the Common Voice Languages page shows that 2684 out of 5000 sentences have been reviewed, all the sentences (5784) have been reviewed and validated on the Sentence Collector. Localization is also 100% done. Can I request for updating the data on the Common Voice portal and move Odia to the "Launched"? 🙏
<img width="729" alt="Screenshot" src="https://user-images.githubusercontent.com/1258090

[2020-05-11 08:51] MichaelKohler commented on #2715
This will be done once https://github.com/mozilla/voice-web/pull/2714 is merged and released.

[2020-05-11 09:45] stefangrotz commented on #273
Hey, I know I am late to this party here, but the initial idea of this issue is something that regularly comes up when I talk to people who donated to common voice. People don't know how to validate sentences. And the initial solution, adding some basic rules to the FAQs and link to them from the validation page sounds very well to me. I also like @p-e-w s proposal, since this looks also easy to i

[2020-05-11 10:36] psubhashish commented on #2715
Awesome. Thanks for this very quick update, Michael.

[2020-05-11 14:02] nukeador commented on #2488
This issue is also being mentioned here

https://discourse.mozilla.org/t/listening-validating-for-dutch-language-turns-up-a-lot-of-frysian-frysk-sentences/59603/4

[2020-05-12 05:51] soumendrak commented on #2715
@MichaelKohler , #2714 is closed now. Can we please look into this PR now? Thanks.

[2020-05-12 11:39] nukeador commented on #2711
I don't think we need legal's time into this if we can solve it ourselves. If the source is the one Michael mentioned it's clearly noted that it's not public domain and we should remove them, as we have done in the past with other sources we have identified as non-public domain.

[2020-05-12 17:28] bacharakis commented on #2704
Thanks for your report @Technerder !

That is something we are currently exploring on how to tackle. I will follow up with further updates.

[2020-05-12 18:45] phirework commented on #2715
Hello! The release went out this morning and Odia is now available for contribution on the platform. Thanks for your patience.

https://voice.mozilla.org/or/speak

[2020-05-12 18:45] #2715 closed

[2020-05-12 19:20] mbransn commented on #2711
Agreed & works for me. 👍

[2020-05-13 01:09] soumendrak commented on #2715
Thanks a lot @phirework and @MichaelKohler .

[2020-05-13 03:29] rileyjshaw opened #2716 "A cancelled re-record action wipes the original recording"
Steps to reproduce:

1. Navigate to https://voice.mozilla.org/en/speak
2. Record the displayed sentence
3. Once the next sentence displays, click "Review and re-record" (circular arrow button) beside entry 1
4. Start a recording by clicking the microphone button
5. Cancel the recording by clicking "Cancel Re-recording"
6. Click the play icon beside entry 1

*Observed behaviour:* no audio plays; th

[2020-05-13 23:55] mbransn commented on #2716
@rileyjshaw confirmed, initial recording should be preserved until replaced. Great catch!

[2020-05-14 00:01] mbransn commented on #273
Thanks for the consistent input here all, this (outlining criteria for speak and listen) is something we're working hard to implement. We now have a [public roadmap](https://app.productplan.com/p/k3ghI3nYCiCJzx_4uaHtSaQ32swzXXx4) and this feature is slated for the next 3-4 months, see "Criteria for recording and validation".

[2020-05-14 12:16] Githubuxer opened #2718 "Code snippet/icon missing for ‘add to homescreen’ on iOS"
Code snippet/icon missing for ios ‘add to homescreen’ function.

It’s great that voice is now a website to reduce app development issues and user install issues, but the code snippet and icon is missing to make it look like an app on iOS, which is very easy to implement:

https://www.create.net/support/adding-an-ios-home-screen-icon-for-your-website

This is what it currently looks like:

![image]

[2020-05-14 12:47] OddHouseGames opened #2719 "Blurry image on specific page of new website"
https://voice.mozilla.org/en/profile/settings

This image is blurry on the new website:

[image](https://user-images.githubusercontent.com/62911518/81936030-8cb22a00-95bf-11ea-9eeb-f32322a6a170.jpeg)

[2020-05-14 17:15] Rexogamer opened #2720 "Can’t record on iPad"
On the site, when I try to record a sentence, the following happens:
- I tap the record button
- Safari asks for perms
- I grant them
- It seems to freeze, (presumably) not recording anything and not given the option to stop recording

iOS 13.4.1, iPad Air 3, Safari (tried requesting both desktop and mobile site)

[2020-05-14 19:13] rileyjshaw commented on #2720
Hi, thanks for reporting this bug! We've been noticing some inconsistencies in mobile Safari's treatment of various hardware, so hearing from the community is very helpful.

• Did you have any headphones or a microphone plugged in while trying to record (wired or bluetooth)?
• Were you screen-recording, or recording system audio in some other way?
• Did you navigate to voice.mozilla.org from the S

[2020-05-14 19:17] rileyjshaw commented on #2716
This should hopefully be fixed by https://github.com/mozilla/voice-web/pull/2721.

[2020-05-14 19:20] Rexogamer commented on #2720
At the time of encountering this bug:
- I had headphones in, but using the default iPad mic
- Nope
- From Safari

[2020-05-14 19:45] MichaelKohler commented on #2711
Deleted the copyright infringing sentences and did an export: https://github.com/mozilla/voice-web/pull/2722 . This leaves us with 3 exported Hindi sentences.

[2020-05-14 19:45] #2711 closed

[2020-05-14 21:35] mbransn commented on #2711
Thanks @MichaelKohler.

[2020-05-14 22:59] phirework commented on #2718
Hello! Thanks for reporting this. Are you actually able to record when you open the site from the homescreen app? In our testing we found that only opening it in a regular instance of Safari directly worked, it's possible we overlooked something.

[2020-05-14 23:12] Githubuxer commented on #2718
Are there any free open source screen recording apps that are safe to use? It just opens right to the website and you can press the microphone button.

[2020-05-14 23:48] phirework commented on #2718
Your iPhone should have screen recording natively, but you might have to [add it to the control center](https://support.apple.com/en-us/HT207935) if it's not already there, to easily get to it.

Once you've recorded those clips, are you then also able to play them back? If you tap on any of the numbers once you've recorded on it, a little control tray should pop up.

[2020-05-15 00:04] Githubuxer commented on #2718
I was able to open it and record/play it back to ensure it heard my voice.

Download “IMG_6909.MP4” with Firefox Send: simple, safe file sharing https://send.firefox.com/download/d64ad6282ffd58eb/#18skwopMV9WC2C8vfqr54A

[2020-05-15 01:54] phirework commented on #2718
Awesome, thanks for the confirmation, we'll definitely look into it.

[2020-05-15 03:31] xTibor opened #2726 "Questionable content in the Hungarian sentences"
I think the Hungarian sentences needs some sanitization. There are numerous sentences including topics like prostitution, general swearing, nasal sex, rassist midgets and other things may not be suitable for your future voices in this language.

For example:

- [Menj vissza Babilonba, te szajha!](https://github.com/mozilla/voice-web/blob/199c9ad85b29ac9db302e4fb0fdb3ea3e030d77d/server/data/hu/sent

[2020-05-19 15:01] bacharakis commented on #2726
Thanks for the report @xTibor

Would you be able to help us out remove that content?

[2020-05-19 15:02] bacharakis commented on #2719
hi @Githubuxer , can you please share with us the device you are experiencing this problem?
Thanks

[2020-05-19 15:32] Insun35 opened #2732 "Can't listen my recorded voice more then one time"
When I contribute my voice on the web(Speak), I couldn't listen the voice file more then one time before submit.

[2020-05-19 18:26] amilkh opened #2733 "Pre-trained model files for Common Voice"
We want to train a speech recognition machine learning model to predict age, gender, and ethnicity based on the speaker's voice. Common Voice seems like the best dataset for this!

Is there any pre-trained model files we can use to do transfer learning on top of?
Or a simple command-line tool to do the above task?

[2020-05-19 18:57] Githubuxer commented on #2719
iPhone 6S with latest iOS.

[2020-05-19 23:20] phirework commented on #2732
Hello! Thanks for reporting this. Can you tell me what OS and browser you were using? Also, did you used to be able to listen the voice file multiple times in the past, or has this always been the case?

[2020-05-20 06:28] stefangrotz opened #2734 "Add a new collumns to the dataset: reported for reason X"
Since the reported sentences have never been removed for most languages and the reports itself could be valuable information for the training,  the best solution for now to give people the chance to use this information would be to include it into the dataset.

The reports could almost work as a tagging system, for example "Offensive language"

So my proposal is to add these columns to the dataset

[2020-05-20 10:33] nukeador commented on #2733
Hello amilkh,

This repo is to report issues with the common voice site, for question about machine learning models, please post it on Deep Speech discourse

https://discourse.mozilla.org/c/deep-speech/247

Thanks!

[2020-05-20 10:33] #2733 closed

[2020-05-21 11:53] Rexogamer commented on #2719
Also an issue on my iPad Air 3 running iOS 13.4.1:
![061535DD-8ACE-432F-BF68-5746D436FEF9](https://user-images.githubusercontent.com/42586271/82556510-c22bba00-9b61-11ea-9218-c64c24ae4bc1.jpeg)

[2020-05-24 21:31] dabinat opened #2738 "Limit of 28 validations in target segment too simplistic"
I fully agree that validating an endless stream of repetitive one-word recordings would be tedious, however I think the current solution of limiting it to 28 validations may not be the best solution to the problem.

I don’t want to do more than 28 repetitive validations _in sequence_ but I am more than happy to do more than 28 over a longer period of time.

So perhaps a better solution would be a

[2020-05-25 16:53] nukeador opened #2739 "Send button hidden on ipad 11" portrait"
Recording in Spanish on an ipad 11" 5th gen portrait mode, the send button is hidden from the view, you need to scroll to see it.

![imagen](https://user-images.githubusercontent.com/531906/82831229-24fdb800-9eb8-11ea-89e8-a60e241f76e4.png)

[2020-05-25 17:36] jrmuizel opened #2740 "Popup jumps to the bottom on "Hours Recorded/Hours Validated" graph"
When moving my cursor quickly over the graph on https://voice.mozilla.org/en the popup will jump to the bottom of the graph and then return to my cursor as it slows down.

[2020-05-25 17:40] jrmuizel opened #2741 "Log time scale on "Hours Recorded/Hours Validated" makes it difficult to see progress"
Because of the time scale it makes it looks though the rate of progress is always slowing down. Further, because each data point seems represents a different amount of time from the previous it's difficult to draw any intuitive conclusions from the looking at the graph.

[2020-05-25 21:48] dabinat opened #2743 "Move “you are contributing to our first target segment” outside of sentence box"
People keep reading the “you are contributing to our first target segment” text as if it was a sentence 🤦‍♂️

Maybe move it out of the sentence box?

[2020-05-26 05:44] greenbrown opened #2745 "Microphone permission is not available in Firefox Lite browser"
I've noticed that there is no request access or option to the microphone (setting) in Firefox Lite, so it didn't work to record voice to the site through.

Meanwhile, it works well in Firefox for Android.

[2020-05-26 15:19] rprys opened #2746 "No more sentences to validate"
During the last few days I've encountered the 'We've run out of clips to validate in this language...' screen (in Welsh) on a number of occasions.
Welsh at present has 91 hours recorded and 79 hours validated so this message should not be valid.
Could you check this out, please? Thanks.

[2020-05-26 22:48] jofish opened #2747 "German Single World "Hei" to "Hey""
As per the discussion in Discourse https://discourse.mozilla.org/t/help-create-common-voices-first-target-segment/59587/21, in the Single Word corpus, let's replace the German "Hei" with "Hey".

[2020-05-26 22:54] mbransn commented on #2747
@phirework assigning to you and adding to Jira for sprint 29.

[2020-05-27 14:39] taowa commented on #1052
I find the experience of having to switch shortcuts when I switch languages to be quite awkward, so mapping yes and no to the user's mother tongue as well as whatever language they're working on might improve UX for some multilingual folks.

[2020-05-28 03:02] RuikangSun opened #2748 "Need more convenient shortcuts"
When finished 5 sentences, I still have to use my mouse to click "Next" to continue. It is not really convenient.

[2020-05-28 08:52] RuikangSun opened #2749 "Some (mainland) Chinese sentences are incorrect in grammar 部分中文句子存在语病"
Examples:

晚年的佩格劳仍继续从事交通号志小人的设计工作。
指出麦卡锡名单上大部分人是应该合理地被怀疑有安全风险。
而后五人则各家版本有所不同。
而芙蓉女儿诔更是作者发挥文学才华最充分的一篇。
小鲁一想到可以被嘘就好兴奋欧
人权的许多价值以强化人的能动性并以普世原则要求所有人应享有此天赋权利。

[2020-05-28 12:56] nukeador commented on #2726
@MichaelKohler might be able to track if this is coming from the same source, since I see it's coming from the sentence collector.

[2020-05-28 15:43] rprys commented on #2746
Looks like I'm not the only one...
https://discourse.mozilla.org/t/getting-no-more-sentences-to-validate-screen/59597

[2020-05-28 16:48] nukeador opened #2751 "Empty/silent recordings to validate if tab is inactive for a while"
1. Open /listen
2. Check you can play the clip, do nothing else
3. Leave that tab open for sometime (I check after 2h for example)
4. Validate the clip, get the next one
5. The next one is not playing

Console error when you click play on step 5
[code]

I'm loged in with my user.

The sentence on step 5 was "Ese día, Rata Blanca comenzó las grabaciones de Entre el cielo y el infierno."

Audio tag

[2020-05-28 16:49] nukeador commented on #2746
What's your username and browser version and OS? When (date/time) did you get this problem? It was fixed after reloading the page?

[2020-05-28 17:00] nukeador commented on #2748
You can configure on your user settings to skip this screen

![imagen](https://user-images.githubusercontent.com/531906/83170864-7fe01b00-a115-11ea-88b1-34a99fe9d4ad.png)

[2020-05-28 17:00] #2748 closed

[2020-05-28 17:17] nukeador commented on #2738
Can you move this conversation to discourse?

https://discourse.mozilla.org/t/help-create-common-voices-first-target-segment/59587/

We will be checking with the Firefox Voice team soon and might be able to come with their recommendation on how much to collect.

[2020-05-28 17:17] #2738 closed

[2020-05-28 17:18] dabinat commented on #2751
I can confirm that I have seen this too. This behavior can also be triggered sometimes when skipping a recording.

[2020-05-28 18:24] MichaelKohler commented on #2726
From https://github.com/mozilla/voice-web/blob/master/server/data/hu/sentence-collector.json:

Source: https://www.podnapisi.net/subtitles/hu-the-big-bang-theory-2007-S01E07-O-the-dumpling-paradox/LtkR
User: zerdo

Source: https://www.opensubtitles.org/
User: btaens

Source: https://www.feliratok.info
User: btaens

Source: https://www.podnapisi.net/subtitles/hu-the-big-bang-theory-2007-S01E13-O-th

[2020-05-28 19:28] ObjectBoxPC opened #2753 "Trailing slash handling redirects to wrong URL"
https://voice.mozilla.org/en/ redirects to https://voice.mozilla.org/en/voice.mozilla.org/en which doesn't seem correct. I believe this is due to the fix for #946: The redirect URL does not include the scheme (the header is `Location: voice.mozilla.org/en`) so it's interpreted as a relative URL instead of an absolute one.

[2020-05-28 21:29] phirework commented on #2753
Thanks for the report! This will be fixed in the next release.

[2020-05-29 05:56] Txopi opened #2754 "Words of the first target segment are not showing for Basque and Esperanto"
If I visit voice.mozilla.org to collaborate with Basque language, I see the message in the header of the website announcing the creation of the first target segment. When I enter the speak page I should see the Basque words for numbers and yes/no, but I get the standard Basque sentences instead: https://voice.mozilla.org/eu/speak
The same happens at least with Esperanto: https://voice.mozilla.org/

[2020-05-29 16:00] rprys commented on #2746
On this occasion c.16:50 GMT+1 29/05/20 I'm getting a blank Listen screen after validating 30+ clips in Welsh.

Refreshed the page, sentences re-appeared.

Firefox 76.0.1, Windows 10 2004

Console log
Pror to refresh:
do not track header set, disabling analytics login-success:66:17
Intl.PluralRules already exists, and has NOT been replaced by this polyfill polyfill.js:92:12
To force, set a global

[2020-05-29 16:03] rprys commented on #2746
A further instance of a blank Listen screen at c.17.02 GMT+1 29/05/20.

Content Security Policy: The page's settings blocked the loading of a resource at inline ("script-src"). onloadwff.js:71:798525
Content Security Policy: The page's settings blocked the loading of a resource at inline ("script-src"). 2 utils.js:35:9
do not track header set, disabling analytics listen:66:17
Intl.PluralRules alre

[2020-05-29 16:06] rprys commented on #2746
Refreshing the page returned sentences on the Listen page at voice.mozilla.org/cy

username: rprys@posteo.net

Content Security Policy: The page's settings blocked the loading of a resource at inline ("script-src"). onloadwff.js:71:798525
Content Security Policy: The page's settings blocked the loading of a resource at inline ("script-src"). 2 utils.js:35:9
do not track header set, disabling analy

[2020-05-29 17:20] nukeador commented on #2746
@phirework this is another issue we are getting many reports this week.

[2020-05-29 18:18] phirework commented on #2746
Hi! Thanks for reporting this. Can you tell me what add-ons you have installed? I ask because we are already aware of and working on a fix for the `NotSupportedError` bug, but I've never seen the Normalizer logs before, and the only reference I can find to it on the internet is this add-on that a contributor built:

https://addons.mozilla.org/en-CA/firefox/addon/vmo-audio-normalizer/
https://githu

[2020-05-29 18:27] phirework commented on #2753
This has been fixed on prod. Thanks for flagging!

[2020-05-29 18:27] #2753 closed

[2020-05-30 00:02] phirework commented on #2754
Thanks for flagging this! This should be fixed. Can you confirm?

[2020-05-30 10:05] Txopi commented on #2754
Yes, it works now. Thank you!

[2020-05-30 10:25] rprys commented on #2746
Thanks, yes I do have vmo audio normalizer add-on installed.

[2020-05-31 11:52] johanvandyck commented on #2746
Hi
I have the same issue on the Dutch language (= Nederlands). However, when I refresh the screen or click around the tabs a little bit, I mostly get more samples to validate. I think some background loading of samples is not following up.

username = Johan
FF 76.0.1 with many plugin active.
Common Voice project setting: disable summery screen after 5 samples to gain speed.

[2020-05-31 23:01] Pascalio opened #2759 "Audio normalisation"
I'd like to stress the fact that audio normalisation should probably be a great gain for the speech sample reviewers. Several GitHub issues were filed about this, but it seems the chosen solution was to implement it as an add-on. The problem is that, had I not been digging in GitHub, I wouldn't know about this add-on and so wouldn't the others, probably. But some samples are really too quiet and t

[2020-06-01 05:00] psubhashish opened #2760 "Adding a CC0 1.0 licensed voice database for Odia"
There are two main categories on Wikimedia Commons that list more than 4000 audio recordings of pronunciations of words ([here](https://commons.wikimedia.org/wiki/Category:Lingua_Libre_pronunciation-ory_and_ori) and [here](https://commons.wikimedia.org/wiki/Category:Audio_files_created_using_Kathabhidhana)). It would be useful to bring those recordings on Common Voice as the license is compatible

[2020-06-01 11:20] rprys commented on #2746
I tried Microsoft Edge as an alternative this morning as Firefox was playing up, but after c. 12 clips I got the 'no more clips in your language' page.

Microsoft Egge 83.0.478.37 with uBlock Origin, Kaspersky Protection add-ons only. Windows 10 2004 No unesname.
[voice.mozilla.org-1591009926886.log](https://github.com/mozilla/voice-web/files/4710948/voice.mozilla.org-1591009926886.log)

[2020-06-01 15:56] phirework commented on #2746
Great, thanks for the additional detail, we are investigating.

[2020-06-01 22:00] phirework commented on #2549
Wanted to check back in and see if you've noticed any change in this trend recently? We increased the minimum length to 1.5s and I'd like to know if that's made a difference. (We are still investigating VAD.)

[2020-06-02 11:47] johanvandyck commented on #2751
Hi

I can confirm this behaviour, BUT I also have other cases.
- Problem 1: sound file contains x seconds of silence and the sentence itself. E.G. 10s silense + sentence. There is no indication the silence is not part of the recording. As if the user recorded after a while.
- Problem 2: the sound file contains no sound at all. Some recordings take more than 1 minute.

When?
- usually after I take

[2020-06-02 16:24] laubonghaudoi opened #2761 "Too many text errors in zh-HK 粵語頁面官粵夾雜，非純官話亦非純粵語"
(English translation below)

呢個頁面 https://voice.mozilla.org/zh-HK 太多文本錯誤，官唔官粵唔粵，唔知乜鬼雜交怪胎。求其搵幾個例子：
1. 「您」：粵語中冇「您」呢隻字，「您」字係北京官話方言字，粵語中第二人稱代詞剩得 nei5，寫作「你」。如果真係要表達第二人稱專稱，會寫作「閣下」。
2. 「的」：粵語入邊嘅屬格標記係「嘅」，粵拼 ge3。「的」普拼 de 係官話字，唔存在於粵語中。
3. 「一些」：粵語入邊用「一啲」，「一些」係官話詞彙。
4. 「也」：「也」係官話詞彙，粵語入邊用「都」。
5. 「不」：粵語入邊否定詞用「唔」（或者「毋」），「不」字係官話表達。

希望 zh-HK 講清楚，究竟頁面係要用粵語定係官話。如果係粵語就用純正粵語，係想用官話就用純官話，唔好官粵夾雜，會誤導人，讀起身亦都好唔舒服。或者乾脆新開一個語

[2020-06-02 19:23] phirework commented on #2761
Hello! Thanks for reporting this. It sounds like the specific errors you're noticing are related with the way the site itself is translated, and not the sentences that are being read out? If yes, please make those corrections through the Mozilla localization tool Pontoon. The Common Voice repo automatically pulls from Pontoon, so any PRs you make here will just be overwritten immediately. Here's t

[2020-06-02 19:51] laubonghaudoi commented on #2761
Hi! Yes, it is just the translation of the web page, not the data. I was going to make a pr to modify the file in [/web/locales/zh-HK/messages.ftl](https://github.com/mozilla/voice-web/blob/e9702f23c458c852d383ecd6e118cfe3db1ad4a6/web/locales/zh-HK/messages.ftl). Because most of the errors are systematic, so I can use batch replace in my text editor. Does that mean I can't do a PR, and can only us

[2020-06-02 21:26] mbransn commented on #2761
Hi @laubonghaudoi yes, our text localization is managed by the expert communities that contribute to Pontoon. Pontoon tooling enables checks and balances to ensure translation across locales is as accurate as possible. Common Voice adopts localization (including the primary locales themselves) from Pontoon.

As @phirework mentioned we're aware that written and spoken language do not always correla

[2020-06-02 22:07] laubonghaudoi commented on #2761
Hi @mbransn thank you so much for the clarification. Actually we have a general complaint on a bigger issue, which is the language classification of Mozilla's standard. Right now Mozilla is using "Chinese Hong Kong", code name "zh-hk" as the language name, but this is ambiguous because Chinese can be Cantonese or Mandarin, which are very different and unintelligible to each other. In the long run,

[2020-06-03 17:24] nukeador opened #2763 "✅ June Validation Campaign: Enhance the upcoming dataset release!"
*[Original topic on discourse](https://discourse.mozilla.org/t/june-validation-campaign-enhance-the-upcoming-dataset-release/61315), please reply there*

Hello everyone,

🚀 I’m happy to share that we are preparing everything for our next Common Voice dataset release and we want to make sure we can include as many validated hours as possible to increase its quality and usefulness.

🗓 Our goal is to

[2020-06-04 02:22] iveskins commented on #2751
Is this due the the signed links to the files in the s3 buckets expiring before they are called? The link is generated when the set of sentences is loaded, and is valid for x seconds from then. If you take a break and come back, the link is no longer valid, but it is still stored in the client app.. Thats my theory.

[2020-06-04 05:17] johanvandyck commented on #2751
Hi

Your description of signed links expiring could describe my problem 1 above. However it is not valid for "problem2". I have this behaviour in the middle of listening session. No pause at all.
Can I log some additional values?

[2020-06-04 13:05] nukeador opened #2765 "Blank screen on /listen"
This has happen a few times in the past when I'm logged in.

https://voice.mozilla.org/es/listen is blank

![imagen](https://user-images.githubusercontent.com/531906/83760076-b9b0a480-a674-11ea-880c-793f34f81f5b.png)

No error on the browser console, something I managed to solve it by reloading the page, not this time.

The page loads on a private window without login in.

[2020-06-04 13:17] nukeador commented on #2751
I was just validating 15 clips now and got into the empty clips issue

[code]

Audio on screen

`<audio preload="auto" src="https://voice-prod-clips-393eefd0cba28c270ced0f9587a4f6ae601ca91e.s3.dualstack.us-west-2.amazonaws.com/519abe61-da91-42b6-9e90-56a708562eb6/2cc0f59b9ac58588ed1ad353cbda507cc33b91362858d8efd65ff9766336689d.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=ASIAQ3GQRTO3H

[2020-06-04 13:23] nukeador commented on #2749
How many of these are you encountering on average each 10 clips?

/cc @mko

[2020-06-04 21:23] dabinat commented on #2549
@phirework I have noticed a significant reduction in blank recordings. I’ve only seen two in the past few weeks.

Of course, it’s hard to know if that’s because blank recordings got caught or if people just submitted fewer blank recordings. But I’m sure increasing the minimum recording time helped.

[2020-06-05 01:44] rileyjshaw commented on #2747
This has been fixed and will go out with our next release on Tuesday, June 9.

[2020-06-05 01:44] #2747 closed

[2020-06-05 10:04] Insun35 commented on #2732
First of all, thank you for your reply. Now I'm using Window10 for OS and Chrome browser. And I can't listen the voice file only after I record whole 5 sentences. That is to say, I could listen when I recorded only 3 or 4 sentences.

[2020-06-05 10:26] irvin commented on #2761
cc @sammyfung at local community

[2020-06-05 10:30] irvin commented on #2749
Those are coming from Wikipedia, @RuikangSun can you help us to estimate how many percent do you consider is not grammar correctly
這些句子是擷取自維基百科，想請你協助查看一下下面的文字檔，幫我們估計一下大概有多少比例的句子是你認為「存在語病」的。
https://github.com/mozilla/voice-web/blob/master/server/data/zh-CN/wiki.zh-cn.txt

[2020-06-05 10:37] irvin opened #2767 "review had 1/10 of sentences came from wrong language"
I found a weird bug when reviewing the records of zh-tw at https://voice.mozilla.org/zh-TW/listen

About one of ten sentences are from zh-hk (Cantonese) instead of zh-tw. Those sentence only appear in zh-hk corpus, and sounds like they are correctly recorded by HK people in Cantonese.

This is the xhr request for the clips when I entering review,
[code]
And this is the example JSONs of result from

[2020-06-05 10:40] irvin commented on #2767
<img width="983" alt="截圖 2020-06-05 下午6 39 21" src="https://user-images.githubusercontent.com/165936/83867380-ea1f3e00-a75b-11ea-8a24-f14c78d940d9.png">
I had zh-tw, zh-cn, english in my language settings

[2020-06-05 10:46] irvin commented on #2767
[clips-3.json.txt](https://github.com/mozilla/voice-web/files/4735548/clips-3.json.txt)
confirmed the issue occur in browser private mode (safari) too, the first one is from zh-hk

[2020-06-05 11:29] dtylam commented on #2761
To your last point @laubonghaudoi, I think the common voice core team is working on better language/dialect management and they are considering moving `zh-hk` to `yue`, but that work is still in early stages @peiying2

I am currently the main approver of the pontoon translations, previously I have only focused on making sure the translations of terminologies are at least consistent, but yes there

[2020-06-05 11:58] sammyfung commented on #2761
I respect the opinion made by @laubonghaudoi in this issue.

The purpose of the Common Voice project is to collect the voice given by different persons.

Both of written sentences (書面語) and daily vocal sentences happen in Hong Kong Chinese speaking. For example, if someone speaks (朗讀) sentences from Chinese textbooks, they speak written sentences (書面語) in Cantonese. In daily conversation, they spe

[2020-06-05 12:06] sammyfung commented on #2761
ok, I just found that @laubonghaudoi mentions the text on web site, not the text data of Common Voice.

I suggest doing a check after receiving the PR from him.

[2020-06-05 12:15] sammyfung commented on #2761
And I suggest @laubonghaudoi to use more friendly Cantonese wordings to avoid misunderstanding. eg. "讀起身亦都好唔舒服", "讀" can be interpreted as "read with eyes" or "speak by mouth" in Cantonese.

Sorry for the misunderstanding.

[2020-06-05 13:08] Ahhang20 commented on #2761
@laubonghaudoi raised two issues:

**1. The text in zh-HK web pages is a mixture of Cantonese and Mandarin.**
I didn't involved in the translation of zh-HK text. I guess the text was originally migrated from zh-CN or zh-TW pages. This is understandable for quick launching zh-HK to collect Cantonese voice. Later other volunteers helped to translate some text to Cantonese. Probably due to resource l

[2020-06-05 15:45] tanxpyox commented on #2761
I think what @laubonghaudoi meant by 'mixing up "Cantonese Hong Kong"' and "Mandarin Hong Kong"' was that part of the UI and phrases in the voice project are based on '書面語', which by definition is a Mandarin-based form of writing. (and contradicts the notion that 'zh-HK has one and only one meaning to me: the Cantonese use by Hong Kong people'). Changing all phrases to the Cantonese-based form of

[2020-06-05 16:26] laubonghaudoi commented on #2761
Thank you so much for the clarifications guys. Please allow me to explain this issue deeper to avoid further misunderstandings.

I am a native Cantonese speaker from mainland China, not Hong Kong, and therefore the code "zh-hk" is very confusing and misleading. As I said, **the term "Chinese" is ambiguous, Chinese is not a language, it is a macro-language**, this can be verified by the ISO 693-3 s

[2020-06-05 17:36] sammyfung commented on #2761
I think @Ahhang20 talk about "zh-hk" but not "zh".

"zh-hk" is Chinese in Hong Kong which Mandarin is not considered for 'zh-hk', because Cantonese and English are official languages in Hong Kong, not Mandarin.

And I tell you that Hong Kong people say "we speak Cantonese" instead of "we speak Chinese".

So, zh-hk and en-hk can always represent Cantonese and English in Hong Kong, therefore I disag

[2020-06-05 17:46] laubonghaudoi commented on #2761
This is clearly not true. Right now there are still many people using the term "Chinese 中文" to refer to Cantonese, saying "We speak Chinese" to imply "We speak Cantonese": https://www.youtube.com/watch?v=sc28HYRQ9iA

And this is exactly why we should avoid using the term "Chinese 中文" to refer to any language. Please be aware that the language options and code names are not only for Hong Kong peopl

[2020-06-05 18:33] irvin commented on #2761
There are historical reasons for the current status of how Chinese used to refer to both Cantonese in Hong Kong, Mandarin in China, and Mandarin in Taiwan. Probably a big part is mainly because of my lack of relevant knowledge but tries to initiate the effort in Chinese at the beginning of this project several years before.

We now had an [updated language and accent stretegy](https://discourse.mo

[2020-06-05 18:39] sammyfung commented on #2761
The discussion on different sub-issues raised in this issue is too long, it is not just linguistic related, it is also related to programming technology eg. support which code scheme. I suggest that @laubonghaudoi may contribute minor fixes on some UI translation for zh-hk first if he is interested to contribute.

We may discuss sub-issues one by one later.

[2020-06-05 18:41] laubonghaudoi commented on #2761
Thank you! So should I make changes only with Pontoon, or I can submit an PR to fix them once and for all? Most the translation errors are systematic, so if I can make a PR I can use my text editor to do batch replace and fix them much faster. I will make sure to invite other Cantonese linguists to review the translation before merging.

[2020-06-05 18:48] sammyfung commented on #2761
And as a HongKonger, personally I would like to express my concern to discuss Cantonese and the meaning of Chinese (Hong Kong) with non-HongKonger, and I keep thinking of any conflict to Code of Conduct in the discussion.

[2020-06-05 18:54] sammyfung commented on #2761
I think UI translation is a simple task that doesn't require a review from linguists.

And some discussion in this issue is difficult and complicated, Cantonese linguists who born in Hong Kong may have different opinions and disagree with Cantonese who born outside Hong Kong.

[2020-06-05 19:31] irvin commented on #2761
Just on Pontoon. I understand that direct modify the string file seems to be faster, but this is a one-way procedure for l10n of website UI. To prevent your contribution been overwritten please focus there.

[2020-06-05 19:47] irvin commented on #2761
@mbransn I think we can close this issue as now we could improve the UI translation on Pontoon and continue the language stretegies discussion on Discourse.

[2020-06-05 20:05] laubonghaudoi commented on #2761
@sammyfung @irvin I just made some proposed changes via Pontoon, please approve and we can close this issue. And we can discuss the related sub-issues in other posts.

[2020-06-06 21:37] dabinat commented on #2765
I’ve been getting this a lot yesterday and today.

I assume it’s loading the clips via an Ajax request that is either timing out or just taking a long time. If it’s just taking a while, it would be good to have some kind of “loading” icon so people know it’s still doing something.

Another issue that I think is related is that sometimes fewer than 5 clips get loaded.

[2020-06-06 22:00] reniermin opened #2769 "inificient compression"
When unpacking the English data set the 38Gb .tar.gz file was unpacked to only 12 Gb

[2020-06-07 04:17] dabinat commented on #2765
Also worth mentioning that skipping clips triggers this frequently.

[2020-06-07 19:19] stefangrotz commented on #2754
The manager for basque have to confirm it before it gets published. His name is julen you can find him in this list here: https://pontoon.mozilla.org/eu/common-voice/contributors/

[2020-06-07 20:03] Txopi commented on #2754
I'm sorry but that string's state is Translated, not Unreviewed.

[2020-06-08 07:34] stefangrotz commented on #2754
You are right, sorry I did not check this. The translation was imported a while ago:
https://github.com/mozilla/voice-web/commit/f0a55d0dc0dbf2379a67d3c07e0b0e3ce19833f3

AFAIK the master branch from GitHub gets released every two weeks or so, always on Tuesday if I remember correctly. It took a while until it was visible for Esperanto too.

[2020-06-08 10:54] stefangrotz commented on #2746
Same issue with Esperanto. 78 recorded hours, 73 validated no sentences left to validate.  I don't find any errors on my console apart from a cross-origin problem with https://edge.fullstory.com/s/fs.js. I use uMatrix but only block fullstorry.com and google analytics.

One interesting thing I noticed is that if people donated new recordings they show up to validate. So this seems so work normally

[2020-06-08 10:56] nukeador opened #2771 "Language stats are not updated"
Language stats on frontpage and /languages are frozen on last week's data.

[2020-06-08 15:42] rileyjshaw commented on #2771
Thanks for flagging this! It's likely related to the `ER_LOCK_DEADLOCK`s that we've been seeing over the past week or two – either due to high traffic or slow queries. It seems to be updating for me, but I might be missing something. Is there a particular language / configuration you're noticing this for?

[2020-06-08 15:47] nukeador commented on #2771
For Spanish I see the same data as last week

![imagen](https://user-images.githubusercontent.com/531906/84051913-1a5f1a80-a9b0-11ea-962c-206cde41c1a5.png)

[2020-06-08 15:48] rileyjshaw commented on #2771
🙏 thank you – will investigate.

[2020-06-08 16:14] 0-kwan opened #2772 "We can't access the Common Voice web through Explorer."
We can access it with Chrome, but if you try to access it with Explorer, only a white window pops up.

[2020-06-08 16:40] bacharakis commented on #2739
Hi @nukeador , can you please confirm whether this is not fixed with the recently launched version of Common Voice?
Thank you
-Christos

[2020-06-08 16:42] bacharakis commented on #2732
Thank you for following up @Insun35 !
I will reach out with further updates as soon as we have them, regarding the issue you reported.
Thanks

[2020-06-08 16:43] bacharakis commented on #2740
Thank you @jrmuizel for the report.
Can you please let us know which browser are you using and on which operating system?

[2020-06-08 16:46] bacharakis commented on #2743
Thanks for your suggestion @dabinat !
Our team will review it and I will come back to you as soon as we have something.

[2020-06-08 16:46] bacharakis commented on #2745
Thanks for your report @greenbrown
Our team will look into it and I will get back to you with further information on the progress of the issue.

[2020-06-08 16:47] jrmuizel commented on #2740
Firefox Nightly on macOS

[2020-06-08 16:47] bacharakis commented on #2772
Hi @0-kwan  and thank you for your report.
Can you please share with us the version of your Operating system along with the version of Internet explorer you are using?

Thank you

[2020-06-08 16:48] jrmuizel commented on #2740
The problem happens in Chrome on macOS too.

[2020-06-08 19:04] mbransn commented on #2761
@laubonghaudoi @irvin @sammyfung @dtylam thank you for the constructive back and forth here. Closing this issue as UI translation edits are happening at Pontoon. Agreed Discourse is the best place for language strategy discussions. @bacharakis @nukeador and myself will continue to monitor there.

[2020-06-08 19:04] #2761 closed

[2020-06-08 22:45] mbransn commented on #2709
@rileyjshaw agreed it seems not many people will encounter this error state. Do we have an error log in place that will help us track how often this state is triggered and on what platforms/devices? I'd prefer to edit and curate errors based on informed need rather than assumption.

[2020-06-09 01:59] 0-kwan commented on #2772
Thank you so much for your answer.

The Explorer is version 11, and the operating system is Windows 10.

[2020-06-09 05:12] rileyjshaw commented on #2709
@mbransn we aren't currently logging views of the error state. I could add a tracker, but unfortunately the same problem will exist there; it'll be logged with a desktop user agent. On top of that, Firefox Focus blocks our tracker altogether… our privacy is just too damn good I guess 😂

[2020-06-09 07:16] RuikangSun commented on #2749
Approximately，20% clips are completely wrong in grammar, 30% clips cannot be complete sentences (lack subject or object etc). It seems that these Chinese sentences are translated by machine.
Maybe it was caused by wrong comma separation. In Chinese, commas are used quite often in sentences.

[2020-06-09 07:18] RuikangSun commented on #2749
Approximately，20% clips are completely wrong in grammar, 30% clips cannot be complete sentences (lack subject or object etc).

[2020-06-09 12:21] nukeador commented on #2749
We did a review of these sentences with native speakers at the time and the error ratio was really low. I'm checking again with the team but I'm surprised to read a completely different error estimation.

[2020-06-09 16:34] phirework commented on #2769
Hello, thanks for reporting this. Can you tell me how many files you were able to unpack? There should be approx 45gb of clips in the tarball.

[2020-06-09 18:09] mbransn commented on #2709
Ah, got it! Makes sense. In this case I'd prefer we leave as is for now. It's a desktop browser error and would prefer people understand how to contribute via the platform they are most likely to be utilizing. Thank you!.

[2020-06-09 18:09] #2709 closed

[2020-06-09 18:57] reniermin commented on #2769
Yah when I unpacked there were only 11Gb of mp3 files in the clips folder

On Tue, Jun 9, 2020, 10:34 AM JZ, <notifications@github.com> wrote:

[2020-06-09 19:44] phirework commented on #2769
Can you tell me:

* The number of clips in the folder
* What operating systems you're on
* What you're using to unzip?

Thanks!

[2020-06-09 19:47] reniermin commented on #2769
So there's around 300,000 clips reported on gnome file explorer. I'm using
Mankato Linux just using the default archive manager.

On Tue, Jun 9, 2020, 1:44 PM JZ, <notifications@github.com> wrote:

[2020-06-10 03:45] irvin commented on #2749
well, I think the criteria could be very different.

Are those just "readable" or if "look like completed daily dialog sentences" can lead to very different perceptions. As [in here](https://discourse.mozilla.org/t/wikipedia-extraction-feedback/36843/44?u=irvin) I estimate the problematic rate is around 10%. Obviously we break the sentences on the comma after iterate v13, in order to make it short

[2020-06-10 03:59] irvin commented on #2749
I would like to know exactly how many sentences are considered bad on current corpus.

@RuikangSun here are 100 sentences I randomly fetch from [the corpus](https://github.com/mozilla/voice-web/blob/master/server/data/zh-CN/wiki.zh-cn.txt), can you help point out which of them are "wrong in grammar", and which of them are "not complete"?

For example, for grammar problem prefix a 'g' before senten

[2020-06-11 01:18] RuikangSun commented on #2749
Examples：
吓跑组合演唱的歌曲。/"吓跑" means "scare away", but might be the band name
抗原表位可被免疫系统识别。
g 父亲勃艮地公爵是路易十四独子高大的王太子路易的长子。/adjectives are incorrect
巴巴多斯岛主要由石灰石构成。
孙敏汉是一名韩国男子棒球运动员。
g 音乐由千住明担当。/which means "music was taken the position by Qian Zhuming"
g 其在早期记载技术中为最为普遍的使用方式。/"记载技术" should be “技术记载”
约翰和杰克相逢在他们最开始遇见彼此的街道转角处。
c 同年十月就任工兵营副营长。 /lacks subject
g 最近则在车站的北边发现了布鲁内尔非常早期的作品。/"非常"
宁海桥的历史年代为元。/takes tim

[2020-06-11 01:28] RuikangSun commented on #2749
I don't think it is the result of Wikipedias's mixed-use of zh-cn and zh-tw. It might be the result of machine traslation. In addition, I used to translate papers in English to Chinese, the result is not bad in grammar. So I guess that these incorrect sentences are translated by machine from minority languages. “Minority languages -> English ->Chinese” translation might break the sentences.

[2020-06-11 13:50] nilabja-bhattacharya commented on #2734
I am a new contributor, I would like to work on this, let me know which files to check?

[2020-06-11 22:18] phirework commented on #2769
Hmm, I'm not able to replicate this bug and we haven't heard any other users report missing files. There should be ~1million files in that archive.

Can you try extracting the file on the command line? E.g.

[code]

[2020-06-11 23:58] reniermin commented on #2769
Ok, I just unpacked the folder and the problem is solved. Thanks for all
the help

On Thu, 11 Jun 2020 at 16:18, JZ <notifications@github.com> wrote:

[2020-06-12 04:11] irvin commented on #2749
According to your above evaluate, problem rate of completion problem are 6 out of 100, and grammar error rate are 5 out of 100.

For these sentences you point out, I believe they all came from Wikipedia. I think it would be nearly impossible to automatically remove them with a set of machine rules. If we would like the corpus to avoid those problems, it would require a manual process to go through

[2020-06-12 13:18] RuikangSun commented on #2749
Please check my examples again, I only gave 26 examples and there are 11 imperfect sentences.
Certainly missing subject or object may not affect the usability, however, some of the sentences are completely wrong. What if I training a voice recognization model with sentences like "music was taken the position by Qian Zhuming"or "The name of XXX is XXX reunited"? How can machine understand human-inc

[2020-06-12 13:25] RuikangSun commented on #2749
我的英語表達可能不夠好，請您見諒。但是11/26的錯誤比率，與“国家政治保卫总局的正式名称为苏联人民委员会国家政治保卫总局改组而来”這樣明顯不符合國語規範的語句，顯然不應該出現在數據集裡面。

[2020-06-12 15:24] phirework commented on #2769
Thanks for reporting back!

[2020-06-12 15:24] #2769 closed

[2020-06-12 18:33] irvin commented on #2749
上面抽樣一百句的原意是要知道，以你的標準而言，錯誤率大約是多少；樣本多一點，呈現出來的結果，比較有統計上的意義。
The reason for randomly selected 100 sentences for you to check, is to evaluate how much error rate according to your criteria. Bigger samples are used to ensure it's statistic reasonable.

Common Voice 資料庫的主要目標是「收集足夠的帶文本資料的錄音，用以訓練聲音轉文字的語音辨識模型」。此一目的下，就算句子有文法問題或內容錯誤，仍然可以用以訓練 speech-to-text。因此上面有提到另一位老師的意見是「就算文法有錯誤，也沒有關係」。（對於中文來說，其實只要句庫有含括約一千五

[2020-06-13 02:36] RuikangSun commented on #2749
I tried to search these imperfect sentences on Wikipedia, it seems that sentences are not properly cut off from wikipedia.

For example:
The incorrect sentence "_国家政治保卫总局的正式名称为苏联人民委员会国家政治保卫总局改组而来 (in common voice)_ " is from "_国家政治保卫总局的正式名称为苏联人民委员会国家政治保卫总局（俄语：Объединённое государственное политическое управление при СНК СССР，缩写为ОГПУ，拉丁转写为OGPU），它于1923年11月15日由国家政治保卫局（GPU）改组而来。 (in wikipedia)_ ".

The

[2020-06-13 18:49] irvin commented on #2749
It seems that the sentences came from some kind of mismatching of () at that time.

However, I don't think it's possible to systematically filter out all of those sentences now. We will depend on the reporting from the contributor during their records.

[2020-06-16 00:48] NanaKay007 opened #2780 "Icons become invisible when 'yes' and 'no' buttons are hovered on."
**Describe the bug**
Icons on the listen page become invisible when 'yes' and 'no' buttons are hovered on.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to listen page, and hover on 'yes' and 'no' buttons

**Expected behavior**
Buttons icons should not react to hover (or should not become invisible at least)

**Screenshots**
<img width="1439" alt="Screen Shot 2020-06-15 at 8 45 49

[2020-06-17 15:52] SelyanKab opened #2781 "No more sentences to validate in kabyle (kab) locale"
Hi,
since few days, Kabyle community is no longer being able to listen/validate sentences.
The listening section is not showing any content even if new records are being made every Day by community membres.
Kabyle at present has 547 hours recorded and 518 hours validated so this message should not be valid.
Could you check this out, please? Thanks.

[2020-06-19 05:19] mozillakab commented on #2781
After about a week (blocking on the sentence validation for the kab locale), I'm afraid that we we have to  redeploy the same effort to mobilize and recruit again contributors. If the issue persists it will be even harder to bring back contributors.

[2020-06-19 06:34] SafaAlfulaij opened #2783 "L10n issues"
Untranslatable:

https://github.com/mozilla/voice-web/blob/cd745fd49a8dc7862a7717aaaa4e26fefe84b10d/web/src/components/pages/dashboard/goals/custom-goal-steps.tsx#L180

Needs plural:

https://github.com/mozilla/voice-web/blob/e70863b1224c86224e88b6f2174712b9b924041f/web/src/components/pages/dashboard/goals/custom-goal.tsx#L181

https://github.com/mozilla/voice-web/blob/e70863b1224c86224e88b6f21747

[2020-06-19 10:33] YazidIflis commented on #2781
Hi,
Any news on this subject?
Community members ask every day what is going on ... We fear that it will have an impact on their motivation without any explanation or feedback on the problem they are facing.
This affects all Kabyle contributors.
Do you need any additional inputs ?
Kr
Yazid

[2020-06-19 16:12] Txopi commented on #2754
Finally this issue has been fixed on deployment. Thank you!

[2020-06-19 16:12] #2754 closed

[2020-06-20 05:02] dabinat opened #2784 "Detect audio dropouts"
Audio dropouts are fairly frequent in recordings, ranging from small “pops” to big distortions and clips playing back at fast speed. One lady has the problem so badly that I have rejected hundreds of her recordings.

Since DeepSpeech’s augmentations insert random artificial dropouts, it would appear that some level of dropout is ok, but is there a technical means for detecting more serious dropout

[2020-06-20 05:07] dabinat commented on #2784
Also worth mentioning that it feels like audio dropouts have increased over the past few weeks. It could just be that the users who get dropouts are contributing more, but it’s a problem I’ve been seeing a lot more frequently lately.

[2020-06-20 09:54] mozillakab commented on #2746
@nukeador
Still can't validate. I recently added numbers in Kabyle on  https://github.com/JRMeyer/common-voice-stats and   I don't know if something was done and impacted this behavior.

I'm using:

- Firefox 77 on windows 7.
- Addons installed on Firefox: Firefox Private Relay, USer-Agent-Switcher, Duckduck Private Essentials, Facebook Container, Hoxx VPN.

[2020-06-20 10:02] mozillakab commented on #2781
@nukeador I think it's the same issue as #2746

I'm using Firefox 77 on windows 7. With some addons User-Agent Switcher,  Private Relayt, FB container, Ducduck Private Essentials, Hoxx VPN. But I have them before.

I recetly added kabyle numbers here https://github.com/JRMeyer/common-voice-stats. I don't know if there is something changed that impacted the behavior.

[2020-06-22 16:55] phirework commented on #2781
Hi all, apologies for the delay in replying, the entire team (and indeed, the entire company) was engaged in all hands last week. The issue with Welsh vs. Kabyle is slightly different, and what's happening with Kabyle is a result of the single sentence record limit that rolled out last week - [Discourse post here](https://discourse.mozilla.org/t/single-sentence-record-limit-feature-release/62198).

[2020-06-22 17:34] mozillakab commented on #2781
@phirework in this case, please can we disable recording and show the link to to Sentence collector. I suggested a feature to display sentence collector url and invite people to validate.

[2020-06-22 17:41] mozillakab commented on #2781
@phirework  I will inform the community to go to Sentence Collector. Please, can we keep the recorded sentence that are not validated? We need them later for segmentation (for other use).

[2020-06-22 19:36] SelyanKab commented on #2781
@phirework, @mozillakab yes, it's a good idea, People should know that they have to add more sentences by showing the message and the URL adresse of sentence collector.
Thank you all

[2020-06-22 21:01] mozillakab commented on #2781
@SelyanKab we have thousands of sentences on CS waiting for validation. Please would you like post a publication on our FB page? Make a call, maybe we should organize a meeting? what action you think better to do? Within the last 3 months people say that SC server is very slow. I think that's why we got few validations from SC. I think we can create an issue on SC about this (slowness)

[2020-06-22 22:01] SelyanKab commented on #2781
@mozillakab Yes, I already post a publication on our Facebook page, calling the community.
 About the sentence collector  site, yes actually, it's too heavy to connect to it.

[2020-06-23 06:51] MichaelKohler commented on #2781
That will be improved in the yet-to-be-released infrastructure update.

[2020-06-24 21:06] deevroman opened #2786 "Automatically change language of tops"
When switching the language in the header, the language of the tops does not change, although it would be more convenient and logical if it did.

![CommonVoiceFeature](https://user-images.githubusercontent.com/25708359/85627472-384aa180-b677-11ea-8397-62eb8e02153f.gif)

[2020-06-27 11:50] Sav22999 opened #2789 "GUI bug"
**Describe the bug**
See "Record button"
![immagine](https://user-images.githubusercontent.com/32335378/85921489-f1c69400-b87c-11ea-8095-e83c49082438.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to voice.mozilla.org
2. Scroll down to the bottom of that page
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![immagi

[2020-06-27 11:55] Sav22999 opened #2790 "Width of the percentage is wrong"
**Describe the bug**
The pertentage in "Progress" (Stats) go out of the container

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://voice.mozilla.org/en/dashboard/en/stats or https://voice.mozilla.org/en/dashboard/it/stats (or also https://voice.mozilla.org/it/dashboard/en/stats, https://voice.mozilla.org/it/dashboard/it/stats)
2. Click on "Stats", then selct a language (in my ca

[2020-06-27 12:04] Sav22999 opened #2791 "Cannot choose language in Dashboard for Italian on mobile"
**Describe the bug**
"Your language" and the select-box is not visible in mobile website for Italian language

**To Reproduce**
Steps to reproduce the behavior:
1. Go to voice.mozilla.org/it/dashboard
2. See error (You cannot chabge language)

**Expected behavior**
It should show the select-box

**Screenshots**
![Screenshot_20200627-140022.png](https://user-images.githubusercontent.com/32335378/85

[2020-06-28 11:43] johanvandyck commented on #2771
Hi, I know this is not the subject here, but can you tell me where you find the graph above? I don't see this in my Dutch dashboard.

[2020-06-29 06:11] dabinat opened #2792 "Clips I’ve already validated reappear again"
I’ve been getting a problem over the last few days where clips I validate reappear for validation again in the queue. Some clips I will vote on and then they appear for validation again a mere 5 or 6 clips later.

At first I wasn’t 100% sure that they weren’t just ones that I skipped and forgot, but it has now happened frequently enough that I can confirm it is definitely occurring on clips I vote

[2020-06-30 16:33] bacharakis commented on #2783
Hi, @SafaAlfulaij can you please give me more information about the issue here?
What are the exact L10n issues?

[2020-06-30 16:36] bacharakis commented on #2789
Hi @Sav22999 and thanks for your report.

I am not quite sure what is the issue here. Both of the screenshots look identical. In addition, I went at the bottom of voice.mozilla.org as you suggested but I don't see an error.

[2020-06-30 16:37] Sav22999 commented on #2789
![immagine](https://user-images.githubusercontent.com/32335378/86152637-cbb12600-bb00-11ea-9529-6e5e0a68c817.png)

[2020-06-30 16:39] bacharakis commented on #2790
Thanks for the report @Sav22999 . Are you facing this issues in Windows, Linux, and Android as well?

Thank you

[2020-06-30 16:40] MichaelKohler commented on #2789
The screenshot was added twice, it's the same one. In that screenshot I see two issues:

* White line in button shadow
* Where is that button coming from? At the bottom of that screen there shouldn't be any record button next to that image?

@Sav22999 what browser and OS are you using?

[2020-06-30 16:41] bacharakis commented on #2792
Hi @dabinat and thank you for your message.
On which language you are experiencing that?

Also, can you please share a few setences that re-appear? Thank you

[2020-06-30 16:43] Sav22999 commented on #2789
This is the full screenshot:
![immagine](https://user-images.githubusercontent.com/32335378/86153165-83463800-bb01-11ea-99cb-e8679aa9e6dc.png)

I use Firefox Developed Edition (78.0b9) on Windows 10

[2020-06-30 16:44] Sav22999 commented on #2789
Ok, in the full screenshot I've just done it looks not present, but actually there is... I can't understand what it is

[2020-06-30 16:46] Sav22999 commented on #2789
![immagine](https://user-images.githubusercontent.com/32335378/86153325-ca342d80-bb01-11ea-8913-b0d1b412c45f.png)

[2020-06-30 16:46] MichaelKohler commented on #2789
Nevermind me, that is only visible when being logged in.

[2020-06-30 16:46] Sav22999 commented on #2789
In addition, I've just noticed that if you change tab and come back to that one, that issue there isn't anymore 🙄 I don't know

[2020-06-30 16:54] MichaelKohler commented on #2789
This seems to be a bug in Firefox. I can see the same artifact in DevEdition on Windows 10, but lower on the icon:

![image](https://user-images.githubusercontent.com/330324/86154233-4e7eb480-baf2-11ea-86cf-93eada4f7056.png)

This does not happen with Firefox Nightly. Both have WebRender on.

[2020-06-30 17:21] Sav22999 commented on #2790
Yes. This is on Android ![Capture+_2020-06-30-19-19-49.png](https://user-images.githubusercontent.com/32335378/86156837-d7075000-bb06-11ea-9514-17cfbdb01190.png)

[2020-06-30 22:29] phirework commented on #2791
Hello, thanks for reporting this! Where are you expecting to be able to select language, in that screenshot you posted? If you click on your profile pic, does a menu like this show up?

<img width="390" alt="Screen Shot 2020-06-30 at 18 29 38" src="https://user-images.githubusercontent.com/582683/86183286-b091e680-baff-11ea-8217-2099345edd47.png">

[2020-06-30 22:33] phirework commented on #2771
@johanvandyck This graph is on the homepage if you scroll further down. It shows all languages by default, and you should be able to pick Dutch from the dropdown.

<img width="563" alt="Screen Shot 2020-06-30 at 18 32 20" src="https://user-images.githubusercontent.com/582683/86183490-1aaa8b80-bb00-11ea-8fbb-88c3e79d3d41.png">

The original issue was a database performance problem, where the script

[2020-06-30 23:44] Sav22999 commented on #2791
@phirework there you change the language of the website, not the language of statistics. It should appear like this screenshot (it's from another device)

![Screenshot_20200701-014406.png](https://user-images.githubusercontent.com/32335378/86187582-6844e980-bb3c-11ea-8ce3-82e918a02e72.png)

[2020-07-01 00:00] phirework commented on #2791
Ahh got it, thanks for the clarification!

[2020-07-01 05:17] SafaAlfulaij commented on #2783
Hi!
First one is an untranslatable string, I think it's obvious that it shoud be wrapped in a `Localized` tag and added to the ftl file.

Others are plural strings that are not marked as plural. Check this PR please: https://github.com/mozilla/voice-web/commit/b88002f1ef91aecf218c4bf80232607a06053e91

The last one is pretty hard as it contains 4 plural parts in one sentence. Normally people would

[2020-07-01 09:42] johanvandyck commented on #2771
Hi

Thanks

I found it... I alwys landed on the dashboard, not on the homepage.
https://voice.mozilla.org/nl

For me the update (Dutch) is fine, you can close the ticket, but I'm not
the initiator of the ticket!

---

Met vriendelijke groeten

Johan Van Dyck
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
"For every complex problem there is an answer that is simple, short and
wrong."
++

[2020-07-01 11:13] nukeador commented on #2763
Campaign is over now, thanks everyone!

[2020-07-01 11:13] #2763 closed

[2020-07-01 15:36] psubhashish opened #2798 "Counter of sentences recorded & weekly goal counter for Odia (language "or") show zero "0""
**Describe the bug**
Counter of sentences recorded for Odia (language "or") shows zero -- "0" -- and the weekly goal counter also does not change from yesterday's recording.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://voice.mozilla.org/en/dashboard/or/stats' when logged on
2. Click on 'Help us get to 1,200'
3. Record five sentences
4. Again go to 'https://voice.mozilla.org

[2020-07-01 15:49] Sav22999 opened #2799 "Counters (statistics) are not correct"
**Describe the bug**
I've validated about 65 clips and recording about 55 sentences. The counter of ever is incremented (this one:)
![immagine](https://user-images.githubusercontent.com/32335378/86264611-08455600-bbc3-11ea-8ecf-33ea201d17a8.png)

But in "Dashboard" it doesn't work correctly (daily counters):
![immagine](https://user-images.githubusercontent.com/32335378/86264636-14311800-bbc3-11ea

[2020-07-02 05:52] psubhashish commented on #2798
#2799 Also reports about the same issue

[2020-07-02 15:35] soniasingla commented on #2690
Any updates on this bug?

[2020-07-02 17:56] phirework commented on #2798
Hi all - I think this is a symptom of something that we notice happening when people have the Common Voice website open for a very long time without refreshing or changing the tab, because then when we do a code release, your browser is still using an old version of the frontend to send data to a new version of the backend. Can you confirm if that's something that would apply here? If yes, the fix

[2020-07-02 17:57] phirework commented on #2799
Hi, thanks for reporting - I think this is a symptom of something that we notice happening when people have the Common Voice website open for a very long time without refreshing or changing the tab, because then when we do a code release, your browser is still using an old version of the frontend to send data to a new version of the backend. Can you confirm if that's something that would apply her

[2020-07-02 18:00] Sav22999 commented on #2799
@phirework it doesn't work

[2020-07-02 18:06] phirework commented on #2690
Hi there, this was fixed a few months ago, my apologies for not reporting back. Are you still experiencing this problem? I've just verified this on both desktop and mobile.

[2020-07-02 18:28] phirework commented on #2799
Cool, thanks for the feedback, we are investigating.

[2020-07-02 19:03] phirework commented on #2798
Never mind, we've identified a different potential source for the bug. We're investigating, will follow up when we have more info!

[2020-07-03 05:01] psubhashish commented on #2798
Oh great. The answer, for what it's worth, is no. As I've mentioned I logged out and logged in (so certainly not the case of keeping it open for long on a tab). I also tried it yesterday and recorded some (by opening in a new tab and I closed after recording) but the issue persists. Thanks for investigating the issue.

[2020-07-03 13:12] nukeador commented on #2781
Sorry I miss this, I was on vacations.

Please note that the recommended way to collect sentences is to use large sources of text using the sentence-extractor (wikipedia or others). This will produce the number of sentences you need with a significant less time investment from contributors.

See:

https://discourse.mozilla.org/t/readme-how-to-see-my-language-on-common-voice/31530

[2020-07-03 13:15] #2771 closed

[2020-07-03 14:52] phirework commented on #2799
We pushed a fix for this last night, can you verify if your stats are available now?

[2020-07-03 14:53] phirework commented on #2798
We pushed a fix for this last night, can you verify if your stats are available now?

[2020-07-03 14:56] phirework commented on #2734
Hello! The new dataset release now includes a tsv file for each language that lists all of the reported sentences for that language :) This is just a straight export of all the reports for that language which covers reports both during recording and validation, and you'll have to do a bit of filtering yourself to see # of reports for each sentence. https://voice.mozilla.org/datasets

[2020-07-03 16:15] Sav22999 commented on #2799
@phirework it seems to work now, thanks 😄

[2020-07-03 18:39] #2799 closed

[2020-07-03 19:19] psubhashish commented on #2798
It's working now. Thanks again for pushing it on a priority.

[2020-07-03 19:19] #2798 closed

[2020-07-03 21:06] phirework commented on #2614
My apologies for never circling back on this but was fixed a few sprints ago! The issue had to do with Chrome's autocomplete changing our language state if there was a country attached to the email address that you're autocompleting with. Thanks again for the report + troubleshooting.

[2020-07-03 21:06] #2614 closed

[2020-07-03 21:06] #2612 closed

[2020-07-04 15:34] stefangrotz commented on #2734
That's a great solution! Thanks.

[2020-07-04 15:34] #2734 closed

[2020-07-06 15:41] rixvet opened #2805 "Flag recordings which have technical difficulties and ignore future recordings of same user"
**Is your feature request related to a problem? Please describe.**
I am frustrated when validating entries and the recordings are not recorded well for a particular user, causing me to invalidate almost all entries of the user.

For some users their audio configuration and/or usage causes almost all entries to be 'Nope', for example the recording breaks up due to high volume or the recording is re

[2020-07-06 18:58] #2780 closed

[2020-07-06 20:56] Maltimore commented on #2741
I would like to bump this issue. It has been bugging me too for a long while now. @bacharakis I don't see why it needs triage?

[2020-07-07 16:17] NanaKay007 commented on #2783
Hello @SafaAlfulaij ,
thank you for submitting this. My name is Nana: I'm a student working with the design team and I was assigned this issue;
After taking a very close look, I think all of the pluralization issues you highlighted are not really issues; pluralization will be necessary if the number variable used in each message string is <= 1, however that is not the case in all reasonable edge c

[2020-07-07 16:47] SafaAlfulaij commented on #2783
Hi @NanaKay007 !
Wish you the best :)

Well, that's true for English and some other languages, since there are languages that have +3 forms, please take a look here: https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_and_Plurals
Check the examples section for better... examples.

[2020-07-07 16:54] NanaKay007 commented on #2783
Oh right. I think I understand now. I'll check in with @phirework to see what the next steps are. Thanks for your time! :)

[2020-07-08 00:10] iveskins commented on #2805
I have thought about this too. My idea was not to ignore but to push to the end of the validation queue. This way clips less likely to be valid will be left till last, and a grater number of valid clips will be surfaced. Maybe it is possible to flag clips by user and time-stamp. so clips in the same day from one user are all flagged. This would mean if a users recording set-up was only bad for one

[2020-07-08 14:46] NanaKay007 commented on #2783
@SafaAlfulaij I consulted my mentor; since it would be difficult to implement solutions for the various pluralization cases for other languages, would a "one/other" solution - as used in the PR you referenced - suffice?

[2020-07-08 17:25] SafaAlfulaij commented on #2783
@NanaKay007 If you notice that the PR is chaging only the FTL file. Pontoon is smart enough to notice that this is a plural form, and provide the proper forms for it, and Fluent is smart as designed to choose the form depending on the number.
Check https://www.projectfluent.org/fluent/guide/selectors.html to get a better idea.

[2020-07-08 17:49] NanaKay007 commented on #2783
@SafaAlfulaij Perfectly understood. Thanks for clarifying this.

[2020-07-09 05:52] #2792 closed

[2020-07-09 16:52] peiying2 opened #2811 "`en` source string contains HTML markup error creates errors for all locales"
**Describe the bug**
A clear and concise description of what the bug is.
Notice that <privacy notice> markup misses the *closing* element, causing problem for all other locales with the same problem: https://github.com/mozilla/voice-web/blob/master/web/locales/en/messages.ftl#L13

**Expected behavior**
- Remove this string,
- Add a new string ID with the bug fix.

IMPORTANT: do not reuse the same

[2020-07-11 10:54] Oymate opened #2813 "Add Bangla/Bengali language support."
**Describe the solution you'd like**
For the language Bangla to be added in here

**Describe alternatives you've considered**
There isn't any alternative, which is why this request.

[2020-07-12 12:26] cloudrac3r commented on #2405
I experimented by converting the same file with imagemagick at various dimensions and qualities, checking the size with wc -c, and then trying to upload it, and noting the results. Here's what I found:

|Works|Dimensions|Quality|File size|
|:--|:-:|:-:|:-:|
|:heavy_check_mark: Yes|110x110|50|2154 bytes|
|:x: No|110x110|60|2368 bytes|
|:x: No|110x110|88|4173 bytes|
|:x: No|110x110|90|6108 bytes|
|:

[2020-07-13 09:20] stefangrotz opened #2814 "Update avarage length of a sentence for better statisctics on /languages"
Since the last release of the dataset the numbers of hours in the statistics on /datasets is higher than the hours on /languages for many languages. We discussed this on matrix and it turned out that this happens because the average sentence length has changed over time and it wasn't updated on the website.

For example German has 686 validated hours in the 2020-06-22 dataset but only 672h on /lan

[2020-07-13 18:39] phirework commented on #2405
This is awesome, thanks for the extensive troubleshooting @cloudrac3r! The source of the problem is known (relates to base64 encoding length) and we're working on a fix for this. cc @NanaKay007

[2020-07-14 08:52] psubhashish commented on #2760
Tagging some of the usual suspects @nukeador @MichaelKohler @phirework as this seems to have gone under the radar. Is there anything that I might have missed and need to share with you?

[2020-07-14 11:48] nukeador commented on #2760
Hello,

Sorry for missing this out, but we are not tracking github for this kind of conversations (only for technical issues with the site). Can you please open it up on Common Voice discourse so we bring visibility to the conversation?

https://discourse.mozilla.org/c/voice/239

Thanks!

[2020-07-14 11:48] #2760 closed

[2020-07-14 14:21] #2811 closed

[2020-07-14 14:30] phirework commented on #2760
Thanks for tagging and this idea! Just a quick note that as Common Voice is currently set up now we cannot accept CC-BY licensed content, because all of the data we have is republished under CC0 and we cannot enforce the attribution requirements. If you meant that you made a request to relicense all of the audio under **CC0** (not 1.0), then definitely bring that up to Discourse and we will see if

[2020-07-14 20:42] dabinat opened #2824 "Empty recordings during validation"
Over the past few days I have noticed an increase in empty recordings when validating English.

To clarify, I don’t mean that the user didn’t speak and all you can hear is background noise. I literally hear no sound at all, as if the recording contains no data.

Occasionally Common Voice won’t play audio for a clip and I can usually skip it and it will play properly the next time I encounter it, h

[2020-07-14 22:16] phirework commented on #2767
Hello, thanks for reporting this! We pushed a fix for it in Sprint 30 and corrected all the previously misfiled clips. I'm going to close this issue for now, can you let me know if you experience this problem again?

[2020-07-14 22:16] #2767 closed

[2020-07-14 22:26] phirework commented on #2814
Thanks for reporting! This was fixed in the [sprint 31 release](https://github.com/mozilla/voice-web/releases/tag/release-v1.31.0) (you may not see the numbers update until tomorrow because those values are cached.)

[2020-07-14 22:26] #2814 closed

[2020-07-14 22:27] phirework commented on #2786
Thanks for reporting! This was included in the [sprint 31 release](https://github.com/mozilla/voice-web/releases/tag/release-v1.31.0).

[2020-07-14 22:27] #2786 closed

[2020-07-14 22:27] phirework commented on #2791
Thanks for reporting! This should be fixed with [release 31.0](https://github.com/mozilla/voice-web/releases/tag/release-v1.31.0).

[2020-07-14 22:27] #2791 closed

[2020-07-15 08:32] stefangrotz commented on #2814
Thanks, its working now on /languages , but the data on the start page is still not updated

[2020-07-15 13:14] psubhashish commented on #2760
Thanks @nukeador: will create a thread there on Discourse then. @phirework these audio files are all under CC0 (and not CC-BY) license.

[2020-07-15 19:45] NanaKay007 opened #2826 "Static square on datasets page (on iOS)"
**Describe the bug**
There's a rectangle on the datasets page that doesn't scroll with the rest of the page and disrupts the flow of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to datasets page
2. Just scroll, you'll notice a static purple rectangle on the left side of the screen

**Expected behavior**
Rectangle should probably scroll with the rest of the screen.

![8E5FD111

[2020-07-16 20:55] #2783 closed

[2020-07-17 14:23] bacharakis opened #2830 "Improve RTL string handling for Arabic languages"
**Is your feature request related to a problem? Please describe.**
We received an email for improving the RTL string handling for Arabic languages.

**Describe the solution you'd like**

- Better to use a different font for this language.
- Keyboard mapping must handle dual languages. Like Arabic / English
- keyboard shortcuts and not one.

[2020-07-17 17:13] peiying2 opened #2832 "Make verbs variables to address more forms of singular/plural forms in non-English languages"
**Describe the bug**
Singular and plural forms in many languages come in more than 2 forms like English. The current structure limits localizers' ability to make grammatically correct in target language.

activity-needed-calculation-plural = { NUMBER($totalHours) ->
  [one] {$totalHours} hour
  *[other] {$totalHours} hours
 } `is` achievable in just over { NUMBER($periodMonths) ->
  [one] {$period

[2020-07-17 19:29] davidak opened #2834 "English shown last"
**Describe the bug**
English has the most recordings, but is shown last on the german site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://voice.mozilla.org/de/languages
2. Click on 'Mehr anzeigen'
3. Scroll down to 'Englisch'

**Expected behavior**
first in list

**Screenshots**
![Screenshot from 2020-07-17 21-17-08](https://user-images.githubusercontent.com/91113/87823758-48

[2020-07-17 19:58] davidak commented on #2518
@shakti97 probably. the current datasets where added in this commit https://github.com/mozilla/voice-web/commit/6482dada3cc4724ca005df7454816df529d34106. there you see how it has to be done

@Gregoor would you accept such a PR?

[2020-07-17 20:08] davidak commented on #1294
but they might waste the time of 2 people if the recordings are bad

i suggest to create an onboarding tutorial where the audio setup is tested. there can also be explained what a good recording is

also, when many recordings are rejected, give the user feedback, let them listen to the recordings and explain again what a good recording is

[2020-07-17 20:32] davidak commented on #1927
@kdavis-mozilla any update here? are we going in the right direction?

[2020-07-17 20:35] davidak commented on #2824
I also noticed that in german in 3 clips yesterday.

A VAD Check should help here.

Related: https://github.com/mozilla/voice-web/issues/2549 https://github.com/mozilla/voice-web/issues/2704

[2020-07-17 21:02] davidak commented on #2704
@bacharakis what is the status? here is my research on VAD:

Source: https://github.com/wiseman/py-webrtcvad

Here is a standalone fork in C: https://github.com/dpirch/libfvad

There is also VADLite: https://www.researchgate.net/publication/335765728_VADLite_an_open-source_lightweight_system_for_real-time_voice_activity_detection_on_smartwatches

![Screenshot from 2020-07-17 22-55-30](https://user

[2020-07-17 21:04] davidak commented on #2549
Issue about VAD: https://github.com/mozilla/voice-web/issues/2704

[2020-07-18 16:01] deevroman opened #2835 "Numbers don't fit in the fields"
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:79.0) Gecko/20100101 Firefox/79.0
<img width="1203" alt="Снимок экрана 2020-07-18 в 18 49 44" src="https://user-images.githubusercontent.com/25708359/87856627-fb499600-c928-11ea-8d35-f59dd48c4ca3.png">

[2020-07-20 08:02] cloudrac3r commented on #2824
I also have this issue. I've been reporting them as "No audio.". About 50% of the ~60 recordings I did today (English) had this issue.

As well as the clip being completely silent, it also never ends. No matter how long I wait, the clip will always say that it's still playing, and keep showing the waveform animation. This is why I think that these clips must have corrupted audio or something.

[2020-07-20 08:24] Pimmetje commented on #2824
~5 recordings of 30 i did today had the same issue (dutch). I reported them as 'No Sound'

[2020-07-20 17:57] grailean opened #2837 "Tablet Demo - Cover Issue"
**Describe the bug**
The placement of Mars needs to be moved lower so the waves will be upper like in design:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Main screen

**Screenshots**
Here is how I recommend to have it: https://www.dropbox.com/s/xftiwbrtj70nkk5/Screenshot%202020-07-20%2013.54.32.png?dl=0

**Desktop or Mobile (please complete the following information):**
 - OS: Ipad

[2020-07-20 18:02] grailean opened #2838 "Tablet Demo - Style issues"
**Describe the bug**
The button color and check icon color needs to be changed

**Expected behavior**
1.The blue button needs to be  #1570EF not #629FF4 because it doesn't pass the contrast check.
2.Checkbox needs to be full black when active

**Screenshots**
https://www.dropbox.com/s/xsjkbc8lmxowfs2/Screenshot%202020-07-20%2014.02.00.png?dl=0

**Desktop or Mobile (please complete the following in

[2020-07-20 18:07] grailean opened #2839 "Tablet Demo - Benefits Scroll"
**Describe the bug**
The benefit should change on scroll, it does not need to be pressed to activate

**Expected behavior**
We expect the user to scroll and the image to be changed for each item that is highlighted.

**Screenshots**
https://www.dropbox.com/s/t8s9gvf5d61c7fv/Screenshot%202020-07-20%2014.03.12.png?dl=0
**Desktop or Mobile (please complete the following information):**
 - OS: [e.g. i

[2020-07-21 05:47] kdavis-mozilla commented on #1927
Thousands of recordings will be useful for the train data set. Similarly, 300 per language + validation is also useful.

Both are useful, and I don't think there is one "most useful" path other than to contribute the the languages you want to support!

[2020-07-21 11:05] davidak commented on #1927
@kdavis-mozilla thanks. that's a clear statement.

since **1** recording needs at least **2** verifications, it makes sense to make the goals accordingly in the web ui.

the daily goal in the statistic already reflects that

![Screenshot from 2020-07-21 12-49-59](https://user-images.githubusercontent.com/91113/88046752-d5063f00-cb50-11ea-841f-55c8278eb298.png)

and we might want to communicate it

[2020-07-21 14:16] kdavis-mozilla commented on #1927
Yeah I agree

[2020-07-21 15:15] rileyjshaw commented on #2824
Thanks so much for the report everyone! I've found some of the blank clips that you're referring to – looking into it.

[2020-07-21 15:42] ajaydee commented on #2824
I'm getting loads of them for English today.

[2020-07-21 21:07] rileyjshaw commented on #2824
We appreciate reports where possible, but if it is seriously interfering with your session we understand if you want to skip after the first few reports.

[2020-07-24 17:43] rileyjshaw commented on #1527
We have released a fix to this issue. Closing for now, but please let us know if you see anything similar in the future.

Thanks for the report!

[2020-07-24 17:43] #1527 closed

[2020-07-24 17:45] rileyjshaw commented on #2488
We have released a fix to this issue. Closing for now, but please let us know if you see anything similar in the future.

Thanks for the report!

[2020-07-24 17:45] #2488 closed

[2020-07-24 17:49] rileyjshaw commented on #2553
Hi @meridion, I've made a few fixes to the way we deliver and match sentences since you logged this issue. Are you able to check if the problem is still occurring?

Thanks so much for reporting this!

[2020-07-24 21:50] phirework commented on #2835
Hello, thanks for reporting this! This is a duplicate of #2790 and we are working on a fix. I'm going to close this one, please direct any additional discussions there.

[2020-07-24 21:50] #2835 closed

[2020-07-25 13:38] meridion commented on #2553
That's great to hear.

Unfortunately it currently says, there is simply not enough data for listening, so I'll have to wait until more speakers of Japanese upload.

[2020-07-27 20:55] #2718 closed

[2020-07-27 21:13] #2790 closed

[2020-07-30 15:28] phirework opened #2856 "404 page getting triggered after routing to listen page after logging in"
Report in Element from a contributor who doesn't have a Github account:

**Describe the bug**
When I want to validate and click the button on the Esperanto main page, I get a 404: https://commonvoice.mozilla.org/eo/404 - when I go back in browser history one time I am on the validation page.

**To Reproduce**
Video: https://www.thschuetz.de/temp/commonvoice404.mp4

**Expected behavior**
Should go

[2020-07-30 21:47] phirework commented on #2839
@mbransn Can I get you to weigh in on this issue? The homepage behaviour for this same element is to change the image on click, not scroll. I'm not sure an on-scroll change makes sense when all of the content is so short and multiple things are visible at the same time, the eye-level of the reader will not necessarily match the position of the scroll.

[2020-07-31 00:42] mbransn commented on #2839
Thanks for the flag, I'm good with maintaining a tap / click interaction -- esp. as our primary use case is tablet for this. Going to close this out.

[2020-07-31 00:42] #2839 closed

[2020-08-02 14:12] nat42 commented on #2759
After trying CommonVoice today and experiencing a few "rip headphone users" moments (sometimes after having turned audio levels up to hear a particularly quiet sample and other times not) I think I can say the lack of normalisation will prevent me from trying to participate again anytime soon.

Also having a human review the completely silent samples to say that they were not the written sentence

[2020-08-04 10:40] RobinvanderVliet opened #2861 "Meta description is not translatable, it always shows up in English"
**Describe the bug**
The meta description of the page https://commonvoice.mozilla.org/eo is not in Esperanto. When you share the link to that page with Telegram or Facebook, the description below it shows up in English, instead of in Esperanto.

**To Reproduce**
Steps to reproduce the behavior:
1. Share the link https://commonvoice.mozilla.org/eo with Telegram or Facebook
2. Look at the descriptio

[2020-08-04 18:22] meridion commented on #2553
Okay, I've done a few sentences, and they seem fine now.

The only problem I had this time was, some recordings were completely silent, which might be due to something else entirely.

So all in all, sentence matching seems fine now.

[2020-08-05 15:06] rileyjshaw commented on #2553
@meridion that's great, thanks for getting back to us. We're tracking [silent clips in a separate issue](https://github.com/mozilla/common-voice/issues/2824), so I'm going to close this one for now. Thanks again for reporting!

[2020-08-05 15:06] #2553 closed

[2020-08-05 21:04] phirework commented on #2834
Thanks for reporting this! The intended behaviour is that the language that's currently selected should be first, and then everything else is sorted by # of hours validated, so that's been fixed now. https://commonvoice.mozilla.org/de/languages

[2020-08-05 21:04] #2834 closed

[2020-08-06 14:35] nukeador commented on #2856
Going to https://commonvoice.mozilla.org/es/languages and click any language contribute link (except from Spanish) returns a 404.

[2020-08-07 00:52] bacharakis commented on #2856
Just checked and verified that indeed it doesn't work in all languages except English. Spanish doesn't work either @nukeador .
The interesting part, is that when I get the 404, if I click the back button in my browser, I get the proper localized listen page.

STR:

1. Go to [languages page](https://commonvoice.mozilla.org/en/languages)
2. Pick a language and click the contribute button -> You will

[2020-08-07 09:42] nukeador commented on #2856
More 404s that might be related with this issue?

https://discourse.mozilla.org/t/404-on-sso-login/65288

[2020-08-08 17:15] deevroman opened #2870 "Change the schedule on the home page"
If you quickly look at this chart from the home page, you will see that there are fewer records. It seems to me that it is better to replace it with a graph of records by periods, or to use text instead of the current graph.
<img width="577" alt="Снимок экрана 2020-08-08 в 19 49 46" src="https://user-images.githubusercontent.com/25708359/89716193-b0fd8700-d9b3-11ea-9f28-4939e58950fa.png">

[2020-08-09 01:00] SethiPandi opened #2871 "A way to seperate "studio quality" audio from noisy audio"
**Is your feature request related to a problem? Please describe.**
While I think it's great to have a dataset to tailor for voice recognition, is it possible for this to also be used as a platform to get good quality audio mapped to text for voice generation?

This could allow users to pick out a portion of good quality audio for digital signal processing.

**Describe the solution you'd like**
To

[2020-08-10 18:36] MichaelKohler commented on #2824
Might https://discourse.mozilla.org/t/rechenschwache/65443be related here? This user has recorded less than 5 sentences, but the only next action is to submit it.

[2020-08-10 19:47] Pimmetje commented on #2824
Given link does not work for me

[2020-08-11 14:52] MichaelKohler commented on #2824
Was missing a space between the link and "be". Should work now. Thanks for flagging this.

[2020-08-17 23:31] nissa1992 commented on #2550
anybodi help can i join for my language

[2020-08-17 23:32] nissa1992 opened #2878 "Mozilla/commom-voice/local"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-18 09:16] ftyers commented on #2878
Hi there, you might be better trying this on Discourse, and take a look at https://discourse.mozilla.org/t/readme-how-to-see-my-language-on-common-voice/31530. The GitHub issues aren't for these kinds of questions.

[2020-08-18 09:18] ftyers commented on #2878
Also, Indonesian is already on Common Voice, you can just go [here](https://commonvoice.mozilla.org/id).

[2020-08-18 17:09] nissa1992 commented on #2878
seseorang mengikuti saya and remote my macbook need SLA PDF 2014 after im closed my mac maybe its angry!!!!

[2020-08-18 18:39] #2878 closed

[2020-08-19 00:33] peiying2 commented on #2550
Please check to see if your language is already listed here: https://pontoon.mozilla.org/projects/common-voice/. If not, you can make a request in Pontoon. v

[2020-08-19 19:45] jpear1 opened #2880 ""Contribution Activity" and "Top Contributors" don't display properly on mobile website dashboard"
Many of the dashboard menu items don't fit in their boxes properly on the mobile website. The language select dropdown hangs out of its container, "Recorded clips" and "Validated clips" are misaligned, the times on the contribution history overlap with each other.

**To Reproduce**
1. Log in on a phone
2. Navigate to your dashboard
3. Scroll down to "Contribution Activity" and "Top Contributors"
4

[2020-08-19 19:55] jpear1 opened #2881 "Clip validation audio doesn't work on Firefox mobile"
**Describe the bug**
On Firefox mobile, when I go to validate clips, I'm unable to hear any audio. This does not happen when I verify my own voice recordings on Firefox mobile, or when I validate clips on Chrome mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the "Listen" contribution page using Firefox mobile
2. Attempt to listen to audio
3. No audio comes out

**Device

[2020-08-24 13:06] bayethiernodiop opened #2883 "Using common voice application to collect TTS data"
Hi folks, what are the modifications needed to use common voice application (After forking the project for local usage) for TTS data collection with two actors using the same text data set for recording?
Thanks

[2020-08-25 06:00] 2298562563 opened #2884 "mzhgantashky0@email.com"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-25 06:01] #2884 closed

[2020-08-25 11:28] ftyers commented on #2813
@Oymate I suggest taking this discussion to [Discourse](https://discourse.mozilla.org/c/voice/239).

[2020-08-25 19:03] peiying2 opened #2886 "Kurdish: Migrate data from `ku` to `ckb`"
Kurdish: fix the mismatch of Kurdish in Pontoon and Common Voice repo
- Kurdish expressed as `ku` per CLDR  is written in Latin script, and written from Left to Right. This is the current configuration in Pontoon
- The contribution from the community is in Arabic and it is RTL.
- Locale code `ckb`, or Central Kurdish, is the correct language name and locale code to represent the data in CV repo.
-

[2020-08-26 15:07] jasser94 opened #2887 "Training DeepSpeech model with World English Bible Audio Data."
When I try to predict Bible verses via English deepspeech model i always getting wrong words especially the specific ones related to bible vocabulary.

Regarding that i have an open source data of World English Bible audios i would like to suggest to train the deepspeech model with it for better and correct prediction result.

Since i don't have the necessary environment to train the model in norm

[2020-08-31 22:39] phirework commented on #2886
@MichaelKohler Does this also need to be manually migrated on SC?

[2020-08-31 22:44] phirework commented on #2887
Hello! Common Voice is a platform for collecting voice data only, and for any issues related to the STT model you're looking for the [DeepSpeech](https://github.com/mozilla/DeepSpeech) repo. Unfortunately, as both Common Voice and Deep Speech have [very limited support](https://discourse.mozilla.org/t/future-of-deepspeech-stt-after-recent-changes-at-mozilla/66191) inside of Mozilla right now, you'

[2020-08-31 22:44] #2887 closed

[2020-08-31 22:56] MichaelKohler commented on #2886
Yep.

[2020-09-01 14:35] ftyers commented on #2886
There is now [a request](https://groups.google.com/g/mozilla.dev.l10n.new-locales/c/psQ7EKqIYTM) on the l10n list to enable Kurmanji Kurdish.

[2020-09-01 15:05] jwtiyar commented on #2886
please guys, Kmr should be activated not ku as he mentioned , because
according to iso-693-3, Kurmanji is kmr not ku.

Best Regards

On Tue, Sep 1, 2020, 5:35 PM Francis Tyers <notifications@github.com> wrote:

[2020-09-01 18:12] peiying2 commented on #2886
Let's not mix up the requests here. The opening of `kmr` for Kurmanji is a separate issue. Common Voice repo would open up to this new locale once the project reaches certain level of completion.

[2020-09-01 20:01] ftyers commented on #2886
@jwtiyar it's open as `kmr`: https://pontoon.mozilla.org/kmr/ -- Thanks for your input!

[2020-09-01 21:05] jwtiyar commented on #2886
Thank you dear Tyres.

On Tue, Sep 1, 2020, 11:02 PM Francis Tyers <notifications@github.com>
wrote:

[2020-09-02 08:12] roxima commented on #2886
@peiying2 Does this migration include sentence collector data or we need to open another issue?

[2020-09-02 08:24] #2813 closed

[2020-09-02 20:10] MazeChaZer opened #2894 "Audio recording fails to load on clip validation"
**Describe the bug**
Example: https://voice-prod-clips-393eefd0cba28c270ced0f9587a4f6ae601ca91e.s3.dualstack.us-west-2.amazonaws.com/4c373add-fada-4bd2-8a09-3263fc3d596b/256b473b2f43e0ebbb9cb62380e96832a6a50dabbd532e0d422c5bdc38c0e2b8.mp3 (I removed the authentication query parameters).

The response is a 200 OK, but the console in my Firefox says "Uncaught (in promise) DOMException: The media res

[2020-09-08 19:59] phirework commented on #2894
Thanks for this detailed report @MazeChaZer! Is there a pattern to when you get these resource exceptions? For example, a common problem we're trying to resolve is that it may be when the Common Voice tab has been left alone for a long period of time and the auth token expires and I'm curious if this is part of that issue.

Thanks for flagging that Sentry is blocked, I've fixed that on our end.

[2020-09-08 20:39] peiying2 commented on #2886
Sorry I missed this one. The Data collection happens outside of Pontoon, so Common Voice team needs to be fully involved in this.

@phirework should the team create a new issue for this request?

[2020-09-08 21:22] phirework commented on #2886
The sentence collector data that is currently part of the CV corpus has also been migrated, yep. https://github.com/mozilla/common-voice/pull/2895

The Sentence Collector tool itself will also need to update its language code, I don't know if @MichaelKohler wants to just add another mapping to the exports process or actually migrate it in the DB? Either way, the issue would need to be filed in htt

[2020-09-08 21:27] MichaelKohler commented on #2886
I don't need an extra issue. I'll just add another mapping for now, and then will do a clean migration on the new data structure. Will report back here when done.

[2020-09-08 21:29] phirework commented on #2886
Perfect, thank you!

[2020-09-09 08:27] roxima commented on #2886
@MichaelKohler Nice, looking forward to it.

[2020-09-09 09:23] MazeChaZer commented on #2894
Unfortunately I was not able to see a pattern. I'm pretty sure expired auth tokens are not the problem, because after skipping a few recordings it was working again, I did not have to re-login to make it work.

[2020-09-09 15:20] phirework commented on #2894
Ah sorry, by "auth token" I mean the token that S3 generates for each file (i.e. the query parameters you removed from the link above). If the recordings work again after you skipped a few clips it most likely means you've gone through all the files in the cache with expired tokens and got new links.

Thanks, I'll look into this.

[2020-09-09 19:31] MichaelKohler commented on #2886
Sentence Collector is done as well:

* Mapping: https://github.com/Common-Voice/sentence-collector/pull/327
* Verified Export: https://github.com/mozilla/common-voice/pull/2900/files#diff-b5f97e8dd8701d6e24f1ea5441723483
* Follow up task (only cleanup, doesn't need to be tracked): https://github.com/Common-Voice/sentence-collector/issues/326

[2020-09-10 15:54] peiying2 commented on #2886
This issue is completely resolved. Thanks everyone!

[2020-09-10 15:54] #2886 closed

[2020-09-25 09:30] hjortnaes opened #2906 "Stereo (2 Channel) Data Breaking DeepSpeech"
**Describe the bug**
There are mp3s in the Russian dataset which convert into stereo wav files. I've listed the relevant files below. This breaks common voice, where I originally reported this bug, and they sent me here.

Breaking files: (mp3 names should be the same with different extension)

- common_voice_ru_21795256.wav
- common_voice_ru_21795273.wav
- common_voice_ru_21795390.wav
- common_voi

[2020-10-01 05:03] GauravPandey892 commented on #2880
Hi, I would like to work on this issue.

[2020-10-06 06:49] caseybasichis opened #2911 "Download My Data does not present a zip link, only a profile.txt"
Clicking "Download My Data" in the profile page only seems to download a profile.txt

The screen remains on the profile settings "User Name" "Leaderboard Visibility" etc

What am I missing?

[2020-10-06 06:57] caseybasichis opened #2912 "Remove glitchy/clicky recordings"
Recorded 200 wavs on my iPhone.  The recordings seem to have pops and glitches.  (bug in the web app?)

Created an account and recorded 300 more waves on my desktop, which sound good.

Going back to the phone and logging in for the first time, added the 200 glitchy wave files to the account without asking.

How can I delete the 200 contributed from my phone or otherwise review them?

I am worried

[2020-10-06 13:52] ftyers commented on #2912
Hi! Thanks for getting in contact and for your feedback. This looks more like a support request, so the appropriate avenue is probably [Discourse](https://discourse.mozilla.org/c/voice/239), you might get a better response there. About your question, in general problems in the recording quality, if the sentence is still audible, is not a problem for speech recognition, in fact it is desirable, we

[2020-10-10 01:09] jpear1 commented on #2824
I encountered this today, seems to be an issue with about a fifth of the clips I validate. Not sure if this is relevant, but I'm running Firefox Developer 82.0b8 (64-bit)

[2020-10-12 23:03] skanderbenalaya opened #2916 "Validation on local setup using docker and s3proxy"
Hi, I came across this project and enjoyed it a lot. I wanted to install it locally and followed the contribution.md but i'm always stuck at empty listen validation message.
Tried various things, like editing host file and redirect http://s3proxy to localhost to avoid CSP issue but still nothing.
Does anyone know how to run s3proxy locally to retrieve the stored data ?

[2020-10-12 23:20] skanderbenalaya commented on #1284
Did anyone try this method and saw it work for him, i'm still having issues loading mp3 files from s3proxy

[2020-10-13 15:40] phirework commented on #2916
Hi there, when you first install it locally there's nothing in your local DB to validate. You have to record your own audio to test out validation. The app also will not let you validate your own recordings, so you have to validate from a different account (or using an incognito window) than the one you recorded on.

[2020-10-14 09:25] skanderbenalaya commented on #2916
Thank you for your answer
When i do that, i can see now the sentences that i did the recordings with, but the mp3 files are blocked by the CSP
Refused to connect to 'https://sentry.prod.mozaws.net/api/491/store/?sentry_key=4a940c31e4e14d8fa6984e919a56b9fa&sentry_version=7' because it violates the following Content Security Policy directive: "connect-src 'self' https://pontoon.mozilla.org/graphql h

[2020-10-14 14:06] phirework commented on #2916
Sentry has nothing to do with MP3s or your local S3 server, it's an external monitoring and alerting system. Are you able to see the MP3 files inside of the Docker container?

[2020-10-14 15:09] skanderbenalaya commented on #2916
Yeah i tried to navigate to them using the s3proxy cli and saw them inside the corpus folder, i have also many console errors when trying to get the mp3 files like :
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://s3proxy/common-voice-corpus/7cf487f9-ef6c-4ae4-b4b2-f0647d04dba8/b0a388cbcf2a6a44cbdf63df49c5424484d11c9a38fdbe6aae2cea379fe648f6.mp3

[2020-10-15 21:21] ftyers opened #2918 "Add Basaa language for collection"
Could you please add collection for Basaa (ISO-639: `bas`) ? Also tracking this through a [Discourse post](https://discourse.mozilla.org/t/turning-on-basa-bas/69147?u=ngue_um_emmanuel).

[2020-10-15 21:24] MichaelKohler commented on #2918
Happy to add this to the Sentence Collector once it's in Pontoon.

[2020-10-17 20:45] ftyers commented on #2918
Here is the information for Pontoon from Discourse:
[code]

[2020-10-19 23:36] ftyers commented on #2918
@mbransn @phirework Hi both, could you let us know if anything here is missing? Thanks!

[2020-10-22 20:58] peiying2 commented on #2918
Thank you @ftyers for putting in the request. I have a couple of questions:
- Singular and plural: I notice that 0, 1, and 10 share the same word while the rest use a different word for rock. Is there another language the person knows that is similar to Basaa in terms the singular/plural rules?
- Need a person who is going to work in Pontoon, making contribution directly there. The person needs to

[2020-10-22 21:02] ftyers commented on #2918
It is like any of the Bantu languages (isiZulu, Kiswahili etc.).

The translations all have the same word for "rock" *ŋgɔ̀k*, but the plural is a prefix, e.g. *maŋgɔ̀k*. It is just that in some cases the number comes before and in others after. The translation for "zero" uses something like "not any at all" instead of the numeral "zero".

The user in Pontoon should be Emmanuel Ngue Um.

[2020-10-22 21:18] peiying2 commented on #2918
The language and the Common Voice project are added in Pontoon: https://pontoon.mozilla.org/bas/. We now need Emmanuel create an account in Pontoon so I can add him to the project and reach out to him on tool and process.

[2020-10-22 21:23] ftyers commented on #2918
Fantastic thanks @peiying2 ! I'll get in contact and let him know.

[2020-10-23 13:52] ftyers opened #2919 "Add possibility for users to choose preferred orthography"
Up front: I do not expect this feature request to be implemented any time soon (if ever),  I'm just filing it so that I don't forget about it.

**Is your feature request related to a problem? Please describe.**

Some languages have multiple competing orthographies used in the same country. The sound is the same, but the letters are different. In many cases the conversion (at least in one direction

[2020-10-24 11:56] monperrus opened #2921 "Cannot contribute to https://commonvoice.mozilla.org with Firefox 82"
**To Reproduce**
Steps to reproduce the behavior:

Open https://commonvoice.mozilla.org with Firefox 82

**Expected behavior**

I can upload or validate examples

**Actual behavior**

Message: `We’re sorry, your platform is not currently supported.`

[2020-10-24 17:13] ftyers commented on #2918
@MichaelKohler could you enable it in sentencecollector ? It's in Pontoon now: https://pontoon.mozilla.org/bas/ Thanks!

[2020-10-24 17:25] MichaelKohler commented on #2918
@ftyers will do, forgot to ask before: what is the correct native name (as we show both English and the native language name)?

[2020-10-24 17:37] ubaidisaev commented on #2921
Please provide more information.  I don't have such problem.
Window 10
Firefox 82.0 (64-bit)

[2020-10-24 19:59] ftyers commented on #2918
@MichaelKohler Ɓàsàa should work

[2020-10-25 11:51] MichaelKohler commented on #2918
@ftyers done

[2020-10-25 16:07] ftyers commented on #2918
@peiying2 Emmanuel has created an account, could you add him as a manager? https://pontoon.mozilla.org/bas/common-voice/contributors/ Thanks! :)

[2020-10-25 17:58] peiying2 commented on #2918
Done! I have approved the strings he has submitted. I will follow up with instructions for using Pontoon, CV project info and community guidelines, :). Feel free to close this issue if nothing else is needed.

[2020-10-25 18:15] ftyers commented on #2918
Ltgm!

[2020-10-26 17:09] ftyers commented on #2918
Oops, one last thing, could we get `bas` onto https://commonvoice.allizom.org/bas ? Thanks!

[2020-10-26 23:02] phirework commented on #2912
Hi, there's no easy way to remove only some files from an account so we generally don't do this. If the audio files are genuinely broken, then the community validation process will mark them as invalid for the purposes of ASR.

Why are you concerned about "messing up your account"? We don't demote your contributions if you've had a lot of invalidated clips or anything like that, and there's no way

[2020-10-26 23:02] #2912 closed

[2020-10-26 23:09] caseybasichis commented on #2912
Individual dev's may tend to filter the dataset for their own purposes -- eliminating speakers with noisy or glitchy recordings.

I understand that quality diversity can be important in some settings, but I'd like my contribution to be broadly applicable.

I've given up on Common Voice for now though.  I encountered quite a few issues that have turned me off of it -- the inability to download my o

[2020-10-26 23:17] phirework commented on #2918
Hey folks, added this to the Dev server, and it'll meander its way to production with the next release. You can't really tell right now since it's barely localized, but if you look at https://dev.commonvoice.allizom.org/bas/languages you'll see Basaa in the list of in-progress languages. Thanks for the coordination both!

[2020-10-26 23:17] #2918 closed

[2020-10-26 23:25] phirework commented on #2856
This was fixed at some point in the last few rounds of UX updates.

[2020-10-26 23:25] #2856 closed

[2020-10-26 23:26] #2832 closed

[2020-10-27 05:10] monperrus commented on #2921
I'm using  Firefox 82.0 (64-bit) on Ubuntu, with some plugins.

[2020-10-27 14:36] inputvalidation commented on #2894
I have similar issues. Tried both the latest Chrome and Safari on macOS.

[2020-10-27 20:36] #2826 closed

[2020-10-27 20:37] phirework commented on #2640
As discussed in PR, we are keeping the redundant action.

[2020-10-27 20:37] #2640 closed

[2020-10-27 20:37] phirework commented on #2741
Will be fixed in next release.

[2020-10-27 20:37] #2741 closed

[2020-10-27 20:37] #2739 closed

[2020-10-27 20:39] phirework commented on #2253
Closing - can no longer replicate this issue.

[2020-10-27 20:39] #2253 closed

[2020-10-27 20:39] phirework commented on #2478
This has been available on production for a few months, closing the issue!

[2020-10-27 20:39] #2478 closed

[2020-10-28 01:50] mackncheesiest commented on #2253
I thought I would check, and I can still replicate that screenshot on Win 10, FF 83.0b4

[2020-10-28 22:55] cptwunderlich opened #2923 "Hebrew landing page signup-button covered"
On the Hebrew landing page, for not-logged-in users, the "signup"-Button in the 'register-section' is hidden by the wave image.
With the default left-to-right layout, the text and button are on the left and the robot and "waves"-background on the right.
The right-to-left layout only switches sides for the robot and text/button, but not the "waves". Their button's z-index seems to be lower than the

[2020-10-31 19:06] hfhchan opened #2926 "Request for addition for Cantonese (YUE) language"
**Is your feature request related to a problem? Please describe.**
This is Henry from @CanCLID.  We are a group of native speakers from Guangdong, Guangxi, Hong Kong, Macau, the United States and Germany. We'd like to request the addition of Cantonese to the list of supported languages.

Right now, Cantonese (粵語/廣東話) is recorded as zh-HK (中文 (香港)).  We don't think that is appropriate.  Common Voic

[2020-10-31 19:12] hfhchan commented on #2926
We have a group of 20+ volunteers who are ready to provide sentence text as soon as the language is added to Common Voice. We can also translate from the corresponding Mandarin entries in zh-TW/zh-CN or from English.

[2020-10-31 19:50] hfhchan commented on #2926
Here's the information for Pontoon:

[code]
(Also posted to https://groups.google.com/u/1/g/mozilla.dev.l10n.new-locales/c/ef-kG9VOdn0)

[2020-10-31 19:54] hfhchan commented on #2926
User in Pontoon: https://pontoon.mozilla.org/contributors/EZJZgf5hYGuSLWuCMNuaZajbcBg/
Name of Language in native script: 粵語

[2020-11-03 12:51] AmmeySaini opened #2927 "Request to add a option for downloading specific English accents based on speaker's country"
It'll be best if you guys can add a option to download datasets based on speaker accents.
For example I only need Indian English accent files but I need to download whole English dataset and then need to seprate all the Indian files from it.
It'll be best if this can be added in future releases.

[2020-11-05 11:49] Mte90 commented on #2824
Our community is reporting a lot of them in Italian but also in other languages.

[2020-11-05 13:53] dag7dev commented on #2911
What's up? What is wrong? This is the behaviour expected.

[2020-11-05 14:00] dag7dev commented on #2919
I don't think this is going to be implemented from the dev, as it is a specific task for a specific needs. However feel free to submit a PR which implements this!

[2020-11-05 14:04] dag7dev commented on #2759
Any suggestion about this?

[2020-11-05 14:06] dag7dev commented on #2789
The bug is not present on stable Windows 10, Firefox 82.0.2 (64 bit)

Perhaps could it be just a "developer edition" problem?

[2020-11-05 14:13] dag7dev commented on #2772
Can confirm this, it is still present as of today.

It seems the JavaScript has not been correctly loaded by Internet Explorer, resulting in an white page, and a div saying "please enable JS".

[2020-11-05 14:23] dag7dev commented on #2560
This has been fixed in Brave 1.16.70 Chromium 86.0.4240.111 Android 10 with fingerprint protection.
For "listening to recordings" the issue doesn't apply. For "sending recordings" you just need to scroll down once more to let the button be loaded.

[2020-11-05 14:27] dag7dev commented on #2883
What are you talking about? Which application?

[2020-11-05 14:33] dag7dev commented on #2732
@bacharakis Windows10 Firefox 82.0.2 (64 bit) and Chrome Version 86.0.4240.183 (official build) (64 bit)
I think Common Voice has been updated or both of the browsers have been updated: this issue is not valid anymore.

[2020-11-05 15:29] ftyers commented on #2911
I think @caseybasichis means that they would like to download their recordings. I think this is a good feature, but it is not available in Common Voice at the moment.

[2020-11-05 15:32] ftyers commented on #2919
Thank you for your feedback, I don't see the need as particularly specific need -- orthographic diversity is well attested in the world's languages -- but in any case, as I mention in the first line of this report, this is a reminder for *myself*.

[2020-11-06 21:39] sinumade opened #2928 "Correct inappropriate link text"
<p>Related: <a href="https://github.com/mozilla/common-voice/issues/2911">Download My Data does not present a zip link, only a profile.txt · Issue #2911</a></p>

<p>I mentioned it in <a href="https://discourse.mozilla.org/t/download-my-data-broken/68705/4">Post #4 on "Download My Data" broken? - Common Voice - Mozilla Discourse</a>.</p>

<h2>1. Profile page, "Download My Data"</h2>
<blockquote cit

[2020-11-07 20:46] dag7dev commented on #2824
@phirework can you help us in any way? I'd like to investigate more but I'd rather to do it not alone.

[2020-11-12 08:59] xiewenjing1170 opened #2929 "Request for Mozilla Common Voice Version 3, 2017"
Thanks for reading! I am wondering if you could kindly send me the Common Voice Version 3, 2017. I have not found the specific version.

[2020-11-13 18:19] Terramoto opened #2931 "add pt-PT and pt-BR to Portuguese accent"
Hello,

I would like pt-PT and pt-BR to be added as a common voice accent option for the dataset of profile in commonvoice platform as some words have different meanings, different pronunciation and also context.

[2020-11-13 19:56] ftyers commented on #2931
Portuguese is also spoken in Angola, Mozambique and Timor-Leste (among other places), and there are various accents in Brazil and Portugal too, so it might be better to go finer grained than just "BR" and "PT".

[2020-11-13 20:22] phirework commented on #2929
Hi, we don't have a Version 3 from 2017. The only dataset release we have from 2017 is our first ever English-only release. Version 3 of the dataset was released in June of 2019.

[2020-11-13 20:58] Terramoto commented on #2931
This other countries use part of the portuguese with their native language while PT and BR use it all but some words have different meanings and the phonemes are different,for interpretation the whole dataset can be used,but to use in a tts environment it needs to be split.The senteces used in PT and BR are pratically the same so when it comes to implementation it's easier than all portuguese lang

[2020-11-16 08:09] hfhchan commented on #2926
Since we have the support from the MozTW community liason and the understanding of the zh-HK team (see thread in https://discourse.mozilla.org/t/requesting-the-cantonese-language-yue/69928/9), is there anything we can do to proceed to get the language added to pontoon for Common Voice as a start?

[2020-11-21 19:19] Cronus1007 commented on #1960
@Gregoor  Are you still working on this issue?

[2020-11-23 11:14] Gregoor commented on #1960
@Cronus1007 I am not working on Common Voice anymore. But this looks up for grabs, @phirework is afaik still the person to talk to about getting PRs in, if yo uare interested in contributing.

[2020-11-23 13:43] ubaidisaev commented on #2861
![image](https://user-images.githubusercontent.com/38039843/99968662-796fea80-2daa-11eb-856a-11d42a7ff0ff.png)
this problem appears in all languages, because it's hardcoded in English. i don't know what is the right way to add translation there. if someone give me any point i would be glad to work on this.

[2020-11-26 07:45] jwtiyar opened #2940 "Fonts doesnt show central kurdish texts as normal"
Hey
I changed the interface of common voice to central kurdish, Now the texts are misaligned correctly, the problem should the font used to render kurdish texts. Because in one page for example one paragraph is correctly rendered another part is not.
These are some screenshoot to show what i mean exactly:

[1](https://ibb.co/ZfKL6wy)
another one that part of it is correct and another not:
[2](http

[2020-11-27 05:30] kshitij86 commented on #1960
@phirework @Gregoor Can I get assigned to work on this issue, as it is still open?

[2020-11-27 16:25] Cronus1007 commented on #1960
@kshitij86  Feel free to send a PR.

[2020-11-27 21:33] phirework commented on #2940
Hi, just to make sure I'm understanding correctly, in both of the paragraphs you circled in the first screenshot as well as the first paragraph in the second screenshot, the issue is that the alignment of the text is spaced out too wide? Is there another example on the site of where the font is correctly rendering?

[2020-11-27 21:35] phirework commented on #2926
Hi there, thanks for your patience. I will notify the Pontoon team about this and I will follow up when that's complete.

[2020-11-28 07:07] jwtiyar commented on #2940
Yes in first screen shoot both paragraph in circle are spaced out, Second screenshoot the top circle is wrong and bottom one is correct.
Another example:
These in circle are worng rendered:
https://ibb.co/Sc9gWZ0
And this paragraph all correctlt aligned:
https://ibb.co/0KwTgsb

[2020-11-28 14:45] kshitij86 commented on #1960
Sure I'll send a PR fixing this soon!

[2020-11-28 14:58] kshitij86 commented on #1960
@Cronus1007 I was able to setup `common-voice` on my machine, and I was even able to login but how do I populate the clips section so as to complete a goal? Could you please help me with this?

[2020-11-29 11:33] jwtiyar commented on #2940
This should make problem for persian also as far as i know, Because persian and central kurdish have some characters that will not be rendered correctly.

[2020-11-30 05:37] jwtiyar commented on #2940
After testing other browsers and os, Looks like it's Firefox problem to rendering correct font for kurdish.

[2020-11-30 06:04] sammyfung commented on #2926
I am Sammy, a Mozilla Rep from the Mozilla Hong Kong community.

Since Firefox 1, Mozilla Hong Kong community contributes to many Mozilla projects and community works including Chinese (Hong Kong) zh_HK locale translation and the Common Voice zh_HK, and we are doing well.

With thousands of volunteers, the Mozilla Hong Kong community always welcomes contributions from everyone who shares our goals

[2020-11-30 07:58] hfhchan commented on #2926
I had thought Irvin Chen (Community liaison of MozTW)'s [post on Mozilla Discource](https://discourse.mozilla.org/t/requesting-the-cantonese-language-yue/69928/10) reflected an updated stance for MozHK, being him also being involved in the discussions in the MozHK Common Voice Telegram group. I and other intended contributers from @CanCLID are surprised at the apparent reversal of stance.

Even th

[2020-11-30 08:55] laubonghaudoi commented on #2926
@hfhchan has just nailed the core of this issue, political jurisdictions are absolutely unrelated to linguistic classifications. The current locale structure is inherently flawed. What if Mozilla needs to add Hakka (ISO 693-3 code `hak`) or Southern Min (ISO 693-3 code `nan`) in the future? There is no way for these two languages to fit into the current locale structure. As I explained in the repl

[2020-11-30 10:36] seventhmoon commented on #2926
My question is, why `yue`, but not `yue-CN`, `yue-HK`, `yue-MY` .. etc

Cantonese is a language, but the Cantonese in different regions are also different from each other.

Like

- 你有冇冷親？
- 你有冇涼親？
- 你涼親無？

All 3 above have the same meaning, but are used in different regions.
`zh-HK` / `zh-yue-HK` / `yue-HK` means the Chinese (Cantonese) used in Hong Kong
What about `yue`? Cantonese used in the wor

[2020-11-30 12:22] dtylam commented on #2926
Hi everyone,

I am the current Pontoon translation manager of zh-HK. From a Pontoon translation perspective, we could have other Mozilla applications translated to zh-HK, it might not completely make sense for there to be a yue locale?

I understand that locale and languages are different concepts and it will always be a compromise.

Would it help if we add a PR for more overseas accents under zh-

[2020-11-30 12:37] anthonywong commented on #2926
@hfhchan I can understand and acknowledge the reasonings behind your change request, and everyone in the community should just want more input to the Cantonese corpus and not less. However, the way how you propose your plan is effectively throwing away previous work done by the MozHK community and all future work will be shifted to `yue`. This may not be your intention but that will likely be the

[2020-11-30 13:31] ayaka14732 commented on #2926
Before leading to further controversy, I would like to clarify that there are two orthogonal issues being raised in the original post.

1. Split `yue-HK` from `zh-HK` (to avoid the confusion of Mandarin and Cantonese _texts_)
1. Change `yue-HK` to `yue` (so that Cantonese speakers from other places will also be possible to contribute to this project)

Of these two issues, the first one is the most

[2020-11-30 13:49] hfhchan commented on #2926
I believe that is up to Common Voice's policy. en-UK uses tap and en-US uses faucet, but the two regional variants are unified under the "English" language.  I think [Common Voice languages and accent strategy](https://discourse.mozilla.org/t/common-voice-languages-and-accent-strategy-v5/56555) may be relevant here.

I also noticed some posts on Facebook accusing this issue of "stripping away Hong

[2020-11-30 16:41] phirework commented on #1960
For recording sentences, you'll need to set `CV_IMPORT_SENTENCES` to true in your environment variables and restart the server to trigger db imports. For validating clips you'll need to actually record clips first.

[2020-11-30 17:21] Yamwend opened #2944 "LOCALIZATION REQUEST:"
Use this template to request a new localizable language that is currently not available [on Pontoon](https://pontoon.mozilla.org/projects/common-voice/).

Note: This issue only applies to the web interface language - in order to activate language contributions on Common Voice you will also need to ensure 5,000+ sentences are available to be read in that language. Please refer to the [full Language

[2020-11-30 17:22] #2944 closed

[2020-11-30 17:35] laubonghaudoi commented on #2926
@dtylam @anthonywong It seems that there has been some misunderstandings that we need to clarify:

1. We did NOT ask to delete any existing data.
2. We did NOT ask to delete the`HK` tag in the locale name.

What we were pointing out, was the existing `zh-HK` locale is mixed with both Mandarin and Cantonese texts, which is a result of the problematic locale framework. And we proposed to solve this

[2020-11-30 18:58] Yamwend opened #2945 "New language requests : Mossi language proposal"
**Language name : Mossi**

**Language code**
ISO-639-3 : **mos**

**Language size : nearly 30 million (2020)**

**Plural forms**
0 rocks : Pĩis zaalem (0)
1 rock : Pĩig a  yembre (1)
2 rocks : Pĩis a  yiibu (2)
3 rocks : Pĩis a tãabo  (3)
4 rocks : Pĩis a naase (4)
5 rocks : Pĩis a nu (5)
10 rocks : Pĩis piiga (10)
20 rocks : Pĩis pisi (20)
100 rocks : Pĩis  koabga (100)
1000 rocks : Pĩ

[2020-12-01 04:05] yookoala commented on #2926
As previously stated by @ayaka14732 in [this comment](https://github.com/mozilla/common-voice/issues/2926#issuecomment-735786948_),

On the first issue, I agree `yue-HK` and `zh-HK` are different and are both important. The former is useful for computer to have a daily conversation with a person (e.g. personal assistant like Apple's Siri or Google Assistant). The later is useful for article reader

[2020-12-01 04:18] seventhmoon commented on #2926
@laubonghaudoi I do not understand, and so I asked the question.
"We all know the obvious answer." is not an answer.

[2020-12-01 07:47] kshitij86 commented on #1960
@phirework I checked my Docker file and `CV_IMPORT_SENTENCES` is already `true` but when I try to record a sentence, it just says it's run out of sentences and sends me to the portal for collecting sentences.

[2020-12-01 10:22] tpnonthealps commented on #2926
如 @hfhchan 與 @laubonghaudoi 所言，此 issue 旨在解決現時「中文（香港）」範疇所收錄句子的語言錯亂，並進一步依 BCP47 規範改善 Common Voice 專案的結構，而這一改善是可以促使更多人嘗試爲粵語 Common Voice 作出貢獻的。

我不明爲何 @sammyfung 與 @anthonywong 一直要認爲此 issue 將會使整個粵語 Common Voice 打掉重練。而我仍在等待 @dtylam 關於現時框架（existing frameworks）有何技術限制（technical constraints and barriers）的解釋。

查看現時「中文（香港）」範疇所收錄的句子 ([common-voice/server/data/zh-HK/](https://github.com/mozilla/common-voice/t

[2020-12-01 11:07] yookoala commented on #2926
我認為將書面語定義為「普」，然後說現在是「粵普混雜」並不妥當。雖然書面語標準化當初以北京話為主要骨幹，但現實上與普通話口語有微妙不同。正如 @hfhchan 提到，zh-CN 應該作 cmn-CN，zh-TW 應作 cmn-TW 等等，是比單單香港語料的收集更具結構性的問題。抽離單單去談香港翻譯的分類質素，在目前社會氣氛下，難免令人擔憂是「去香港化」。希望之後的討論能處理這個疑慮。

如果談到文語分家，那麼有別於粤語句法為基礎的 yue 資料，也可以將 zh 視為「規範化書面語」，然後把 zh-HK 視為書面語的錄音，也是有其合理性而獨立於 yue-HK 去留存。至於以粵語口語結構為基礎的 yue-HK 語料庫，應該如何處理收集，是另一層問題。

至於泛粵語 yue 的收集，個人是有疑問的，正如[前面談及](https://github.com/mozilla/common-voice/i

[2020-12-01 18:10] chaaklau commented on #2926
What I need to point out that the `zh-HK` is now a mixture of both `cmn` and `yue`, and the difference between these two languages is larger than that between `yue-HK` and `yue-MY`. I am well aware of the different varieties of `yue`, and the linguistic diversity is largely underestimated in this discussion, but if we can accept the current situation of `zh-HK`, then I don't see the need to split

[2020-12-01 18:14] chaaklau commented on #2926
Looking at the original request and this discussion thread, the proposal here is a request to *add* `yue`.  I don't think @hfhchan wants to sabotage the efforts of all contributors of `zh-HK`. The fact is `zh-HK` is an umbrella term for the Chinese language used in the Hong Kong context, a mixture of _Written Chinese_, _Classical Chinese_ and _Cantonese_ to different extent, commonly pronounced in

[2020-12-01 19:00] laubonghaudoi commented on #2926
@seventhmoon If you look at the current Common Voice project https://commonvoice.mozilla.org/en/languages, there is only one English locale, codename `en`.  So I think a better question would be, why is there no `en-US` or `en-UK`? The difference between British and American English is hands down much larger than Canton Cantonese and Hong Kong Cantonese. But why Mozilla makes no such distinction?

[2020-12-02 04:21] phirework commented on #1960
Do you see in your docker logs that importing is happening? On server startup it should have messages like: `IMPORT -- importing ${locale_code}`. It's possible you're not getting to the English imports yet because it's still crunching through earlier sentences.

[2020-12-02 05:20] Cronus1007 commented on #1960
@kshitij86  It would be a better approach if you join the `IRC Channel of Mozilla` and join the `common-voice` room and if you are facing issues while setting up the project locally then raise question there. :)

[2020-12-02 06:51] yookoala commented on #2926
@laubonghaudoi: English's written language is a phonogram while Chinese is largely a hieroglyph.

People can spell an English word differently (e.g. colour vs color) even to a point where it pronounces differently (e.g. aluminum vs aluminium), but the different spelling usually does not have a different meaning in the different dialect. The different spelling simply has a null-meaning instead. In

[2020-12-02 07:25] bencrox commented on #2926
White horror is already here in HK. It is existential. Those who neglect it are just covering the inconvenient true.

Back to the technical / linguistic perspective, we have to recognize the size of yue speakers and the difference between yue-HK, yue-MO, yue-CN, yue-MY. Though one can say the difference between cmn and yue is larger then that between yue-HK and yue-MY, being lesser does not mean b

[2020-12-02 07:48] kshitij86 commented on #1960
@Cronus1007 I'll try posting any further issues on Matrix I have, but I didn't get any feedback when I first posted there. I thought [Mozilla has moved away from `IRC`](https://wiki.mozilla.org/IRC)?

[2020-12-02 07:50] kshitij86 commented on #1960
@phirework I see. I do have the following in my logs:

[code]

So I should just wait till it gets to importing `en` sentences? Or can I fast track this somehow?

[2020-12-02 23:08] phirework commented on #1960
Yep, we're not on IRC anymore, Matrix is the official channel. Please keep in mind that last week was a holiday week for the US and many people who might've otherwise been able to help were offline with their families.

You can fast-track it by deleting the other locale files in `server/data`. Or, for the purposes of testing locally, you can just try using one of the other languages to generate cl

[2020-12-03 09:09] stroke5 commented on #2926
經過一輪沉澱，心沒有真的很平靜。
香港當下有年青人為這片土地背負沉重代價，他們沒有猶疑，沒有後悔... ...

回想2019年初, Sammy找我幫忙推動Common Voice項目，希望能建立起zh-HK以廣東話為目標的語音資料庫。當時「自由香港字型」項目已有一定基礎，同時開始 Qbo One機械人的探索。廣東話語音資料庫的建立，將能日後方便普羅市民（包括長者們）應用機械人／人工智能等不同設備。而我覺得這個資料庫應是收集廣大市民的聲音、擴大市民的參與，推動他們攜手貢獻。

作為一個多年來參與開源社群的社會工作者，Common Voice 項目正是可以讓群眾參與的極佳平台。原本安排在2019年的樂齡科技博覽會就向普羅市民推介CV, 但因社會運動影響, 取消了參展。及至2020年, 我們重新在樂齡科技博覽會展出, 向市民介紹CV, 得到市民的熱烈反應和支持, 嘗試錄音和了解該項目。展出以後

[2020-12-03 09:59] Cronus1007 commented on #1960
@phirework @kshitij86  I am talking about this channel. https://chat.mozilla.org/#/room/#common-voice:mozilla.org. Indeed the whole mozilla community as per my observations was on a break the last week.

[2020-12-03 22:35] peiying2 opened #2947 "The sentence is incomplete"
**Describe the bug**
You can find the string here: https://pontoon.mozilla.org/it/common-voice/web/locales/en/messages.ftl/?string=217170. `... If the voice recording you hear matches the words written onscreen.`

**Expected behavior**
Missing the main part of a sentence.

[2020-12-03 22:35] peiying2 commented on #2947
@phirework

[2020-12-05 03:38] sammyfung commented on #2926
After I had a long discussion and many meetings with various parties in Mozilla, the Mozilla HK community reach the agreement this week that we do not disagree with this GitHub issue to create yue. (我們不反對增加 yue 的提議), and we will go ahead to process.

[2020-12-05 12:43] kshitij86 commented on #2923
@cptwunderlich I wasn't able to test this on my PC, it looks nothing like the one in the screenshot. Could this be due to orientation inversion due to Hebrew?

[2020-12-05 13:03] cptwunderlich commented on #2923
Huh. It got fixed!
It was indeed about the right-to-left layout of Hebrew. The Waves were supposed to be on the "opposite side" of the button. Alternatively, putting them in the background would have worked.

[2020-12-05 13:03] #2923 closed

[2020-12-05 14:35] hamid914 commented on #1859
I fixed the "The specified bucket does not exist" error by adding a `console.log(bucket);` command in `/code/node_modules/aws-sdk/lib/services/s3.js:835`:
[code]
To do this, I ran `docker-compose up -d` and then exec into `web` container. After editing the code, I restarted the docker with `docker-compose restart`. Then I saw this log in `docker-compose logs --follow`:
[code]
I found out that ther

[2020-12-05 14:54] kshitij86 commented on #1769
@lucaswerkmeister Is this fixed?

[2020-12-05 14:59] kshitij86 commented on #1769
If not, could you list out the exact steps to reproduce this @lucaswerkmeister ?

[2020-12-05 16:33] ftyers opened #2948 "Please allow sentences to be recorded by more than one person"
This is related to:
https://discourse.mozilla.org/t/single-sentence-record-limit-feature-release/62198/
https://discourse.mozilla.org/t/turn-off-the-thing-where-users-cant-record-all-the-sentences-for-chuvash/65339

I realise that the Common Voice team probably doesn't have time to implement this on a per-language basis, but this is very painful for communities trying to get off the ground and so

[2020-12-05 16:35] lucaswerkmeister commented on #1769
I don’t know, I haven’t recorded anything for Common Voice in a while…

[2020-12-05 17:48] lucaswerkmeister commented on #1769
I just did some new recordings, and it looks like the bug could still exist in theory, but I don’t know how to verify it. As far as I recall, it’s just something that happened occasionally, probably at random.

[2020-12-06 09:08] kshitij86 commented on #1769
@lucaswerkmeister Seems like a random bug, hard to catch. Let us know if you're able to recreate it so we can try to fix it.

[2020-12-09 13:21] irvin commented on #2948
Hong Kong Cantonese locale (zh-hk) also faced this limit, and it's become a big problem due to recent promotion which onboard thousand new contributors, and also blocks the planned cooperation with the local school to bring local students to Common Voice.

[2020-12-09 16:49] jrmuizel commented on #2741
It doesn't look like this is fixed yet. When is the next release?

[2020-12-09 23:48] phirework commented on #2741
The graph currently shows the past year in a linear scale, with 3 months between each data point, as opposed to 1 day/week/month etc.

[2020-12-10 03:08] jrmuizel commented on #2741
Ah, you're right. Sorry about that.

[2020-12-12 12:33] irvin commented on #2926
Thanks for the discussion and the hard work of everyone.
Please expect some delay before any further actions due to the holiday season.

[2020-12-14 10:36] idontknowjs opened #2954 "Default language preference of the page is not getting stored"
**Describe the bug**
The language changed on the [website](https://commonvoice.mozilla.org/) always open in `en`, irrespective the user might have already translated the website to a specific language.
The language preference of the user is never stored.
Once the tab is closed and when user visits [website](https://commonvoice.mozilla.org/) , the website loads in default `en` only

**To Reproduce*

[2020-12-14 10:38] covalentbond commented on #2954
@phirework I would like to be assigned for this issue!

[2020-12-14 16:57] phirework commented on #2954
Go for it!

[2020-12-16 14:13] rprys opened #2961 "Listen not working on cy"
We're at 122 hour recorded and 94 hours verified, so there shouldn't be a problem with verifying more clips.

https://commonvoice.mozilla.org/cy/listen

We've got a big push starting on 28/12 so we need this to work! :-)

[2020-12-16 16:14] mozillakab opened #2962 "Reported sentences are still being displayed (Kabyle)"
The community (Kabyle) reported that some sentences taged as wrong/vulgar or belonging to other languages are still being displayed. I, myself tested, reported them and noticed that are still being dispayed.
Some samples:

- Neḥčun yemma-twent a tiqeḥbay (vulgar).
- Elles refusent de les informer.(French).
- Da tsekstuf tenbaḍt n ugellid.(not kabyle),
- Ddu ad teqqud yemma-k a akluc. (vulgar).
- T

[2020-12-16 18:43] laubonghaudoi commented on #2926
Thanks @sammyfung @irvin and Mozilla team for the considerations. Pleas keep us posted for the following steps we should take.

[2020-12-16 19:14] phirework commented on #2961
That link works for me, what specific error are you experiencing?

[2020-12-16 20:04] phirework commented on #2947
Ha, good catch. @mbransn this was in the original spec, do you know what the copy was supposed to have been?

![Screen Shot 2020-12-16 at 15 03 43](https://user-images.githubusercontent.com/582683/102400445-f0fef700-3faf-11eb-8d46-a07736ac8f8e.png)

[2020-12-16 20:05] phirework commented on #2948
The fix (#2955) is now on production, let me know if you experience additional issues. Thanks for all the feedback folks.

[2020-12-16 20:05] #2948 closed

[2020-12-16 20:40] phirework commented on #2926
Hey folks, yue is now [available on Pontoon](https://twitter.com/phirephoenix) (huge thanks to @peiying2 for quick action on that). Once the localization work happens and you reach 5,000 sentences for it we'll be able to enable contributions on the site.

Thanks for all of your thoughtful passionate discussion and input.

[2020-12-16 20:42] #2926 closed

[2020-12-16 20:47] phirework commented on #2921
Is this still an issue?

[2020-12-17 01:36] hwine opened #2963 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2020-12-17 06:47] irvin commented on #2926
hi @phirework, how do we also add yue to the Sentences Collector? Do we need to open another issue at there?
https://github.com/common-voice/sentence-collector

[2020-12-17 06:53] monperrus commented on #2921
Just tried with FF 84.0 on Linux, it works now. Thanks.

[2020-12-17 06:53] #2921 closed

[2020-12-17 12:49] rprys commented on #2961
The link stopped working c. 14:00pm GMT until I tried it again c. 20:00pm yesterday. The page was saying that there were no further clips to be verified. It's working again now now,and offering clips to be verified.
Thanks

[2020-12-17 23:33] nucklehead opened #2964 "Request to add Haitian Creole in Pontoon"
**Language name**
What language would you like to add?
Kreyòl ayisyen (Haitian)

**Language code**
Please provide the ISO-639-1 code
ht

**Language size**
Number of active speakers of this language in the world
13 million

**Plural forms**
How would you translate the following in this language?

0 rocks = 0 wòch
1 rock = 1 wòch
2 rocks = 2 wòch
3 rocks = 3 wòch
4 rocks = 4 wòch
5 rocks = 5 wòch
10

[2020-12-18 14:43] irvin commented on #2926
the sentences collector had been set for yue, please start add sentences with it.
https://commonvoice.mozilla.org/sentence-collector

[2020-12-18 18:36] mbransn commented on #2947
Ah, interesting -- human error on my end, apologies all. Here's that section with the last sentence reworked:

Also updated in the [Figma spec](https://www.figma.com/file/noKMY6aOXz9vwxlkO0XZEl/Tablet-Demo-Mode-UI?node-id=0%3A2870).

[2020-12-19 16:45] laubonghaudoi commented on #2926
@irvin @phirework We just opened the [sentence collector](https://commonvoice.mozilla.org/sentence-collector) but couldn't find Cantonese in the menu, is this an error?
![image](https://user-images.githubusercontent.com/11172180/102694526-7e239500-41d6-11eb-9a47-d22b9de3dbec.png)

[2020-12-19 17:20] irvin commented on #2926
https://github.com/common-voice/sentence-collector/issues/396

[2020-12-19 18:29] MichaelKohler commented on #2926
@irvin @laubonghaudoi I've retriggered the deployment, it should now show up. I thought I had verified it with the last deployment, but this makes me fairly unsure now..

[2020-12-20 07:19] laubonghaudoi commented on #2926
It is working fine now, thanks!

[2020-12-22 17:25] #2961 closed

[2020-12-22 19:06] ftyers opened #4032 "Sentence Collector: Ability to edit/delete unapproved sentences"
It would be great to be able to edit or delete unapproved sentences.

[2020-12-25 12:09] limapedro opened #2970 "Privacy concerns regarding the Portuguese sentence collection"
Hi, I'd like to issue that while I was recording some clips yesterday I saw the legal names were in the sentence collection, I since then stopped recording until I got confirmation that everthing is fine, does Mozilla have a policy on using legal names of real people in the dataset? I don't think generic names would be a problem, but full names of people can be problematic.
Please reply me as soon

[2020-12-26 14:41] Steinhagen opened #2971 "Romanian typography - cedilla is used for composed s/t characters instead of comma"
From the looks of things, about half of the strings use cedilla for the composed s and t characters instead of the correct comma.
https://en.m.wikipedia.org/wiki/Romanian_alphabet#Comma-below_(ș_and_ț)_versus_cedilla_(ş_and_ţ)
**(Wrong)** example taken from the current CV strings:
- Mai ales că toată lumea le **înţelege**.

**Correct** should be:
- Mai ales că toată lumea le **înțelege**.

First o

[2020-12-26 16:12] ftyers commented on #2971
As far as models are concerned, anyone training a model would have to perform the (simple) replacement before training, so it should have any effect there. When the first data with Romanian is released I would recommend adding a release note to this effect.

[2020-12-26 22:23] Steinhagen opened #2972 "Reported issues will be sent back the user to be reviewed again when a new session is started"
**Describe the bug**
Reported issues are always first to be reviewed again. These statements are the same (including the audio voice) every time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://commonvoice.mozilla.org'
2. Login to your account.
3. Select your desired language (in this case Romanian since it doesn't have a lot of pending voice clips to be reviewed)
4. Click on

[2020-12-27 16:28] Steinhagen opened #2973 "Some CV web fonts are composing words using cedilla instead of comma (like they were translated)"
**Describe the bug**
Some 'Common Voice' fonts used for the web interface are displaying cedilla composed words instead of the comma ones (like it's correct for the Romanian language)
https://en.m.wikipedia.org/wiki/Romanian_alphabet#Comma-below_(ș_and_ț)_versus_cedilla_(ş_and_ţ)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://commonvoice.mozilla.org/ro/speak'

**Expected beha

[2020-12-28 17:16] IlnarSelimcan opened #2974 "Kazakh is ready to be launched on commonvoice.mozilla.org"
Hi,

we've finished translating CV's interface into Kazakh on Pontoon, and recently collected and validated over 5000 sentences on the sentence collector tool as well.

I assume that launching a new language on Common Voice requires manual intervention, hence this issue.

Please let me know if there is anything else I can do to launch Kazakh on Common Voice.

[2020-12-29 17:21] srcj opened #2976 "the metadata files for English do not have 'male' labels"
I downloaded the CommonVoice Corpus 6.1 for English and I didn't find any 'male' labels in the metadata files (tsv files),  I only found entries with the label 'female' or empty label for the attribute gender. I suppose this is a bug, because the stats for this dataset indicate 47% Male data. I'd appreciate this to be fixed in order to be able to do experiments using the gender class.

[2020-12-29 21:55] drzraf opened #2977 "On mobile device, popups hide the control buttons"
**Describe the bug**
On Firefox (Mobile), after I collect 5 sentences, the popup all stay over the screen after any button is pressed resulting in button being hidden (but still clickable)

**Screenshots**
![Screenshot_20201229-142350](https://user-images.githubusercontent.com/1169926/103316399-2d4a4280-4a07-11eb-9c72-cb967c000695.jpg)

**Desktop or Mobile (please complete the following informatio

[2021-01-04 20:20] phirework commented on #2976
Hello! This was an issue with the 6.0 release (released Dec 16th, 2020), which was fixed in 6.1 (released Dec 22nd, 2020).  Can you check and see the file creation date of the `*.tsv` files? If it was before Dec 17th, 2020, then I think you might have the 6.0 version still.

[2021-01-04 20:20] phirework commented on #2977
Thanks for the report! Would you expect the pop-up to go away after a certain amount of time, or when tapping elsewhere?

[2021-01-04 20:24] phirework commented on #2974
This is great news! It'll launch with the next Common Voice site release, which will be next Tuesday. I'll check back in here when that goes live.

[2021-01-04 21:15] phirework commented on #2971
From a cleaning perspective, another thing you could do is add some language-dependant cleaning rules to the [Corpora Creator](https://github.com/mozilla/CorporaCreator#language-dependent-cleaning) for Romanian.

As for fixing the sentences on Common Voice themselves, that would depend on whether the sentences came from sentence collector or something else. If from sentences collector, you'll need

[2021-01-04 21:17] phirework commented on #2970
Hello, can you provide more information about what those names were? Many languages use sentences that are drawn from Wikipedia, and so if an article has the full name of a person, it may be included here as well. If you are concerned about specific privacy violations, you can also send us an email at commonvoice@mozilla.org, or report that sentence.

[2021-01-05 05:38] limapedro commented on #2970
@phirework I don't think we have sentences extracted from Wikipedia yet for Portuguese, someone added this through the sentence collection tool. Just as to be sure, would people be ok with their full name on the internet in other countries? I was recording some sentences and I didn't felt comfortable reading people's name. The names are in this file: https://github.com/mozilla/common-voice/blob/ma

[2021-01-05 14:27] wolfpurplemoon opened #2978 "Mic settings are forgotten every time I leave the tab"
**Describe the bug**
I'm using Common Voice on Firefox on Windows 10 and whenever I click out of the tab it forgets my mic preferences and I have to delete mic permissions, refresh the page and choose the mic again

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Speak'
2. Click on 'Record'
3. Click to a different tab
4. Return to Common Voice tab and find the mic icon in the URL bar i

[2021-01-05 15:49] ftyers commented on #2970
I think it depends on how common the name is, for example I would probably be uncomfortable with Francis Morton Tyers, but probably not if my name was Jane Doe or John Smith or Albert Einstein or Marie Curie.  It could also be that some of the names are made up, e.g. I tried searching for a "Aldo da Silva Maciel" but found no results.

I think it is important to have proper names (including both p

[2021-01-05 17:31] phirework commented on #2970
Hmm, it looks like a bunch of the Sentence Collector sentences for Portuguese have "Lista criada de nomes" as a source. It sounds like these may have been autogenerated - @MichaelKohler, do you have any more insight as to who submitted this, and from where?

[2021-01-05 17:34] MichaelKohler commented on #2970
As I don't have direct access to the database, I can't say who uploaded these.

[2021-01-05 17:48] phirework commented on #2970
I will check with Alberto when he's back, thanks!

[2021-01-05 17:55] phirework commented on #2978
Thanks for moving this issue here! Have you tried updating Firefox to see if it makes a difference? 85 is the latest version. The site itself doesn't handle store hardware permissions, that's a browser-level setting.

Also, when you say the site forgets your goals, which of the following do you mean?

1. You try to create a goal, it doesn't save
2. You try to create a goal, it saves, and the goal

[2021-01-05 18:31] srcj commented on #2976
Thanks for reply. I've checked that my downloaded version seems to be 6.0.
But in the datasets download web page, the date realease of the the current dataset (named Common Voice Corpus 6.1) is 2020-12-11. I haven't tried to download again this dataset, but it may happen that the downloadable dataset file hasn't been updated to the correct version 6.1

[2021-01-05 19:04] phirework commented on #2976
Ah, I understand the confusion. The date is 12-11 for both because that is the cut-off time for recordings, i.e. nothing recorded after December 11th is in the dataset. If you try to download the latest version, the actual tar file itself will be labeled as `cv-corpus-6.1-2020-12-11.tar.gz`.

[2021-01-06 00:04] drzraf commented on #2977
No strong idea (I'm not in the field of UX designing), but anything obvious (clicking the popup, clicking outside, scrolling) could possibly make it.
That being said, showing the written sentences for record clips **is** useful too in case we planned to redo on of the previous recording again.

[2021-01-07 03:59] hfhchan commented on #2926
How do we approve the translations in Pontoon?

[2021-01-07 04:03] peiying2 commented on #2926
You need to have an account first. If the locale manager grants you "translator" role, then you can review and approve translation. If you are a "contributor", you can only make suggestions. Thank you.

[2021-01-07 16:32] ftyers opened #2980 "Basaa is ready to be launched on commonvoice.mozilla.org"
Hi there, Basaa now has >5k sentences and 100% localisation and is ready to be launched! :)

[2021-01-08 00:12] wolfpurplemoon commented on #2978
I'm now on 84.0.2 and the issues are still there, I don't have any add ons that could be causing issues that I'm aware of, and I've not had reason to allow mic settings in browser for any other sites so I don't know how other sites handle it, I do have a programme called Many Cam that emulates cam/mic though, I'll see if disabling that does anything

the goals seem to save but are gone when I come

[2021-01-08 00:19] wolfpurplemoon commented on #2978
I've now uninstalled manycam and the browser is remembering my mic finally, the goals are still disappearing every time I navigate off the goal page though

[2021-01-11 23:34] phirework commented on #2980
It's up on staging! Will probably go live tomorrow :) https://commonvoice.allizom.org/bas

[2021-01-13 03:20] ftyers commented on #2980
https://commonvoice.mozilla.org/bas ! Yes!! :D Thanks! ^__^

[2021-01-13 03:20] #2980 closed

[2021-01-15 20:09] TiffanySantos opened #2983 "Non-native speaker option"
**Is your feature request related to a problem? Please describe.**
Many people speak other languages, they are non-native speakers.

**Describe the solution you'd like**
An option to tag yourself as a non-native speaker of a language.

**Describe alternatives you've considered**
To encourage people to contribute without feeling alienated they should be able to select language: foo, accent: non-nat

[2021-01-17 19:31] #2560 closed

[2021-01-19 10:28] The-smooth-operator commented on #2963
Thanks for opening this issue.
It's on my plate to migrate out of TravisCI into Github actions. I'll work shortly on it.

[2021-01-22 15:00] cameron-martin commented on #771
This seems to have changed since closing this. Now the website passes a time-limited cryptographic token to S3.

[2021-01-26 15:54] ftyers commented on #2974
It's launched: https://commonvoice.mozilla.org/kk This can be closed, thanks @phirework ! :)

[2021-01-26 16:17] #2974 closed

[2021-01-28 16:35] zalaan-dev opened #2990 "LOCALIZATION REQUEST: Adding Pashto to Pontoon"
Use this template to request a new localizable language that is currently not available [on Pontoon](https://pontoon.mozilla.org/projects/common-voice/).

Note: This issue only applies to the web interface language - in order to activate language contributions on Common Voice you will also need to ensure 5,000+ sentences are available to be read in that language. Please refer to the [full Language

[2021-01-28 16:46] zalaan-dev commented on #2990
**Note**
The numbers in the Pashto translation should appear before the word as Pashto is Right - Left language. I tried but GitHub reserved the numbers. Also, Pashto uses Arabic numerals in addition to Arabic-Indic. Both number systems should appear in front of the translated words in the above examples.

[2021-01-28 20:40] phirework opened #2992 "Break out sentences into own repo"
The repo is getting huge and this unnecessarily slows down new builds. As new sentences are read only once per release, I'm going to break them out into their own repo and access remotely.

[2021-01-28 23:35] phirework commented on #2992
Good call on coordinating, I'll make sure that's part of the update.

I'm not sure what you mean? It'll still be the CV sentences repo and it'll probably still live in the CV Github org.

[2021-01-28 23:45] MichaelKohler commented on #2992
Yeah, good point. Guess it would be overkill to go for "COMMON_VOICE_SENTENCES_REPO" etc.. :)

[2021-01-29 13:31] The-smooth-operator commented on #2963
Mozilla Github organization doesn't allow running actions from Docker.
I think, since Mozilla's Github org allows "aws-actions" it should also allow "docker" actions. However this is not the right place for discussing that.
I'm holding on this until I can speak with Jenny.

[code]

[2021-02-01 02:03] ftyers opened #2995 "Kurdish Kurmanji ready to be launched"
Hi there,

Kurdish Kurmanji now has >5k sentences and [>= 90% localisation](https://pontoon.mozilla.org/kmr/common-voice/) and is ready to be launched! :)

The remainder of the localisation will be done shortly, but the guidelines specify [at least 90%](https://github.com/common-voice/common-voice/blob/main/docs/LANGUAGE.md) so we're good to go!  :)

[2021-02-01 10:43] The-smooth-operator commented on #2963
This is now implemented in Common Voice Org

[2021-02-01 10:43] #2963 closed

[2021-02-04 08:06] Dnouv commented on #2314
I want to work on this issue. Please assign me on this if it's available.

[2021-02-04 22:36] IIIBlueberry opened #3002 "Language Request(Malay)"
Use this template to request a new localizable language that is currently not available [on Pontoon](https://pontoon.mozilla.org/projects/common-voice/).

Note: This issue only applies to the web interface language - in order to activate language contributions on Common Voice you will also need to ensure 5,000+ sentences are available to be read in that language. Please refer to the [full Language

[2021-02-04 22:50] peiying2 commented on #3002
@IIIBlueberry if you have an account, you can request to add Common Voice project. I can enable it as it is already established in Pontoon. Let me know your account link in Pontoon and if you will be the CV project manager/translator. The community has not been active, but I can create customized setup for this project.

[2021-02-04 22:50] ftyers commented on #3002
Dear @IIIBlueberry. Malay already exists in Pontoon:
https://pontoon.mozilla.org/ms/
I recommend contacting the team there and asking them to enable Common Voice.

[2021-02-04 23:28] ftyers commented on #3002
Also note that Bahasa Malay is already enabled in [sentence collector](https://commonvoice.mozilla.org/sentence-collector/) so you won't need to ask for it to be enabled, you can just start submitting and reviewing sentences there. You will need to add 5000 before it can be enabled in the main site. There are further details [here](https://github.com/common-voice/common-voice/blob/main/docs/LANGUA

[2021-02-04 23:58] IIIBlueberry commented on #3002
there isn't lot of people active for Malay Pontoon(2 Contributor last 3/6month)

Do i really need to be the project manager for CV? to enable CV translation for malay? because there is there is no Common Voice on the request project tab https://imgur.com/BRdHzNV

i could kinda be a project manager for CV(a bad one i guess)
here my Pontoon profile link i just registered https://pontoon.mozilla.org/

[2021-02-05 00:55] peiying2 commented on #3002
@IIIBlueberry contributors tend to work on projects of their interest, like Firefox, which is a large project. For CV, you do not need to be a manager to contribute, I can make you a translator for CV, this way, you can contribute without peer review. Having said that, once you create an account, I will introduce you to the ones that are active. My hope is that you work on the project with a few o

[2021-02-05 01:48] kaupage opened #3004 "Language Request - Marathi"
Use this template to request a new localizable language that is currently not available [on Pontoon](https://pontoon.mozilla.org/projects/common-voice/).

Note: This issue only applies to the web interface language - in order to activate language contributions on Common Voice you will also need to ensure 5,000+ sentences are available to be read in that language. Please refer to the [full Language